[2021-11-15 17:05] laurentsimon opened #1268 "Feature: SAST tool run on PR should count more than those run after merge"
See the title. See https://github.com/ossf/scorecard/issues/1031.
Additional improvements are in https://github.com/ossf/scorecard/issues/966#issuecomment-915598041

[2021-11-15 17:07] laurentsimon commented on #1268
@evverx FYI

[2021-11-15 17:52] laurentsimon commented on #1121
Would love to have dangerous workflows in v4 https://github.com/ossf/scorecard/pull/1168, if possible
Long-term, I think we'll merge Token-Permissions into it, as well as the GH pinning that currently lives under pinned dependencies.

[2021-11-15 18:20] laurentsimon opened #1270 "Feature: provide an ignore list for binary files in GitHub action"
See the title.

[2021-11-15 18:22] laurentsimon opened #1271 "Feature: enable branch protection on pull request for GitHub action"
I'd be useful to enable BP on pull request triggers for the GH action.

[2021-11-15 19:14] evverx commented on #1256
Judging by https://github.com/h2non/filetype#supported-types `filetype.Get` isn't exactly useful when it comes to detecting executables that can be run by accident so effectively `scorecard` almost always fall backs to file extensions.

If files like that are a part of a testsuite they're supposed to be reviewed automatically by the tests. I'm not exactly sure how else to review test cases provide

[2021-11-15 20:46] naveensrinivasan opened #1273 "Should scorecard be forcing users to use a zap.Logger?"
External packages like Allstar would like to use as a scorecard as a Library.
https://github.com/ossf/allstar/blob/913bb71913d373d0daaf2a59957c3610d2522e50/pkg/policies/binary/binary.go#L120
https://github.com/ossf/scorecard/blob/1050b1cd607b3686641c96ac071ae6774e60588f/clients/githubrepo/client.go#L183

This API call is forcing the consumers to use `zap.Logger`. This should not be forced to use a

[2021-11-15 20:47] laurentsimon commented on #1273
I agree it should not.

[2021-11-15 20:50] laurentsimon opened #1274 "BUG: urllib3 branch protection results are wrong"
Running
[code]

in the [GraphQl explorer](https://docs.github.com/en/graphql/overview/explorer) with my account gives:

[code]

[2021-11-15 20:50] naveensrinivasan commented on #1273
@azeemshaikh38 FYI...

[2021-11-15 21:07] laurentsimon opened #1275 "BUG: `urllib3/urllib3` security policy not detected in cron run"
The 9th Nov cron job contains `repo unreachable: GET https://api.github.com/repos/urllib3/.github: 404 Not Found []`.
Yet, there is a `.github/security.md` on their repo dating back to 4 months ago.
When running scorecard locally, I get the correct results, i.e. the security file is detected

[2021-11-15 21:07] laurentsimon commented on #1275
@azeemsgoogle FYI

[2021-11-15 21:08] laurentsimon opened #1276 "BUG: Security-Policy file improperly returns error when it cannot find org-level policy file"
We improperly return `repo unreachable: GET https://api.github.com/repos/urllib3/.github: 404 Not Found []` when we cannot find an org-level policy. We should instead consider this result a failure.

[2021-11-15 21:19] evverx commented on #1231
I'm not sure why GitHub didn't close it automatically. Closing. Thanks!

[2021-11-15 21:19] #1231 closed

[2021-11-15 21:33] laurentsimon commented on #1256
agreed. We need a way to filter them out.

We agree such binaries should be filtered out. We can add more folder/file names to filter out binaries, but there will always be some false positives this way. Would you like to have the list of hardcoded, or given as option to scorecard? An option allows users to run it with the convention for the language they use, if there is any.
What would be a good

[2021-11-15 21:39] evverx commented on #1257
@laurentsimon I'm not sure it is. When I opened the issue the systemd project had
[code]
at the top level of the labeler action. `scorecard` said that
[code]
and didn't even warn that there was an action with write permissions.

[2021-11-15 21:42] #1276 closed

[2021-11-15 21:43] laurentsimon commented on #1274
This was confirmed as being correct by one of the developers. Closing.

[2021-11-15 21:43] #1274 closed

[2021-11-15 21:44] evverx commented on #1257
The "codeql" part of this issue seems to be the same as #1100 though. Closing.

[2021-11-15 21:47] laurentsimon commented on #1257
so I think it was: the workflow are not job-aware yet. Thanks for confirming.

Got it. It's listed as `Debug` instead of `Warn`. I will update to use `Warn` instead. Please let me know if there's something better we should do. Thanks!

[2021-11-15 21:58] laurentsimon commented on #1100
FYI @chrismcgehee

[2021-11-15 22:07] evverx commented on #1257
@laurentsimon I agree `scorecard` shouldn't complain about `codeql` but those write permissions came from https://github.com/marketplace/actions/labeler (which apart from the write permissions uses `pull_request_target`). What I was trying to say is that I think by default write access should be at least suspicious if actions using them aren't well known like `codeql` or `labeler`.

I apologize fo

[2021-11-15 22:23] laurentsimon commented on #1257
Good point. We'd like to do that better. Today, we don't Warn if `contents:write` is used by a "known" release workflow, for example. But it's harder for us to do that for well-known actions because we don't know all of them: which d you think we should consider acceptable?

On a related note: we have a larger plan to cover dangerous workflows in https://github.com/ossf/scorecard/issues/426#issuec

[2021-11-15 22:32] laurentsimon commented on #1275
additional info:

urllib3: github.com/urllib3/urllib3 , commit:fac7db19a1e8e15e5b302e2203ce35cd0485bc88
scorecard: 3.1.1-39-g4fbd0fe, commit: 4fbd0fe93ec800e42fddf6a66a39298c76a829bb

[2021-11-15 23:42] evverx commented on #1256
I think ideally the check should start utilizing `libmagic` used by the `file` utility to really look for binary executables. If it was used, `systemd` wouldn't be flagged by `scorecard` and it wouldn't be even necessary to filter out the tests:
[code]

I'm not sure. It would be great if there was a way figure out how LGTM and codeql filter out tests. Unfortunately it seems their scripts classifyi

[2021-11-16 00:04] evverx commented on #1256
I think by default scorecard should produce meaningful metrics without any additional options to let people run it against different repositories written in different languages. Options would probably help if it was necessary to relax or tighten the check on a case-by-case basic should the need arise.

[2021-11-16 00:18] jeffmendoza commented on #1273
Ideally CreateGitHubRepoClient() can be refactored to take a [`DetailLogger`](https://github.com/ossf/scorecard/blob/63e3b92466f0403159c02f1ccedd43f9400e8b26/checker/check_result.go#L81) instead of a zap.Logger.

[2021-11-16 00:25] evverx commented on #1256
One last thing. As long as `scorecard` can be tricked into thinking that there are no binary artifacts by simply removing file extensions I don't think it should have the "HIGH" priority and affect the global score that much.

[2021-11-16 01:46] laurentsimon commented on #1256
interesting. Our intention was to use the libmagic equivalent in go-land. @naveensrinivasan knows amore about `h2non/filetype`. I thought it detected ELF files. Right now we always fall back to using extension if filetype returns nothing. You're saying maybe we should not do that...?

Do they try to detect ELF files? If they are actually running things, I suppose they can strace and see if it's op

[2021-11-16 02:06] evverx commented on #1256
As far as I can tell it does. I meant those ".bin" files that would just disappear from the scorecard radar if I dropped the ".bin" extension.

I think it depends on how clever the library is. If it was libmagic I think it would make sense to ignore extension but I've never used h2non/filetype

[2021-11-16 02:19] evverx commented on #1256
I'm not sure if it helps but here's all the types the library was able to recognize in the systemd repository
[code]

[2021-11-16 02:49] laurentsimon commented on #1256
good catch, thanks for reporting this. I'll let @naveensrinivasan comment.

[2021-11-16 03:03] #1099 closed

[2021-11-16 03:48] evverx commented on #1256
I've just opened https://github.com/ossf/scorecard/pull/1279 based on my understanding of how the library works

[2021-11-16 03:49] azeemshaikh38 commented on #861
Breaking e2e tests again - https://github.com/ossf/scorecard/pull/1253#issuecomment-969827578

How do we fix this? Why does GitHub allow us to merge PRs which break e2e tests even though integration tests are `required` for a PR to be merged? @laurentsimon @naveensrinivasan @oliverchang any ideas?

[2021-11-16 03:56] azeemshaikh38 commented on #1121
We seem to have a lot more v4 issues than initially discussed. Do we have the time commitment to complete all these extra items? Please note that we are aiming for a mid-Jan timeframe for a v4 release. And with a winter break, it does not give us a lot of time. @laurentsimon @naveensrinivasan

Extra issues I noted: #1174, #1196, #1038, #1260, #1270, #1275, #1238.

[2021-11-16 04:14] laurentsimon commented on #1121
I've removed the first one. The others are best effort. Many are simple enough that it's doable, and they improve the checks: I think it's god if we can fix those small issues before releasing. The ignore list for binary artifacts would be great, so I added in case I have time.

[2021-11-16 04:19] laurentsimon commented on #861
this says the check was skipped https://github.com/ossf/scorecard/runs/4219890078?check_suite_focus=true

[2021-11-16 04:22] azeemshaikh38 commented on #861
Ok, I think I just found a clue. Looks like PRs which come from a fork of Scorecard always `skip` the integration tests. But PRs which are not from a fork, the e2e tests are run. Most likely this line is the culprit: https://github.com/ossf/scorecard/blob/4502dfb55787891d555682c1c5f6e3f83fa1d236/.github/workflows/integration.yml#L33.

Specifically, the part which says `github.event.pull_request.he

[2021-11-16 04:23] laurentsimon commented on #861
I think you're on the right track: all my PRs don't trigger a run and I use a fork, see https://github.com/ossf/scorecard/actions/workflows/integration.yml

[2021-11-16 04:28] evverx commented on #1256
FWIW looking at https://github.com/h2non/filetype/issues/79 I don't think the library is fuzzed on a regular basis so it isn't clear to me how safe it is to run `scorecard` against random repositories :-)

[2021-11-16 05:15] evverx commented on #1256
I'm not sure about codeql but LGTM doesn't run any tests. As far as I know, LGTM had a script keeping track of files build scripts tried to open to install missing dependencies though. Anyway, I'm 50% sure whatever is kept in directories named "*test*" is considered tests there.

[2021-11-16 05:53] evverx commented on #1256
I closed that PR mostly due to https://github.com/h2non/filetype/pull/73. I'm not sure what to do about it. Looks like in its current form the library can't be used to get deterministic results.

[2021-11-16 08:31] evverx commented on #1257
I think by analogy with the list of well-know CI services in the CI-Test check new well-known actions could be added on a case-by-case basis. I haven't used any other actions with write permissions apart from `codeql` and `labeler` so I'd just add `labeler` to the list.

The problem with this approach is that as far as I understand I could theoretically configure `scorecards` via `allstars` all I

[2021-11-16 14:29] laurentsimon commented on #1256
mhhh that's not good. We'll investigate if there's another lib we could use.
I have an idea to reduce false positive. My take away frmo your issue is that `.bin` is too generic in general and does not map directly to a "binary that contains code and may be run by users". What if we removed the `bin` from the list of extension we look for? The other extensions are more specific, so it's unlikely us

[2021-11-16 14:49] laurentsimon commented on #1257
Thanks, we can do that. Can you create an issue for it? That should be pretty easy to implement.

what do you mean?

I'd add that having looked at `allstars` and issues it has reported personally I wouldn't consider using it. It's just absolutely unwarranted bureaucracy with phrases like "achieve compliance" in the documentation.

It's more geared towards orgs that have many repos.

I understand w

[2021-11-16 15:01] asraa commented on #1257
I'll update the dangerous-workflow check with the workflow parser and make sure it passes this test. Thank you so much for pointing out these behaviors.

[2021-11-16 15:08] laurentsimon commented on #861
I think the original intention was to use the ok-to-test because there's a bunch of secrets in this workflow, and `pull_request` don't have access to them.
What's special about secret `secrets.GH_AUTH_TOKEN`? Does it have admin privilege because it's used to test the branch protection check? or can we use the default `GITHUB_TOKEN` the job received automatically from GitHub?

I think we can separa

[2021-11-16 16:41] #1230 closed

[2021-11-16 19:36] laurentsimon commented on #1271
Possible ways to do it:

1. Create a new repo interface for GitHub that does only uses a graphClient for BP check and a local folder for the rest.
2. Run scorecard twice in the GitHub action: once on a local repo, once on a GitHub repo. Then concatenate both results into a single SARIF file. For this we need a utility: `jq`, our own, etc.
3. Same as 2, but make our GH action return multiple files.

[2021-11-16 20:41] evverx opened #1285 ""internal error: cannot list check runs by ref" with the bcc repository"
Looks like https://github.com/iovisor/bcc/pull/3626 confuses `scorecard` somehow
[code]
To get that "Debug: checking PR: 3626" message I applied the following patch:
[code]

[2021-11-16 21:26] azeemshaikh38 commented on #861
More breaking tests :( @laurentsimon could you look into it, I think the failures started after #1244 and #1252. Maybe run `make e2e` locally before submitting while we look to resolve this issue.

[2021-11-16 21:28] azeemshaikh38 commented on #861
+1. I'm completely in favor of doing away with this `if` condition and running `e2e` tests on all PRs. It's repeatedly causing loss of productivity. @naveensrinivasan wdut? Can we remove it?

[2021-11-16 21:37] naveensrinivasan commented on #861
I agree we can try that. Also, remember some of the tests look for GitHub Scorecard data on the `main` repo. If the `PR` isn't merged then it is going to run successfully then have an issue next time a new PR comes in. One of the test which will likely fix is the `local repo` test.

[2021-11-16 21:45] evverx commented on #1257
I think I need to reread the allstar documentation to be more specific. It could be I misunderstood how it's configured on top of scorecard, which it uses under the hood as far as I understand.

Looking at https://github.com/ossf/scorecard/issues/1074, it seems the action is supposed to send data to the "code-scanning" tab of repositories (by analogy with codeql I assume). I'm not sure I like this

[2021-11-16 21:50] laurentsimon commented on #1257
the action is aimed at repo owners, to help them run scorecard continuously without the pain of installing the tool. We'd like to extend it to be more usable for consumers... but for now we only support the BigQuery table. We have floated around the idea of REST API as well.

[2021-11-16 22:01] evverx commented on #1257
@laurentsimon I think issues actions like that report should be fixed eventually and it usually helps when more people have access to various dashboards. I'm not saying it's an issue related to the scorecard action specifically. It's just that that "code scanning" tab hides alerts from everybody apart from repo owners (which probably makes sense considering the nature of the tab) while at the same

[2021-11-16 22:22] josepalafox commented on #1257
I will double check but I believe when you fork a repo it does keep the action configuration, but it has to be manually triggered, it doesn't run by default when the project is forked. This is in effect the fork-er re-running the scanner rather than the same scan results being replicated.  It wouldn't carry over suppressed alerts or the alert history with it either, I don't think. The small differ

[2021-11-16 22:36] evverx commented on #1257
And that's probably what motivated contributors would do. But I doubt "drive-by" contributors would want to go that far to just look at alerts they could potentially fix so they just go elsewhere.

FWIW judging by https://github.com/ossf/scorecard/issues/1074#issuecomment-933397297 the scorecard project has already run into something like that

[2021-11-16 22:52] evverx commented on #1257
Forgot to mention that also it doesn't seem to be possible to refer to those alerts in the commit messages because unlike, for example, links to OSS-Fuzz issues that are opened to the public eventually, all links to the security tab seem to always point to 404 for everybody except for repo owners.

[2021-11-16 23:10] laurentsimon commented on #1257
I agree public dashboard would be a plus, this is an idea we've been tossing around. GitHub could have an option for devs to opt-in in order to share their dashboard, for example. Like you say, someone can run dependabot on a fork repo and dependenbot for security alerts. Doing this at scale for everyone is a little more challenging :-)

[2021-11-16 23:10] laurentsimon commented on #1257
Thanks for the info @josepalafox !

[2021-11-16 23:29] evverx commented on #1257
@josepalafox I might be wrong but looking at https://github.com/systemd/systemd/issues/21343 I think that's how Dependabot is supposed to work (in theory at least). GitHub Actions sending data to security scanning tabs are run automatically according to their configs.

[2021-11-16 23:53] josepalafox commented on #1257
I think the workflow you're looking for will be resolved in future updates to the platform and looks to be in beta now I believe: https://github.com/github/roadmap/issues/332

Re:dependabot I think runs differently because it is a vendored action.

[2021-11-17 00:44] evverx commented on #1256
Sounds good to me. I've just opened #1288

[2021-11-17 01:00] evverx opened #1289 "The "Fuzzing" check doesn't seem to work anymore"
[code]

[2021-11-17 01:11] evverx commented on #1074
@laurentsimon I wonder if it would be possible to run it on PRs to analyze diffs to make sure new alerts or regressions aren't introduced? While running it on push events is helpful I think it would be even better if PRs with new alerts didn't make it to repositories in the first place.

[2021-11-17 01:14] laurentsimon commented on #1074
yes, we have a working prototype that runs on PR already. GitHub takes care of de-deduplication using the SARIF format, so we (scorecard) need not worry about diff ourselves, which is really helpful.

[2021-11-17 01:28] evverx commented on #1074
Good to know. Thanks! Just to be sure, does that mean that I can in theory start using it in my experimental fork?

I took a look at the config at https://github.com/ossf/scorecard/pull/1073/files#diff-4341708db212df7d9bb86a51df68dc97ff9a262aec1eacddff2552a363b08c9f. Is my understanding correct that to turn on just the "token-permission" check I should add something like
[code]
?

What happens if

[2021-11-17 01:36] evverx commented on #1074
Thinking about it, looks like some checks like the "Pinned-Dependencies" check should be more granular to make it easier to use them to analyze PRs. Generally I don't care about `pip install` `scorecard` complains about (which is "won't fix" as far as can tell to judge from the PR where it was introduce) but I'd certainly like to know when new GHActions aren't pinned.

[2021-11-17 01:47] laurentsimon commented on #1074
you're right more granularity would be nice. We're working on it but it will take some time.

[2021-11-17 01:48] laurentsimon commented on #1074
correct.

what do you mean?

[2021-11-17 01:57] evverx commented on #1074
I was talking mostly about the "pinned-dependencies" check. I can't set it to 10 due to `pip install` in some test script so it seems I have to downgrade it in the config file a bit. My understanding is that when a PR with new alerts (that doesn't affect the score overall) is opened it isn't reported if the score is the same while in some cases I'd like it to be reported. I hope that makes any sen

[2021-11-17 02:07] evverx commented on #1074
What's more important I think I wonder if those new alerts introduced in PRs will be visible to external contributors or will they be hidden behind the "security scanning" tab?

[2021-11-17 02:11] laurentsimon commented on #1074
it does. It's a limitation of the current checks. This will be fixed in 2022 :-)

[2021-11-17 02:11] laurentsimon commented on #1074
I don't think they will. The are still hidden behind the scanning dashboard.

[2021-11-17 02:18] evverx commented on #1074
That would make those PR checks less useful than they could probably be I think because contributors would need to wait for maintainers to go to the dashboard and report those issues to them (and nobody is going to to that probably). Generally I don't think new alerts should be hidden. They are new after all

[2021-11-17 02:41] #1289 closed

[2021-11-17 03:04] #1264 closed

[2021-11-17 04:28] evverx commented on #1264
It would be great if scorecard could also react to SIGTERM and SIGINT (Ctrl-C)

[2021-11-17 05:29] laurentsimon commented on #1074
I think you're right: they must be available. Since they are introduced by the PR a contributor wrote, there's no reason to hide them. I have not verified, though.

[2021-11-17 06:54] evverx commented on #1074
@laurentsimon I ran the action and noticed that the "binary artifacts" alerts I complained a lot about were classified as "(Test)":
![Screenshot 2021-11-17 at 09 46 38](https://user-images.githubusercontent.com/10195800/142148731-9190253c-f936-4aaf-9cc1-80711ce9bfb1.png)

so it seems https://github.com/ossf/scorecard/issues/1270 could be put on hold in a way.

Anyway, is that a GitHub feature? If

[2021-11-17 16:52] laurentsimon commented on #1074
I think it's a GitHub feature, yes. I suspect they look for *test* in path. @josepalafox do you know?

[2021-11-17 17:08] josepalafox commented on #1074
I think this is the relevant docs.

https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository#about-labels-for-alerts-that-are-not-found-in-application-code

[2021-11-17 17:49] varunsh-coder commented on #1128
Hi @laurentsimon I could try this out and get some user feedback. Based on the PRs I submitted on various repos, I found developers to be:
1. Either very security focussed ([this PR](https://github.com/flutter/flutter/pull/89820)), where they were reviewing each permission added to each job - in this case I did not observe the pattern of read-all at top level, OR
2. Not aware of the GitHub token (

[2021-11-17 19:35] azeemshaikh38 opened #1294 "BUG: Dangerous workflow unit tests failing"

[2021-11-17 23:46] laurentsimon commented on #1128
valid point. GitHub does ask users to define global permissions for workflows, but currently only suggest the settings (https://github.blog/changelog/2021-04-20-github-actions-control-permissions-for-github_token/). So they agree that it should fail safe. I would love for them to tell users to use a config file instead of the setting.

how about the following:
1. We accept workflows that have no t

[2021-11-17 23:58] evverx commented on #1074
@josepalafox thank you for the link! Unfortunately it isn't mentioned there how it's implemented. My guess would be that the code assigning labels to alerts came from LGTM and based on my experience with it it's pretty tuned so it would be great if it could be borrowed somehow. I opened https://github.com/ossf/scorecard/pull/1263 a few days ago where I filtered out all the files containing `test`

[2021-11-18 02:51] laurentsimon commented on #1074
Interesting idea. Which checks would you like to keep in a fork?

[2021-11-18 03:06] evverx commented on #1074
@laurentsimon initially I thought that "Fuzzing", "CII-Best-Practices", "Signed-Releases", "Branch-Protection" and "Packaging" should be excluded there and then I realized that some forks are used to keep "stable" branches of upstream projects that are used by downstream projects like various linux distributons and there "Signed-Releases", "Branch-Protection" and "Packaging" probably shouldn't be

[2021-11-18 03:56] evverx commented on #1074
Regarding "CII-Best-Practices" I think it shouldn't affect the score at all and if it should be promoted for whatever reason it would make sense to make it informational. The problem is that all that check shows is that at some point in the past some projects followed the practices CII considers "best practices" and generally they aren't kept up to date so looking at a badge I can't be sure that w

[2021-11-18 08:54] evverx commented on #1074
@laurentsimon trying to figure out why I got
![Screenshot 2021-11-18 at 11 48 00](https://user-images.githubusercontent.com/10195800/142382117-e149407c-d423-4542-9b3e-29b09898b152.png)
I noticed that the action uses 2.2.8-103-g12ef070 (which as far as I can tell is kind of old). I wonder if it would be possible to point the action to a version of `scorecard` with all the changes to the "Binary-Art

[2021-11-18 09:14] evverx commented on #1074
Also it doesn't seem to be possible to pass "--verbosity Debug" to `scorecard` via the action, which makes it hard to figure out for example why scorecard thinks that PRs weren't reviewed even though were or where SASTs were lost. I'm not sure where those debug message should end up in the end though (maybe, right where short descriptions are?)

[2021-11-18 09:51] evverx commented on #1268
I'm not sure whether it's the right place to mention this issue with the checks analyzing PRs but since I've run into it mostly using the SAST check I think it would probably make sense to switch from the "n out of 30 PRs have something" approach to something that would account for glitches preventing status checks from being registered properly or weird results that GH API returns once in a while

[2021-11-18 09:58] evverx commented on #1268
For example, LGTM was run in https://github.com/libbpf/libbpf/pull/353 but GH API says that it wasn't.

[2021-11-18 11:02] evverx commented on #1268
One option would be to figure out whether LGTM is listed among the apps that can be triggered on pull requests with https://docs.github.com/en/rest/reference/checks#get-a-check-suite and if it's there and it is run in the majority of pull requests it should be safe to say that projects are analyzed with LTGM. I'm not sure about other apps though

[2021-11-18 11:32] evverx commented on #1238
I haven't been able to find any other app apart from LGTM using the "neutral" status so I think it would probably make sense to wait for bug reports with examples of specific CI services that can be "neutral" from time to time.

"skipped" usually appear when some conditions specified in GH Actions aren't met. For example, in https://github.com/evverx/systemd/runs/4249276023?check_suite_focus=true

[2021-11-18 13:53] evverx commented on #1285
https://github.com/systemd/casync triggers it too
[code]

[2021-11-18 16:43] laurentsimon commented on #1238
Thank for looking into this!
Closing as you suggested.

[2021-11-18 16:43] #1238 closed

[2021-11-18 16:54] laurentsimon commented on #1268
@josepalafox is this a known issue with GitHub APIs?

[2021-11-18 17:02] laurentsimon commented on #1268
with this API, looks like we could get the last N pushes that have used it; and we'd need to map them to the last PRs. Is my understanding correct? That sound doable.

Are there limitation in terms of *whom* can use this API: `GitHub Apps must have the checks:read permission on a private repository or pull access to a public repository to get check suites. OAuth Apps and authenticated users must h

[2021-11-18 19:52] laurentsimon opened #1302 "Feature: re-enable CI-Tests in cron job"
the title says it all.

[2021-11-18 20:06] varunsh-coder commented on #1128
Hi @laurentsimon

I believe your concern is around the scenario where a new job is added to an existing workflow with no top-level permissions, where all existing jobs had minimum job-level permissions, and that new job does not have permissions defined.

In this case if Scorecards had influenced the repo owner to add permissions for the rest of the jobs in the first place, it is likely the develo

[2021-11-18 20:29] laurentsimon commented on #1128
Thanks for sharing your thoughts, @varunsh-coder , it's useful to get opinions and suggestions from different perspectives.

correct.

correct. it's this risky time window that the top-level permission mitigates. We don't how often will user scorecard. If they use it on all pull requests (we're hoping some will be able to do that with the GitHub action we're writing), then a missing permission wou

[2021-11-18 20:58] varunsh-coder commented on #1128
Ok, that's fair. I will take an action item to add top-level permissions for the Step Security feature to auto-add permissions.

I can pilot the GitHub action for Scorecards, let me know if it is in a state to pilot it. It might also help to have a badge for Scorecard that developers can add to their repos - I don't know if this is already in the plans.

[2021-11-18 21:02] #1240 closed

[2021-11-18 22:01] laurentsimon commented on #1128
awesome. I really appreciate that you forced me to explain my thinking. If you have further thoughts, please don't hesitate to share them.

that's great. What exactly do you mean by piloting?
Now that we've reached consensus, we can start updating the code.
cc @naveensrinivasan are you still interested in tackling this issue? (I recall from on meeting that you were interested)

It might also help

[2021-11-18 23:54] laurentsimon commented on #1074
We've seen this error before. Thanks for sharing.
@azeemshaikh38 FYI

[2021-11-18 23:55] laurentsimon commented on #1074
great point. Let me add an option for this and I'll share the github action branch with you.

[2021-11-19 00:10] laurentsimon commented on #1074
can you create a tracking issue for this?

[2021-11-19 01:08] varunsh-coder commented on #1128
By piloting, I meant I could try out the GitHub Action for Scorecards when it is ready. You had mentioned it as a way to run Scorecards on Pull request and I was looking for a way to do that. My comment on piloting was not related to this particular check/ issue...

[2021-11-19 01:16] laurentsimon commented on #1128
sounds good. We have a working prototype: follow the steps in https://github.com/ossf/scorecard/issues/1074#issuecomment-933653061

We will be changing the repo name of the GitHub action to comply with GitHub marketplace convention in 3 weeks or so from now. At this point it will become obvious that the change happens because the runs will fail. Ping me on this thread and I'll tell you the new nam

[2021-11-19 03:17] evverx opened #1304 ""CII-Best-Practices" should be turned off by default when forks are analyzed by the scorecard action"
This check isn't applicable to forks so I don't think it should trigger alerts in the "security scanning" tab there.

This was discussed in https://github.com/ossf/scorecard/issues/1074#issuecomment-972474086

I'd go as far as to say

[2021-11-19 03:22] evverx commented on #1074
I think this feature should be permanent to make it easier for maintainers to dispute socrecard findings :-) It should be turned off by default probably though

Done: https://github.com/ossf/scorecard/issues/1304

[2021-11-19 03:31] evverx commented on #1304
With ClusterFuzzLite released though the Fuzzing check can in theory be applicable to forks in the sense that if a workflow where it's used is run on a regular basis it should be safe to say that code is kind of fuzzed. At this point though to pass the check projects have to be fuzzed on OSS-Fuzz and that's applicable to upstream projects only.

[2021-11-19 05:49] evverx commented on #1304
I somehow overlooked https://github.com/ossf/scorecard/issues/1148. Looks like only "CII-Best-Practices" should be turned off

[2021-11-19 06:20] evverx commented on #1128
FWIW top level permissions aren't redundant at all as it was seemingly implied in this thread. They protect forks where the "token permissions" setting has the default value. For example, the systemd repository set the global setting to "read-only" and ships GH Actions with "permissions: contents: read" at the top level to prevent its forks from running into any issues just because obviously nobod

[2021-11-19 07:43] evverx opened #1305 ""Pinned-Dependencies" shouldn't complain about known GHActions that can't be pinned to any specific version"
This is mostly inspired by https://github.com/google/oss-fuzz/issues/6836

I agree with @jonathanmetzman that it doesn't make much sense to point CIFuzz to anything other than the master branch (in its current form at least) and I'm not exactly sure how exactly CIFuzz is supposed to be versioned to let Dependabot handle it automatically but until it's solved I don't think `scorecard` should compla

[2021-11-19 08:06] evverx commented on #1305
FWIW I think CIFuzz should be added to the Fuzzing check as well and projects using both OSS-Fuzz and CIFuzz should get higher score

[2021-11-19 08:39] evverx opened #1306 "pip install shouldn't be banned"
From https://github.com/ossf/scorecard/pull/611#discussion_r752910507

I think it's overkill though when all I need is to install a package in a test script. I'm planning to switch to -r in systemd/systemd#21438 and I can theoretically add --require-hashes there since Dependabot supports it but switching to pipenv or any other tool creating virtual python environments is absolutely unwarranted in

[2021-11-19 11:11] evverx commented on #1074
@laurentsimon I'm not sure the action can be used when PRs are opened until issues like https://github.com/ossf/scorecard/issues/1268#issuecomment-972705617 keep affecting the checks unpredictably. Diffs will most likely trigger bogus alerts unrelated to PRs due to checks like SAST and CI-Test producing different scores depending on when they are run.

[2021-11-19 15:34] lehors opened #1307 "Pinned_Dependencies check stops on faulty shell files when it is meant to continue"
**Describe the bug**
When the shell parser returns an error the check stops when it should continue to the next file.

**Reproduction steps**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Rather than quit on the first faulty shell file the check should continue, process the rest of the files, and still return some score.

**Additional context**

A simple fix (PR upcoming) gives th

[2021-11-19 15:39] azeemshaikh38 commented on #1307
Hi @lehors, thanks for starting this issue. I was about to respond to your email on ossf-scorecard-dev@ group, but glad that you started this issue as this is easier to track.

Yes, this is a known issue but its not on our roadmap right now due to resource constraints. Happy to discuss possible solutions and/or review PRs for it. @chrismcgehee who is the most familiar with this code.

[2021-11-19 16:03] varunsh-coder commented on #1128
I tried the Scorecards GitHub Action [here](https://github.com/step-security/agent/actions/runs/1481716365). For some reason, GitHub does not render the SARIF results in the Code scanning alerts section. I was able to download and view the SARIF results from workflow artifacts. Results looked as expected for the checks it did show. Do have a look as I do not have knowledge of all checks that Score

[2021-11-19 16:06] varunsh-coder commented on #1128
Hi @evverx Sorry I could not understand your comment. Are you saying setting at top level is better relative to job level in case someone forks the repo? Did not understand the threat scenario...

[2021-11-19 16:20] laurentsimon commented on #1128
I think what @evverx means is that if a repo has GitHub settings set to "workflows are by default using read-only"; then someone clones it but does not have the same settings set, the permissions will default to write for the clone repo.

[2021-11-19 16:22] laurentsimon commented on #1128
If I'm not mistaken, you ran scorecard only on PRs and not on push/cron events. GitHub will only add results to the scanning dashboard for the main/default branch.

[2021-11-19 16:51] laurentsimon commented on #1306
Thanks for sharing. Tests are typically run on pull requests, in which case getting pwned is less serious. So this is again an instance of test false positive, it seems?

We need to start a doc around best security practice for pipy in general, because there's no general doc or agreement so it's hard for scorecard to implement something that does not exists. We've started one for npm but it's WIP.

[2021-11-19 16:59] varunsh-coder commented on #1128
Ran it on push and see the results in the [code scanning dashboard](https://github.com/step-security/agent/security/code-scanning) now. Not sure if you will have access to view the results though...It will take me some time to review each result for accuracy. Will spend time later today on it.

[2021-11-19 17:46] varunsh-coder commented on #1128
I did a quick analysis and have posted results [here](https://github.com/step-security/agent/issues/35). Feel free to comment on that issue to discuss the results.

W.r.t token permissions, I am curious what the code scanning alert/ SARIF output would be after the change is made to the logic as discussed in this thread. Let us say a workflow does not have top level permissions, but each job has pe

[2021-11-19 19:04] laurentsimon commented on #1128
That's a really good question. Today, we use the risk level from the https://github.com/ossf/scorecard/blob/main/docs/checks/internal/checks.yaml#L589

In this case, it would be tagged as `High`. You're right that's not ideal. We don't have the ability to change the risk level based on score. For now, I think a developer would need to set the threshold score as `9` fo the Token-Permissions check i

[2021-11-19 19:11] laurentsimon commented on #1304
Thanks. Not sure we'll get this done for the first release - will try - otherwise in the next iteration. I think we can add a field in checks.yaml as info to decide dynamically if a check is should be run on a fork.

[2021-11-19 19:11] laurentsimon commented on #1304
adding tentatively to v4 milestone

[2021-11-19 19:17] laurentsimon commented on #886
@chrismcgehee I think you're working on it, right? Assigning to you. If you're not, please un-assign.

[2021-11-19 19:19] laurentsimon commented on #1074
these checks are not enabled on pull requests by default. The reasoning is that a pull request cannot fix them, so a developer would need to disable scorecard or change its config until the checks passes. We considered this a usability issue. In a nutshell, we only enable checks that a PR may have an effect on, i.e., those that only use source code and not GitHub APIs. It's indicated in the https:

[2021-11-19 21:04] asraa opened #1311 "Resolve false positives with Dangerous-Workflow check"
**Describe the bug**
See https://github.com/ossf/scorecard/pull/1283#issuecomment-974227644

Dangerous-Workflow doesn't handle false positives where a `pull_request_target` is used with untrusted code checkout BUT environment protection rules or gating labels are set.

Also says "permissions set in the repo (pull_request_target + ref + permissions set seems fine)." -- I'm not sure that's the case?

[2021-11-19 21:12] evverx commented on #1306
Scripts like that can be run on push events or be "scheduled" as well and in some repositories they can have access to GITHUB_TOKEN with the "write" permissions granted to GHActions by default: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token so in theory they can pwn repositories.

[2021-11-19 21:19] evverx commented on #1074
Good to know. Thanks! I think that makes sense. I saw ` --local` in https://github.com/ossf/scorecard-actions/blob/main/analyze/entrypoint.sh but wasn't sure what that is :-)

[2021-11-19 21:57] evverx commented on #1307
I ran into this issue and I think the check should keep going as well.

@lehors are you planning to add something like https://github.com/ossf/scorecard/pull/1297 to that PR? If so, I'll go ahead and close that PR

[2021-11-19 22:03] evverx commented on #1306
Just to clarify, I think in this case `scorecard` rightfully complains and pip should be changed there one way or another but it isn't obvious how it can be done without turning it into unmaintainable mess

[2021-11-19 22:31] laurentsimon commented on #1306
cc @di who may know what pipy are planning to improve tooling

[2021-11-19 22:33] lehors commented on #1307
The patch to get the check to continue is actually trivial. It took me more time to write the test for it. :-)
I haven't included your fix @evverx so keep your PR open. I agree that's a useful change too!

[2021-11-19 22:51] di commented on #1306
There's not really anything functionally different between using pipenv's lockfile and using `requirements.txt` with `--require-hashes`, a `pip install` with `--require-hashes` should be allowed IMO.

[2021-11-19 23:01] laurentsimon commented on #1306
thanks @di. One limitation of `reauirements.txt` is that it does not include transitive dependencies. Is this correct? If so, any plans to change this behavior?

[2021-11-19 23:07] di commented on #1306
A `requirements.txt` file without hashes does not need to include transitive dependencies, but using `--require-hashes` enables strict hash checking mode, in which hashes must be included for all packages to be installed, including transitive dependencies, so it has the effect of requiring transitive dependencies to be included.

Example:
[code]

[2021-11-19 23:11] laurentsimon commented on #1306
thank you, that's great. So it would be fair to add the requirement that `--require-hashes` is always used in scripts, correct?

[2021-11-19 23:17] laurentsimon commented on #1306
reminds me of this conversation https://github.com/ossf/scorecard/pull/611#discussion_r660203476

[2021-11-19 23:25] evverx commented on #1306
I tried to actually install `meson` with `--require-hashes` and judging by
[code]
it isn't ready to be pinned to any hashes. Looks like at this point in practice it isn't possible to install any non-trivial package that way unfortunately

[2021-11-19 23:29] laurentsimon commented on #1306
I think you need to follow this procedure https://github.com/ossf/scorecard/pull/611#discussion_r660203476

[2021-11-19 23:31] di commented on #1306
I think that comment is not quite 100% accurate. Installs with `--require-hashes` will either require all direct and indirect dependencies, or will fail. We don't need to call PyPI's API or use `pip-compile` to verify this.

I think that's because you didn't specify hashes? This works:

[code]

[2021-11-19 23:37] evverx commented on #1306
I'm pretty sure I did. Here's the file I passed to pip
[code]
Could it be `pip 20.2.2` is too old?

[2021-11-19 23:39] di commented on #1306
@evverx Looking more closely at the error message, looks like you're also trying to install https://pypi.org/project/install/, which doesn't have hashes.

[2021-11-19 23:44] evverx commented on #1306
I'm not sure where it came from though. I'll try to reproduce it in a clean environment and report back if it's still there. Thanks!

[2021-11-20 01:12] evverx commented on #1306
I was able to install `meson` and `ninja` with `pip install --require-hashes`. `jinja2` fails but that seems to be OSS-Fuzz forcing me to use pip instead of apt-get for no apparent reason: https://github.com/google/oss-fuzz/issues/6868 :-)

[2021-11-20 01:44] laurentsimon commented on #1305
agreed on CIFuzz, and clusterfuzzlite too. @oliverchang is working on the clusterfuzzlite PR, if you're interested in doing the CIFuzz one it'd be awesome!

[2021-11-20 02:11] laurentsimon commented on #1097
another occurrence in https://github.com/step-security/agent/issues/35#issuecomment-974274585

[2021-11-20 02:14] laurentsimon commented on #1097
another one https://github.com/ossf/scorecard/issues/1074#issuecomment-973479064

[2021-11-20 02:27] laurentsimon commented on #1268
summary:
1. tool configured (codeQl) and runs as cron => give some point (we already do this )
2. tool configured on each push => increase the score (we don't do this)
3. tool configured on pull request => increase score (we do this)

[2021-11-20 02:33] evverx commented on #1305
@laurentsimon I'm not sure about ClusterFuzzLite but I think CIFuzz is a bit tricky. It doesn't support forks https://github.com/google/oss-fuzz/issues/3731 so `systemd` for example just turns it off with `github.repository == 'systemd/systemd'` so it seems the check should look for PRs where it's really run instead of just looking for `use cifuzz` in `.github/workflows/*`

[2021-11-20 02:35] laurentsimon commented on #1305
Gotcha. Feel free to create a PR. cc @oliverchang from OSS-Fuzz for comments

[2021-11-20 02:50] evverx commented on #1268
It should probably be "on every PR". `systemd` for example doesn't run SASTs on push events. It runs LGTM on PRs and CodeQL and Coverity once a day due their various limitations.

[2021-11-20 02:53] laurentsimon commented on #1268
ah, right. Agreed.

[2021-11-20 03:04] laurentsimon opened #1317 "BUG: integration tests are not testing the PR code"
See this line https://github.com/ossf/scorecard/blob/main/.github/workflows/integration.yml#L36
We're not checking out the PR using `ref`, so we're effectively testing the main branch.

I unfortunately pushed a breaking change https://github.com/ossf/scorecard/pull/1316

[2021-11-20 05:27] #1317 closed

[2021-11-20 06:23] evverx commented on #1201
I heard about cosign but have never used it. I wonder if it's production-ready so to speak in the sense that it could be easily used by people packaging software to verify tarballs and maybe could even be integrated into package managers? So far everybody seems to have been using GPG partly because it seems to be everywhere.

(I'm sorry if it's completely off-topic here. I'm just trying to figure

[2021-11-20 15:35] azeemshaikh38 opened #1320 "BUG: Failures in Branch-Protection during release testing"
Release tests found some issues with Branch-Protection check. Looks like related to recent scoring PR. @laurentsimon assigning to you for further debugging.

[code]

[2021-11-20 15:37] azeemshaikh38 commented on #839
Parsing errors that showed up with the new actionlint parser:

[code]

[2021-11-20 15:56] varunsh-coder opened #1321 "Calculate risk based on score of the check"
**Is your feature request related to a problem? Please describe.**
In the future the Token-Permissions check will give different scores depending on how well the best practices has been followed. But even if one gets a score of 9, they will still get a High risk issue in the SARIF file. This score then gets shown in the Code scanning alerts dashboard when the Scorecards GitHub action is used in a

[2021-11-20 15:57] varunsh-coder commented on #1128
I have created a tracking issue for it. Feel free to update/ add comments in case my understanding/ terminology is not correct. Thanks!

[2021-11-22 01:05] evverx opened #1322 "scorecard seems to miss some status checks"
Looking at the results of the SAST check I noticed that sometimes `scorecard` says that some status checks (namely `lgtm-com`) weren't run even though they were. GitHub API described at https://docs.github.com/en/rest/reference/checks#get-a-check-suite has no problem finding them:
https://github.com/libbpf/libbpf/pull/353
[code]
https://github.com/mesonbuild/meson/pull/9576
[code]
I'm not sure how

[2021-11-22 01:07] evverx commented on #1322
It's kind of related to https://github.com/ossf/scorecard/issues/1322

[2021-11-22 07:39] developer-guy commented on #309
hello @azeemshaikh38 @naveensrinivasan, here is the keyless image signing example with GoReleaser recently created as a sample project[^1], thanks to @caarlos0, of course, you can find an example of signing checksum also, here is the related tweet[^2]

Sample 1: **Signing Container Images**
[code]

Sample 2: **Signing checksums.txt file**

[code]

[^1]: https://github.com/caarlos0-graveyard/gorel-

[2021-11-22 16:42] laurentsimon commented on #710
I think to ensure that that dependency is pinned in `FROM`, the line should look like
[code]

We do this in https://github.com/ossf/scorecard-actions/blob/main/analyze/Dockerfile#L17

wdut?

[2021-11-22 16:48] laurentsimon commented on #874
see also a discussion https://github.com/step-security/agent/issues/35#issuecomment-974584647, between dependabot security and dependabot dep. We should check whether the config file can differentiate between the two types of dependabot.

FYI @varunsh-coder

Also

[2021-11-22 16:49] laurentsimon commented on #874
(renaming the title of this issue to `Feature: Improve dependabot detection thru PRs or parsing config file`)

[2021-11-22 16:50] laurentsimon commented on #1097
Apparently, this happened all the time in https://github.com/step-security/agent/issues/35#issuecomment-974585033

[2021-11-22 16:58] laurentsimon commented on #710
FYI @nanikjava

[2021-11-22 17:00] laurentsimon commented on #1321
This is also relevant for the GitHub workflow dependency pinning: we give 10 points if all actions are pinned by hash, and 8 if the GitHub-owned actions are not.

[2021-11-22 17:05] laurentsimon opened #1327 "Feature: more robust way of logging errors in checks"
Today, we return an inconclusive results (accompanied by an error) if a sub-check catches an error. For example, the Pinned-Dependencies check is currently fairly (too!) large, so a single error makes the entire check return `-1`.

In https://github.com/ossf/scorecard/pull/1324#issuecomment-975709844, we implemented a heuristic to avoid running the sub-check, using the filename. I feel this approa

[2021-11-22 17:05] laurentsimon commented on #1327
@chrismcgehee @azeemsgoogle @naveensrinivasan

[2021-11-22 17:24] laurentsimon commented on #1311
how about the scenario where `ref` is used and permissions are set to `XXX:write` but `XXX` is not `contents` or `packages`?

[2021-11-22 17:30] asraa commented on #1311
maybe i'm missing something but isn't even read perms dangerous? PR checkout would still allow reading secrets, e.g. with some malicious script in the untrusted checkout

[2021-11-22 17:33] laurentsimon commented on #1311
you're right, absolutely. I think I was assuming there's no secrets used in the PR.

[2021-11-22 19:50] laurentsimon opened #1329 "Feature: integration tests should not require distinct approval"
The integration tests currently require an approval to run the tests even if the PR is LGTM'ed; and this is needed every time we push a new commit to the PR.

I find myself clicking on buttons to enable integration tests all the time. Is there a better solution?

[2021-11-22 19:51] laurentsimon commented on #1329
@naveensrinivasan @azeemsgoogle

[2021-11-22 20:04] azeemshaikh38 commented on #1329
IMHO, no. The reason PR approval is not enough to run `e2e` tests is because authors can push commits *after* approval is given. The current methodology ensures that every commit needs an explicit approval to run the `e2e` tests.

FYI, this is how it used to work before too. `ok-to-test` had to be specified on a particular commit. We didn't find this solution painful because `e2e` tests were eithe

[2021-11-22 20:07] laurentsimon commented on #1329
this is the same as the Branch Protection's `dismiss review automatically` which we enabled a few months ago and dropped because of usability concerns. Now we're re-introducing it. We have the exact same security concerns without `dismiss review automatically` enabled, yet we don't have it turned on.

and now that we have it enabled, I consider it painful.

[2021-11-22 20:22] azeemshaikh38 commented on #1329
Not sure I understand this. How exactly does it give PR submitters `write` permission?

If it's that much of a pain (which I personally don't think it is), I'm ok with disabling this. My only condition is that we still require `e2e` tests to pass for all PRs. I'm tired of constantly fixing someone else's broken code.

It is a PAT with `:public_repo` scope that will potentially get leaked. If the o

[2021-11-22 20:30] laurentsimon commented on #1329
unreviewed PRs end up being pushed to main branch, so basically PR authors get to push their code unreviewed... wgich is the same as `contents:write` permission.

I want the 2e2 tests too.

Is it feasible to use the `secrets.GITHUB_TOKEN` that GitHub provisions to workflows with `read-all`? Or it has limitations because it's not a PAT?

[2021-11-22 20:52] azeemshaikh38 commented on #1329
Hmm, that's not possible in our case right? Scorecard requires atleast 1 approving review *and* the `e2e` tests to pass at the commit before it can be merged.

AFAICT, no. `secrets.GITHUB_TOKEN` does not have `:public_repo` scope - https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token

[2021-11-22 21:17] laurentsimon commented on #1306
how do you create the requirements.txt to contain all dependencies, including the transitive ones?

@rsprabery FYI

[2021-11-22 21:48] naveensrinivasan commented on #1329
TBH the new process is painful!

[2021-11-22 22:46] laurentsimon commented on #1329
it is still possible. Once we LGTM, the author can still make changes and push the changes. The only way to force a re-review is to enable the branch protection's `dismiss stale review automatically` setting. E2e tests are testing functionality of the PR, not adversarial coding. Say, PR author writes `if $GITHUB_ACTION == "", open a shell and connect to remote server`: the e2e2 tests would pass, b

[2021-11-22 22:56] laurentsimon commented on #1320
"reason": "could not find branch name release/v2.18: branch not found",
@asraa can you take care of this one?

"reason": "internal error: invalid score 2 != 0",
I will look into these two.

[2021-11-22 23:51] laurentsimon commented on #1322
It's using https://github.com/google/go-github/blob/master/github/checks.go#L250
They also expose check suites API, see https://github.com/google/go-github/blob/master/github/checks.go#L274

if you give it a try, let us know.

cc @azeemsgoogle

[2021-11-22 23:54] laurentsimon commented on #1327
relevant for shell parsing https://github.com/ossf/scorecard/issues/1307

[2021-11-23 00:01] evverx commented on #1322
Apparently https://github.com/google/go-github/blob/master/github/checks.go#L250 is where `lgtm-com` gets lost because with `check-runs` instead of `check-suites` I can no longer see it anywhere:
[code]

[2021-11-23 00:15] laurentsimon opened #1334 "BUG: workflow commands are not pinned"
We're not pinning our dependencies in the Makefile commands run in workflow.
Some example include all the additional tooling: it's currently stored under `tools` and is installed by running:
`cd tools; cat tools.go | grep _ | awk -F'"' '{print $$2}' | xargs -tI % go install %`

This does _not_ use the `tools/go.sum` because it runs all install as `go install github.com/XXX`. W should be pinning th

[2021-11-23 00:15] laurentsimon commented on #1334
@naveensrinivasan do you agree with my claim?

[2021-11-23 00:56] laurentsimon commented on #1329
I've spent my entire day clicking buttons to re-enable the integration tests. I also had to wait for 30s every time a new commit is pushed to be able to "approve" the integration tests. I think this GitHub feature is entirely unusable, the same way that `pull request stale dismissal` is.

[2021-11-23 01:25] laurentsimon commented on #1322
so you're saying this is a GitHub issue maybe? Shall we file an issue on GitHub repo?

[2021-11-23 01:32] varunsh-coder commented on #1097
I see this error both for pull requests and push. BTW this error is probably due to a token permissions issue. The workflow only has `security-events: write`. Are you calling a GitHub API to get this result?

[2021-11-23 01:35] evverx commented on #1322
I'm not sure it's a GitHub issue given that they provide both [check-runs](https://docs.github.com/en/rest/reference/checks#list-check-runs-for-a-git-reference) and [check-suites](https://docs.github.com/en/rest/reference/checks#list-check-suites-for-a-git-reference) (which I think should be different from each other. Otherwise, they wouldn't have been split in the first place I think). The questi

[2021-11-23 01:49] laurentsimon commented on #1097
I agree it looks like a permission problem. We use `permissions: read-all` and `security-events: write`; and this error only happens for the Branch Protection APIs using graphQl.

Mhhhh.. this page https://docs.github.com/en/graphql/guides/forming-calls-with-graphql states `To communicate with the GraphQL server, you'll need an OAuth token with the right scopes.` I think that's the cause. We're us

[2021-11-23 03:18] azeemshaikh38 commented on #874
Looking at PRs to get a hint about dependabot usage sounds like a good idea to me. I would say a good starting point would be to use the existing [`ListMergedPRs`](https://github.com/ossf/scorecard/blob/main/clients/repo_client.go#L30) API. We can then consider expanding the support to non-merged or reverted PRs too.

[2021-11-23 03:49] azeemshaikh38 commented on #1329
I strongly disagree with this. An approval to run e2e tests is given *for a commit*. Which means if the author makes a change after approval, a new approval is needed before the tests can run and the PR can be submitted. The "painful" mechanism is in place to precisely solve for the problem you have mentioned. But anyways, this debate is moot since the issue seems to be whether it's worth keeping

[2021-11-23 04:15] chrismcgehee commented on #1327
I do think we should simply log when we can't parse a file instead of failing the entire check, essentially do what https://github.com/ossf/scorecard/pull/1312 does but for any parsing error. It would be nice if we could examine the files that can't be parsed in case we can improve our code to parse better, but inevitably we're going to encounter files that are formatted incorrectly. Maybe we can

[2021-11-23 07:24] evverx commented on #1322
According to https://docs.github.com/en/rest/guides/getting-started-with-the-checks-api#about-check-suites

so as far as I can tell `scorecard` should go over `check_suites` and get every check suite's runs. This way in https://github.com/libbpf/libbpf/pull/353 LGTM would have been found via https://api.github.com/repos/libbpf/libbpf/commits/aafe84ae9b8e7b837c6469e48e85f7c3769c79b6/check-suites an

[2021-11-23 07:58] evverx commented on #1322
On second thought it doesn't seem to be necessary to get every check suite's runs since "check suites summarize the status and conclusion of the check runs that a suite includes"

[2021-11-23 11:02] evverx commented on #1201
While I was experimenting with signing and verifying blobs without keys I came across https://github.com/sigstore/cosign#what--is-not--production-ready, which I think answers my question regarding whether `cosign` is production-ready or not. I should have probably read the documentation first :-)

Looking for packages I noticed that it seems it's packaged on Arch Linux only: https://archlinux.org/

[2021-11-23 15:12] evverx commented on #1257
@laurentsimon FWIW I don't think scorecard should recommend using Dependabot until the issue mentioned at https://github.com/systemd/systemd/issues/21343 is fixed. Apparenlty it annoys people maintaining stable forks very much and they can't just remove and recreate those forks.

[2021-11-23 15:34] evverx commented on #1257
I've just opened https://github.com/ossf/scorecard/pull/1336 where I mentioned what Dependabot brings with it.

[2021-11-23 16:25] azeemshaikh38 opened #1337 "BUG: goreleaser proxying fails"
goreleaser fails with `error=failed to proxy module` - https://github.com/ossf/scorecard/runs/4301302671?check_suite_focus=true

Most likely due to #1282. @naveensrinivasan assigning this to you. Feel free to re-assign if this is unrelated to changes in #1282.

[2021-11-23 17:09] azeemshaikh38 commented on #1329
On a separate note, maybe we should consider setting up a Scorecard GitHub app whose token will be used for e2e tests. That way, its not a PAT that gets leaked and also we don't compete with the cron job for API limits.

[2021-11-24 16:12] naveensrinivasan commented on #1337
The issue with this is timing. The build was run because there was new tag that was pushed `3.2.1`

[code]
But the go proxy didn't have that version yet. I re-ran the action and it ran successfully.

[2021-11-26 06:39] evverx opened #1340 "scorecard shouldn't complain about actions in the same repository"
It's possible to reference actions that are kept in the same repository using `./path/to/dir`: https://docs.github.com/en/actions/learn-github-actions/finding-and-customizing-actions#referencing-an-action-in-the-same-repository-where-a-workflow-file-uses-the-action. I don't think scorecard should complain about them.

[2021-12-01 16:14] naveensrinivasan commented on #1337
@caarlos0 How can we solve this issue? Any suggestions would be helpful.

[2021-12-01 17:03] lehors commented on #1307
This was addressed by PR#1312.

[2021-12-01 17:03] #1307 closed

[2021-12-01 17:14] caarlos0 commented on #1337
in theory it should have proxied it on the first try, not idea why it didn't though... maybe some flake on sum.golang.org?

[2021-12-01 18:59] naveensrinivasan commented on #1337
OK, we will try again and let you know. Thanks

[2021-12-02 17:32] laurentsimon commented on #1327
that'd be great, yes!

Do you know if developers commit their generated dockerfiles from a template?
Can you list a few template dockerfiles that caused problem for scorecard?

In the next iteration of the check, would is still be useful to try to parse the templates and just log a message of parsing fails (like you suggest above)?

[2021-12-02 18:43] laurentsimon commented on #1074
FYI, I'm going to be updating the repo of the scorecard action according to https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace#about-publishing-actions, so the scorecard action will break sometimes in the next few days. I'll post a message here when the transition is done.

[2021-12-02 22:25] laurentsimon opened #1343 "Feature: remove 1 point per unpinned action"
See https://github.com/ossf/scorecard/pull/1319#issuecomment-985050957

We currently give a score of 0 if a single unpinned action if found. This is too harsh. Instead, we will remove one point for each unpinned action.

[2021-12-02 22:26] laurentsimon commented on #1340
Great catch, thanks! Feel free to send a PR and cc me on it for approval.

[2021-12-02 22:46] laurentsimon commented on #1097
@josepalafox the graphQl APIs seem to require a PAT token and don't automatically work with the GitHub token provided to workflows. Do you know the reasoning behind this? Is there a particular permission needed for the workflow GitHub token?

[2021-12-03 00:30] varunsh-coder commented on #1097
JFYI - I realized that looking up branch protection requires [`administration` permission](https://docs.github.com/en/rest/reference/permissions-required-for-github-apps#permission-on-administration), and I believe `GITHUB_TOKEN` does not have `administration` permission. So even if Graph API had the same permission model, I doubt this would work with the `GITHUB_TOKEN`...

[2021-12-03 00:49] laurentsimon commented on #1097
Interesting, thanks for sharing!

[2021-12-03 00:56] georgettica opened #1347 "BUG: Security-Policy doesn't recognize asciidoc files"
**Describe the bug**
when running the tool on my repo https://github.com/georgettica/venv I found it doesn't find my `SECURITY.adoc` file

**Reproduction steps**
docker run -e GITHUB_AUTH_TOKEN=XXXX gcr.io/openssf/scorecard:stable --show-details --repo=https://github.com/georgettica/venv

**Expected behavior**
that this check will pass

**Additional context**
I have been cleaning this repo for thi

[2021-12-03 01:21] laurentsimon commented on #1329
FYI, Ive created a new token and disabled the need for approval to run the integration tests: they will now run autmatically. We can keep it this way to update the workflow to not use environments too.

[2021-12-03 01:37] #1175 closed

[2021-12-03 02:22] laurentsimon commented on #1347
cc @david-a-wheeler

[2021-12-03 02:25] laurentsimon commented on #1347
awesome! Were they pain points using the tool? Note that we also have a GitHub action we're in beta, in case you want to give it a try https://github.com/ossf/scorecard/issues/1074#issuecomment-933653061

[2021-12-03 02:33] georgettica commented on #1347
@laurentsimon  I had some:
- I sometimes got warning and info messages, although I did things right
- once I got alot of data in the output field, the table display was problematical (moved to json to solve)
- version-pinning is still not clear to me (I version pinned everything I saw, but it still complains
- when setting the permissions stanza, the github docs + the scorecard docs didn't emphasi

[2021-12-03 02:36] georgettica commented on #1347
Last thing:
- codeql scanning is enabled but I think GH I misconfigured something (it's failing consecutively for 10 commits now)

[2021-12-03 14:58] pjbgf commented on #1095
Completely agree with the benefits of splitting the analysis between the current repository and its (vendored) dependencies, as at the moment this results in "false positives" - considering the target repository as scope of the pinned dependencies scoring.

To some extent, anything related to a project's dependencies could be better handled on a category of its own around supply chain scoring.

@l

[2021-12-03 15:09] naveensrinivasan commented on #1095
We didn't get a chance to discuss about this.

Do you have any suggestions?

[2021-12-03 15:29] pjbgf commented on #1095
@naveensrinivasan thank you for the quick reply.

My suggestion would be:
1. The `vendor` folder to be removed from the Pinned-Dependencies checks for golang projects.
2. Create a new check that would aggregate Dependency Violations from dependencies that are found at the BQ table.

This way the information is still available, and in both cases actionable. The latter requiring upstream contributio

[2021-12-03 17:08] laurentsimon commented on #1095
Thanks for the suggestion. If we can easily map vendored dependencies to their original GitHub project - which I think is doable for golang projects - I think that would work. For which other languages would it work or not work?
- C/C++ won't work, unless the vendored dependences use GitHub link?
- ?

[2021-12-03 17:28] #1038 closed

[2021-12-03 17:33] laurentsimon commented on #1256
shall we close this issue?

[2021-12-03 17:35] laurentsimon opened #1349 "Feature: make binary-artifacts check use the 0-10 range of scores"
we currently set the score to 0 if a single binary is detected. Similar to what's proposed in https://github.com/ossf/scorecard/issues/1343, we could remove 1 or 2 points when a binary is detected. This also helps in mitigating false positives.

[2021-12-03 17:39] laurentsimon commented on #1347
Can you tell us why you use an `adoc` rather than `.md`? Currently we have support for `.md`, which seems to be an `md` https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository

[2021-12-03 17:42] laurentsimon commented on #1347
info messages mean something you did is good; warnings means something bad. Is this something we should explicitly write about in the README?

maybe we could make the JSON format the default, you're not the first to complain about the table.

we recommend pinning by hash, not by version. Can you point to the docs you read and where it was confusing?

I'll add this to the doc, you're right it's not

[2021-12-03 17:43] laurentsimon opened #1351 "Feature: remove support for table output"
The table output is buggy and does not work well as soon as there are many results. There are also bugs w.r.t display https://github.com/ossf/scorecard/issues/699

Since the JSON output is readable by human, shall we drop support for the table altogether?
One less thing to maintain, especially as I've already heard 2 users complain about it.

[2021-12-03 17:44] laurentsimon commented on #1351
cc @azeemsgoogle @naveensrinivasan @chrismcgehee

[2021-12-03 17:46] evverx commented on #1256
I don't think scorecard should complain about tests so I think I'd keep the issue open

[2021-12-03 17:47] laurentsimon commented on #1347
follow

actually our doc already says `The highest score is awarded when the permissions definitions in each workflow's
      yaml file are set as read-only at the
      [top level](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions)
      and the required write permissions are declared at the
      [run-level](https://docs.github.com/en/actions/reference/w

[2021-12-03 17:49] azeemshaikh38 commented on #1351
SGTM

[2021-12-03 17:52] laurentsimon opened #1352 "DISCUSSION: improvements needed by tools scorecard uses or recommends"
This thread is a collection of issues and improvements we'd like to see in the tools scorecard uses or recommends. It was suggested by @evverx

[2021-12-03 17:54] laurentsimon commented on #1352
Display vulnerabilities that are ignored in pull requests https://github.com/github/codeql-action/issues/811
Pinning by hash upgrade https://github.com/dependabot/dependabot-core/issues/3699
Support for dependencies for more CICDs https://github.com/dependabot/dependabot-core/issues/3675

[2021-12-03 17:55] laurentsimon commented on #1351
cc @nanikjava

[2021-12-03 17:58] georgettica commented on #1347
I would try and separate each good or bad in a different section AND hide bad checks if they are not valid anymore

I wouldn't say formatting in json the the b st way, but that the table output can be better displaying the array of results.

Do you mean we should pin the.githib actions by hash?

The doc change I wanted was of githubs, but I would be glad if the error message about permissions woul

[2021-12-03 18:02] naveensrinivasan commented on #1351
Sounds good to me.

[2021-12-03 18:03] georgettica commented on #1347
And I agreed that github is advocating markdown, but I think that keeping asciidoc is a valid request

[2021-12-03 18:51] josepalafox commented on #1097
The issue is that the generic actions does not get the right permissions.
User will need to generate PAT and store as a secret to use in actions.
This can be described as a configuration step.

On Thu, Dec 2, 2021, 16:49 laurentsimon ***@***.***> wrote:

[2021-12-03 18:54] laurentsimon commented on #725
@chrismcgehee what's left to be done for this? Sorry, I've not kept up with all the commits :-)

[2021-12-03 18:57] laurentsimon commented on #1097
Thanks for the info! Do you know the reasoning behind this? Is there a security concern? Or is this something that may get fixed in the future?

[2021-12-03 19:01] josepalafox commented on #1097
This is evidently an intentional design limitation and exists across
multiple API services for security purposes.

On Fri, Dec 3, 2021, 10:57 laurentsimon ***@***.***> wrote:

[2021-12-03 21:04] laurentsimon opened #1353 "BUG: --local option is broken"
at this line https://github.com/ossf/scorecard/blob/main/cmd/root.go#L322, we're creating clients that use GitHub APIs. When run on a local repo, this forces users to define a GitHub token which is not needed.

These clients should only be created if they are requested by a user who runs scorecard, i.e. if the checks are requested.

I think the fix is as simple as leaving these variables `nil` if

[2021-12-03 21:06] laurentsimon commented on #1353
@azeemsgoogle can you tackle this?

fyi, @naveensrinivasan this is another case that requires unit test to prevent it from happening again.

[2021-12-03 21:19] laurentsimon commented on #1353
I'll take it, since I needed to fix it for testing anyway.

[2021-12-03 21:49] azeemshaikh38 commented on #1353
Ouch. I had also created a commit for it. We can go with your PR itself. Just added comment to your PR.

[2021-12-03 23:11] laurentsimon commented on #1353
closed by https://github.com/ossf/scorecard/pull/1355

[2021-12-03 23:11] #1353 closed

[2021-12-03 23:24] laurentsimon commented on #1340
see https://github.com/ossf/scorecard/pull/1357

[2021-12-04 00:39] laurentsimon opened #1358 "Feature: auto rebase of PRs"
We spend too much time rebasing PRs to kick off pre-submit runs. Especially when we have many PRs open, it's a waste of time.
It would be great to be able to auto-rebase PRs automatically, so that once we've clicked "auto-merge" button, the PR gets merged automatically (of course, this still requires LGTM).

I found this https://github.com/marketplace/actions/automatic-rebase which seems encouragi

[2021-12-04 00:39] laurentsimon commented on #1358
@naveensrinivasan @azeemsgoogle @chrismcgehee @oliverchang

[2021-12-04 00:49] laurentsimon commented on #1358
their code is mostly a shell script and a docker files that pulls a few utilities https://github.com/cirrus-actions/rebase/blob/master/Dockerfile#L12

[2021-12-04 01:16] laurentsimon opened #1359 "Feature: check for `pull-requests` permission in Token-Permission"
pull-request allows changing PRs so it's dangerous

[2021-12-04 01:34] laurentsimon commented on #1359
I'm actually worried this will trigger too many false positives. I think pull-request permission is also needed to update labels on a pull requests https://docs.github.com/en/rest/reference/permissions-required-for-github-apps#permission-on-pull-requests
Basically one can merge or update PR codes with this permission, but it's also the same permission needed to do more mundane things like label PR

[2021-12-04 01:49] laurentsimon commented on #1358
file https://github.com/cirrus-actions/rebase/blob/master/entrypoint.sh looks ok. There are a few places where it does not put env variable between "", which is also caught when I used https://www.shellcheck.net/ on their code.

[2021-12-04 04:56] chrismcgehee commented on #725
I'm just about ready to submit a PR that will add numbers for more places. The line numbers for anything in shell code is going to be tricky because of the way we pass shell code throughout the program. I'd be open to having help for that part.

I believe Pinned Dependencies and Token Permissions are all that need updating. Asra already added proper line numbering for Dangerous Workflow.

[2021-12-04 06:42] nanikjava commented on #1351
@laurentsimon I'm playing around with the table project `github.com/olekukonko/tablewriter` and want to check if this the table output that we are after (note: I'm using the repo github.com/googleapis/gaxios) ?

[code]

and NOT this one right ?

[code]

[2021-12-04 20:11] evverx commented on #1358
@laurentsimon I wonder why PRs would have to be rebased in the first place? Considering that PRs are usually reviewed almost as soon as they are opened I think as long as they don't conflict with the main branch it should be fine to merge them even if GitHub says that they are out of date. If it isn't clear whether PRs can break something it's always possible to ask contributors to force-push thei

[2021-12-04 20:21] evverx commented on #1358
Looking at https://github.com/marketplace/actions/automatic-rebase it seems for it to work it has to change contributors' repositories and personally I wouldn't be happy if bots rebased branches in my repositories :-) Another issue is that contributors can flip the "Allow edits and access to secrets by maintainers" flag to prevent changes like that.

[2021-12-04 20:24] developer-guy opened #1362 "Feature Pinned SHA versions of GitHub Actions"
**Is your feature request related to a problem? Please describe.**

This is not related to a problem, it is more like a question, or maybe improvement. In GitHub Actions there is a security consideration related to 3rd party GA, so, GitHub recommends us to use `Pinned SHA` of the 3rd party GA[^1]. I thought that it'd be nice to add this check to the scorecard project.

**Describe the solution you'

[2021-12-04 20:32] naveensrinivasan commented on #1362
@developer-guy Thanks, we already have pinned SHA check for GitHub Actions.

[2021-12-04 21:02] developer-guy commented on #1362
I mean we can add this security check to the scorecard project.

[2021-12-04 21:11] naveensrinivasan commented on #1362
Sorry If I wasn't clear. We already have it. https://github.com/ossf/scorecard/blob/b323cded0449828ecdfdfd0e6df7313417434576/checks/pinned_dependencies.go#L543

[2021-12-04 22:17] #1362 closed

[2021-12-05 00:13] evverx commented on #1038
I'm puzzled as to why this has been integrated into scorecard because it doesn't seem to have anything to do with security. Apart from "as lack of a license will impede any kind of security review/audit" (which in my opinion seems to be a stretch) I'm not sure I understand why it's here. I agree it's kind of important but given that it can't even tell open source projects and proprietary projects

[2021-12-05 00:48] evverx commented on #1038
I'm not sure why the remediation steps don't include disclaimers like:

I'm pretty sure that the most important part there is "it’s always best to consult with a professional" and it should probably among the remediation steps.

[2021-12-05 04:41] chrismcgehee commented on #1327
I think typically developers use a template dockerfile to build with different architectures or different distros as part of a pipeline. They might sometimes commit the dockerfiles generated from a template, but probably not usually.

This is the only one I'm aware of that caused errors for scorecard:\
https://github.com/traefik/mesh/blob/957da2d9ca4d4cdd4e00d0bdfbb9f5ae4f2685ff/tmpl.Dockerfile
He

[2021-12-05 09:05] pjbgf commented on #1095
I am not aware of any major language that supports vendoring quite the same way as golang.

- .Net (C#/VB/etc): won't work as source code vendoring is not a practice generally followed/supported.
- Java: same reason as above.

This may work for NodeJS, but I am not sure there is a specific structure (or folder name) that is used across the community.

[2021-12-05 12:14] developer-guy opened #1364 "Feature make scorecard brew formula"
**Is your feature request related to a problem? Please describe.**
This is not related to a problem.

**Describe the solution you'd like**

scorecard project already creates releases by using the GoReleaser project, so, GoReleaser has already support for creating brew formulas for free[^1]. The thing that needs to be done is just create a repository for storing these formulas called `tap`.

**Desc

[2021-12-05 19:35] david-a-wheeler commented on #1038
It's indirect, but making it impractical to do a security review & audit is considered by many to *also* be a security problem. It's not solely a security problem of course, but after discussion it was accepted.

It's always best to consult with a professional, but for many developers that's impractical. Most developers don't have thousands of extra dollars lying around to pay a lawyer for a legal

[2021-12-05 19:59] evverx commented on #1038
If they don't it's probably safe to say that they aren't actually interested in whether their dependencies are licensed properly or not. And that false sense of security they get looking at the output of scorecard saying that projects are licensed is what it is: a false sense of security. Given that scorecard can't tell licences apart it can mark projects using bespoke licenses preventing people f

[2021-12-06 15:47] asraa commented on #1294
I think this is closed with https://github.com/ossf/scorecard/pull/1283

[2021-12-06 15:47] #1294 closed

[2021-12-06 16:14] laurentsimon commented on #1351
@naveensrinivasan can you help answer @nanikjava 's question?
AFAIK, the terminal's width is a limiting factor and it makes it really hard to output tables that fit the screen.
Unless @naveensrinivasan has another idea, it may be better to remove support for table entirely.

[2021-12-06 16:17] naveensrinivasan commented on #1351
I agree, lets remove the table support.

[2021-12-06 16:18] laurentsimon commented on #1347
@chrismcgehee @oliverchang @azeemsgoogle @naveensrinivasan would anyone object to adding the adoc extension to the readme check support?

[2021-12-06 16:36] #1340 closed

[2021-12-06 17:13] laurentsimon commented on #1327
do you know if the templating engine is part of thee official docker tooling or is it provided by a third-party?

[2021-12-06 17:17] laurentsimon commented on #1095
thanks. So essentially we need a list of folder names to exclude (`vendor`, `vendors`, `vendored`, `third_party`, `thirdparty`, `thirdparties`, `third_parties`, `external`, `externals`, etc).

Is this the best heuristics we can use? Or are there other ways to do this?

cc @peterhsshin

[2021-12-06 17:19] laurentsimon commented on #1038
cc @olivekl

[2021-12-06 17:23] developer-guy opened #1366 "Feature: generate SBOMs based on SPDX format supported by ko"
**Is your feature request related to a problem? Please describe.**
No, this is not related to a problem.

**Describe the solution you'd like**

We've worked on building container images by making use of the `google/ko` project recently[^1]. Then I realized that `google/ko` has the support of generating SBOMs based on SPDX format, and it'll be released soon[^2]. Maybe we might want to use this feat

[2021-12-06 17:56] david-a-wheeler commented on #1038
@evverx:

I do *not* think it's safe to say that; I think that's unlikely to be true. Someone can believe something's important (such as licensing) and not be rich. I'm not rich. Most OSS developers pick a common OSS license without consulting a lawyer, and that usually works just fine because the common OSS licenses (such as MIT, Apache-2.0, LGPL, and GPL) *were* created with lawyers specifically

[2021-12-06 18:04] evverx commented on #1038
Having read https://github.com/ossf/scorecard#what-is-scorecards I was under the impression that scorecard is supposed to be used by consumers of open-source projects trying to figure out whether their dependencies are safe:

so I'm not sure why dependencies are irrelevant here.

[2021-12-06 18:13] evverx commented on #1038
FWIW I wasn't talking about transitive dependencies. I agree scorecard shouldn't even try to do that. What I meant is that people running scorecard do it to figure out whether projects they depend on are safe. Developers can use scorecard too of course but I think I was already told once in one of PRs/issues that they aren't the target audience of scorecard.

[2021-12-06 18:18] evverx commented on #1038
Anyway, personally, I think that this check is completely misleading at best (even if it could tell some licences apart). But since it isn't exactly the hill I want to die on I don't think it makes much sense to keep discussing it here :-)

[2021-12-06 18:22] laurentsimon commented on #886
Does https://github.com/ossf/scorecard/pull/1363 close this issue?

[2021-12-06 18:24] laurentsimon commented on #725
sg. Let us know how we should help. I think you can start by adding the line numbers to entry functions and try to propagate them to callees? Then ask for help when things get tricky? Or would you like to proceed differently?

cc @asraa

[2021-12-06 18:41] david-a-wheeler opened #1369 "Add gradation to license analysis"
**Is your feature request related to a problem? Please describe.**

Currently scorecard looks for a license, but it simply gives a 10 if there's a license found at all and a 0 if there's no license found at all. That doesn't give any gradation.

**Describe the solution you'd like**

Add more gradations for licenses. I think scorecard was intended for OSS projects, so I propose giving "10" for proj

[2021-12-06 18:44] david-a-wheeler commented on #1038
No need to die on a hill :-). But a closed issue isn't really a good place to discuss a change, most people will never see this discussion.

I've created a new issue to track the license gradation idea: https://github.com/ossf/scorecard/issues/1369 . I think it makes sense, and hopefully captures at least some of your concerns. For that point, let's discuss the issue issue there.

[2021-12-06 21:15] naveensrinivasan commented on #1364
I agree, this would be a great addition. But I don't think we have time now to maintain another repository and a project.
@azeemshaikh38 @laurentsimon Thoughts

[2021-12-06 21:53] laurentsimon commented on #1364
agreed. We d'love to have it, but we don't have the resources to take it on ourselves right now.
Thanks for the suggestion @developer-guy

[2021-12-06 21:57] developer-guy commented on #1364
There is no need to maintain a repository btw because it will only hold these formulas. So, create a repository, and name it as `homebrew-tap`, that's all we need to do. Then, all these formulas will be created by the GoReleaser and pushed to that repository.

@naveensrinivasan @laurentsimon

[2021-12-06 22:00] laurentsimon commented on #1364
got for it!

cc @haydentherapper

[2021-12-06 22:03] developer-guy commented on #1364
just place it under ossf organization, that's all I need IMHO.

[2021-12-06 22:04] laurentsimon commented on #1366
what info does `ko` support for the output? What I mean is, it seems to support listing the goland project's dependencies using `go version -m`. What else? Does it capture dependencies installed via `apt-get`, etc?

I have not played around with `google/ko`, so forgive me if those questions make no sense :-)

[2021-12-06 22:04] developer-guy commented on #1364
once you do this, I'll add the necessary section for releasing HomeBrew formulas with GoReleaser.

[2021-12-06 22:05] naveensrinivasan commented on #1364
The issue is that once we create the repo, there are going to be questions and issues which is something we have to take it up. That is my apprehension.

[2021-12-06 22:08] developer-guy commented on #1366
it also supports SPDX format which you see [here](https://github.com/spdx/spdx-examples) by using a flag named "--sbom=spdx", IMHO, it should be the default value btw. Here is the result from my binary by running the following commands:

[code]

<details>

<summary> SPDX Result </summary>

[code]

</details>

[2021-12-06 22:09] developer-guy commented on #1366
cc: @imjasonh @mattmoor

[2021-12-06 22:11] developer-guy commented on #1364
I don't think so until we change the way we work with this repository, because this repository is going to be maintained by the GoReleaser only.

[2021-12-06 22:13] naveensrinivasan commented on #1366
We don't ko integrated it into our container builds yet. We are using cloud build with docker. The first step would be to replace docker in our cloudbuild.

[2021-12-06 22:15] naveensrinivasan commented on #1364
I agree, but there are going to be users who are going to ask for some support. The way in which we integrate goreleaser we might break that integration. We need to test it part of every release. All of these are kinds of chores.

[2021-12-06 22:38] imjasonh commented on #1366
It assumes you're not installing any deps with apt-get etc, which it looks like you're not anyway: https://github.com/ossf/scorecard/blob/main/Dockerfile

I'd be happy to help get scorecard onto ko if there's interest.

[2021-12-06 23:57] naveensrinivasan commented on #1366
Yes, we aren't doing any apt-get. There are multiple Dockerfiles https://github.com/ossf/scorecard/blob/063d384b6d5c939a3631a33f014c642663a192af/Makefile#L240

That would be great if you can help with `ko` builds with cloudbuild.

These are the cloudbuild YAML's in these folders

- https://github.com/ossf/scorecard/blob/main/cloudbuild
- https://github.com/ossf/scorecard/tree/main/cron/cloudbuild

[2021-12-06 23:57] naveensrinivasan commented on #1366
We already have started working towards migrating to `ko` https://github.com/ossf/scorecard/blob/063d384b6d5c939a3631a33f014c642663a192af/Makefile#L195

[2021-12-07 00:08] laurentsimon opened #1371 "Feature: add support for pip-audit in SAST check"
see title
pip-audit: https://github.com/trailofbits/pip-audit

This would need to parse commands in `run` field of GH workflows, as suggested in https://github.com/ossf/scorecard/issues/1031#issuecomment-967352430

Note that we already parse commands for the Pinned-Dependency check but we have not yet separated out command parsing https://github.com/ossf/scorecard/issues/1220

[2021-12-07 03:27] #1285 closed

[2021-12-07 05:03] nanikjava commented on #1351
There are 2 ways to look at this:

* Maintenance - In terms of less maintenance point of view looking at the amount of code to be maintained is less compared to checks and other parts of the application.

* User's perspective - Don't have full context about the issue that customer are complaining about but from the stats mentioned in this issue there are 2 users complaining compared to >2 of users

[2021-12-07 08:04] developer-guy commented on #1364
I can maintain this repository if you want 🤩

[2021-12-07 15:53] azeemshaikh38 commented on #1347
SGTM.

[2021-12-07 16:33] laurentsimon commented on #1351
correct. But it still requires maintenance once in a while, e.g. the bugs that have been filed a few months ago and still not addressed.

you can add me to the list of ppl complaining :-) More seriously, many people who don't find it readable won't complain and will switch to using the JSON output instead, without ever telling us.

It is not readable today when you enable `--show-details`. The tex

[2021-12-07 16:36] laurentsimon commented on #1359
cc @josepalafox

[2021-12-07 16:39] azeemshaikh38 commented on #1364
That's very generous of you @developer-guy! Thank you for offering :) I would be very happy to have this feature for Scorecard. I vote that we go ahead with this. @laurentsimon @naveensrinivasan wdyt?

[2021-12-07 16:42] laurentsimon commented on #1364
Go for it, yeah! So we just need to create a `ossf/scorecard-tap` repo?

[2021-12-07 16:54] developer-guy commented on #1364
it makes sense, I think there is no restriction about the naming, but I'm not sure about that.

[2021-12-07 16:55] naveensrinivasan commented on #1364
Let me know the repo name, I can create one.

[2021-12-07 16:58] developer-guy commented on #1364
I think it must be in the form of `homebrew-<something>.`

[2021-12-07 16:58] developer-guy commented on #1364
like https://github.com/sigstore/homebrew-tap

[2021-12-07 16:59] naveensrinivasan commented on #1364
How about `homebrew-scorecard-tap`?

[2021-12-07 17:17] azeemshaikh38 commented on #1364
Or `scorecard-homebrew-tap`? Since we already have `scorecard-actions`, it will seem more like a standard/follows a convention.

[2021-12-07 17:20] david-a-wheeler commented on #1347
I'd go further, we *should* support asciidoc. Markdown wasn't handed down from the gods, we should meet projects where they are.

[2021-12-07 17:54] developer-guy commented on #1364
I think it must start with the `homebrew-` prefix, and the rest does not matter.

based on: https://docs.brew.sh/Taps#repository-naming-conventions-and-assumptions

[2021-12-07 18:01] azeemshaikh38 commented on #1364
I see. Then, maybe `homebrew-scorecard`? With this, users should be able to invoke `homebrew tap ossf/scorecard`, right?

[2021-12-07 18:07] developer-guy commented on #1364
Users might be able to install for example scorecard like the following way if we name this repository `homebrew-scorecard`:

[code]

but if we name it like this `homebrew-tap`, the command will become this:

[code]

[2021-12-07 18:10] naveensrinivasan commented on #1364
What if ossf wants to support other brew packages? We need to think about that.

[2021-12-07 18:14] azeemshaikh38 commented on #1364
That sounds great. My vote is for this option since its very intuitive and provides a better developer experience.

Those repos will be called `homebrew-*`. For example, `homebrew-allstar`. Wdyt?

[2021-12-07 18:18] developer-guy commented on #1364
Nope, there must be one repository for the organization to include all the formulas for projects maintained by the organization. So, we should create one repository, as I mentioned above, like `homebrew-tap`, we shouldn't use the tool name within the repository name.

[2021-12-07 18:18] developer-guy commented on #1364
I think the most suitable name for this is `ossf/homebrew-tap` btw.

[2021-12-07 18:18] developer-guy commented on #1364
tap and formulas are two different things, tap means a repository for holding formulas, think that way.

[2021-12-07 18:21] naveensrinivasan commented on #1364
My vote is `homebrew-tap`.

[2021-12-07 18:22] azeemshaikh38 commented on #1364
I see, didn't realize this was an org-wide thing. Ok, I also vote for `homebrew-tap` then.

[2021-12-07 19:05] laurentsimon commented on #1031
here is a linter action we should support https://github.com/github/super-linter
Linters are not exactly SASTs, though. Maybe give a few points for having it

[2021-12-07 19:59] naveensrinivasan commented on #1364
https://github.com/ossf/homebrew-tap created. @developer-guy I have sent the invite to you for the repository.

[2021-12-07 20:33] azeemshaikh38 commented on #1364
Thanks Naveen!

[2021-12-07 20:38] developer-guy commented on #1364
Let's give try through the demo repository
* https://github.com/developer-guy/scorecard/runs/4449079235?check_suite_focus=true
* https://github.com/developer-guy/homebrew-tap

[2021-12-07 20:42] developer-guy commented on #1364
you can run:

[code]

[2021-12-07 20:43] developer-guy commented on #1364
![Screen Shot 2021-12-07 at 23 41 18](https://user-images.githubusercontent.com/16693043/145103254-2e57dd40-7da3-49bd-affd-a91f6f148405.png)
![Screen Shot 2021-12-07 at 23 43 25](https://user-images.githubusercontent.com/16693043/145103330-d31776da-6119-43b5-8c78-1586fb8890f3.png)
![Screen Shot 2021-12-07 at 23 43 39](https://user-images.githubusercontent.com/16693043/145103337-5cd607d1-d287-41b5-

[2021-12-07 20:44] developer-guy commented on #1364
yay! 🥳 @naveensrinivasan @azeemshaikh38

[2021-12-07 20:44] naveensrinivasan commented on #1364
Cool do a PR! But what permission does the action needs to write to the other repository?

[2021-12-07 20:49] developer-guy commented on #1364
just GitHub token IMHO, I used my own PAT to do that.

[2021-12-08 01:18] #1128 closed

[2021-12-08 01:18] laurentsimon opened #1377 "Feature: speed up Validate check in pre-submits"
Looks like `check-linter` and  `check-osv` should be able to run without installing and compiling scorecard. So we should be able to separate them.
This should additionally speed up the validation checks.

[2021-12-09 19:15] laurentsimon commented on #1371
cc @di

[2021-12-09 19:19] laurentsimon commented on #1371
filed https://github.com/trailofbits/pip-audit/issues/198 to ask whether they are interested in creating a GitHub action for it.

[2021-12-10 00:53] laurentsimon commented on #1121
Aiming for a release mid-January 2022. What's left:
1. verify GH action for market place (WIP)
2. documentation of the action
3. submit starter workflows (WIP)
4. Test end to end flow of installation
5. Install on a few repos OSSF owns and others

[2021-12-10 09:15] westonsteimel commented on #1256
[gabriel-vasile/mimetype](https://github.com/gabriel-vasile/mimetype) seems to have a decent list of [supported types](https://github.com/gabriel-vasile/mimetype/blob/master/supported_mimes.md) and I know it is used in [anchore/stereoscope](https://github.com/anchore/stereoscope) and in turn by [syft](https://github.com/anchore/syft) and [grype](https://github.com/anchore/grype)

[2021-12-10 16:27] laurentsimon commented on #1371
cc @naveensrinivasan @azeemsgoogle @oliverchang @chrismcgehee

[2021-12-10 16:31] laurentsimon opened #1380 "Feature: add linter check"
Linters are a great way to enforce certain coding practices and avoid mistakes, as well as improving the code quality to help reviewers.

I think it'd be useful to support this in scorecard. Maybe this could live under the existing SAST check. I think it's be enough to start with check for the presence of this action https://github.com/github/super-linter, which wraps all linters.

[2021-12-10 20:33] naveensrinivasan commented on #1380
I think this needs some discussion.

[2021-12-11 02:50] chrismcgehee commented on #886
It does not. These functions (and the functions they call) still need the line number to be set correctly:
- [createIgnoredPermissions](https://github.com/ossf/scorecard/blob/86fd966dc41886edec168e071ee11227ea262c71/checks/permissions.go#L400)
- [isSARIFUploadWorkflow](https://github.com/ossf/scorecard/blob/86fd966dc41886edec168e071ee11227ea262c71/checks/permissions.go#L416)
-
The fix here will be

[2021-12-11 02:51] chrismcgehee commented on #1327
It's third-party tooling.

[2021-12-12 14:59] naveensrinivasan opened #1382 "Upgrade github.com/google/go-containerregistry from 0.6.0 to 0.7.0."
**Is your feature request related to a problem? Please describe.**
The github.com/google/go-containerregistry  has a breaking change from 0.6.0 to 0.7.0. The code has to be addressed to fix this issue.

More information https://github.com/ossf/scorecard/pull/1281

[2021-12-13 03:25] evverx commented on #1143
FWIW sos.dev looks like a publicity stunt to me (like the great mfa project https://github.com/ossf/great-mfa-project/issues/52) so I'm not sure `scorecard` should associate itself with it (even though all those projects are under the OpenSSF umbrella) :-)

Just to clarify, I think `scorecard` is the only OpenSSF project I think is thought-out and useful.

[2021-12-13 05:04] kuchanamounika opened #1383 "Support for Gitlab Repositories"
Hi Team,

is there any support provided for gitlab repos score card?

Thanks
Mounika Kuchana

[2021-12-13 06:42] dota17 commented on #1383
Maybe it's the same as #40 and #868 .

For the upcoming release, it isn't. PR's are welcome.

[2021-12-13 14:42] naveensrinivasan commented on #1383
Closing it as it duplicate https://github.com/ossf/scorecard/issues/40

[2021-12-13 14:42] #1383 closed

[2021-12-13 14:43] naveensrinivasan commented on #1364
closing it because we have scorecard brew packages.

[2021-12-13 14:45] naveensrinivasan commented on #1234
@laurentsimon  Does it still fail?

[2021-12-13 14:46] naveensrinivasan commented on #1139
@olivekl Is this still an issue?

[2021-12-13 16:44] laurentsimon commented on #1234
nope, I think this problem occurs intermittently. Closing, thanks for pinging!

[2021-12-13 16:44] #1234 closed

[2021-12-13 16:46] olivekl commented on #1139
Thanks for the reminder, @naveensrinivasan. It's not closed yet, but the change is mostly ready -- @azeemshaikh38, can you weigh in on whether I understood the scope correctly, as described in my previous comment?

[2021-12-13 16:55] azeemshaikh38 commented on #1139
I'm still unsure of the scope of this bug. But we can add this line as you have suggested and close this issue. In case that is not enough, folks can choose to re-open the bug or file a new issue.

[2021-12-13 18:08] #1139 closed

[2021-12-13 21:54] azeemshaikh38 opened #1389 "Feature: add Scorecard to OSS-Fuzz and CIFuzz"
Improve Scorecard's Fuzzing score by adding it to OSS-Fuzz and enabling CIFuzz GH Action.

@ jonathanmetzman fyi.

[2021-12-14 03:11] naveensrinivasan commented on #1032
Not stale.

[2021-12-14 04:14] #886 closed

[2021-12-14 13:59] naveensrinivasan commented on #1389
Which API do you want to fuzz within scorecard?

If it is just to get the checkmark for fuzzing then it doesn't add value.

Probably good for discussion.

[2021-12-14 17:29] david-a-wheeler commented on #1032
Happy to help if you'd like!

[2021-12-14 17:32] naveensrinivasan commented on #1032
Yes,Thank you! What is the process?

[2021-12-14 23:01] evverx commented on #1389
FWIW Looking at https://github.com/ossf/scorecard/issues/1256#issuecomment-969848255, I think it would make sense to cover h2non/filetype at least (assuming scorecard will keep using it for parsing untrusted data).

[2021-12-14 23:10] evverx commented on #1389
As far as I know scorecard also parses random bash scripts with https://github.com/mvdan/sh so ideally it should probably be covered as well (though I agree technically it doesn't improve the fuzzing score of scorecard itself)

[2021-12-14 23:15] naveensrinivasan commented on #1389
AFAIK the https://github.com/mvdan/sh is fuzzed probably randomly not using oss-fuzz.

[2021-12-14 23:16] naveensrinivasan commented on #1389
I agree,I think it would be better to include the fuzzing that repository instead of Scorecard.

Thanks for bringing it up.

It makes sense.

[2021-12-15 00:13] evverx commented on #1389
scorecard has its own file parser located in https://github.com/ossf/scorecard/tree/main/checks/fileparser though (which I think is a good candidate for fuzzing).

Good to know. Thanks! But given that finding and fixing bugs found by fuzz targets is like playing whack-a-mole if it isn't fuzzed continuous it's probably safe to say it isn't fuzzed.

[2021-12-15 00:36] evverx commented on #1305
FWIW I don't think I'm going to create PRs anymore because having received what I would call condescending comments in one of issues I've opened in one of OSSF projects I don't want my account to be associated with OSSF in any way. I think if would be great if the project could be moved to the "google" organization on GitHub (but I understand that it isn't possible). I'm going to keep commenting o

[2021-12-15 00:53] laurentsimon commented on #1305
Hey @evverx I'm sorry to hear that. I really am.
Your input, feedback and PRs on scorecard have just been incredibly useful. I would really like you to continue to contribute: you've made scorecard *so* much better already!

I am 100% certain I speak for the whole team here.

If you don't want to discuss this in the issue, I understand. I'm open to chat/DM slack on the OSSF channel. Any other mean

[2021-12-15 01:27] naveensrinivasan commented on #1389
I agree. It's a valid use case.

[2021-12-15 01:37] naveensrinivasan commented on #1389
I wrote an issue on that repo https://github.com/mvdan/sh/issues/777

[2021-12-15 01:38] evverx commented on #1305
@laurentsimon I wrote what I thought in that issue so I'd just leave it at that. As far as I can tell, OSSF (as a whole) already received that kind of feedback about a year ago and as far as I can see nothing has changed since then so it seems it isn't a priority there. Even if it was I'm not sure I understand what the point of OSSF is considering it isn't actually responsible for anything, can't

[2021-12-15 01:58] naveensrinivasan commented on #1305
@evverx  I am sorry to hear that. We appreciate your inputs which have been extremely helpful for the project.

[2021-12-15 02:34] evverx commented on #1305
@naveensrinivasan thanks!

It isn't the end of the world though :-) I'm thick-skinned anyway :-)

To be fair I'm not a saint either (but in my defence I don't represent any organizations officially here on GitHub so the rules I follow are a bit more relaxed)

[2021-12-15 16:12] azeemshaikh38 commented on #1389
IMO, we should start with a basic framework which allows us to start fuzzing. Over time we can keep identifying and adding more APIs as we see fit. The recent nil-ptr crashes during file parsing are the reason I think this will be useful. Even though the parsing libraries we use might be fuzzed, the crashes were due to our logic.

[2021-12-15 16:36] azeemshaikh38 commented on #1305
That's sad to hear @evverx. Hope to see your continued involvement in Scorecard (and potentially other OpenSSF projects). Do let us know if there's anything we can do to make things better in the meanwhile.

[2021-12-15 16:39] laurentsimon commented on #1027
This has been addressed. Closing.

[2021-12-15 16:39] #1027 closed

[2021-12-15 18:21] azeemshaikh38 opened #1393 "Feature: deprecate Pass/Fail model"
Scorecard will deprecate Pass/Fail model along with the confidence score by EO'Q1 2022. This issue tracks the progress of it.

[2021-12-15 21:50] azeemshaikh38 commented on #1015
Sorry for the late response here. I would say it's useful to sign source code tgz files also along with produced artifacts.

Closing this issue for now. Feel free to re-open.

[2021-12-15 21:50] #1015 closed

[2021-12-15 21:53] #1329 closed

[2021-12-15 21:56] azeemshaikh38 commented on #271
This is now on our roadmap. @laurentsimon @asraa could one of you update this issue with a high-level overview of the design?

[2021-12-15 21:57] #861 closed

[2021-12-15 22:04] azeemshaikh38 commented on #1275
This is now fixed

[2021-12-15 22:04] #1275 closed

[2021-12-15 22:05] azeemshaikh38 commented on #1260
Is this now fixed?

[2021-12-15 22:06] azeemshaikh38 commented on #1242
Closing this.

[2021-12-15 22:06] azeemshaikh38 commented on #1245
@laurentsimon assigning to you for now.

[2021-12-15 22:09] azeemshaikh38 commented on #1200
@naveensrinivasan are you still working on this?

[2021-12-15 22:09] #1205 closed

[2021-12-15 22:10] evverx commented on #1260
I don't think it's fixed. https://github.com/ossf/scorecard/pull/1272 is still open because as far as I understand it needs more tests

[2021-12-15 22:12] azeemshaikh38 commented on #223
We decided against doing this IIRC. closing this for now.

[2021-12-15 22:12] #223 closed

[2021-12-15 22:13] azeemshaikh38 commented on #1144
Assigning to @asraa since she's helping with this.

[2021-12-15 22:17] azeemshaikh38 commented on #990
I think @asraa has implemented this now. Can we close this?

[2021-12-15 22:18] azeemshaikh38 commented on #942
Can we close this issue now? @laurentsimon @naveensrinivasan

[2021-12-15 22:18] #962 closed

[2021-12-15 22:20] asraa commented on #990
Yep, looks like it's covered from untrusted code checkout.

[2021-12-15 22:20] #990 closed

[2021-12-15 22:20] #905 closed

[2021-12-15 22:22] azeemshaikh38 commented on #752
Closing this.

[2021-12-15 22:22] #752 closed

[2021-12-15 22:24] azeemshaikh38 commented on #432
closing this bug. Please re-open if there are more AIs here.

[2021-12-15 22:24] #432 closed

[2021-12-15 22:24] #596 closed

[2021-12-15 22:25] azeemshaikh38 commented on #521
With randomized e2e tests, this should be covered.

[2021-12-15 22:25] #521 closed

[2021-12-15 22:27] #239 closed

[2021-12-15 22:28] azeemshaikh38 commented on #1260
Thanks @evverx. Is #1272 the only pending thing here?

[2021-12-15 22:42] evverx commented on #1260
Yes, I think it is.

As far as I can remember I ran into another issue with the "code review" check but I haven't figured out what it was yet so I think it's safe to assume that it has nothing to do with this issue :-)

I'm not sure if it helps but with #1272 applied the systemd code-review score went from
[code]
to
[code]

[2021-12-15 23:10] naveensrinivasan commented on #1389
Looks like the oss-fuzz will support native fuzzing which is a lot easier with the 1.18 release. We should wait until then. https://github.com/google/oss-fuzz/issues/7020

[2021-12-15 23:42] evverx commented on #1389
FWIW considering that scorecard isn't on OSS-Fuzz yet and its testing infrastructure doesn't rely on public OSS-Fuzz corpora I think it would be better to integrate it with https://github.com/google/clusterfuzzlite/ in the sense that as long steps requiring external storage like corpus pruning are behind something like `if github.repository == ...` it's compatible with forks, which in turn makes i

[2021-12-16 01:15] azeemshaikh38 opened #1399 "Feature: Rollout the Dangerous-Workflow check"
Dangerous-Workflow check still does not run in the production cron job. This issue tracks the progress to run it weekly on the 1M repos. Rollout process steps:

1. Enable it in releasetest and verify no breakages.
2. Send out an announcement email to ossf-scorecard-dev and ossf-scorecard-announce that new check is being added.
3. Enable it in production cron.

@asraa assigning to you. Would be goo

[2021-12-16 02:18] laurentsimon opened #1400 "BUG: Token-Permission check outputs wrong score"
The Token-Permission check stores all wokflows' results in a single map. This mean we cannot differentiate between workflow files. Running scorecard on our repo returns 0. That's because we originally only looked for top-level permission being defined, but this recently changed.

[2021-12-16 02:18] laurentsimon commented on #942
yes. Scorecard still gives a score of 0 but it's a bug. Will create an issue for tracking https://github.com/ossf/scorecard/issues/1400

[2021-12-16 02:18] #942 closed

[2021-12-16 06:14] inferno-chromium commented on #1305
@evverx - you embody the true spirit of open source community, and we have learnt from your experience and passion to make open source more secure (in several places, OSS-Fuzz, ClusterFuzzLite and scorecard to name a few). I saw some of your frustation on the mfa project, but I can assure you we can try to resolve it offline (and it is not OpenSSF or its member fault). We are all working very hard

[2021-12-16 09:06] evverx commented on #1305
@inferno-chromium I appreciate the OSS-Fuzz team and what it has been doing for open source projects. In my opinion it's one of the best examples of what projects that communicate with open source developers should look like. I keep contributing there and today I've already opened 2 issues and 1 PR :-) And there (or anywhere else apart from the mfa project really) I have absolutely no problem with

[2021-12-16 15:52] laurentsimon commented on #998
let's close since the URL is not present in the results. @david-a-wheeler also helped with better explaining checks in the checks.yaml.

[2021-12-16 15:52] #998 closed

[2021-12-16 19:26] naveensrinivasan commented on #1107
@inferno-chromium @meder Any updates on this? We use this library extensively

[2021-12-16 23:15] laurentsimon commented on #1014
text has been updated in our docs. We no longer check for package managers' lock file. We're thinking of a more generic solution that relies on package manager's features to enforce pinning: pip's `requires-hashes`, npm's `ci`, etc

[2021-12-16 23:16] #1400 closed

[2021-12-20 16:46] laurentsimon commented on #966
cc @scovetta this thread looks awfully similar to alpha/omega project, as @chrismcgehee pointed out. Let's try to ingest their data in scorecard when it's ready; or even work with them.

[2021-12-20 22:20] laurentsimon commented on #1349
this was brought up in a meeting, and there was no objection.

[2021-12-21 02:20] #1072 closed

[2021-12-21 02:20] #1042 closed

[2021-12-21 02:20] #1034 closed

[2021-12-21 12:12] georgettica commented on #1121
hey! I found this v4 when testing locally
[code]
makes it much faster to make my codebase comply with scorecard

[2021-12-21 17:01] laurentsimon commented on #1121
when running on a local repo `--local=`, not all the checks are run. Checks that are run are those that do not use GitHub APIs. Supported checks are indicated thru a `repos: local` in this file https://github.com/ossf/scorecard/blob/main/docs/checks/internal/checks.yaml#L47

[2021-12-21 17:28] #1349 closed

[2021-12-21 21:04] Dentrax opened #1406 "add ability to pass ignore list"
**What would you like to be added**:

We are skipping the binary-check for the `testdata` folders as implemented in [`isTestdataFile()`](https://github.com/ossf/scorecard/blob/090ae4f0bbc3b6956971bec83530c86696e1e75d/checks/fileparser/listing.go#L134) function.

Not sure but passing a new `ignoreDirs []string` field to struct [CheckRequest](https://github.com/ossf/scorecard/blob/090ae4f0bbc3b69569

[2021-12-21 21:31] laurentsimon commented on #1406
Thanks for the issue.

Can you provide a repo example where you're observing too many false positives?

You're correct there is a risk if the file is loaded and executed by someone, for example unit tests. If you're a repo owner, we'd expect you to know what you're doing with the executables (scorecard only helps you flag potential risky practices). One legitimate use case may be fuzzing inputs.

[2021-12-22 02:20] #1025 closed

[2021-12-23 07:08] evverx commented on #1256
To judge from https://github.com/ossf/scorecard/pull/1408#issuecomment-999806097, it should be addressed by allowing specifying paths in config files and while I don't think it's ideal it's one way to do it and it has its advantages. To level the field though I think `scorecard` shouldn't filter the "testdata" directories because it affects the "raw" results.

[2021-12-23 07:08] #1256 closed

[2021-12-23 07:40] evverx commented on #1305
Looks like the issue can be closed. As far as I understand it should be addressed by analogy with the "binary-artifacts" check: https://github.com/ossf/scorecard/issues/1256#issuecomment-1000091579

[2021-12-23 07:40] #1305 closed

[2021-12-23 07:42] evverx commented on #1306
As far as I can tell, it was fixed. Closing. Thanks!

[2021-12-23 07:42] #1306 closed

[2021-12-23 07:43] evverx commented on #1257
As far as I understand all "corner" cases should be addressed by config files by analogy with the binary-artifacts check: https://github.com/ossf/scorecard/issues/1256#issuecomment-1000091579. Closing this one.

[2021-12-23 07:54] evverx commented on #1304
As far as I understand the idea is to promote that badge for whatever reason so probably if it kept popping up everywhere it would have more exposure. Closing.

[2021-12-23 07:54] #1304 closed

[2021-12-23 18:25] laurentsimon opened #1415 "Feature: improve SARIF presentation in GitHub dashboard"
For each SARIF "rule", we currently use the check name. There are some limitations to this approach:

1. For example, for the pinned-dependencies check, each result has the title `Pinned-Dependencies`. There are various "rules"/sub-checks within this check: pinned workflow dependencies, pinned docker file images, pip install, go install, curl | bash, etc.

It may be beneficial to update the title

[2021-12-23 18:25] laurentsimon commented on #1415
cc @azeemsgoogle

[2021-12-23 22:31] laurentsimon opened #1417 "Feature: add support for keyless signed release"
We should add support for keyless cosign signing in the Signed-Release check.

cc @asraa

[2021-12-23 22:35] laurentsimon commented on #935
another idea around improving the vulnerability check is the following. Since scorecard always works at HEAD for a repo, it's likely all repos have their OSV/CVE vulnerabilities fixed at HEAD on main. I think we need a way to assess existing vulnerabilities, and the time it take to be fixed. Some examples:
- retrieve vulnerabilities from CodeQl via API, their creation time, closing time, title
- r

[2021-12-23 23:16] laurentsimon opened #1418 "BUG: CodeQl wrongly detected"
We currently look for the string `github/codeql-action` in a workflow to detect CodeQl.
However, strings like `github/codeql-action/upload-sarif` don't indicate codeQl is enabled, only thaht a tool downloads a SARIF file to GitHub. Scorecard's own action does use it, for example.

We should be checking for the presence of `github/codeql-action/analyze` instead, I think. See https://github.com/gith

[2021-12-24 01:00] laurentsimon opened #1420 "BUG: SAST and CI-Tests wrongly succeed when action is enabled"
SAST and CI-Test use the `PR.App.Slug` field to determine if a SAST/CI tool is used. When running scorecard's GitHub action, we detect our own action as a SAST/CI tool.

We should exclude it. The URL can be used to determine the name of the tool run, e.g., https://api.github.com/repos/laurentsimon/scorecard-action-test-3/check-runs/4143313445

[2021-12-24 01:00] laurentsimon commented on #1420
@azeemsgoogle is this something you'd like to add to the repo interface?

[2021-12-24 01:16] #1418 closed

[2021-12-24 01:58] laurentsimon commented on #1074
I'm doing some dogfooding. Given the issue https://github.com/ossf/scorecard/issues/1415, I've created a second action to see if folks prefer the original one or the v2 one. This dogfoodv2 creates different result entries in the dashboard for all checks, including the Branch-Protection settings, Dependency-Update-Tool and SAST (those had a single entry in the dasboard in the previous version). Not

[2021-12-24 02:41] laurentsimon commented on #1256
good point. We'll remove it once we have the raw results ready.

[2021-12-24 02:43] laurentsimon commented on #1257
@evverx just be sure: is there still a problem with `labeler`? Anything we can to improve the results while w're working on the config files/policy?

[2021-12-24 06:52] evverx commented on #1257
Sorry. I wrote that comment semi-automatically. To judge from
[code]
it should be fixed once https://github.com/ossf/scorecard/issues/1100 is closed. And when that happens as far as I understand it should be possible to use config files to prevent scorecard from complaining about it.

I have to admit I'm not sure I like the idea of moving everything to config files because I think scorecard should

[2021-12-25 17:57] rmjspaz commented on #1420
something you'd like to add to the repo interface, i.e. a way to retrieve the tool name from the run/Slug?

U

[2021-12-26 02:22] #1051 closed

[2021-12-26 02:22] #965 closed

[2021-12-26 02:22] #950 closed

[2021-12-28 17:31] laurentsimon opened #1427 "Feature: encourage developers to share SAST results"
Platforms like lgtm.com and sonarcloud.io enable SAST and make the results public. I think we should encourage this among projects. Given this issue https://github.com/ossf/scorecard/issues/1268, we could then score the SAST check as follows:
1. If a SAST tool is enabled, give 4 points
2. If the SAST tool is enabled on PR, give additional 3 points
3. If the results are public, give an additional 3

[2021-12-28 17:31] laurentsimon commented on #1427
cc @evverx

[2021-12-28 17:49] evverx commented on #1427
I'm not sure about sonarcloud.io but LGTM is usually enabled outside GitHub and if it isn't used to analyze PRs it's hard to tell whether it's actually used by projects. I think the presence of files like https://github.com/systemd/systemd/blob/main/.lgtm.yml and https://github.com/systemd/systemd/tree/main/.lgtm/cpp-queries could be a hint but I don't think projects have to keep those files if th

[2021-12-28 17:53] evverx commented on #1427
I'd add that with Coverity it isn't even clear what "public" means :-) Even when reports are "public" there has to be a Coverity account. Without it, Coverity asks people to sign it as far as I know.

[2021-12-28 18:02] laurentsimon commented on #1427
Thanks. By public, I meant that the results are available for anyone to see.

Do you know if there are public APIs to retrieve the data? For example, systemd's results seem to be available at https://lgtm.com/projects/g/systemd/systemd/?mode=list... but it's too brittle to parse html this way, so I'd rather use a REST API. I found [this](https://lgtm.com/help/lgtm/api/api-v1) but I've not looked a

[2021-12-28 18:13] evverx commented on #1427
Last time I checked the license of LGTM explicitly forbade people from using its API if it wasn't related to sending code of open-source projects hosted on GitHub. I'm not sure if anything has changed since then though. It was acquired by GitHub at some point.

Coverity Scan isn't responsive usually so I wouldn't even try.

[2021-12-28 18:35] evverx commented on #1427
According to https://lgtm.com/tos

[2021-12-28 18:37] laurentsimon commented on #1427
I think we'd be using the API only for open-source project hosted on GitHub. cc @josepalafox

[2021-12-28 18:40] josepalafox commented on #1427
If you can check whether sast is enabled via API your fine I believe.

[2021-12-28 18:45] laurentsimon commented on #1427
Thanks @josepalafox. Another idea is to mine the data to infer time to fix, etc., and use this info in the Vulnerabilities check https://github.com/ossf/scorecard/issues/935#issuecomment-1000549751

[2021-12-28 18:54] #894 closed

[2021-12-28 18:55] laurentsimon commented on #897
@naveensrinivasan is there a special command/keyword we can use to say "this issue should not be closed automatically by the bot"?

[2021-12-28 18:57] laurentsimon opened #1428 "Feature: do not filter `testdata` in results once we have raw data support landed"
See https://github.com/ossf/scorecard/issues/1256#issuecomment-1000618647

The testdata folders should be filtered out thru the policy

[2021-12-28 18:58] laurentsimon commented on #881
We now have support for local repos, but it's limited to a few checks that only use file content and not GitHub APIs.

[2021-12-28 19:10] laurentsimon commented on #1257
I actually think this issue has been addressed. The code now parses the GitHub action instead of using a simple regex.
The `Debug` message above does not reduce the score, it's only a debug message. The `Warn` messages indicates something that a user may address, but not debug messages. The reasoning is that we expect most users to not use the `verbosity Debug` flag.
We don't consider `pull-reques

[2021-12-28 19:25] laurentsimon commented on #859
cc @josepalafox please feel free to suggest ideas. They may be other fields we can look for besides the general. user description fields, maybe.

[2021-12-28 19:47] evverx commented on #1257
I think what I was trying to say is that `scorecard` should complain about it somehow to let people decided whether actions like that should be kept or not. Initially I singled out labeler because at the time "pull_request_target" was used there without any restrictions. Since I didn't think it was useful enough to warrant that I was going to throw it away but was outvoted :-) because it turns out

[2021-12-28 20:06] evverx commented on #1427
On second thought considering that projects can be added to LGTM by virtually anybody I think it should be safe to say that if it isn't used to analyze PRs it isn't used in general.

Now that restrictions are slowly being lifted It would be great if LGTM could also be used to analyze project hosted elsewhere: https://sourceware.org/bugzilla/show_bug.cgi?id=28659#c2 :-) Seriously though, considerin

[2021-12-28 20:13] laurentsimon commented on #1257
the default policy will be shipped within scorecard and used by default. Foe example `--policy default` or something along these lines.

[2021-12-28 21:07] evverx commented on #1257
I think as long as the default policy is supposed to cover most corner cases it should be fine (and probably it doesn't even matter how it's implemented). It's just that I was initially under the impression that it was targeted at people somewhat specializing in writing those policies and personally I wouldn't want to do that because it would be one more thing to maintain and keep up to date.

[2021-12-28 21:43] evverx commented on #1257
FWIW @laurentsimon I think this issue can be closed. I'd go ahead and close it but since it was already reopened once I'm not sure if there is anything else that should be addressed here

[2021-12-28 22:56] laurentsimon commented on #1257
it's just to allow use cases where users want a different policy from the default one. Today, the score is too coarse to allow for fine-grained policy, which is why we want to expose "raw" results. But we wont force users to write these policies, we'll have a default one.

[2021-12-28 22:56] #1257 closed

[2021-12-29 00:37] evverx commented on #1257
The problem is that power users like that are usually best equipped to improve default policies. If it's much easier for them to keep their changes "downstream" they usually do just that. I mean, for example, it's hard to deal with selinux policies so people just have to report their issues upstream and the default policy gets better :-)

Good to know. Thanks!

[2021-12-29 01:01] evverx commented on #1427
Looking at https://sonarcloud.io/terms.pdf, it seems sonarcloud forbids automated applications as well

Account may not be opened or shared by multiple people or an automated software application
(e.g., an Internet bot).

date shall be your automatic acceptance of this Agreement.

According to https://scan.coverity.com/policy

whatever that means :-)

[2021-12-29 02:15] #1112 closed

[2021-12-29 16:19] laurentsimon commented on #1257
I agree we want power users to help us make the default policies better. But there are cases when different companies/teams view things differently about what's appropriate or not. Policies will allow them to do what they want.

[2021-12-30 02:04] evverx commented on #1257
Can't argue with that but given that I've never seen anyone from those companies asking for anything here on GitHub publicly (or even discussing it) I can only speculate (while I'm pretty sure there are specific use cases that those policies should cater to). Anyway, not that it matters, but all things considered I agree that (unlike some decisions that I completely disagree with) those policies a

[2022-01-03 02:19] #783 closed

[2022-01-03 02:19] #759 closed

[2022-01-03 04:18] azeemshaikh38 commented on #1420
It seems non-intuitive to me that users can't improve their SAST/CI scores by enabling Scorecard actions. We shouldn't ignore Scorecard action in these checks IMO.

If these checks seem to "wrongly succeed", then I would argue that the way we dole out points in these checks is where the problem lies. Maybe we should re-think the scoring system in these checks instead?

[2022-01-03 22:24] josepalafox commented on #1427
I know the folks at Coverity working on their inventory if its helpful I can have them come to an openSSF meeting. LMK.

[2022-01-04 11:51] evverx commented on #1427
I'm not sure what the inventory is but it would be great if they could make reports really public by default when "Project summary and defects are viewable in read-only mode" is set to true. The systemd CI tends to send emails to contributors who it thinks introduce new defects and if they aren't particularly familiar with Coverity they usually end up clicking on the "add me to the project" button

[2022-01-04 16:17] evverx commented on #1427
I forgot to say that the previous comment is more or less applicable to CodeQL/Scorecard Action (or any other action utilizing the security tab) as well. It would be great if that dashboard could be made partly public. Though it should probably go to https://github.com/ossf/scorecard/issues/1352.

[2022-01-04 16:47] evverx commented on #1352
I think I mentioned this elsewhere but since this issue is supposed to track issues in tools scorecard recommends I'd add a link to a couple of Dependabot issues that have been open for a long time and are unlikely to be fixed anytime soon in hopes it could maybe affect anything: https://github.com/systemd/systemd/issues/21343#issuecomment-970617711

[2022-01-04 16:52] laurentsimon commented on #1352
Add pinning variable to GitHub starter workflows https://github.com/actions/starter-workflows/issues/1301

[2022-01-04 17:33] evverx commented on #1352
It's a long shot but it would be great if LGTM could be used to analyze projects that aren't hosted on GitHub. From https://sourceware.org/bugzilla/show_bug.cgi?id=28659:

I'm not sure if it helps but that was the "elfutils" project, which I think is pretty critical since it's one of those dependencies that's basically everywhere (including systemd as it turned out :-))

[2022-01-04 18:00] evverx commented on #1427
@laurentsimon out of curiosity was the Alpha-Omega project approved in the end? It's just that I'm not sure I agree with the Alpha part at least and it would be interesting to figure out where it's going.

[2022-01-04 18:08] evverx commented on #1427
Just to clarify, what I know about it is based on the public proposal I came across in December I think. At the time it was a draft and it could be that it might have changed and I don't know about it.

[2022-01-04 18:09] laurentsimon commented on #1427
it's going ahead. I think the official announcement will be made in March.

[2022-01-04 18:18] evverx commented on #1427
Got it. Thanks! Hopefully those one-off "long-term" engagements will be more helpful than they usually are.

[2022-01-04 18:40] laurentsimon commented on #672
@naveensrinivasan is this issue still a problem?

[2022-01-04 18:47] naveensrinivasan commented on #672
It is not an issue anymore! Thanks

[2022-01-04 18:47] #672 closed

[2022-01-04 18:48] laurentsimon commented on #1420
good idea. I initially thought scorecard should be running silently in the background and not affect the results. But you make a good point.

I agree the scoring system is not great for those checks. I think it requires more information about SAST tools. Originally I wanted to classify what features or vulnerability classes each tool can find, but this seems to ambitious at this point. A more acce

[2022-01-04 20:30] azeemshaikh38 commented on #1420
Discussed offline: can update the SAST check to use `ListSuccessfulWorkflowRuns` API. Basically, find all SAST related workflows and check for successful runs of this workflow.

[2022-01-04 20:35] laurentsimon opened #1434 "Question: which category will scorecard action be in?"
The scorecard GitHub action uses the "Code Scanning" property https://github.com/actions/starter-workflows/blob/main/code-scanning/properties/scorecards.properties.json#L6

When clicking New workflow on the Action tab, e.g., in https://github.com/ossf/scorecard/actions/new, only 3 categories are presented: Deployment, Continuous integration and  Automation. I don't see a Code Scanning category.

W

[2022-01-04 20:37] josepalafox commented on #1434
Currently these show under the security tab after clicking "set up code
scanning" we are in progress migrating everything in the security tab into
the main actions page under code scanning, so yes there will be a new
category in the coming weeks.

On Tue, Jan 4, 2022, 12:35 laurentsimon ***@***.***> wrote:

[2022-01-04 20:38] laurentsimon commented on #1434
awesome, thanks!
cc @azeemsgoogle

[2022-01-04 20:38] #1434 closed

[2022-01-04 20:40] laurentsimon commented on #1415
chatted offline with @azeemsgoogle We will keep the current results as-is for the next release. Once we have the raw results, we will use them to have more granular "rules".

[2022-01-04 20:40] #1415 closed

[2022-01-05 00:26] josepalafox commented on #859
I understand the issue correctly, @jhutchings1 suggested you could look into implementing OIDC on the scorecards service.

https://github.blog/changelog/2021-10-27-github-actions-secure-cloud-deployments-with-openid-connect/

[2022-01-05 00:57] laurentsimon commented on #859
Scorecard has a check called "Contributors" that attempts to list which organization the contributors work for. We don't control external repos' contributors, we're only running scorecard on them. Currently, we're using some information from the user's profile, but the information has no validation. For example, anyone can add "Google" to it. We're wondering if there's way to validate this informa

[2022-01-05 01:08] laurentsimon commented on #859
one second thought, I think we updated the code and we no longer use the profile's company names, so the data may be correct and not spoofable. It does not seem to work for me though. Not sure if there's something special to make it public or not.

[2022-01-05 01:18] laurentsimon commented on #1371
I found an API to check for it https://github.com/google/go-github/blob/85425ec5f1e4118be4b578e5b6ad07f9ea32cf5f/github/repos.go#L601

[2022-01-05 01:20] laurentsimon commented on #859
@rarkins what shall we check for in renovabot config file to see if this is enabled?

[2022-01-05 01:32] naveensrinivasan commented on #1371
That is cool!

[2022-01-05 01:42] laurentsimon commented on #1371
should this be its own check or inside Dependency-Update-Tool?

[2022-01-05 01:52] naveensrinivasan commented on #1371
IMO no. Probably good for discussion.

[2022-01-05 18:39] laurentsimon commented on #1352
https://github.com/actions/starter-workflows/issues/1299, which may be on the way to be fixed by @varunsh-coder

[2022-01-05 19:44] evverx commented on #1352
If it still isn't possible to figure out whether the workflow permissions are set to "Read repository contents permission" using GH API I think it should be added to the list so that scorecard wouldn't penalize projects without explicit permissions but with that flag on much.

[2022-01-06 00:13] #701 closed

[2022-01-06 00:13] #710 closed

[2022-01-06 00:13] #725 closed

[2022-01-06 17:45] laurentsimon commented on #935
There is also https://docs.github.com/en/rest/reference/code-scanning that we may use to retrieve existing vulnerabilities from scanners

[2022-01-06 20:54] naveensrinivasan commented on #1389
We could look at this when we migrate to go 1.18 especially because it is going to be builtin and is going to be supported by oss-fuzz https://github.com/google/oss-fuzz/issues/7020

[2022-01-07 04:03] azeemshaikh38 commented on #1056
We are hoping to start work on this soon. Re-opening.

[2022-01-07 04:50] chrismcgehee commented on #725
LGTM. Nice work, Laurent!

[2022-01-07 22:37] naveensrinivasan opened #1448 "Issue and Comment structs aren't consistent"
The issue date is a pointer
https://github.com/ossf/scorecard/blob/192ae4d18fbaaeb7d2510b1116c26c817825e210/clients/issue.go#L22

whereas the commit date is not a pointer
https://github.com/ossf/scorecard/blob/192ae4d18fbaaeb7d2510b1116c26c817825e210/clients/commit.go#L21

This needs to be consistent.

[2022-01-07 22:37] naveensrinivasan commented on #1448
@azeemshaikh38 FYI...

[2022-01-08 01:03] laurentsimon opened #1451 "BUG: Allow "neutral" results for workflow listing"
In the SAST check, we allow both "success" and "neutral" for a check result. I think we need to do the same for workflow run in https://github.com/ossf/scorecard/blob/main/checks/sast.go#L30

To be confirmed.

cc @azeemsgoogle

[2022-01-08 01:05] laurentsimon commented on #1420
I did some digging and I don't think listing workflow runs works. The SAST check uses the Check API because it allows listing not just workflow runs, but also GitHub apps. See doc in https://docs.github.com/en/rest/reference/checks `You can create apps that perform continuous integration, code linting, or code scanning services and provide detailed feedback on commits`

[2022-01-08 03:47] laurentsimon commented on #1105
Done.

[2022-01-08 03:47] #1105 closed

[2022-01-09 02:23] #1207 closed

[2022-01-10 02:21] #699 closed

[2022-01-11 01:55] laurentsimon commented on #1420
updates: GitHub runs apps. Some apps include `lgtm-com`, `sonarcloud`, `github-actions`, `github-code-scanning` and can be identified by their slug or their app ID. So we can identify non-GitHub apps.
For GitHub-owned apps like GitHub actions, the workflow and job name is set by users: in this case we can parse the action and look for the action used + successful workflows, as suggested in https:/

[2022-01-11 02:21] #1217 closed

[2022-01-11 17:34] azeemshaikh38 commented on #1448
Thanks for bringing this up. I think #1242 should have handled this, but I mistakenly closed the issue before completing it. I'm marking this as duplicate of #1242

[2022-01-11 17:35] #1448 closed

[2022-01-11 17:59] azeemshaikh38 commented on #1097
@laurentsimon, if this is the case, then moving to REST API won't solve the problem. Basically, we'll need PAT if we want to run Branch-Protection. Have you tried running the Action without the Branch-Protection check if that works?

[2022-01-11 18:27] laurentsimon commented on #1097
yes I meant to mention that. It may be the case that REST APIs will never work. I have a TODO item to test it out in the action using `curl`. Will post my result. But I'm afraid you''re right, @azeemshaikh38

[2022-01-11 18:57] azeemshaikh38 commented on #1097
SG. Will assign this to you for now. Can close this issue after confirming.

[2022-01-11 23:26] laurentsimon opened #1469 "Feature: add support for all unpinned npm commmands"
We already look for npm install, update and install-test. We need support for commands such as:
`npm pkg set`, `npm pkg delete`, `npm exec`, `npx`, `npm run`, `npm set-script`: those allow executing code and do not enforce pinning by default.

See https://docs.npmjs.com/cli/v8/commands/ for a list of commands.

[2022-01-12 00:05] laurentsimon commented on #1399
friendly ping. Do we want this done for V4 release?
We need to remove the `ENABLE_DANGEROUS_WORKFLOW` in the CLI code to enable it. Shall I create a different tracking issue for that specifically?

[2022-01-12 00:56] azeemshaikh38 commented on #1399
I think step 1 of https://github.com/ossf/scorecard/issues/1399#issue-1081667293 is done. Let's do 2 & 3. @laurentsimon could you send out an announcement on scorecard-dev and scorecard-announce that we are enabling this check? I will work on enabling this both on prod cron and on the CLI. Will need to start a new prod run of the cron job after that.

[2022-01-12 02:55] laurentsimon commented on #1420
there is an additional complication I've encountered: `ListSuccessfulWorkflowRuns` returns as per commit runs. If a PR contains N commit, the runs will be returned for these N commits, then for the commits in the next PR, etc. The API allows up to 100 results per page, but it's not straightforward

[2022-01-12 03:36] azeemshaikh38 commented on #1420
Hmm, tricky. The API allows us to filter by `branch` and `event` too. Wonder if that can help. Exploring the REST and GraphQL APIs bit more, will update here if I find anything.

[2022-01-12 03:39] azeemshaikh38 commented on #1451
Can a workflow have a "neutral" status?

[2022-01-12 04:38] laurentsimon commented on #1399
I will. How about the License check, is it enabled already? Both in CLI and cron job?

sg

[2022-01-12 15:50] azeemshaikh38 commented on #1399
Yep. Looks like we forgot to gate this check when it was introduced and its now enabled by default everywhere.

[2022-01-12 16:32] laurentsimon commented on #1420
an alternative (first iteration) solution we may consider is to identify workflows by their names, and map these names to the check run's name. So we would:
1. list workflow names for each actions of interest
2. compare the names to check runs' names for each PR

There are corner cases, e.g. if a dev gives the exact same name to 2 different workflow. But this may be a good first step to improve th

[2022-01-12 16:34] laurentsimon commented on #1451
I suppose so, because workflow runs appear within check runs under the GitHub app's name "github-actions". So my current understanding is that a workflow run is just a type of check run.

cc @evverx may know better

[2022-01-12 17:14] azeemshaikh38 commented on #1399
I have started a new cron run. Should be completed by Friday. Closing this for now.

[2022-01-12 17:14] #1399 closed

[2022-01-12 20:52] evverx commented on #1451
Looking at https://github.com/ossf/scorecard/issues/1238#issuecomment-972783040 I think the idea was to wait for examples of GHActions that can set their status to neutral. Even though I have never seen actions like that I think if they exist in the wild it would probably make sense to add "neutral" there too.

[2022-01-13 00:12] laurentsimon commented on #1420
follow-up on my last comment. The name in the check run is `Job Name` is `-name` is present, `jobname` otherwise:
[code]

I've checked the partnered workflows for code scanning https://github.com/actions/starter-workflows/blob/main/code-scanning and found that
1. A large number of workflows don't set the name field, so it uses `jobname`
2. in the majority of cases, the names is a distinct string,

[2022-01-13 22:31] david-a-wheeler opened #1476 "Feature: Detect if SBOMs generated"
**Is your feature request related to a problem? Please describe.**

Past problems, including the
log4j vulnerability Log4Shell, have made it abundantly clear to many people that it's important
to be able to quickly figure out what is included in some software.
It's be good to be able report on whether or not a project provides a software bill of material (SBOM),
because that tells potential users

[2022-01-14 17:47] laurentsimon opened #1479 "BUG: semantic version in SARIF is incorrect"
We expect the `"semanticVersion": "3.2.1-116-gf7b329e"` in SARIF result. However it currently shows `"semanticVersion": "gf7b329e"`.

Steps to reproduce:
Use the dockerfile https://github.com/ossf/scorecard-action/blob/main/Dockerfile to run scorecard.
A command example is provided https://github.com/ossf/scorecard-action/blob/main/Dockerfile#L15

[2022-01-14 19:34] #1479 closed

[2022-01-18 03:32] cqueern opened #1485 "Use compressed versions of the two png logos"
Optimized images load faster and consume less data.  Currently the two png files in the [artwork directory](https://github.com/ossf/scorecard/tree/main/artwork) are not optimized.

Suggest using the two attached png files instead of the two png files that are currently available.

* openssf_security.png is currently 197kb and would be reduced to 126kb (about 36% savings).
* openssf_security_alt.pn

[2022-01-18 17:46] laurentsimon commented on #1420
I think I found a way to do this. Check runs have a `check_suite_id`, and it's possible to list workflow runs by `check_suite_id` as well: this gives us the workflow ID which we can map to a file - and therefore an action. I'll work on a PR to see if it actually works or not :-)

[2022-01-18 22:26] naveensrinivasan commented on #1485
Thanks! Could you open a PR for this?

[2022-01-18 23:26] #1359 closed

[2022-01-18 23:31] laurentsimon opened #1488 "BUG: Maintained check list issue update from non-maintainers"
In the Maintained check, we look for issue thru `c.RepoClient.ListIssues()`. I think anyone can create issues, but that does not indicate that the maintainers are active. We should either look for closed issues or comments by maintainers (users who have committed to the main branch, for example)

I have not looked in details, though.

cc @azeemsgoogle

[2022-01-19 16:13] azeemshaikh38 commented on #193
@laurentsimon I think we can close this now?

[2022-01-19 17:10] laurentsimon commented on #193
Yes!

[2022-01-19 17:10] #193 closed

[2022-01-19 17:11] laurentsimon commented on #1121
Closing since v4 is out.

[2022-01-19 17:11] #1121 closed

[2022-01-19 17:11] laurentsimon opened #1490 "DISCUSSION: v5 milestone"
Let's start collecting and tagging issues with the v5 milestone.
- badges
- raw results (beta release)

[2022-01-19 17:12] laurentsimon commented on #1490
cc @azeemsgoogle @naveensrinivasan

[2022-01-19 17:44] naveensrinivasan opened #1491 "Checks within the SecurityPolicy checks makes it hard to test"
The security policy check instantiates repo client within the check which makes it hard to unit test
https://github.com/ossf/scorecard/blob/fc874315074dd947bf765199da8f3ac7dd1cc1da/checks/raw/security_policy.go#L78-L83

[2022-01-19 18:08] #1485 closed

[2022-01-20 14:08] justaugustus commented on #1273
I _might_ be able to pick this up after https://github.com/ossf/allstar/pull/98.
(Just commenting to shake up the stale bot...)

[2022-01-20 15:38] azeemshaikh38 commented on #1273
Thanks @justaugustus!

[2022-01-20 18:49] richsalz opened #1499 "Feature: use .gitignore for binary-artifacts when --local is used"
This could be fixed in the documentation saying "do 'make clean' or its equivalent first"

When scanning a local folder, it would be nice if the `.gitignore` file were parsed to ignore things that wouldn't be in the git repo.

[2022-01-20 19:01] richsalz opened #1500 "BUG: github workflow actions not parsed right?"
**Describe the bug**
I am seeing a warning on every line in .github/workflows/** that has `uses: actions/checkout@v2`
I was running it on my local clone via `--local=openssl` flag.

**Reproduction steps**
Look at the output for something like openssl.

**Expected behavior**
I don't expect to see warnings.  Is the tool thinking the `@v2` is like a pinned hash?

Or am I just wrong?

[2022-01-20 19:37] justaugustus commented on #1273
Working on this in https://github.com/ossf/scorecard/pull/1502.

[2022-01-20 19:55] laurentsimon opened #1503 "Feature: support for GCB's cloud build"
Add support for cloud yaml for dependency pinning

[2022-01-20 20:18] nibanks opened #1504 "403 Resource protected by organization SAML enforcement"
**Describe the bug**

I followed the steps [here](https://github.com/marketplace/actions/ossf-scorecard-action) to add a scorecard action to [microsoft/msquic](https://github.com/microsoft/msquic) with [this PR](https://github.com/microsoft/msquic/pull/2310). The Action [passed](https://github.com/microsoft/msquic/actions/runs/1724043976) on the PR.

After I merged the PR, the action [failed](http

[2022-01-20 20:52] azeemshaikh38 commented on #1504
Thanks for bringing this to our attention @nibanks. Is it possible that [SAML authentication](https://docs.github.com/en/enterprise-cloud@latest/authentication/authenticating-with-saml-single-sign-on/about-authentication-with-saml-single-sign-on) is enabled on you GitHub organization? If so, you'll need to follow the instructions [here](https://docs.github.com/en/enterprise-cloud@latest/authentica

[2022-01-20 21:00] nibanks commented on #1504
Ah, yes. The Microsoft org does use SSO. I just enabled that for the PAT and reran the latest workflow and it [passed](https://github.com/microsoft/msquic/runs/4888355764?check_suite_focus=true). So I'd definitely update the PAT instructions to note this edge case and how to fix for it.

Thanks!

[2022-01-20 21:19] laurentsimon commented on #1504
cc @olivekl

[2022-01-21 01:56] justaugustus commented on #1382
Reattempting in https://github.com/ossf/scorecard/pull/1506.

[2022-01-21 02:19] laurentsimon commented on #1499
Neat idea. Thanks for suggesting

[2022-01-21 02:23] laurentsimon commented on #1500
`@v2` is a pinned version: those are not immutable and can change under the hood.
The check `Pinned-Depedencies` looks for `hash pins`, which ensure the exact same copy is used each time. If an action we re to be compromised, you would not be immediatly vulnerable and giving an attacker RCE.

We warn for both GitHub-owned actions and third-party actions. In terms of score, we give 8 if all third-p

[2022-01-21 03:04] chrismcgehee commented on #1194
We do parsing of makefiles in scorecard? Or are you saying that [Makefile](https://github.com/ossf/scorecard/blob/main/Makefile) is hard to maintain?

[2022-01-21 03:42] chrismcgehee commented on #608
Here's my opinion: we should not do unpinned dependency checks for dependency types not supported by dependabot. If a developer modifies their code to clone a git repo at a certain commit hash, chances are that hash will not be updated for years, if ever. Yes, they will be protected from someone pushing malicious code to that git repo in the future, but they will also miss out on vulnerability and

[2022-01-21 03:45] #1382 closed

[2022-01-21 03:48] azeemshaikh38 commented on #1194
The feature ask is to have a Makefile parser similar to the GitHub workflow parser we currently have. It can potentially be used to analyze build scripts in repos.

[2022-01-21 03:53] chrismcgehee commented on #1194
Ok, it'd be used for things like https://github.com/ossf/scorecard/issues/884?

[2022-01-21 04:04] azeemshaikh38 commented on #1194
Yes, #884 would be a great usecase for this. @laurentsimon fyi.

[2022-01-21 04:23] chrismcgehee commented on #1488
I could work on this one. The [Issue](https://docs.github.com/en/graphql/reference/objects#issue) object has `closedAt` so it will be easy to check if the issue has been closed in the past 90 days. It also has a `comments` field which has an `authorAssociation` field. We can check if any comments from the past 90 days are from one of these [personas](https://docs.github.com/en/graphql/reference/en

[2022-01-21 04:25] azeemshaikh38 commented on #1504
Thanks for confirming @nibanks. @olivekl @laurentsimon assigning this to you both. Let's update the documentation before closing this issue.

[2022-01-21 04:41] azeemshaikh38 commented on #1488
That's a pretty neat solution @chrismcgehee, I like it! If it's possible to figure out the persona who `opened`, `closed` or `updated` the issue, that'd be awesome. If not, let's proceed with the `comment` and `authorAssociation` part of it for now and we can iterate on it further. Wdut?

[2022-01-21 05:02] justaugustus commented on #1273
The first bit is merged in https://github.com/ossf/scorecard/pull/1502.
Before I continue, I want check in on something...

What's the motivation behind https://github.com/ossf/scorecard/blob/0d76deace2b3edd9216a15ec5a8387130acd8db4/checker/detail_logger_impl.go#L42-L50?

More specifically, the function argument, `(msg *LogMessage)`:

[code]

`*LogMessage` makes it hard to do `logger.Info3()` with

[2022-01-21 05:25] justaugustus commented on #1491
@naveensrinivasan -- my team in Kubernetes Release Engineering maintains a GitHub package, which is pretty well-tested and would allow you to offload this.

Could you look around and see if some of this fits your needs?

https://github.com/kubernetes-sigs/release-sdk/blob/main/github/github.go

[2022-01-21 05:38] justaugustus commented on #779
(Noting the official thread for SSH signing: https://github.com/github/feedback/discussions/7744)

[2022-01-21 14:22] inferno-chromium opened #1507 "New check: Security Audit check"
**Is your feature request related to a problem? Please describe.**
No way for anyone to check if a security audit was done for project.

**Describe the solution you'd like**
Should check against OpenSSF Security Reviews project to give a pass or fail whether a public security audit result is available. Can start with 0/10 score first (and need some audit pass/fail result in that repo itself). Late

[2022-01-21 14:25] inferno-chromium opened #1508 "New check: Check for vulnerabilities in your dependency trees"
**Is your feature request related to a problem? Please describe.**
Right now, vulnerabilities check gives vulns in the package itself, but does not say anything about known vulns in its deps tree.

**Describe the solution you'd like**
Either use Open Source Insights api or something similar, to create a new check DepsVulns and provide information on known vuln in the deps.

**Describe alternatives

[2022-01-21 14:57] richsalz commented on #1500
I think *something* should be said, since in my experience `@v2` is often used.  Is there a way to find out what the hash value would be, so that I could use it instead of `@v2`?

[2022-01-21 16:22] laurentsimon commented on #1508
cc @naveensrinivasan

[2022-01-21 16:27] laurentsimon commented on #1507
related thread https://github.com/ossf/security-reviews/issues/58

Where will Omega project store their results for audits? cc @scovetta

[2022-01-21 16:29] azeemshaikh38 commented on #1500
The simplest way to find out the hash value would be to go to the release page and find the associated commit SHA:

![image](https://user-images.githubusercontent.com/4825078/150563145-df2c8c7a-3d10-4c5a-889c-4885b2346e50.png)

![image](https://user-images.githubusercontent.com/4825078/150563363-faefe0b5-4e89-4ac5-8aaf-a004cbbd259c.png)

Hope that helps. Let me know if that fixes the issue.

@laur

[2022-01-21 16:30] laurentsimon opened #1509 "Feature: unit test need to verify Logger messages"
We've started adding more unit tests, thanks @naveensrinivasan

I've noticed that many of the new unit test validate the score, but not the logging messages. The log messages are important to ensure we give the right level of info to users, and also important for SARIF: changes affect the way the results will show in the GH dashboard.

We have functions under `utests/`, such as `ValidateTestReturn

[2022-01-21 16:50] naveensrinivasan commented on #1508
I agree. If we are going down the rabbit hole of the dependency tree why just look into Vulns alone. What about the health of the transitive dependency tree?

![image](https://user-images.githubusercontent.com/172697/150566521-1606e933-c2c7-437f-87a0-81851c25fbea.png)

We already have this Scorecard data in our BigQuery. The steps involved are dependency tree and getting scorecard data from BigQue

[2022-01-21 16:55] scovetta commented on #1507
We haven't decided yet, but I'm leaning toward a [SCIM](https://github.com/microsoft/scim) store for assertions (perhaps "Omega processed pkg:npm/foo@1.2.3 and did not find a critical vulnerability"). But we're a ways off from that -- I'd also be fine making it queryable -- but we'd have to figure out exactly what kind of information we want to provide -- obviously, we're not going to drop 0-days

[2022-01-21 16:58] laurentsimon commented on #1507
cc @oliverchang from OSV. I suppose we should follow the OSV naming convention for consistency?

[2022-01-21 17:21] inferno-chromium commented on #1508
@naveensrinivasan - the problem is we need something to work across languages. go is easy, we need to support atleast a few more ecosystems.

[2022-01-21 17:31] richsalz commented on #1500
Thanks. I agree this is a doc bug. The doc should explain how to find the URLs.  For some it's easier, as in all GitHub actions can be found in `https://github.com/orgs/actions/repositories` and look for the tag that you need.  Not sure how to find others, such as
[code]
so that I can fix that.

[2022-01-21 18:01] laurentsimon commented on #1500
in the doc https://github.com/ossf/scorecard/blob/main/docs/checks.md#pinned-dependencies in the `Remediation steps` section, we link to https://app.stepsecurity.io/ which allows you to copy/paste your workflow and get the pinned version automatically. Today the doc has a lot for Pinned-Dependencies because it's a big check. We're going to tru to address this in the next releases.

unfortunately,

[2022-01-21 18:06] laurentsimon commented on #1194
Yes I want this parser for Makefiles! Let's make it for v5 release if nobody objects! Thanks for the find @naveensrinivasan
@chrismcgehee if you want to do more work on pinning dependencies, feel free to assign to yourself :-)

[2022-01-21 18:20] naveensrinivasan commented on #1491
@justaugustus  We already have this capability within the scorecard. We use the GitHub library extensively. It so happens this code doesn't use the right method which makes it hard to write unit tests.

[2022-01-21 18:22] naveensrinivasan commented on #1508
I agree. But I think we should scope it as not just Vulns that was the point.

[2022-01-21 19:13] inferno-chromium commented on #1508
ah that, that i totally agree, it could be even aggregate scorecard calc on deps too instead of just vulns

[2022-01-21 19:17] laurentsimon commented on #1273
the motivation for the structure is that we wanted to be able to add fields to the function without changing the function signature - because it requires going thru all calls and updating them :/

I think variadic function would work. Is there a way to fix the list of acceptable fields in order to detect typo mistakes at compilation time?

We only use if for the checker today, because those "logs"

[2022-01-21 19:19] laurentsimon commented on #1488
very neat! Are we going to change the signature of `ListIssues()` to have input parameters?

[2022-01-21 19:24] laurentsimon commented on #608
it would be good to flag it nevertheless, because it's a potential risk. Any thoughts on warning without recommending pinning by hash?

[2022-01-21 19:50] justaugustus commented on #1273
@laurentsimon --

Okay thanks, that makes this a bit more flexible.

I think ideally, we don't expose the opportunity for a mistake.
For each client, there will be an idea of what kind of data you want out of the logs, so we can force the client to do the right things.

WARNING, pseudocode ahead:

[code]

Maybe you expose the log level for configuration, but let give the client the responsibility

[2022-01-21 20:12] laurentsimon commented on #1273
SGTM. @naveensrinivasan @justaugustus  @azeemshaikh38 thoughts?

[2022-01-21 20:20] justaugustus commented on #1273
Yep, I'm happy to roll with the https://github.com/go-logr/logr API!
Will wait for another +1 from a maintainer before proceeding.

[2022-01-21 20:45] thockin commented on #1273
And, you know, drop me a line if it doesn't satisfy for some reason.

On Fri, Jan 21, 2022 at 12:20 PM justaugustus ***@***.***>
wrote:

[2022-01-21 20:47] justaugustus commented on #1273
Hehe, always happy to bug you, Tim! :)

[2022-01-21 21:03] richsalz commented on #1500
Great, thank you.

If you want me to open a separate issue for oss-fuzz (either here or somewhere else), let me know. I hope that gets fixed.

[2022-01-21 21:13] laurentsimon commented on #1500
@oliverchang and @jonathanmetzman have this on their roadmap to see what we can do. I suggest you create a tracking issue on the OSS-Fuzz repo and add a link to this Scorecard issue?

Meanwhile, I'll close this issue. Please re-open if needed. Thanks again for reporting the problem!

[2022-01-21 21:29] richsalz commented on #1500
And yet the bug is closed?  Shrug.  Not a big deal, I was curious.

[2022-01-21 21:35] laurentsimon commented on #1500
Can you file a new issue for that specifically? Sorry, forgot about the early part of the conversation. My bad!

[2022-01-21 21:37] laurentsimon commented on #1245
cc @richsalz this is the  large blocker that will help us provide more granularity in the results and give is the ability to provide remediation steps for each warning. (something that came up in https://github.com/ossf/scorecard/issues/1500)

[2022-01-21 21:41] richsalz commented on #1245
Thanks for CC'ing me, @laurentsimon!  Have you thought of assigning each check a unique ID, and then allowing command-line flags like `--ignore filename:id` as in `--ignore .github/workflows/ci.yml:unpinned`

[2022-01-21 21:59] laurentsimon commented on #1245
We thought about something along these lines early on. I think we'll achieve what you describe with policies. Once we have the separation of checks vs policy, we'll be able to apply `--ignore .github/workflows/ci.yml:unpinned`, and even more expressive policies such as `ignore unpinned action org/name`. The file approach works well on simple examples, but is hard to generalize to other uses case l

[2022-01-21 22:20] richsalz commented on #1245
Your ideas sound great.  (I'm not surprised.)

[2022-01-21 22:23] azeemshaikh38 commented on #1273
I love it! I have not looked into the implementation/code, but from the description it seems to fit our usecase pretty well. It'll definitely help if we can clean up our logging interfaces and piggy back on an existing and well trusted interface instead.

[2022-01-21 22:33] laurentsimon commented on #1245
glad that it makes sense to you too. Everyone is asking for different exceptions and special cases, policies are the only solution that seemed viable in the end. Let's hope this works

[2022-01-21 22:35] #1504 closed

[2022-01-21 22:42] azeemshaikh38 commented on #1508
I agree with Naveen. I think finding transitive dependencies (and scoring them) shouldn't be a Scorecard check. Instead, I think we should aim to partner with someone like Open Source Insights or an SBOM generation tool and plug our Scorecard result in their output dependency tree. The biggest advantage being, this will allow a tool like AllStar to apply fine-grained and complex policies on not ju

[2022-01-22 01:36] laurentsimon commented on #426
Let's try to do 5 and 8. They are fairly simple. Adding to v5 milestone. wdut? We can try to share the workload if needed.

[2022-01-22 04:02] chrismcgehee commented on #608
Yeah, I think if we just noted this as a warning, but didn't recommend pinning, that would be a good approach.

[2022-01-22 05:17] chrismcgehee commented on #1488
@azeemshaikh38 I can use the `authorAssociation` field on the issue itself to figure out the persona who opened the issue. Figuring out updates on the issue would be trickier. I think I'd have to use `timelineItems` which is a union of like 30 different types, so the code would be very complex if we wanted to find the persona of the updater. I won't do that now; it probably won't ever make sense t

[2022-01-22 15:19] naveensrinivasan commented on #1508
- I have a different opinion if we don't do it, which project is going to do it?  Unless we decide to build a project that has that information.

- Another blocker for other projects (like SBOM generation) is that they would have to have an auth for `BigQuery` because Scorecard doesn't expose this data via an HTTP API. Hypothetically if an SBOM tool would bring in this feature then the end-users w

[2022-01-22 19:04] chrismcgehee commented on #1311
I would say another instance that will likely be a false positive is when the job is gated by an environment (like in scorecard's [integration.yml](https://github.com/ossf/scorecard/blob/ab16cdbbc20fa2c2d53c9c02f382a95d27d342d0/.github/workflows/integration.yml#L32)). If the environment requires reviews, then it's definitely a false positive. I expect, though, that we can only see environment prot

[2022-01-22 23:56] azeemshaikh38 commented on #1488
SGTM @chrismcgehee, thanks!

[2022-01-23 12:47] tunsira opened #1517 "Feature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-23 18:10] #1517 closed

[2022-01-24 15:11] richsalz opened #1522 "Feature: granular remediation hints per Warning"
**Is your feature request related to a problem? Please describe.**
See discussion in #1500.

**Describe the solution you'd like**
Having more granular remediation (text) for some warnings, like "you can find the hashes for *this* action here" would be helpful.

**Describe alternatives you've considered**
Opening issues, doc updates :)

[2022-01-24 16:15] laurentsimon commented on #608
do you know if dependabot/renovatebot support commands within shell script/makefiles `go install bla@something`? I'm also curious about GCB's cloud.yaml files https://github.com/ossf/scorecard/issues/1503

cc @rarkins

[2022-01-24 16:17] #1500 closed

[2022-01-24 16:49] laurentsimon commented on #1488
fyi, I don't think https://github.com/ossf/scorecard/blob/main/checks/maintained.go#L93 is true. I think the creator of an issue can close it even if they are external to a repo and not a collaborator. I think we need to verify who closed the issue, if feasible.

[2022-01-24 16:49] #1488 closed

[2022-01-24 16:49] laurentsimon opened #1523 "BUG: Maintained check should verify who closed an issue"
I don't think https://github.com/ossf/scorecard/blob/main/checks/maintained.go#L93 is true. I think the creator of an issue can close it even if they are external to a repo and not a collaborator. I think we need to verify who closed the issue, if feasible.

[2022-01-24 17:31] laurentsimon opened #1524 "BUG: Checks using ListMergedPRs() need hardening"
`ListMergedPRs()` lists the last 30 or so PRs in a repo. Imagine the following scenario:
1. Repo owners using PRs and review their code, etc
2. They stop using PRs and only commit directly to head

IIUC, Scorecard will be looking at old PRs, e.g. in the Code-Review check, and conclude that reviews are done on the repo, even though it's not the case.

We need to harden all the checks that list PRs

[2022-01-24 17:31] laurentsimon commented on #1524
cc @azeemsgoogle

[2022-01-24 17:39] laurentsimon commented on #1508
another angle for this is that scorecard has more information about dependencies that OSI does: we look at workflows, shell scripts, makefiles (soon), GCB config (soon), so we could also build and expose this data "dependencies in CICD", which is useful during incidence response and that nobody is really looking into atm. I suppose this would even be useful in the context of criticality score.

[2022-01-24 18:24] naveensrinivasan commented on #1508
So are you in favor of having the check as part of scorecard?

[2022-01-24 18:25] naveensrinivasan commented on #1508
I agree! 👍

[2022-01-24 20:41] azeemshaikh38 commented on #1524
I wonder if #575 can solve this. Basically, if Scorecard knows that it is evaluating commitSHA `X` and looks at the last `N` commits before `X` (currently `N` is 30), this should solve the problem you are talking about?

[2022-01-24 20:49] laurentsimon commented on #1524
yes that would solve it, but most checks don't work based on a commit: we cannot get settings for a certain commit, for example.
We can easily fix the problem inside the checks by calling `ListCommits()` and comparing them to `ListMergedPRs()` for now.

Let's have it inside the repo interface in the second iteration. This is a problem we should fix ASAP.

[2022-01-24 20:58] rarkins commented on #608
Right now we don't support arbitrary scripts unless you're self hosting. For the app it's too high risk

[2022-01-24 21:11] azeemshaikh38 commented on #1524
Makes sense. +1 to solving it within the `RepoClient` interface itself so that the checks don't need to be updated separately.

What do you think about asking Rohan to work on this? It might be a good starter issue for him. @asraa fyi.

Let's discuss this in our sync.

[2022-01-24 21:39] laurentsimon commented on #608
@rarkins do you mean it's too risky to parse arbitrary shell scripts?

Let me give you a concrete example of what I meant.
if I have a workflow using `uses: some/action@somehash`, renovate-bot is able to send PR to update the hash when a new action of released.
If I use `run: go install somepackage@hash`, is renovaote-bot able to understand that I depend on `somepackage`, even though it's part in

[2022-01-25 04:50] chrismcgehee commented on #1523
Yeah, you're right; the creator can close their own issue. Now that I think about it a little more, maybe we could just remove the closed check. If a repo maintainer were to close an issue without giving any comment, I don't know that should be considered "meaningful" activity. If they were to comment and then close the issue, it would count as activity. So this is what our logic would be:

If a c

[2022-01-25 05:54] rarkins commented on #608
Sorry, I misunderstood.

Renovate attempts to understand as many patterns as it can out of the box, but it doesn't know those ones. For ones like that which it doesn't understand, users can add regex patterns to identify them for Renovate. The feature is know as the "regex manager": https://docs.renovatebot.com/modules/manager/regex/

[2022-01-25 06:01] azeemshaikh38 commented on #1523
+1 to removing the closed check for now. We can first see how the `AuthorAssociation` works using next week's cron job and revisit this if needed. @laurentsimon wdut?

[2022-01-25 16:15] laurentsimon commented on #608
Interesting, thanks for the info.

[2022-01-25 22:38] justaugustus opened #1528 "testing: Add unit tests for `log` package"
Could we add some unit tests for this?

_Originally posted by @naveensrinivasan in https://github.com/ossf/scorecard/pull/1516#discussion_r791946727_

[2022-01-25 22:40] justaugustus commented on #1528
xref: https://github.com/ossf/scorecard/issues/1509

[2022-01-25 22:53] justaugustus opened #1529 "community: Is there a contributor ladder?"
Opening this to ask if there's a contributor ladder defined for this project.
Here's an example: https://github.com/kubernetes/community/blob/master/community-membership.md

Subtext: I'd be happy to help do PR review here, with the hopes of working towards maintainership, if there's a path for that :)

Previous contributions:
- https://github.com/ossf/scorecard/pull/1502
- https://github.com/ossf/

[2022-01-25 23:43] laurentsimon commented on #1529
Hi @justaugustus

super excited to see you're interested in scorecard, and appreciate the greats PRs you have contributed and the ones yet to come :-)!

We don't have a contributor ladder today, we only have https://github.com/ossf/scorecard#connect-with-the-scorecards-community. So far, the scorecard's codebase has remained small enough that we have not found the need to separate owners for sub-m

[2022-01-26 00:34] azeemshaikh38 commented on #1529
So far, our path to maintainership has been to just ask :P I'm happy to have you on as a maintainer right away. @laurentsimon  @naveensrinivasan @inferno-chromium any objections to adding @justaugustus as a Scorecard maintainer?

We do need a well-defined contributor ladder in the long-run. We can discuss more about this during our upcoming sync like Laurent suggested. Can also use this issue for

[2022-01-26 00:41] inferno-chromium commented on #1529
No objections and very happy to see Stephen's (@justaugustus) contributions here.

We need these processes for OpenSSF in general. Could be nice to have this at OpenSSF org level somewhere in a generic place, rather than in AllStar project. @justaugustus @david-a-wheeler - thoughts on this front.

[2022-01-26 01:34] justaugustus commented on #1529
Thanks so much for the support!
I've opened https://github.com/ossf/scorecard/pull/1530 to make the CODEOWNERS changes.

Is this Thursday, 4pm ET?
If so, I can pop by for the latter half of the meeting :)

SGTM!

Strong agree!
I think generic contribution guidelines, along w/ repo-specific guidelines make a lot of sense.

I would suggest leveraging the .github repo for this: https://docs.github.co

[2022-01-26 02:15] #178 closed

[2022-01-26 05:39] justaugustus commented on #982
My team manages this tool: https://github.com/kubernetes/release/tree/master/cmd/release-notes
Here are some examples of output from the tool:

- https://github.com/kubernetes/release/releases/tag/v0.12.0
- https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md

While I haven't personally used it, the tool also supports supplying your own go template to enable further for

[2022-01-26 05:44] justaugustus commented on #982
As for releasing:
- https://github.com/goreleaser/goreleaser
- https://github.com/goreleaser/goreleaser-action
- GoReleaser + cosign: https://github.com/goreleaser/goreleaser/issues/2659

[2022-01-26 16:06] laurentsimon commented on #1097
@josepalafox reviving this thread. As we try to make scorecard as friction-less as possible for installation, we realize the PAT requirement does create friction. I wanted to understand what you meant by ```This is evidently an intentional design limitation and exists across multiple API services for security purposes.```

What can workflow tokens not expose a read permission to read branch protec

[2022-01-26 18:30] justaugustus opened #1533 "Determine whether code sign-offs should be required/enforced"
_Originally posted by @naveensrinivasan in https://github.com/ossf/scorecard/issues/1532#issuecomment-1022449675_

[2022-01-26 20:25] laurentsimon commented on #1097
Thanks Jose. Let us know what you find.

So long as the permission is controlled by a workflow field, it does not strike me as being more dangerous than `id-token` or `contents:write` or `packages:write`.

[2022-01-26 20:51] justaugustus opened #1534 "Handling dates in copyright headers"
Thanks for the feedback. Let's discuss this in an issue and address it via a PR if we decide to update the dates or remove them entirely. @justaugustus can you create a tracking issue?

_Originally posted by @laurentsimon in https://github.com/ossf/scorecard/pull/1532#discussion_r792988962_

[2022-01-26 21:35] naveensrinivasan opened #1535 "Unit tests required - Vulnerabilities check"
Needs more tests for this https://codecov.io/gh/ossf/scorecard/commit/5f9fff3b20ce7eb933978c7a4f9391cb2c9b3d89

_Originally posted by @naveensrinivasan in https://github.com/ossf/scorecard/issues/1532#issuecomment-1022623487_

[2022-01-26 21:35] naveensrinivasan commented on #1535
@laurentsimon FYI

[2022-01-26 21:42] laurentsimon commented on #1535
the same tests we had before are there. It should cover the same thing, maybe percentage-wise it's down because the checks/vulnerabilities.go introduced a new level of indirection/boilerplate. Which lines are not hit that use to be?

[2022-01-26 21:44] laurentsimon commented on #1535
where do we see the coverage for a PR? I did not notice it in the main thread. Is it in a check run's details?

[2022-01-26 21:45] naveensrinivasan commented on #1535
I know, I wish the tool was reported in the PR. I don't know why it was missing TBH.

[2022-01-26 22:03] laurentsimon commented on #1508
related https://blog.trailofbits.com/2021/12/16/it-depends/
wonder if other tools like dependabot/renovatebot provide an API to parse and output vulnerabilities from the various ecosystems

cc @rarkins

[2022-01-26 22:39] naveensrinivasan commented on #1508
I had a quick look at the repo for parsing `go`. It uses string parsing which is brittle and likely to break. I am not excited about that project.

[2022-01-26 23:24] naveensrinivasan opened #1537 "GHSA-mvff-h3cj-wj9c - Vulnerability reported for github.com/containerd/containerd"
The dependabot has reported a `High Severity` vulnerability  `github.com/containerd/containerd` https://github.com/ossf/scorecard/blob/d50788f6381d1fea21e4e50caa2de41012a38982/tools/go.sum#L471

We don't use this directly. This is part of `tools` https://github.com/ossf/scorecard/tree/main/tools module.

[code]

I have tried this  replace in the `tools` `go.mod` which fails when `make install`

`r

[2022-01-26 23:25] naveensrinivasan commented on #1537
@azeemshaikh38 @laurentsimon @david-a-wheeler FYI...

[2022-01-26 23:40] naveensrinivasan commented on #1537
https://github.com/google/go-containerregistry/issues/1269

[2022-01-27 00:02] naveensrinivasan commented on #1537
They don't have specific timelines as to when they would address this issue.

https://github.com/google/go-containerregistry/issues/1269#issuecomment-1022712624

cc @inferno-chromium

[2022-01-27 00:07] naveensrinivasan commented on #1334
Maybe not! `go` proxy caches the version of the deps and shouldn't change AFAIK.

Maybe @rsc can clarify my assumption.

[2022-01-27 00:19] josepalafox commented on #1097
Feedback from our team is that to get branch protection rules you'd have to have admin:read which is too broad to enable.

cc @cschleiden

[2022-01-27 00:26] laurentsimon commented on #1097
Thanks for the info. Fyi, branch protection is accessible with a PAT owned by a non-repo maintainer, except 3 settings that require `admin:read` as as repo maintainer. I'd expect the same should work for a workflow token. I don't follow why  `admin:read` for the repo itself should be necessary to read other settings, since it's available publicly anyway.

Let me know if I mis-understood something.

[2022-01-27 00:29] laurentsimon commented on #1334
We're using a shell script to manually extract the dependencies to install. There must be a better way to do that, I hope

[2022-01-27 02:55] laurentsimon opened #1543 "BUG: ListCommits() has empty committer name for "verified" commits"
The repo client's code https://github.com/ossf/scorecard/blob/main/clients/githubrepo/graphql.go#L218 contains empty string for the committer name for certain commits.

Here are example commits that have an empty committer name:
d50788f6381d1fea21e4e50caa2de41012a38982
5f9fff3b20ce7eb933978c7a4f9391cb2c9b3d89
7a6eb2812a85ed047582b86a3e77e16302506558
16c0d375d64391c617df8f3994f15167b6798dbb

and mo

[2022-01-27 19:02] laurentsimon commented on #1523
question: we've added fields like `AuthorAssociation *RepoAssociation` `Issue` and `IssueComment`.
Should these live under `User` instead?

It would be more natural to have:
[code]

I don't know if the APIs lend themselves well to do that - I have not looked. I'd hope they do because author association should be associated to a user.

[2022-01-27 19:03] laurentsimon opened #1546 "AuthorAssociation should be part of User"
We've added fields like `AuthorAssociation *RepoAssociation` `Issue` and `IssueComment`.
Should these live under `User` instead?

It would be more natural to have:
[code]

This will also be useful for checks like Contributors, where we can add this field in the raw results.

[2022-01-27 19:03] laurentsimon commented on #1546
cc @chrismcgehee @azeemsgoogle wdut?

[2022-01-27 19:52] godofredoc opened #1547 "Feature: add support for flutter-dashboard and Cirrus CI in the CI Test Check"
**Is your feature request related to a problem? Please describe.**
Yes, Dart and Flutter are enabling score card for both Flutter and Dart orgs. As we started addressing the alerts we found that CI Test validation is failing because flutter-dashboard(LUCI) and Cirrus CI are not included in the list of CI systems.

**Describe the solution you'd like**
I'm planning to send a PR to add "flutter-dashb

[2022-01-27 21:01] laurentsimon commented on #1547
Brilliant, thanks for filing the issue. I'll take a loom at the PR today.

[2022-01-27 21:07] david-a-wheeler opened #1549 "Rename "CII Best Practices Badge" to "OpenSSF Best Practices Badge""
**Describe the bug**
Rename "CII Best Practices Badge" to "OpenSSF Best Practices Badge"; the project recently changed its hame.

[2022-01-27 21:36] david-a-wheeler opened #1550 "Add rationales for every criterion"
**Is your feature request related to a problem? Please describe.**
There are many criteria, but it's not always clear why those criteria are present. Why should something be pinned (for example)? In particular, sometimes criteria aren't appropriate, but it's hard to determine that without knowing its rationale.

**Describe the solution you'd like**
Provide for each criteria the rationale.

[2022-01-27 21:39] david-a-wheeler commented on #1550
E.g., for pinning,
"Pinning prevents a malicious later version (that wasn’t necessarily reviewed) revealing secrets or creating artifacts that end up in a production version, and makes it easier to determine exactly what was changed when a problem is detected."

This rationale suggests that you don’t need to pin something if an unpinned version cannot reveal secrets AND it cannot change a generate

[2022-01-27 22:07] azeemshaikh38 commented on #1549
@naveensrinivasan would you able to tackle this? Can be a P1/P2 item in the current list we have.

[2022-01-27 22:10] azeemshaikh38 commented on #1550
@olivekl @laurentsimon assigned it to all of us. Will setup a sync for this in the coming weeks.

[2022-01-27 22:15] justaugustus opened #1552 "Reviewer/maintainer guidance/expectations"
How can we guide contributors/maintainers in doing code reviews/maintaining the project?

---

do you have a doc on updating a past commit? I can try adding it

_Originally posted by @laurentsimon in https://github.com/ossf/scorecard/issues/1545#issuecomment-1023522170_

[2022-01-27 22:16] laurentsimon commented on #1550
that's not exactly true. Not pinning dependencies is akin to not knowing what you have in your repo. Reviews and checking everything in your repo makes sure what you run is what it is in your repo. When codecov hack happened, you could have quickly looked at your commit history and pin point precisely which versions may have run a malicious version; and it would speed up incidence response. Instea

[2022-01-27 22:17] justaugustus opened #1553 "[UMBRELLA] Review/expand contribution guidance"
I've left a few reviews/comments here and there on PRs and it's worth reviewing contribution guidelines, just to ensure everyone has the tools they need to effectively contribute to the project.

To be clear, we've got a lot of great documentation today.
Let's see if we can get even better!

Eventually, this could be abstracted as general guidance for all OpenSSF projects, similar to https://githu

[2022-01-27 23:45] annabellegoth2boss commented on #1553
I opened a related [issue](https://github.com/ossf/foundation/issues/17) under the /foundation repo; not sure if that's the right place, but maybe has more "umbrella" scope?

[2022-01-28 00:01] haydentherapper opened #1554 "Feature: Check that CODEOWNERS is up to date"
**Is your feature request related to a problem? Please describe.**
Code owners can be required to approve PRs before merging into a protected branch. Maintainers may rely on code owners to validate the contents of the PRs, so code owners needs to be trusted. Over time, it's easy to continually grow the CODEOWNERS file without keeping it up to date.

**Describe the solution you'd like**
I propose a

[2022-01-28 00:10] naveensrinivasan commented on #1549
I can.

[2022-01-28 00:24] justaugustus commented on #1553
Liked, subscribed, and hit the bell!
Thanks for cross-linking these, @annabellegoth2boss!

[2022-01-28 01:19] azeemshaikh38 commented on #1543
When I looked at the commits which returned empty committer - `committer.name` is `GitHub` and `committer.email` is `noreply@github.com`. Most likely these are commits which had `auto-merge` enabled. So technically, there was no committer.

What we can do is, pull-in either `committer.name` and `committer.email` and check if it was auto-merged by GitHub. Can send out a PR for this soon.

[2022-01-28 01:48] azeemshaikh38 commented on #1524
@laurentsimon do you mind if I gave this a shot? Working on #1543 gave me an idea about how to improve the behavior here.

[2022-01-28 01:53] laurentsimon commented on #1543
You're saying `Login` is ``, but name is `GitHub`? If that's the case, just knowing it's empty means it's GitHub and I can add this as part of the check itself. I'm worried that `GitHub` and `noreply@github.com` may be spoof-able by committers via their git config. I suspect GitHub checks for it but I don't know. I'd say empty string means merged by GitHub and I can implement this logic in the che

[2022-01-28 02:05] azeemshaikh38 commented on #1543
My concern here is we'll bake in the assumption that `nil` means auto submitted. This might not be true for non-GitHub clients.

So, we can explicitly return `noreply@github.com` as the `User.Login` and let Scorecard make the call here?

[2022-01-28 02:11] laurentsimon commented on #1543
good point.

+1 let's do that! Let's set it to `github` since GitHub logins don't contain `@`?

[2022-01-28 02:12] azeemshaikh38 commented on #174
Might be a good issue for our next milestone. Re-opening.

[2022-01-28 02:19] azeemshaikh38 commented on #1543
Wfm. My thinking in choosing `noreply@` was - since it's not a valid username, anyone can reason that it must be some automated bot. Whereas `github` is a valid GitHub username - https://github.com/github. I'll leave it upto you.

[2022-01-28 03:09] azeemshaikh38 commented on #575
Will give this a shot. Might be something worth pursuing for v5.

[2022-01-28 04:27] laurentsimon commented on #1543
it's the platform's name though, the one that's used to run as GitHub user. For example, github-actions are run under user `github`. Does not really matter in the end, both are fine I think

[2022-01-28 04:29] chrismcgehee commented on #1546
Yeah, I think that would work, as long as we put a comment on the User struct to make clear that it's for a user in relation to a specific repository, and not a generic user object. If Azeem agrees on the approach, I can take this one.

[2022-01-28 17:19] laurentsimon commented on #575
do you know which checks won't be supported? I suppose those using "out-of-band" data not tied to commits, like Fuzzing, branch protection, CI-Badges. Signed Release may be hard too. Just curious.

[2022-01-28 17:31] azeemshaikh38 commented on #1546
Hmm, I prefer the way it is today. It matches the GitHub graphQL objects - https://docs.github.com/en/graphql/reference/objects#issue
https://docs.github.com/en/graphql/reference/objects#issuecomment

I haven't tested to see if the same author can appear with different `association` for different objects. But if that is the case, it might be beneficial to keep it as is.

But I see why we might wan

[2022-01-28 17:42] azeemshaikh38 commented on #575
Below checks are not commit-dependent. For those, we would just report the current status (same as HEAD).

Branch-Protection
CII-Best-Practices
Fuzzing
Signed-Releases
Maintained (because we want to see if it is maintained today, not at the commit we are checking for)
Packaging

[2022-01-28 17:48] laurentsimon commented on #575
could be confusing to report results for HEAD vs a commit from a user's perspective. Any idea whether we should take a similar approach to `--local`, ie only repo what's supported?

[2022-01-28 18:20] azeemshaikh38 commented on #575
Well, these checks are not commit-based in the first place. Even today, when we run these checks at HEAD, there is no correlation between the HEAD commit and the results of these checks i.e, the results of these checks can change over time even if HEAD commit hasn't changed. So I think it's ok to keep the behavior same whether user runs at HEAD or at a particular commit.

[2022-01-28 18:45] laurentsimon commented on #575
Implicitly, running scorecard at HEAD looks for the most recent signals, whereas commits are in the past. I personally would be confused about what the results mean is it mixed commit and "recent".

cc @naveensrinivasan @chrismcgehee @justaugustus @olivekl @oliverchang

[2022-01-28 19:18] chrismcgehee commented on #575
I think we should use the same approach as with `--local`. When running for a specific commit, we just show the results for what's supported.

[2022-01-28 19:42] azeemshaikh38 commented on #575
Fair enough. Currently exploring the feasibility of implementing this. If I can do that, will update the CLI to not support non-commit based checks.

[2022-01-28 20:05] naveensrinivasan opened #1559 "support for various package managers"
Thanks. Can you add a note to add support for various package managers + create a tracking issue for each? (I realize this is missing) Today we support golang, npm and pip only (shell_download_validate.go)

_Originally posted by @laurentsimon in https://github.com/ossf/scorecard/pull/1557#pullrequestreview-866486015_

[2022-01-29 03:28] laurentsimon opened #1563 "Add branch protection settings"
We currently do not expose the following settings: requiresConversationResolution, requiresSignatures, viewerAllowedToDismissReviews, viewerCanPush

We may add them

[2022-01-29 23:51] justaugustus commented on #1273
Calling this closed w/ https://github.com/ossf/scorecard/pull/1516.

[2022-01-29 23:51] #1273 closed

[2022-01-30 01:33] azeemshaikh38 commented on #1547
Closing this since #1548 addresses this issue. Feel free to re-open if not.

[2022-01-30 01:33] #1547 closed

[2022-01-30 02:55] #1524 closed

[2022-01-30 06:50] azeemshaikh38 commented on #1543
I was quite wrong here. Looks like you can fake `committer.name` and `committer.email` after all like you suspected @laurentsimon. Here are some example commits where `committer.name` and `committer.email` is non-empty but not  `github`:

https://github.com/criticalmanufacturing/dev-tasks/commit/a781f660ea1fd8121379817a8fe577c49ae6c171
https://github.com/AhmedAlatawi/ngx-treant-js/commit/cb5d84d72

[2022-01-30 07:32] azeemshaikh38 commented on #986
@naveensrinivasan thanks for the awesome job here. Testing new code is a breeze!

[2022-01-30 13:31] evverx commented on #1260
As far as I understand scorecard switched to commits and associated PRs (where it should be relatively easy to figure out who commiters and authors are). I'm not sure whether it works as expected in its current form but I think this issue is kind of out of date and can be closed.

[2022-01-30 13:31] #1260 closed

[2022-01-30 21:46] naveensrinivasan commented on #986
Thanks

[2022-01-31 00:58] azeemshaikh38 opened #1568 "BUG: Add unit tests for `cmd/package_managers.go`"

[2022-01-31 16:29] laurentsimon opened #1571 "BUG: workflow parsing fails"
on `apache/spark`: `internal error: invalid GitHub workflow:\n:0:0: could not parse as YAML: yaml: invalid leading UTF-8 octet [yaml-syntax]`

Note: there is a GitHub API to list workflows. If we keep running into these issues, we could use the API instead. I suspect this one may be from the `images` folder and should be easy to fix.

[2022-01-31 16:29] laurentsimon commented on #1571
cc @chrismcgehee

[2022-01-31 16:32] laurentsimon commented on #1311
spot on, we got an alert in the scanning dashboard now https://github.com/ossf/scorecard/blob/58865e959e3a782d3f3cd5a5ae952ac308c11a46/.github/workflows/integration.yml#L35-L35

@chrismcgehee would looking for `needs` field be enough to reduce false positives in this case? Or would it introduce false negatives?

[2022-01-31 16:56] imjasonh opened #1572 "BUG - Pinned-Dependencies should not fire on multi-stage Dockerfile builds"
**Describe the bug**

Example alert: https://github.com/GoogleContainerTools/kaniko/security/code-scanning/148?query=ref%3Arefs%2Fheads%2Fmain

<img width="954" alt="Screen Shot 2022-01-31 at 11 50 09 AM" src="https://user-images.githubusercontent.com/210737/151836745-d99f159b-9fff-4b7a-8fa8-fe56e9def4e3.png">

The alert is telling me that this is an unpinned dependency:

[code]

...when in realit

[2022-01-31 17:47] imjasonh opened #1573 "BUG - Pinned-Dependencies erroneously finds unpinned dep in unit test"
**Describe the bug**

Example alert: https://github.com/GoogleContainerTools/kaniko/security/code-scanning/119?query=ref%3Arefs%2Fheads%2Fmain

This matches some unit test code meant to test Dockerfile parsing behavior, and is not indicative of any actual dependency on this image:

https://github.com/GoogleContainerTools/kaniko/blob/ff3ee40293cb943c4ffb70d808c4e8772189c7e1/pkg/dockerfile/dockerfil

[2022-01-31 17:47] imjasonh commented on #1573
There are a ton of identical spurious alerts on the same file:

<img width="492" alt="Screen Shot 2022-01-31 at 12 47 18 PM" src="https://user-images.githubusercontent.com/210737/151845785-ef2ce7ba-62ab-4ea3-802a-afa064ee9685.png">

[2022-01-31 20:02] laurentsimon commented on #1543
Something seems off. How can GitHub not be able to assign a GH userID yet have an email/name for it?

I've created a support ticket for it. @azeemshaikh38 do you want to file an issue on GitHub for them to update their doc? This behavior should be explained. In which context does GH not know who authored a merge request? Only autom-merge. or are there other corner cases?

@josepalafox appreciate a

[2022-01-31 20:25] laurentsimon commented on #1573
weird, the parser does not fail :-), thanks for reporting. @chrismcgehee

[2022-01-31 23:50] azeemshaikh38 commented on #1543
Sent out #1576 to revert this change for now since it'll be erroring out for wrong reasons.

[2022-02-01 04:13] laurentsimon commented on #1572
Thanks for the report

in general, my understanding is that `FROM golang:someversion AS base` means `base` refers to `golang:someversion`. Since `golang:someversion` is not pinned by hash, we consider base as not pinned.

Can you explain where the reasoning above is wrong? I think I missed something. Thanks for your patience.

cc @loosebazooka

[2022-02-01 14:59] imjasonh commented on #1572
Oh interesting! Thanks for that insight. Agree this is less urgent since pinning the initial dep fixes all the alerts.

I do wonder whether it's working as intended that the unpinned dep generates so many duplicate alerts, but I'm fine ignoring it and just fixing the initial unpinned dep. 👍

[2022-02-01 15:49] JonDouglas opened #1578 "Add support for NuGet"
The scorecard project currently only supports npm, golang, and pip as far as I could tell. I'm a PM on the NuGet team at Microsoft and would love to help contribute adding support for NuGet in this tool or providing the right guidance to implement support for NuGet. This closely aligns with a proposal I had last year and would love to experiment with this scorecard in .NET:

https://github.com/dot

[2022-02-01 17:47] laurentsimon commented on #1371
@rarkins what do we need to do to detect that dep security alerts are enabled in renovatebot?

[2022-02-01 17:53] naveensrinivasan commented on #1578
It would be great to add support for NuGet.

Here is an example of how we are looking for `go`
https://github.com/ossf/scorecard/blob/696553be2dd358a1b177cf28a1c8e321ee9e779f/checks/shell_download_validate.go#L591

PR's are welcome!

[2022-02-01 18:06] laurentsimon commented on #1572
please create another issue for it. I see your point that we could reduce the number of alerts.

[2022-02-01 18:11] mjpieters opened #1580 "SAST false positive: CodeQL steps in main workflow not detected"
My [current build workflow](https://github.com/mjpieters/SO-userscripts/blob/main/.github/workflows/build.yaml) clearly uses CodeQL steps:

[code]

but this is [not being detected](https://github.com/mjpieters/SO-userscripts/security/code-scanning/14?query=ref%3Arefs%2Fheads%2Fmain):

Perhaps the check needs to be updated?

To be explicit: PRs require the CodeQL checks to pass before they can be m

[2022-02-01 18:16] imjasonh commented on #1572
I'll just reopen since this issue already has useful context. I updated the title to reflect the current issue.

Thanks for looking into this! 👍

[2022-02-01 18:43] laurentsimon commented on #1580
I ran scorecard on your repo now and got:

[code]

Until you get all last 30 commits checked with CodeQL, you'll see the alert. Once the last 30 commits have CodeQL run on them, the alert will disappear.

Is the message `SAST tool detected but not run on all commits` what's causing confusion? Shall it be updated to `SAST tool (CodeQL) detected but not run on all commits`?

[2022-02-01 18:53] laurentsimon commented on #1578
@JonDouglas that's great, thanks for reaching out!

@naveensrinivasan pointed you to the file where we parse commands and look for unpinned go, pip and npm commands.
This is the place to add it.

Shameless plug: as part of the OSSF Best Practice WG, we have a work stream on package manager's best security practices. We've started with npm and pip. If you're interested in collaborating - or even le

[2022-02-01 21:06] laurentsimon opened #1582 "BUG: maven signatures not detected by Signed-release check"
See https://github.com/remkop/picocli/commit/87ff7a67bb0310e399823fb2b3950cc51b997990#commitcomment-65815736 for details.

The extension seems to be `.asc.sha256`. To be confirmed. Other hashes may be supported.

[2022-02-01 23:50] #1573 closed

[2022-02-01 23:51] evverx commented on #1322
I'm inclined to say that it's probably a GitHub bug and it should be probably fixed elsewhere. Closing.

[2022-02-01 23:51] #1322 closed

[2022-02-02 01:33] laurentsimon commented on #1543
fyi, the commits we get from graphql when querying *only* the commits don't have the login information. But it looks like the CommitMerge.Committer.Login is correct when querying the AssociatedPullRequests. By looking at the commit hash, we can match one against the other and recover the login: this may be a workaround the problem.

@azeemshaikh38 please tell me if you can reproduce my results.

[2022-02-02 01:46] azeemshaikh38 commented on #1543
Hmm, no. The `committer` and `author` info in commit vs. associated PR is the same. Maybe you are comparing `commitAuthor` with `committer`?

![image](https://user-images.githubusercontent.com/4825078/152080601-8d445653-6d3d-4f4a-a650-066cf647f1d6.png)

[2022-02-02 01:53] laurentsimon commented on #1543
ah yes. But for a commit to the main branch, the committer is the author of the merge commit. Are they not the same thing?
What is the author of a commit to branch supposed to be, if not the merge commit's committer?

[2022-02-02 02:01] laurentsimon commented on #1543
according to https://docs.github.com/en/graphql/reference/objects#commit, there's both an `Author` and a `Committer`. Not sure about the difference :/

[2022-02-02 03:12] varunsh-coder commented on #1550
I would recommend using the [GitHub Actions hardening guide](https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions) as a reference. That has good rationale for pinning of action and token permissions.

FYI - I have also created a PR to add reference to scorecard in that guide. Please do share feedback in the PR so that scorecard is easy to discover when one reads

[2022-02-02 03:23] godofredoc opened #1585 "SAST - Recognize Clang Tidy as a SAST tool"
**Is your feature request related to a problem? Please describe.**
Dart and Flutter already use clang tidy to run several checks and perform static analysis and we would like to integrate their results with score cards.

**Describe the solution you'd like**
Dart and Flutter LUCI builders run [clang tidy](https://clang.llvm.org/extra/clang-tidy/) on every commit blocking the PR on failures. We woul

[2022-02-02 08:00] rarkins commented on #1371
Dependency security alerts don't need explicit enabling in Renovate Bot repository config. If the bot's token has been granted access to the vulnerabilities feed then they'll be automatically used. This is currently the case for `renovate[bot]` but has been accidentally missing for `forking-renovate[bot]` until now but has now been requested to all org admins.

[2022-02-02 09:28] remkop commented on #1582
Thanks for raising this!

Apologies, `.asc.sha256` should be .`asc` for signature files. Details follow below.

Releases published with Maven will follow Apache Software Foundation's [release signing policy](https://infra.apache.org/release-signing.html):

(That page is out of date, SHA1 and MD5 should be no longer used in ASF releases, but in practice may still be used.)

I am not sure if "OpenPG

[2022-02-02 10:37] mjpieters commented on #1580
The '1 commit' is there because I added LGTM later on. The other 6 commits before that are all covered by CodeQL.

[2022-02-02 12:16] mjpieters opened #1588 "Dev environment documentation: no instructions to run 'make install'"
The [development environment documentation](https://github.com/ossf/scorecard/blob/main/CONTRIBUTING.md#environment-setup) doesn't state that several extra tools are required:

- [mockgen](https://github.com/golang/mock)
- [ko](https://github.com/google/ko)

On a pristine git checkout of the project with go 1.17 and docker v20.10.12 installed, trying to run `make build` shows:

[code]

After insta

[2022-02-02 13:33] mjpieters commented on #1580
Looking over the SAST step, I see it relies on Github search to detect workflows using the `github/codeql-action/analyze` action. Unfortunately, search is unreliable, e.g. the specific search [gives no results on my repository](https://github.com/mjpieters/SO-userscripts/search?q=path%3A%2F.github%2Fworkflows%2F+github%2Fcodeql-action%2Fanalyze&type=code), even though I [clearly am using the actio

[2022-02-02 15:24] laurentsimon commented on #1578
an additional place to add support for NuGet is in the Packaging check https://github.com/ossf/scorecard/blob/main/checks/packaging.go, which tries to infer if the project published a package. We typically look for known GitHub actions and commands to detect this.