[2022-07-29 20:53] ethanent commented on #2102
Probably in another ossf repo. Maybe something like "binary-verification-action"?

I like this idea! I think we should continue to allow a passing gradle/wrapper-validation-action to exempt gradle-wrapper.jar files, but similar verification could additionally be added to this Action (eventually) for the sake of simplicity.

[2022-07-29 21:37] laurentsimon commented on #2102
Let's add this for discussion next meeting. @ethanent are you interested ^^

[2022-08-01 11:07] edwardsph commented on #2085
We don't use the action. The Sonar analysis is run within the Maven build during the CI/CD process so there is a GitHub workflow which runs `./mvnw sonar:sonar`. The other evidence will be properties in the POM file such as `sonar.host.url`. Can that be used to detect Sonar?

[2022-08-01 11:19] balteravishay commented on #897
what about [One-Fuzz](https://github.com/microsoft/onefuzz)? Any chance to support that by Scorecard?

[2022-08-01 15:06] laurentsimon commented on #897
Absolutely. What does the integration in a repository look like?
For example, this is how we check for clusterfuzzlite: https://github.com/ossf/scorecard/blob/69eb1ccf1d0cf8c5b291044479f18672bf250325/checks/raw/fuzzing.go#L120

If you tell us what we should be looking for in thee repo, we can add a function to check for it in the file linked above.

[2022-08-01 16:38] edwardsph commented on #2085
Here is a link to a POM on an open source repo using SonarCloud: https://github.com/solid-contrib/conformance-test-harness/blob/main/pom.xml - it has properties:
[code]
The `pom.xml` is expected to be in the project root.
For a SonarQube example here are examples of the properties in use (I can't link as it is a private repo):
[code]

[2022-08-01 20:48] laurentsimon commented on #2085
I've send https://github.com/ossf/scorecard/pull/2114

[2022-08-02 01:08] naveensrinivasan opened #2115 "Release scorecard"
Release scorecard https://github.com/sigstore/sigstore-java/issues/2#issuecomment-1201899264

[2022-08-02 01:09] naveensrinivasan commented on #2115
@laurentsimon @azeemshaikh38  Planning to release at this SHA `69eb1ccf1d0cf8c5b291044479f18672bf250325`.

[2022-08-02 01:49] azeemshaikh38 commented on #2115
SGTM.

[2022-08-02 12:57] laurentsimon commented on #2115
Thank you!

[2022-08-02 19:10] naveensrinivasan commented on #2115
https://github.com/ossf/scorecard/releases/tag/v4.5.0

[2022-08-02 19:10] #2115 closed

[2022-08-02 20:15] qequ opened #2117 "[BUG] Updating mocks for testing"
I'm working on a feature and changed `type RepoClient interface`, which is in `/clients/repo_client.go`, and added a function `ListMergedPRs`. After that I wanted to test it  and ran GoMock with the command;

`mockgen -source=clients/repo_client.go -destination=clients/mockclients/repo_client.go`

and generated funcs

[code]

Calling it from `dependency_update_tool_test.go` like

`mockRepo.EXPECT(

[2022-08-02 20:29] azeemshaikh38 commented on #2117
Wild guess, you may want to add `.AnyTimes()` at the end of the `EXPECT` call for mockrepo. Basically,

`mockRepo.EXPECT().ListMergedPRs().Return([]clients.PullRequest{}, nil).AnyTimes()`

[2022-08-03 03:20] suzuki-shunsuke opened #2118 "scorecard_4.5.0_linux_amd64.tar.gz wasn't released"
Thank you for your great project!

I found scorecard_4.5.0_linux_amd64.tar.gz wasn't released.

https://github.com/ossf/scorecard/releases/tag/v4.5.0

<img width="984" alt="image" src="https://user-images.githubusercontent.com/13323303/182516879-76abbc01-90b1-460e-8ca3-b46123888d5e.png">

On the other hand, scorecard_4.4.0_linux_amd64.tar.gz was released.

https://github.com/ossf/scorecard/release

[2022-08-03 03:23] suzuki-shunsuke commented on #2118
https://github.com/ossf/scorecard/runs/7638647801?check_suite_focus=true

[2022-08-03 03:54] suzuki-shunsuke commented on #2118
Oh, this change seems to be intentional.
I'll take a look SLSA.

[2022-08-03 04:12] suzuki-shunsuke commented on #2118
[code]

[2022-08-03 07:48] suzuki-shunsuke commented on #2118
CI failed.
https://github.com/ossf/scorecard/runs/7638656220?check_suite_focus=true

[2022-08-03 11:09] Abdur-rahmaanJ opened #2119 "BUG api.securityscorecards.dev returning wrong documentation link for CII best practices"
**Describe the bug**
https://api.securityscorecards.dev/projects/github.com/pyhoneybot/honeybot returns among others

[code]

But, https://github.com/ossf/scorecard/blob/3155d134e59d8f47261b1ae9d143034c69572227/docs/checks.md#cii-best-practices does not return anything

Json output: [honeybot.txt](https://github.com/ossf/scorecard/files/9250743/honeybot.txt)

[2022-08-03 13:46] azeemshaikh38 commented on #2119
Interesting find. For some reason the commitSHA points to a commit in scorecard-action repo - https://github.com/ossf/scorecard-action/commit/3155d134e59d8f47261b1ae9d143034c69572227. Need to investigate more. Thanks for the report.

[2022-08-03 13:48] azeemshaikh38 commented on #2118
@laurentsimon fyi.

[2022-08-03 14:01] laurentsimon commented on #2118
Thanks. Sigstore made a breaking change which breaks every existing builder. Sorry abut that. Working on backporting some fixes to the older builders ...

[2022-08-03 15:10] Abdur-rahmaanJ commented on #2119
Np i am a bit lazy to dive in myself

[2022-08-03 18:14] qequ commented on #2117
Thanks, that worked :+1:

[2022-08-03 18:14] #2117 closed

[2022-08-04 18:31] shissam opened #2124 "Feature scorecard exits with non-zero status when internal errors occur"
**Is your feature request related to a problem? Please describe.**
Scorecard exits with an exit status of zero (0) under many circumstances: for instance when there are internal errors.

Scripts and pipeline which use scorecard cannot rely on the exit status when such errors occur.

This can be repeated in situations when scorecard encounters (primary) API rate limits or secondary rate limits whic

[2022-08-04 20:07] varunsh-coder commented on #967
Wanted to update that the UI for this is available now on app.stepsecurity.io.

Here are couple of examples:
https://app.stepsecurity.io/secure-dockerfile/ossf/fuzz-introspector/Dockerfile/main
https://app.stepsecurity.io/secure-dockerfile/madnuttah/unbound-docker/unbound%2FDockerfile/main

The expected format is:
https://app.stepsecurity.io/secure-dockerfile/:owner/:repo/:pathToDockerfile/:branch

[2022-08-04 20:30] laurentsimon commented on #967
cool, do you want to send a PR to update it? This is the file https://github.com/ossf/scorecard/blob/main/remediation/remediations.go

[2022-08-04 21:20] varunsh-coder commented on #967
Will do.

[2022-08-05 20:01] sethmlarson commented on #1776
Chiming in to say I'd like to start using SLSA with urllib3 but losing out on the `Signed-Releases` check we're currently getting from Sigstore would be unfortunate by changing to SLSA.

Could we can get Scorecard to recognize `*.intoto.jsonl` as the same as `*.sig` on a GitHub Release? I don't know if Scorecard is verifying the signatures we're currently publishing as the info only mentions the e

[2022-08-05 20:08] laurentsimon commented on #1776
We're not verifying signatures at all, because it's hard t find out the correct pubic key in practice. SO we can definitely look for an .intoto.jsonl.

[2022-08-05 20:17] sethmlarson commented on #1776
I think that makes sense, especially as a means to convince people to start using SLSA.

[2022-08-05 21:23] laurentsimon commented on #1776
great. Anyone interested in sending a PR for this?

[2022-08-06 08:52] jenstroeger opened #2129 "Scanning alert proposes unsupported remediation"
**Describe the bug**

Here’s a scanning alert: https://github.com/jenstroeger/python-package-template/security/code-scanning/38

It suggests to use `pip` with a hash instead of a pinned version. Alas, [pip install](https://pip.pypa.io/en/stable/cli/pip_install/) does not have such a feature. While I understand the intention of the alert, we have [good reason](https://github.com/jenstroeger/python-

[2022-08-08 19:50] laurentsimon commented on #2018
/cc @raghavkaul

[2022-08-08 19:51] laurentsimon commented on #2129
Hi, thanks for the report.

In you use case, the workflow has low privilege (pull_request trigger with only read permissions, no secrets available), so I agree scorecard should be handling this better. We have a tracking issue in https://github.com/ossf/scorecard/issues/2018

Please let me know if this would address the problem.

@raghavkaul this would fall under the `Impact` field we described in

[2022-08-08 19:52] laurentsimon commented on #2124
@spencerschrock this seems to fall under the general theme of "making scorecard a better dependency / library". Do you want to take a stab at it?

[2022-08-08 21:10] spencerschrock commented on #2124
Sure, I can take a look. The exit status should be an easy fix.

The impact of internal errors on scores is something I will defer to you @laurentsimon. Is this intended behavior when an API limit is hit (or for any internal error)? Should the whole run be considered an invalid result? Is it up to the consumer? WDUT?

[2022-08-08 21:15] jenstroeger opened #2132 "Differentiate between commit SHA and tag SHA"
**Is your feature request related to a problem? Please describe.**

Related to my question/issue https://github.com/actions/checkout/issues/874. As described there, we had pinned an Action like so:
[code]
where `d065129` was an annotated tag named `v3` and not an existing commit. Furthermore, folks rewrite that tag whenever a new version 3 is released so that that “pin” isn’t really a pin at all.

[2022-08-09 18:52] spencerschrock commented on #2124
#2133 does not address the scoring inconsistencies, but at least returns a non-zero exit code

[2022-08-09 20:09] shissam commented on #2124
would y'all suggest (then) that I create another issue regarding "scoring inconsistencies"?

thinking more about this, is this: if in my pipeline I get a non-zero exit, the tendency would be to ignore the (aggregate) score and (possibly) re-run scorecard. The corollary being: a zero status means (for me) that I can use the (aggregate) score in downstream analysis/risk activities.

I would be inter

[2022-08-09 21:14] laurentsimon commented on #2124
I think non-zero value means the run failed, which means the results can be discarded. I agree with your thinking.
@spencerschrock did you have something in mind?

[2022-08-09 21:26] shissam commented on #2124
just one more "piece" for the calculus here.

Interesting in that above, where the internal error did occur resulting in a "local" score of -1 (negative one) for fuzzing, the aggregate score improved from 5.3 (where the fuzzing test deduced no fuzzing was in use) to an inflated 5.6 (with the internal error).

Now that scorecard indicates an error (non-zero exit) should make this point moot--but if

[2022-08-09 21:34] spencerschrock commented on #2124
👍

I think this makes sense. But will it be confusing to users who don't check exit codes? Should we be returning anything when a runtime error occurs? For example, in Go it's idiomatic to zero out other return values if there is an error.

I kept the existing behavior (outputting any results even with runtime errors) mainly out of backwards compatibility, but this is one argument for why returnin

[2022-08-09 23:06] shissam commented on #2124
if you follow the Go tutorial at [https://www.digitalocean.com/community/tutorials/handling-errors-in-go](url) the same is explained stating (in part): "_When returning an error from a function with multiple return values, idiomatic Go code also will set each non-error value to a zero value._" going on to state "_`0` for integers_" (I think I read that correctly)

So in the case above where there

[2022-08-10 00:12] spencerschrock commented on #2124
Since the aggregate score would be invalid due to the runtime error,  the "zero-value" I had imagined was at the entire scorecard level, meaning no JSON (or other format) output at all. Something that heavy-handed would probably need to be discussed in the biweekly OSSF Scorecard meeting.

Yes, that was the reason for `InconclusiveResultScore = -1`, which in my opinion makes it a more appropriate

[2022-08-10 00:23] shissam commented on #2124
I hope to sit in on the next biweekly - when ready, I can re-run my regressions.

[2022-08-10 07:23] varunsh-coder commented on #2051
I figured out why this works on some repos and not on others.

It has to do with whether the repo has branch protection enabled or not. To repro, please enable branch protection on `https://github.com/laurentsimon/scorecard-action-test-2` and try running scorecard using GitHub Action.

The reason this happens is because this code tries to get details about branch protection. Some of those attribut

[2022-08-10 13:34] laurentsimon commented on #2051
Great finding, thank you!
So is the solution to use the public REST API to figure the default branch instead? The REST API, IFAIK, does not have restrictions based on token.

[2022-08-10 14:36] varunsh-coder commented on #2051
In the `remediations.go` file, the reason to call `GetDefaultBranch` is to set `branch`.

https://github.com/ossf/scorecard/blob/0eb7cb2d748725b177d633bcd421a07fc0732721/remediation/remediations.go#L63-L65

I am wondering if there is already code in Scorecard that gets this info without calling `GetDefaultBranch` in `branches.go`.
e.g. this should have default branch. I believe default branch is i

[2022-08-10 15:39] varunsh-coder commented on #2051
I can confirm that `default branch name` is already available and we do not need to make extra calls for it.

I can add this new method in `RepoClient` interface and below implementation in `githubrepo/client.go`.

When I make these changes, the issue gets fixed. I tried it out and the workflow got all the pinned-dependencies issues.

[code]

Let me know if this looks good, and I can create a PR f

[2022-08-10 17:34] laurentsimon commented on #2051
That'd be great. It's my mistake that I did not use `GetDefaultBranchName()`, I think I did not see the function so I picked the one that seemed to jut work :/

[2022-08-10 17:41] varunsh-coder commented on #2051
Actually, `GetDefaultBranchName` does not exist today. I was proposing to add it with this implementation.

[code]

`client.repo.DefaultBranch` does exist, so adding it should be easy.

[2022-08-10 17:45] laurentsimon commented on #2051
LGTM.

[2022-08-11 17:32] raghavkaul opened #2136 "Feature: Scorecard policy that helps evaluate results for GCP Binary Authorization"
### Current Behavior
Today, scorecard's policies can be used to enable/disable certain checks. As per #1405 , the `--policy` flag was disabled in favor of implementing a settings-based policy file.

### Desired Behavior
One motivation for scorecard policies is to use them to make decisions about the runtime authorization (e.g. Google Cloud [Binary Authorization](https://cloud.google.com/binary-aut

[2022-08-11 21:03] david-a-wheeler commented on #2136
Thanks! I wonder - the yaml-based approach may have some overlap with the proposed "SECURITY-INSIGHTS" document, per <https://github.com/ossf/security-insights-spec>.

[2022-08-11 22:49] shissam opened #2137 "Feature: Improved Security-Policy checks"
**Is your feature request related to a problem? Please describe.**
The mere existence of a `SECURITY.md` file (or other file(s) searched such as `.adoc`) with 1 or more bytes in the repo rewards the project's score to the fullest possible score (`10`).

**Describe the solution you'd like**
Gradate the Security-Policy check which would incrementally improve the Security-Policy score if the `SECURIT

[2022-08-12 08:51] balteravishay commented on #897
@laurentsimon, sorry for the delay, how about something like that: https://github.com/ossf/scorecard/pull/2141 :)

[2022-08-12 08:59] lyndon160 opened #2142 "Feature: Assess presence and maintenance of a threat model"
**Is your feature request related to a problem? Please describe.**
The scorecard is a useful tool to 1) help maintainers follow best practice, but also 2) provide assurance for users of the software.

Currently threat modeling is not included as a check. The existence and maintenance of a threat model can be considered a best practice. It demonstrates the following:
- System has been designed with

[2022-08-12 16:23] #2051 closed

[2022-08-12 17:55] laurentsimon commented on #2137
sounds like a good idea. One worry is around false negative. We want to be sure we don't miss certain patterns. Have you checked, say, 100 SECURITY.md files to be validate it would work properly?

If you're interested in this, please feel free to send a PR once you've done some preliminary validation.

[2022-08-12 18:00] laurentsimon commented on #2132
This would be a nice improvement. Can you give an example repository? I'm not following the part that `d065129 was an annotated tag named v3`. The annotated tag is an object, so its commit hash would change if there was a force push to update it, no?

(I've not fiddled enough with annotated tags, so please bear with me :)

[2022-08-12 19:29] shissam commented on #2137
I can do that... when you say `PR` - sorry, my brain is not decoding, do you mean Problem Report?

[2022-08-12 19:48] naveensrinivasan commented on #2137
Pull Request https://docs.github.com/en/get-started/quickstart/github-glossary#pull-request

[2022-08-12 20:54] jenstroeger commented on #2132
If you take a look at the [actions/checkout](https://github.com/actions/checkout/) repository you’ll see that there is [no commit `d065129`](https://github.com/actions/checkout/commit/d0651293c4a5a52e711f25b41b05b2212f385d28). However, there is a tag named `v3` whose SHA `d065129` “points at” (references, aliases, I’m unsure) a different commit whenever there’s an update.

I’m waiting for a respon

[2022-08-13 00:09] behnazh-w opened #2145 "SLSA provenance available check"
@laurentsimon I have a question about the recent [change](https://github.com/ossf/scorecard/commit/777298477c07c262a4ec7e95ceee839b7b3b75ae#diff-ec7162da628e8587757286bab0848563d1be93f39b0e33facc307792d27ffe94R28) that checks for `.intoto.jsonl` extensions in the release assets. With this check, the Scorecard repository itself will not meet the provenance available check, looking at the [latest re

[2022-08-13 00:29] laurentsimon commented on #2145
You're right. The provenance is stored inside the zip file.. good catch!
Im going to move Scorecard to use the generic generator soon, because the Go builder only supports a single build. Once we have support for multiple builds, we will release binaries and the provenance will stored next to the binaries, without zip files.

[2022-08-13 00:32] behnazh-w commented on #2145
Yes, thanks for the quick reply :+1:

[2022-08-13 00:48] laurentsimon commented on #2145
See https://github.com/ossf/scorecard/pull/2146

[2022-08-13 01:04] behnazh-w commented on #2145
Because Scorecard looks for the `.intoto.jsonl` files in the release assets, it would be better to point it out I think, e.g.,
[code]

[2022-08-13 01:13] laurentsimon commented on #2145
Updated, PTAL

[2022-08-13 01:18] behnazh-w commented on #2145
Great. To be consistent, I think the [docs/checks.md](https://github.com/ossf/scorecard/pull/2146/files#diff-d8f43b021010b7446a8899b82a2a922995dc61b817f61102b5a72a8b97b2eea4R541) should change too.

[2022-08-13 20:36] Amvms opened #2147 "BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-13 23:01] #2147 closed

[2022-08-15 15:10] raghavkaul commented on #2136
@david-a-wheeler Thanks for bringing that project to my attention! My initial thought is that the threat model of Security-Insights is different from that of a Binary Authorization policy (or other deployment policy). Whereas Security-Insights is the set of insights about a specific repo declared by the repo owner, the Binary Authorization policy would be a set of standards for any repo declared b

[2022-08-15 18:01] azeemshaikh38 commented on #2136
@laurentsimon @naveensrinivasan @justaugustus - Raghav is ready to start work on this. Please give a shout if there are any concerns here.

[2022-08-15 19:25] laurentsimon commented on #2136
This work works well on branch protection because each result is "named", but not well for other checks like token-permissions or pinning. What's the plan for the others?

[2022-08-15 20:48] #2124 closed

[2022-08-15 21:10] azeemshaikh38 commented on #2136
IMO some checks like `Branch-Protection`, `Token-Permissions` shouldn't be exposed at all through this policy. I don't see these checks being useful to gate an image built at commit X. The list of checks to expose here IMO are: `Bin-Artifact`, `CI-Tests`, `Code-Review`, `Pinned-Deps`, `SAST` and `Vulnerabilities` (atleast for the initial release).

And for checks that require an ignoreList (`Pinne

[2022-08-15 21:31] laurentsimon commented on #2136
do you mean `Dependency-Pinning` or `Branch-Protection`? (I'm asking because @raghavkaul 's initial description is heavy on the Branch-Protection check.) I understand that the check is not bound to a commit / source code, though. If this is better suited for AllStar, does this mean we'll ask users to install both? Or will AllStar encompass all the policies we declare here?

I don't see these check

[2022-08-15 22:32] azeemshaikh38 commented on #2136
Scope here does not include defining a generic policy. This policy definition will only be used for expressing a BinAuthz policy.

It could be exposed, I mean they *don't need to be* because there doesn't seem to be a strong usecase for a BinAuthz client to gate on Token-Permissions.

[2022-08-16 14:43] azeemshaikh38 opened #2150 "BUG: Check for created_since in Maintained check"
Given the recent [malicious forks attack](https://www.bleepingcomputer.com/news/security/35-000-code-repos-not-hacked-but-clones-flood-github-to-serve-malware/), one idea that came up was to use `created_since` signal and use it in the `Maintained` check. What we could do is, if a repo was created in the last X days (say 90), dock some score and add a `warn` detail to the logger. Else the behavior

[2022-08-16 16:00] naveensrinivasan commented on #2150
👍

[2022-08-16 17:49] sethmlarson opened #2152 "Using Scorecard GitHub Action reduces the Token-Permissions score"
**Describe the bug**

urllib3 recently added the [Scorecard GitHub Action](https://github.com/urllib3/urllib3/blob/main/.github/workflows/scorecards.yml) to its repository. After adding this we observed our "Token-Permissions" score being 9/10 instead of the previous value of 10/10. This was due to:

This is because the action wants the permission `security-events: write` which is a permission tha

[2022-08-16 17:50] azeemshaikh38 commented on #2152
@spencerschrock fyi

[2022-08-16 17:56] varunsh-coder commented on #2152
@sethmlarson slightly off-topic, but I am curious why you got a remediation link for `syndicate-lang/syndicate-js`? That seems like a different project, which does not have GitHub Actions workflows. For context, I am the maintainer for https://github.com/step-security/secure-workflows (which hosts APIs for app.stepsecurity.io), so want to understand if this is due to a bug...Thanks!

[2022-08-16 17:58] sethmlarson commented on #2152
Great question! I copied this output from this page: https://deps.dev/pypi/urllib3 to save me a second in running scorecard to get the output.

[2022-08-16 18:18] laurentsimon commented on #2152
They are just taking the information from the scorecard result using the BQtable. Let's verify what in the BQTable for this project.

[2022-08-16 19:10] azeemshaikh38 commented on #2152
Great find! So running the check locally seems to work fine, but our cron job table spits out the wrong result (which then propagates to deps.dev). Looks like this might be an interesting memory corruption bug - i.e we are persisting memory across runs of Scorecard which we shouldn't be doing.

@spencerschrock could you look into debugging this?

[2022-08-16 19:11] azeemshaikh38 commented on #2152
I highly suspect this line of code here: https://github.com/ossf/scorecard/blob/main/remediation/remediations.go#L47

[2022-08-16 19:17] spencerschrock commented on #2152
Wrapping up tests for the commit for the original issue. can take a look at the cron job after

[2022-08-16 19:26] azeemshaikh38 commented on #2152
I think there is a bigger problem here we need to address (maybe in a separate issue) - if we can so easily break the results shown on deps.dev, it'll be hard to build any kind of trust on Scorecard results. We need to tighten how these results get published. @ brianrussell2

[2022-08-16 21:13] spencerschrock opened #2154 "BUG Mismatch in docs for Webhooks severity"
**Describe the bug**
The [YAML which defines the Webhooks check](https://github.com/ossf/scorecard/blob/2f253e83c4d85cd68202c523bd0e956732a84421/docs/checks/internal/checks.yaml#L740) has a mismatch between the `risk` (high) and the `description` (critical). I'm not sure what the proper level is, but it affects what the users see in `docs/checks.md` and ultimately how the scores will be calculated

[2022-08-16 21:19] azeemshaikh38 commented on #2152
Re-opening. Can use this issue to track the cron job bug too.

[2022-08-16 21:28] azeemshaikh38 commented on #271
https://github.com/ossf/scorecard-action/issues/133 fixes this. Closing the issue.

[2022-08-16 21:28] #271 closed

[2022-08-16 21:31] azeemshaikh38 commented on #1490
@ossf/scorecard-maintainers - we have most features implemented here to start thinking about having a v5 release. What do folks think? @justaugustus your input here as the release manager for Scorecard v5 would be very much appreciated :)

[2022-08-16 21:41] naveensrinivasan commented on #1490
👍 This would be a good time to release.

- Scorecards badges
- Scorecards API

[2022-08-16 23:05] spencerschrock commented on #2152
👍

The problem is removing the `once.Do` code would fix the issue with "stale" repo/branch names, but it introduces data races which cause the unit tests to fail.  The issue is the raw results are generated in a different package (`raw`) than where the remediation text is generated (`evaluation`).

If we want to support concurrency (especially for something large like the cron jobs), I think the a

[2022-08-16 23:09] #2150 closed

[2022-08-16 23:20] azeemshaikh38 commented on #2152
Just a thought: remediation should belong in `checks/evaluation` instead of being a separate package (also maybe don't expose the remediation related fns)?

If every check generates its own remediation, it makes sense that it should just get generated on a per check basis inside `checks/evaluation`. @laurentsimon who may have more insights.

[2022-08-16 23:32] laurentsimon commented on #2152
no strong opinion from me here. I think the long-term plan was to take evaluation/ out of the check some time, which is why the remediation was out. But either works for me.

Maybe a simple fix is to remove the `Once`. I think I added this to avoid having the remediation function returns an error (and to have to check for the error in all calls), but if this `Once` is creating too many problems we

[2022-08-16 23:41] spencerschrock commented on #2152
If every check generates its own remediation, it makes sense that it should just get generated on a per check basis inside checks/evaluation. @laurentsimon who may have more insights.

I was still thinking there would need to be some sort of change [here](https://github.com/ossf/scorecard/blob/ff9c0626ef4ebfb924fd46d33bb4fb389d3f3738/checks/permissions.go#L59) to bridge the gap between the `checks

[2022-08-16 23:44] laurentsimon commented on #2152
I meant remove the global as well if the info can be retrieved via repo client direcly.

[2022-08-17 00:27] #2145 closed

[2022-08-17 00:55] azeemshaikh38 commented on #2152
Not sure why this is needed? We can simply move all the `remediation` logic into `checks/evaluation` and remove the `Once`?

[2022-08-17 01:16] azeemshaikh38 opened #2157 "Improving Score Reporting: Empty repository"
Running Scorecard on an empty repository (no commits) returns results which do not make sense:

[code]

The aggregate score of 5 for an empty repository does not make any sense and needs to be fixed.

@ossf/scorecard-maintainers @spencerschrock @raghavkaul fyi.

[2022-08-17 01:18] azeemshaikh38 commented on #2157
One idea might be to have the `Score` field to be a pointer. That way a `nil` value can indicate NA instead of `-1` which we today use to indicate inconclusive.

[2022-08-17 01:21] azeemshaikh38 opened #2158 "Improve Score Reporting: Token-Permissions on repo without GitHub workflows"
`Token-Permissions` check returns `10` on repositories which do not have any GH workflows. We should consider improving our reporting here.

[code]

[2022-08-17 01:23] spencerschrock commented on #2152
It's the end of the day, so I might just be missing something obvious, but my thought is:

Inside `checks/evaluation` where the logic for the remediation check already is [here](https://github.com/ossf/scorecard/blob/ff9c0626ef4ebfb924fd46d33bb4fb389d3f3738/checks/evaluation/permissions.go#L68), there is no way to access any variable (such as the `RepoClient`) that has access to the repo URI/branc

[2022-08-17 01:23] azeemshaikh38 opened #2159 "Improve Score Reporting: License check regexes should be improved"
License check should include the following file names: GPL-2.0, LICENSE, LICENCE, LICENSE.txt, LICENSE.rst, LICENSE.PSF, LICENSE.APACHE, LICENSE.BSD, LICENSE.md, LICENSE-MIT.

[2022-08-17 01:26] azeemshaikh38 opened #2160 "Improve Score Reporting: Check for maintainer activity upto last year"
Maintained check only looks for activity within the last 90 days which might be too short of a time frame for stable projects and we unfairly penalize them. Let's increase the activity period we look for to 1 year.

[2022-08-17 01:36] azeemshaikh38 opened #2161 "Improve Score Reporting: Branch-Protection check fails with -1"
Branch-Protection fails with `-1` for multiple reasons:

- lookup of a branch name that no more exists on the repository
- unable to locate the branch even though it existed (maybe similar to #1320)
- the main branch had a different name than the “main”

None of these seem reasonable cases to be returning `-1`. Need to fix this.

[2022-08-17 01:39] azeemshaikh38 opened #2162 "Improve Score Reporting: OSV coverage is limited"
We only query the OSV database for vulns on a commitSHA so we are extremely limited on the vulns we can report through Scorecard. There is a high possibility that we are rating a commitSHA as `10` on `Vulnerabilities` check but it actually has reported Vulnerabilities elsewhere. This will quickly erode users trust in Scorecard, need to fix this one ASAP.

[2022-08-17 01:42] azeemshaikh38 opened #2163 "Improve Score Reporting: Binary-Artifact filetype detection is not reliable"
There have been multiple reports by users in the past that Binary-Artifact reports false positives and is noisy. Need to fix this behavior.

[2022-08-17 01:45] azeemshaikh38 opened #2164 "Improve Score Reporting: Pinned-Dependencies false negative reports"
In ecosystems like Python and NPM, Pinned-Dependency check can give a score of 10, but their manifest files (`requirements.txt` and `package.json`) may actually contain unpinned dependencies. Let's improve our reporting here to show that only certain filetypes are being inspected so that a we don't give a score of 10 to repositories where deps can still be unpinned.

[2022-08-17 01:47] azeemshaikh38 opened #2165 "Improve Score Reporting: Deps-Update-Tool should check for tool activity"
Is looking for the presence of a config enough of an evidence to rate a repository at 10? Should we maybe tighten this check a bit more and make sure that there have been recent commits by these tools?

[2022-08-17 01:53] azeemshaikh38 opened #2166 "Improve Score Reporting: Signed-Release and Packaging checks"
We do terribly on Signed-Releases and Packaging checks for ecosystems and projects which do not release on GitHub or using GitHub actions. Some ideas to improve here:

- Look for git tags to check for releases and ensure that these tags are signed/verified.
- Extending the above point, see if we can find associated release artifacts on package repositories.
- Improve the packaging workflow list wh

[2022-08-17 16:06] laurentsimon commented on #2152
You're correct, the `repoClient` is the reason why it's not under evaluation. The reasoning is that evaluation should have all the information required to apply a policy without further API calls, as would be the case for someone fetching the results from the REST API / BQ table.

If some information is missing, maybe it should be added in the raw results.

I think we have hijacked the original in

[2022-08-17 16:26] azeemshaikh38 commented on #2152
I see, that makes sense. Like @laurentsimon mentioned, I think the right way to solve this is to have info like URL, branch_name etc. in RawData. But I know it's not an easy change and might take time. So, let's remove the `init()` fn and all the global vars for now (that should solve the data race issue too). We need to fix this before EOW so that the cron job picks up the fix.

Once the fix is i

[2022-08-17 16:30] laurentsimon commented on #2152
I'm fine with that.

[2022-08-17 19:02] azeemshaikh38 opened #2169 "Improve Score Reporting: Signed-Releases looks at old release data"
In some cases, Signed-Releases check looks at older releases instead of looking at the latest 5 releases. Some failing repos:

- https://github.com/pallets/jinja
- http://github.com/scikit-build/cmake-python-distributions
- http://github.com/hardbyte/python-can
- http://github.com/scikit-build/scikit-build
- http://github.com/koalalorenzo/python-digitalocean

[2022-08-18 08:56] singhsaurabh commented on #2092
Hi Caroline Lee(caroline.lee2@ibm.com) and I would like to take this issue to work.

[2022-08-18 15:13] naveensrinivasan commented on #2092
@singhsaurabh  This requires the infrastructure to run `cron` job as it is part of the `cron` job. Currently, we don't have a way to run this locally. The `cron` job requires additional things like `pub/sub` and `k8s`.

I wanted to make sure that you are aware of this.

[2022-08-18 22:45] laurentsimon commented on #2162
@oliverchang can you comment on this?

[2022-08-18 22:47] laurentsimon commented on #2118
Now it is released https://github.com/ossf/scorecard/releases/tag/v4.6.0
I encourage you to verify the provenance, using the steps described in https://github.com/ossf/scorecard#installation

It would be fun to simulate an attack and catch it via your automated CI.

[2022-08-18 22:48] #2118 closed

[2022-08-18 22:57] oliverchang commented on #2162
I think this just boils down to the issue of not having a good repo -> package level mapping. Most vulnerability databases do not track commit level information, and when they do, it's sparse and incomplete.

Perhaps we should change the meaning of this Vulnerabilities check. Maybe we should instead check if a project has known vulnerabilities in its dependencies. This is much easier to check (bec

[2022-08-19 04:29] sethmlarson opened #2174 "Scorecard doesn't penalize unpinned reusable workflows in "Pinned-Dependencies" check"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**

- Create a workflow which uses a reusable workflow (e.g. `slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml`)
- Use a tag instead of a commit sha (`@v1.2.0`)
- Run Scorecard for `Pinned-Dependencies` (`$ scorecard-linux-amd64 --repo https://github.com/sethmlarson/pytho

[2022-08-19 07:10] singhsaurabh commented on #2092
Thank You @naveensrinivasan.

[2022-08-19 12:59] dbrumley opened #2177 "Add Mayhem to Qualified Fuzz Source"
**Is your feature request related to a problem? Please describe.**
Currently you only describe oss-fuzz and onefuzz.  Please add Mayhem from forallsecure.com, which has a free tier at mayhem.forallsecure.com.  Currently there are over 1000 repos (more than google oss-fuzz or onefuzz) using Mayhem.

**Describe the solution you'd like**
Add having a Mayhemfile to qualify for fuzzing

**Describe alte

[2022-08-19 13:44] naveensrinivasan commented on #2092
@singhsaurabh  Do you have a timeframe for when you will likely be done with this?

[2022-08-19 13:46] azeemshaikh38 commented on #2177
Thanks for the report @dbrumley. Could you expand on how Scorecard can check if a project uses Mayhem?

[2022-08-19 13:56] dbrumley commented on #2177
The presence of a `Mayhemfile` for our code fuzzing solution.

We have two fuzzing solutions: one for code, and one for APIs. Alternatively one could check for the presence of a github action:  https://github.com/ForAllSecure/mcode-action and our API fuzzing at https://github.com/ForAllSecure/mapi-action

Happy to look into alternatives as well.

[2022-08-19 15:55] laurentsimon commented on #2177
@azeemshaikh38 I think API fuzzing works too. A great deal of projects are "dependency" projects that provide APIs.
API fuzzing is actually more granular than top-level "main program" fuzzing, so we should encourage people to do it. It's basically like unit tests, but fuzzing.

@dbrumley Can you clarify the meaning of "code" vs "API" fuzzing? Do you mean "top-level program" and "API-level" fuzzing

[2022-08-19 15:58] azeemshaikh38 commented on #2177
IIUC, https://github.com/ForAllSecure/mapi-action is targeted towards something like REST APIs.

[2022-08-19 16:20] dbrumley commented on #2177
Mayhem for API takes an API spec, and then tries to get coverage of the spec. Coverage means that we can positively interact with the API (2xx) to make sure we're not just sending junk.  Coverage is measured. In addition, I believe it checks the most number of CVEs in the OWASP API Top 10 (more than zap for sure).

As an example, m. api has found bugs in the K8 API that ended up being fixed.

Mayh

[2022-08-19 16:20] raghavkaul commented on #2169
I believe this is because we're not getting asset data back in raw results for recent releases, e.g. for Jinja, the first release that we get assets for is 2.10:
[code]
I can take a look further.

[2022-08-19 16:24] laurentsimon commented on #2177
SGTM.

[2022-08-19 16:29] naveensrinivasan commented on #2092
@singhsaurabh, I recommend taking some of the https://github.com/ossf/scorecard/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22 and getting used to codebase before jumping on this one.

[2022-08-19 18:34] laurentsimon commented on #2137
Thank you for this preliminary analysis. If there was a way to map a score ti what piece of information is missing, it would be even better, but I'm not sure it's do-able here. (We this for the branch protection check).

Let me cc @annabellegoth2boss, @SecurityCRob and @david-a-wheeler who have worked on the vulnerability disclosure guideline and may have additional feedback https://github.com/goo

[2022-08-19 18:44] spencerschrock commented on #2159
I can tackle this.

Based on how I implement the regex, are additional combinations (`LICENCE.md` instead of `LICENSE.md`) also acceptable? Or should the expanded file names only include the ones you've listed?

[2022-08-19 18:56] naveensrinivasan commented on #2159
Thanks, @spencerschrock! Assigning it to you!

[2022-08-19 20:08] azeemshaikh38 commented on #2164
/assign to @raghavkaul

[2022-08-19 20:50] #2159 closed

[2022-08-19 21:22] wenottingham opened #2181 ":bug: Security-Policy check does not catch security policies set at the org level"
**Describe the bug**

GitHub allows setting security policies at the organization level.

Example: the aiohttp python project sets their org policy here for their org: https://github.com/aio-libs/.github/blob/master/SECURITY.rst

This policy is read by github, and shown for organization projects: https://github.com/aio-libs/aiohttp/security/policy

However, the scorecard check doesn't find it, as

[2022-08-19 21:44] azeemshaikh38 commented on #2181
Fixed in #2180

[2022-08-19 21:44] #2181 closed

[2022-08-20 15:58] laurentsimon commented on #2164
The check does not look for `requirements.txt` and `package.json`. The check looks for commands that don't treat these files as read-only and / or don't fail if there are unpinned commands in these files.

[2022-08-20 16:02] laurentsimon commented on #2163
Was it before or after https://github.com/ossf/scorecard/pull/1879 was merged?
@jeffmendoza reported improvements after this PR and may have some ideas about noise / FP still left

[2022-08-22 12:45] lyndon160 commented on #2142
The security-insights-spec (OSSF) appears to specify a template for threat modelling, perhaps the scorecard could align to this.

https://github.com/ossf/security-insights-spec/blob/edf5a4fb071510b461f19f3cba38c7339c20e4ae/security-insights-schema-1.0.0.yaml#L185

[2022-08-22 14:30] laurentsimon commented on #2166
Not clear this how much improvement this is. Tags are in the commit history. This is different from binaries stored in release assets (that can be altered without commit history changes) and / or registry packages.

this is covered in https://github.com/ossf/scorecard/issues/688

[2022-08-22 14:34] laurentsimon commented on #2165
I think we used to have a tracking issue for this - I can't find it so maybe not :)
One reason we postponed implementation was because it's not clear how often a PR could be expected to be merged. This depends on repo activity, for example. Since scorecard checks for 30 commits, there is a risk that the results would oscillate between different scores, depending on whether we find a PR or not.

[2022-08-22 14:55] azeemshaikh38 commented on #2169
Thanks @raghavkaul! Possibly because we don't explicitly specify `ListOptions` [here](https://github.com/ossf/scorecard/blob/main/clients/githubrepo/releases.go#L52).

[2022-08-22 16:38] raghavkaul commented on #2136
The main reason to keep Branch-protection out of the checks is that it's point in time, so it makes sense for Allstar because Allstar checks it during merge-time, but for a deployment-time check, Binary authorization could have been enabled post-hoc.

Also agree with the first set of checks implemented into policy to be:
[code]

It's case by case - everything we express in YAML may have a differen

[2022-08-23 15:15] laurentsimon commented on #688
For this check, we should also look for commands: e.g., `npm publish`

[2022-08-23 15:17] laurentsimon commented on #688
Note that also need to decide the purpose of this check: is it to know that there is a corresponding package for the ecosystem, or whether the publishing steps occur on CI and not a local dev machine? If the latter, we only need to look for additional commands and not worry about querying package registries.

[2022-08-23 15:25] laurentsimon commented on #688
Also note that for Go projects, this checks will fail and it's a false negative. Go project don't need to be "released", since they are fetched directory from the repository (and then cached) when consumers do `go install` or `go get`

[2022-08-23 15:53] stefreak commented on #2174
It also does not find issues in local actions (e.g. `uses: ./.github/actions/some-local-action`)

[2022-08-23 16:19] azeemshaikh38 commented on #2174
Should probably be a separate issue - but local actions not being penalized is ok since running your own action can be considered trustworthy?

[2022-08-23 16:38] stefreak commented on #2174
@azeemshaikh38 Local composite actions or local Docker actions could refer to third party Docker containers and third party GitHub actions without pinning. This is why the code scanner should discover all of the GitHub action code (incl. reusable workflows and composite actions / docker actions), not just the workflows themselves.

[2022-08-23 16:45] stefreak opened #2189 "BUG: Scorecard does not penalize unpinned third party actions in local composite / docker actions"
**Describe the bug**
It's possible to call third party actions or docker containers in local GitHub actions, and call the local GitHub actions from a workflow.

scorecard does not seem to verify local GitHub actions in my tests

This might be related to https://github.com/ossf/scorecard/issues/2174 but I am not sure.

**Reproduction steps**
- [ ] Create a repo to reproduce this

**Expected behavio

[2022-08-23 16:58] azeemshaikh38 opened #2190 "Improve Score Reporting: Dependency-Update-Tool irrelevant for projects without dependencies"
Projects which have no dependencies do not require a Dependency-Update-Tool check and we shouldn't penalize them for not using dependabot or renovatebot.

[2022-08-23 18:23] spencerschrock commented on #1916
I can take a look at this

[2022-08-23 19:18] raghavkaul commented on #2164
Today we get dependencies through [checks/raw/shell_download_validate_test.go](https://github.com/ossf/scorecard/blob/main/checks/raw/shell_download_validate_test.go). I think the issue arises if a library doesn't have build steps that point to a deps file (either through lack of build steps or lack of deps file). There's also cases where there may be multiple deps files (e.g. for big repos).

Sco

[2022-08-23 19:23] laurentsimon commented on #2164
I don't follow. If there is no dependency file, it cannot be pinned in most ecosystems. In fact, it's bad practice to pin without a dependency files because renovatebot / dependabot do not parse commands and won't send updates.
if the commands used to install honor the dependency file, then it follows that there *is* a dependency file used which *is* pinned.

[2022-08-23 20:29] spencerschrock commented on #1916
My plan is to expand the graphQL API call to fetch all the check info in the initial API call. Something like this:

[code]

which will produced the same info used by `Client.Checks.ListCheckRunsForRef`

[code]

[2022-08-23 20:45] azeemshaikh38 commented on #1916
In `CI-Tests`, the issue comes from this for loop - https://github.com/ossf/scorecard/blob/2b206dc3654ab96b88310625c5f0a1a3902723e7/checks/ci_tests.go#L53-L54

We basically need to make the `ListChecksRunsForRef` call for all commits returned by `ListCommits` which is what makes this check expensive.

The other issue is - we call `ListCheckRunsForRef` and `ListStatuses` on [`pr.HeadSHA`](https://g

[2022-08-23 21:00] spencerschrock commented on #1916
Yep. That's what I was hoping to avoid by expanding `graphqlData` to include `checkSuites` so we can get it all in one call instead of 30 (or whatever `commitsToAnalyze` is set) API calls.  I think this would still increase the cost of the query though. I'll play around with if this is an improvement or not.

I'll keep this in mind to make sure to preserve existing behavior

[2022-08-23 21:05] azeemshaikh38 commented on #1916
Yes, although graphQL cost might still be better than 30x REST API calls. You can use the e2e tests to understand how a change affects the query cost - https://github.com/ossf/scorecard/blob/main/clients/githubrepo/graphql_e2e_test.go. Note that *some* increase in cost is ok and expected.

[2022-08-23 21:25] laurentsimon commented on #1938
landed https://github.blog/changelog/2022-08-23-ssh-commit-verification-now-supported/
I have no idea how revocation works

[2022-08-23 21:31] azeemshaikh38 commented on #2016
IIUC, the problem here is that some repos do not squash when they merge a PR. So when a PR with 5 commits gets merged, each of those commits are returned in `ListCommits`. But the number of PRs associated with these commits is just 1. So checks like SAST, CI-Tests which care about PRs rather than commits seem off.

This is actually a bug IMO (like if a PR had 30 commits, we'd only be analyzing one

[2022-08-23 21:37] laurentsimon commented on #2016
Tough one. Can the "squashed" status be queried?

[2022-08-23 21:41] raghavkaul commented on #2119
Looks like a problem with how scorecard-action propagates runtime environment to scorecard. I can take a look further

[2022-08-24 01:34] azeemshaikh38 commented on #2016
Not AFAIK

[2022-08-24 16:21] laurentsimon commented on #2016
:/ If we find that we're not analyzing enough commits, can we re-query? That starts to become a bit complicated, though

[2022-08-24 18:18] sethmlarson opened #2196 "BUG Scorecard doesn't recognize Python publishing workflow without setup-python"
**Describe the bug**

The official pypa/gh-action-pypi-publish action doesn't require a prior call to `actions/setup-python` to work properly, however the verifier for the "Packaging" check looks to see that `actions/setup-python` is used. This has caused urllib3 to register no score for the "Packaging" check once we switched to using separate builder and publishing jobs to add SLSA provenance att

[2022-08-24 20:08] ljharb commented on #1826
Some additional feedback: pinning an action to a tag is perfectly fine when the author is trusted, and is *far* better for security because security fixes can freely flow downstream.

[2022-08-24 21:11] naveensrinivasan commented on #1826
What happens if the author account is compromised? How do you deal with that?

[2022-08-24 21:13] ljharb commented on #1826
The same thing that happens if the author account is compromised, they update the action to have well-hidden malicious code, and then someone rubberstamps a dependency update PR - be compromised.

In practice, this simply is not a thing that actually happens. Additionally, this is on open source published packages - there's *nothing to compromise* because nothing is done in the actions. In most ca

[2022-08-24 21:32] lucasgonze commented on #1826
This would be a good panel discussion at something like https://events.linuxfoundation.org/openssf-day-europe/.

[2022-08-25 02:33] laurentsimon commented on #1606
Note that a command such as `go install package@v1.2.3` may be considered pinned, because of the logs used to cache packages. However, this would not updated by tools like renovatebot / dependabot because they cannot parse commands, so we may still want to discourage this practice.

[2022-08-25 02:43] laurentsimon commented on #1826
In cases where there are no permission, I agree that pinning does not help and incur additional work for maintainer to maintain / update. @ljharb is this what you meant or you had a different example in mind?

The point on developer trust is interesting. It's hard for scorecard to do out of the box, but allowing consumers to tweak the results based on developer's identity would be interesting. Wha

[2022-08-25 03:04] ljharb commented on #1826
That’s up to each maintainer. GitHub’s official recommendations, for example, say that pinning an action to a tag is sufficient for an action author the maintainer trusts.

The scorecards system fails to be useful if it tries to editorialize too aggressively - when something is sometimes safe and reasonable, if the scorecard penalizes maintainers for it, the scorecards themselves stop being well-c

[2022-08-25 21:12] G-Rath commented on #1707
@naveensrinivasan `osv-detector` is at a pretty good point now that I think it should be usable here - I'm wondering if it could be used as a binary to avoid having to duplicate all the manifest/lockfile finding stuff, and then scorecard could parse its json output. Would that work?

[2022-08-26 06:11] aidenwang9867 commented on #2064
I gave the [Scorecard REST API](https://api.securityscorecards.dev) a try and it seems that it already contains many dependency packages - which is great to know! However, since the returned object of `GET /projects/{platform}/{org}/{repo}` is `a JSON object` of the repository's `ScorecardResult`, I was wondering how we might use this in the dependency-diff module since the [DependencyCheckResult]

[2022-08-26 06:16] aidenwang9867 commented on #2065
We won't have this implemented until (1) the [Scorecard REST API supports](https://api.securityscorecards.dev/) querying by a version tag or (2) the [GitHub Dependency Review API](https://docs.github.com/en/rest/dependency-graph/dependency-review#about-the-dependency-review-api) returns the commitSHA of a dependency.

[2022-08-26 11:40] naveensrinivasan commented on #2064
@aidenwang9867  Are you planning to work on this?

[2022-08-26 17:45] aidenwang9867 commented on #2064
I think I can take this part (changing the running Scorecard mode to query from the REST API). I don't have much workload at school these days. What's our plan on this feature? @azeemshaikh38 @laurentsimon

[2022-08-27 19:25] naveensrinivasan opened #2203 "Code coverage metrics"
The code coverage has been downward trending in these last six months.

https://app.codecov.io/gh/ossf/scorecard

![image](https://user-images.githubusercontent.com/172697/187045086-c57cc463-c38f-4eb6-b6f9-7521698dbd2f.png)

It was at 58%, and now (8/27/2022) is around 42%.

My recommendation is to enforce coverage metrics to have higher levels of reliability. This is critical for NEW contributors

[2022-08-27 19:34] naveensrinivasan opened #2204 "Blog - Scorecard"
With the upcoming release of https://github.com/ossf/scorecard-webapp as a public domain, scorecard should have its blog similar to every other large OSS Supply chain security project https://slsa.dev/blog https://blog.sigstore.dev, etc.

This allows end-users/communities to write blog articles about how scorecard is helping them, and new scorecard releases can be in Scorecard's domain, etc.

This

[2022-08-27 19:34] naveensrinivasan commented on #2204
@ossf/scorecard  Thoughts?

[2022-08-27 19:35] naveensrinivasan commented on #2203
@ossf/scorecard-maintainers  FYI...

[2022-08-28 16:23] rjb4standards opened #2205 "Feature: Questions - Does Scorecard also generate score for app's in App stores?"
Not really a request, more of a question. Can Scorecard generate scores for app's in App stores?

Can Scorecard produce scores on any binary software object or is it limited to certain types of objects?

Thanks,
Dick Brooks
Reliable Energy Analytics (REA)
mailto:dick@reliableenergyanalytics.com

[2022-08-29 16:24] sgoggins opened #2213 "BUG: Scorecard not building"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1. Clone repository
2. Type `go build`
3. See results!
[code]
**Expected behavior**
Successful build.

**Additional context**
Ubuntu 20.04 and several different, recent versions of go have the same result.

[2022-08-29 17:11] naveensrinivasan commented on #2213
@sgoggins Thanks, What version of `go` are you using to build?

Scorecard requires go 1.18

Also, we have make a target for building scorecard `make build-scorecard`

[2022-08-29 17:30] mbarbero opened #2214 "Feature: add support for Jenkinsfile analysis in Dangerous-Workflow check"
Jenkins CI is still widely used in the industry, and not everybody is willing to switch to GitHub action. The `Dangerous-Workflow` check would benefit from adding support in analyzing `Jenkinsfile`

**Is your feature request related to a problem? Please describe.**
We get a 10 for this critical check as we mostly don't use Github action. I would prefer to have a score reflecting the reality.

**De

[2022-08-30 14:39] sgoggins commented on #2213
@naveensrinivasan : I'm on 1.19. I will try `make build-scorecard`

[2022-08-30 18:56] spencerschrock commented on #2205
Scorecard is run on source code, and is currently heavily geared towards open-source projects hosted on GitHub.

There are apps in App Stores that meet that definition (such as Signal's [Android](https://github.com/signalapp/Signal-Android) or [iOS](https://github.com/signalapp/Signal-iOS) apps), but you cannot run Scorecard against most apps in an App store. If you know an app is open-source and

[2022-08-30 19:33] azeemshaikh38 commented on #2205
To add to @spencerschrock's answer - for binary artifacts the recommendation is to use [SLSA](https://slsa.dev/). SLSA provenances tie an artifact to a source code from which it was built. Scorecard can then be used produce scores on the source.

[2022-08-30 19:33] azeemshaikh38 commented on #2205
Closing for now, re-open if needed.

[2022-08-30 19:33] #2205 closed

[2022-08-31 17:44] azeemshaikh38 commented on #2214
@mbarbero thanks for the suggestion. To clarify, you are suggesting that Scorecard should parse the contents of `Jenkinsfile` to ensure that users are passing secure inputs to their builds, correct? That sounds reasonable to me @ossf/scorecard-maintainers fyi.

If there is consensus among other maintainers, would you be willing to send a PR to do this? One of us can help get it reviewed and merged

[2022-08-31 17:52] azeemshaikh38 opened #2224 "Feature: Support `--commit-depth`"
The number of commits Scorecard analyzes is hardcoded to 30 (for GitHub) today. We can let users configure this by providing a `--commit-option`. The default can remain 30 so as we don't affect current behavior.

This will be useful to analyze developmental practices between 2 releases, for example.

@nadgowdas @lehors @leec94 fyi.

[2022-08-31 18:22] azeemshaikh38 commented on #2224
I was thinking it would be an int. How do you mean `Commit-ish`?

[2022-08-31 18:36] raghavkaul commented on #2224
For example, say that a maintainer uses tags on the default branch to mark releases, instead of branching out for each release. To analyze development practices between today and the last release, a user could pass in the tag for the previous release. Scorecard would score all commits between the default branch's HEAD and the release tag. This would switch scorecard to run only on a single branch

[2022-08-31 18:36] nadgowdas commented on #2224
I believe we would need `--commit-option` <int> and `ref-commit` <commit-id>. The ref would act as the base commit-id and then traverse the depth of <int> forward (is there a case for backward traversal ?).

So essentially, if user is using version 1.2 of a package and wants to upgrade to 1.5, then he can provide base-reference commit of 1.2 and option would be number of commits until 1.5 (Q. How

[2022-08-31 19:18] azeemshaikh38 commented on #2224
@raghavkaul Scorecard doesn't analyze all release branches (except in Branch-Protection check), only the default branch. The proposal is to make the analysis on default branch itself to be configurable.

[2022-09-01 06:33] scantist-admin commented on #2162
@azeemshaikh38 - can you share an example where this false-negative scenario plays out? We have been considering open-sourcing our vulnerability database and we do have significant repo-package and commit-version mapping data that may be able to address the issue.

[2022-09-01 17:46] spencerschrock commented on #1916
The SAST check has been enabled as part of #2223.
The next BigQuery cron job to pick it up will be the 9/5/22 run and the data should be available by 9/12/22

[2022-09-02 13:58] nedbat opened #2228 "BUG: `pip install -e .` dinged for not using hashes, but it can't"
**Describe the bug**

My project (https://deps.dev/pypi/coverage) gets a warning about pinned dependencies:

[code]

[The line](https://github.com/nedbat/coveragepy/blob/master/.github/workflows/coverage.yml#L114) in question is:

[code]
I think scorecard is looking for the `--require-hashes` option, but it's not allowed with `-e`.  This is [what happens when I try](https://github.com/nedbat/cover

[2022-09-02 17:49] dbaileychess opened #2229 "[1.1.2] `Token Permissions - High` warnings for SLSA generation"
I'm using version [1.1.2](https://github.com/google/flatbuffers/blob/master/.github/workflows/scorecards.yml#L30) and continue to get `Token Permission - High` warnings on enabling [write](https://github.com/google/flatbuffers/blob/master/.github/workflows/build.yml#L19) permissions for SLSA generation. There was a recent [exemption](https://github.com/ossf/scorecard/blob/main/checks/raw/permissio

[2022-09-02 19:40] azeemshaikh38 commented on #2229
@dbaileychess I suspect v1.1.2 release my not have the latest changes yet. You could consider using our v2 pre-release: https://github.com/ossf/scorecard-action/releases/tag/v2.0.0-alpha.2 to see if it fixes the issue. We'll be releasing the prod v2 in a week so fyi that the pre-release is stable.

@laurentsimon do you know when this exception was rolled out in Scorecard?

PS: moving this to the `

[2022-09-02 22:31] miguelnietoa opened #2230 "QUESTION: How to get the scorecard score badge?"
### Description

The documentation is not clear to me, I can't get the Scorecard score badge.
I set up the scorecard analysis workflow, but I don't know how to get the scorecard score badge. I've followed the explanation of the README https://github.com/ossf/scorecard#scorecards-badges but the badge did not appear.

[![OpenSSF
Scorecard](https://api.securityscorecards.dev/projects/github.com/kommi

[2022-09-03 00:12] naveensrinivasan commented on #2214
+1

[2022-09-04 16:43] azeemshaikh38 commented on #2230
Hi @miguelnietoa, thanks for your interest in Scorecard. I see that you are using [v1.1.2](https://github.com/kommitters/stellar_sdk/blob/main/.github/workflows/scorecards.yml#L33) of `scorecard-action`. Badges are supported from `v2` onwards - see [details](https://github.com/ossf/scorecard-action/#scorecard-badge).

We'll be releasing v2 in a week. However, if you are interested in trying this o

[2022-09-05 13:22] miguelnietoa commented on #2230
I get it! Thanks for your reply @azeemshaikh38 😄

[2022-09-05 15:39] #2230 closed

[2022-09-07 11:18] lehors commented on #2224
It's clear that the default being 30 is really arbitrary and adding this kind of option so that the user can set it to whatever they think is best (which may be as arbitrary but that's their arbitrary ;-) is the way to go.
Thanks for opening this issue to track this.

[2022-09-07 11:25] lehors commented on #2224
I agree with @nadgowdas that basing this on releases is probably more meaningful to the user. I don't know why we would ask the user for the number of commits though, why not just go with the release tags?

[2022-09-07 17:43] azeemshaikh38 commented on #2224
Primarily because Scorecard by definition is meant to solve a larger scope problem - assess the security posture of a project based on its developmental practices. Assessing the security posture of a release based on developmental practices preceding the release tag is a subset of this problem IMO.

Apart from that, commits are also more universal across the OSS ecosystem compared to release tags.

[2022-09-08 00:31] laurentsimon commented on #2228
Thanks for the report.  So I think the fix is for scorecard to verify that no `-e local/path` is used in the command. Is that correct?

`-e` also seems to accept a remote URL as input, which is harder to verify.

Do you think ignoring `-e local/path` is enough?

[2022-09-08 00:33] laurentsimon opened #2236 "Feature: support wildcard in dangerous workflow"
Interesting problem scorecard would not catch:
[code]

See https://github.com/google/GoogleSignIn-iOS/blob/main/.github/workflows/pr_notification.yml#L55-L70

[2022-09-08 01:19] nedbat commented on #2228
Definitely ignoring `-e local/path` will help.  Why not also allow a URL?

[2022-09-08 01:24] laurentsimon commented on #2228
I don't know how the URL works. Does pip fetch the URL and search for a requirement.txt? Or does it simply take the URL as being the source code? Is the source code guaranteed to be immutable (which is the property we're looking for)?

[2022-09-08 01:51] nedbat commented on #2228
The local file path or the URL are the same: they are a place to get an installable directory of files.

A difference is that the URL could include a SHA that would make it immutable.  So perhaps the rule should be a local file path, or a URL with a SHA?

[2022-09-08 11:17] nedbat commented on #2228
This seems to be the best docs: https://pip.pypa.io/en/stable/topics/vcs-support/

Some syntaxes to support (shell quoting may or may not be needed):
[code]
Are shortened hashes OK?
[code]

[2022-09-08 11:31] nedbat commented on #2228
Maybe the simplest solution is to match against `@[a-fA-F0-9]{40}` and forget the rest of the syntax possibilities?

[2022-09-08 15:10] nedbat commented on #2228
Sure, that couldn't hurt.  Ping me on the change, I would like to understand better how this code works.

[2022-09-08 18:47] laurentsimon commented on #2228
Actually if you want to take a shot at it, feel free to try it out. Code to change is https://github.com/ossf/scorecard/blob/main/checks/raw/shell_download_validate.go#L469

You can add tests in https://github.com/ossf/scorecard/blob/main/checks/raw/pinned_dependencies_test.go#L550, https://github.com/ossf/scorecard/blob/main/checks/raw/pinned_dependencies_test.go#L710 https://github.com/ossf/scor

[2022-09-08 20:01] nedbat commented on #2228
Thanks, but I've never written Go, so you should not wait for a pull request from me... :)

[2022-09-08 20:28] david-a-wheeler commented on #2204
@jorydotcom - is there any policy related to a Scorecard blog? SLSA has a blog, didn't know if there were any special rules.

[2022-09-08 21:09] azeemshaikh38 commented on #2224
@ossf/scorecard-maintainers are there any concerns if development work on this feature were to start?

[2022-09-08 21:29] laurentsimon commented on #2224
you're asking about just increasing the commit depth, or also passing an older tag as the "start" of the analysis? Correct me if I'm wrong: you're saying that  `--commit` already covers tags, because the users passes the commit corresponding to the release tag?

I think there were several proposals in the issue so I might have gotten lost:
[code]

re: older tag -> I think @nadgowdas  wanted to add

[2022-09-08 21:49] nadgowdas commented on #2224
@laurentsimon @azeemshaikh38 if we run default set of checks on previous commits, then for the non-file/commit based (e.g. branch-protection) it will still run against current configuration (ie. from today).
So we can possibly disable those checks when we are running in `commit-based` evaluation mode. Thoughts ?

[2022-09-08 22:08] azeemshaikh38 commented on #2224
Both - `--commit` for passing older tag as the start and `--commit-depth` for increasing commit depth. These are mutually exclusive options.

`--commit` is already implemented (#575) and takes care of returning the right set of checks when `--commit=HEAD` vs. `--commit=olderThanHEAD`. `--commit-depth` should just increase the commit depth for analysis.

So we can possibly disable those checks when

[2022-09-08 22:50] laurentsimon commented on #2224
SGTM.

Does this mean you cannot run scorecard for all commits between v1 and v2 tags?

[2022-09-08 23:04] #2196 closed

[2022-09-09 01:53] godofredoc opened #2243 "Feature - Human readable report to link to from scorecards badge"
**Is your feature request related to a problem? Please describe.**
No, this is a feature request for generating a human readable report rather than printing json when clicking on the scorecard badge.
**Describe the solution you'd like**
Clicking on the scorecard badge redirects to json output e.g. [link](https://api.securityscorecards.dev/projects/github.com/ossf/scorecard). It would be great if a

[2022-09-09 14:37] miguelnietoa opened #2246 "BUG: Getting a score -1 due to Branch-Protection check"
**Describe the bug**
The score is not shown in the badge due to an internal error. Notice the JSON blow with the `"reason": "internal error: error during branchesHandler.setup: internal error: githubv4.Query: Resource not accessible by integration"`.

API Response:
[code]

**Expected behavior**
API Response should include the score different from `-1`.

**Additional context**
Add any other context

[2022-09-09 14:40] miguelnietoa commented on #2246
I have noticed that there is a similar issue. However, the multiple reasons shown there do not apply to my case, so I don't know why it is failing.

Related issue: https://github.com/ossf/scorecard/issues/2161

[2022-09-09 15:23] miguelnietoa commented on #2246
Other related links
https://github.com/ossf/scorecard-action/issues/856
https://github.com/ossf/scorecard-action/pull/894

[2022-09-09 15:35] azeemshaikh38 commented on #2246
Moving to scorecard-action repo.

[2022-09-09 17:42] Oamwarit098 opened #2247 "Definitely ignoring `-e local/path` will help. Why not also allow a URL?"
Definitely ignoring `-e local/path` will help.  Why not also allow a URL?

_Originally posted by @nedbat in https://github.com/ossf/scorecard/issues/2228#issuecomment-1240107922_

[2022-09-09 17:43] Oamwarit098 opened #2248 "BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-09-09 17:58] nedbat commented on #2247
What is this issue for? It has just one sentence from a longer discussion on the other issue (#2228)

[2022-09-09 18:29] Oamwarit098 opened #2249 "J"
https://github.com/web-platform-tests/wpt/blob/master/webrtc/coverage/RTCDTMFSender.txt

[2022-09-09 19:18] naveensrinivasan commented on #2249
Sorry we can't understand what the issue. So closing it.

[2022-09-09 19:18] #2249 closed

[2022-09-09 19:19] naveensrinivasan commented on #2248
From what I see looks like a spam. This is the second issue I am closing.

[2022-09-09 19:19] #2248 closed

[2022-09-09 19:21] naveensrinivasan commented on #2213
Closing it for now. Please reopen if you have any issues.

[2022-09-09 19:21] #2213 closed

[2022-09-10 13:23] naveensrinivasan commented on #2203
Based on our bi-weekly meeting (9/8/22) I am enabling the Code Coverage as a required check
`Let’s enable “fail PR if test coverage is reduced”; we’ll separately investigate if E2E testing is included in the test coverage
We can override in specific cases if warranted, but normally shouldn’t need to override`

[2022-09-13 10:09] ipuustin opened #2258 "make install fails due to checksum mismatch"
**Describe the bug**

`make install` fails due to a checksum mismatch.

**Reproduction steps**
Steps to reproduce the behavior:
1.  Checkout latest main branch (bde0ae166a7f56f957d983a60e7316054255624f)
2.  Say `make install`

Outcome is this:

[code]

**Expected behavior**

Expected `make install` to succeed without error.

**Additional context**
Fedora 36, `go version go1.18.5 linux/amd64`.

[2022-09-13 10:36] naveensrinivasan commented on #2258
Thanks.

But I am not able to reproduce the error.

[code]

[2022-09-13 14:25] wenottingham opened #2259 "BUG: LGTM is going away"
**Describe the bug**
The SAST check states in its docs (and in the code) that it checks for CodeQL (github-code-scanning), LGTM and SonarCloud in the recent (~30) merged PRs, or the use of "github/codeql-action" in a GitHub workflow.

LGTM is being shut down at the end of December, and is no longer accepting new signups. See https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-sca

[2022-09-14 22:35] azeemshaikh38 commented on #2243
Thanks for the report @godofredoc. Should be doable by using JS to convert the JSON. I'm not too familiar with JS so I might be slow to get this fixed. If anyone else wants to take a shot at this, happy to give it over.

Moving to `scorecard-webapp` repo for better tracking.

[2022-09-15 17:46] N8BWert opened #2266 "Support for GitLab Projects"
**Is your feature request related to a problem? Please describe.**
Scorecard only supports Github Repositories, but GitLab Projects would also benefit from scorecard checks.

**Describe the solution you'd like**
A GitLab client to allow scorecard checks on GitLab Projects.

[2022-09-16 15:11] naveensrinivasan commented on #2259
@wenottingham  Thank you! Would you be interested in doing a PR for this?

[2022-09-16 15:12] naveensrinivasan commented on #2258
Closing it! Please reopen if you still see an issue. Thanks

[2022-09-16 15:12] #2258 closed

[2022-09-16 20:38] developer-guy commented on #744
Kindly ping @naveensrinivasan; what needs to be done? 🙏

[2022-09-16 20:42] developer-guy commented on #309
kindly ping @naveensrinivasan, what needs to be done? 🙏

[2022-09-16 21:31] laurentsimon commented on #309
We could also wait for the slsa-generator to have support for container (laster this month), and use that with GoReleaser.
I think some of our images use ko as well.

/cc @ianlewis

[2022-09-17 04:36] naveensrinivasan opened #2270 "Extending the Scorecard API for historical data"
The scorecard API https://api.securityscorecards.dev/ on (8/13/22) provides an endpoint to GET the latest Scorecard RUN for the result.

It also provides an option to pass additional commit SHA to fetch the result by a specific SHA.

### Historical Data

The Scorecard BQ has historical data (SELECT count(*) FROM `openssf.scorecardcron.scorecard-v2`) 35,337,975. This historical data isn't accessibl

[2022-09-18 02:16] #2047 closed

[2022-09-19 18:35] h0x0er opened #2277 "BUG Running Scorecard on a private repo always results in a score of 10 for Token-Permissions and Pinned-Dependencies check"
**Bug Description**
If `scorecard` is run on a `private-repo`  with `Token-Permissions or  Pinned-Dependencies` checks. The score is not calculated properly. It always shows `max-score` i.e 10. Whereas if you run the same checks on a public repo, the score is calculated correctly.

**Reproduction steps**

Steps to reproduce the behavior:
1. Download the latest version of scorecard
2. Run the below

[2022-09-19 18:56] azeemshaikh38 commented on #2277
Great find @h0x0er! Could you send a PR for this since you already have the fix? Suggestion - pass in the `httpClient` here to the `tarballHandler` and use that to make the http call instead.

[2022-09-20 22:25] #2277 closed

[2022-09-21 19:05] spencerschrock commented on #2053
Is this still something we're considering?
Dependabot doesn't appear to have an ETA for the feature https://github.com/github/roadmap/issues/148

[2022-09-21 19:17] latortuga71 opened #2285 "Feature: Zombie Commits Support"
**Description**
Zombie commits are commits to a repository directly to the main branch, not attached to any pull requests. Adding a check to scorecard on zombie commits could help users determine if owners adhere to strict guidelines regarding contributions.

**Describe the solution you'd like**
Add a check for "Zombie Commits" that ranks 1-10 based on the percentage of zombie commits on the repos

[2022-09-21 19:45] varunsh-coder commented on #2285
I have seen few important open-source projects implement detection for this using GitHub Actions workflows. I will try to find that and share here.

[2022-09-21 22:58] azeemshaikh38 opened #2287 "Dev velocity and code debt"
Working on some minor PRs to improve dev velocity and reduce code debt. Creating an issue to track the work.

[2022-09-22 20:23] rheironimus commented on #2270
This solution will be very beneficial for end users (like my team) that leverage scorecard in our compliance pipeline to evaluate dependencies that are not the latest version by passing a specific SHA.  It also will help avoid hitting the GitHub rate limits.

[2022-09-22 20:24] nadgowdas commented on #2285
I had this feature in my open-source project `gauge` as well:
https://github.com/tap8stry/gauge

Example: https://github.com/tap8stry/gauge#package-mode

[2022-09-22 20:46] dgutson opened #2296 "Feature: allow specifying weights for a custom aggregated score"
**Is your feature request related to a problem? Please describe.**
Each company has their adoption criteria. This criteria may not weight all Scorecard results equally, some of which could be zero. For example, we may not be so picky if the project has fuzzing, but others may find it a critical aspect.

**Describe the solution you'd like**
I propose to allow the user to specify the weights of each

[2022-09-22 20:47] laurentsimon commented on #2285
Could we surface these commits in the Code-Review check? As being non-reviewed / not having an associated PR?

[2022-09-25 18:38] varunsh-coder commented on #2285
I could not find the project I had seen use this. But there is similar discussion in this SO question:
https://stackoverflow.com/questions/66376960/detect-direct-pushes-to-master-w-github-actions

[2022-09-26 17:03] joycebrum opened #2302 "Feature: Code Review Check handle commits made by version bump bots"
**Is your feature request related to a problem? Please describe.**

Discussion started at https://github.com/electron/electron/pull/35741#pullrequestreview-1118960274

Just oppening the discussion about the commits made automatically by some bots that, depending on its access rights and on its complexity, can not represent a big security risk.

We have some situations where it is not reasonable fo

[2022-09-26 18:09] laurentsimon commented on #2285
/cc @raghavkaul

[2022-09-27 16:03] raghavkaul commented on #2302
I think this is doable, the approach would be to check if the authors of a change were bots. Previously we used User.Login ([API](https://docs.github.com/en/rest/commits/commits#get-a-commit)), but I think we should use User.Type instead

[2022-09-27 23:07] naveensrinivasan commented on #2042
This has been enabled.

[2022-09-27 23:07] #2042 closed

[2022-09-27 23:42] luigigubello opened #2305 "Support for SECURITY INSIGHTS"
**Is your feature request related to a problem? Please describe.**
In the open-source ecosystem, developers can share the code on different platforms (GitHub, Bitbucket, self-hosted, etc), and they have various ways to communicate the same things related to security (e.g. how to report a vulnerability). [SECURITY INSIGHTS](https://github.com/ossf/security-insights-spec) could help the scorecard to

[2022-09-28 15:46] spencerschrock opened #2307 "Missing BigQuery data"
**Describe the bug**
The cron job has partial results for the 9/19 partition.

**Reproduction steps**
Not user reproducible, but occurs when the controller crashes without publishing shard metadata.

**Expected behavior**
Every weekly cron produces complete data.

**Additional context**
1. the controller started, and pushed some subset of messages to the pubsub topic (at least 109k shards of the e

[2022-09-28 20:01] spencerschrock commented on #2307
The above PR should prevent this going forward.

@azeemshaikh38 thoughts on deleting the `.transfer_complete` file from the `2022.09.19` bucket so it gets re-uploaded tomorrow? Might also need to make a `.shard_metadata`, but I don't think those changes will be in `stable` by the time the transfer tool runs. It should increase the results in the 9/19 run to roughly 1.1M instead of the half it curr

[2022-09-28 23:37] azeemshaikh38 commented on #2307
+1, lets do that. Maybe move the `.shard_metadata` from `20013` to `20001` and vice-versa for `.transfer_complete` ? Can also re-run the transfer job ourselves once we do this.

[2022-09-29 00:53] spencerschrock commented on #2307
Triggered a manual re-upload of all the completed 9/19 repos, which brought the number of results up to approximately 1M repos (up from the ~500k that were initially transferred).

There were ~150k repos that were unfortunately not processed in time due to the duplicate pubsub messages detailed above. So they're still not in the 9/19 results, but at least this solved the pre-mature upload.

[2022-09-29 00:53] #2307 closed

[2022-09-29 16:36] laurentsimon commented on #2224
I think it's a typo: commit-depth and commit-options are the same.

seems correct

[2022-09-29 17:48] naveensrinivasan commented on #2066
@ossf/scorecard  I am planning to write an initial design document on this.

[2022-09-29 21:58] theresa-m opened #2312 "Add Lift as a recognized dependency update tool"
**Is your feature request related to a problem? Please describe.**
I would like to add Lift (lift.sonatype.com/) as a recognized tool for the Dependency-Update-Tool test to expand the list of popular available tools.

**Describe the solution you'd like**
Add a new case to the Dependency-Update-Tool to pass if a valid configuration file for the Lift tool is found.

**Describe alternatives you've co

[2022-09-30 16:01] azeemshaikh38 commented on #2266
Just fyi for Scorecard maintainers, reference docs on GitLab API limits:

- https://docs.gitlab.com/ee/user/admin_area/settings/user_and_ip_rate_limits.html
- https://docs.gitlab.com/ee/administration/instance_limits.html
- https://docs.gitlab.com/ee/security/rate_limits.html

[2022-09-30 18:14] spencerschrock commented on #2305
Seems like this could be used to enhance the Security Policy check.  There's already some work being done to that effect in #2195.

Looking at the spec and some [examples](https://github.com/ossf/security-insights-spec/tree/4e783e0397b2c4bbf3a35144e985dde8f8b9f93e/examples), it seems like the `vulnerability-reporting` is a required key, but not necessarily the `security-policy` nested key. Are the

[2022-09-30 19:16] varunsh-coder opened #2318 "Add more options for SAST tools"
**Is your feature request related to a problem? Please describe.**
I would like to start a discussion to add more options for SAST tools. As of now, 3 tools are checked in the SAST check - CodeQL, LGTM, Sonar. As per [this issue](https://github.com/ossf/scorecard/issues/2259), LGTM is going away.

Here are some of the things to consider:
1. **Language specific tools** - as an example, [GoSec](http

[2022-09-30 22:38] laurentsimon commented on #2312
Hey @theresa-m could you tell us how we can detect the use of Lift? Config file?

[2022-10-03 23:47] azeemshaikh38 opened #2321 "Improve Score Reporting: Packaging check regex bug"
Packaging check regex looks for [`mvn*deploy`](https://github.com/ossf/scorecard/blob/b491f40d44285453895d28b88a086149e4ed5bb3/checks/fileparser/github_workflow.go#L460), but workflows can specify this over multiple lines. Example: https://github.com/open-feature/java-sdk/blob/715fd032cff446e83bf45f86ecb6fbc7a1c7c0f4/.github/workflows/release.yml#L48. This is a bug and we should extend our regex t

[2022-10-04 14:08] gabibguti opened #2325 "BUG: Fuzzing check mismatch repo name in OSS-Fuzz list"
**Describe the bug**
The fuzzing score checks if the repository name is included in OSS-Fuzz list. However, for a repository B that is a substring of repository A the check fails. The check finds a partial match because repository A is in the list and says that repository B itself is in the list when it's not.

**Reproduction steps**
Steps to reproduce the behavior:
1. [Open scores for Ultimaker/C

[2022-10-04 14:32] joycebrum opened #2326 "Feature: create a FAQ for Scorecards"
**Is your feature request related to a problem? Please describe.**
Sometimes the maintainers comeup with similar questions, that's why I think that a FAQ could be an intersting way to gather those questions and for maintainers to see other answers to questions he might have.

**Describe the solution you'd like**
I've developed a internal FAQ but I am working on the external FAQ to propose here

**

[2022-10-04 14:52] naveensrinivasan commented on #2326
@joycebrum Thanks, that is a great idea! Would you be interested in contributing?

[2022-10-04 14:55] joycebrum commented on #2326
Sure, I'm working on it! 😄

[2022-10-04 16:29] pnacht commented on #2325
The issue seems to be that Scorecard uses a GitHub search on the oss-fuzz repo with the query `Ultimaker Cura in:file filename:project.yaml repo:google/oss-fuzz`. However, GitHub search allows for partial matching, so `Ultimaker Cura` gets matched to

[code]

Unfortunately I haven't figured out how to pull off an exact match (I'm using the web interface).

Wrapping in quotes enforces word order, b

[2022-10-04 18:23] olivekl commented on #2326
Thanks for this, Joyce! One consideration: if the FAQ repeats information already in the docs, we'll need to keep them aligned so that future updates don't result in two sources of conflicting information. Not a blocker, just something to keep in mind!

[2022-10-04 18:28] theresa-m commented on #2312
Lift does have a config file `.lift.toml`. Its existence is not required to use the tool however I think it makes sense to continue using this approach for detection as existing tools have done.

[2022-10-04 21:43] naveensrinivasan opened #2329 "Use release notes from the PR content"
**Describe the bug**
At the moment, we use PR titles release notes. This isn't helpful for someone who wants to know what has changed https://github.com/ossf/scorecard-action/pull/786

**Reproduction steps**
We adopted a section in the PR to help with release note generation. We should utilize that.

[2022-10-04 21:45] naveensrinivasan commented on #2329
@justaugustus  👀

[2022-10-04 22:18] theresa-m opened #2330 "BUG: contributing.md out of date"
**Describe the bug**
The current [contributing.md](https://github.com/ossf/scorecard/blob/main/CONTRIBUTING.md) recommends running 'make e2e' before submitting a pull request, however this target does not do anything. Is there a more effective recommendation? `e2e-pat` maybe?

**Reproduction steps**
Steps to reproduce the behavior:
1.  Run `make e2e` locally

Result:
[code]

**Expected behavior**

[2022-10-04 23:14] spencerschrock commented on #2330
`make all` is also out of date. It's advertised in [CONTRIBUTING.md#what-to-do-before-submitting-a-pull-request.md](https://github.com/ossf/scorecard/blob/main/CONTRIBUTING.md#what-to-do-before-submitting-a-pull-request) as `Runs go test,golangci lint checks, fmt, go mod tidy` which based on the Makefile is not accurate.

[code]

I currently find myself running `make unit-test check-linter e2e-pat

[2022-10-06 16:59] spencerschrock opened #2334 "BUG: Scorecard does not run any checks on local repos"
**Describe the bug**
No checks are run on any repo specified with the `--local` flag.

**Reproduction steps**
Steps to reproduce the behavior:
1. Run `go run main.go --local=.` In your local scorecard repo

**Expected behavior**
The checks that work locally should still run

**Additional context**
`git bisect` points to #2207. This [line](https://github.com/ossf/scorecard/pull/2207/files#diff-afbd

[2022-10-06 17:47] spencerschrock commented on #2321
Note: this can affect the permissions check too.
https://github.com/ossf/scorecard/blob/6fc08e7c9ce05bbff1329e777b2eca38cb41564f/checks/raw/permissions.go#L410

[2022-10-06 19:08] #2321 closed

[2022-10-06 22:50] spencerschrock commented on #1847
Can be fixed at same time as #2154

[2022-10-07 16:29] justinabrahms opened #2338 "Explicitly allowed action permissions?"
Hello.

I'm trying to max out my score for the scorecard, especially in the security section. One of the issues I'm running into is that I use the google release-please action to cut releases and then push those tags back into the repo.  Currently, there is no mechanism to explicitly mark that action as "safe".

I would like to check in a yaml file into my repository which says "I really do trust

[2022-10-07 16:33] eddie-knight commented on #2338
Facing the same issue, though I have two actions that were caught by the same check: one from helm, and one from a community creator.

Perhaps we can publish a vetting policy to add trusted actions to the allowlist? This policy should clearly articulate what standard an action is being held to, so that PRs can be made by folks such as Justin & myself to add such actions to the allowlist.

[2022-10-07 16:35] varunsh-coder commented on #2338
I think the token permission check should not ding for using explicit `write` permission at job level.

If one uses `write-all` then it is fine to ding the score.

But the use of a specific `write` permission at job level means there is atleast some effort gone into deciding the permission.

I have similar issue for some of our workflows, where the token permission score is 0, even though the perm

[2022-10-07 18:21] naveensrinivasan commented on #2338
I like this idea. @ossf/scorecard-maintainers  Thoughts?

[2022-10-07 20:01] spencerschrock commented on #2338
+1  maintaining an allowlist doesn't scale. And if the only criterion to being added to the list is sending a PR, then the score difference ends up measuring that effort instead of any security posture.

I can see the original intent, as some write permissions are more dangerous than others. If we remove the score penalty, I think there is still value to having a warning in the output.

[2022-10-07 21:34] eddie-knight commented on #2338
I'm absolutely in support of anything that moves this forward... but I actually _really_ appreciate the intent here. I think that requiring actions to be added to an allowlist via PR will require the community to hold actions to a specific standard.

Currently, I think many of us have a bad habit of using actions without thoroughly vetting them. OpenSSF could add a lot to the greater OSS community

[2022-10-12 20:21] spencerschrock commented on #2247
Closing as spam, similar to the other invalid issues from Sep 9.

[2022-10-12 20:21] #2247 closed

[2022-10-13 01:46] nir-valtman opened #2348 "Feature"
**Is your feature request related to a problem? Please describe.**
Pull request reviews are important for the quality and security of the code.
GitHub's CODEOWNERS is typically used to review PRs based on specific paths for selected approvers. However, it is [easy to misconfigure CODEOWNERS](https://www.arnica.io/blog/what-every-developer-should-know-about-github-codeowners) to make it avoid the r

[2022-10-13 14:40] leec94 commented on #1024
Hi! I'm looking into this issue. Is this issue still a concern/relevant?

Did some test runs and looks like Scorecard looks at both the Company field and Organizations that a user is a part of. \
For a repository that was just mine, Scorecard reported 2 companies because I'm part of the IBM org and I added "IBM" to the company field. \
Sorry to single @naveensrinivasan out, but his profile was a g

[2022-10-13 21:32] eddie-knight commented on #2338
The code [is in place](https://github.com/ossf/scorecard/blob/7f214bf2eb540f7f60e441245bb554ea13d5dc5e/checks/raw/permissions.go#L332-L347) right now for whitelisting. We can scrap that code and move to a wholesale "check it yourself" if we want, but I'm not in a position to make that decision.

Whatever we do, it's somewhat time sensitive because we have several CNCF project working on the Securi

[2022-10-13 21:50] azeemshaikh38 commented on #2338
I'm ok with scrapping the allowlist and simply showing a warn without a deduction in points. I think that's majority votes (me, Spencer and Naveen) to scrap this. So ok to proceed here.

 If anyone wants to send a PR for this happy to get this reviewed and merged.

[2022-10-14 01:16] qequ opened #2352 "Feature: Add fork analysis for "Maintained" check or a new check"
**Is your feature request related to a problem? Please describe.**
When checking how maintained a project is, usually if it's abandoned one tends to look if a fork has continued the abandoned project but it's cumbersome to check forks one by one

**Describe the solution you'd like**
if the "Maintained" check gives a low score, make scorecard check the forks and see if there are forks that have act

[2022-10-14 15:09] #2259 closed

[2022-10-14 15:34] eddie-knight commented on #2338
I'm looking into this today, with an aim to add a check warning to jobs that contain write permission without deducting points.

[2022-10-15 16:13] eddie-knight commented on #2338
Created the PR linked above to specifically address jobs using `contents:write`, since that is the more widespread usage in jobs.

I noticed that [Chaos Mesh](https://github.com/chaos-mesh/chaos-mesh/pull/3700) is using `packages: write` and there are likely more cases I haven't noticed. Do we want to remove the check or reduce the penalty for that as well?

[2022-10-16 21:37] anantshri opened #2357 "Binary Artifact detection gradle-wrapper.jar Incorrect logic"
This is hilarious bug, took me a few tries to get to the exact issue.

1. gradle-wrapper.jar is detected as a binary-artifact
2. suggested recommendation is to do a wrapper validation https://github.com/ossf/scorecard/issues/1815
3. even with wrapper validation script there was error

The issue **gets closed** only when following conditions are met.
1. `gradle/wrapper-validation-action@v<version_n

[2022-10-17 01:05] naveensrinivasan commented on #2357
Thanks, @anantshri. Would you like to send a PR to solve this issue?

[2022-10-17 01:23] anantshri commented on #2357
Like i said not good at programming. wont want to commit on doing something which i dont understand.
Thats why i waited to raise the bug to ensure I have checked as many conditions as possible.

[2022-10-18 16:13] dvbnrg commented on #2330
Created a PR here: https://github.com/ossf/scorecard/pull/2366
Any feedback is appreciated!

[2022-10-18 17:27] theresa-m commented on #2330
Thanks Dave!

[2022-10-18 22:00] ytsarev commented on #2338
We also encountered the need for explicit `actions:write` [here](https://github.com/k8gb-io/k8gb/blob/28fa330aabd3454146853ae67a6c74c87ed6ea6b/.github/workflows/build.yml#L23) in context of https://github.com/k8gb-io/k8gb/issues/970

We need this as a requirement for https://github.com/fkirc/skip-duplicate-actions#usage-examples

[2022-10-18 22:13] eddie-knight commented on #2338
Added a PR to address Chaos Mesh & K8gb requirements... recommend reopening this issue if we need more discussion on the topic.

[2022-10-18 22:21] varunsh-coder commented on #2338
I think the same change should be made for all other permission scopes as well e.g security-events, checks etc.

[2022-10-19 09:48] ytsarev commented on #2338
Looks like we also need `pull-requests: write` on a job level  https://github.com/k8gb-io/k8gb/blob/master/.github/workflows/changelog_pr.yaml#L15

[2022-10-19 13:08] leec94 opened #2368 "Feature: Scorecard scan between two releases"
**Is your feature request related to a problem? Please describe.**
It would be helpful to be able to run scorecard scans between any two releases of a repo. This way it would be useful to know the change in security health between the two releases.

**Describe the solution you'd like**
A new flag for scorecard such as `--diff-release=release-a,release-b`

Full example:
[code]

**Describe alternati

[2022-10-19 13:15] naveensrinivasan commented on #2368
A similar one is this https://github.com/ossf/scorecard/issues/2092 which will add release information in the API. I am planning to work on this after the [infrastructure for this is finalized](https://github.com/ossf/scorecard/issues/2066), which is set up for discussion in our Bi-Weekly meeting

If we add release information to the API, wouldn't that suffice most of this requirement?

[2022-10-19 13:21] leec94 commented on #2368
Thanks for the quick response! I think #2092 would cover the request in #1985, but this issue is a bit different.

In this issue, you'd be able to scan between any two releases, so if there were releases `a`, `b`, and `c`, then this feature would let you scan between `b` and `c` for example, and scorecard would look at all the commits between the two. #2092 would report on release `c`, and the def

[2022-10-19 14:32] leec94 commented on #2368
Found a related slack discussion previously - it was for #2224 but mentions releases too. want to add it here for more detail.

https://openssf.slack.com/archives/C0235AR8N2C/p1661808651764329?thread_ts=1661457748.035939&cid=C0235AR8N2C

so currently scorecard doesn't understand versions or release tags, i think this issue would be the work so that it could

[2022-10-20 13:10] huornlmj opened #2372 "BUG - "403 The history or contributor list is too large to list contributors for this repository via the API""
**Describe the bug**
Measuring against a project with a large amount of contributors yields the following error:

[code]

**Expected behavior**
No errors

**Additional context**
Add any other context about the problem here.

[2022-10-20 15:45] denizmgun opened #2374 "Question: Rest API Rate Limits"
I would like to fetch scorecards for a couple of thousand repositories on a somewhat regular basis (perhaps weekly). Will I hit a rate limit for the usage of the REST API? If so, is there any pre-established way to increase this rate limit?

I am aware of the fact that I can use  the bigquery service to acquire the scorecards myself. However, my cloud environment has deployment package size limita

[2022-10-20 17:18] naveensrinivasan commented on #2374
As of now, we don't have any rate limits. cc @azeemshaikh38

[2022-10-20 19:16] azeemshaikh38 commented on #2374
There are no explicit rate limits, but the API runs behind a loadbalancer, so there may be some throttling. Although if it's a couple of thousand repositories, I'd expect this to be fine. Let us know how it goes.

Closing this issue for now. Feel free to re-open if needed.

[2022-10-20 19:16] #2374 closed

[2022-10-20 19:31] azeemshaikh38 commented on #2372
@huornlmj thanks for the report. Could you link to the failure and the repository on which this is happening?

@spencerschrock could you take a look?

[2022-10-20 20:48] spencerschrock opened #2375 "Write access for @spencerschrock"
Posting on behalf of @naveensrinivasan's request in today's weekly sync, this issue is to get thoughts from @ossf/scorecard-maintainers about moving myself from Collaborator to Approver (as defined in https://github.com/ossf/allstar/issues/238) to help deal with the PR backlog.

[2022-10-20 20:55] naveensrinivasan commented on #2375
👍

[2022-10-20 20:56] naveensrinivasan commented on #2375
@azeemshaikh38 @laurentsimon @justaugustus  👀

[2022-10-20 21:17] azeemshaikh38 commented on #2375
+1.

[2022-10-20 21:25] naveensrinivasan commented on #2375
I have invited @spencerschrock to maintainers.

[2022-10-20 21:25] #2375 closed

[2022-10-21 00:13] spencerschrock opened #2376 "Update workflows to avoid save-state and set-output"
Some functionality we use is getting disabled on 31st May 2023
https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

We use `set-output` in two workflows from what I can tell
- https://github.com/ossf/scorecard/blob/main/.github/workflows/slsa-goreleaser.yml
- https://github.com/ossf/scorecard/blob/main/.github/workflows/goreleaser.yaml

[2022-10-21 07:20] laurentsimon commented on #2375
+1

[2022-10-21 07:30] huornlmj commented on #2372
@azeemshaikh38 sure thing.  It was https://github.com/torvalds/linux.  I'm interested to see how it gets rated as a benchmark.

[2022-10-21 13:58] leec94 commented on #2368
Discussed this at bi-weekly scorecard meeting oct 20.
points made:
-     repositories may not necessarily be using the release tag feature. example: kubernetes
-     how about gitlab? would get complicated to have different logic for gitlab vs github
-     basically just commit-sha anyway
-     overall, wait until --commit-depth is done first, since this feature would be a wrapper on top of it

[2022-10-21 15:09] azeemshaikh38 commented on #2372
Ah I see, I just tried it and its a GitHub API error - https://api.github.com/repos/torvalds/linux/contributors. There is very little we can do to get around that honestly.

[2022-10-21 15:29] azeemshaikh38 commented on #2312
@theresa-m ok to close this issue? Feel free to re-open if needed.

[2022-10-21 17:28] spencerschrock commented on #2372
I'm not sure it's a good option (seems fragile), but we could detect this error and grant a max score under the assumption that any repo with enough contributors to error the API has enough contributors from multiple orgs.

[2022-10-22 15:42] #2376 closed

[2022-10-23 18:24] naveensrinivasan commented on #1774
@azeemshaikh38  Most of the PR's are failing with Protoc API rate limit https://github.com/ossf/scorecard/actions/runs/3299383490/jobs/5442690117

As we had discussed offline I am assigning it to you.

[2022-10-24 16:25] smagill opened #2391 "BUG: Some merged PRs that should qualify as "reviewed" are not being tagged as such"
**Describe the bug**
spring-core is getting reported as not doing code review, but it appears that recently-merged changes do qualify as reviewed based on the description of that check.  Here’s the API results:
https://api.securityscorecards.dev/projects/github.com/spring-projects/spring-framework
And here is an example of a PR that I think should qualify (merged by someone other than the committe

[2022-10-24 18:36] spencerschrock opened #2393 "Add timeout for downloading GitHub Action caches"
Downloading from the GitHub action cache can often timeout indefinitely, causing the workflow runs to stall.
https://github.com/ossf/scorecard/actions/runs/3315053594/jobs/5475147468
[code]

We can add an environment variable `SEGMENT_DOWNLOAD_TIMEOUT_MINS` to our workflows to automatically timeout the transfer after X minutes.
https://github.com/actions/cache/issues/810#issuecomment-1281895575

[2022-10-25 03:12] nir-valtman commented on #2348
If the check is enabled but there is no CODEOWNERS file, this control doesn't enforce a review by the authorized reviewers.
Similarly, if the file exists but the check is disabled in the branch protection policy, the policy isn't working.

[2022-10-26 16:35] laurentsimon opened #2404 "Dangerous workflows: detect refs"
Workflows that use labels to enforce reviews before running test on pull_request_targets checkout the repo with `ref: ${{github.event.pull_request.head.sha}}`. One mistake some developers make is use `ref: ${{github.event.pull_request.head.ref}}` instead, which is subject to a TOCTOU attack.

1. Maintainer reviews the RP code and adds a label
2. Attacker pushes different code before the workflow i

[2022-10-27 09:42] laurentsimon opened #2406 "Dangerous workflows: check for declared branches"
Explicit branch name
[code]

should be detected by scorecard.

Reasoning: Local branches containing the same workflow cannot be exploited or triggered. For example: imagine a local branch created by dependabot or another tool; or a local branch created by a maintainer but never deleted. An attacker could submit a PR to this local branch and the workflow would run, even though it was only intended

[2022-10-27 16:07] #2285 closed

[2022-10-27 18:41] spencerschrock commented on #2404
Scorecard currently detects both patterns as part of Dangerous workflows. In fact, we're currently getting dinged with it:

[code]

  I assume the intended behavior should be?
  not dangerous: `github.event.pull_request.head.sha`
  dangerous: `github.event.pull_request.head.ref`

[2022-10-28 04:59] jenstroeger opened #2408 "BUG Retrieving signed certificate... fails"
**Describe the bug**

Take a look at this failing run: https://github.com/jenstroeger/python-package-template/actions/runs/3342864737/jobs/5535522990

The failing action is here: https://github.com/jenstroeger/python-package-template/blob/main/.github/workflows/scorecards-analysis.yaml

**Reproduction steps**

n/a

**Expected behavior**

It works.

**Additional context**

n/a

[2022-10-28 06:19] spencerschrock commented on #2408
Starting from scorecard-action:v2, GITHUB_TOKEN permissions or job permissions needs to include `id-token: write` if you have `publish_results: true`. This is needed to access GitHub's OIDC token which verifies the authenticity of the result when publishing it.

Including the permission should resolve your issue.
Related: https://github.com/ossf/scorecard-action/issues/900#issuecomment-1245665197

[2022-10-28 10:29] laurentsimon commented on #2404
yes you're correct @spencerschrock I think we do catch it today. `sha` is secure if used the code is not run afterwards or if labels / env are applied prior to run. I'm not 100% sure if we can capture all the distinction, though. We already detect the use of env, but not labels, for example.

[2022-10-28 10:41] laurentsimon commented on #2285
Was this implemented or dropped?

[2022-10-28 18:29] spencerschrock commented on #2408
Closing this, feel free to re-open if the issue persists.

[2022-10-28 18:29] #2408 closed

[2022-10-29 05:02] jenstroeger commented on #2408
@spencerschrock worked: https://github.com/jenstroeger/python-package-template/actions/runs/3350112568

Thank you!

[2022-10-31 18:10] spencerschrock opened #2411 "codecov step silently fails, step marked as success"
Now that codecov is a required check, some runs are stuck on with something like:

In the case of #2309 it was due to a typo, but the CI runs never reflected the failure.
https://github.com/ossf/scorecard/actions/runs/3362981785/jobs/5575458028#step:8:34
[code]

We can update our two workflows (`main.yml`, `integration.yml`) to fail on error, so this doesn't happen silently anymore.
[code]

[2022-10-31 18:17] spencerschrock commented on #2411
Going to wait until after #2309 is fixed and merge to send a PR

[2022-10-31 22:46] spencerschrock opened #2412 "Code hotspots"
A significant portion (5.5%) of the cron job is spent in `raw.isText`
https://github.com/ossf/scorecard/blob/1fa791043273aae2dfce4ee54cf4035be6802486/checks/raw/binary_artifact.go#L170-L180

There's some experimental code that also does this, and has better performance. I plan to import/copy the implementation over.

[code]

Should be an easy performance win, but would change the behavior slightly

[2022-11-01 06:48] laurentsimon commented on #2412
Do you know why it is faster? What's the source of slowdown in the current version?
Looking at the first 1k byte would be OK of we have data (from cron) that the results are the same?

Btw, how did you perform the benchmark?

[2022-11-01 15:59] latortuga71 commented on #2285
Dropped determined too similar to code review checks

[2022-11-01 16:59] laurentsimon commented on #2412
Thanks for the additional info. So inlining code is what speed things up. I'm surprised there's a 2x speedup on 1k files due to that. In fact that seems weird to me because there's a single stack frame created to call the function...
It would be great to have cone numbers confirming we're not making things worse. Maybe we can add some logging code temporarily to call both function in the cron (gat

[2022-11-01 18:14] spencerschrock commented on #2412
In a loop, called for each rune in the file contents.

👍 SGTM.
env gated variable, enabled in the release test. the repos get shuffled daily, so should be able to test over the week

[2022-11-01 23:27] spencerschrock opened #2418 "Keeping go.mod up-to-date for both `scorecard` and `scorecard-attestor` modules"
This seems like it could be a frequent pain point going forward.

https://github.com/ossf/scorecard/actions/runs/3373560170/jobs/5598256385#step:7:95
[code]
Or the number of `go mod tidy` commits in the original PR https://github.com/ossf/scorecard/pull/2309/commits

@raghavkaul Is there a benefit to having the attestor as its own module? Is there anything blocking us from doing what we do with so

[2022-11-02 02:01] naveensrinivasan commented on #2418
We avoided this up until now. We should have a strong reason to keep in its own module.

[2022-11-02 02:13] #2411 closed

[2022-11-02 20:13] spencerschrock opened #2420 "Add a codecov token or revert `fail_ci_if_error`"
Now that codecov fails CI, some rate limiting that was occurring before is now a blocker for some PRs. Adding a token to a public repo, though not required, helps with these rate limits.
[code]

See https://github.com/codecov/codecov-action/issues/557#issuecomment-1216749652 and comments more details.

The other alternative is reverting #2415

[2022-11-02 21:09] spencerschrock commented on #2420
I'm leaning towards reverting, as the token isn't a perfect fix. The goal was to surface typos in codecov uploads, but seems to be doing more harm than good

[2022-11-03 10:16] huornlmj opened #2425 "? values in default ASCII table format are translated to -1 in JSON format"
When a repository is measured and has a metric which is displayed as a ? instead of an out of 10 score when viewed in default ASCII table format, the value is shown as -1 when viewed in JSON format.

Is this the correct and expected behaviour?

[2022-11-04 11:18] gcabiddu opened #2426 "Project with CI-tests appear to be penalized compared with those with no CI"
It appears that projects that recently added a CI-test get penalized compared to those without it.
After adding a CI testing to [qatlib](https://github.com/intel/qatlib/), the aggregated score went from 6.7 to 6.3.

Is this an expected behaviour?

Output before adding CI:
[code]

Output after adding CI:
[code]

[2022-11-04 12:00] gcabiddu commented on #2426
My bad. I see that we lost 10/10 on Token - Permissions

[2022-11-04 12:00] #2426 closed

[2022-11-04 16:11] #2420 closed

[2022-11-04 17:25] lehors opened #2427 "Inconsistent use of "scorecards" and "scorecard""
**Describe the bug**
Both "scorecards" (plural) and "scorecard" (singular) are used without any consistency.

**Reproduction steps**
The repo and binary are called "scorecard" but the README reads "Security Scorecards".

**Expected behavior**
Consistent use of one or the other form.

**Additional context**
Given that the plural form is primarily used in documentation consolidating around the singu

[2022-11-04 18:48] raghavkaul commented on #2418
It makes sense to make the attestor a subpackage of scorecard. It was initially kept as its own module to let it to be experimental and to let things break without affecting scorecard. But now the code is relatively stable.

[2022-11-04 20:06] shissam opened #2429 "BUG A link within checks.md for Security-Policy results in a 404"
**Describe the bug**
A clear and concise description of what the bug is.

`https://github.com/ossf/scorecard/blob/main/docs/checks.md#security-policy` for Security-Policy has a link to "_coordinated vulnerability disclosure guidelines_" which points to `https://github.com/ossf/oss-vulnerability-guide/blob/main/guide.md` however in issue #2137, a link to `https://github.com/google/oss-vulnerability

[2022-11-04 20:11] shissam commented on #2429
I can fix this in PR #2195 just need confirmation the google repo is where the link is intended to point for `guide.md`

[2022-11-04 20:19] spencerschrock commented on #2429
The OSSF one should be correct, the file just got renamed. Providing a permalink would prevent file renamings from leading to 404s, but then we lose out on content updates.

https://github.com/ossf/oss-vulnerability-guide/blob/main/maintainer-guide.md

[2022-11-04 20:21] shissam commented on #2429
if you concur - I'll squash this one now in PR #2195 if you think we're close enough.

[2022-11-04 20:24] spencerschrock commented on #2429
Sure. You've touched the check docs anyway in the PR.  Seems like a great time to update the link. Make sure to merge the latest changes from main, and should be ready to get the whole PR in.

[2022-11-04 20:35] shissam commented on #2429
done and PR pushed for integration test. I'll close this out now (can reopen if I botched it :-))

[2022-11-04 20:35] #2429 closed

[2022-11-04 21:35] #2137 closed

[2022-11-04 21:48] pnacht opened #2432 "BUG (?): JSON output omits checks' `"score": 0`"
**Describe the bug**
JSON output visibie in api.securityscorecards.dev/projects/[...] omits `"score": 0` from checks.

**Reproduction steps**
For example, see [numpy](https://api.securityscorecards.dev/projects/github.com/numpy/numpy)'s scores:

[code]

Some of these define the score within `reason`, but the actual `score` value is missing.

Similar behavior with [pandas](https://api.securityscore

[2022-11-05 02:49] spencerschrock commented on #2203
One thing I noticed, as part of #2195, is that tests outside the package aren't counted towards coverage.

For example line 34 of `line 34 in checks/evaluation/security_policy.go` was marked as not having coverage.
https://github.com/ossf/scorecard/pull/2195/files#annotation_5755382660. There were plenty of tests added in `checks/security_policy_test.go`, but the coverage profiles generated by `go

[2022-11-05 18:08] spencerschrock commented on #2432
I believe this is a bug with the API code. The JSON output when run from the scorecard binary looks good to me.

I'm guessing it's this line https://github.com/ossf/scorecard-webapp/blob/d26d8e627ebe31052b2c1353fa19d62f52a43839/app/generated/models/scorecard_check.go#L40.

which is generated code, so the real culprit would be https://github.com/ossf/scorecard-webapp/blob/main/openapi.yaml#L203. An

[2022-11-06 15:54] shissam commented on #1369
I'd like to see this implements *AND* to help on this. I did some experiments this weekend with scorecard and added a `githubrepo` client called `clients/githubrepo/licenses.go` that uses `go-github/v38` API `github.RepositoryLicense` to obtain the license information known to github via the RESTAPI

[code]

**My proposal**

- introduce `clients/licenses.go` which embodies this github api (similar

[2022-11-07 20:36] #2412 closed

[2022-11-08 14:22] saquibsaifee opened #2437 "Multiple JSON objects within one output file."
**Is your feature request related to a problem? Please describe.**
When I try to **upload** the J**SON format output of Scorecard into NoSQL** it gets **divided into more than one file** because of **multiple objects within one output file**.

**Describe the solution you'd like**
Wrapping up the whole output with additional curly braces "{}" or square braces "[]" is a solution.

[2022-11-08 18:15] #2437 closed

[2022-11-08 19:09] #2391 closed

[2022-11-08 22:56] scovetta opened #2441 "BUG: Scorecard's npm search doesn't match exact"
**Describe the bug**
The Scorecard npm package integration uses the npm registry full text search function, which seems to omit deprecated packages. This means when searching for `left-pad`, you get the package `repeat-string`, which causes a later failure:

[code]

https://registry.npmjs.org/-/v1/search?text=left-pad&size=1
![image](https://user-images.githubusercontent.com/732166/200683024-b1ac1

[2022-11-09 18:05] joycebrum opened #2444 "Feature: specify the cause of failure if it is unpinned pip install"
**Is your feature request related to a problem? Please describe.**
When the user sees a report on code scanning about a "pip install" line in his script, it is not clear what he would have to do to solve it. To make it easier to the user to identify what to do, the description of the "pipCommand not pinned by hash" could also mention something like: "--require-hashes  expected". Or if it fails due

[2022-11-09 21:54] latortuga71 commented on #2224
Currently being implmented here in PR https://github.com/ossf/scorecard/pull/2407

[2022-11-10 15:30] inferno-chromium opened #2450 "Wrong Scorecards result in CodeReview check due to Dependabot/RenovateBot PR reviews"
**Describe the bug**
A single maintainer project will return incorrect result on CodeReview check if that single maintainer is reviewing Dependabot/RenovateBot PRs. This was indicated by Sonatype folks who ran Scorecards on a large number of maven projects.

**Reproduction steps**
Try a single maintainer repo that uses Dependabot/RenovateBot

**Expected behavior**
Ignore Dependabot and RenovateBot

[2022-11-10 16:01] spencerschrock commented on #2450
Can take a look later today. Any specific repositories would be good, but can look for some that match the criteria too.

[2022-11-13 04:22] harringj commented on #632
Would a potential solution be to create a team, add that team as a CODEOWNER, and then specify the team name in a "reviewers" section in the dependabot.yml, as described here: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#reviewers?

[2022-11-14 02:58] naveensrinivasan commented on #1533
This has been marked as required.

[2022-11-14 02:58] #1533 closed

[2022-11-15 17:38] olivekl opened #2458 "Feature: New check for average time to update dependencies"
Proposal for a new check: project’s mean time to update (MTTU) — what is the average number of days it takes a project to update to a new version of a dependency?

The recent [Sonatype State of the Supply Chain report](https://www.sonatype.com/state-of-the-software-supply-chain/project-quality-metrics) states that 6 out of 7 vulnerabilities are transitive. The report says that “Two critical factor

[2022-11-15 18:21] raghavkaul commented on #2352
This is a great suggestion! Yes, there are definitely more things that we could and should add to determine the 'liveness' of a repository (combining signals like release recency, CI test runs, dependency updates (#2458), number of graph dependents, stars/watchers). All of these signals would help end-users find the authoritative fork of a library.

How many additional API calls would this require

[2022-11-15 21:23] dgutson commented on #2352
I propose to consider metrics defined in https://www.researchgate.net/publication/260552929_May_the_Fork_Be_with_You_Novel_Metrics_to_Analyze_Collaboration_on_GitHub

[2022-11-16 05:45] oliverchang commented on #2162
With https://github.com/google/osv-scanner, we have a way of measuring how many dependencies are affected by known vulnerabilities for most repos. This could be a great way to augment the current vulnerabilities check and make it more useful.

+ @another-rex who owns osv-scanner.

[2022-11-16 19:52] laurentsimon commented on #2162
This is really nice, thanks for sharing. How would you envisage scorecard ingesting the results? Are you planning on exposing a Go API? For example, wrapping the CLI's options into an API (like we did for Scorecard https://github.com/ossf/scorecard/blob/main/main.go)?

[2022-11-17 03:55] oliverchang commented on #2162
Yes, a Go API should be pretty easily doable. @another-rex thoughts?

[2022-11-17 16:52] laurentsimon commented on #2458
Great idea.

Something simpler (to start with) could be to look at how many versions / how old each dependency is at?

But if we have data available to calculate this average, that'd be really nice.

/cc @oliverchang @another-rex @distractible

[2022-11-17 19:37] raghavkaul commented on #2348
Yes, I think it makes sense to ensure the presence of the CODEOWNERS file on top of simply looking to see if the Branch Protection check for CODEOWNERS is enabled. I can take a look into this.

[2022-11-18 00:49] #2136 closed

[2022-11-18 15:24] raghavkaul opened #2462 "CI: Report scoring differences for PRs that modify scorecard checks"
**Is your feature request related to a problem? Please describe.**
As discussed during the 11/17 OpenSSF scorecard meeting, contributor who make changes to scorecard could potentially drastically alter scorecard scores. It should be easier to determine how a change impacts scorecard scores on top projects.

**Describe the solution you'd like**
Contributions to scorecard should have an easy way to

[2022-11-18 20:01] JasonKeirstead opened #2465 "Factor whether or not private vulnerability reporting is enabled into the scorecard"
Github has finally added the ability for repository owners to turn on private vulnerability reporting, to make disclosing vulnerabilities in a secure manner easier for all parties involved.

https://docs.github.com/en/code-security/security-advisories/guidance-on-reporting-and-writing/privately-reporting-a-security-vulnerability

The option is not enabled by default right now.

I believe this shou

[2022-11-18 20:46] pnacht opened #2466 "Feature: Change how scores are displayed"
**Is your feature request related to a problem? Please describe.**
There's a discrepancy between how good a given score ***is*** and how it ***feels***.  A 7/10 ***feels*** like a passing grade at best, but it actually means a project is in the top ~10% of the most relevant projects (or top ~1% of all projects), for example.

There have been a few maintainers who are surprised to hear that they're

[2022-11-21 01:45] luigigubello commented on #2305
Hi @spencerschrock, thanks for your comment (and my apologizes for my really sloooow response).

To give more context about SECURITY INSIGHTS and this "issue": this project is part of the OpenSSF Working Group "Identifying Security Threats" ([#wg_identifying_security_threats](https://openssf.slack.com/archives/C01A50B978T), even if now I would like to move the discussions to [#security_insights](h

[2022-11-21 16:42] joycebrum opened #2472 "Feature: Security benefit on having 2 or more Required Reviews no clear (Feedback)"
**Is your feature request related to a problem? Please describe.**
Some maintainers had raised the question about whether it is really a relevant security best practice to have 2+ Required Review (related to the branch protection check)

**Describe alternatives you've considered**
The Branch-Protection check explanation could talk (or at least refer) an explanation on why it is important to have 2

[2022-11-21 16:52] joycebrum opened #2473 "Feature: explore more the relevance of the security practices that scorecard checks (Feedback)"
**Is your feature request related to a problem? Please describe.**
Some maintainers raised the concern that most of the security practices checked by scorecard are not really relevant or are just "ok" to not follow

**Describe alternatives you've considered**
Not sure how to act on it, but we could find a way to explore more relevant security practices and also show the real relevance of the curre

[2022-11-21 17:01] joycebrum opened #2474 "Feature: Lack of (perceived) differentiation with other security tools"
**Is your feature request related to a problem? Please describe.**
In some cases the maintainers seemed to perceive a clear differentiation with other security tools, like CodeQL and dependabot in a way that raises the question "why would I need scorecard if I already uses these ones?"

**Describe alternatives you've considered**
Not sure how we can work on this.

[2022-11-21 20:26] inferno-chromium opened #2475 "Features: Add "Require approval of the most recent push" to Branch protection check"
**Is your feature request related to a problem? Please describe.**
Seems like a serious evasion of branch protection check if this ""Require approval of the most recent push" (new sub-feature) is not enabled. Read why - "Add evil commits to good PR and self-approve" - https://medium.com/boostsecurity/slsa-dip-source-of-the-problem-a1dac46a976
https://raw.githubusercontent.com/boostsecurityio/suppl

[2022-11-21 20:30] inferno-chromium opened #2476 "Feature: Add a Tag protection check to encourage stronger access control across releases"
**Is your feature request related to a problem? Please describe.**
Right now, a write/maintain role contributor can delete existing releases and replace with releases pointing to older, vulnerable commits. Read why - https://medium.com/boostsecurity/slsa-dip-source-of-the-problem-a1dac46a976. Have your release tags protected - https://docs.github.com/en/repositories/managing-your-repositorys-setti

[2022-11-21 22:18] raghavkaul commented on #2450
In the scorecard biweekly meeting the following proposal was discussed:

The Code Review check should move towards leveled, rather than proportional scoring.
* Projects that review all code in the default branch should receive a 10/10
* For projects where any human commits are unreviewed, a flat 7 points are deducted from the score. For projects where any bot commits are unreviewed, a flat 3 point

[2022-11-22 00:39] loosebazooka opened #2477 "Gradle wrapper action check for binary artifact exception does not recognize actions pinned by hash"
**Describe the bug**
Cannot include a gradle wrapper and use the gradle/wrapper-validation-action to exempt the repo from violations if pinning the action by hash (instead of tag)

**Reproduction steps**
Steps to reproduce the behavior:
1. Add gradle wrapper to repo
2. Add gradle/wrapper-validation-action to ensure validity of the wrapper (but use a hash instead of tag)
3. Allstar hates it

Exampl

[2022-11-22 02:12] #1552 closed

[2022-11-22 18:05] varunsh-coder commented on #2474
In one instance, I heard something similar: a maintainer said they already use a particular SAST tool and therefore don't see the need to use Scorecard even though that SAST tool was specific for code and did not check repository (branch protection, etc.) or workflow settings.

I was going to suggest adding it to FAQ, but then I noticed you already added this in the FAQ.

A key difference between

[2022-11-22 20:14] david-a-wheeler commented on #2450
That sounds like what we talked about. The idea is that we want to encourage review, where it's possible.

I don't recall the rule "If scorecard sees that the project only has commits made by a single-maintainer (with or without a bot), the Code Review category cannot be scored, and scorecard should say there's Insufficient Data to proceed". We probably did discuss it, I just don't remember. Clear

[2022-11-22 22:27] laurentsimon commented on #2466
I like the idea. @spencerschrock @azeemsgoogle @naveensrinivasan wdut?

[2022-11-23 02:06] luigigubello opened #2479 "SECURITY-INSIGHTS.yml implementation"
Hi :wave: as a project in the working group "[Identifying Security Threats](https://openssf.slack.com/archives/C01A50B978T)", we are working on the [SECURITY-INSIGHTS.yml specification](https://github.com/ossf/security-insights-spec). SECURITY INSIGHTS would like to provide information regarding security posture and practices in place in an open-source project in both human-readable and machine-re

[2022-11-23 02:52] Abdur-rahmaanJ opened #2480 "BUG: Scoreboard run failing"
My run is failing since sometimes:

https://github.com/pyhoneybot/honeybot/actions/runs/3528799978/jobs/5919267714

I don't have a clue about what's wrong!

[2022-11-23 02:58] #2480 closed, assigned to nobody

[2022-11-23 12:03] evverx commented on #2018
They do but it has nothing to do with security. systemd pins its dependencies to make it easier to maintain the CI. For example super-linter broke at some point https://github.com/github/super-linter/issues/2128 and when Dependabot tried to update the action it failed and the last working version was successfully used until the bug was fixed. If it hadn't been pinned the part of the CI relying on

[2022-11-23 15:24] eddie-knight commented on #1907
I really like how CLOMonitor displays the justification for exempt checks:

![image](https://user-images.githubusercontent.com/21176439/203584050-966b4903-427c-42a5-8eb9-8d81961f8fe6.png)

[2022-11-23 15:48] evverx commented on #1907
Looking at https://clomonitor.io/docs/topics/checks/#exemptions it seems CLOMonitor can't disable checks partially in the sense that if it supported the "Pinned-Dependencies" check it would only be possible to turn it off entirely instead of excluding CIFuzz and CFLite. Even if it was possible to mark only those two actions someone would have to spend their time on adding those exemptions to every

[2022-11-23 17:32] laurentsimon commented on #2018
I think we'll try to tackle this in Q1. It's on our radar.

[2022-11-23 17:39] joycebrum opened #2482 "BUG: Token Permissions Check suggests fix files that are actually right"
**Describe the bug**

In the example bellow from the SARIF JSON, the Token Permission Score is actually 9 but the details mentions only files with permission set to read and all of them with a "update your workflow using <app.stepsecurity link>", but there is nothing to be fixed since the

[code]
**Reproduction steps**
Steps to reproduce the behavior:
1. run `scorecard --repo=https://github.com/sy

[2022-11-23 17:59] diogoteles08 opened #2483 "[FEEDBACK] Unclear value on dependency-pinning and packing checks on C/C++ projects"
**Is your feature request related to a problem? Please describe.**
When inspected by scorecards, projects written in C get penalized for not having dependency-pinning tools or packings, but C does not have any widely adopted dependency manager, so there is not much they can do.

**Describe the solution you'd like**
Study the possibility of a smaller penalty for dependency-pinning tools or packing

[2022-11-23 18:20] pnacht commented on #2483
Would it perhaps be possible to use the GH API to fetch the project's [main language](https://docs.github.com/en/rest/repos/repos#list-repository-languages), and then disable the check for any project where the main language isn't [supported by dependabot](https://github.com/dependabot/dependabot-core#whats-in-this-repo)?

Some filtering might be necessary in case there's a weird project with so m

[2022-11-24 01:51] laurentsimon commented on #2482
Good catch. The remediation should not show for read token. The second option is the expected one.

[2022-11-24 02:06] laurentsimon commented on #2482
Sent https://github.com/ossf/scorecard/pull/2486
Thanks!

[2022-11-24 02:49] varunsh-coder commented on #2482
Hi @laurentsimon, there is a related issue here: `security-events` and other scopes should not ding the score if used at the `job` level. I proposed this in https://github.com/ossf/scorecard/issues/2338. This was fixed for several scopes in the PRs related to that issue, but not all of the scopes were addressed.

I will check the code and confirm which scopes are not yet fixed.

[2022-11-24 03:34] varunsh-coder commented on #2483
In addition, might be good to check if project uses GitHub Actions, in which case updating Actions is still a good idea. e.g. I checked and cURL repo does have GitHub Actions.

[2022-11-24 03:35] ianlewis opened #2487 "BUG SAST tool check runs on doc only commits."
The [slsa-github-generator](https://github.com/slsa-framework/slsa-github-generator) repo currently omits running the CodeQL action on commits that are documentation or yaml only as the CodeQL action is slow doesn't support markdown or yaml anyway.

However, scorecard dings us for not running CodeQL on all of our commits. It would be nice if the scorecard could detect if the commits were documenta

[2022-11-24 12:23] pnacht commented on #2483
Very true! I think the summary here is: the check should only run in repos where it's relevant, and it might be quite valuable for the warning to indicate how dependabot (or renovate) would be useful.

Currently the output for the Dependency-Update-Tool check is:

[code]

I think it'd be useful if the "details" could be:

[code]

This would make the dependency update tool's value much clearer for

[2022-11-25 13:51] diogoteles08 commented on #2483
Just found the issue #1726 very closely related to this one

[2022-11-25 14:12] diogoteles08 opened #2489 "BUG: Scorecard can't analyze files which are `export-ignore`'d in a .gitattributes file"
**Describe the bug**
The Scorecards check for Security Policy did not find any Security Policy file on [Laravel](https://github.com/laravel/framework) project, but it does have a SECURITY.md file inside `.github` folder.

**Reproduction steps**
Steps to reproduce the behavior:
1. Run Scorecards CLI for the repo `https://github.com/laravel/framework`, or access the already evaluated result [here](h

[2022-11-26 15:40] favonia opened #2490 "BUG: Incorrect line numbers for GitHub Actions workflows"
**Describe the bug**
Scorecard reports incorrect line numbers when the field `run` is not in the block style.

**Reproduction steps**

Make the following GitHub workflow:
[code]
Then, run the tool will get the following message:
[code]
When using as part of a CI script, the highlighting can be off by one line.

**Expected behavior**

The offending commands are on lines 7 and 8. Therefore, this sho

[2022-11-26 22:49] favonia opened #2491 "Consider versioned go modules pinned"
**Is your feature request related to a problem? Please describe.**
Currently, any `go install` and `go get` without using an SHA-256 hash is considered unpinned. I believe this is overkill and goes against the current practice.

**Describe the solution you'd like**
I think versioned Go modules should be considered pinned because newer go tools (>= 1.13), by default, will verify the downloads again

[2022-11-28 02:33] #2482 closed

[2022-11-28 04:01] latortuga71 commented on #2224
Completed feature but there is a TODO
to fix an issue where cache misses happen when using the sast and ci checks, when commits go above 100 because paging is needed. Will start on this fix.

[2022-11-28 04:11] laurentsimon commented on #2458
One limitation I see here is that most open source projects are "libraries" so they declare their dependencies using version ranges. That will make it harder to infer when they update dependencies, because most of the time there is not update required, ie a dependency's new release still be in the range specified by the project.

[2022-11-28 17:42] laurentsimon commented on #2491
This makes sense to me. Is there an assumption here that command uses the go proxy?

[2022-11-28 18:18] favonia commented on #2491
Yes. The user can choose to bypass the checking by intentionally using an old version of Go tools or setting `GOINSECURE` and pass `-insecure`. This would depend on what the role of `scorecard` wants to play. If the goal is just to remind users of better practice, then we can probably warn about `-insecure` and allow more versions that effectively pin down the dependencies. We cannot possibly prev

[2022-11-28 18:57] laurentsimon commented on #2475
Good catch. This seems to be a new setting. Sent https://github.com/ossf/scorecard/pull/2492

[2022-11-28 19:21] laurentsimon commented on #2491
I would guess they are, since it fetches by tag and does not use GH API to query release metadata.

Thanks for the clarification. Are you interested in sending a PR? This would be the function to update https://github.com/ossf/scorecard/blob/main/checks/raw/shell_download_validate.go#L419

[2022-11-28 19:23] #1369 closed

[2022-11-28 19:29] favonia commented on #2491
In principle, yes, but you would have to wait. Maybe someone can give it a try first. (I know that part of the code very well, thanks to my debugging experience in #2490, but writing the correct parser still takes time and the Thanksgiving weekend was over.)

[2022-11-28 23:39] laurentsimon opened #2493 "Feature: Don't penalize Go projects for not "packaging" to a registry"
Go projects don't need to upload their packages, so they should not be penalized.
I think we need an additional return value (-2?) to indicate NA for a check.

[2022-11-29 00:19] laurentsimon opened #2494 "Feature: expose the ecosystem name in Packaging check"
We currently don't expose the ecosystem name - raw results and in the logs.

[2022-11-29 01:27] spencerschrock commented on #2489
So the tarball downloaded by hitting `https://api.github.com/repos/laravel/framework/tarball/` doesn't contain the `.github` folder at all, which is why scorecard isn't picking it up.  The scorecard repo downloaded via the equivalent link does include the `.github` folder for example

 I'm not familiar with the tarball endpoint, and the [GitHub docs](https://docs.github.com/en/rest/repos/contents?

[2022-11-29 16:42] laurentsimon commented on #2472
To protect against insider risks: if one maintainer is compromised, an attacker can send a PR and use the compromised account to LGTM their own PRs. X LGTMs requires X compromised maintainers, which is harder.

[2022-11-29 16:44] laurentsimon commented on #2483
I like the idea too! We already have an internal APIs to fetch the languages of the repo using the language API from GitHub.

[2022-11-29 16:45] laurentsimon commented on #2489
That's an interesting finding. Other checks look for files under .github workflow (Token-Permissions, Dangerous-Workflows, Pinned-Dependencies). Does this affect the other checks too for this repository?

[2022-11-29 18:24] david-a-wheeler commented on #2450
The 0..10 score is intended to give an estimate of the "level of risk". Clearly a bot commit can be malicious, I completely agree, but a malicious commit from a bot already approved by the project seems less likely than a random human's. If we agree that the risks are different, then the scores should be different. If the argument is that the risks are approximately equal, then they should be scor

[2022-11-29 20:25] david-a-wheeler commented on #2465
It's currently in beta, let's make sure it works first. Also: do we want to *mandate* that GitHub projects use it (the implication here)? Some may *want* to report in another way, and the real goal is reporting not the mechanism.

[2022-11-29 20:29] katzj commented on #2465
Yeah, I think this would be best as counting as success for various parts of the [Security-Policy check](https://github.com/ossf/scorecard/blob/main/docs/checks.md#security-policy)

[2022-11-29 20:54] gabibguti commented on #2489
@laurentsimon Yes. Scorecards gives a 10 for Token-Permissions, when they are not set as Scorecards expects, and also a 10 for Pinned-Dependencies, when they do not hash-pin the dependencies and for some not even tag-pin. So, if the TAR comes "wrong" from GH API, these checks that look at the repo's source code will be mistaken.

[2022-11-29 22:01] spencerschrock commented on #2489
This is a configuration issue. By excluding the `.github` folder in their `.gitattributes` file, it's unavailable for analysis by scorecard
https://github.com/laravel/framework/blob/926cf9686c28ea6424990e2bd36dd607695eb104/.gitattributes#L9

[2022-11-29 23:49] laurentsimon opened #2501 "Feature: add unit tests for Packaging check"
under checks/raw/packaging_test.go

[2022-11-30 00:46] spencerschrock commented on #2494
copying from #2495

technically the name could be more complex than just the repo URI, we would need to read `go.mod`.
e.g. scorecard would report `github.com/ossf/scorecard` even though it's now `github.com/ossf/scorecard/v4`.

running it on `https://github.com/golang/tools/` (which is a mirror) would report that instead of the module name `golang.org/x/tools`

[2022-11-30 01:00] laurentsimon commented on #2494
Agreed that parsing go.mod is the right approach. Starting with the ecosystem name like `Go`, `PyPi` would be useful. Realistically, we won't be able to infer package names for other ecosystems unless the registry exposes it after verifying it themselves. Right?

[2022-11-30 08:37] azeemshaikh38 commented on #2494
What is the motivation for exposing the ecosystem name in Packaging check? Also, how do we handle monorepos?

[2022-11-30 08:52] azeemshaikh38 commented on #2489
Great find @spencerschrock! Maybe #1709 could help here?

[2022-11-30 09:29] azeemshaikh38 commented on #2450
Yes. I agree that the ***probability*** of a malicious bot commit is lesser than malicious human commit. But the risk from merging an unreviewed commit should be the same.

Also, I don't see what usecase the new proposal solves. The way `Code-Review` is scored today is - for `Y` out of past `X` commits which are reviewed, the score is `Y/X`. So if there is 1/10 unreviewed bot code, it would lead t

[2022-11-30 16:21] olivekl opened #2502 "Update Security-Policy recommendations to recommend new GitHub private reporting feature"
GitHub has introduced [private vulnerability reporting]( https://docs.github.com/en/code-security/security-advisories/guidance-on-reporting-and-writing/privately-reporting-a-security-vulnerability) (must be enabled). We should update our recommendations around the Security-Policy check to instruct users to enable this option.

[2022-11-30 16:45] laurentsimon commented on #2494
the check currently looks for ecosystem-specific Actions, so we *already* surface this implcitely. If we find multiple Actions, we can identify multiples projects in monorepos.

[2022-11-30 17:00] #2502 closed

[2022-11-30 18:22] #2418 closed

[2022-11-30 20:11] justaugustus commented on #1534
Based on the feedback from @caniszczyk [here](https://github.com/ossf/scorecard/issues/1534#issuecomment-1092277294) and @mkdolan [here](https://github.com/ossf/scorecard/pull/2428#issuecomment-1331559134), we should be fine to move forward with:

- Non-generated files: `Copyright YYYY OpenSSF Scorecard Authors`
- Generated files: `Copyright OpenSSF Scorecard Authors`

Some discussion and changes

[2022-11-30 21:48] spencerschrock commented on #2502
@olivekl Was this intentionally marked as completed? Is there a corresponding PR?

[2022-11-30 21:59] olivekl commented on #2502
There isn't a PR ---  it was intentional attempt to delete, mistakenly closed instead.