[2022-02-02 15:32] laurentsimon commented on #1585
Thanks for the report. You run clang tidy as a a command or use an action that wraps it? I suppose the former, but want to confirm. Thank you

[2022-02-02 15:34] laurentsimon commented on #1580
Good catch. This will be fixed in https://github.com/ossf/scorecard/pull/1487 which parses the action's yaml instead of using the search API.

[2022-02-02 16:25] laurentsimon commented on #1327
how about creating an `Error()` function to logs in addition to `Warn()` and `Info()`? It would allow logging the error and skip minor parsing issues without returning an error for the entire check. Wdut?

[2022-02-02 16:31] #1347 closed

[2022-02-02 16:38] laurentsimon commented on #1582
Thanks for the details. Scorecard already checks for .asc files in release artifacts on GitHub. Does it mean the only left to do is for you to add this file to your artifacts? Is there something else we need to do on our side?

[2022-02-02 16:47] laurentsimon commented on #688
@di is there an API that takes as input a GitHub repository instead of a package name? Or would we need to query the "project links" to infer the package name to input to the API? If so, what's the best way to do it?

[2022-02-02 16:54] di commented on #688
@laurentsimon You mean that you have a GitHub repo and you want to determine what PyPI project it corresponds to?

There's a couple ways:
* Build the project hosted in the repo (complicated, might not work), see what package name it produces, and assume this corresponds to a project on PyPI (it might have the same name but not be the same project, so it's not guaranteed)
* Build a mapping of proje

[2022-02-02 16:57] laurentsimon commented on #688
Thank you @di Let's wait until OIDC provides the magic.

[2022-02-02 17:04] georgettica commented on #1347
Yes!
Thanks 🙏

[2022-02-02 17:14] laurentsimon commented on #1371
Thanks. So we'll assume renovatebot has this enabled by default.

[2022-02-02 18:04] laurentsimon opened #1592 "Add score to SARIF results"
Add score to SARIF results for alerts that pack multiple results, like the branch protection.

This is a request from https://github.com/remkop/picocli/commit/87ff7a67bb0310e399823fb2b3950cc51b997990#commitcomment-65881098

[2022-02-02 18:10] godofredoc commented on #1585
We currently run it as a command inside our Android and iOS builders, but we are planning to separate them to their own builders. One thing I noticed is that the SAST tool check is validating the exact github check name which may not work for dart and flutter if we have `iOS clang-tidy`, `Android clang-tidy`, etc.

Here are examples of our current clang-tidy executions:

* https://logs.chromium.or

[2022-02-02 18:30] #1592 closed

[2022-02-02 20:33] naveensrinivasan commented on #1588
Appreciate the issue. Could you open an issue to the documentation? That would be helpful.

[2022-02-02 21:19] calebbrown commented on #426
Second order command injection attacks are also possible if attacker controlled input is passed from a workflow to a vulnerable action.

For example:
- this workflow looks safe: [github.com/wayou/wayou.github.io/.github/workflows/main.yml](https://github.com/wayou/wayou.github.io/blob/3484aaa3ae322adbaeff668ec93130a35018e182/.github/workflows/main.yml)
- however, the action it uses is vulnerable t

[2022-02-02 21:27] laurentsimon commented on #426
That's an amazing find. Thanks @calebbrown for letting us know!

[2022-02-02 22:53] mjpieters commented on #1588
I am presuming you meant _open a pull request_, perhaps? :-) Sure!

[2022-02-02 23:22] godofredoc opened #1597 "Feature - Pin dependencies - add support for gclient DEPS file"
**Is your feature request related to a problem? Please describe.**
Yes, dart and flutter use [gclient](https://www.chromium.org/developers/how-tos/depottools/#gclient) from chromium to manage third party dependencies. We would like to add `Pin dependencies` support for this type of files.

**Describe the solution you'd like**
Unfortunately parsing [DEPS](https://cs.opensource.google/flutter/engine

[2022-02-03 00:01] remkop commented on #1592
You beat me to it. Thank you!

[2022-02-03 04:24] chrismcgehee commented on #1327
Yeah, I think that's a good approach.

[2022-02-03 16:33] azeemshaikh38 commented on #1597
Thanks for reporting this @godofredoc. I wonder if a Python parser like https://pkg.go.dev/github.com/go-python/gpython@v0.0.3 can be used here? If the code complexity of these `DEPS` files tends to be fairly simple we could get away with not being able to handle all corner cases.

I have added the `needs discussion` label to this issue so that we can bring this up during the Scorecard sync next w

[2022-02-03 16:39] #1588 closed

[2022-02-03 16:40] laurentsimon commented on #1327
what do others think?

[2022-02-03 17:56] laurentsimon commented on #1032
I've started the process by clicking "get a badge". Waiting for OSSF to accept the OAuth request.

[2022-02-03 19:34] laurentsimon commented on #1585
once we have https://github.com/ossf/scorecard/pull/1487 landed, I'll add support for this issue.

[2022-02-03 19:37] laurentsimon commented on #1597
one way we get around this problem for other package managers is that we use detect the use of commands that fail unless the dependencies are pinned. For example for pip, we check for use of `pip ... --require-hashes`.

Is there something similar for gclient?

[2022-02-03 23:00] behnazh-w opened #1600 "BUG: dependency update tool check does not accept .yaml extension"
The Dependabot check does not consider`.github/dependabot.yaml` file, however both `.yml` and `.yaml` extensions should be accepted according to the [documentation](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions).

[2022-02-03 23:53] #1600 closed

[2022-02-04 00:01] remkop commented on #1582
I see, great!
I got the `.asc` files for the picocli jar files from Maven Central and added them to the [release artifacts](https://github.com/remkop/picocli/releases/tag/v4.6.2) in GitHub for the latest picocli release.

There is one `picocli-all-4.6.2.zip` for which there is no `picocli-all-4.6.2.zip.asc` file, and there are the GitHub-generated `v4.6.2.zip` and  `v4.6.2.tar.gz` files without `.

[2022-02-04 00:30] laurentsimon commented on #1582
You can use our docker image to test, see https://github.com/ossf/scorecard#docker
`... --repo=$REPO --format json --show-details --checks Signed-Releases | jq`
[code]

[2022-02-04 01:10] godofredoc commented on #1597
gclient does not support checking for pinned dependencies but I can try to contact the owners and see if there is interest on implementing that functionality.

Alternatively we can autogenerate a flattened DEPs file and only check for the pinned dependencies from scorecards using a plain text file with one dependency per line.

[2022-02-04 01:51] laurentsimon commented on #1597
that'd be really helpful. Let us know if there's something we can help with.

what do you mean by autogenerate?

[2022-02-04 02:14] godofredoc commented on #1597
gclient supports hooks that run as part of the source code checkout process, here is an [example](https://github.com/flutter/engine/blob/main/DEPS#L736). We can add an additional hook that writes a file with the list of dependencies. This will be committed to the repository as DEPS_list, `pinned dependencies check` can read files called DEPS_list and validate them using regular expressions.

pros:

[2022-02-04 02:32] azeemshaikh38 commented on #1597
I presume this is not a norm among the clients of `gclient`? If so, it might be a bit hacky to do this. How many repos would benefit from something like this? If its a reasonable number, we could consider this as a first step while working out a more general solution.

[2022-02-04 12:15] remkop commented on #1582
@laurentsimon Awesome, thank you! The docker image worked very smoothly.

I noticed one thing that seems like a false positive:

[code]

The remkop/picocli project _does_ have CodeQL set up:
The config file is here: `.github/workflows/codeql-analysis.yml`

And the workflow has been set up and is active:
![image](https://user-images.githubusercontent.com/5917763/152527332-1d856351-fa0d-4f3c-b90b-0d

[2022-02-04 17:16] david-a-wheeler commented on #1032
@laurentsimon - presuming you're logged into GitHub, the "get a badge" click should have gotten you to a list & getting started pretty quickly. If you're hung, something is wrong.

What happened? If you're stuck I want to make sure you (& anyone else) gets unstuck :-).

[2022-02-04 17:26] laurentsimon commented on #1032
I indeed got a list of repos, but `ossf/scorecard` does not show up. I think it's because the OAuth does not have the scope to read it, I see "Access request pending" under Installation > Application

[2022-02-04 17:59] laurentsimon commented on #1582
Please create an issue for it and I will follow up. Fyi, we're in the process of updating this check https://github.com/ossf/scorecard/pull/1487#issuecomment-1028556509

[2022-02-04 18:57] laurentsimon commented on #1582
I've noticed that CodeQl is defined in your workflow, but seems to fail uploading the results: https://github.com/remkop/picocli/actions/runs/1794898507 which may be why scorecard is not detecting it

[2022-02-04 20:18] peterhsshin commented on #1095
Yes, that's a good heuristics.  Set up an environmental variable with the list of folder names or paths to exclude.  The folder names vary too much to come up with an absolute list.  It's best to leave it up to the users to edit/modify.

On the other hand, make sure these pinned vendor lists are not seen or checked into the public repository.  It can potentially lead to security or data breaches.

[2022-02-04 21:42] #1571 closed

[2022-02-05 00:37] remkop opened #1605 "BUG CodeQL result upload fails"
**Describe the bug**
I enabled CodeQL but did not see SAST being recognized when running scorecard in docker:

[code]

@laurentsimon [noticed](https://github.com/ossf/scorecard/issues/1582#issuecomment-1030264323)

It appears that the upload fails at the end of the "Perform CodeQL Analysis" job in the `.github/workflows/codeql-analysis.yml` in my repo:
[code]

Relevant section from the [log](https

[2022-02-05 00:40] remkop commented on #1582
@laurentsimon Thank you for pointing out that the upload is the part that seems to be failing.
I created https://github.com/ossf/scorecard/issues/1605 for this.

It appears that  .asc files are recognized when they are added them to the [release artifacts](https://github.com/remkop/picocli/releases/tag/v4.6.2) in GitHub.
It would be nice if the tool could get them from Maven, but that is related t

[2022-02-05 01:33] laurentsimon commented on #1605
Have you tried fixing the CodeQL, maybe reach out to their repo to ask why it's failing?

[2022-02-05 01:35] laurentsimon opened #1606 "Detect more unpinned golang commands"
There are several commands https://go.dev/ref/mod that update the go.mod/go.sum and will not honour the sum file.

We should detect them in the Pinned-Dependencies check.

[2022-02-05 02:32] laurentsimon commented on #1582
You're welcome. Thanks for trying out scorecard. Don't hesitate to reach out!

[2022-02-05 02:32] #1582 closed

[2022-02-05 04:06] laurentsimon commented on #1095
what do you mean?

[2022-02-05 09:46] remkop commented on #1605
Yes good point, I thought this was an ossf/scorecard issue but reading the log more carefully it does seem that the underlying problem is in codeql-action. I raised https://github.com/github/codeql-action/issues/912 for this.

[2022-02-07 14:28] GuillaumeRoss opened #1610 "BUG: Scorecard analysis scheduled/cron fails"
**Describe the bug**
I have setup the Github Action last week, and it's been reporting issues to the repo's list of vulnerabilities perfectly. This weekend, the first scheduled run was to occur, and it failed during the Run Analysis step with the following:

[code]

The setup was pretty much the standard one, so I wondered if maybe I had made a mistake in the configuration. So I headed to the scor

[2022-02-07 16:22] laurentsimon commented on #1605
no worries. Let's close this issue then.

[2022-02-07 16:22] #1605 closed

[2022-02-07 19:11] laurentsimon commented on #1610
Thanks for the report. We have a tracking issue for it https://github.com/ossf/scorecard-action/issues/84 (another repo :-))
Im closing this use and adding you to the other issue.

[2022-02-07 19:11] #1610 closed

[2022-02-07 22:49] godofredoc commented on #1597
@azeemshaikh38 you are correct generating the flattened file is a work around and it won't be generic.

I've been thinking on other potential solutions and I believe I found one to make the DEPS implementation generic.

The overall workflow would look like:

* A python script to flatten the deps can be checked into oosf/scorecards/scripts. The script is pretty simple <100 lines
* The score cards p

[2022-02-08 05:49] godofredoc opened #1614 "BUG number of required reviewers is only 0 alert even though is set to 1"
**Describe the bug**
flutter/flutter has branch protection enabled and required reviewers to 1 but scorecards still show an alert with a description that is set to 0

**Reproduction steps**
Steps to reproduce the behavior:
1. Set branch protection of a repository
2. Set required reviewers to 1, add a group that is exempt from the rule(this is used for bot accounts)
3. Run scorecards

**Expected be

[2022-02-08 18:52] laurentsimon commented on #426
I'll take a stab at 5.

[2022-02-09 18:14] inferno-chromium opened #1618 "Improve scorecard score for scorecard repo"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
https://deps.dev/go/github.com%2Fossf%2Fscorecard
Are these false positives? If not, please fix. Also, for false positives, is there any easy way to add exceptions/ignore-lists [this is important as these workflows issues probably happen on other criticial repos as well]

**Expected behavior**
10/10 sc

[2022-02-09 21:40] naveensrinivasan commented on #1618
Here is the latest release https://deps.dev/go/github.com%2Fossf%2Fscorecard%2Fv4

[2022-02-09 23:53] laurentsimon commented on #1543
so the way to ensure it's a cmmit authored by GH is to query the `signature` of a commit and verify it's signed by GH's public key.

Fyi, there's also a `autoMergeRequest.enabledBy.login` which may be an interested field. Not sure it's necessary, just fyi.

[2022-02-10 00:55] laurentsimon commented on #1543
follow-up. We don't need to verify the signature to start with, we can simply use
`isValid` and `wasSignedByGitHub` field to verify it's GitHub.

[2022-02-10 21:01] justaugustus commented on #1618
Sounds fun!
/assign

[2022-02-10 22:10] naveensrinivasan opened #1621 "Release Scorecard - Next release (v4.1.0)"
In Scorecard bi-weekly meeting it was brought up about the next version of the scorecard which has some bug fixes.

This is a tracking item to discuss this.

[2022-02-10 22:11] naveensrinivasan commented on #1621
@azeemshaikh38 @laurentsimon @justaugustus FYI...

[2022-02-11 00:03] azeemshaikh38 commented on #1621
Are folks working on any new features/changes which we should wait for before creating a release?

Also, for some reason the weekly cron jobs haven't been running fine last 2 weeks. I haven't looked into them (might be some GitHub token issue and nothing to do with code itself). But it would be useful to have one successful run and tag that commitSHA as the new release.

[2022-02-11 01:37] azeemshaikh38 opened #1623 "BUG: Fixer high GitHub API usage"
#1566 increases the cost/complexity of the GraphQL queries. The query cost goes up ~20x due to that PR. We should fix this before the next release. 2-part solution here:

1. Decrease the number of `associatedPullRequests` to 1, since for every commit we are only interested in a single PR (the one used to submit the commit). Doing this brings back the cost to original, so ~20x savings.
2. Add some

[2022-02-11 01:38] azeemshaikh38 commented on #1621
Found the reason why cron job was having issues - #1623. Working on a fix for it, would be good to release after this fix.

[2022-02-11 15:34] laurentsimon commented on #1623
Can you explain how you compute the cost of a request? Is this something the API returns?
I don't follow why setting `associatedPullRequests to 1` helps: I was under the impression that each commit to main has a single associated pull request anyway. I tried
[code]

and it seems to return a single PR for each commit. I've not looked at the coed we use in scorecard though, but I think it's similar.

[2022-02-11 15:36] laurentsimon commented on #1614
Thanks for reporting!

Which repo is this happening on?

Can you give a link about the `add a group that is exempt from the rule`?

[2022-02-11 15:52] laurentsimon opened #1626 "Create multiple SARIF results for each branch protection settings"
the branch protection results are not granular enough in SARIF. If users dismisses them once (say, they don't care about `2 reviews` and are fine with `1 review`), they will never show again even if a setting is changed to `0 reviews`

We're tackling this more broadly through the raw results effort https://github.com/ossf/scorecard/issues/1245, but it will take time to land all the checks.

A temp

[2022-02-11 16:47] azeemshaikh38 commented on #1543
Is looking for `wasSignedByGitHub` not enough? Seems like that boolean is only set to true if committer is GitHub and is `null` otherwise.

[2022-02-11 16:57] laurentsimon commented on #1543
Yes `wasSignedByGitHub` should be enough for us. I added the other links as fyi in case we want to more in the future.

[2022-02-11 17:48] azeemshaikh38 commented on #1543
Makes sense, thanks for finding this! Do you want to send a PR for this?

[2022-02-11 17:59] azeemshaikh38 commented on #1621
Do we need to block Scorecard release for this though? This will rely on scorecard-action release correct?

[2022-02-11 18:04] azeemshaikh38 commented on #1623
Yes, you can add the `RateLimit` object to the graphQL query to get the cost of the query - https://docs.github.com/en/graphql/reference/objects#ratelimit

That is correct. But if you say `first: 1` vs. `first: 30` (for associatedPR), the cost of the query that you get is different. I presume GitHub makes an approximate charge based on the complexity of the query, so a query for more items is more

[2022-02-11 19:04] laurentsimon commented on #1621
you're correct, no need to block scorecard release. I re-phrased my comment :-)

[2022-02-11 19:06] laurentsimon commented on #1543
unless someone else wants to do it, happy to.

[2022-02-11 19:50] azeemshaikh38 commented on #1490
One item I would add here is deprecation of v1 (pass/fail) code in this release.

[2022-02-11 19:55] azeemshaikh38 commented on #1490
- #1393

[2022-02-11 21:12] godofredoc commented on #1614
Output of `docker run -e GITHUB_AUTH_TOKEN=token gcr.io/openssf/scorecard:stable --show-details --repo=https://github.com/flutter/flutter` :

[code]

Output of `docker run -e SCORECARD_V6=1 -e GITHUB_AUTH_TOKEN=token gcr.io/openssf/scorecard:stable --show-details --repo=https://github.com/flutter/flutter --format raw`:

[code]

![image](https://user-images.githubusercontent.com/54371434/153670330-

[2022-02-11 21:30] laurentsimon commented on #1614
Very interesting!

Which scopes do you use for your PAT?

[2022-02-11 22:30] godofredoc commented on #1614
It has the following scopes: `public_repo, read:discussion, read:org, read:repo_hook`

[2022-02-11 23:38] laurentsimon commented on #1614
I could not reproduce the problem with my PAT. Let's try something else. Can you head over to https://docs.github.com/en/graphql/overview/explorer, log in as you, and run this graphQl command and paste your results?
[code]

[2022-02-12 00:45] godofredoc commented on #1614
I think I know what is happening:

The PAT was generated from an account which belongs to the group allowed to bypass pullrequest requirements. This is the output:

[code]

The result of running with an account that does not belong to group allowed to bypass the codereview requirements is:

[code]
I thought the APIs were returning the data in the same structure as the UI but it seems like it retur

[2022-02-12 10:40] justaugustus commented on #1618
Local run against https://github.com/ossf/scorecard/pull/1629:

[code]

RESULTS
-------
Aggregate score: 8.0 / 10

Check scores:

|  SCORE  |          NAME          |             REASON             |                                                                                                    DETAILS

[2022-02-13 05:28] azeemshaikh38 commented on #174
Duplicate of #1032. Closing this and tracking it there.

[2022-02-13 05:28] #174 closed

[2022-02-13 05:34] azeemshaikh38 commented on #1032
@justaugustus assigning this to you since you earned Scorecard a CII Best Practices [badge](https://bestpractices.coreinfrastructure.org/en/projects/5621) (yay, thanks a lot!). We can close this unless you plan on working on this further and want to use this to track your progress.

[2022-02-13 05:36] azeemshaikh38 commented on #271
@rohankh532 fyi.

[2022-02-13 05:39] azeemshaikh38 commented on #1389
@justaugustus assigning this to you track progress. Part of #1618.

[2022-02-13 05:43] azeemshaikh38 commented on #1490
Adding few more:

- #1618
- #1597
- #1032
- #575
- #1537
- #271
- #1389
- #1245

[2022-02-13 18:02] naveensrinivasan commented on #1389
This is creating crashes https://github.com/google/oss-fuzz/pull/7269

[2022-02-13 19:15] evverx commented on #1389
FWIW since the fuzz target is public I don't think scorecard bug reports should be private because they can be easily reproduced. For example, I don't have access to bug reports but I can trigger all the crashes like:
[code]

@naveensrinivasan looking at https://github.com/google/oss-fuzz/pull/7269/files it seems a seed corpus wasn't added there. I think it would probably make sense to address tha

[2022-02-14 01:15] naveensrinivasan commented on #1389
There are multiple crashes , I have gotten few emails about this from oss-fuzz.

There needs to multiple things that have to be done before Scorecard is integrated into oss-fuzz

- [ ] Have a separate module within Scorecard to have dependency with go-fuzz and go-tip/go 1.18 beta 2 for building and testing fuzz
- [ ] Choose the target func to test
- [ ]  Integrated into GitHub CI for ensuring the

[2022-02-14 01:51] evverx commented on #1389
FWIW I don't think that's what really happens in practice. Once fuzz targets are public it's safe to assume that bugs they can discover are (kind of) publicly known (because they are actually run outside of OSS-Fuzz).

I completely agree with @naveensrinivasan on how scorecard should be integrated.

[2022-02-14 01:55] naveensrinivasan commented on #1389
👍

[2022-02-14 15:22] azeemshaikh38 commented on #1614
Very interesting find, thanks @godofredoc! I think we need help from the GitHub team here. Will follow up with them and update here.

[2022-02-14 16:49] azeemshaikh38 commented on #1578
Also feel free to add an agenda item to the upcoming meet in this [doc](https://docs.google.com/document/d/1dB2U7_qZpNW96vtuoG7ShmgKXzIg6R5XT5Tc-0yz6kE/edit#heading=h.4k8ml0qkh7tl). You'll need to join ossf-scorecard-announce@googlegroups.com for being able to modify the doc.

[2022-02-14 17:38] laurentsimon opened #1633 "Check for secrets in pull_request_target"
We currently look for secrets only for pull_request triggers. We need support for pull_request_target as well.

[2022-02-14 17:45] laurentsimon commented on #1578
Looking forward to meeting you @[JonDouglas](https://github.com/JonDouglas)!
Thanks @azeemshaikh38 for the prompt info!

[2022-02-15 16:04] #1633 closed

[2022-02-15 20:42] behnazh-w opened #1642 "Token permission check fails on legitimate release jobs in GitHub Actions workflows"
A release job in a GitHub Actions workflow may require `contents: write` permission to push a release commit. Scorecard currently allows `contents: write` permission for "packaging" workflows, which allows [pypa/gh-action-pypi-publish](https://github.com/ossf/scorecard/blob/main/checks/packaging.go#L176) only for Python. In other words, Scorecard does not recognize other release Actions, such as [

[2022-02-15 21:57] azeemshaikh38 commented on #1642
Thanks for reporting this. Could you point us to an example repo where this is happening?

[2022-02-15 22:05] laurentsimon commented on #1606
other examples `go test -mod=vendor`

[2022-02-15 22:06] laurentsimon commented on #1642
You're saying `relekang/python-semantic-release` is not recognized as a publishing workflow. Is that correct?

[2022-02-15 22:23] behnazh-w commented on #1642
[Here](https://github.com/jenstroeger/python-package-template) is the repo and this is the [branch](https://github.com/jenstroeger/python-package-template/tree/add-scorecard) where Scorecard is enabled and is reporting the `contents: write` permission in the [release](https://github.com/jenstroeger/python-package-template/blob/add-scorecard/.github/workflows/check-and-release-main.yaml#L39) job as

[2022-02-15 22:53] laurentsimon commented on #7
API for org https://docs.github.com/en/rest/reference/orgs#members. May require special permission to use.

[2022-02-15 22:54] laurentsimon commented on #1642
@di any objection to adding this action for python projects?

[2022-02-15 23:27] azeemshaikh38 commented on #1543
Thanks, assigning this to you.

[2022-02-15 23:30] di commented on #1642
My thoughts are that this should probably be user-configurable as @behnazh-w suggested. I'm not sure we want to get in the business of determining which Actions are trusted or not (aside from the assumption that ecosystem-provided Actions like `pypa/gh-action-pypi-publish` should be trusted).

[2022-02-15 23:34] laurentsimon commented on #1642
I don't think we have a notion of "trusted" actions today. I think it's more "actions we know of". I'm fine adding this action to the list of acton we look for. When we get to the point of having policies, we can give users more flexibility about what they want to filter our or not.

@azeemshaikh38 @naveensrinivasan thoughts?

[2022-02-15 23:38] #1623 closed

[2022-02-15 23:46] azeemshaikh38 commented on #1621
#1623 is now fixed. I think we are good to release the next minor version. To be safe we can release at [394789cf22887344f084efeffcfe235cc8aa390f](https://github.com/ossf/scorecard/tree/394789cf22887344f084efeffcfe235cc8aa390f) which has been tested using the cron job. If folks have any concerns let's discuss before making the release.

@naveensrinivasan could you help with creating the new releas

[2022-02-15 23:54] azeemshaikh38 commented on #1642
The `Packaging` check is simply trying to determine whether a GitHub workflow is a packaging workflow or not (see [here](https://github.com/ossf/scorecard/blob/2b206dc3654ab96b88310625c5f0a1a3902723e7/checks/packaging.go#L95)). So IIUC, we are not too concerned with whether we "trust" the action, but rather about classifying the action. So I'm ok to add [relekang/python-semantic-release](https://g

[2022-02-16 00:07] jeffmendoza commented on #1621
Yes, getting #1644 in a release would be helpful for Allstar, but we can use hash if you don't want to wait. Thanks

[2022-02-16 00:15] justaugustus commented on #1621
Merged!

[2022-02-16 00:18] justaugustus commented on #1621
I'll echo what I mentioned in [Slack](https://openssf.slack.com/archives/C0235AR8N2C/p1644969016218859?thread_ts=1644968819.756379&cid=C0235AR8N2C):

With the logging change in https://github.com/ossf/scorecard/pull/1516, we're going to break consumers, so this should be a major version bump.

Updated the tracking title to reflect v5.0.0!

[2022-02-16 02:20] varunsh-coder commented on #1618
goreleaser writes to releases ([example](https://github.com/ossf/scorecard/releases/tag/v4.0.1)) which needs `contents:write`. In fact if a publishing workflow did not write a `.sig` file to releases, the signed release check might fail. May be the signed release check should check for signature info in the package repository (e.g. docker registry).

On another note, I think that regardless of whe

[2022-02-16 15:30] naveensrinivasan commented on #1621
Scorecard releases are based on commit SHA that has passed cron job. If I am not wrong @azeemshaikh38 is mentioning the SHA https://github.com/ossf/scorecard/tree/394789cf22887344f084efeffcfe235cc8aa390f that has successfully run.

So the #1644 might not make it in the release if it is after the above SHA.

[2022-02-16 16:25] naveensrinivasan opened #1648 "Move to cron to a separate repository"
The https://github.com/ossf/scorecard/tree/main/cron has multiple binaries.

- This makes the build complex and increases the duration to complete
-  The module dependency is pretty heavy https://github.com/ossf/scorecard/blob/main/go.mod
-  By refactoring, should reduce the binary-size

The downsides are
-  The change in scorecard has to be done separately prior to any changes to cron in 2 differ

[2022-02-16 16:52] laurentsimon commented on #1621
cc @jeffmendoza

[2022-02-16 17:26] jeffmendoza commented on #1621
Scorecards is a program first and a library as a far distant second. Allstar is the only consumer that we know of, and we can work around code changes in minor versions. In the future, it might make sense to become more formal about what encompasses the "external" API surface and then follow semver when that changes, but I don't think we are there yet.

So far, scorecards major version has reflect

[2022-02-16 18:22] laurentsimon commented on #1618
Thanks @varunsh-coder I realized after posting the question that to push a release, we need `contents:write`. Thanks for confirming!

I think there are APIs to check which tag corresponds to which commit/branch. Do you think this is insufficient?

[2022-02-16 18:28] varunsh-coder commented on #1618
What I was thinking about might be out of scope for scorecards. Sometimes maintainers publish a release to artifact repository, e.g. https://registry.npmjs.org, but forget to create a tag. I noticed https://www.npmjs.com/package/plaid has version 9.9.0 but no tag for that in the repo: https://github.com/plaid/plaid-node/tags. I don't think scorecards can detect this though...may be some related pr

[2022-02-16 18:47] laurentsimon commented on #1618
do you think SLSA provenance is something that could address this problem?

[2022-02-16 21:40] laurentsimon commented on #1642
Looks like there is consensus we can add the new action to our list.

[behnazh-w](https://github.com/behnazh-w) would you be interested in sending a PR?

The lines to update are in https://github.com/ossf/scorecard/blob/2b206dc3654ab96b88310625c5f0a1a3902723e7/checks/packaging.go#L95; and you can add a unit test in https://github.com/ossf/scorecard/blob/2b206dc3654ab96b88310625c5f0a1a3902723e7/che

[2022-02-16 21:43] varunsh-coder commented on #1618
I think so. In this case, even if the registry owner could verify if the tag exists in the associated repo, and reject the publish event if it doesn't, it will solve the problem. May be I can submit a request to the https://registry.npmjs.org/ owners...

[2022-02-16 21:54] behnazh-w commented on #1642
Sure, I'm happy to send the PR. As I have mentioned above I would prefer to control the list of such Actions via the configuration, but for now I can document that in a comment.

[2022-02-17 04:37] chrismcgehee commented on #7
This API allows querying for users in your organization that do not have 2FA enabled. It wouldn't fit our needs of being able to tell if an arbitrary user has 2FA enabled. I would be surprised if Github ever published an API allowing querying whether arbitrary users have 2FA enabled. I think a lot of people wouldn't be comfortable with it being public knowledge that they don't use 2FA. We might no

[2022-02-17 16:18] laurentsimon commented on #7
if we could query the list of maintainers for a repo/org, we could then cross-check which users don't have 2FA enabled. I've not looked closely at the API, though

[2022-02-17 17:50] laurentsimon opened #1652 "Yarm lock support"
see command https://yarnpkg.com/cli/install

[2022-02-17 23:16] #1642 closed

[2022-02-18 02:42] laurentsimon opened #1655 "Web hook secret used"
See if we can add a check to verify that web hooks defined in the repo have a secret configured for authentication https://docs.github.com/en/developers/webhooks-and-events/webhooks/creating-webhooks#secret

Unfortunately, I don't think the APIs let us query them without a PAT https://docs.github.com/en/rest/reference/webhooks#repository-webhooks :/

Note, however, that the PAT only needs to be re

[2022-02-18 14:25] naveensrinivasan opened #1659 "BUG - Fix golang CI issues"
**Describe the bug**
Fix golang ci issues
[code]

With the latest update of golang ci these issues have to be addressed.

https://github.com/ossf/scorecard/runs/5248343538?check_suite_focus=true

[2022-02-18 14:41] laurentsimon commented on #7
ok, yes allstar works well too. Im adding them as scorecard issues first and allstar is the fallback solution in my mind, since allstar is for orgs but scorecard can be more broadly used. Here's another one that I would like to have in scorecard, but may only be viable for allstar https://github.com/ossf/scorecard/issues/1655

[2022-02-19 00:23] laurentsimon commented on #1254
you're correct. I'm just not 100% sure whether some actions can do both or not.

[2022-02-19 21:56] #1659 closed

[2022-02-21 11:55] singhsaurabh commented on #1534
As a new in OpenSource Community, I would like to take this ticket to work on.

[2022-02-21 11:56] singhsaurabh commented on #1534
I would like to understand more on this ticket.
Thank You

[2022-02-21 23:17] chrismcgehee commented on #1507
I'd be willing to work on this one. I have a couple implementation questions:

1. Should this check be behind a v5 "feature flag"?
1. We run Scorecard on a repo, so the first place I'll check for a review is https://github.com/ossf/security-reviews/tree/main/reviews/github. However, some reviews are filed under their package manager like https://github.com/ossf/security-reviews/tree/main/reviews/n

[2022-02-21 23:40] azeemshaikh38 commented on #1621
Looks like we have consensus here? If so, let's close this after releasing the next minor version. We can consider opening a new issue/PR to discuss the updates we need to make in our README about Scorecard versioning.

@naveensrinivasan can you help do the release? The latest version of cron run is using commitSHA [33f80c93dc79f860d874857c511c4d26d399609d](https://github.com/ossf/scorecard/tree/3

[2022-02-22 01:22] naveensrinivasan commented on #1621
Released https://github.com/ossf/scorecard/releases/tag/v4.1.0

[2022-02-22 01:22] #1621 closed

[2022-02-22 04:25] azeemshaikh38 commented on #1621
Awesome, thanks!

[2022-02-22 15:43] laurentsimon opened #1667 "Reduce the number of permissions we look for"
In the token permission check, we look for risky permissions like `contents:write` or `packages:write`, but also for less risky ones like `secevents`, `checks`, `status`, see https://github.com/ossf/scorecard/blob/main/checks/permissions.go#L279

For the latter permissions ,they are low risk and not necessarily actionable because there are many actions that require access to them. I wonder whether

[2022-02-22 15:50] laurentsimon commented on #1507
good idea, yes.

There was an intended API for this https://github.com/ossf/security-reviews/issues/58, but unfortunately the ossf dashboard is going to be deprecated. I suppose for now using GitHub + links works. @david-a-wheeler what would you suggest?

[2022-02-22 18:36] justaugustus commented on #1534
From Ed Warnicke in https://github.com/kubernetes/repo-infra/pull/247#issuecomment-1023720141:

[2022-02-22 18:44] justaugustus commented on #1534
So I guess to more concretely answer this, a few things need to happen:

1. Scorecard maintainers (@naveensrinivasan @azeemshaikh38 @laurentsimon me) need to decide if it's fine to elide the copyright date in all files (I'm personally fine with it)
2. OpenSSF and scorecard maintainers need to decide if it's preferred to use `OpenSSF Authors` as the copyright holder for content in this repo and pot

[2022-02-22 18:49] laurentsimon commented on #1534
I'm fine with all the above.

[2022-02-22 18:49] justaugustus commented on #1351
I was coming here to suggest tablewriter!
I think we should switch to that instead of dropping table output.

[2022-02-22 23:54] justaugustus commented on #1032
Will keep this open as there's still a bunch to do! :)

[2022-02-22 23:58] justaugustus commented on #1529
From https://github.com/ossf/scorecard/issues/308:

[2022-02-22 23:58] justaugustus commented on #308
Closing in favor of https://github.com/ossf/scorecard/issues/1529, which has more activity.

[2022-02-22 23:58] #308 closed

[2022-02-23 00:04] justaugustus commented on #309
Cross-linking a few things from Kubernetes tracking:
- Signing release artifacts: https://github.com/kubernetes/enhancements/issues/3031
- SLSA Level 3 Compliance in the Kubernetes Release Process: https://github.com/kubernetes/enhancements/issues/3027
- Signing artifacts with `cosign`: https://github.com/kubernetes/release/issues/2227
- Implement container image signing MVP (KEP-3031): https://gi

[2022-02-23 01:15] justaugustus commented on #1537
Closed via https://github.com/ossf/scorecard/pull/1560.

[2022-02-23 01:17] naveensrinivasan commented on #1537
Still not closed, because  the go.sum refers to version that has the vulnerability

[2022-02-23 02:25] naveensrinivasan commented on #1107
I don't know why this was closed. Probably mistake.

[2022-02-23 03:57] #1537 closed

[2022-02-23 12:03] cpanato commented on #1655
this is something that is open for contribution? if so can I take it?

[2022-02-23 15:46] cpanato commented on #1655
@laurentsimon ^

i went ahead and start some implementation/testing

[2022-02-23 16:53] laurentsimon commented on #1655
thanks. We're not entirely sure this id do-able using the default workflow's GITHUB_TOKEN? Could you verify that?
There's a good chance we may be moving towards the default token and away from the PAT in the future.

I suppose there are 2 ways we could use your code anyway:
1. Have additional features if a PAT is provided
2. Use your code in [allstar](github.com/ossf/allstar) instead

@azeemsgoogl

[2022-02-23 17:04] singhsaurabh commented on #1534
Thanks @justaugustus

[2022-02-23 17:58] colek42 opened #1673 "Feature: Public JSON Type"
I am using score card data as a part of attestation in witness https://github.com/testifysec/witness.  We marshal the data in the scorecard json result.

**Describe the solution you'd like**
Make the `jsonScorecardResultV2` type Public

**Describe alternatives you've considered**
Copy paste the types into witness

[2022-02-23 20:46] naveensrinivasan commented on #1673
@colek42  Do you want to do a PR for the change? also, you should demo how you are building with the scorecard in our Bi-Weekly meeting.

[2022-02-23 20:58] laurentsimon commented on #1673
Fyi, we're also experimenting with a `--format raw` flag that outputs "raw" data for the results, before the scores have been calculated. We're aiming to make this for all checks, with the goal of allowing policies to be written.
The raw result format will be unstable for the next few months, though. You can see the existing checks we've migrated (and the current format) in https://github.com/ossf

[2022-02-23 23:45] azeemshaikh38 commented on #1534
@singhsaurabh I have added this item in our bi-weekly. If you drop by, we can discuss this over call.

[2022-02-23 23:49] azeemshaikh38 commented on #1351
I think we use [`tablewriter`](https://github.com/ossf/scorecard/blob/faeae4121e8696c844726fac92c58e848046ea31/pkg/scorecard_result.go#L23) already?

[2022-02-24 00:06] laurentsimon commented on #1351
@justaugustus do see value in maintaining the table output? We sort of concluded that it was not worth the effort given the time it requires to fix alignment issues. Wdut?

[2022-02-24 08:32] cpanato commented on #1655
made a test: generate a new token with the `public_repo` permission only and run the check, and got the same results as using a full permission token.

[2022-02-24 10:32] singhsaurabh commented on #1534
Thank you @azeemshaikh38

[2022-02-24 19:18] JonDouglas commented on #1578
Hi all,

I had originally planned to join the meeting later this afternoon, but unfortunately I have a conflict I cannot clear this month. I'll be looking to join the next one on the 10th instead.

[2022-02-24 20:40] laurentsimon commented on #1578
Thanks for letting us know. See you in 2 weeks then!

[2022-02-24 22:18] azeemshaikh38 commented on #1490
Updating this after discussion on the bi-weekly. @justaugustus to add an issue about release process for Scorecard along with the items mentioned above.

[2022-02-24 23:24] justaugustus opened #1676 "Document scorecard release processes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-24 23:26] justaugustus opened #1677 "Use Kubernetes `release-notes` tool for releases"
Part of https://github.com/ossf/scorecard/issues/1676

ref: https://github.com/kubernetes/release/blob/master/cmd/release-notes/README.md

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**

[2022-02-24 23:28] justaugustus commented on #1490
Added to https://github.com/ossf/scorecard/issues/1553 as https://github.com/ossf/scorecard/issues/1676!

[2022-02-24 23:32] justaugustus commented on #1351
Looks like we do!

https://github.com/olekukonko/tablewriter#example-5---markdown-format should be relatively easy to fixup.
I think being able to write to a markdown table would be super useful:
- Better display compared to json, etc. for platforms that support displaying markdown
- A consumer could tweak that to automatically write that out to a file somewhere for posterity

[2022-02-24 23:36] justaugustus commented on #1655
@cpanato -- Curious...
Did you test this on a repo you have elevated access to? I'd imagine that that might work on a repo you have access to dump endpoints on. If that's the case, could you also try it against a repo you _don't_ have write++ access to?

[2022-02-24 23:37] justaugustus commented on #1676
I believe this is also needed for OpenSSF Best Practices badging: https://github.com/ossf/scorecard/issues/1032

[2022-02-24 23:42] laurentsimon commented on #1351
ah, markdown could be useful.. many users try to print to terminal and it does not fit the screen size, etc... which what the intention of removing the table format.

[2022-02-24 23:53] laurentsimon commented on #1655
Another thing to test: does it work with the default `secrets.GITHUB_TOKEN` in a workflow?

[2022-02-25 00:12] laurentsimon commented on #1655
https://github.com/ossf/scorecard/pull/1675 looks great!

Please let us know whether the webhook can be queried via `secrets.GITHUB_TOKEN` or not. If we ask users to use the default token in the future (safer), would it work?

What do folks think about having certain checks not available with certain tokens types?

[2022-02-25 02:48] laurentsimon commented on #1508
@oliverchang @calebbrown

[2022-02-25 07:57] cpanato commented on #1655
yes, and does not work, and I think this is a correct approach, otherwise, I can inspect webhook endpoints and use that for malicious things.

for example, in a repo that I don't have access

[code]

[2022-02-25 15:35] laurentsimon commented on #1655
What sort of malicious things? :-)

[2022-02-25 15:55] cpanato commented on #1655
@laurentsimon i can fetch the endpoint and then use that to do some DDoS attack or other things

[2022-02-25 16:04] azeemshaikh38 commented on #1655
Hmm, I think this is a pretty strong reason to consider adding this check as part of AllStar instead of Scorecard. Scorecard hopes to make the security posture of a repo easily visible and understandable so that OSS consumers can know the risks they are undertaking. [deps.dev](https://deps.dev/go/github.com%2Fkubernetes%2Fkubernetes) is a great example of how someone might consume Scorecard data.

[2022-02-25 16:27] azeemshaikh38 commented on #1351
I'm ok to continue keeping it. Our main reasoning to consider removing this was too many folks complained that the table output was terrible. If someone can fix the formatting and make it nice and clean to read I'm very much onboard with it.

[2022-02-27 15:21] justaugustus opened #1683 "Feature: Create a scorecard API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-27 15:26] justaugustus commented on #1490
Unless there are objections, I'm volunteering as tribute/the Release Manager for socrecard v5 :)
It'll give me an opportunity to think through design and process improvements as we get closer to the release date.

---

From https://github.com/ossf/scorecard/issues/1680#issuecomment-1053587529:

I've created a tracking issue for this and added it to the v5 milestone: https://github.com/ossf/scoreca

[2022-02-27 15:31] naveensrinivasan commented on #1490
+1

[2022-02-27 16:10] azeemshaikh38 commented on #1683
+1.

I would absolutely *love* to have this accomplished in v5. This might require a significant amount of thought and effort though. @justaugustus do you think we can accomplish this by v5 timeline (end of Q2 - early Q3)? If so, a big +1 on this and let us know how we can help contribute here.

[2022-02-27 16:23] justaugustus commented on #1683
For whatever reason, I often prefer to attack a problem by brute-forcing usage, instead of immediately trying to write a design doc (especially if the code is "newer"/has less guarantees/restrictions and doing the work will outstrip the value).

Our closest consumers will help refine the API.

With that in mind, I've already done the following:

- landed a set of refactors to make a few things mor

[2022-02-27 17:40] colek42 commented on #1683
In witness we can simplify the UX around attesting scorecards with a public API.  We are looing forward to this feature.

[2022-02-28 00:08] rio-56 opened #1685 "Feature: Report scores in the Scorecards GitHub Action output"
**Is your feature request related to a problem? Please describe.**
The Scorecards GitHub Action (v1.0.4) doesn't report scores in output.

**Describe the solution you'd like**
I would like to have scores for **all the checks** (including 10/10 and -1/10) reported in output.

**Describe alternatives you've considered**
I use Scorecards CLI to get scores, but I would like to use the Action only, if

[2022-02-28 20:20] #1673 closed

[2022-03-01 17:42] laurentsimon commented on #1655
Please chime in if you have an opinion on this, so that we unblock @cpanato

cc @oliverchang

[2022-03-01 18:00] laurentsimon opened #1690 "BUG: local repo client is broken"
run `go run . --local=. --format json --show-details --checks Branch-Protection | jq .`
[code]

[2022-03-01 18:00] laurentsimon commented on #1690
cc @azeemsgoogle

[2022-03-01 18:06] laurentsimon opened #1691 "BUG: scorecard is broken?"
`go run . --repo=$REPO --format json --show-details --checks Branch-Protection | jq .`

[code]

Note that branch protection does not need the OSS-Fuzz at all

[2022-03-01 18:06] laurentsimon commented on #1691
cc @azeemsgoogle @naveensrinivasan any idea what's going on?

[2022-03-01 18:27] laurentsimon opened #1693 "Command line unit test"
There used to be an issue about this, but I cannot find it. Creating a new one.

[2022-03-01 19:05] laurentsimon commented on #1546
Any update on this? @chrismcgehee any interest? Further opinion?

[2022-03-01 20:17] #1690 closed

[2022-03-01 20:17] #1691 closed

[2022-03-01 23:22] laurentsimon commented on #1320
Assigning to @asraa the part on version not being found. not urgent

[2022-03-01 23:37] asraa commented on #1320
It seems like this is because there's a large number of branches (>30) and the GitHub API making the call to `ListBranches` only returns 30 at a time. I'll see if we can pagify/get all.

[2022-03-01 23:43] asraa commented on #1320
Ah, this was fixed by increasing the `refsToAnalyze`.

Is this a hard-limit? I could also increase this so that it makes another API call to fetch branches if it wasn't found in the first 30.

[2022-03-02 00:22] laurentsimon commented on #1320
I see. @azeemshaikh38 can you chime in? Will this trigger issues with API rate limiting in the weekly cron?

@asraa how to we calculate the "right" number of `refsToAnalyze`? Rule of thumb, or is there some heuristics we use?

[2022-03-02 03:08] chrismcgehee commented on #1546
I agree with Azeem that I'd prefer to leave this code as is. I'm okay if you close this issue.

[2022-03-02 04:59] chrismcgehee opened #1697 "Remove download of unnecessary tarball"
**Describe the bug**
Scorecard downloads the `google/oss-fuzz` repo even though it's unnecessary.

**Reproduction steps**
Steps to reproduce the behavior:
1. Run a single check against a small repo, e.g. `scorecard --repo=chrismcgehee/test-scorecard --checks=Pinned-Dependencies`
2. Notice that it takes a few seconds (or more depending on your internet speed) before it displays `Starting [Pinned-De

[2022-03-02 05:09] azeemshaikh38 commented on #1697
A simpler fix might be to initialize the `oss-fuzz` repo only if the `Fuzzing` check is [enabled](https://github.com/ossf/scorecard/blob/738b246fe97dfc555bb9a082434d85dee4011503/cmd/root.go#L159).  Similar optimization can be done for `ciiClient` too if needed.

[2022-03-02 05:41] azeemshaikh38 commented on #1320
Nice catch! I'm a bit hesitant about increasing `refsToAnalyze` since that'll increase the API cost and we don't know how many branches we'll have to iterate through to get the right ones.

My suggestion would be to update [`ListBranches` API](https://github.com/ossf/scorecard/blob/84cdc8cbec4325bc528f9c3c8904f1b82bd567df/clients/repo_client.go#L33) to take a `ListBranchesOptions{}` struct that co

[2022-03-02 18:21] laurentsimon commented on #1546
ok, thanks for the input. I'll keep the issue open as I'd like to see if it's valuable/feasible to have this info in the RAW results https://github.com/ossf/scorecard/blob/main/pkg/json_raw_results.go

Any concerns about having the info the raw results?

[2022-03-02 21:50] justaugustus commented on #1697
Agreed. Overall I'd like to refactor the clients, but if someone beats me to it, have at it!

[2022-03-03 01:06] #1685 closed

[2022-03-03 03:33] chrismcgehee commented on #1546
No concerns from me.

[2022-03-03 03:37] chrismcgehee commented on #1697
With this approach, the performance gain would only be achieved a small portion of the time. I'd like to do a slightly more complicated fix so that we get the performance gain every time.

[2022-03-03 03:53] azeemshaikh38 commented on #1697
In that case how about updating [`tarbalHandler.init()`](https://github.com/ossf/scorecard/blob/4904b317ac0f74b69590a60f8e278c791ec3bae0/clients/githubrepo/tarball.go#L72) to not download/extract the tarball by default. We do a one time `setup()` only if there is a call to either `listFiles()` or `getFileContent()` (see [graphqlHandler for example](https://github.com/ossf/scorecard/blob/main/clien

[2022-03-03 04:30] chrismcgehee commented on #1697
I like it. I'll go with that approach.

[2022-03-03 11:50] vijay1580 opened #1706 "Feature: Is there a way to check score based on rick levels"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-03 11:54] vijay1580 commented on #1706
Is there a way to get score based on risk levels. (HIGH, MEDIUM, and LOW)

ex: scorecard --repo=https://github.com/name/reponame --checks Branch-Protection --show-details for HIGH only

[2022-03-03 17:35] asraa commented on #1320
I think I can work with that! Given that we only want the release and default branches for branch protection, I can plumb that in through setup to create the query for those branch names.

[2022-03-03 18:04] #1543 closed

[2022-03-03 21:07] naveensrinivasan opened #1707 "Extend Vulnerabilities check with https://github.com/github/advisory-database"
**Is your feature request related to a problem? Please describe.**
Scorecard does vulnerability scan with osv.dev. Recently GitHub OSS their Vulns https://github.com/github/advisory-database. It would be nice if scorecard can check with this DB for reporting any issues.

[2022-03-03 21:07] naveensrinivasan commented on #1707
Related https://github.com/G-Rath/osv-detector/issues/3

[2022-03-04 05:14] azeemshaikh38 opened #1709 "Feature: use `go-git`"
Proposing that we use [`go-git`](https://pkg.go.dev/github.com/go-git/go-git/v5@v5.4.2#section-readme) for powering `RepoClient` APIs that require git-like features. Some advantages I see of using this:

- A common implementation for `ListFiles`, `GetFileContent`, `ListCommits` and `Search` that can be used across any Git-like system (GitHub, GitLab or even local git repos).
- Enables us to add su

[2022-03-04 05:20] azeemshaikh38 commented on #982
@justaugustus would the work that you are doing on #1677 make it feasible to generate automated release notes?

[2022-03-04 10:54] naveensrinivasan commented on #1709
👍

[2022-03-04 14:59] azeemshaikh38 opened #1710 "Breakages due to #1695"
I'm running with the latest main code, and I think this is causing an error for me:
[code]

_Originally posted by @chrismcgehee in https://github.com/ossf/scorecard/pull/1695#discussion_r819238713_

[2022-03-04 15:29] naveensrinivasan commented on #1710
We should add this as an e2e tests.

[2022-03-04 18:13] justaugustus commented on #1709
@azeemshaikh38 -- What would you say is the primary motivation for `go-git` vs `go-github`?

Is it:

Are you thinking something like this?

[code]

---

Suggested in https://github.com/ossf/scorecard/issues/1491#issuecomment-1018192893:

[2022-03-04 18:53] azeemshaikh38 commented on #1709
Not really `go-git` vs. `go-github`, but rather using `go-git` vs. our custom logic for handling git data. Something along these lines:

[code]

The implementations can *choose* to use these if they prefer, but its not enforced at the code-level.

[2022-03-04 18:55] laurentsimon commented on #1709
no concerns on my side, looks like a good idea, so long it's well maintained (both seem to be the case)

[2022-03-04 19:25] azeemshaikh38 commented on #1709
Could you expand on that? What's the usecase for making this an interface? Note that there is no caller which passes `Git` to a callee (the usual pattern for needing an interface).

Did you mean something like this?

[code]

[2022-03-04 19:25] justaugustus commented on #1683
That's awesome, @colek42!
Could you say more about what specifically would be helpful to have exposed?

[2022-03-04 19:49] justaugustus commented on #1709
@azeemshaikh38 -- Just as an example, consider functional options:

[code]

^^ in the above, any type that satisfies the `Git` interface can now also take advantage of `WithTransport()`

Concrete example:
- `Store` interface: https://github.com/kubernetes-sigs/release-sdk/blob/main/object/store.go
- `GCS` struct, which satisfies `Store`: https://github.com/kubernetes-sigs/release-sdk/blob/main/obj

[2022-03-04 19:56] colek42 commented on #1683
We would want to embed the scorecard into an attestor so the user would not have to maintain it is a separate tool.

[2022-03-04 20:15] justaugustus commented on #1683
@colek42 -- Given https://github.com/testifysec/witness is cobra, this is maybe useful --> https://github.com/ossf/scorecard/pull/1696
Example of what I'm working on in `scorecard-action` to wrap/remix the scorecard `cobra.Command`: https://github.com/justaugustus/scorecard-action/blob/5a922336081787b82a6cbf4018780ce4a1a15fa8/entrypoint/entrypoint.go#L29-L112 / https://github.com/ossf/scorecard-ac

[2022-03-04 20:29] azeemshaikh38 commented on #1709
I kind of see what you are driving at. Let me start coding this up, it'll probably help me untangle this.

[2022-03-07 16:21] laurentsimon commented on #1710
Let me dig into this today. In the meantime, comment out those 3 lines if it's causing problems https://github.com/ossf/scorecard/blob/main/clients/githubrepo/graphql.go#L217-L219

[2022-03-07 16:52] #1697 closed

[2022-03-07 19:47] stm9 opened #1715 "openssf:scorecardcron.scorecard-v2 dataset missing in bigquery-public-data"
**Describe the bug**
Openssf:scorecardcron.scorecard-v2 is not accessible or missing in GCP BigQuery public datasets.

**Reproduction steps**
Steps to reproduce the behavior:
1. Login to http://console.cloud.google.com/bigquery
2. Search for Openssf:scorecardcron.scorecard-v2

**Expected behavior**
Openssf:scorecardcron.scorecard-v2 should be accessible via http://console.cloud.google.com/bigquery

[2022-03-07 20:39] azeemshaikh38 commented on #1715
@stm9 I'm not sure how the `search` bar feature works in BigQuery UI. But if you were to click on the `Add Data` button in the bigquery Explorer and add the `openssf` project, you'll be able to see and explore `scorecard-v2` data.

Let me know if that helps.

[2022-03-07 21:16] laurentsimon commented on #1655
friendly ping if you have opinion.

[2022-03-07 21:25] #1710 closed

[2022-03-07 21:26] stm9 commented on #1715
Hi Azeem. Thank you for quick reply. It seems however that the gcp project is not accessible to all users.

[2022-03-07 21:27] jeffmendoza commented on #1655
Agree with this, I think it makes sense.

[2022-03-08 04:00] chrismcgehee commented on #1507
@laurentsimon is it just the ossf dashboard that is going to be deprecated, or is it the API as well? I would prefer to use the API over GitHub + links.

[2022-03-08 15:44] #1715 closed

[2022-03-08 16:58] azeemshaikh38 commented on #1507
I'm confused, I thought we were discussing API for security-review. How is Scorecard API related here?

[2022-03-10 22:08] laurentsimon commented on #1655
we've discussed this in the by-weekly call. There was consensus there is a use case for this, and
1. we need to be careful around UX (failing early if we can when if the token does not have the right permissions)
2. confidentiality of data (GitHub action should not have it turned on by default unless users want)
3.  documentation: explain permission need for each check (of buckets of checks)

@cpa

[2022-03-10 23:12] naveensrinivasan commented on #1655
I have a suggestion instead of `WEBHOOK_ENABLE=1` can we rather have something like `SCORECARD_EXPERIMENTAL=1` similar to `COSIGN_EXPERIMENTAL=1`? This will make it easier to test newer features in the future.

[2022-03-10 23:17] justaugustus commented on #1655
+1 to this, as I mentioned in the today's meeting.
Having the env vars namespaced with `SCORECARD_` also means can filter for them and they're less likely to collide with other programs.

[2022-03-10 23:43] laurentsimon commented on #1655
+1 to have the env start with `SCORECARD_`. `
I think it's better to have `SCORECARD_XX` or `SCORECARD_EXPERIMENTAL_XX` with `XX` being the feature, otherwise they all fall under the same env variable and we cannot turn one of them on and the others off

[2022-03-10 23:49] naveensrinivasan commented on #1655
👍

[2022-03-11 00:44] justaugustus commented on #1024
@singhsaurabh offered to take this up (ref: https://openssf.slack.com/archives/C0235AR8N2C/p1646951039408139)

[2022-03-11 01:09] laurentsimon commented on #1024
Awesome, thanks @singhsaurabh

[2022-03-11 10:41] singhsaurabh commented on #1024
Thank you @justaugustus  @laurentsimon
Regards,

[2022-03-11 13:58] cpanato commented on #1655
@laurentsimon i will finish this over the weekend, thanks for all the reviews and feedback

[2022-03-11 15:55] #1568 closed

[2022-03-11 15:56] naveensrinivasan opened #1725 "BUG - Upgrade to buildkit 0.10.0 fails because of Unit test failures"
**Describe the bug**
BUG -  Upgrade to buildkit 0.10.0 fails because of Unit test failures

https://github.com/ossf/scorecard/pull/1722

[code]

[2022-03-12 14:43] artem-smotrakov opened #1726 "Feature: Dependency-Update-Tool should check whether tools are available"
`Dependency-Update-Tool ` checks if a project uses Dependabot or Renovate bot. Although these tools support many languages and ecosystems, there are cases they don't support, for example, C/C++ projects. For such projects, it is often not feasible to set up a tool for automated dependency updates. This is related to #74.

For example, `Dependency-Update-Tool` reports `0 / 10` for [CuraEngine](http

[2022-03-12 14:46] artem-smotrakov commented on #1726
These docs list languages/ecosystems that Dependabot and Renovatebot support:

* https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-version-updates#supported-repositories-and-ecosystems
* https://docs.renovatebot.com/modules/manager/

[2022-03-12 16:15] naveensrinivasan opened #1727 "Enhancement proposal process"
**Is your feature request related to a problem? Please describe.**
In the bi-weekly meeting, it was discussed that Scorecard/OSSF come up with an Enhancement proposal process.

It would avoid surprises when a large feature lands as a PR.

[2022-03-12 16:17] naveensrinivasan commented on #1727
@justaugustus I am assigning this to you as you have done similar with KEP.

[2022-03-13 16:04] naveensrinivasan opened #1729 "Scorecard - GitHub bot account"
**Is your feature request related to a problem? Please describe.**
In the process of automating scorecard-actions `e2e` testing a GitHub `token` is needed for creating issues on the scorecard-actions repo when these actions fail.

These actions run on a `cron-job`. Here is an example https://github.com/ossf-tests/scorecard-action-non-main-branch/tree/other

I am using my own personal token to run

[2022-03-16 14:20] singhsaurabh commented on #1024
Hi @justaugustus I would like to know more about this issue.
Kindly let me know if we can huddle for sometime to understand the background of the issue.
Thank You

[2022-03-16 15:55] naveensrinivasan opened #1736 "Feature - Upgrade to go 1.18"
**Is your feature request related to a problem? Please describe.**
Upgrade to go https://go.dev/doc/go1.18

[2022-03-16 18:30] laurentsimon commented on #1729
DO you have documentation links about GitHub bot accounts, how to create them, etc?

[2022-03-16 19:08] laurentsimon commented on #1597
Is there any update on this thread?

[2022-03-16 19:11] laurentsimon commented on #1706
Thanks for the issue, and sorry for the late reply!

Unfortunately today there is no way to filter results by score. But this sounds like a useful feature to have!

Our current implementation assigns checks a risk, and we don't distinguish between scores. However, we have this on our roadmap for this year. Probably Q4, though.

There's a similar issue https://github.com/ossf/scorecard/issues/1321

[2022-03-16 19:40] naveensrinivasan commented on #1729
It is nothing but another GitHub account. The management of that account is the issue, who has the passwords for the account. Then the management of the keys that the account generates for automation etc.

@justaugustus Any thoughts on this?

[2022-03-16 20:20] naveensrinivasan commented on #1218
https://github.com/ossf/scorecard-action/pull/142

[2022-03-16 20:20] naveensrinivasan commented on #1218
With this https://github.com/ossf/scorecard-action/pull/142 e2e are implemented.

[2022-03-16 20:20] #1218 closed

[2022-03-16 20:57] laurentsimon opened #1738 "Add support for orgs in the cron scans"
Instead of only allowing repo entries, we should allow org entries in https://github.com/ossf/scorecard/blob/main/cron/data/projects.csv

[2022-03-16 21:20] #575 closed

[2022-03-16 21:31] laurentsimon commented on #1738
pasting @azeemsgoogle 's: Another improvement I would say is to record older commit data along with the latest one. It'll improve the granularity of the data we have

[2022-03-16 21:38] laurentsimon commented on #1024
There are 2 sides:
1. At the time we created the issue, we fetched the company's name from a field that users can update arbitrarily. So for example, I uses could set "Google" even though they were not part of the Google org. I'm not 100% sure whether the current codebase has the same problem or not. You nee to check and see if you can forge these result
2. We don't enforce a number of companies p

[2022-03-16 23:37] laurentsimon commented on #1655
SG, just ping me on the PR when you need a review

[2022-03-17 01:45] laurentsimon opened #1740 "BUG: need token for local repo"
[code]

cc @azeemsgoogle @naveensrinivasan we really need this case covered by unit tests. It happened 2 weeks ago as well

[2022-03-17 07:46] cpanato commented on #1655
@laurentsimon just to give some status, i'm a bit busy with company work, but I'm planning to finish asap, my deadline is early next week

[2022-03-17 17:03] laurentsimon commented on #1740
Thanks Naveen!

[2022-03-17 17:22] naveensrinivasan commented on #1693
https://github.com/ossf/scorecard/issues/1740

[2022-03-17 18:50] naveensrinivasan commented on #1740
@laurentsimon I can't seem to recreate this issue on the a496d8c which is the `main` at the moment.

`SCORECARD_V6=1 go run . --local=.  --format raw --show-details | jq .`

Can you please provide the steps to recreate this?

[2022-03-17 20:09] laurentsimon commented on #1740
do you have a `GITHUB_AUTH_TOKEN` var defined in your env? The above triggered only when not set

[2022-03-17 22:51] naveensrinivasan opened #1746 "Feature - Checks supported by different clients"
# Checks supported by different clients

At the moment `scorecard` has `2` clients that implement the [RepoClient](https://github.com/ossf/scorecard/blob/6930c3ab3b715808a0d28d383c73b151bb495fe2/clients/repo_client.go).

1. Localdir - https://github.com/ossf/scorecard/blob/6930c3ab3b715808a0d28d383c73b151bb495fe2/clients/localdir/client.go
2. GitHub - https://github.com/ossf/scorecard/blob/6930c3a

[2022-03-17 22:52] naveensrinivasan commented on #1746
cc @laurentsimon @azeemshaikh38

[2022-03-18 00:56] justaugustus commented on #1729
@strawberry-baked-alaska @brianbehlendorf -- Can you look into [1password for open source teams](https://github.com/1Password/1password-teams-open-source) for @ossf/scorecard-admins?

I know CNCF (cc: @caniszczyk @amye) provides this and can be requested via CNCF Service Desk (I have a few vaults for Kubernetes SIG Release).

w.r.t. bots, ideally this is eventually a GitHub App (with real boteynes

[2022-03-18 00:59] justaugustus commented on #1729
My really rough cut of bot guidelines:
- identifiable name
- strong password (stored in a cred vault)
- 2FA enabled to hardware key (recovery codes stored in a cred vault)
- tightly-scoped PATs per purpose

[2022-03-18 14:11] jorydotcom commented on #1729
we're on it!

[2022-03-18 14:12] naveensrinivasan commented on #1074
Closing this as we have been already using it.

[2022-03-18 14:12] #1074 closed

[2022-03-18 14:24] naveensrinivasan commented on #1729
Great! Thanks

[2022-03-18 15:30] naveensrinivasan commented on #1196
https://github.com/ossf/scorecard/pull/1750

[2022-03-18 16:49] laurentsimon commented on #1729
just to clarify: the only permission is to be able to create issues, correct? And there's no dangerous permissions needed to do that, any PAT can do it. Is that correct?

[2022-03-18 18:03] naveensrinivasan commented on #1729
The bot can be extended for all the things like merging code, create issues, run e2e test etc.

At the moment it is only for creating issues and run e2e.

[2022-03-18 18:21] laurentsimon commented on #1729
everything *but* merging code requires no dangerous permissions w.r.t the scorecard repo itself. I think what I was trying to gauge is how sensitive this bot account it. My understanding of "merging code" here is that it needs to bypass branch protection. It'd be nice to avoid doing this if we can

[2022-03-18 18:42] naveensrinivasan commented on #1729
I understand your concern. Merging code isn't required now. But when we plan for something like this it is good to plan for the long term.  The projects like `k8s`, `k8ssigs`, and other large GitHub repositories use `bot` to merge code. So we aren't going to be the first one.

Also `merging code` shouldn't require "bypass branch" protection. Have you read this anywhere? If so can you please point

[2022-03-18 19:06] laurentsimon commented on #1729
auto merging requires adding a review automatically. (added this to the auto-merge PR https://github.com/ossf/scorecard/pull/1749)

It also commented that we should explore "batched" dependabot PR, like once a week or something, which would avoid having an auto-merge feature

[2022-03-18 20:44] Dentrax opened #1752 "BUG: Security-Policy throws internal error if `--local .` passed"
**Describe the bug**
`$ scorecard --local .` throws `input repo should be of type repoURL` error.

**Reproduction steps**
Steps to reproduce the behavior:
1. `$ git clone github.com/chainguard-dev/apko`
2. `$ scorecard --local .`
3. See: `internal error: input repo should be of type repoURL: <nil>`

**Expected behavior**
We should not print out `Security-Policy` section in case we don't pass `--re

[2022-03-18 20:46] Dentrax opened #1753 "BUG: macOS: brew: `scorecard version` prints `unknown`"
**Describe the bug**
[code]

**Reproduction steps**
Steps to reproduce the behavior:
1. `$ brew install scorecard`
2. `$ scorecard version`
3. See the `unknown` fields.

**Expected behavior**
It should print the correct version.

**Additional context**
`-`

[2022-03-18 20:52] justaugustus commented on #1729
Thanks Jory!!

---

I'll drop a few thoughts on things I'd like to see/have seen...

### Multiple roles for a bot

We have multiple bots in Kubernetes orgs.
Most/all of them are user accounts; most/all run do their tasks with as few privileges on the org as possible:

[code]

ref: https://github.com/kubernetes/org/blob/7b31d6ee782c82f5b44ec27600898271c292dbb4/config/kubernetes/org.yaml#L1425-L1434

[2022-03-19 02:31] laurentsimon commented on #1752
cc @naveensrinivasan

[2022-03-19 02:34] laurentsimon commented on #1753
this happens when the `ldflags` are not set properly during compilation. We don't own the brew installation, AFAIK. The brew formula is done by someone else.

@naveensrinivasan remember who is in charge of it?

[2022-03-19 03:24] naveensrinivasan commented on #1753
AFAIK it is maintained by the community.

[2022-03-19 03:25] naveensrinivasan commented on #1752
Thanks, @Dentrax!

[2022-03-19 05:31] laurentsimon commented on #1729
Human approval may also include taking a peek at the PR.
Any thoughts on combining dependabot PRs thru `git pull origin branch1 branch2`, to create a batched PR?
I've tested this idea in tests https://github.com/laurentsimon/scorecard-action-test-2/pull/19
The (draft) script https://github.com/laurentsimon/scorecard-action-test-2/blob/main/.github/workflows/combine-prs.yml iterates thru PRs, check

[2022-03-19 05:44] godofredoc opened #1754 "Feature: relaxing npm pin validation to versions rather than hashes"
**Is your feature request related to a problem? Please describe.**
The only way to pin npm dependencies by hash is using the github repo. Installation of complex dependencies like `npm install -g firebase/firebase-tools#23dc81fd065f4cfaa172cff535cafdd9a8c11c23` require the manual installation of multiple other packages and tools making either infeasible or difficult to maintain.

**Describe the so

[2022-03-19 11:20] naveensrinivasan commented on #1729
Lots of information to read go down the rabbit hole 👍

[2022-03-21 15:47] laurentsimon commented on #1729
@[rarkins](https://github.com/rarkins) any plans to support batched pull requests in renovatebot? I found https://github.com/renovatebot/renovate/issues/4404#issuecomment-858554871 IIDC, this would allow us to batch PRs on a schedule?

[2022-03-21 18:53] laurentsimon commented on #1754
Thanks for the issue. I agree the doc is spare how to achieve hash pinning. (we have a best security npm practice doc on the way with OSSF).

**Some context**: npm versions are immutable _but_ it's enforced by npm registry, not the manifest. Since it's not too difficult to have hash pinning and the tooling exists, it's feasible to get the npm registry our of the TCB.

**Installation**
Using `npm i

[2022-03-22 23:18] laurentsimon opened #1770 "BUG: don't warn if default GH token is used in pull request"
Don't warn if the default GITHUB_TOKEN is used in pull requests:
- for pull_requests, the permissions are read only
- for pull_request_target, we use other signals to infer whether it's dangerous or not

Here's an example https://github.com/actions-runner-controller/actions-runner-controller/blob/master/.github/workflows/runners.yml#L53 that should not trigger a warning

[2022-03-22 23:23] laurentsimon opened #1771 "BUG: dangerous workflow alerts when code is not run"
The dangerous workflow alerts when a secret is used in a pull request. If the untrusted code is not run (e.g., https://github.com/actions-runner-controller/actions-runner-controller/blob/master/.github/workflows/runners.yml#L51) we still create an alert but it's a false positive.

Example: https://github.com/actions-runner-controller/actions-runner-controller/blob/master/.github/workflows/runners.

[2022-03-23 14:53] calebdoxsey opened #1773 "Feature: Pinned-Dependencies digest hashes don't make sense for multi-platform docker images"
**Is your feature request related to a problem? Please describe.**
Dockerfiles allow you to pin the `FROM` using a digest hash:

[code]

This digest is however platform specific:

![Screen Shot 2022-03-23 at 8 48 41 AM](https://user-images.githubusercontent.com/395272/159727103-ec79aab7-f6b5-46f5-9ccd-79807ba926ce.png)

Therefore any project which wants to release or use multi-platform docker imag

[2022-03-23 15:20] naveensrinivasan opened #1774 "Fix the protobuf GitHub Action failures"
All my PRs are failing with:
[code]

_Originally posted by @laurentsimon in https://github.com/ossf/scorecard/issues/1772#issuecomment-1075808052_

[2022-03-23 17:49] laurentsimon commented on #1773
Can you use a template to do that? We accept `FROM image@sha256:$(ARG)` (I forgot the exact convention for variable names)

[2022-03-23 18:35] laurentsimon commented on #1773
cc @loosebazooka @lumjjb any thoughts?

[2022-03-23 18:42] loosebazooka commented on #1773
I don't see why multiplatform images can't be referenced by the hash of the manifest list?

[2022-03-23 18:48] loosebazooka commented on #1773
for example to obtain the manifest list digest
[code]
[code]

[2022-03-23 19:01] calebdoxsey commented on #1773
@loosebazooka this does seem to work. It builds fine on my m1 mac. Thanks!

[2022-03-23 19:03] loosebazooka commented on #1773
I don't know if depandabot/renovate bot actually know how to keep these up to date though, be curious to see what happens

[2022-03-23 21:25] jonathanmetzman opened #1775 "BUG: Scorecard does not allow ELF files even when they are testcases and not-executable"
**Describe the bug**
Some projects need ELF files for purposes other than running code.
For example, AFL contains ELF files that are example testcases that have crashed the `strings` program.
I imagine binary analysis tools have the same problem.
However, allstar complains about these files even if they are marked non-executable.

**Reproduction steps**
See example: https://github.com/google/AFL/i

[2022-03-23 21:25] jonathanmetzman commented on #1775
CC @laurentsimon

[2022-03-23 23:37] #1770 closed

[2022-03-24 04:56] godofredoc commented on #1754
Thank you for the explanation the only additional thing that I needed to add is the local modules .bin folder to the path where we are expecting to run the binaries from the `npm ci` installation.

[code]

[2022-03-24 05:24] godofredoc commented on #1597
I finished implementing the python script part.  Here is the PR:

https://github.com/flutter/engine/pull/32135

I'll send the validation of pinned dependencies to scorecard the next week.

[2022-03-24 15:41] naveensrinivasan commented on #1597
Is it going to be in python? We can't run Python.

[2022-03-24 15:48] laurentsimon commented on #1754
Great, can you link to the PR? I'll add this to the npm best practice doc for additional details.
So `npm ci` does not understand the `-g` flag, that's why you need to set this extra `PATH`?

[2022-03-24 16:03] godofredoc commented on #1597
The parser step in the actions workflow will generate a file called "deps_flatten.txt" and from scorecards side I was planning to just scan for deps_flatten.txt files and then run all the pinning analysis and report extending one of the existing pin checks.

Would that work or do you mean that it is not recommended to run python as part of the scorecards github actions workflow in the target repos

[2022-03-24 16:08] godofredoc commented on #1754
That is correct, the version of npm I experimented with didn't support the -g flag and I had to extend `PATH` to be able to execute the firebase binary without the full path.

This is the PR https://github.com/flutter/website/pull/6957/. I'll report back once it has been fully validated.

[2022-03-24 16:19] laurentsimon opened #1776 "Feature: New check for SLSA provenance generation"
This check may replace the `Signed-Release` checks and verify that the releases generate SLSA provenance using the official builders from https://github.com/slsa-framework/slsa. We can:
1. Verify the presence of `.intoto.jsonl` file
2. Verify a workflow exists calling an official action
3. Verify the signature by calling the API exposed by https://github.com/slsa-framework/slsa

This should allow

[2022-03-24 16:25] azeemshaikh38 commented on #1776
Sounds like a good idea to me. Maybe expand the `Signed-Release` check to include this? The updated check could verify various methods which ensure release integrity - GitHub signatures, cosign signatures, the SLSA workflow etc?

[2022-03-24 16:36] naveensrinivasan commented on #1597
Sorry, this is still not clear. Is `actions workflow` scorecard actions?

Do you want to run Python as part of scorecard actions?

Probably a design document/diagram can help visualize and clarify the understanding.

[2022-03-24 16:42] laurentsimon commented on #1754
Brilliant, thanks! BTW, I think your PR lacks the wrapper's manifest and lock files

[2022-03-24 16:49] laurentsimon commented on #1773
Maybe I'm misunderstanding the original question: but was the question around dockerfiles rather than the resulting manifest?

[2022-03-24 16:57] naveensrinivasan commented on #1776
This is great! 👍

[2022-03-24 16:58] azeemshaikh38 commented on #1776
Sure, not tied to the `Signed-Release` name at all. To confirm are you saying that if users sign their release (let's say with cosign), we should complain that it's not enough and instead drive them towards building provenance?

I was thinking the new check will encompass all schemes - provenance but also signatures.

[2022-03-24 17:00] godofredoc commented on #1754
Turns out the files were already there but not being used:

* https://github.com/flutter/website/blob/main/package.json
* https://github.com/flutter/website/blob/main/package-lock.json

[2022-03-24 17:22] laurentsimon commented on #1776
yes, so long as there is tooling to achieve it.

provenance also contains a signature that covers the binary and additional information (builder ID, commands, etc), so it does encompasses the signature.

[2022-03-24 17:57] calebdoxsey commented on #1773
@laurentsimon Yes in the original question I was unsure how best to pin dependencies when using multi-platform images since I thought the digest hash was platform-specific.

But as it turns out theres a digest hash which is not platform-specific, and using that works just fine for `docker build`. We could probably close this issue unless it'd be worthwhile adding a note to the docs.

[2022-03-24 18:18] laurentsimon commented on #1773
ah, I see. So there's a digest that contains all the other images in once, you mean? I'd like to add this to the documentation of our check for the remediation part. Mind drafting a sentence or 2 that we could add in our doc for other users to benefit from? You can send a PR or just paste it here if you prefer.

[2022-03-24 18:29] loosebazooka commented on #1773
can you link to the docs?

[2022-03-24 18:30] laurentsimon opened #1777 "BUG: Code-Review does not understand un-squashed commits"
The Code-Review check counts all the commits in a PR if they are merged un-squashed. So there are situations where we only look at a few commits - rather than 30.  In general, we need to fix the repo client's `ListCommit()` function.

Need some discussion how to solved this.

[2022-03-24 19:37] godofredoc commented on #1597
Using https://github.com/flutter/engine/pull/32135 as an example [.github/workflows/scorecards-analysis.yml](https://github.com/flutter/engine/pull/32135/files#diff-43563750699358bcd52e44e9a2700c2e4e9b27512b60dd60c204c4007d3764a9) is the workflow that will be running the python script to generate the `deps_flatten.txt` in the local checkout before the scorecard actions run.

No, python will run as

[2022-03-24 19:45] naveensrinivasan commented on #1597
Sounds good. Thanks. Is there any work that would be required from the scorecard project with respect to this?

[2022-03-24 20:16] godofredoc commented on #1597
I believe only code reviews will be needed, I'm planning to send the PR.

[2022-03-24 21:26] laurentsimon opened #1779 "Feature: add e2e tests for webhook check"
See title

[2022-03-25 00:00] laurentsimon opened #1781 "Feature: rename fields of raw results"
The current implementation used fields as `some-field`, let's rename to `someField`.
Fyi, BQ does not accept `-` in name.

[2022-03-25 00:36] laurentsimon commented on #1774
any ideas why this is happening?

[2022-03-25 01:18] naveensrinivasan commented on #1774
No idea! I wish there was an easy answer!

[2022-03-25 16:55] laurentsimon opened #1783 "BUG: code review bypass via commits to local branches"
Steps:
1. Dependabot publishes a change.
2. Maintainer edits that change to do whatever they want
3. Maintainer approves it
4. Maintainer merges it.

Let's try to verify that the approver != from all commits in the PR. In the config, branch protection is not enabled thru `*`, I think.

[2022-03-25 19:19] laurentsimon commented on #1783
another bypass I found:
1. Create a PR
2. Click merge

The PR is considered reviewed.

Scorecard has this code https://github.com/ossf/scorecard/blob/main/checks/evaluation/code_review.go#L138 that accepts these because the committer is always "github". graphql has a field to know who clicked "auto-merge" this PR.

[2022-03-28 16:48] laurentsimon commented on #1754
Closing this bug. Thanks @[godofredoc](https://github.com/godofredoc) for the report. Feel free to re-open if you think it needs further input from us. Thanks!

[2022-03-28 16:48] #1754 closed

[2022-03-29 01:02] laurentsimon commented on #1726
Thanks for the report, and sorry for the late reply.. I've missed your issue!

What you suggest seems like a reasonable thing to do. The only drawback is that the check won't be accessible for local repositories - since it now needs an API call; but I think that's fine. We could try to list files and look for extensions.. but that sounds like a a lot of work and prone to errors.

I think it's fine

[2022-03-29 03:06] chrismcgehee commented on #1507
Based on [this comment](https://github.com/ossf/security-reviews/issues/58#issuecomment-1062625476) by Scott, it doesn't sound like the new SCIM data store will be available anytime soon. I'm going to unassign myself from this since we don't have a stable API to build on top of and since I'm in the process of moving. I won't have much time to work for the next couple months.

[2022-03-30 10:14] ragav24 opened #1799 "Scanning feature branches"
**Is your feature request related to a problem? Please describe.**
When i run the scan using cli scorecard --repo=github.com/ossf-tests/scorecard-check-branch-protection-e2e, by default it scans the default branch.

Would like to run it in different branch for same repo.

**Describe the solution you'd like**
Add --branch=newBranch to run it any branch

**Describe alternatives you've considered**
N

[2022-03-30 14:57] azeemshaikh38 commented on #1774
Let me know if the failures are still going on. Hopefully, #1797 fixed this.

[2022-03-30 15:39] #881 closed

[2022-03-30 15:48] azeemshaikh38 commented on #1799
We do not plan to support scanning feature branches since many GitHub APIs we rely on, only work for the default branch.

If you want to run Scorecard on a non-default branch, the recommendation is to check out the feature branch locally and run:

[code]

We are working on further improving this support in #1709.

[2022-03-30 15:48] #1799 closed

[2022-03-30 16:01] laurentsimon commented on #1783
yep that's also what I had in mind. Seems doable; it may increase rate limiting usage, but we'll see.

[2022-03-30 16:57] azeemshaikh38 commented on #1783
Yeah, good thing is we have tests that will tell us by how much the API usage will go up. Would be good to get this fixed soon. Do you want to take this on or keep this open for someone else?

[2022-03-30 19:03] azeemshaikh38 commented on #1753
I have opened https://github.com/Homebrew/homebrew-core/pull/98177 to get this fixed. Let's see how that goes.

[2022-03-30 19:08] azeemshaikh38 commented on #1783
I can take this on to reduce some of your load.

[2022-03-30 20:26] laurentsimon commented on #1783
SG, it's a fun (and important) one!

[2022-03-30 20:38] naveensrinivasan commented on #1753
Thank you!

[2022-03-30 21:11] naveensrinivasan commented on #1774
@azeemshaikh38  https://github.com/ossf/scorecard/runs/5761442359?check_suite_focus=true still happening 😞

[2022-03-31 09:06] georgettica commented on #897
I wanted to also not that `go1.18` has fuzzing out of the box. didn't know if it should be included in this issue or a different one

[2022-03-31 14:30] #1655 closed

[2022-03-31 17:14] azeemshaikh38 commented on #1753
This is now fixed. Reinstall Scorecard using `brew` to check.

[2022-03-31 17:14] #1753 closed

[2022-03-31 18:43] laurentsimon commented on #897
I think it fits in this issue. If you know how to check for its use (there's a command for it?) please let us know. Feel free to send. aPR if you have time for it. Thanks!

[2022-03-31 20:17] georgettica commented on #897
I think oss-fuzz integrates with the native fizzing, but not sure how exactly.
Worth checking unrelated to my investigation

[2022-04-01 22:50] Alan-Jowett opened #1807 "ossf/scorecard should detect unpinned dependencies via chocolatey installer"
**Is your feature request related to a problem? Please describe.**
ossf/scorecard should detect unpinned dependencies via chocolatey installer.

**Describe the solution you'd like**
ossf/scorecard should detect unpinned dependencies via chocolatey installer.

**Describe alternatives you've considered**
None.

**Additional context**
Example:
[code]

This should detect an unpinned dependency.

I thi

[2022-04-01 23:13] gossts commented on #1807
Great, thanks.

So the code to update is https://github.com/ossf/scorecard/blob/main/checks/shell_download_validate.go#L632
There are calls to `isPipUnpinnedDownload()`, `isGoUnpinnedDownload()`, etc you can take as example (called in the same function).

These functions are called from https://github.com/ossf/scorecard/blob/main/checks/pinned_dependencies.go, but you don't need to change these.

[2022-04-01 23:15] Alan-Jowett commented on #1807
Thanks for the pointers, I will take a stab at fixing this.

[2022-04-03 02:41] #1528 closed

[2022-04-04 18:34] jeffmendoza opened #1815 "Binary Artifacts should allow well-known artifacts, if best practices are followed"
**Is your feature request related to a problem? Please describe.**

This is the intended use of this jar

https://github.com/marketplace/actions/gradle-wrapper-validation
https://docs.gradle.org/current/userguide/gradle_wrapper.html#wrapper_checksum_verification

**Describe the solution you'd like**
Binary artifacts knows about gradle-wrapper.jar and allows it if the repo has the Wrapper Validatio

[2022-04-04 23:15] laurentsimon commented on #897
We need to look for the `--fuzz` command in the workflow https://go.dev/doc/fuzz/. The assumption is that the command is used directly in the workflow, and not in a script that's invoked via the workflow. We can start simple and then iterate, though

[2022-04-05 12:07] noamd-legit opened #1817 "add 'workflow_run' as dangerous trigger"
**Is your feature request related to a problem? Please describe.**
Scorecard checks: 'unsafe checkout' and 'secrets used in dangerous workflows' test only for the 'pull_request_target' trigger.
'workflow_run' trigger suffers from the same security issues as 'pull_request_target' and should be detected as well.

**Describe the solution you'd like**
Add detection for the 'workflow_run' trigger when

[2022-04-05 12:37] noamd-legit commented on #1817
Suggested implementation: https://github.com/ossf/scorecard/pull/1818

[2022-04-05 16:24] azeemshaikh38 commented on #897
@georgettica @laurentsimon could we start with checking for `*_test.go` files in the repository which contain functions matching the regex `func Fuzz* (* \*testing.F)` ? Would that be a good start for adding this support?

[2022-04-05 16:48] georgettica commented on #897
I think `go test -fuzz` takes any string and it's convention to use the prefix Fuzz
Not that I am opposed to the ideas, but letting you know it's based on convention rather than validation

[2022-04-05 16:58] azeemshaikh38 commented on #897
https://go.dev/doc/fuzz/ mentions this as a requirement. But maybe this is not a hard requirement?

![image](https://user-images.githubusercontent.com/4825078/161808658-1f1bf4b8-39bc-488b-a5df-3bbfde337035.png)

[2022-04-05 17:05] georgettica commented on #897
yeah, same (verified aswell)
expected the `og test -fuzz=Bar` to at least. warn me

[2022-04-05 17:34] laurentsimon commented on #897
I think it's fair to start with the regex @azeemshaikh38 provided. The warning is something Go team should fix, rather than us, no? Note that a while back, we were contemplating having a `Unit-Test` checks (or part of an existing check) so the work you're doing could be useful in this context too.

[2022-04-05 18:23] georgettica commented on #897
Yup, it's a go team thing. Noting it here as I didn't start the conversation there

[2022-04-06 05:52] oliverchang commented on #897
If we are extending the Fuzzing check to include looking for fuzzer definitions for Go (which I think is a good idea!), we should also extend this to other languages, which all have a consistent way to do this that we can detect.

e.g. for C/C++, we can look for instances of LLVMFuzzerTestOneInput in c/cc/cxx/cpp files.

[2022-04-06 14:42] inferno-chromium commented on #897
@oliverchang - can someone from fuzzing team pick this, it will be nice to have this scorecard check comprehensive.

[2022-04-06 20:17] azeemshaikh38 commented on #1740
I'm unable to reproduce this too, even with `GITHUB_AUTH_TOKEN` unset. Closing this for now, @laurentsimon please re-open if needed and add steps to reproduce.

[2022-04-06 20:17] #1740 closed

[2022-04-06 21:12] godofredoc commented on #1754
@laurentsimon an update on updating the PATH to include `npm ci` dependencies. It took me some trial and error to find that  `$HOME/node_modules/.bin/` was not correct.

These are the configs that finally worked for my use case:
[code]
Example: https://github.com/flutter/website/pull/6999

[2022-04-07 01:39] #1752 closed

[2022-04-07 01:48] laurentsimon commented on #1754
Thank you, and sorry for the inconvenience. I'm going t add this to the Npm best practice doc

[2022-04-07 02:30] oliverchang commented on #897
@navidem -- this (https://github.com/ossf/scorecard/issues/897#issuecomment-1089849918) might be a interesting side project to tackle!

[2022-04-07 14:35] brianrussell2 opened #1824 "Write a Scorecards Mission and Vision"
# Overview
As proposed in the 4/24/2022 biweekly meeting, a mission and vision statement will help guide present and future contributors. Our goal is to bring shared direction across contributors and help potential contributors determine if they'd like to become a collaborator.

First drafts of both a mission and vision statement are written below. To get to a final draft, we will work with group

[2022-04-07 19:32] justaugustus opened #1826 "Concerns about metrics from @ljharb"
From @ljharb in https://openssf.slack.com/archives/C0235AR8N2C/p1649348249786279:

---

@ossf/scorecard-maintainers -- Some of these points are familiar, so wherever possible, let's reference existing discussions/issues/PRs. I just want to make sure we capture all of @ljharb's questions as a first step! :)

[2022-04-07 19:39] singhsaurabh commented on #1024
Hi @laurentsimon, I see some settings in `checks/contributors.go`, is that somewhere I need to make the changes?

const (
      minContributionsPerUser    = 5
      numberCompaniesForTopScore = 3
      // CheckContributors is the registered name for Contributors.
      CheckContributors = "Contributors"
)

Kindly guide me. Thank You

[2022-04-07 19:51] singhsaurabh commented on #1024
https://github.com/ossf/scorecard/blob/main/docs/checks.md#contributors

do I need to add companies in github profile and test it ?

[2022-04-07 19:59] azeemshaikh38 commented on #1826
@brianrussell2 fyi.

[2022-04-07 20:28] david-a-wheeler commented on #1815
As I noted in https://github.com/ossf/allstar/issues/157
supporting an .artifact-ignore could be very useful.

[2022-04-07 20:33] laurentsimon commented on #1024
yes it would be great to see if this is forgeable or not.

[2022-04-07 20:42] jeffmendoza commented on #1815
Discussion in the sync meeting was against the proposed solution, and for the described alternative above. That works for me as well.

[2022-04-07 20:47] laurentsimon commented on #1826
The check does not ask users to pin their dependencies in the manifest. It only verifies that there's a lock file when it's used in CI, so you get "reproducible" installation and don't suddenly fall victim to "npm color" attacks if someone pushed a malicious package. If there's a false positive you found, can you provide a link?

We want to improve this check [TODO](https://github.com/ossf/scoreca

[2022-04-07 20:50] ljharb commented on #1826
I don't think this is actually a best practice - I think that a package *should* fall victim to the same attacks and bugs that their users will on a fresh installation, and that encouraging lockfile use in packages actively harms users by hiding problems from maintainers. The false positive imo is that this is considered at all.

[2022-04-07 20:54] singhsaurabh commented on #1024
Thank You @laurentsimon

[2022-04-07 20:57] laurentsimon commented on #1826
I don't entirely follow. How would a maintainer of package X control how users will use their package? Even if the maintainers of package X want to protect themselves in their CI tests (I think they should), they would not be able to control what their users will do or when installing X, right?

[2022-04-07 21:09] ljharb commented on #1826
Speaking for the npm ecosystem, most lockfiles are "dev only", which means that a project with a lockfile has a pinned graph, but their consumers have *nothing* pinned. There's also one lockfile format that *is* published, and that *is* respected by consumers - but it's considered highly user-hostile to use this, because it prevents the consumer from deduping, and from seamlessly updating transiti

[2022-04-07 21:23] laurentsimon commented on #1826
There are two different classes of problems:
1. Security vulnerabilities, i.e non-intentional problems. Good dependency patches/alerts are definitely really useful.
2. Intentional, malicious packages. Dependency alerts don't help that much here, right? Pinning can limit the spread of problem. Remediation and incidence response are expensive, as we've seen in log4j

[2022-04-07 21:32] ljharb commented on #1826
Right - but a dev-only lockfile (the almost exclusive kind used in the npm ecosystem) does not pin dependencies *for consumers*, only for the maintainers. The best practice in the npm ecosystem is to *always* use `^` on dependencies and never, ever pin them - that's always only the job of the top-level app (with a lockfile).

I'm not fully versed on log4j, but wasn't the issue with log4j a problem

[2022-04-07 22:45] caniszczyk commented on #1534
You can infer the LF stance from CNCF's copyright header policy, we updated it not so long ago:
https://github.com/cncf/foundation/blob/main/copyright-notices.md#copyright-notices

There's also information here:
https://www.linuxfoundation.org/blog/copyright-notices-in-open-source-software-projects/

[2022-04-08 16:40] naveensrinivasan opened #1828 "Feature - Add a check for dependency review action"
**Is your feature request related to a problem? Please describe.**
T
he dependency review action lets you proactively block pull requests that introduce dependencies with known vulnerabilities.

GitHub introduced https://github.com/actions/dependency-review-action https://github.blog/2022-04-06-prevent-introduction-known-vulnerabilities-into-your-code/

[2022-04-08 18:37] laurentsimon commented on #1826
I think that's what the scorecard check does, i.e., that the final top-level app uses a lock file. If someone tests an API in their CI, scorecard will also check they've added a lockfile for the CI check, but not the overall project.

log4j was an example of how remediation takes time and limiting the blast radius helps.
The npm color package attack is one that affected may people due to lack of p

[2022-04-08 20:32] ljharb commented on #1826
The scorecard runs on projects tho - a published project isn't a top-level app, generally (altho sometimes it can be).

[2022-04-09 18:33] naveensrinivasan commented on #1828
@ossf/scorecard-maintainers Thoughts about including this in our checks. Either include it part of Dependency check or Vulnerability check.

[2022-04-09 18:34] naveensrinivasan commented on #1828
@azeemshaikh38 / @laurentsimon FYI...

Didn't realize @azeemshaikh38 and @laurentsimon  weren't in the @ossf/scorecard-admins or @ossf/scorecard-maintainers  groups.

[2022-04-12 02:23] lingpiao0128 opened #1831 "BUG: Cannot find the public dataset from the google Bigquery"
I cannot find the public dataset from the google Bigquery. Could you provide the specific link of the dataset?

[2022-04-12 02:31] azeemshaikh38 commented on #1831
See https://github.com/ossf/scorecard#public-data

[2022-04-12 18:18] naveensrinivasan commented on #1729
@jorydotcom Any updates on this?

[2022-04-12 18:46] laurentsimon commented on #1729
I think an answered question is whether we want to allow dependabot updates to be automatically merge-in or not.
For example it's sometimes possible to bypass reviews bu injecting code into dependabot PRs:
1. Dependabot publishes a change.
2. Maintainer edits that change to do whatever they want

Auto-merge happens.

I suggested we look into combining PRs in https://github.com/ossf/scorecard/issue

[2022-04-13 15:43] laurentsimon opened #1834 "BUG: e2e branch tests fail"
See https://github.com/ossf/scorecard/runs/6009480756?check_suite_focus=true

Due to https://github.com/ossf/scorecard/pull/1830, the branch e2e tests under clients were not updated.

[2022-04-13 16:18] laurentsimon opened #1836 "Feature: Re-enable intetration tests"
To merge https://github.com/ossf/scorecard/pull/1835, we disabled integration tests in branch protection. We need to re-enabel them.

[2022-04-14 01:21] laurentsimon commented on #1834
resolved by https://github.com/ossf/scorecard/pull/1838

[2022-04-14 01:21] #1834 closed

[2022-04-14 01:22] laurentsimon commented on #1836
Done. Closing

[2022-04-14 01:22] #1836 closed

[2022-04-14 06:55] fredgan opened #1839 "What's the main difference between Scorecard and SLSA?"
Hi,
For the [Scorecard](https://github.com/ossf/scorecard#what-is-scorecards) said:

For the [SLSA](https://slsa.dev/) said:

It seems like they are alike. If so, why both are introduced? Which should be used to the user? Thanks~

[2022-04-14 15:08] azeemshaikh38 commented on #1831
Closing, feel free to re-open.

[2022-04-14 15:08] #1831 closed

[2022-04-15 09:20] evverx commented on #1655
I ran the "webhook" check the other day and among other things it complained about inactive webhooks. I'm not sure they should be included there. Other than that the documentation seems weird to me:

While I agree ideally it should be implemented I'm pretty sure most webhooks are provided by third-party services that are aware of those issues but in some cases aren't willing to fix it. I think unl

[2022-04-15 09:27] evverx commented on #1655
I'd add that this particular check can easily be misled by putting secret keys that aren't actually used anywhere.

[2022-04-15 16:47] laurentsimon opened #1843 "BUG: are we updating our container images?"
I was pulling some images and found that https://github.com/ossf/scorecard/blob/main/Dockerfile#L15, for example, was built in 08-2021, and the latest image is from 2022-04

I stumbled upon this by chance because the image was failing to build in unit tests.

Our dependabot config file has an entry for docker images, so I'm not exactly sure what's going on.

@naveensrinivasan any thoughts?

[2022-04-15 23:29] naveensrinivasan commented on #1843
No clue! It should work, AFAIK.

[2022-04-17 23:30] lucasgonze commented on #1826
About the lockfile, is your thought that:

1. A library should not use a lockfile, because that will conceal dependency-induced failures that might be caught by tests.
2. The scorecard should distinguish between libraries and apps

[2022-04-18 04:16] ljharb commented on #1826
Sure, in this one case - less than a dozen over the lifetime of npm, by my reckoning - this is true. However, *not* pinning has allowed the seamless flow of bug and security fixes, and also allowed apps to dedupe, resulting in significantly smaller bundle sizes, saving the web uncountable amounts of bandwidth.

I’m saying that the benefits of pinning in a package are infinitesimal, and the harm of

[2022-04-18 15:39] laurentsimon commented on #1843
when is the last time we merged a dependabot PR for a dockerfile update?

[2022-04-18 15:45] naveensrinivasan commented on #1843
https://github.com/ossf/scorecard/pull/1786 21 days before

[2022-04-19 00:51] laurentsimon commented on #1655
Interesting. Can you file an issue for it?

Please file an issue for this too.

Let's address this by fixing the documentation.

[2022-04-19 00:53] laurentsimon opened #1847 "BUG: fix doc for Webhook check"
`If there is no support for token authentication, consider implementing it by following [these directions](https://docs.github.com/en/developers/webhooks-and-events/webhooks/securing-your-webhooks).` is mis-leading because users do not control the authentication support: the webhook service is often provided by a 3P entity.

[2022-04-19 00:54] laurentsimon opened #1848 "BUG: Webhook check complains about inactive webhooks"
@evverx can you describe the repo you tried it on?

I'm wondering whether it's still useful to report inactive web hook: if it's inactive, why not remove it?

[2022-04-19 01:12] evverx commented on #1655
@laurentsimon having played with this check a bit more I don't think it makes sense to keep it because regardless of what scorecard says all webhooks have to be audited manually to make sure that secrets are actually used on the receiving end. I think it's helpful in terms of raising awareness so to speak though

[2022-04-19 01:29] evverx commented on #1848
As far as I can remember it was `systemd`. `scorecard` complained about at least two inactive webhooks.

I think it depends. If webhooks are no longer used they should probably be removed but if they are temporarily broken due to outages or something like that it makes sense to temporarily turn them off.

[2022-04-19 22:30] laurentsimon opened #1850 "Feature: better remediation steps"
It's pretty hard for a user to remediate some of the results:
- permissions: which to use?
- pinned dependencies: what's the hash for each version used?
- dependabot: which options to enable in the config file + settings?

We should try to do better. Some thoughts:
1. Provide a link to the StepSecurity in the results presented in the scorecard action
2. Provide a snippet of code that a user can co

[2022-04-20 21:31] varunsh-coder commented on #1850
Adding more details to the above options:
1. There is already a link to app.stepsecurity.io to fix token permissions and pin Action commits, but users need to click the link, find their workflow, copy it, paste it in etc. All these steps can be eliminated by having a link to app.stepsecurity.io/secureworkflows with repo and workflow as query string inputs. The UI can then fetch the workflow for op

[2022-04-21 08:36] cpanato commented on #1848
myabe we can log that and remove that from the count, since it is inactive, if they become active and the scorecard runs again it will be part.

i think we should just log the inactive ones

[2022-04-21 10:13] evverx commented on #1848
FWIW as discussed in https://github.com/ossf/scorecard/issues/1655#issuecomment-1101897798 I think this whole check is
 kind of misleading:

[2022-04-21 20:17] laurentsimon commented on #1828
list of dependency-related checks we can put in a single check:
- [ ] https://github.com/ossf/scorecard/issues/1371
- [ ] https://github.com/ossf/scorecard/issues/413
- [ ] https://github.com/ossf/scorecard/issues/1508
- [ ] https://github.com/ossf/scorecard/issues/874

[2022-04-21 20:52] agonzalez-plume commented on #1726
I'm assuming a change for this would be in the evaluation module using repo.languages. 'GET /repos/{owner}/{repo}/languages'

	if repo_language == 'C' {
		dl.Warn(&checker.LogMessage{
			Text: "no dependency update tool available",
		})
		// Generic summary.
		return checker.CreateInconclusiveResult(name, "no tool available")
	}

OR

	if repo_language == 'C' {
		dl.Warn(&checker.LogMessage{
			Tex

[2022-04-21 21:02] justaugustus commented on #1549
Suggestion:
Copy/paste the existing check/use the same code path for the new one.
Mark the existing as deprecated in one release.
Remove in the next release.

[2022-04-21 21:03] laurentsimon commented on #1726
@naveensrinivasan @azeemsgoogle @justaugustus any comment or thoughts on this?

[2022-04-21 21:36] laurentsimon commented on #1850
@varunsh-coder for (1), do you already have an API we could use now? (app.stepsecurity.io/secureworkflows?q=xxx)?

[2022-04-21 21:44] justaugustus commented on #1726
It would be great to have something like a scorecard config file, where we could allow users to configure acceptable parameters like, "I am not using a dependency update tool/language that is supported by the supported dependency update tools".

I think the right approach is refuse to score a scenario that's impossible to satisfy.

[2022-04-21 21:46] laurentsimon opened #1852 "Feature: re-enable `build-proto` pre-submit"
I disabled it to be able to merge https://github.com/ossf/scorecard/pull/1849 where it kept on failing due to probuf compiler error.

[2022-04-21 21:50] laurentsimon commented on #1726
Would anyone object if we returned inconclusive results for ecosystems not supported by dependabot and other tools? I think this is what `refuse to score a scenario that's impossible to satisfy` means, correct?

Would that be a good first step towards improving this check?

[2022-04-21 22:01] laurentsimon commented on #897
@Navidem feel free to ask questions if you need some pointers

[2022-04-21 22:08] laurentsimon commented on #1852
Re-enabled. Closing

[2022-04-21 22:08] #1852 closed

[2022-04-22 14:53] varunsh-coder commented on #1850
Not yet. I will create a work item for it. It should be doable in a few days time. I will get back once it is implemented.

[2022-04-22 15:30] laurentsimon commented on #1850
Fyi, that's where we create the markdown https://github.com/ossf/scorecard/blob/main/pkg/sarif.go#L397. Feel free to try things it and see what looks best to embed the link.

[2022-04-22 17:45] laurentsimon commented on #1850
we could also add it in https://github.com/ossf/scorecard/blob/main/pkg/sarif.go#L436 which is closer to the code highlighted by GitHub in the dashboard

[2022-04-22 19:21] azeemshaikh38 opened #1857 "BUG: Raw data transfers not working"
The env vars specified in the raw data transfer job [here](https://github.com/ossf/scorecard/blob/main/cron/k8s/transfer.release-raw.yaml#L33) are unused. These should instead be `SCORECARD_*` env vars like [here](https://github.com/ossf/scorecard/blob/main/cron/k8s/transfer-v2.yaml#L37).

[2022-04-22 20:21] #1857 closed

[2022-04-24 00:46] azeemshaikh38 opened #1860 "Feature: Improvements to Scorecard CLI"
Inspired from https://clig.dev/

- Remove `panic` wherever possible so that CLI doesn't simply crash but exits gracefully.
-  Use in-built [Cobra features](https://github.com/spf13/cobra/blob/master/user_guide.md) (required flag groups, mutually exclusive flags etc.) which we implement as part of our validation logic.
- Provide a progress bar - https://github.com/schollz/progressbar
- Handle Ctrl+

[2022-04-25 16:40] #1807 closed

[2022-04-25 23:12] laurentsimon opened #1863 "BUG: don't warn on secrets in pull_request"
https://securitylab.github.com/research/github-actions-preventing-pwn-requests/:

`Due to the dangers inherent to automatic processing of PRs, GitHub’s standard pull_request workflow trigger by default prevents write permissions and secrets access to the target repository.`

We're looking for secrets in pull_request triggers, but should not.

Thanks @jeffmendoza and @sethvargo for flagging

[2022-04-26 19:17] drewroengoogle opened #1867 "Unsure of solution for fixing "contents: write" security recommendation"
**Is your feature request related to a problem? Please describe.**
Hello! We are seeing the scorecard recommendation in the image under "Additional context". You can find the line we are getting the recommendation for [here](https://github.com/flutter/samples/blob/802026f4ea050ea189c8814ddf183ef03d49654f/.github/workflows/gh-pages.yml#L13-L13). The scorecard recommendation ID is `TokenPermissionsI

[2022-04-26 20:53] jeffmendoza opened #1868 "BUG Binary Artifacts False positive scripts/Makefile.lib"
**Describe the bug**
The file scripts/Makefile.lib from Linux Kernel forks is triggering as a binary artifact, when it is a Makefile.

**Reproduction steps**
Example repo:
https://github.com/google/capsicum-linux/blob/capsicum/scripts/Makefile.lib

Run scorecards, scripts/Makefile.lib is reported as a binary artifact.

**Expected behavior**
Not to be reported.

[2022-04-27 00:11] godofredoc commented on #1867
I believe this is because `contents: write` grants write access to multiple APIs. https://docs.github.com/en/github-ae@latest/rest/overview/permissions-required-for-github-apps#permission-on-contents

What is the recommended best practice in this case? find a more limited permission?

[2022-04-27 01:27] #1863 closed

[2022-04-27 01:44] laurentsimon commented on #1868
Is this a standard naming convention Makefile.lib, or that's what they picked?

[2022-04-27 01:50] laurentsimon commented on #1867
do you need these permissions to write to the GitHub pages using peaceiris/actions-gh-pages?

Which API is it using? I think it may be worth asking GitHub for a more granular permission for this, because pushing docs is less scary than pushing to source code. Well, docs can trick users into running arbitrary commands.. but it's not very stealthy if this is the public doc.

In this case you probabl

[2022-04-27 01:55] laurentsimon commented on #1815
With `.artifact-ignore`, would we ignore the results only for maintainers or also for the weekly scans?

[2022-04-27 14:47] laurentsimon opened #1873 "Feature: e2e tests for other formats"
We don't have e2e tests for json and sarif output.

At the moment, sarif fails with:
[code]

/cc @azeemsgoogle @naveensrinivasan

[2022-04-27 15:08] laurentsimon opened #1874 "Feature: add severity to each Warn result"
We have severity at the level of a check today.
However, within a check, severity may vary. For example, contents: write is more critical than status: write, for example.

This could then be exposed in SARIF in the action https://github.com/ossf/scorecard-action/issues/210

[2022-04-27 15:09] laurentsimon commented on #1874
@azeemsgoogle @naveensrinivasan @justaugustus wdut?

[2022-04-27 17:26] drewroengoogle commented on #1867
To answer your first question: yes, `contents: write` is currently being used for `peaceiris/actions-gh-pages`

[2022-04-27 19:26] laurentsimon commented on #1850
Looks great. Since this is for token permissions and pinning, could we disable the hardened runner for this use case? Maybe via a a `?enable=permissions,pinning` or something to this effect?

[2022-04-27 21:30] varunsh-coder commented on #1850
Yes, that should be easy to do. Will implement and get back.

[2022-04-28 19:30] varunsh-coder commented on #1850
This is done. The format is https://app.stepsecurity.io/secureworkflow/:owner/:repo/:workflowname/:branch?enable=permissions,pin

Here are couple of examples:
https://app.stepsecurity.io/secureworkflow/caolan/async/ci.yml/master?enable=permissions,pin
https://app.stepsecurity.io/secureworkflow/microsoft/vscode/ci.yml/main?enable=permissions,pin

For completeness, if someone wanted to all add `hard

[2022-04-29 18:10] JLLeitschuh commented on #1815
I'm one of the co-authors of the [gradle-wrapper-validation](https://github.com/marketplace/actions/gradle-wrapper-validation) plugin. I agree that all-star should safely ignore the `gradle-wrapper.jar` in the presence of the validation GitHub action

[2022-04-29 19:02] laurentsimon commented on #1815
Should it be ignored by scorecard as well?

[2022-04-29 21:32] laurentsimon commented on #1850
LGTM. How would you you like to proceed? Do you want to take a stab at the UI for the Action (https://github.com/ossf/scorecard/issues/1850#issuecomment-1106628256 and https://github.com/ossf/scorecard/issues/1850#issuecomment-1106730364) or you'd like us to look into it.
It would be great if we could have this for the next Action release, which is almost there https://github.com/ossf/scorecard-ac

[2022-04-29 22:34] godofredoc opened #1876 "BUG: pinned-dependencies complaining about a bash file"
**Describe the bug**

Getting an alert in a bash shell file and I'm not sure if it is intended or a bug in the parsing logic. The link to the file is [vars.sh](https://github.com/flutter/engine/blob/main/tools/fuchsia/devshell/lib/vars.sh#L8)

[code]

**Reproduction steps**
Steps to reproduce the behavior:
1. `docker run -e GITHUB_AUTH_TOKEN=$TOKEN gcr.io/openssf/scorecard:v4.1.0@sha256:a1e9bb4a09

[2022-04-29 22:35] godofredoc commented on #1876
\cc @drewroen @sealesj

[2022-04-29 22:49] varunsh-coder commented on #1850
@laurentsimon would be great if you or another maintainer can integrate it. w.r.t the options, both look good. Having it display closer to the code [#1850 (comment)](https://github.com/ossf/scorecard/issues/1850#issuecomment-1106730364)) will show the developer that there is an easy way to solve it, which should increase fix rate.

[2022-04-29 22:51] laurentsimon commented on #1850
OK, tracked in https://github.com/ossf/scorecard-action/issues/97

[2022-04-30 01:01] JLLeitschuh commented on #1815
If the `gradle-wrapper-validation` is present, then yes, it can be safely ignored. The `gradle-wrapper.jar` is supposed to be present. It's the prescribed way for Gradle users to invoke Gradle against their projects to build and test their code.

[2022-05-01 03:07] naveensrinivasan commented on #1815
We would need to provide  two scores `ignore project claims` without `.artifact-ignore`  & `accept project claims` with `.artifact-ignore`. That is the only way to avoid bad actors from using this feature.
cc @david-a-wheeler

[2022-05-01 03:24] #1107 closed

[2022-05-02 14:09] Drewroen commented on #1876
Cc: @drewroengoogle

[2022-05-02 15:55] laurentsimon commented on #1876
This seems to be a parsing error in the shell parser we use: I've created https://github.com/mvdan/sh/issues/854 for tracking.
We're not properly ignoring parsing errors on our side, I've sent [I've sent this PR https://github.com/ossf/scorecard/pull/1878 to fix it](https://github.com/ossf/scorecard/pull/1878) to fix.

Thanks for the report

[2022-05-02 17:11] #1876 closed

[2022-05-02 21:29] naveensrinivasan opened #1880 "Use renovate bot GitHub Actions"
**Is your feature request related to a problem? Please describe.**
Use renovate bot for GitHub actions instead of Dependabot because it adds the comment on pinned SHA for actions.

Also, it is nice to use renovate bot that we recommend users to use.

[2022-05-03 20:31] #1868 closed

[2022-05-03 23:17] laurentsimon commented on #1880
I like the idea, in particular if renovatebot supports batched PRs: that would avoid reviewing a dozen of PRs each week.

[2022-05-03 23:24] laurentsimon commented on #1874
friendly ping: would love to hear comments or feedback. I think this would help users prioritize their remediation. It's also something thats been asked at least a couple times in the issues

[2022-05-04 05:00] vihangm opened #1883 "Support Phabricator as a Code Review tool"
**Is your feature request related to a problem? Please describe.**
The code review check fails for repos that use Phabricator to conduct reviews.

**Describe the solution you'd like**
The code review check should detect Phabricator based code reviews and pass the check if such reviews are detected.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-05-04 16:25] loosebazooka commented on #1815
I wonder what we need to verify here to allow this sort of mechanism
- scorecards is aware of the action, and that it is enabled on every PR/merge
- scorecards needs the action to be on latest (or some set of approved new version?)

I feel like it could be easier for scorecards to just keep track of the binary hashes itself and compare instances of `gradle-wrapper.jar` with it. This could then be

[2022-05-04 16:36] laurentsimon commented on #1815
On the flip side, the need to maintain a list of hashes (or pull them programmatically) is additional complexity that I would not mind avoiding. If there's an ecosystem Action for it, why not rely on it if we can :-)

[2022-05-04 16:42] loosebazooka commented on #1815
Yeah and I don't disagree, just curious what the constraints/mechanism are to enable this kind of thing.

[2022-05-05 12:54] naveensrinivasan opened #1888 "Metadata from deps.dev"
Also, I noticed that these dependencies have `num_dependencies_deps.dev` metadata field. Please remove that. We get that metadata from deps.dev API directly.

_Originally posted by @azeemshaikh38 in https://github.com/ossf/scorecard/pull/1886#pullrequestreview-962679994_

[2022-05-05 12:56] naveensrinivasan commented on #1888
The deps.dev API isn't open to everyone. How is this being added to scorecards?

[2022-05-05 21:48] #1883 closed

[2022-05-05 22:09] azeemshaikh38 commented on #1888
Yes it is not public. We get a one-off dump from deps.dev with the num_deps for a project.

[2022-05-05 22:09] #1888 closed

[2022-05-07 16:29] chenrui333 opened #1891 "BUG scorecard 4.2.0 does not print version number anymore"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1. download release artifact (e.g. https://github.com/ossf/scorecard/releases/download/v4.2.0/scorecard_4.2.0_darwin_amd64.tar.gz)
2. unzip and run `./scorecard-darwin-arm64 version`

**Expected behavior**

The version information

[code]

**Additional context**

relate

[2022-05-08 16:20] naveensrinivasan commented on #1891
I don't seem to have an issue.
[code]

I downloaded https://github.com/ossf/scorecard/releases/download/v4.2.0/scorecard_4.2.0_darwin_amd64.tar.gz and ran it.

@azeemshaikh38 @laurentsimon  Can you guys check if it is?

Also I noticed the `e2e` on the `main` for scorecard action is failing with a similar message https://github.com/ossf-tests/scorecard-action/runs/6338427881?check_suite_focus=true

[2022-05-08 16:42] naveensrinivasan commented on #1891
Edit - I apologize I read the issue incorrectly. Yes, it is not showing up. The other issue that I mentioned is different from this.

[2022-05-09 02:36] r0mdau commented on #1725
This new line is the root cause : https://github.com/moby/buildkit/compare/v0.8.3...v0.9.0#diff-be994e7e77fbb1415a427dfd54682946c4bee9fca9cd66ac20369d754692b413R290

[2022-05-09 15:50] laurentsimon opened #1897 "Feature: e2e test for version printed"
Let's have e2e tests to catch https://github.com/ossf/scorecard/issues/1891

/cc @naveensrinivasan

[2022-05-10 15:55] #1725 closed

[2022-05-10 20:54] laurentsimon commented on #1867
`peaceiris/actions-gh-pages` seems to be a widely used Action to do that. Since GitHub does not have a special permission for documentation push, I'm inclined to make the permission check aware of this action and not warn if it's used in the workflow that requires the write permission. We do this for other standard action like Goreleaser, for example.

[2022-05-11 01:21] laurentsimon opened #1901 "Feature: tag builds as stable after the releasetest is successful"
Is it feasible to tag builds/container images as stable after they have successfully run the releasetest integration tests?

@azeemsgoogle WDUT?

[2022-05-11 16:55] laurentsimon commented on #1815
@JLLeitschuh can you tell us more about how the `gradle-wrapper-validation` work?
- It searches for `gradle-wrapper.jar` in all directories or in one in particular?
- The hashes it uses for validation are automatically fetched via URL, I presume?

If it's best practice for the Graddle ecosystem, I'm personally in favor of making Scorecard aware of it.
There are several reason I believe we should d

[2022-05-11 19:14] azeemsgoogle commented on #1901
Yes, that's what we do today already. A successful run of releasetest automatically tags the associated container images as `:stable`. Did you mean this or something else?

[2022-05-11 19:22] azeemshaikh38 commented on #1874
SGTM.

[2022-05-11 19:55] laurentsimon commented on #1901
ok, interesting. I pushed some commits on Monday and did not see that commit tagged as "stable". I need to double check then

[2022-05-11 20:04] justaugustus commented on #1874
SGTM!

[2022-05-11 20:49] nealmcb commented on #1726
If I'm evaluating the security of a tool, and the tool is written in a language doesn't allow effective dependency tracking, my guess is that in many if not most cases, the tool is more vulnerable than an otherwise similar tool written in a language with good dependency tracking support.

I.e. I'd hate to see what amounts to an undeserved bonus awarded for use of a problematic language / ecosystem

[2022-05-11 21:00] nealmcb opened #1903 "Dependabot link in alert is 404, and false positive"
**Describe the bug**
A `Dependency-Update-Tool` alert contains a link to
 https://dependabot.com/docs/config-file/
which now redirects to
 https://github.com/docs/config-file/

which is 404.

**Expected behavior**

Perhaps a link to https://github.com/dependabot would be appropriate though it seems different based on the URL.

**Additional context**

I have configured dependabot via GItHub's Secur

[2022-05-11 21:08] laurentsimon commented on #1726
to your last point: I would like to enable maintainers to explain their score/results, for example thru code annotation (or anything else really), so that we can provide that data along with the findings. We don't necessarily have to change the score, but at least the information would be available for a human to inspect.

Note that we're trying to move away from scores https://github.com/ossf/sco

[2022-05-12 01:41] #1867 closed

[2022-05-12 15:29] nadgowdas commented on #1824
I would be interested to help as well

[2022-05-12 17:19] naveensrinivasan commented on #1903
Thanks, Would you be interested in fixing it by sending a PR?

[2022-05-12 20:59] laurentsimon commented on #1903
If I'm not mistaken, there are different settings:

1. [create a dependabot.yml config file](https://docs.github.com/en/enterprise-server@3.3/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/enabling-and-disabling-dependabot-version-updates#enabling-dependabot-version-updates) to allow updates for dependencies.

2. [enable the settings](https://docs.github.com/en

[2022-05-12 21:06] laurentsimon opened #1907 "Feature: maintainer annotation"
Certain maintainers disagree or are unable to satisfy certain Scorecard checks. It would be useful to provide a way for them to explain their reasoning, if they want. We can surface this in the results next to each non-compliant alert.

Ideally this would be an inlined comment, similar to `linter` comments - in Go we use `// nolinter`, for example.

In some cases, it may require a config file (lik

[2022-05-12 21:13] nealmcb commented on #1903
Thanks, @naveensrinivasan I'd be happy to, but I'm not actually finding it right now in a [search](https://github.com/ossf/scorecard/search?q=https%3A%2F%2Fdependabot.com%2Fdocs%2Fconfig-file%2F&type=commits). I do see a commit 062e33ba2984cea2   that seems related, but haven't tracked down how that fits into the logic, or even if that is fixed but not deployed, or what.

[2022-05-12 22:26] laurentsimon opened #1908 "BUG: org-defined security policy link is incorrect"
The org-defined security policy file is reported as `SECURITY.md` instead of `github.com/org/.github/SECURITY.md`

[2022-05-13 00:02] nealmcb commented on #1903
@laurentsimon - good description of the subtleties. It would indeed help to be clearer about that in the docs.

The text "no update tool detected" was easy for me to interpret as the absence of any sort of "security update" tool to scan for issues during updates, though it does make more sense as a tool to automate the offering of PRs to update dependencies.

Clarifying that Scorecard checks for b

[2022-05-13 17:05] laurentsimon commented on #1874
I think to be even broader, we need a flag that is either positive or negative. For example, some results are positive `Info()`.
These can be reported also in the raw results. So I think we need something like an enum to the effect of:

[code]

[2022-05-14 18:42] JLLeitschuh commented on #1815
It searches for all directories. It also looks for [homoglyph](https://en.wikipedia.org/wiki/Homoglyph) attacks (example PR can be found here https://github.com/JLLeitschuh/playframework/pull/1/files). If the wrapper action is present, it also fails if there are no `gradle-wrapper.jar` files found at all (for example, in the case where a homoglyph attack was not otherwise caught). It also lets you

[2022-05-15 01:58] chenrui333 commented on #1891
that would be good, thanks!

[2022-05-15 17:07] azeemshaikh38 commented on #1891
This is now fixed at HEAD. Will push out a release for it soon.

[2022-05-15 17:07] #1891 closed

[2022-05-15 21:40] chenrui333 commented on #1891
Sounds good, thanks!

[2022-05-15 21:49] azeemshaikh38 commented on #1901
So I think I figured out what's going on. After #1886 lot of repositories were failing for 2 reasons:

- `Vulnerabilities` check was erroring out on empty repositories which is not the right behavior. #1914 should fix that.
- #1320 is continuing to cause failures like before.

IMO, we should fix #1320 to fix the failing releasetests before making a new release. @naveensrinivasan @laurentsimon wdyt

[2022-05-16 11:04] Suhit-Majumdar commented on #1847
Hi! Can you please suggest which file is the bug in? I will go through it and try to resolve it after going through the documentation in detail.

[2022-05-16 15:12] laurentsimon commented on #1901
@asraa do you have cycles to fix https://github.com/ossf/scorecard/issues/1320?

[2022-05-16 15:31] laurentsimon commented on #1815
Thanks for the explanation.

If you're interested in sending a PR, the file to update is https://github.com/ossf/scorecard/blob/main/checks/raw/binary_artifact.go. To parse workflow files, you can look into https://github.com/ossf/scorecard/blob/main/checks/packaging.go

[2022-05-16 15:39] laurentsimon opened #1915 "Feature: look for `image` field in workflows"
Workflows can define container images using the `image` field. We may check whether it's pinned. See https://github.com/sethvargo/ratchet

[2022-05-16 15:39] laurentsimon commented on #1503
https://github.com/sethvargo/ratchet is relevant
/cc @sethvargo

[2022-05-16 16:30] Parth59 opened #1916 "Bug Fix Request: Re-enable 3 checks in cron job"
**Describe the bug**
Currently, the CRON pushes scores of 16 checks to bigQuery and does not include scores for the following 3 checks CI_TEST, SAST, and CONTRIBUTOR.

**Expected behavior**
We expect all the scores to be available in the processed data dump. If the scorecards application was unable to compute it then possibly assigning a score value like -1 or any other pre-defined value can help

[2022-05-16 17:00] azeemshaikh38 commented on #1901
I believe @naveensrinivasan plan's to work on this issue?

[2022-05-16 22:46] laurentsimon commented on #1916
Some of these checks were taken out because they are API intensive so rate limiting can be a bottleneck.
@azeemsgoogle any plan to add these checks?

[2022-05-16 22:48] laurentsimon commented on #1773
@loosebazooka still interested in tweaking the doc?

[2022-05-16 22:49] laurentsimon commented on #1546
I did this this in one of the raw results PRs. I'll see if something break down the line.
Closing this issue for now

[2022-05-16 22:49] #1546 closed

[2022-05-16 23:18] loosebazooka commented on #1773
I forgot about this. I'll take a look tomorrow if no one else is interested.

[2022-05-17 16:47] azeemshaikh38 commented on #1916
Disabling these checks is a conscious decision for being able to scale the weekly job (see https://github.com/ossf/scorecard/blob/main/cron/config/config.yaml#L27). We need to optimize these checks for API usage before we enable them in the cron job. As of now, I don't plan to work on adding these back. Happy if someone wants to take this on.

We should probably explicitly call out in our document

[2022-05-17 17:36] #1773 closed

[2022-05-17 17:44] laurentsimon commented on #1916
We could add an extra column in the https://github.com/ossf/scorecard#scorecard-checks. @Parth59 interested in sending a quick PR for it?

[2022-05-17 20:42] naveensrinivasan commented on #1320
I am going to work on this issue.

[2022-05-18 00:31] #1393 closed

[2022-05-18 05:00] stm9 opened #1921 "BUG"
**Describe the bug**
False Negative result in CI-Test scorecard check

**Reproduction steps** https://github.com/androidx/androidx/security/code-scanning/47
nothing merges w/o aosp tests

**Expected behavior**
CI-Test should not trigger alert on this particular pattern.

**Additional context**
Organization uses
GitHub as a mirror of one of our aosp repositories.
Copybara setup that mirrors every m

[2022-05-18 16:07] laurentsimon commented on #1815
time to learn :-) nw, I was just asking in case. We can take care of it.

[2022-05-19 23:45] laurentsimon opened #1933 "Feature: Clean up Tool and Fuzzer structures"
Use the `Tool` structure for Fuzzer  and DependencyUpdateTool in `pkg/` and possibly in `checker/`
[code]

[2022-05-20 16:29] laurentsimon opened #1936 "Feature: Add WorkflowJob to File structure?"
raw results use a File structure and a WorkflowJob.

I need to re-visit whether WorkflowJob should be part of File or not. I made them separate when I worked on https://github.com/ossf/scorecard/pull/1912/files#.

[2022-05-21 01:43] #1933 closed

[2022-05-21 14:44] naveensrinivasan opened #1938 "New Check: Signed Commits"
**Is your feature request related to a problem? Please describe.**
Add a new check if the Git Commits are signed. Now that the commits are stored in `rekor` and keyless https://github.com/sigstore/gitsign

[2022-05-21 14:44] naveensrinivasan commented on #1938
@dlorenc FYI...

[2022-05-23 17:44] azeemshaikh38 opened #1942 "BUG: nil-ptr dereference"
Reproduce using:

[code]

@laurentsimon seems to be happening in the `remediation.go` code that was added recently. Could you take a look.

On a side note, it still boggles me how the e2e tests don't catch this but fail when we run locally.

[2022-05-23 19:52] azeemshaikh38 opened #1943 "Share common data structures between `checker` and `client` packages"
Tracking bug to see if common data structures like `Issue`, `Commit` etc. can be shared across `checker` and `client` packages instead of re-defining them.

[2022-05-23 19:57] azeemshaikh38 commented on #1783
Just an update - I'm working on this in 2 parts. (1) expose PR commit data through `CodeReviewRawData` struct. (2) figure out how to evaluate this data to find malicious activity while not causing false positives.

(1) is easy and I'm working on a PR for it. I'm still unsure about (2) and need to look into it more. Ideas are welcome.

[2022-05-23 20:00] laurentsimon commented on #1942
interesting. I'm surprised the e2e tests did not catch it.

[2022-05-23 20:26] laurentsimon commented on #1942
fix in https://github.com/ossf/scorecard/pull/1947/files

[2022-05-23 21:24] #1942 closed

[2022-05-24 19:11] aidenwang9867 opened #1954 ":bug: BUG found in the Security-Policy unit test & more testcases are needed"
**Describe the bug**
When a single not-a-security-policy file is added as a testcase to the Security-Policy unit test, it reports a `GitHub token env var not set` error, then triggers a `nil pointer deference` error, and the test fails.

**Reproduction steps**
Steps to reproduce the behavior:
1. **Make sure your GitHub token is correctly set (https://github.com/ossf/scorecard#authentication);**
1.

[2022-05-25 04:40] ldemailly opened #1958 "no badge detected for CII while there is a badge"
It could be I don't know where the badge detection is looking but

https://deps.dev/go/fortio.org%2Ffortio

shows

CII-Best-Practices
0/10
Determines if the project has a CII Best Practices Badge.
REASONING
no badge detected

while

https://github.com/fortio/fortio/blob/master/README.md

has

[![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/6054/badge)](https://bestprac

[2022-05-25 07:35] oliverchang commented on #897
Fuzzing patterns to add:

- C/C++: https://llvm.org/docs/LibFuzzer.html#fuzz-target
- Other languages: See the language subguides on the canonical ways to write fuzzers in other languages on https://google.github.io/oss-fuzz/getting-started/new-project-guide/

[2022-05-25 14:52] azeemshaikh38 commented on #1958
Did the project's status change recently? If that is the case, it is likely that the Scorecard cron job which updates its internal copy of CII data once every few weeks hasn't picked it up. Which would explain the diff in `deps.dev`.

Note that Scorecard CLI (which directly looks up CII data) recognizes the project's `passing` score already:

[code]

So it should get updated through the cron job s

[2022-05-25 15:34] laurentsimon commented on #897
/cc @aidenwang9867

[2022-05-25 23:30] laurentsimon commented on #1874
An first use case is to lower the severity of `contents: write` declared at the top-level if there's only one job and the jobs is a release job (needs the permission). Today score is 10 :/

[2022-05-25 23:32] laurentsimon commented on #1958
I verified that the badge is detected via scorecard CLI:
[code]

[2022-05-25 23:39] laurentsimon commented on #1921
Thanks for the report. The check seems to be failing because scorecard is unable to detect pull request on the repo, because its done internally and pushed to GitHub via copybara

Can you tell us more about how we could detect CI for this repo?

[2022-05-26 01:50] ldemailly commented on #1958
oh thanks! yes I filled it up recently when I learned about deps.dev; might be worth adding that update frequency to the docs to avoid false reports like mine

thanks a lot for having checked!

[2022-05-26 01:51] ldemailly commented on #1958
and just to confirm that the package canonical url is fortio.org/fortio while the source resides in github.com/fortio/fortio is not a factor that cause confusion either?

[2022-05-26 14:07] azeemshaikh38 commented on #1958
Nope. That's handled as long as CII has the right repo URL.

[2022-05-26 14:27] azeemshaikh38 commented on #1921
I found something interesting. We can check for presence of CI-Tests on a merge SHA instead of a PR (i.e check runs that ran on `push` event) - https://api.github.com/repos/androidx/androidx/commits/289583a81c5a84f3ac4b14867f72dbf3021d0aaa/check-runs.

Maybe Scorecard should fallback on this if there is no associated PR found for a commit?

[2022-05-26 15:11] laurentsimon commented on #1958
Just wanted to point out that des.dev page does show a `Scorecard as of May 16, 2022.`

[2022-05-26 15:12] #1958 closed

[2022-05-26 15:22] #1908 closed

[2022-05-26 21:12] aidenwang9867 commented on #897
Thanks Laurent & Oliver, I'll take the Go side. @laurentsimon @oliverchang

[2022-05-27 22:25] #1320 closed

[2022-05-30 07:31] webchick opened #1972 "Docs: Meeting Notes doc is not open for public access"
This might be "by design," but just in case...

I noticed that the [Notes doc](https://docs.google.com/document/d/1dB2U7_qZpNW96vtuoG7ShmgKXzIg6R5XT5Tc-0yz6kE/edit#heading=h.4k8ml0qkh7tl) linked in the README isn't publicly accessible, unlike the ones from other OpenSSF WGs. Is this intentional?

[2022-05-30 14:56] naveensrinivasan commented on #1972
The access to the document is associated with this google group. I don’t know if it is this https://groups.google.com/g/ossf-scorecard-announce group or this https://groups.google.com/g/ossf-scorecard-dev.

[2022-05-30 14:58] naveensrinivasan commented on #1972
Closing this. If you have other questions, please start a [discussion](https://github.com/ossf/scorecard/discussions)

[2022-05-31 17:47] laurentsimon commented on #1938
this is also relevent https://github.com/github/feedback/discussions/7744#discussioncomment-2603637

[2022-05-31 20:19] #1943 closed

[2022-06-02 00:51] laurentsimon commented on #1936
Also, I need to replace some of the fields with pointers

[2022-06-02 14:27] naveensrinivasan commented on #986
Closing this issue as it has been addressed.

[2022-06-02 14:27] #986 closed

[2022-06-03 23:37] aidenwang9867 opened #1982 "Optimize the ambiguity: the static err definitions"
**Is your feature request related to a problem? Please describe.**
Static error types defined in [scorecard/checks/raw/errors.go](https://github.com/ossf/scorecard/blob/main/checks/raw/errors.go) or similar places are too scattered.

**Solution**: Perhaps they could be more generalized. For example, we can simply define something invalid as `errInvalid`, with a reason string to specify why it's in

[2022-06-06 13:08] nadgowdas opened #1984 "[Proposal] Add Support for scanning different artifact "types""
**Is your feature request related to a problem? Please describe.**
Today, source code repositories are used to host different "types" of artifacts that includes:

-  application source code (*.go, *.py, etc.)
- infrastructure source code (terraform, sensible etc.)
- deployment artifacts (helm charts, *.yamls, etc.)
- ...

In scorecard can we add support for scanning all these types of artifacts?

[2022-06-06 13:41] nadgowdas opened #1985 "Feature: Scoring for individual releases"
**Is your feature request related to a problem? Please describe.**

Currently, scorecard runs against the `repository` settings (typically `main` branch or commit-sha). Malicious developer can circumvent the scoring by implementing bad practice between two runs as shown below:

<img width="1214" alt="Screen Shot 2022-06-06 at 9 17 16 AM" src="https://user-images.githubusercontent.com/8685412/17216

[2022-06-06 19:46] #1901 closed

[2022-06-07 02:11] #1559 closed

[2022-06-07 15:51] azeemshaikh38 commented on #1985
A wild idea - what if we collaborate with Dependabot/Renovatebot folks here so that every version bump PR by these tools provides a summarized view of diff between new version and existing one? It'll be super impactful and will raise OSS-wide awareness if all OSS developers who use these tools today start thinking about security of their dependencies.

@rarkins @josepalafox what do you folks think

[2022-06-07 17:13] rarkins commented on #1985
For npm releases, Renovate currently provides a link in PRs to a diff of the two release artifacts (ie comparing npm tarballs). You can't trust that the source on GitHub is what was used to create the tarballs on npm

[2022-06-07 19:11] nadgowdas commented on #1985
@azeemshaikh38 I liked the idea, would be super useful.

I think in addition to providing link to PR diffs, if we can curate some of the information and provide developers with actionable insights, they can easily put it in their automated workflows.

[2022-06-08 22:32] aidenwang9867 opened #1990 "Feature: implement the ListProgrammingLanguages interface for local directories to be checked"
**Is your feature request related to a problem? Please describe.**
Now in [PR#1979](https://github.com/ossf/scorecard/pull/1979), I implement the `ListProgrammingLanguages` interface for GitHub repos to list all programming languages and LoCs using the GitHub API. For a `localDirClient`, this interface is still left as an unsupported feature.

**Describe the solution you'd like**
Implement this in

[2022-06-09 05:03] aidenwang9867 commented on #897
@oliverchang @Navidem

In the merged PR[#1979](https://github.com/ossf/scorecard/pull/1979), I added support for checking Go built-in fuzzers as a part of scorecard's fuzzing check. Most of the important changes have been made in `checks/raw/fuzzing.go`, please refer to the changes in this PR to see them.

Built-in fuzzer patterns for other programming languages can be added [here](https://github.

[2022-06-09 20:36] azeemshaikh38 commented on #1985
@rarkins makes sense for npm but this could be useful for non-npm ecosystems like Golang? What do you think about adding such diffs in Renovatebot?

[2022-06-10 03:57] rarkins commented on #1985
We plan to add more over time. Golang is not the best example because it's one of the few where "what you see is what you get" (on github). Registries where the artifact may differ from the source - for both legitimate and illegitimate reasons - are the most challenging for the user and benefit from this type of diff.

[2022-06-15 14:21] varunsh-coder commented on #1850
One of the users got redirected to app.stepsecurity.io, but it was a no-op for them.
The scorecard issue says `top level 'checks' permission set to 'write'`. At the same time, app.stepsecurity.io currently does not change top level permissions if they are already set. This would have resulted in some confusion for the user.

Here is the link they got:
https://app.stepsecurity.io/secureworkflow/Mau

[2022-06-15 14:38] laurentsimon commented on #1850
I think that would be great,  yes.
Note that I'm thinking of making scorecard smarter in the future, and not mark this sort of things as `critical` if there's a single job in the workflow

[2022-06-22 03:19] #1839 closed

[2022-06-23 00:55] aidenwang9867 opened #2002 "Feature: get use of GitHub's all supported languages list (linguist)"
**Is your feature request related to a problem? Please describe.**
GitHub uses [linguist](https://github.com/github/linguist#linguist) to detect blob languages, ignore binary or vendored files, suppress generated files in diffs, and generate language breakdown graphs.

Languages-related interfaces were added in PR #1979, #1992, and #2001. However, now all the const `LanguageNames` in [clients.lang

[2022-06-28 06:39] aidenwang9867 opened #2008 "Feature: Scorecard Dependency-diff API, CLI and Action"
**Is your feature request related to a problem? Please describe.**
The scorecard Action only reports the Scorecard results for the repository under analysis. The project will surface scorecard results for the dependencies for new pull requests.

**Describe the solution you'd like**
1. Add an API design that can fetch **direct** dependency changes (diffs) from a pull request using the [GitHub Depen

[2022-06-28 13:11] naveensrinivasan commented on #2008
This is cool. BigQuery needs authentication to run these checks. Would we require the user to provide those credentials?

[2022-06-28 17:14] laurentsimon commented on #2008
I also wonder whether it'd be useful to have a
1. command line option to get the results for a dependencies, rather than run on a project itself
2. a `--from-bq` option in Scorecard to fetch a result from BQ instead of running scorecard on a project itself

Note that the project is focused on exposing the functionality in the Action first. I'm asking the questions above out of curiosity :-)

[2022-06-28 18:19] aidenwang9867 commented on #2008
Yeah I'm preparing for my first pull request and get quite confused now where I should put my code to. Currently I'm testing my code locally in a `main` function and visualize the results to the `StdOut`.

[2022-06-28 18:22] aidenwang9867 commented on #2008
Thanks Naveen and, great question :D
My answer is **no** - we won't ask the users to provide credentials.

Instead, I am actively building a `REST API` service on a GKE with an external IP, putting the authentication & authorization process on the service so that the Scorecard project can connect to my REST APIs to query the BigQuery dataset.

[2022-06-28 18:49] naveensrinivasan commented on #2008
OK, Probably that should have been called out. Is there a design for this?  So that we can understand and have a consensus.

[2022-06-28 21:11] shissam opened #2010 "BUG running scorecard on a new repo with no commits results in a panic SIGSEGV"
**Describe the bug**
Logged into GitHub, using the GitHub Web User Interface and selecting "New repository" to create a new repository and then running scorecard against that new repo causes:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xda6966]

**Reproduction steps**
Steps to reproduce the behavior:
1. Use

[2022-06-28 21:16] azeemshaikh38 commented on #2010
Thanks for the report @shissam.

@laurentsimon assigning to you. Crash seems to be happening in the remediation code, could you PTAL? Also, let's add an empty (no commit) repo to `ossf-tests` for our e2e tests.

[2022-06-28 21:31] laurentsimon commented on #2010
I would swear I fixed this before, but apparently not!
Pr sent as https://github.com/ossf/scorecard/pull/2011

Thanks for the report!

[2022-06-28 22:21] aidenwang9867 commented on #2008
I am doing some modifications on my design doc, and then i'll share it with you via email by the end of tomorrow, so that we can discuss it in Thursday's meeting.

[2022-06-28 22:48] aidenwang9867 commented on #2008
np, but seems I'm not in the group yet, I'll ask Laurent to drag me in.

[2022-06-29 17:10] #2010 closed

[2022-06-30 21:58] naveensrinivasan commented on #2008
Based on what was presented in the Bi-Weekly scorecard meeting and the design document.

Here are the things that we have discussed.

1. `v0` was supposed to be only running scorecard against dependencies for the repository and not build the `REST` endpoint for scorecard.
2.  It was discussed that GitHub API for figuring out the dependencies doesn't support transitive dependencies for ecosystems l

[2022-06-30 23:01] aidenwang9867 commented on #2008
Thank you so much Naveen, for summarizing the things we discussed!
cc @laurentsimon  @azeemshaikh38

[2022-06-30 23:14] laurentsimon commented on #2008
by "repository" you mean the repository with scorecard Action installed? I suppose you mean a dependency adds a new dependency which is a transitive dependency for the repository; and it's likely that deps.dev will not know about it because they run their scan every week or so. Is this what you meant?

[2022-07-01 21:23] laurentsimon opened #2016 "BUG: invalid number of commits reported"
Running scorecard on https://github.com/danielaparker/jsoncons/commits/master reports
[code]

Thera are a lot more commits in the repo, though. I would hav expected Scorecard to look at 30 commits (at least that's how it used to work)

[2022-07-01 21:36] laurentsimon commented on #2016
I'm running at HEAD. This seems to be a problem on most repos I'm testing

[2022-07-01 21:50] laurentsimon opened #2017 "Feature: Don't warn permission write with a GH page release action"
We should avoid warning users if the `contents:write` is to push to GH pages

[2022-07-01 21:53] laurentsimon opened #2018 "Feature: Allow unpinned in non-privileged workflows"
Workflows that have not secret and all their permissions set to read/none don't benefit from being pinned, and add burden for users to keep them up to date. We may want to relax the Token-Permission check, but making this a "bonus" point rather than flagging it

[2022-07-04 11:09] greg0ire opened #2022 "Please stop harrassing us"
We've got a few PRs from @naveensrinivasan , likely through some automation.

[We have a reviewed the first one](https://github.com/doctrine/DoctrineBundle/pull/1531#issuecomment-1144491338), but didn't get feedback on those reviews, and then, other PRs have been opened on our repositories, with the same issues.

I suggest changing the description on the MR to make it clear it was done with an aut

[2022-07-04 14:44] naveensrinivasan commented on #2022
I will do that. Thanks

[2022-07-05 12:07] nicholasdille opened #2024 "Release 4.4.0 does not offer tarballs for all platforms"
**Describe the bug**
Release 4.4.0 does not offer tarballs for all platforms. Instead for amd64, a binary is attached. This change makes it difficult to process updates automatically

**Reproduction steps**
Steps to reproduce the behavior:
1. Check assets of release 4.4.0
2. COmpare to assets of previous releases, e.g. 4.3.1

**Expected behavior**
Release 4.4.0 offers tarballs for all supported pl

[2022-07-07 00:40] aidenwang9867 commented on #2008
@naveensrinivasan in case u missed this message from Laurent :D

[2022-07-07 18:24] laurentsimon commented on #2024
You're correct, it's because I disabled Goreleaser for the amd64 build

[2022-07-07 19:33] spencerschrock commented on #967
I'd like to pick this feature up and I have a good grasp on how to do this the easy way with crane.

[2022-07-07 19:42] spencerschrock commented on #967
Sure. I had mentioned `crane` as it was in your initial comment, but I'll look into using Docker instead.

[2022-07-07 19:50] naveensrinivasan commented on #967
Cool! Thanks

[2022-07-07 19:55] laurentsimon commented on #967
There is also https://github.com/sethvargo/ratchet

@varunsh-coder is there an API you support that we could call?

[2022-07-07 20:41] varunsh-coder commented on #967
We don't as of now for Dockerfiles, but can easily add it. There is already code that gets SHA for a docker image and tag (for GitHub Action workflows). We can repurpose it for Dockerfiles.

Should this have a UI that you will point to, similar to what we have for workflows?
e.g. in addition to https://app.stepsecurity.io/secureworkflow/microsoft/vscode/ci.yml/main?enable=permissions,pin, we can h

[2022-07-07 20:58] laurentsimon commented on #967
I suppose we could do both. @spencerschrock Wdut?

[2022-07-07 21:43] spencerschrock commented on #967
If I'm understanding the issue correctly, just having an API directly callable from scorecard would be enough to populate the `remediation` struct you mentioned above. Then scorecard/allstar could use the results to warn/automatically remediate.

Personally, I think the generated diffs would be small enough where they could be included in scorecard's existing results without flooding the output. T

[2022-07-07 21:44] laurentsimon commented on #1874
Below is how I think we could augment the existing results to be more structured:

[code]

[2022-07-07 21:45] laurentsimon commented on #1874
/cc @raghavkaul

[2022-07-07 21:55] laurentsimon commented on #967
We don't always know if users will run scorecard in some more locked down environment (network disabled besides GitHub, etc), so a backup plan when connection fails would also be useful, I think: first try to get the sha, else provie a link to the StepSecurity website. Wdut?

+1 on remediation.

We have done for some results in https://github.com/ossf/scorecard/issues/1850.
This fist in the overal

[2022-07-07 22:18] spencerschrock commented on #967
Exploring the Docker path? Or using the StepSecurity API if it were created?

That seems like a reasonable backup to me. Or a link to the existing remediation markdown if no UI is created (essentially current behavior)

[2022-07-07 22:23] laurentsimon commented on #967
@varunsh-coder would you consider an API for us to get the result sha as well?

If this fails, we could fall back to providing the URL like we did for pinned permission check

[2022-07-07 22:56] azeemshaikh38 commented on #2024
Thanks for the report @nicholasdille. @laurentsimon definitely need to fix before we rollout the SLSA workflow. Assigning to you.

[2022-07-07 23:13] naveensrinivasan commented on #2024
This should be a bug in SLSA Workflow.

[2022-07-07 23:41] varunsh-coder commented on #967
Yes, sure. These are the tracking issues.
https://github.com/step-security/secure-workflows/issues/882
https://github.com/step-security/secure-workflows/issues/883

I will come back with a draft API definition and we can iterate over it before deciding on the final one.

[2022-07-07 23:41] laurentsimon commented on #2024
The fix I propose is to rename the final binary to something different. When we decide to fully migrate to the SSLSA builders, we'll rename them.

@nicholasdille Can you confirm that using binaries instead of tarballs/zip works? I think your problem is that it was inconsistent, so you script expected to have tarballs, or binaries, but not both. (Not all projects use tarballs so I think this would

[2022-07-07 23:57] laurentsimon commented on #1874
Feel free to comment here about your thought.
In terms of implementation, `Path` is already available (it's not exposed in cron or via `json` format but should be easy to add).

I would start the rest of the implementation by building support for each detail's `Outcome`. I have not thought a lot about implementation, but maybe having a  `details.yml` (like for `checks.yml`) where we list all detai

[2022-07-07 23:59] naveensrinivasan commented on #967
This could be a classic supply chain issue if `StepSecurity API` gets attacked then scorecard would be recommending the compromised SHA/ other things.

I don't see a reason to use an external API.

[2022-07-08 00:03] laurentsimon commented on #967
By API we meant REST API. We do recommend StepSecurity already, so this would not change the trust, correct?

[2022-07-08 03:04] naveensrinivasan commented on #967
Recommending is different from actually providing the solution( providing the SHA)

If malicious user attacks StepSecurity and if we automate based on that one API it becomes almost like Stuxnet( Supply chain security issue)

Scorecard should be cautious.

[2022-07-08 06:18] nicholasdille commented on #2024
Thanks for the update. Rolling out an SLSA workflow sound terrific :-) Verifying the SLSA provenance is already on my list. Unfortunately, very few projects have started to implement this.

@laurentsimon Binaries as well as tarballs are fine. I can even manage if they are mixed for different platforms. But consistency across releases would be awesome :-)

[2022-07-08 15:25] laurentsimon commented on #967
Stepping back for a moment. The risk here is a hash is changed. This allows an attacker to perform a rollback attack pointing to a previous genuine container, but not achieve more than that. So an attacker would use this to push a previously vulnerable image that they can exploit or perform a DoS (e.g., by supplying a random hash), but not direct RCE. It would say it's low risk. But feel free to d

[2022-07-08 15:46] laurentsimon commented on #2024
I will fix the current release by adding the tarball.

@azeemshaikh38 @naveensrinivasan is there a reasons we're using compressed assets in our release? Does GH have limitation on sizes. Otherwise a simple solution would be to change the GoReleaser config to output binaries instead of zipped tarballs. (tarballs are useful if we output multiple binaries per OS/Arch, but we don't need it)

@nicholas

[2022-07-08 16:19] laurentsimon commented on #2024
fyi, I've fixed the existing release by uploading a tarball.

I'll wait to see what @naveensrinivasan and @azeemshaikh38 think w.r.t using binaries in the GoReleaser config

[2022-07-08 16:54] laurentsimon opened #2027 "Feature: stale maintainers"
A new check or as part of an existing check, it would be useful to alert when maintainers have become inactive and could be removed from the maintainers. This is likely to require a PAT with the relevant permissions.

/cc @jeffmendoza

[2022-07-08 16:58] laurentsimon opened #2028 "Feature: map checks to CIS supply-chain security benchmark"
See this guide https://github.com/aquasecurity/chain-bench/blob/main/docs/CIS-Software-Supply-Chain-Security-Guide-v1.0.pdf

It may be useful to map our checks to this framework

[2022-07-08 18:08] laurentsimon commented on #2024
yep that's something we'd like to support at some point for the Go builder, we have not prioritized it. I think we need to support multiple builds first. In the meantime, the generic generator will sidestep this problem by letting users add provenance to whatever they want.

Agreed. Actually I was wondering whether the provenance should be on the full zip / tarball file, or inside.. or both

[2022-07-08 22:58] naveensrinivasan commented on #2028
We should discuss about this in our bi-weekly sync.

[2022-07-08 23:59] laurentsimon commented on #2028
I don't know anything about the benchmark or its popularity

[2022-07-09 04:10] Spikebady opened #2032 "BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-07-09 12:54] #2032 closed

[2022-07-11 15:54] gyliu513 opened #2036 "What does the score means?"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
From https://github.com/ossf/scorecard#scoring

<img width="808" alt="image" src="https://user-images.githubusercontent.com/4461983/178305566-db51ce22-9d58-4496-8173-03324373f920.png">

I was confused by the description here:

- `Each individual check returns a score of 0 to 10, with 10 representing th

[2022-07-11 16:03] #2036 closed

[2022-07-11 16:12] gyliu513 commented on #2036
@azeemshaikh38 I was still confused for the meaning of the score value: Does 10 means critical risk or good? Based on my test, I think higher score means less risk.

But why following desription?

https://user-images.githubusercontent.com/4461983/178305566-db51ce22-9d58-4496-8173-03324373f920.png

[2022-07-11 18:15] spencerschrock commented on #967
I've included a draft PR that shows my current changes. I did experiment with `crane` and didn't see any additional dependencies brought in, or at least the `go.mod` and `go.sum` files didn't change.

Is this the correct place for changes? I also thought `remediation/remediations.go` seemed like a place I could introduce changes, but I'm not as familiar with where that behavior shows up.

[2022-07-11 18:26] laurentsimon commented on #967
+1. This is a recent addition. Currently it's just used sparsely in pinned and permission checks. To make it work:
1. Add https://github.com/ossf/scorecard/blob/main/checks/pinned_dependencies.go#L44-L47 in the check
2. Call it in the Warn function, see example https://github.com/ossf/scorecard/blob/main/checks/evaluation/pinned_dependencies.go#L86
3. It will be automatically reflected in SARIF fo

[2022-07-11 20:47] gyliu513 commented on #2036
@azeemshaikh38 how about the sub scores?

[2022-07-12 13:35] gyliu513 opened #2041 "score meaning is not right in document"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
From https://github.com/ossf/scorecard#scoring

<img width="808" alt="image" src="https://user-images.githubusercontent.com/4461983/178305566-db51ce22-9d58-4496-8173-03324373f920.png">

I think the above info is not right, as higher values means less risk, so 10 means no risk

**Expected behavior**
A c

[2022-07-12 13:36] gyliu513 commented on #2041
Should not it be as following?

- “Critical” risk checks are weighted at 0
- “High” risk checks are weighted at 2.5
- “Medium” risk checks are weighted at 5
- “Low” risk checks are weighted at 7.5

[2022-07-12 13:37] gyliu513 commented on #2041
This is the score that I get from open-telemetry:

[code]

[2022-07-12 14:09] naveensrinivasan opened #2042 "Enable DCO"
**Is your feature request related to a problem? Please describe.**
Enable DCO for scorecard and related repositories.

https://lists.openssf.org/g/openssf-tac/topic/92319698
[code]
cc @david-a-wheeler

[2022-07-12 18:57] spencerschrock commented on #2024
is the tarball correct? `scorecard_4.4.0_linux_amd64.tar.gz` is only
32.9 KB. I don't think the executable is included, just a `scorecard-linux-amd64.intoto.jsonl` file

[2022-07-12 19:14] azeemshaikh38 commented on #2024
Good point, might be something to discuss with the SLSA folks. IIUC, if the compression step from zip can be part of the provenance, then just a single provenance outside the tarball should be enough.

[2022-07-12 21:42] naveensrinivasan commented on #1056
A design document for this https://docs.google.com/document/d/13Uy6PGNudL9ha-LtSJGLmdBFF1qj6gGoPbs6WyxHy8A/edit?usp=sharing

To access the document please join the google group https://groups.google.com/g/ossf-scorecard-dev

[2022-07-12 21:43] naveensrinivasan commented on #1056
A design document for this https://docs.google.com/document/d/13Uy6PGNudL9ha-LtSJGLmdBFF1qj6gGoPbs6WyxHy8A/edit?usp=sharing

To access the document please join the google group https://groups.google.com/g/ossf-scorecard-dev

[2022-07-13 01:06] laurentsimon commented on #2041
score is how well the repo performs to mitigate risks: the highest the score, the better; so the lower the risk.

[2022-07-13 01:26] varunsh-coder opened #2047 "Reproduce build badge for scorecard"
As part of increasing confidence that the build artifact is reproducible (and has not been tampered during build), would you like to add a reproducible build badge to Scorecard?

I believe the build for Scorecard is either reproducible or should be easy to make it reproducible by updating the build flags.

For https://github.com/step-security/harden-runner, an issue was created to do this to incre

[2022-07-13 01:31] ethanent opened #2048 "Move application of Binary Artifacts Gradle Wrapper Action exception into checks/evaluation/"
**Is your feature request related to a problem? Please describe.**
This is where the feature should be implemented so that log messages can reflect the exception, rather than having it be an opaque process for users. It would mean that [raw/binary_artifacts](https://github.com/ossf/scorecard/blob/main/checks/raw/binary_artifact.go) returns the expected files, without special exclusions.

**Describ

[2022-07-13 01:53] gyliu513 commented on #2041
@laurentsimon how about using https://github.com/ossf/scorecard/issues/2041#issuecomment-1181770383 to fix

https://github.com/ossf/scorecard#scoring

<img width="808" alt="image" src="https://user-images.githubusercontent.com/4461983/178305566-db51ce22-9d58-4496-8173-03324373f920.png">

[2022-07-13 15:06] varunsh-coder opened #2051 "BUG: Pinned-Dependencies results do not show up in some scorecard-action runs"
**Describe the bug**
I have observed that Pinned-Dependencies results do not show up in some scorecard-action runs.

**Reproduction steps**
Steps to reproduce the behavior:

Here are some recent runs of scorecard-action where Pinned-Dependencies results do not show up.
1. https://github.com/step-security/secure-workflows/runs/7322716505?check_suite_focus=true#step:4:386
2. https://github.com/proje

[2022-07-13 15:52] mathew-horner commented on #1056
@naveensrinivasan

This is awesome to see!

I read through your design document. Is that API ready to be used _now_? The example request in the document seems to work, and I tried it out with a few other repos that also seem to work:

https://ossfscorecard.dev/v2/github.com/vercel/next.js/result.json
https://ossfscorecard.dev/v2/github.com/clap-rs/clap/result.json
https://ossfscorecard.dev/v2/gith

[2022-07-13 17:27] naveensrinivasan commented on #1056
@mathew-horner Thanks! The API is not yet ready. We are discussing this today. We are hoping to make this available soon! This was a prototype.

[2022-07-13 17:58] naveensrinivasan opened #2052 "Use https://github.com/dorny/paths-filter for GH Actions"
**Is your feature request related to a problem? Please describe.**
Right now our GH Actions run for every change and we are being throttled by GH API. We could use this https://github.com/dorny/paths-filter to filter out when each of these actions runs based on code changes.

[2022-07-13 18:03] naveensrinivasan opened #2053 "Move to Renovate instead of GH Dependabot"
**Is your feature request related to a problem? Please describe.**

- We have lots of PRs from Dependabot. This makes it harder to maintain renovate seems to have an option to combine many of these into 1 single PR.
- Our actions run into rate limiting because at the moment we have about 10-12 Dependabot PRs and every time we merge one we run into every other PR rebase and in turn that causes all

[2022-07-14 10:29] HonkingGoose opened #2055 "Capitalize proper nouns like Dependabot, Renovate, and GitHub"
Proper nouns should be capitalized properly.

Suggested replacements on `*.md` files:

- `dependabot` -> `Dependabot`
- `renovatebot` -> `Renovate` or `Renovate bot`
- ` github ` -> ` GitHub `

[2022-07-14 11:13] naveensrinivasan commented on #2055
Thank you! Would you like to do a PR?

[2022-07-14 11:21] HonkingGoose commented on #2055
I'll let you guys do it. 😉

[2022-07-14 17:45] laurentsimon commented on #2051
Thanks for the report. The SARIF generated show no PinnedDependency entry, even though the scorecard CLI does.
I'll take a look. Anything special about the token you're using?

Maybe we should start dumping the results as JSON as well in the log, to help troubleshooting

[2022-07-14 17:49] varunsh-coder commented on #2051
Thanks @laurentsimon!

For all of the 3 workflow runs I mentioned in the issue, the workflows use `GITHUB_TOKEN`. I am assuming the scorecard-action uses `GITHUB_TOKEN` when `PAT` is not specified. The 3 workflows do not specify `PAT`.

[2022-07-14 18:02] varunsh-coder commented on #2051
Another possibly related issue is that in first 2 of these workflow runs, the token permission results show up, but the remediation section does not have deep link to app.stepsecurity.io.

[2022-07-14 18:41] laurentsimon commented on #2051
Yeah I remember seeing something strange like this a while ago too.
I remember there was a problem in the tagging we did in our staging builds, so it could happen that we're using a wrong scorecard binary. I doubt it.. but we could verify by extracting the binary from the container we use.

Mhh, I checked your logs:
first link: Scorecard v4.3.1
second link: v4.3.0-36-g70d045b
third link: v4.3.1
la

[2022-07-14 19:05] varunsh-coder commented on #967
@spencerschrock this is an interesting issue. I had not thought about it until I looked at your PR.

I am trying to understand this based on a real scenario. If you see this [Dockerfile](https://github.com/madnuttah/unbound-docker/blob/main/unbound/Dockerfile) as an example, it is used to build multi architecture images.

This is one of the workflow runs.
https://github.com/madnuttah/unbound-docke

[2022-07-14 19:12] laurentsimon opened #2058 "Feature: Support for GCB in the Packaging check"
We only support GH action in the check. It'd be useful to support other builders, like GCB.  Seems easy enough to parse the yaml file and check the step's name, https://cloud.google.com/artifact-registry/docs/configure-cloud-build

This is pretty useful to help with prioritization of SLSA adoption too. Once we know *where* repositories build, we can target them for GH Action or GCB SLSA builders o

[2022-07-14 19:42] raghavkaul opened #2059 "Feature: Suggest possible GitHub remotes when using --local"
**Is your feature request related to a problem? Please describe.**
As a maintainer, when cloning a GitHub repo and running scorecard against it using the flag `--local=.`, several checks that are only possible on the GitHub repo are skipped. However, I would still like to get information about an 'all-inclusive' score, using both local and remote info.

This would be helpful particularly when work

[2022-07-14 19:52] azeemshaikh38 commented on #2059
See #1709. We could use `go-git` here to get any git-related context for local repos. Would be a helpful improvement to the tool if you'd like to tackle this.

[2022-07-14 20:19] laurentsimon opened #2060 "BUG: remove recurring fuzzer in Fuzzing results"
see `curl -s https://ossfscorecard.dev/v2/github.com/ossf/scorecard/result.json | jq`

[code]

We need to show a single `GoBuiltInFuzzer`.

@aidenwang9867 assigning to you.

[2022-07-14 20:45] #2041 closed

[2022-07-14 21:04] singhsaurabh commented on #2055
In `./docs/checks.md` following lines need update
====
in line number 206
- determines whether the most recent (~30) commits have a _Github_-approved review

in line number 263
- logging _github_ context and secrets, or use of potentially untrusted inputs in scripts.

in line number 279
- can add their own content to certain _github_ context variables that are considered

in line number 294
- spec

[2022-07-14 21:06] naveensrinivasan commented on #1729
@david-a-wheeler  @SecurityCRob Here is the follow-up on today's Scorecard meeting.

We would like to start using the bot account.

[2022-07-14 21:06] singhsaurabh commented on #2055
@naveensrinivasan can I take this issue and make the changes and create PR?
Thank You

[2022-07-14 21:59] spencerschrock commented on #967
**TL:DR**: My understanding is the same as yours: there is some hash which is platform independent. I think we can just use universal hash `crane` provides by default as it seems to work on all platforms. I'm not sure where it originates from, as it's not in the manifest (I tried to grep it `docker manifest inspect --verbose golang | grep 9349ed889adb906efa5ebc06485fe1b6a12fb265a01c9266a137bb13525

[2022-07-14 22:46] singhsaurabh commented on #2055
@naveensrinivasan Please review [PR-2061](https://github.com/ossf/scorecard/pull/2061/). I resolved the conflicts but current PR has my older changes also which are made with respect to the [issue-1534](https://github.com/ossf/scorecard/issues/1534). Looks like something I didn’t do correctly while committing new changes.
Please help.
Thank You

[2022-07-14 22:50] varunsh-coder commented on #967
Thanks @spencerschrock for all the info and the experimentation!

I ran

[code]

and got the same hash as was in the build log - `sha256:92d80bce25c9a2f0660fa7bb66404509ea3c50cdae60e6f21abd8772e2a8139c`. So it looks like there is a platform independent hash and it works across platforms.

I am still curious about how this hash is generated. Because we might be missing some edge case and if develop

[2022-07-14 22:50] spencerschrock commented on #967
So it's due to a Manifest List. It's optional, so I'd be curious to see what `crane` does for an image without one.
https://docs.docker.com/registry/spec/manifest-v2-2/#manifest-list

the `golang` image does have one though, here is some abbreviated output
[code]

[2022-07-14 23:07] strawberry-baked-alaska commented on #1729
Adding @theheels for assistance here!

[2022-07-15 19:13] aidenwang9867 commented on #2060
In the fuzzer appending `for` loop in func [raw.checkFuzzFunc](https://github.com/ossf/scorecard/blob/main/checks/raw/fuzzing.go#L102-L114), fuzzers of each programming language will be reported only **once** along with its files (indicating those fuzzer positions) when the returned `usingFuzzFunc == true`.

I also pulled the latest scorecard commit and ran the CLI `go run . --repo ossf-tests/scor

[2022-07-15 19:27] laurentsimon commented on #2060
maybe the curl results above is using an older version then? Hers's what it shows:
[code]

[2022-07-15 20:32] aidenwang9867 commented on #2060
Ah, there are a hell lot of go fuzzers :/

I don't know which version it uses, but I haven't modified the main logic of `checkFuzzFunc` after PR #1979. In the result, it seems in `raw.Fuzzing`, the checkFuzzFunc was called several times - but this shouldn't have been possible since I only define it to be called once.

A possible reason might be the `ListProgrammingLanguages()` API reports multiple

[2022-07-15 20:49] aidenwang9867 opened #2062 "BUG: potential missing fuzzing results when ListProgrammingLanguages() returns an error"
**Describe the bug**
The fuzzing check might return **empty** when `RepoClient.ListProgrammingLanguages()` fails and an error occurs, but has already found checking results  of `ossFuzz` or `CFLite`. See the code logic [here](https://github.com/ossf/scorecard/blob/main/checks/raw/fuzzing.go#L96-L98).

**Reproduction steps**
I haven't tested this with cases because the call of `RepoClient.ListProgr

[2022-07-15 20:50] laurentsimon commented on #2060
/cc @naveensrinivasan

Closing this issue because the scorecard LCI does not have this problem, so it must be in the way the data was dumped. Thanks @aidenwang9867 for checking!

[2022-07-15 20:51] aidenwang9867 commented on #2060
Awesome! Thank you for bringing this issue up!

[2022-07-15 20:59] aidenwang9867 commented on #2062
The possible reasons for the `ListProgrammingLanguages` to fail can be traced to the langauge [setup()](https://github.com/ossf/scorecard/blob/main/clients/githubrepo/languages.go#L46) func.

If (1) the request to the GitHub API fails or (2) parsing the response fails, the setup() func will wrap the error and return it all the way back to `ListProgrammingLanguages`. That said, a possible error sit

[2022-07-15 21:45] aidenwang9867 commented on #2062
Actually, I haven't seen it fail in my previous testing, and the `ListProgrammingLanguages` is only used by the fuzzing check now, so I don't think its failure will affect the other checks.

If the HTTP request to the GH Language API fails and thus leads to the `ListProgrammingLanguages` failing, the only check that will be affected should be the Fuzzing check. My concern is if the language API fa

[2022-07-15 22:02] laurentsimon commented on #2062
It's probably fine leave as-is then. It's good to return an error, rather than ignore it and use the incomplete results. Feel free to close the bug if your agree.

[2022-07-15 22:03] aidenwang9867 commented on #2062
thank you!

[2022-07-15 22:03] #2062 closed

[2022-07-15 22:19] aidenwang9867 opened #2063 "Feature: use the BigQuery dataset to supplement null source repo URLs for dependency checks"
**Is your feature request related to a problem? Please describe.**
In v0 of the DepedencyDiff API (issue #2008), we skip those dependencies without a srcRepo URL for the scorecard checks, but those dependencies might be important.

**Describe the solution you'd like**
Use the BigQuery dataset to retrieve the srcRepo given the dependency's {pkg_ecosystem, pkg_name, pkg_version}, to supplement those

[2022-07-15 22:35] aidenwang9867 opened #2064 "Feature: use the Scorecard REST API to retrieve the Scorecard result for dependency-diffs"
**Is your feature request related to a problem? Please describe.**
In v0 of the Dependency-diff API (issue #2008), we run scorecard checks on every changed dependency to report its check results - and it could be very time-consuming and might easily reach the rate limiting when there is a large number of dependency changes.

**Describe the solution you'd like**
Use the incoming Scorecard REST API

[2022-07-15 22:45] aidenwang9867 opened #2065 "Feature: replace the head by commitSHA/version tag to specify a version when checking the dependency-diff"
**Is your feature request related to a problem? Please describe.**
In v0 (issue #2008, PR #2030, #2046, #2077), we use the default headSHA of the dependency repo to check and report its security state. However, this is somehow imprecise since users use different versions of dependencies (so it doesn't have to be the version in the head commit).

**Describe the solution you'd like**
Use the incomin

[2022-07-15 22:51] laurentsimon commented on #2051
Could you try running `uses: laurentsimon/scorecard-action@test/bug-2051` or `ossf/scorecard-acction@main`. It should print both the JSON and SARIF format. I suspect the pinned dependency is catching an error, and we ignore errors when creating the SARIF format.

Thanks

[2022-07-15 22:54] laurentsimon commented on #2051
follow-up: if you use my branch, the workflow will eventually fail because of the new badge code. (Just Fyi, it's normal and s you can ignore ). The `@main` should succeed.

[2022-07-16 14:42] varunsh-coder commented on #2051
Thanks @laurentsimon!

I ran using both.
This is run using `laurentsimon/scorecard-action@test/bug-2051`
https://github.com/step-security/secure-workflows/runs/7371135468?check_suite_focus=true

This is run using `ossf/scorecard-action@main`
https://github.com/step-security/secure-workflows/runs/7371108796?check_suite_focus=true

I can see this error for pinned dependencies:
`{"details":null,"scor

[2022-07-16 14:53] varunsh-coder commented on #2051
Looks like it tries to fetch default branch using GraphQL, which is failing...

https://github.com/ossf/scorecard/blob/70d045b9ef00e7171ce3950aca38eef6ea4d7308/clients/githubrepo/branches.go#L143

Also, for token perms, this error does not return, but continues using earlier logic. This explains why it does not show the deep link, but does show the earlier remediation info...

https://github.com/o

[2022-07-17 17:13] naveensrinivasan opened #2066 "Scorecard API Enhancements"
**Is your feature request related to a problem? Please describe.**
Scorecard API Enhancements

- Move all the existing BigQuery scans into FireStore

- After/During the weekly scans, store the result in Firestore

- Have an endpoint in Scorecard to Include scan date as an API

- When the firestore data is available along with the scandate API, users can request for Scan from a particular repositor

[2022-07-17 17:15] naveensrinivasan commented on #1056
We have agreed to work on this as a feature we had discussed in our Bi-Weekly Scorecard meeting.

[2022-07-18 08:53] #2024 closed

[2022-07-18 16:28] laurentsimon commented on #2024
We may generate binaries instead of zip in the future. If we do that it will break your setup. Since we're still experimenting with SLSA, I wanted to. give you a notice.

[2022-07-18 17:44] nicholasdille commented on #2024
Thanks for the heads up. Scorecard is treated like a dependency. Any update is automatically tested. If it fails to install I can take a look. So any changes to the release assets will show up so I can fix the installation for a new version. So... No worries 😀

[2022-07-18 17:52] spencerschrock commented on #2016
Scorecard still looks at 30 commits (or whatever `commitsToAnalyze` is set to). The number being reported refers to the number of commits in the 30 pulled which have an associated PR. If there is no associated PR, the commit is skipped which leads to the undercounting.

[code]

The exact numbers depend on the repo when run. When I run against the repo you mentioned today, 30 commits are analyzed a

[2022-07-18 18:19] laurentsimon commented on #2016
30 commits overall is fine, and that's what we've been doing.
I think I got thrown off by the message. It should say `X out of Y commits are checked with a SAST tool`

I recall there were some problems with graphQL where we may be looking at fewer (than 30 ) commits if there are not enough commits in the lest 3 (?) months or so.

@azeemsgoogle do you remember the exact problem and whether it has b

[2022-07-18 18:26] laurentsimon commented on #2051
Great, so that's the reason. It looks like graphQL is not able to use the default GITHUB_TOKEN to retrieve the branch setting !? @azeemsgoogle any thoughts?

definitely related, because we need the query the default branch to generate the link.

[2022-07-18 18:42] #1815 closed

[2022-07-18 19:49] varunsh-coder commented on #2051
For the token permissions scenario, I was looking at the latest code.

If I look at the code for `v4.4.0` of `v4.3.1`, the code is different. Please see this (`v4.4.0`):

https://github.com/ossf/scorecard/blob/e42af756609b2cde6d757fd45ea05ddf0016ff62/checks/permissions.go#L86-L94

I am not sure how to interpret this w.r.t remediation deep link, but it does not immediately return an error like the

[2022-07-19 17:56] #967 closed

[2022-07-19 21:19] aidenwang9867 opened #2078 "Feature: map the current Dependencydiff package naming convention (GitHub) to OSV"
**Is your feature request related to a problem? Please describe.**
In v0 of the API/CLI Dependencydiff (PR #2046/PR #2077), the formats (convention) of dependency fields like the package `ecosystem` (GH uses `pypi` for python pkgs whereas OSV uses `pip`) follow the GitHub naming convention. Examples:
[code]

**Describe the solution you'd like**
By @laurentsimon: since we may use a different Depend

[2022-07-20 17:41] aidenwang9867 opened #2080 "Feature: facilitate the Scorecard run for the dependency-diff API/CLI"
**Is your feature request related to a problem? Please describe.**
The v0 of the Dependencydiff API/CLI (PR #2046/PR #2077) runs pretty slow since we are running scorecard checks on every dependency with a valid srcRepo URI. The REST Scorecard API will be a good solution, see issue #2064. However, before that comes out in production, is there anything else we can do for now?

**Describe the soluti

[2022-07-20 20:46] laurentsimon commented on #2080
in general running in parallel is useful now.
If the REST API can return result for several dependencies at once, then we won't need it for the integration with REST API. @azeemsgoogle what's the plan?

I would suggest running the current calls to scorecard in parallel, since it's very little code to change.

[2022-07-20 21:45] azeemshaikh38 commented on #2080
Not a good idea to run Scorecard in parallel (in the case where Scorecard is being calculated and not retrieved from some pre-computed API) - the token usage can get pretty expensive and will likely trigger GitHub's secondary rate limits.

There is no plan for such batched access. Users will need to do this on their end if needed.

[2022-07-21 11:27] edwardsph opened #2085 "Feature: Detect Sonar as SAST via pom.xml"
Can you add support for detecting the use of SonarQube as well as SonarCloud. This would tend to be used on private repositories when people run Sonar in-house. For Java projects you would see this running as part of the Maven build or similar.

[2022-07-21 13:14] naveensrinivasan commented on #2085
Thanks, Would you like to a PR for this?

[2022-07-21 13:16] edwardsph commented on #2085
I had a look at the code and wasn't sure what is was doing - I don't know Go

[2022-07-21 20:43] aidenwang9867 opened #2087 "Feature: Optimize&refactor the duplicated work / logic modules in the GetDependencyDiffResult API"
**Is your feature request related to a problem? Please describe.**
1. The different implementations of initializing clients in the original Scorecard run and the dependency-diff API (PR #2046):
    - The original one: the [initialization logic](https://github.com/ossf/scorecard/blob/096cbd0622cc28ba321f920fd3ab833f5cdf81ab/cmd/root.go#L92-L135) for the scorecard check runner is to simply **initial

[2022-07-21 21:39] aidenwang9867 commented on #2080
Close this issue since there are no good optimization solutions for this. Let's keep it as an experimental feature for now ;-)

[2022-07-21 21:39] #2080 closed

[2022-07-22 21:14] laurentsimon commented on #2085
@edwardsph is the setup using a config file committed to a repository?
Do you use https://github.com/SonarSource/sonarqube-scan-action?

The only way scorecard can detect it is if _something_ is visible in the repository: files, directories, settings, etc

If it's only on a developer's machine, scorecard won't be able to detect it.

Can you tell us more how it works?

[2022-07-23 02:37] #1056 closed

[2022-07-23 22:34] naveensrinivasan commented on #1824
@brianrussell2  A friendly ping. We haven't done much about this.

[2022-07-25 17:51] #2078 closed

[2022-07-25 18:31] laurentsimon commented on #2051
I managed to reproduce the problem, I think. AFAICT, it happens with a PAT only:
[code]

@varunsh-coder can you confirm you're using a PAT? The required permission is the same needed for the branch protection setting. It should work with the default GITHUB_TOKEN.
I'll check whether the equivalent REST API works with the PAT I use.

[2022-07-25 18:40] laurentsimon commented on #2051
the default branch can be queried with the same PAT using the REST API `/repos/org/repo | jq -r '.default_branch'`

@azeemsgoogle what do you think of using the REST API to get the default branch?

We also nee to have better tests for this; it was not caught :/

[2022-07-25 19:40] varunsh-coder commented on #2051
Hi @laurentsimon I am not using PAT. Here is the workflow: https://github.com/step-security/secure-workflows/blob/main/.github/workflows/scorecards.yml

The other two workflows I had reported in the initial bug report are also not using PAT.
https://github.com/project-zot/zot/blob/main/.github/workflows/scorecards.yml
https://github.com/WeblateOrg/weblate/blob/main/.github/workflows/scorecards.yml

[2022-07-25 19:45] laurentsimon commented on #2051
Interesting. I was not able to reproduce the problem with the default token.

Correct.

[2022-07-25 19:48] laurentsimon commented on #2051
If you fork the repo, do you still see the same error message? I'm trying to figure out a way to reproduce the problem... would forking it be enough?

Could you try run again with `laurentsimon/scorecard-action@test/bug-2051`? I added some more printf.

[2022-07-25 19:52] varunsh-coder commented on #2051
I ran it with the action you suggested. here is the log:
https://github.com/step-security/secure-workflows/runs/7507610419?check_suite_focus=true

See this error:
https://github.com/step-security/secure-workflows/runs/7507610419?check_suite_focus=true#step:4:162
`end remediation.Setup: error during branchesHandler.setup: internal error: githubv4.Query: Resource not accessible by integration`

[2022-07-25 19:59] laurentsimon commented on #2051
Thanks. So it's the same error message I got.
I've tested with workflow_dispatch only. Ill try with push: I think that's the culprit. push trigger has restricted access to permissions (read all), I bet this is the problem.

[2022-07-25 20:05] laurentsimon commented on #2051
No problem on `push` / `pull_request` trigger event on my end with the GITHUB_TOKEN.

[2022-07-25 22:35] singhsaurabh commented on #2055
Updated the changes in `checks.yaml` file and build the doc.

<img width="1034" alt="Screenshot 2022-07-25 at 23 18 28" src="https://user-images.githubusercontent.com/6647276/180885573-c29511c7-e7f3-47e1-9e29-e9712d15326d.png">

Please review the PR https://github.com/ossf/scorecard/pull/2061
Thank You

[2022-07-25 23:15] naveensrinivasan opened #2092 "Feature- Get release information in the Cron Job"
**Is your feature request related to a problem? Please describe.**
Fetch the last release for a given repository and scan it as part of the cronjob.

In the discussion for the Scorecards API in our Bi-Weekly meeting, some of the participants were asking if the API will provide release-based Scorecard results. We are going to provide CommitSHA-based scorecard results.

https://github.com/ossf/score

[2022-07-26 01:41] laurentsimon opened #2093 "Feature: Add pip-audit Action in SAST tools"
https://github.com/trailofbits/gh-action-pip-audit/releases/tag/v1.0.0

worth considering as a SAST tool, I suppose.

Wdut?

[2022-07-27 19:05] aidenwang9867 opened #2098 "BUG: The Scorecard fuzzing check sometimes has recurring extra results"
**Describe the bug**
The Scorecard fuzzing check reports recurring extra `GoBuiltInFuzzer` in the fuzzing results and its details.

**Reproduction steps**
This was initially brought up in issue #2060. Now it also shows in https://deps.dev/go/github.com%2Fgabriel-vasile%2Fmimetype/
[code]
and in the details:
[code]

**Expected behavior**
It should've only reported one `GoBuiltInFuzzer` and maybe mu

[2022-07-27 21:20] jeffmendoza opened #2102 "Feature: Binary artifacts check should allow signed binaries"
Feature request: in a similar vein as #1815 Scorecard Binary Artifacts should allow signed files. See below

---
[@randomascii](https://github.com/randomascii) commented [23 minutes ago](https://github.com/ossf/allstar/issues/243#issue-1320110808)
My github project necessarily contains five binary files that come from a Microsoft SDK. They are needed for proper operation of the project. Removing t

[2022-07-28 03:10] laurentsimon commented on #2102
sounds reasonable. @randomascii how does verification work? Could you give us some pointers how scorecard could verify it's a Microsoft-signed binary?

Also, are there conventions for the filename: `.exe`, `.dll`, others?

[2022-07-28 14:19] randomascii commented on #2102
Good question. I don't know details of how the signatures are stored. I know that .exe and .dll files are probably the two most common file extensions that would be signed, but other file types can also be signed (.msi at least). I use sigcheck.exe from sysinternals (https://docs.microsoft.com/en-us/sysinternals/downloads/sigcheck) to verify the signatures - it says whether they are signed, and wh

[2022-07-28 14:35] naveensrinivasan commented on #2102
There is lot to unpack here with validation of Signed Windows binaries without Windows https://blog.trailofbits.com/2020/05/27/verifying-windows-binaries-without-windows/

cc @woodruffw

[2022-07-28 14:48] woodruffw commented on #2102
Yep. Windows binaries are usually signed with Authenticode, which is PKCS#7 formatted with some vendor-specific tweaks.

*uthenticode* works, but an important caveat: it doesn't do full chain verification. It *could*, in theory, if someone were to reverse engineer Windows's trust store and export whatever default root certs are in it, but I haven't undertaken that task 🙂. For the time being, all *

[2022-07-28 14:54] naveensrinivasan commented on #2102
Great! Thanks! Does _uthenticode_ have an API that we can call from the `go` code?

[2022-07-28 15:01] woodruffw commented on #2102
I don't know very much about Go -- can you call C++ APIs from it? If so, then yes. Otherwise, you might need to write a small C API shim around the public C++ API and use cgo (I think that's what it's called?)

[2022-07-28 15:09] woodruffw commented on #2102
Specifically, the C++ API is currently documented here: https://trailofbits.github.io/uthenticode/

[2022-07-28 15:39] naveensrinivasan commented on #2102
👍

[2022-07-28 15:50] laurentsimon commented on #2102
Thanks @naveensrinivasan and @woodruffw I wish there was a GHA that validates these, like for Java wrapper https://github.com/ossf/scorecard/issues/2048

Maybe that'd be easier? Would @trailofbits be interested in packaging up the code into a GHA?

For root CAs, any ideas how often I don't know how often these CA keys are rotated; I assume not very often...?

/cc @di

@raghavkaul there is some str

[2022-07-28 15:58] woodruffw commented on #2102
We have one here: https://github.com/trailofbits/winchecksec-scan

That action runs all of Winchecksec, which includes a bunch of other property tests on the binary (e.g. for ASLR, DEP, etc.).

We don't have a specific use case that would require use to break just uthenticode out into its own GitHub Action, though, and that isn't scoped in any current work we have.

I don't have any strong numbers

[2022-07-28 16:04] laurentsimon commented on #2102
That's great. There is support for enabling `authenticode` on its own, so scorecard could check for the presence of this action and this argument passed. It does not solve the full chain validation. I suppose it's pretty hard to do anything beyond  what your tool already does.

[2022-07-28 16:11] woodruffw commented on #2102
Yep -- I think the best we could do is opportunistically detect the local machine's trust store (assuming it's a Windows host) and figure out how to reuse it, but that presents its own problems (both in terms of UX and user expectations, as well as increased ambiguity about the verification we're performing).

[2022-07-28 16:16] laurentsimon commented on #2102
Got it. Do you know if the GitHub Windows runners have a "standard" CA store? Could we use one of the utilities shipped with Windows to perform the verification for us?

[2022-07-28 16:21] woodruffw commented on #2102
Yep, I think so -- the builtin `signtool` or `certutil` should do the trick.

[2022-07-28 16:24] laurentsimon commented on #2102
Brilliant, thanks for the information. Should this functionality live in the trailofbits action? It seems to be the best place, but I don't know how much work would be involved or who should do the implementation. Let us know, thanks

[2022-07-28 16:31] woodruffw commented on #2102
That action was mostly a proof-of-concept, so I'm weary of introducing too much more functionality to it 😅. It also runs on Linux with a Docker container, so retrofitting it for Windows would likely be roughly as much effort as doing things "right" from scratch (a Windows runner + using `signtool` directly instead of uthenticode).

I think this is probably a good candidate for a new GitHub Action,

[2022-07-28 16:55] laurentsimon commented on #2102
Thanks for the detailed explanation. Totally understand.

Does everyone else think the right direction is to have a separate GHA ,like the Java wrapper GHA?

Or do you think scorecard should handle it itself?

/cc @ethanent

[2022-07-28 17:37] naveensrinivasan commented on #2102
👍 +1

[2022-07-28 18:26] #2098 closed

[2022-07-28 18:56] naveensrinivasan commented on #1729
Friendly ping.

[2022-07-28 20:11] ethanent commented on #2102
I think having Scorecard handle the checking of such binaries might too significantly expand the burden on Scorecard maintainers, but it is tempting because it doesn't require configuration on the part of repo owners being checked.

For the GHA check solution, there is some complexity that arises from figuring out which files have been verified. We could use the annotations provided by the relevan

[2022-07-28 20:20] artis3n commented on #1311
Yup, this is what I'm seeing with Scorecard and https://github.com/digitalocean/terraform-vault-github-oidc/blob/main/.github/workflows/pr_target.yml . Dangerous `pull_request_target` and checking out the pr ref, but it is gated by an Environment that requires a manual approval trigger before running.

[2022-07-28 20:51] laurentsimon commented on #1311
this should not be a very one to fix. Interested in giving it a try?

[2022-07-28 21:21] artis3n commented on #1311
Would that be around https://github.com/ossf/scorecard/blob/main/checks/raw/dangerous_workflow.go#L164 - check if `environment:` is present in job, and if so, check repo settings for a required reviewer protection rule on the environment?

[2022-07-28 21:27] ethanent commented on #2102
Actually, on the topic of the solution whereby Scorecard verifies binaries itself, I don't think it's the best because it would mean Scorecard is just verifying the files at a point in time, rather than checking that the project has a process in place for verifying the files in the future.

Because, in my opinion, that doesn't fit with the "preventative" (reducing potential for attack) philosophy

[2022-07-28 21:28] artis3n commented on #1311
I don't believe repo environments are exposed in the REST or graphql apis yet, which may preclude writing a check.

[2022-07-28 23:34] laurentsimon commented on #1311
You should be able to use https://pkg.go.dev/github.com/rhysd/actionlint#Environment API to retrieve the environment.

[2022-07-29 01:08] artis3n commented on #1311
That will just give you the name set on the environment. We have to take that name and query repo settings to determine if the required reviewer setting is enabled for that environment - only that configuration turns the dangerous workflow into a protected one.

[2022-07-29 12:41] nadgowdas commented on #2092
IMO, this is going to be very useful feature, primarily because when we consume open source packages, we consume them through individual releases, rather than from `main` branch and having this support would allow us to measure those releases before we use them.
This is a great start, and it can be further enhanced by assigning score to releases by measuring each commit that went into those releas

[2022-07-29 15:31] laurentsimon commented on #2102
If we create an Action, where should it leave? A new ossf repository? In scorecard repository?
What shall we call it?

Do we need a "meta" Action that contains signature verification, gradle wrapper, etc? (And the other ones we may need later)

[2022-07-29 15:34] laurentsimon commented on #1311
you're right. We could maybe assume that the presence of an environment is enough. But if we think this is dangerous, then maybe leaving it as a risk that users should manually check is the way to go.

I'll create a feature request for GitHub for this.

[2022-07-29 17:17] artis3n commented on #1311
:nod: Yeah definitely worth being cautious and flagging a workflow as dangerous until we can prove that it is not. Assuming I had missed setting that check on my workflow linked above, I'd definitely expect scorecard to flag it to help me set the appropriate security control.