[2021-07-09 01:00] #661 closed

[2021-07-09 02:37] inferno-chromium commented on #271
SLSA is wip, and only a set of checks will apply to SLSA not all. So, this needs more thought.

[2021-07-09 13:31] naveensrinivasan opened #672 "BUG - Codereview check"
**Describe the bug**
The code review check provides incorrect results for certain scenarios. For example, in scorecard, all commits aren't merged without a PR. But the checks report it as a failure.

[code]

**Reproduction steps**
Steps to reproduce the behavior:
1. `go run .  --repo=github.com/ossf/scorecard  --checks=Code-Review`

[2021-07-09 14:11] naveensrinivasan opened #673 "BUG - Report back when incorrect check is requested in command line"
**Describe the bug**
Right now scorecard will not report if an incorrect check name is entered in the command line.
`go run .  --repo=github.com/ossf/scorecard  --checks=codereview`

**Expected behavior**
The code should report incorrect checkname

**Additional context**
Related code https://github.com/ossf/scorecard/blob/main/cmd/root.go#L115

[2021-07-09 14:15] naveensrinivasan opened #674 "BUG - Checks are case sensitive"
**Describe the bug**
The `checks` are case-sensitive. `go run .  --repo=github.com/ossf/scorecard  --checks=code-review`. This causes the command line to ignore the check that was supposed to `Code-Review`

**Expected behavior**
The checks have to be case-insensitive.

**Additional context**
Related code https://github.com/ossf/scorecard/blob/main/cmd/root.go#L115

[2021-07-09 15:49] mmaraya commented on #271
I like the idea of a single badge with different levels expressed by the number of checks passed. We'll need to list the applicable checks, some of which could come from SLSA requirements but maybe not the levels themselves.

[2021-07-09 17:03] naveensrinivasan commented on #271
I disagree with having checks passed as a number in the badge. It could be sending a wrong message to the consumer of any of the repositories/packages. Also, it would discourage from repositories adopting the badge.

For example, https://deps.dev/go/k8s.io%2Fkubernetes has `9/16`of 16 checks only 9 passes. So if I as a user would like to consume the `k8s` package I would be cautious because the pe

[2021-07-09 18:10] laurentsimon commented on #271
I also prefer qualitative information. In addition to what Naveen said, it empowers consumers of the dependency to make informed decisions about the risks they are comfortable taking. Some users may weight different checks differently so it's hard for us (scorecard) to make that decision on behalf of everyone.

Let's discuss this more in an upcoming meeting.

[2021-07-09 18:28] laurentsimon commented on #608
possible patterns to check for:

1. Git/hg repo clon
2. Curl github.com/bla/bla/releases/download/bla
3. Curl tarball

[2021-07-09 18:29] ig33 opened #676 "BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-07-09 18:29] mmaraya commented on #271
Agree that this needs more discussion. We'll need to find a balance across badge adoption, check applicability, and giving package users easily-digestible information to make a risk-based decision. Note that I wasn't proposing a percentage as not all checks will be applicable to all packages, so the denominator could vary from package to package.

[2021-07-09 18:30] ig33 commented on #608
Support all

[2021-07-09 21:47] #676 closed

[2021-07-10 20:12] naveensrinivasan commented on #660
PR's are welcome!

[2021-07-12 18:24] rnjudge commented on #642
FWIW, I am also seeing this issue for the `github.com/tern-tools/tern` repository and I have seen it multiple times:

[code]

[code]

[2021-07-12 18:36] rnjudge opened #679 ""Rate limit exceeded" error while scorecard run hangs"
**Describe the bug**
I am trying to get a scorecard report but it never finishes.

**Reproduction steps**
Steps to reproduce the behavior:
1. `git clone git@github.com:ossf/scorecard.git`
2. `cd scorecard && go build`
3. `./scorecard --repo=github.com/tern-tools/tern`
4. I get the following error multiple times (and at different parts of the run i.e. `Starting [Pull Requests]`, `Starting [Vulnerab

[2021-07-12 19:13] rnjudge commented on #679
Ah, that was the issue! What's strange is that I ran scorecard a few weeks ago without an access token and did not run into this issue. Nevertheless, I can get a report now. Thanks @inferno-chromium.

[2021-07-12 19:13] #679 closed

[2021-07-12 20:08] azeemshaikh38 commented on #657
Closing this. Re-open is needed.

[2021-07-12 20:08] #657 closed

[2021-07-12 20:14] azeemshaikh38 commented on #642
Assigning this to myself. I still haven't been able to reproduce this (even on MacOS). Will try to get some virtual Mac machine with ARM architecture and see if I can reproduce this issue. I have a hunch that this is coming from https://github.com/ossf/scorecard/blob/main/checks/code_review.go#L142, where `BranchProtectionRule` is `null`. Although I want to root cause this and figure out what envi

[2021-07-12 20:20] azeemshaikh38 commented on #660
Thanks for this feedback! This is a great usecase for https://github.com/ossf/scorecard/issues/462. We are still in the process of  factoring out all github.com dependencies into [`RepoClient`](https://github.com/ossf/scorecard/blob/main/clients/repo_client.go#L39). Once we have this refactoring in place, it should be easy to use enterprise APIs instead of the regular one.

[2021-07-13 06:03] #580 closed

[2021-07-13 16:38] laurentsimon opened #688 "Feature: improve packaging"
the `Packaging` checks only for GH packaging workflows. This is not the only way to package code. We should check for the presence of the package on language repos.

Example:
for npm: the package.json has a "repository" field, and metadata may be available from the npm API.  Alternatively, we could look at the `name` in package.json of the repository, then check `npm` to see if that package exists

[2021-07-13 16:44] laurentsimon opened #689 "Frozen check: differentiate libs and programs"
A library's dependency should not be pinned. We have a [TODO](https://github.com/ossf/scorecard/blob/main/checks/frozen_deps.go#L319) in the code to account for this already, but we have not implemented it yet.

It may be possible to detect if the package/code is a library or a program thru the manifest file.

Other ideas around pinning https://jbeckwith.com/2019/12/18/package-lock/

[2021-07-13 21:46] laurentsimon commented on #647
note: `npm i <pkg>` seems to be a shorthand for `npm install`

[2021-07-13 21:54] laurentsimon commented on #689
cursory read of of package.json:
`bin` entry declares a CLI/program, `main` declares an entry point for a library, aka module. Example [bin](https://github.com/tclindner/npm-package-json-lint/blob/master/package.json#L22) and [module](https://github.com/tclindner/npm-package-json-lint/blob/master/package.json#L29).
It is possible to declare a package that contains both a module and a CLI: in this

[2021-07-14 13:26] #674 closed

[2021-07-14 16:35] ig33 opened #692 "BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-07-14 17:12] #692 closed

[2021-07-14 17:44] naveensrinivasan commented on #639
The present `IsActive` check does the following API calls

1. `ListCommits` - Retrieves commits
2.  For each of the above commits it calls the `GetCommit` API call to fetch the Commit information retrieve Commit information.

With the below GraphQL, the code should be able to fetch commits and `IsActive` in a single call. This should reduce `O(n)` API calls to fetch each of the commits. By doing t

[2021-07-14 21:13] azeemshaikh38 commented on #639
Thanks Naveen! 2 questions:

1. Could you confirm how many graphQL tokens this will require? Shouldn't be a lot, but just to make sure.
2. Why the `first: 100`? With REST API we by default look at 30, should we use the same number?

[2021-07-14 21:16] naveensrinivasan commented on #639
AFAIK - 1, all of this can be fetched in a single graphql query

No specific reason for `100`. That was something that I was testing with. I can use `30`

[2021-07-14 21:24] azeemshaikh38 commented on #639
So graphQL can use >1 token for a single call - https://docs.github.com/en/graphql/overview/resource-limitations#rate-limit

[2021-07-14 21:43] naveensrinivasan commented on #639
🤦  I wasn't aware of that. Thanks. Let me try it and comeback with the API usage

[2021-07-15 16:04] laurentsimon opened #697 "Feature: add risk/threat model to doc yaml file"

[2021-07-15 16:10] laurentsimon commented on #664
Thanks for the suggestion. This is definitely something we should consider supporting long-term.

We've been hesitant to add any check around signature verification so far, mostly because there does not seem to be a well rounded story around key management/discoverability/revokation. We need to take a second look.

Related link for npm: https://docs.npmjs.com/verifying-the-pgp-signature-for-a-pack

[2021-07-15 17:32] laurentsimon opened #698 "BUG: yaml file out-of-sync w/ code"
create a unit test that checks that check names all appear in the yaml/readme file.
At the moment, the `Packaging` check is missing from the doc.

[2021-07-15 17:40] laurentsimon opened #699 "BUG: table is not large enough for detail info"
See the output:
[code]

Correct output:
[code]

[2021-07-15 17:43] laurentsimon opened #700 "BUG: table has empty lines"
output:
[code]

Should be:
[code]

[2021-07-15 22:49] laurentsimon opened #701 "BUG: docker pinning using AS"
If the dockerfile uses
[code]

the check incorrectly reports `base` as not pinned.

There's already a test file we can re-use to test our fix`testdata/Dockerfile-not-pinned-as`

[2021-07-16 14:38] laurentsimon commented on #376
we could start with simple heuristics: e.g. could count number of go files that have a corresponding `_test.go`.
Or look at other solution, like codecov.

[2021-07-19 11:48] neonlyis opened #708 "Installation fails"
Hello, I created a centos 7 minimal virtual machine, installed docker, and ran:
docker run -e GITHUB_AUTH_TOKEN=*my token* gcr.io/openssf/scorecard:latest --show-details --repo=https://github.com/ossf/scorecard

Then I got those errors:

|--------|------------|-----------------------------|-------------------------------------------------------------------------|
| Fail   |          0 | Branch-Pro

[2021-07-19 14:48] naveensrinivasan commented on #708
The installation is not an issue. It is working as designed. The writeup for these failures are https://github.com/ossf/scorecard/blob/main/checks/checks.md

[2021-07-19 20:17] naveensrinivasan opened #710 "BUG - Frozen Deps handle args"
**Describe the bug**
The frozen-deps check fails on ARGS being used in the FROM
[code]
https://raw.githubusercontent.com/kubernetes/kubernetes/master/build/server-image/Dockerfile

[2021-07-19 20:18] naveensrinivasan commented on #710
cc @laurentsimon

[2021-07-19 21:42] laurentsimon commented on #710
`ARG` is given via a command line. The `ARG` may be pinned, but dependabot is enable to update a pinned script command.
So it seems like intended result. wdyt?

[2021-07-19 23:16] jeffmendoza opened #711 "Can't import scorecard"
I believe go.mod need to be updated from:
[code]
to:
[code]
To correspond to the v2.0.0 release, which indicates a breaking change in semver, which go uses for imports.
see: https://github.com/golang/go/issues/35732

[2021-07-19 23:25] jeffmendoza commented on #711
Also, see: https://golang.org/ref/mod#major-version-suffixes

[2021-07-20 10:43] #708 closed

[2021-07-20 10:44] neonlyis opened #715 "Cant check pypi package"
Hello, I am trying to check score of a pypi package babel but I think i might not be using it correctly.
What am I doing wrong? can i specify a specific version of the package?
Thanks

[root@dockermachine ~]# docker run -e GITHUB_AUTH_TOKEN=token gcr.io/openssf/scorecard:latest --show-details --pypi=Babel
2021/07/20 10:41:43 could not find source repo for pypi package: Babel

[2021-07-20 16:23] laurentsimon opened #717 "Cleanup verbosity level"
We currently use the zap package for logging. We also have a detail level (warn, info, debug) as part of https://github.com/ossf/scorecard/pull/712. Can we simplify the code to only use our own internal detail level as logging level, and get rid of zap dependency?

See https://github.com/ossf/scorecard/pull/712#discussion_r673176415 and https://github.com/ossf/scorecard/pull/712#discussion_r673181

[2021-07-21 15:58] laurentsimon opened #724 "File interface: make the predicate function return (bool, error)"
The [ListFiles](https://github.com/ossf/scorecard/blob/42115ed2e32b06e37846245cbcafc3a121f42c36/clients/githubrepo/client.go#L50) takes a `predicate` function that returns a `bool`: we may want to have it also return an `error`.

For example in https://github.com/ossf/scorecard/blob/main/checks/checkforcontent.go#L79, we' currently discarding the error because the predicate cannot return an `error

[2021-07-21 16:12] laurentsimon opened #725 "Feature: add line number to Pinned-Dependencies detail reporting"
add a line number to the `Pinned-Dependencies`, `Token-Permissions` checks.
Today the details contain the line content only, e.g.:
``Warn: insecure (unpinned) download detected in .github/workflows/pylint-presubmit.yml: 'python -m pip install --upgrade pip'``

We may want to add a line number as well.

[2021-07-21 18:18] azeemshaikh38 commented on #715
This is an interesting one. The reason this is happening is because https://pypi.org/pypi/Babel/json does not specify the Github URL for Babel. Wonder how effectively we can rely on https://pypi.org/pypi/<package_name> to give us information on a package. @naveensrinivasan

For now, you can workaround this by running:

[code]

Does this help @neonlyis ?

[2021-07-21 18:36] laurentsimon opened #727 "Feature: use proportional result for Token-Permission check"
the check is now ported to using a score. But the result are still binary: 0 or 10.
For example, we may have a distinction between `contents`, `checks` etc. `contents`/`packages`/`actions` seem the most dangerous since it allows pushing code to the repo.

Good repo to try on: github.com/apache/airflow

[2021-07-21 18:53] laurentsimon opened #728 "Feature: Enhance SAST check QodeQl"
1. check if it's a cron job or presubmit check
2. verify it's enabled on `main` branch

[2021-07-21 23:26] laurentsimon opened #731 "Merge code-review and pull-request"
the checks `Code-Review` and `Pull-Request` do more or less the same. Shall we merge them into one?

[2021-07-21 23:35] azeemshaikh38 commented on #731
SGTM. The concept of PR as given [here](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests) vs. Code-Review as we use it, is same. Although `PullRequest` check has some logic to look for `bot` committers, which might be useful to have in `Code-Review`

FWIW, `Pull-Request` is the 2nd most API consuming check afte

[2021-07-22 04:18] inferno-chromium commented on #731
yes makes sense. lgtm. thinking again, it seems weird why we created a seperate check, code-review is the one people care and that one just has some gerrit addition and some bot account exclusion.

[2021-07-22 15:39] laurentsimon opened #737 "Cleanup MakeResultOr"
the function `MakeResultOr` has been used to extract a result from multiple checks. This worked when results were binary (Fail/Pass) but not anymore. I think sub-checks should return `(score, err)` or `(bool, err)`; and the caller should decide what to do.
It's hard to have a one-size-fit-all function: errors may be handled differently depending on context: if an err is returned, shall we return i

[2021-07-22 15:41] laurentsimon opened #738 "Cleanup MakeResultAnd"
the function `MakeResultAnd` has been used to extract a result from multiple checks. This worked when results were binary (Fail/Pass) but not anymore.

The branch protection, for example, will lose information about sub-check results because of the way `MakeResultAnd` work.

One possibility is to create a score by aggregating the score of each sub-check. For example: n sub-check would contribute 1

[2021-07-22 19:54] azeemshaikh38 opened #741 "BUG: e2e tests always break"
We have setup our e2e tests such that they query real repositories. If anything changes on their end, our e2e tests break. Thats super flaky and very unproductive since we have to keep fixing them. We need to find a better solution to this. Lets discuss this in the upcoming meet.

[2021-07-22 23:41] laurentsimon commented on #609
This is supported now. Closing

[2021-07-22 23:41] #609 closed

[2021-07-22 23:42] laurentsimon commented on #737
Done with the 2 PRs mentioned in comments. Closing.

[2021-07-22 23:42] #737 closed

[2021-07-22 23:43] laurentsimon commented on #741
yep, that's one we need badly. I've left a few comments in the code for that as well.
btw, we already have https://github.com/ossf/scorecard/issues/435

[2021-07-22 23:45] laurentsimon commented on #700
I think this was a false alarm that happened when I was testing for the score-based migration. Closing.

[2021-07-22 23:45] #700 closed

[2021-07-22 23:46] laurentsimon commented on #699
@naveensrinivasan shall we assign to you since you originally added the table support?

[2021-07-22 23:50] laurentsimon commented on #672
can you re-run this with the new code (score-based) and see if this issue can be closed?
`SCORECARD_V2=1 go run . --repo=github.com/ossf/scorecard --checks=Code-Review`

[2021-07-22 23:51] laurentsimon commented on #697
done. Closing.

[2021-07-22 23:51] #697 closed

[2021-07-22 23:53] laurentsimon commented on #728
I think 2 is currently done. If CodeQl is enabled via pre-submit, it will be taken into account since the check searches for review in the last 30 commits on main branch. Let's close it.

[2021-07-22 23:53] #728 closed

[2021-07-23 01:23] laurentsimon opened #743 "cleanup Branch-Protection MakeResultAnd"
similar to https://github.com/ossf/scorecard/issues/738 but for Branch-Protection.

[2021-07-23 03:20] azeemshaikh38 opened #744 "Feature: Use `google/ko` instead of `Dockerfile`"
Simplify our workflows and instead of Dockerfiles use `google/ko`.

[2021-07-23 13:15] azeemshaikh38 commented on #715
Closing this. Re-open if needed.

[2021-07-23 13:15] #715 closed

[2021-07-23 16:13] azeemshaikh38 opened #748 "BUG: divide by zero errors"
With recent changes, divide by zero errors seem to be popping up in our runs. To reproduce:

[code]

This is affecting the cron job run.

[2021-07-25 22:02] naveensrinivasan commented on #741
We add new features which break the existing e2e.  We would have to tend to e2e to keep up with the features that we add.

For example

This is failing  https://github.com/ossf/scorecard/runs/3156521297?check_suite_focus=true because our expectation of the e2e result changed.

[code]

[2021-07-25 23:28] azeemshaikh38 commented on #741
But if new features are breaking the e2e, how are we able to submit PRs which cause these breakages?

[2021-07-26 00:47] #724 closed

[2021-07-26 14:37] azeemshaikh38 commented on #639
@naveensrinivasan whats the ETA on this (using graphQL for Active checks)? This unblocks further scaling of cron job, so if you aren't actively working on this I can pick this up. Let me know.

[2021-07-26 15:31] naveensrinivasan commented on #639
@azeemshaikh38  You can take it.

[2021-07-26 15:56] azeemshaikh38 commented on #639
Thanks!

[2021-07-26 16:09] laurentsimon commented on #741
The e2e tests break because the repos we rely on change over time.

For CI-Test, we currently test for [Pass/Fail]( https://github.com/ossf/scorecard/blob/main/e2e/ci_tests_test.go#L52-L53) as before, and we also test for the more granular [score and debug/warn/info messages](https://github.com/ossf/scorecard/blob/main/e2e/ci_tests_test.go#L42-L47).

At the time I migrated CI-Test check to use sco

[2021-07-26 16:37] azeemshaikh38 opened #752 "BUG: update Scorecard repo to use new error package"
Update Scorecard repo to use the `scorecarderrors.Create` fns everywhere instead of `fmt.Errorf`

[2021-07-26 18:01] #711 closed

[2021-07-26 19:16] azeemshaikh38 opened #753 "Feature: use GitHub security policy URI for `SecurityPolicy` check"
GitHub graphQL exposes a `securityPolicyURL` field for a repository:

![image](https://user-images.githubusercontent.com/4825078/127045538-f2f495f4-0151-4f03-826a-fd6db0928538.png)

Wondering if we can simply use this instead of polling through all files in the repo? @inferno-chromium @laurentsimon @naveensrinivasan @oliverchang

[2021-07-26 20:21] inferno-chromium commented on #753
going through files helps to work for non-github cases

[2021-07-26 20:53] naveensrinivasan opened #754 "BUG - Git Tag Scorecard API upgrade"
**Describe the bug**
The scorecard was upgraded in this PR https://github.com/ossf/scorecard/pull/716 , but cannot fetch the until there is a corresponding git tag. https://blog.golang.org/publishing-go-modules
[code]

[2021-07-26 20:54] naveensrinivasan commented on #754
cc @jeffmendoza

[2021-07-26 21:15] jeffmendoza commented on #754
Yeah, for `go get` to work, the git tag (v2.x.x) needs to match the major version in go.mod. If you just `go get github.com/ossf/scorecard` now you get v1.2.0, because that is the last v1 version. v2.0.0 is essentially broken. There needs to be a new release with v.2.x.x tag and now the v2 in the go.mod for `go get github.com/ossf/scorecard/v2` to work.

[2021-07-26 21:17] naveensrinivasan commented on #754
Planning to do that after today's meeting.

[2021-07-26 21:18] naveensrinivasan commented on #754
@inferno-chromium @azeemshaikh38  Can we git tag `v2.1.0`?

[2021-07-26 21:39] inferno-chromium commented on #754
Sure, go ahead.

[2021-07-26 21:55] naveensrinivasan commented on #754
Tagged with `v2.1.0`

I was able to pull `go get github.com/ossf/scorecard/v2`

[2021-07-26 21:55] #754 closed

[2021-07-26 21:56] naveensrinivasan commented on #754
@jeffmendoza  FYI.There is a breaking API Change `githubrepo.CreateGithubRepoClient`

[2021-07-26 22:07] laurentsimon opened #757 "BUG: fail to create repo client"
[code]

This seems to be triggered by this line https://github.com/ossf/scorecard/blob/main/checks/security_policy.go#L58

The result of the test should be that the file is not found, I think?

nit: there's a also a print that slipped thru the crack https://github.com/ossf/scorecard/blob/main/clients/githubrepo/tarball.go#L78

[2021-07-26 22:39] jeffmendoza opened #759 "Binary Artifacts: tar gz ?"
Should we add tar and gz to the binary artifacts check?

ref: https://github.com/ossf/scorecard/blob/main/checks/binary_artifact.go#L50

[2021-07-26 23:00] loosebazooka commented on #759
Is there a reason we care what kind of binary it is? Could it just be text (or ascii or whatever) vs non-text

[2021-07-26 23:07] inferno-chromium commented on #753
also, why burn api quota when we can work through files. also, we dont poll all files, we just look in root directory and one another directory.

[2021-07-26 23:08] oliverchang commented on #753
+1. doesn't seem necessary to use this API.

[2021-07-26 23:10] naveensrinivasan commented on #753
+1  I concur.

[2021-07-27 05:36] azeemshaikh38 commented on #753
Sounds good. Closing the issue. Thanks for the responses!

[2021-07-27 05:36] #753 closed

[2021-07-27 05:55] azeemshaikh38 commented on #759
`BinaryArtifacts` specifically looks for executables since that represents a potential threat vector like remote code execution. Files like JPG etc., which are non-ASCII, can be present in a repository and we shouldn't flag that IMO.

I think this would trigger lot of false positives. Is having tar/gz files in a repo enough of a threat to warrant the false positives?

[2021-07-27 06:26] azeemshaikh38 commented on #757
Sent #761 for the bug. The log is there since we return `nil` error there, so atleast his gives us some info.

[2021-07-27 06:40] azeemshaikh38 commented on #741
@laurentsimon one more interesting breakage:

[code]

Could you look into this?

[2021-07-27 16:11] laurentsimon commented on #741
sure. Are you manually looking at results or you've updated the cron job to keep track of errors/repos already?

[2021-07-27 16:17] laurentsimon commented on #741
this file is the culprit https://github.com/kubernetes/kubernetes/blob/master/hack/boilerplate/boilerplate.Dockerfile.txt
I'll filter out .txt and check if the file has only comments.
Anything else more robust we could do?

[2021-07-27 16:29] laurentsimon commented on #741
error is not wrapped in a meaningful way, see https://github.com/moby/buildkit/blob/v0.9.0/frontend/dockerfile/parser/parser.go#L392

[2021-07-27 16:44] jeffmendoza commented on #759
cc: @dlorenc

Maybe a good candidate for the score based result, only having tar/gz could be a 6 or something. =)

[2021-07-27 17:04] inferno-chromium commented on #759
can you try running this on a few important repos, we would like to minimize false positives.

[2021-07-27 17:17] azeemshaikh38 commented on #741
Let's skip analyzing Dockerfiles with only comments. That should be good enough.

[2021-07-27 17:25] azeemshaikh38 commented on #741
FYI, we now have https://github.com/ossf-tests. @laurentsimon @naveensrinivasan do either of you have the cycles to update our e2e test to use test repos?

[2021-07-27 17:42] laurentsimon commented on #741
I'll add a repo `scorecard-frozen-deps` for frozen-deps. All the tests for this checks look at files only, so Ill copy the unit tests files in there. Note that we agreed in the meeting to rename this check `Pinned-Dependencies`, so I'll actually create `scorecard=pinned-dependencies` repo.

[2021-07-27 18:09] dlorenc commented on #759
IMO it's more about whether something can be accurately reviewed by a human or not. A tar can't be reviewed without downloading it (and might even contain binaries!). Same for the gz representation.

[2021-07-27 19:07] loosebazooka commented on #759
I imagine binary-artifacts is the kind of check that would have a lot of exceptions though.
for example, jib which build java containers tests against many (~100) jar and tars, not sure we would want that test infrastructure to be building those (and could they even build what we want reproducibly?)

[2021-07-27 19:21] dlorenc commented on #759
Yep, something used only in tests seems like a valid exception.

[2021-07-27 22:41] naveensrinivasan commented on #636
The domain has been purchased.

[2021-07-27 22:41] #636 closed

[2021-07-27 23:32] #741 closed

[2021-07-28 00:44] naveensrinivasan opened #767 "BUG- Addlicense exclude path"
**Describe the bug**
Scorecard would like to exclude license check https://github.com/ossf/scorecard/pull/766/checks?check_run_id=3176959693 for certain files.

The licensecheck has a PR to address this https://github.com/google/addlicense/pull/70 but does not seem to have any traction on merging the issue

[2021-07-28 00:45] naveensrinivasan commented on #767
@inferno-chromium  We have 2 options.

1. Get someone in Google to merge this PR.
2. Fork the repo and fix it by ourselves.

cc @laurentsimon

[2021-07-28 00:47] laurentsimon commented on #646
happening on another PR https://github.com/ossf/scorecard/pull/766

[2021-07-28 00:57] laurentsimon commented on #767
I asked on the PR.

[2021-07-28 11:44] pong12356 opened #769 "BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduction steps**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-07-28 12:52] mco-gh commented on #767
PR reviewed, left a few comments

[2021-07-28 13:56] #769 closed

[2021-07-28 14:08] laurentsimon commented on #646
Copying the link @azeemsgoogle provided in https://github.com/ossf/scorecard/pull/766#issuecomment-887962649: https://lukasjoswiak.com/github-actions-protobuf/
@azeemsgoogle do you have cycles to fix this issue? (It's part of the cron job IIUC)

[2021-07-28 14:17] naveensrinivasan commented on #646
I can take this.

[2021-07-28 14:38] azeemshaikh38 commented on #646
Thanks Naveen!

[2021-07-28 16:03] #748 closed

[2021-07-29 04:17] azeemshaikh38 commented on #651
Now that we have a framework to run e2e tests on a smaller set of repos, here is my proposal for the release process:

- The release tests will trigger every 24 hours and use the `main:latest` binaries.
- The tests will run on a sample of the repos used during the weekly runs. There will be a separate BQ table and a successful data transfer to this table will be considered as test “passing”. This

[2021-07-29 11:23] naveensrinivasan commented on #651
Getting the commit SHA into the container is easy https://artsy.github.io/blog/2018/09/10/Dockerhub-Stamping-Commits/

Why are we creating a git tag? Instead on every container build along with the latest, we could add a tag with the SHA and use that tag to do the docker pull part of the deployment.

I am guessing you are referring to k8s YAML with the docker image version to be pulled. We could p

[2021-07-29 15:44] laurentsimon opened #779 "New check: signed commits"
there seems to be a setting under branch protection called `Require signed commits` which may be useful to add.
We could also have this as part of separate check when https://github.com/git/git/pull/1041 is merged and operational.

@FStelzer @djmdjm do you have some rough estimate when ssh signing https://github.com/git/git/pull/1041 will go live and if it will be supported as part of the branch p

[2021-07-29 15:45] laurentsimon commented on #779
some related discussion at https://github.com/ossf/scorecard/issues/223

[2021-07-29 17:04] laurentsimon opened #780 "Accept owner/repo and default to github"
today users need to pass `--repo=github.com/owner/repo` as argument. Since GitHub is the common case, we may want to make it easier and accept `--repo=owner/repo` and default to GitHub for it.

[2021-07-29 17:56] laurentsimon commented on #759
I have plans to also flag curl downloads that download zip, tar, etc because there are many cases where users download entire Linux trees within their Dockerfile.
I think it's fine to make the check more granular and remove some points from the score when zip, tar are in the repo. Of course, to be more accurate, we could try to unzip/untar recursively and see if there are binaries inside. We with,

[2021-07-29 18:28] laurentsimon opened #783 "Cleanup error handling"
We have several places that define errors:

1. a bunch of errors (e.g., `ErrorUnsupportedHost `) are declared at https://github.com/ossf/scorecard/blob/c02df073a9f39e6914d7f934eb9f5af131ff2361/repos/repo_url.go#L27:L32
They are also used in a cron job file `cron/data/iterator_test.go`.

2. We have the main `errors/` directory with error definitions used by checks.

We need to harmonize this.

[2021-07-29 20:09] #757 closed

[2021-07-29 20:58] #731 closed

[2021-07-29 21:18] #639 closed

[2021-07-29 23:54] laurentsimon opened #786 "replace CheckFilesContent2 with CheckFilesContent"
I added CheckFilesContent2 which is more flexible. Let's use it instead of CheckFilesContent. Same for CheckFilesExist.

[2021-07-30 04:05] oliverchang commented on #651
Can we have some more basic sanity tests here, like making sure there's no runtime errors in any of the checks? I think this isn't exposed in any of the JSON/BQ fields today though, so we might need some other way to distinguish this.

Do you mean a `vX.X.<minor>` which is updated every 24 hours? This a bit too frequent to me and will generate a lot of noise. Perhaps we want to have a separate les

[2021-07-30 08:22] FStelzer commented on #779
I can't really give any indication of when this will be generally available. There is still a bit of review / discussion of specifics going on. And even if it is merged/released soon i have no idea on when github might provide the feature.
I guess when the feature made it into a git release you can open a ticket with github to ask for it. But they'll have to implement some things to manage the all

[2021-07-30 15:11] laurentsimon commented on #786
fixed by https://github.com/ossf/scorecard/pull/787

[2021-07-30 15:11] #786 closed

[2021-07-30 15:21] azeemshaikh38 commented on #651
+1, we should. I think this is doable with some minor changes to the `worker` code. Will look into it.

These are both good points. I'm not a fan of the Git tags either. This was the best way I could think of differentiating between regular commits and commits for prod release.

I really like the idea of tagging docker images with `.stable` and pulling those. Just to confirm, when there are multip

[2021-07-30 15:22] laurentsimon commented on #779
Thanks!

[2021-07-30 19:30] azeemshaikh38 opened #792 "Feedback on Scorecard result data"
I had a conversation with Jose Duart from Google and he had some interesting observations on Scorecard data from BQ that he analyzed.

1. Some repos may be pretty well established (e.g https://github.com/yaml/pyyaml), so not a lot of commits will be happening. We mark these repos as `Not Active`, which is unexpected from a users POV. We probably need better signals to understand if repos are `Acti

[2021-08-02 00:26] oliverchang commented on #651
Yeah, when you push a docker image with a tag, it overwrites the last one. This is how the current setup works too -- we use "latest", which isn't special and just the default tag if nothing is specified.

[2021-08-02 18:55] laurentsimon commented on #698
fixed.

[2021-08-02 18:55] #698 closed

[2021-08-02 23:10] laurentsimon commented on #779
duplicate https://github.com/ossf/scorecard/issues/379

[2021-08-02 23:24] laurentsimon opened #802 "Give low importance to github-owned actions"
in the `Pinned-Dependencies` check, we flag all unpinned actions.
We may give lower risk to github-owned actions. In GH doc and examples, only 3P actions are pinned, e.g., https://docs.github.com/en/actions/guides/publishing-java-packages-with-gradle

We can still give higher score to repos that pin them, of course.

[2021-08-02 23:52] #646 closed

[2021-08-03 17:50] #743 closed

[2021-08-03 17:50] #738 closed

[2021-08-03 17:50] #727 closed

[2021-08-05 12:48] naveensrinivasan commented on #309
Now that https://github.com/sigstore/cosign 1.0 we could use it for signing.

Thoughts @inferno-chromium @azeemshaikh38

[2021-08-05 18:20] azeemshaikh38 commented on #309
On a high-level the idea sounds good to me. I don't understand `cosign` a 100% though. Do you mind sketching out what this would look like, ie. would this be done through CloudBuild, any major changes that would be required etc.?

[2021-08-06 00:42] azeemshaikh38 commented on #651
Discussed with Oliver offline. Some updates:

1. CloudBuild to tag container images with both `COMMIT_SHA` and `latest` tags.
2. `.shard_num` file will be replaced with `.shard_metadata` which along with `num_shards` will contain the `COMMIT_SHA` used to generate the shards.
3. A successful completion of release tests will trigger a webhook which is backed by a `CloudRun` application. This will ta

[2021-08-06 14:10] 06kellyjac commented on #651
As a note (you're probably already aware) the `2.1.1` release for linux x86_64 doesnt have version info. I havent checked other architectures or versions :slightly_smiling_face:

[2021-08-06 19:44] azeemshaikh38 commented on #651
Ah interesting. I wasn't aware of this, thanks for bringing this up. Creating a new issue for tracking.

[2021-08-06 19:44] azeemshaikh38 opened #818 "Releases do not have version info"
As a note (you're probably already aware) the `2.1.1` release for linux x86_64 doesnt have version info. I havent checked other architectures or versions :slightly_smiling_face:

_Originally posted by @06kellyjac in https://github.com/ossf/scorecard/issues/651#issuecomment-894288280_

[2021-08-06 19:45] azeemshaikh38 commented on #818
@loosebazooka FYI, since you implemented the `scorecard version` code. Any ideas what might be off here?

[2021-08-06 19:47] loosebazooka commented on #818
interesting, I'll take a look

[2021-08-06 19:51] loosebazooka commented on #818
Ah yeah version information is inject at build time from the Makefile. So binaries will have the information, arbitrary runs from go get will not. @dlorenc/@jonjonsonjr is ldflags the standard pattern?

We can probably try to change the code a bit to work better for non-binary installs -- but I don't know how that would look yet.

[2021-08-06 20:13] 06kellyjac commented on #818
ldflags is a common pattern for this with golang.

I didn't install it with go get, I extracted it from the release tar

The releases arent built using make, theyre built using goreleaser
You will probably need to change the ldflags config like this https://goreleaser.com/customization/build/

[2021-08-06 20:49] azeemshaikh38 commented on #615
Unpaused it now. closing this issue.

[2021-08-06 20:49] #615 closed

[2021-08-06 23:29] loosebazooka commented on #818
@06kellyjac do you recommend re-organizing the code around the defaults? or just writing a custom ldFlags rule?

[2021-08-07 03:56] chrismcgehee commented on #725
I'll take this issue since I have some time now to work on scorecard now that I've settled in from my move. I'd like to have an easier issue to get back into the swing of things.

[2021-08-09 16:34] laurentsimon commented on #725
Thank you!

FYI I'm working on adding [SARIF support](https://docs.github.com/en/code-security/secure-coding/integrating-with-code-scanning/sarif-support-for-code-scanning) for scorecard, and for this I need to make some code update to support more structured data in details (line, filename, etc).
ETA for the required update is ~10 days. You can start working on the PR for sure in the meantime, yo

[2021-08-09 16:36] laurentsimon commented on #725
@chrismcgehee assigned issue to you, thanks again for taking this issue!

[2021-08-09 18:22] #818 closed

[2021-08-09 19:30] naveensrinivasan commented on #642
We have an ARM release https://github.com/ossf/scorecard/releases/tag/v2.1.3, could you please try this and let us know?

[2021-08-09 21:09] #767 closed

[2021-08-11 16:22] azeemshaikh38 opened #839 "BUG: Parsing errors"
Noticing many parsing errors during cron job. Not blocking cron job, but good to fix since otherwise we just return `ErrScorecardInternal`. Some examples to reproduce shown below:

[code]

There might be more cases. Will add as I find them. Would be good to fix these and add these repos to `cron/data/projects.release.csv` as and when we fix them.

[2021-08-11 16:26] laurentsimon commented on #839
@chrismcgehee are you interested in helping for this issue? It's in the Pinned-Dependency check that you're looking at to add lines.

[2021-08-11 23:09] laurentsimon commented on #792
in addition to whether issues are closed or commented on, etc I think when the repo has dependabot installed we would get some PRs merged once in a while.

[2021-08-12 02:57] azeemshaikh38 opened #845 "Question: `Signed-Tags` vs. `Signed-Releases`"
I was wondering what the difference between our `Signed-Tags` and `Signed-Releases` check is. According to our README `Signed-Tags` tests if - [`the project cryptographically signs release tags?`](https://github.com/ossf/scorecard#scorecard-checks). 2 questions then:

1. Our current implementation tests if *all* tags are signed and not just *release tags*. Is that a mistake?
2. If we are concerned

[2021-08-12 03:15] naveensrinivasan commented on #845
Signed Tags are Git Tags that are supposed to be signed. Not every tag would end up in releases.

Signed releases are when the releases are cryptographically signed.

 It is not. Not all git tags end up with releases, it is based on the project's release criteria.
1. Signed tags are for all git tags
2. Signed releases for not for tags but for the actual release.

This is incorrect `Does the projec

[2021-08-12 03:28] azeemshaikh38 commented on #845
Makes sense. Although how is testing all Git tags useful to users? IIUC, if these Git tags aren't used in releases, users would never see/use these tags?

[2021-08-12 04:18] inferno-chromium commented on #845
We probably don't even need signed tags check. i think we should keep just a signed releases check. @dlorenc for additional thoughts ?

[2021-08-12 16:45] laurentsimon commented on #783
another thing is when we call a repoclient's API, shall we expect the repoclient create the `ErrScorecardInternal` or not?
If not, we need all `checks`, `checker` or `pkg` to create it.

[2021-08-12 21:44] #651 closed

[2021-08-12 22:26] #845 closed

[2021-08-13 03:26] chrismcgehee commented on #839
Sure, I'll take this one.

[2021-08-13 04:33] chrismcgehee commented on #839
There are several different categories these parsing errors fall into. I'll list them and state how I plan to address them:
- Treating powershell code as shell code
          Example: [ubisoft/Sharpmake](https://github.com/ubisoft/Sharpmake/blob/62f11eb03f5730dc2e02d250ad275b9b77cc2815/.github/workflows/actions.yml#L115)
          How to fix: Check for `if: runner.os == 'Windows'`. Skip for now an

[2021-08-13 16:02] azeemshaikh38 commented on #839
Thanks Chris, this is great! Comments inline:

How would we check for this? If we have parsers that can understand this, that can work. But if we are planning to use string matching to do this, I'm not too sure about this one.

All of this sound good to me.

[2021-08-15 03:02] chrismcgehee commented on #839
This is a pretty simple check, so I think string matching would be appropriate here. I was unable to find any open-source parsers for github workflows.

[2021-08-16 18:54] laurentsimon commented on #839
workflows also have a `os` param you can additionally look for.

you should not need to parse the file if it's a shell, because it will be done by `validateShellScriptIsFreeOfInsecureDownloads `. All you need to do is return early.
We're already calling `isShellScriptFile()` (see https://github.com/ossf/scorecard/blob/main/checks/pinned_dependencies.go#L419) to check if a file is a shell script, a

[2021-08-16 20:23] inferno-chromium opened #859 "How can contributors result be trusted, people can create fake organizations"
See title

[2021-08-17 00:27] laurentsimon opened #861 "BUG: re-enable some e2e tests"
We recently introduced https://github.com/ossf/scorecard/pull/860 because all the e2e tests are disabled. I think we can safely re-enable those for which we have create a repo - see https://github.com/ossf-tests/
I created scorecard-check-pinned-dependencies-e2e, scorecard-check-token-permissions-e2e, scorecard-check-branch-protection-e2e and scorecard-check-binary-artifacts-e2e. Those are safe to

[2021-08-17 00:28] laurentsimon commented on #861
@naveensrinivasan you have the most knowledge about the e2e tests integration. Do you think you can re-enable the checks for the e2e2 listed above?

[2021-08-17 02:04] chrismcgehee commented on #839
Laurent, thanks for the comments.

Is there an example yml file you can point to that shows the `os` param?

[2021-08-17 10:12] bhuvi11 opened #863 "BUG-Scorecard fails to run"
Hello Team,

Description:
I tried running scorecard using

1. Docker
       When i run `"docker run -e GITHUB_AUTH_TOKEN=ghp_7ta6StgyRpazkjmuSZF0Loe5WmRr3xxxxxx gcr.io/openssf/scorecard:latest --show-details --repo=github.com/bhuvi11/ecom-service/"`

i get the below error
`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=

[2021-08-17 14:39] azeemshaikh38 commented on #863
Thanks for reporting this. Fixed through #864

[2021-08-17 14:39] #863 closed

[2021-08-17 15:03] azeemshaikh38 commented on #629
Closing this since @laurentsimon work on standardizing Scorecard errors addresses this already.

[2021-08-17 15:03] #629 closed

[2021-08-17 15:13] laurentsimon commented on #839
a few places:
- https://github.com/ubisoft/Sharpmake/blob/62f11eb03f5730dc2e02d250ad275b9b77cc2815/.github/workflows/actions.yml#L94
(documented in https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#example-running-with-multiple-operating-systems)
- `runs-on` attribute: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on (c

[2021-08-18 03:23] chrismcgehee commented on #839
Ok, maybe if all the values in `runs-on` or `strategy.matrix.os` start with "windows-", we can assume the script is powershell. Otherwise, we can look for `if: runner.os == 'Windows'` (using a slightly more sophisticated regex).

[2021-08-18 03:58] bhuvi11 opened #867 "Scorecard fails to run"
Hello Team,

I am new to scorecard and trying to install and use

Go installation
using Go installation i tried the below
go get github.com/ossf/scorecard/v2
scorecard --repo
I  get the below error
`2021/08/17 15:41:43 GitHub token env var is not set. Please read https://github.com/ossf/scorecard#authentication`
please help
Thanks in advance

[2021-08-18 04:07] inferno-chromium commented on #867
The message says to read https://github.com/ossf/scorecard#authentication . Please read the instructions there to set a github access token before running scorecard.

[2021-08-18 04:07] #867 closed

[2021-08-18 04:14] bhuvi11 commented on #867
Hello,
Yeah, I set the Github auth token as part of the environment variable and then ran the scorecard.
It worked :)

[2021-08-18 07:53] bhuvi11 opened #868 "Question not a bug"
Hello Team,
I have successfully installed scorecard in my local and ran it against Github repos.

Is it targeted only for open source projects? can I use it to scan private and commercial projects?
Can i use it for other GIt repositories like (GitLab, Bitbucket)?

Thanks in advance

[2021-08-18 11:27] bhuvi11 opened #871 "BUG : is allstar working for all repositories?"
Hello Team,

I am new to allstar and tried to use it in my GitHub repository. I have few questions

- I have installed the app and given access to all my repositories.
I do have security issues. I am not sure why Allstar is not able to detect and create issues.
Eg, i dont have SECURITY.md file. Allstar should have created an issue similar to :

Is there something else I need to configure?
This is

[2021-08-18 11:33] nanikjava commented on #780
@laurentsimon can you assign the ticket to me, I've opened a PR for this. Thanks.

[2021-08-18 15:03] azeemshaikh38 commented on #868
Hi @bhuvi11 ,

Thanks for you interest in Scorecard. See answers inline:

It is mainly used for open source projects. But it can be used for private repositories if you have the permissions to access them. See, https://github.com/ossf/scorecard#authentication.
We have an open issue for supporting enterprise projects - https://github.com/ossf/scorecard/issues/660

Currently we only support GitHub r

[2021-08-18 15:05] azeemshaikh38 commented on #780
IMO, we should hold off on this. We plan to expand support to VCS systems other than GitHub.

[2021-08-18 15:51] laurentsimon commented on #780
Discussed with @azeemsgoogle offline. GitHub still accounts for the majority of os repos today, so let's move forward with this and merge the PR. Thank you @nanikjava for sending the PR!

[2021-08-18 15:57] laurentsimon opened #873 "Validate check takes too long"
The validate check we use as PR check takes ~40mn to build protobuf, which is long and delays obtaining results.
Can we speed this up? Maybe pull a signed protobuf binary, or build once and keep it in a docker image that we update every week or so.

Let's discuss this during next meeting.

[2021-08-18 16:11] laurentsimon commented on #839
sounds like a reasonable approach. Also verify that if `if: runner.os == 'Windows'` is present, at least one windows os is specified in `runs-on`

[2021-08-18 18:12] naveensrinivasan commented on #871
Please create this issue in Allstar repo. Thanks

[2021-08-18 18:12] #871 closed

[2021-08-19 04:30] bhuvi11 commented on #871
Hello Team,

I have raised an issue with allstar. I am not getting a response. Is there anyone here who can look into and reply?

Thanks in advance

[2021-08-19 12:54] naveensrinivasan commented on #873
I can take this.

[2021-08-19 15:18] #868 closed

[2021-08-19 16:25] maks500 opened #874 "BUG Dependency update bot not detected"
**Describe the bug**
When running Scorecard against this repo https://github.com/tngan/samlify I get an score 0 on the Dependency Update Tool check, however the repo does have dependabot.

**Reproduction steps**
Steps to reproduce the behavior:
1. Run `docker run -e GITHUB_AUTH_TOKEN=<token> gcr.io/openssf/scorecard:stable --show-details --repo=https://github.com/tngan/samlify`
2. Check the score

[2021-08-19 19:15] laurentsimon commented on #95
Can you try running the current version of scorecard? We've tried to generally address this.
Looking forward to your feedback!

[2021-08-19 19:15] laurentsimon commented on #874
do you have dependabot enabled as a GitHub setting rather than a config file under `.github/`?

[2021-08-19 21:37] laurentsimon commented on #426
related link https://securitylab.github.com/advisories/GHSL-2020-328-GoogleCloudPlatform-microservices-demo-workflow/

[2021-08-20 12:10] nanikjava commented on #780
@laurentsimon this ticket can be closed now ?

[2021-08-20 12:11] nanikjava commented on #334
@laurentsimon @naveensrinivasan Can you please assign this ticket to me ? interested to work on this. Thanks.

[2021-08-20 12:57] naveensrinivasan commented on #334
I have assigned it.

[2021-08-20 15:20] laurentsimon commented on #780
Indeed it can and should. Thanks for the reminder!

[2021-08-20 15:20] #780 closed

[2021-08-20 16:54] laurentsimon commented on #334
I actually think this is fixed and I forgot to close the issue:
[code]

[2021-08-20 16:56] laurentsimon commented on #859
related to https://github.com/ossf/scorecard/issues/397

[2021-08-20 17:02] laurentsimon commented on #352
Closing as we fixed this as part of using score-based results.

[2021-08-20 17:02] #352 closed

[2021-08-20 17:05] laurentsimon commented on #859
somewhat relevant https://github.com/ossf/scorecard/issues/62

[2021-08-20 17:20] maks500 commented on #874
I'm not the owner of the samlify repository so I can't fully confirm.

But after some testing on a private repo I own I noticed that dependabot is not detected if enabled through Github settings, I would suspect same thing is happening with samlify.

[2021-08-20 17:23] laurentsimon commented on #874
yep that makes sense. We encourage owners to make their config public.

That said, we have plans to improve the check to look for dependabot PRs (accepted/rejected) to make the check more robust. Thanks for reminding us, I realized there was no tracking issue for it.

If you're interested in helping, PRs are welcome!

[2021-08-21 09:11] nanikjava commented on #334
@laurentsimon you are correct, tested out `main` branch and indeed it print out that message when `GITHUB_AUTH_TOKEN` is not specified. This ticket need to be closed.

[2021-08-21 09:24] nanikjava commented on #861
@laurentsimon tested `make e2e` and the following tests failed:

[code]

Looked at the test code for `E2E TEST:Packaging` and it is failing because the following action for `publish-snapshot` in this link  https://github.com/ossf-tests/scorecard-check-packaging-e2e/actions/runs/1089006870 have got `skipped` actions there isn't any `success` action. Once there is some `success` action the test will

[2021-08-22 11:34] nanikjava commented on #802
@laurentsimon Keen to work on this. Few questions:

* Which github repo is suitable for testing to check for both unpinned and pinned action
* In terms of score calculation can you point in the direction on how to calculate this ?

Thanks

[2021-08-23 06:36] bhuvi11 opened #878 "Mismatch result between docker run and CLI run"
I tried to run scorecard using

I see a difference in the result.

The docker run gave me

Whereas the scorecard installed using go gave me ,

This means going forward i wont get the score for each check? and i see all the details is NULL

Attaching both the result

Result from go install

[result_from_go_install.txt](https://github.com/ossf/scorecard/files/7029630/result_from_go_install.txt)

Res

[2021-08-23 08:58] bhuvi11 opened #880 "GitHub Token Permission"
Hello Team,

What is the mininum permission level to generate github token ?
Should i need to give read/write for all the repositories or only read access?

[2021-08-23 09:33] JarLob commented on #426
Hi, the important prerequisite for the dangerous pattern of `pull_request_target` is the usage of untrusted data, most commonly an explicit checkout of `github.event.pull_request.head` as in the example above. There are many ways to checkout the pull request code, but I think you can reduce false positives by checking for the most common - checkout action `ref:` parameter. Yet this still doesn't m

[2021-08-23 13:40] bhuvi11 opened #881 "How to use scorecard to scan a specific branch"
Hello Team,

Is there an option to scan a specific branch using scorecard?

[2021-08-23 14:04] #878 closed

[2021-08-23 15:34] laurentsimon commented on #426
Thanks for the information, that's super useful. If someone in your team is interested in taking a stab at this, please let me know.

[2021-08-23 17:03] #334 closed

[2021-08-23 17:18] laurentsimon commented on #861
Thanks. I'll bring this up during the meeting today.
- packaging: @azeemsgoogle, please comment
- branch protection: there's been a recent commit https://github.com/ossf/scorecard/commit/cc312f2d1d76d48b2ddd8392c6f51c0f11cac533 which I suspect makes the tests fail now. We need to remove `apache/airflow`. I think we'll need to either fix `ossf-tests/scorecard-check-branch-protection-e2e` or leave i

[2021-08-23 17:29] azeemshaikh38 commented on #861
Yes, `packaging` test is safe to be enabled.

[2021-08-23 17:34] laurentsimon commented on #802
👍🏾

Few questions:

scorecard repo pins all its dependencies.
I can't find a repo that pins all its dependencies except the GitHub-owned ones.
You're going to have to add unit tests in https://github.com/ossf/scorecard/blob/main/checks/pinned_dependencies_test.go, so you can add workflows you need for testing there.

(Note: Familiarize yourself with https://github.com/ossf/scorecard/blob/main/chec

[2021-08-23 17:38] laurentsimon opened #884 "Support Makefiles in `dependency-pinning` check"
We currently check for the presence of `curl | bash` and other unpinned dependency patterns for shell script in the repo, in GitHub workflows' `run`, dockerfiles' `RUN`.

We are not doing the same for Makefiles yet, see https://github.com/ossf/scorecard/issues/427#issuecomment-839175421

[2021-08-23 17:42] laurentsimon commented on #861
any comment on `Status from success to skipped` that @nanikjava suggested? Is that intended or should we fix the test repo so that it contains a `success` run?

[2021-08-23 17:55] azeemshaikh38 commented on #861
Ah I see. So I copied over the `.github` folder from `apache/orc` (the previous repo we were testing) and kept the test and everything else same - #796. I guess, not having files in the fake repo causes the workflow runs to be skipped. We need to update the fake repo such that there are successful workflow runs.

[2021-08-23 21:17] laurentsimon opened #886 "Feature: add line number to Token-Permissions detail reporting"
see the title. It's identical to https://github.com/ossf/scorecard/issues/725 but for `Token-Permissions` check.

[2021-08-23 21:18] laurentsimon commented on #886
FYI @chrismcgehee

[2021-08-23 22:19] laurentsimon commented on #881
duplicate from https://github.com/ossf/scorecard/issues/575.
TL;DR: we're working on as part of our integration as a GitHub action.

[2021-08-23 23:35] laurentsimon opened #890 "Feature: add URL to Release structure"
In the `Signed-Release` check, it would be useful to indicate the url of the non-signed release artifacts. See https://github.com/ossf/scorecard/pull/887#discussion_r694349642 for example.

The URL should look like https://github.com/ossf/scorecard/releases/tag/v2.1.2

[2021-08-23 23:58] laurentsimon opened #891 "Feature: add hash commit to JSON format"
see title

[2021-08-23 23:58] laurentsimon commented on #891
@azeemsgoogle you want to take it or shall I?

[2021-08-24 12:27] bhuvi11 opened #894 "Can severity be integrated with score"
Hello Team,

Currently we get score for each check.
Is there any plan to add severity as well for the checks?

Similar to,
0-3 : High
4-6 : Medium
6-10 : Low

This will help us to easily categorize the checks and use the severity rather than the score.

Currently can someone explain how score is calculated for each check?

[2021-08-24 12:50] bhuvi11 opened #895 "BUG: Code-review check result is wrong"
Hello Team,

I see that the code review check is not providing the right result,

      "Details": [
        "found pr with committer different than author: 1",
        "found pr with committer different than author: 2",
        "found pr with committer different than author: 9",
        "found pr with committer different than author: 33",
        "Gerrit code reviews found for 0 commits out of th

[2021-08-24 13:10] bhuvi11 opened #896 "BUG : Token check issue"
Hello Team,

I dont have any read only tokens in the workflow but i get this as the result

      "Details": null,
      "Score": 10,
      "Reason": "tokens are read-only in GitHub workflows",
      "Name": "Token-Permissions"
    }

Repository for reference : https://github.com/bhuvi11/ecom-service

Please help

[2021-08-24 13:45] nanikjava commented on #802
Thanks @laurentsimon

Went through the `pinned_dependencies.go` code and here's my finding, please correct me if I'm wrong:

* The `isGitHubActionsWorkflowPinned` function is filtering files residing inside `.github/workflows` directory and iterating them by converting the file content into `gitHubActionWorkflowConfig` struct

* The `validateGitHubActionWorkflow` iterate the  `gitHubActionWorkflow

[2021-08-24 14:33] azeemshaikh38 commented on #896
My guess is that there are no tokens found and hence the score of 10 which is the expected behavior. If you have any tokens with write permissions and the check did not catch it, feel free to re-open this bug.

Closing this for now.

[2021-08-24 14:33] #896 closed

[2021-08-24 14:43] azeemshaikh38 commented on #894
The idea behind providing scores and not severity is that each users needs are unique. Users may want to configure different Scorecard checks with different severity levels.

For an explanation of how score is being calculated for each check, use the `--show-details` option. Let me know if that helps.

[2021-08-24 14:53] azeemshaikh38 commented on #895
The GitHub API returns the committer of the PR as `null` which leads to Scorecard recognizing author and committer as different. Giving a score of `10` here seems like the wrong behavior. @laurentsimon this is an interesting corner case to look into.

[2021-08-24 14:55] azeemshaikh38 commented on #880
Minimum token permissions is `:public_repo`. Note that this won't allow you to run `Branch-Protection` check. If you need to run `Branch-Protection` check on a repo you own, you will also need to give `:admin` access to the token.

[2021-08-24 14:55] #880 closed

[2021-08-24 15:54] laurentsimon commented on #895
@bhuvi11 thanks for the report!

Can you give me the steps to reproduce the problem (and how the PR was merged)? Example:
1. Create a branch on the same repo
2. XXX
3. etc

I need to figure out why the committer is `null` and whether we can tweak the message/score.

[2021-08-24 16:07] laurentsimon commented on #802
correct. `CheckFilesContent()` calls `validateGitHubActionWorkflow()` as a callback for every file it finds.

correct.

It is looking for anything like `whatever@hash`, but does not differentiate between GitHub-owned and third-party actions yet.
Keep in mind that the function will be called for every file found, so you need to keep a state across calls to `validateGitHubActionWorkflow()`: that's w

[2021-08-24 16:50] #891 closed

[2021-08-24 17:42] laurentsimon commented on #874
Additional note: we should also check for reverted dependabot PRs by maintainers

[2021-08-24 17:56] laurentsimon commented on #894
We have some severity in https://github.com/ossf/scorecard/blob/main/docs/checks/checks.yaml which we don't expose in the doc or the result. Can you take a look at them and see if you agree/disagree with what we have?

As @azeemsgoogle

[2021-08-24 18:13] laurentsimon opened #897 "Feature: add other fuzzing platforms to the Fuzzing check"
see title

[2021-08-24 18:30] laurentsimon opened #898 "BUG: check information in README.md and other docs should be programmatically generated from checks.md"
An internal team complained that the description in https://github.com/ossf/scorecard#scorecard-checks is different from those in checks.md (Packaging check)

We should pull all the doc for checks from checks.yaml and generate the section of the README programatically. We now have a `short` field in the checks.md that we may be able to re-use (does not support clickable links, though).

 More gene

[2021-08-24 18:36] laurentsimon commented on #688
For golang, we would like to query the https://pkg.go.dev/ and see if a corresponding package exists

[2021-08-24 21:41] laurentsimon commented on #898
note that in `checks/*` (`registerCheck()`) we could also retrieve the check names from the yaml file

[2021-08-24 21:53] laurentsimon commented on #898
the run examples should also be generated programatically.

[2021-08-25 00:18] maks500 commented on #874
Any ideas on how to implement this ? I've been looking at the Github API and haven't found a way to know if the repository has dependabot (or similar) enabled.
Another way would be to check for commits authored by the dependabot in the last N days, what do you think about it ?

[2021-08-25 01:53] laurentsimon commented on #874
I think that is a good start and aligned with what we had in mind.
Do you know if this API https://docs.github.com/en/rest/reference/pulls#check-if-a-pull-request-has-been-merged can list PRs that have been rejected/dismissed as well?

@jeffmendoza please let us know if you have better ideas/insights for now.

FYI @inferno-chromium @naveensrinivasan @oliverchang @azeemsgoogle how many days shall w

[2021-08-25 03:50] bhuvi11 commented on #895
Hello @laurentsimon,
Sure

- I have created a branch called testing
- I made a change
- I raised a PR and merged it with master

Pull request :

Branch successfully merged

[2021-08-25 03:53] bhuvi11 commented on #896
Hello @azeemshaikh38,
But shouldnt it tell there is no read token? instead the reason says tokens are read-only in GitHub workflows which means i have tokens that are read only but i dont have any token at all

[2021-08-25 03:58] bhuvi11 commented on #894
Hello @azeemshaikh38 and @laurentsimon,

I totally agree but I am more looking for a degree of severity as the score increase or decreases.
I see that for each check risk is tagged to but for which score range that is risk is applicable is more I am looking for.

For eg, assume for branch protection I get 5 as a score, what risk can I give for that? as per the checks.yaml file the risk mentioned i

[2021-08-25 10:28] bhuvi11 opened #905 "BUG : How does it identify the vulnerabilities using OSV"
Hello Team,
I have not registered my project under OSS-fuzz.
How does scorecard identify the vulnerabilities using OSV?

[2021-08-25 10:47] nanikjava commented on #802
@laurentsimon Thanks for the explanation.

Based on explanation I've come up with some code which probably is not correct but thought of showing doing it using code to get a better understanding of the solution.

Please let me know what you think.

[2021-08-25 13:31] #873 closed

[2021-08-25 19:26] azeemshaikh38 opened #911 "BUG: Cron date format broken"
Cron job JSON output is broken. The date format has been changed from `2021-08-18` to `2021-08-25T17:44:18.143709871Z` which blocks BigQuery data transfers.

@laurentsimon possibly related to recent changes you were making. Could you look into it?

[2021-08-25 23:29] #911 closed, assigned to laurentsimon

[2021-08-26 16:18] laurentsimon opened #920 "Feature: Add support for CVS"
We currently support GitHub. We would like to support other CVS:
1. Gitlab
2. Bitbucket
3. Apache Jira
4. ...

These are the ones deps.dev, in order of most to least number of projects tracked. Not that those 3 combined amount to less than 2% at the moment.

[2021-08-27 14:26] thallesfreitaszup opened #928 "How to securily download a script on dockerfile"
I need to download a binary on my dockerfile, is there any way of do a secure download?

[2021-08-28 02:00] #928 closed

[2021-08-29 15:32] neil465 opened #929 "Upgrade go to 1.17"
**Is your feature request related to a problem? Please describe.**
Upgrade go to 1.17

[2021-08-29 15:33] neil465 commented on #929
I am new to OSS. I would like to work on this issue. Thanks

[2021-08-29 15:35] naveensrinivasan commented on #929
Sure @neil465, Thanks.

[2021-08-30 21:18] laurentsimon opened #935 "Granular `Vulnerabilities` check"
We should make the `Vulnerabilities` check more granular by taking into account the criticality of existing vulnerabilities. Example:
Critical vulnerabilities -> score -= 10
High -> score -= 7
Medium -> score -= 2
Low -> score -= 1

Suggestions welcome. We could also take the time the vulnerabilities have been present for. Bit I think this complicates too much and I'm not sure it helps.

[2021-08-30 22:19] laurentsimon commented on #710
as we roll this check thru allstar, I'll try to see how we can better avoid these (possibly) false positives. May require code annotations for developers to configure some opt-out (scorecard could then have an option to use or ignore the annotations). We could go one step further and require annotations to be LGTM'ed by a security team. Suggestions welcome.

[2021-08-31 01:21] laurentsimon commented on #890
re-opening since https://github.com/ossf/scorecard/pull/887#discussion_r694349642 was not addressed. See https://github.com/ossf/scorecard/blob/main/checks/signed_releases.go#L76
`Path` should be set to `r.URL` and removed from the message.

[2021-08-31 02:52] bhuvi11 commented on #905
Hello @laurentsimon,
Yeah . I see the vulnerability check mentioned as it checks the vulnerabilities from OSV, but how does it checks if this project has this vulnerability? Does it scan the project?

[2021-08-31 03:02] oliverchang commented on #905
Today the vulnerabilities check just checks if the repo has any direct vulnerabilities in the OSV database. It does not scan for vulnerabilities in that repo's dependencies (yet).

[2021-08-31 03:26] #890 closed

[2021-08-31 03:38] bhuvi11 commented on #905
Hello @oliverchang,

Thanks for your quick response.
I see the OSV DB has all the vulnerabilities. Does it store the information of the repository as well?

[2021-08-31 10:34] bhuvi11 commented on #894
Hello @laurentsimon,

It would be great if you can define a severity level for the score range like ,
0-3 : Bronze
4-6 : Silver
6-10 : Gold
So that we can use it to provide the severity rather than a score.

[2021-08-31 11:21] naveensrinivasan commented on #710
I like the idea of added annotations. Let’s discuss this in our next sync up.

[2021-08-31 11:26] naveensrinivasan commented on #744
@dlorenc Does ko support tags? The cork job uses couple of tags to “latest” and “stable” to differentiate which between test runs?

[2021-08-31 11:31] naveensrinivasan commented on #78
@azeemshaikh38 this would be a good feature to provide more details for package consumers.

Can the result interface accommodate some of these changes?

[2021-08-31 11:32] naveensrinivasan commented on #384
No longer applicable

[2021-08-31 11:32] #384 closed

[2021-08-31 11:36] naveensrinivasan commented on #898
Can you please explain further on run examples?

[2021-08-31 15:31] laurentsimon commented on #78
Possible ideas:
1. Provide a percentage of code covered and provide a link to a detailed report (similar to `Vulnerabilities` check w/ OSV)? In this case no need to support the structure above
2. serialize the structure into a string, and set if to the details's [Text](https://github.com/ossf/scorecard/blob/main/checker/check_result.go#L65) or a new field. We can add a different `Type` [check_resu

[2021-08-31 15:42] laurentsimon commented on #894
I see. So you see severity as being the opposite of compliance level. Note that a severity for the same score may vary across different checks. Example: score of 5 for `Pinned-Dependencies` may be lower than score 5 `Vulnerabilities`... and higher than score 5 for `SAST`. This inherently stems from the fact that different checks have different risk levels.

Because of this, I'm not sure we can rea

[2021-08-31 16:38] laurentsimon commented on #898
oops, sorry.. that was vague. Ideally https://github.com/ossf/scorecard#using-repository-url would be generated from a scorecard run to generate the output example. I don't know how feasible this is in practice.

[2021-08-31 16:40] laurentsimon commented on #935
@oliverchang is this something you could do for q4?

[2021-08-31 22:06] laurentsimon commented on #426
Added a few more bad things to the list after reading https://securitylab.github.com/research/github-actions-preventing-pwn-requests/

[2021-08-31 22:21] oliverchang commented on #935
Severity isn't actually a standard part of the schema, as it's hard to define a standardized value that makes sense for all ecosystems. There's also debate on if a severity value is generally that useful at all -- a real severity to a user depends on they they use it.

[2021-08-31 22:31] laurentsimon commented on #935
agreed on the context being important from a dependent's point of view. For the repo owner, severity helps with prioritization and  could have been useful. Any thoughts on how we could make the check more granular?

[2021-08-31 23:26] laurentsimon commented on #426
part 3 https://securitylab.github.com/research/github-actions-building-blocks/

[2021-08-31 23:36] laurentsimon opened #942 "Scorecard repo fails at `Token-Permissions` with score `0`"
We need to fix this. A cursory read of our workflows:

- [x] Codeql -> `contents:read`, `statuses: write`and possibly `security-events: write`
- [ ] Goreleaser -> `contents:read`
- [ ] Integration -> `contents:read`, `pull-requests:write` for this.
- [ ] Main -> `contents:read`, `status:write` for license part.
- [ ] Ok-to-test -> ?
- [ ] Stale -> `contents:read` and `issues:write` and `pull-reque

[2021-08-31 23:40] laurentsimon commented on #942
@naveensrinivasan , can you handle it?

[2021-08-31 23:41] laurentsimon commented on #942
As we fix this, let's keep a record to explain the permissions we need. Everyone struggles with GitHub permissions AFAIK

[2021-09-01 00:17] naveensrinivasan commented on #942
I will take this.

[2021-09-01 07:04] bhuvi11 commented on #894
Hello Team,

A small suggestion,
Can you provide fail/pass for each check

[2021-09-01 21:31] naveensrinivasan opened #950 "SBOM generation"
The proposal is to generate [SBOM](https://www.ntia.gov/SBOM) for `gcr.io/openssf/scorecard` and sign the docker image and the SBOM with [cosign](https://github.com/sigstore/cosign)

## SBOM

A “Software Bill of Materials” (SBOM) is effectively a nested inventory, a list of ingredients that make up software components. The following documents were drafted by stakeholders in an open and transparent

[2021-09-01 21:37] naveensrinivasan commented on #950
@dlorenc @azeemshaikh38 @inferno-chromium @laurentsimon  Thoughts?

[2021-09-01 21:44] naveensrinivasan commented on #942
It would be great to have a tool that will produce the actual permissions needed for these actions.

[2021-09-01 22:31] #929 closed

[2021-09-02 00:49] nathan-415 opened #954 "BUG - Failed on pinned dependencies check"
**Describe the bug**

The pinned dependencies check fails.

[code]

For this file https://raw.githubusercontent.com/sourcegraph/sourcegraph/main/.github/workflows/codenotify.yml

The issue seems to be in this line https://github.com/ossf/scorecard/blob/1434977ac0173675fdfc4d413e5ab4bfd21df1fc/checks/pinned_dependencies.go#L528

[2021-09-02 02:24] azeemshaikh38 commented on #954
@chrismcgehee FYI.

We have some known parsing issues we are tracking here #839. Closing this issue and marking it as duplicate.

[2021-09-02 02:24] #954 closed

[2021-09-02 02:24] azeemshaikh38 commented on #839
One more from #954

[code]

[2021-09-02 02:32] #462 closed

[2021-09-02 06:45] bhuvi11 commented on #895
Hello @laurentsimon,
Thanks a lot for the response.
What is that i need to do?

[2021-09-02 08:44] bhuvi11 opened #957 "BUG : Pinned dependency issue"
Hello Team,

When i run scorecard i recevied the below output for pinned dependencies
 "Warn: no lock files detected for a package manager",
            "Warn: unpinned dependency detected (job 'Analyze'): .github/workflows/codeql-analysis.yml:39",
            "Warn: unpinned dependency detected (job 'Analyze'): .github/workflows/codeql-analysis.yml:43",
            "Warn: unpinned dependency dete

[2021-09-02 15:51] azeemshaikh38 commented on #957
@laurentsimon @naveensrinivasan FYI.

Pinning by version is not considered enough. You need to pin dependencies by hash to improve the checks score. See https://github.com/ossf/scorecard/blob/afe5b40567603d0282f8824edf4c3eeeb8089ece/.github/workflows/main.yml#L23 for an example.

We need to improve our documentation to call this out explicitly and also improve logging to let user know it wasn't pi

[2021-09-02 23:43] inferno-chromium opened #959 "Branch-Protection check does not work on https://github.com/GoogleCloudPlatform/ops-agent"
from Igor

Running scorecard over our repo (https://github.com/GoogleCloudPlatform/ops-agent) results in a "branch not found" error from the Branch-Protection check:

$ go install github.com/ossf/scorecard/v2
$ GITHUB_TOKEN=<redacted> ~/go/bin/scorecard --repo=https://github.com/GoogleCloudPlatform/ops-agent --show-details --checks Branch-Protection --verbosity Debug
Starting [Branch-Protection]
F

[2021-09-02 23:47] igorpeshansky commented on #959
/cc @igorpeshansky

[2021-09-03 04:17] azeemshaikh38 commented on #959
Thanks for filing this, looks like I had left myself a TODO which I missed during my PR - https://github.com/ossf/scorecard/blob/830c4f57db4f00d98b937c509642e470dc21260b/clients/githubrepo/branches.go#L99

Sent #960 which should fix this. My local testing showed this output:

[code]

Will also cut a new release after this is in so that you can `go get` the version with the fix.

[2021-09-03 14:31] azeemshaikh38 opened #962 "Reduce number of `nolint` comments in code"
We have way too many `nolint` comments in the code. Tracking issue for improving this technical debt by either:

i) Removing unhelpful linters
ii) Improving coding practices

[2021-09-03 14:40] #959 closed

[2021-09-03 14:48] neil465 commented on #962
I would like to work on this issue.

[2021-09-03 15:03] azeemshaikh38 commented on #962
Great, thanks! Assigning this issue to you.

[2021-09-03 15:48] naveensrinivasan commented on #962
Which linters do we want to remove?

[2021-09-03 16:03] azeemshaikh38 commented on #962
On the top of my head, the ones I can think of are:

- gomnd (magic number detection. causes lot of false positives)
- prealloc (forces you to pre-allocate slices)
- goerr113 (disallows you from creating errors on the fly)
- dupl (lot of false positives in the `e2e` package)

Also, a lot of times we have `nolint` which disables all linters instead of a specific one. We should fix this too and make

[2021-09-03 16:32] naveensrinivasan commented on #962
I agree this can be a pain and wouldn't mind removing this.

prealloc has performance implications https://github.com/alexkohler/prealloc#purpose , so why do you think this should be removed?

The go error in 1.13 https://go.dev/blog/go1.13-errors is the right way to create errors. If we don't handle errors correctly we are likely not nested call-stack of the error. What is your reasoning behind r

[2021-09-03 17:00] azeemshaikh38 commented on #962
Because this link seems to prefer empty slices over pre-allocated one: https://github.com/golang/go/wiki/CodeReviewComments#declaring-empty-slices. I'm ok with either way as long as we agree with one guideline and apply it across the code without the need for `// nolint`.

This usually comes up in `main.go` files where there is no error to propagate - https://github.com/ossf/scorecard/blob/276155d

[2021-09-03 17:08] naveensrinivasan commented on #962
OMG!! This is funny. They are contradicting each other. I don't have a dog in the fight on this. Lets remove that linter.

For this one can we just have nolint in the `main.go` this will make it easier to debug?

Sounds good , lets remove the `dupl`

[2021-09-03 17:11] azeemshaikh38 commented on #962
Sounds good to me, thanks.

[2021-09-03 17:14] naveensrinivasan commented on #962
### Remove these linters
- gomnd (magic number detection. causes lot of false positives) - REMOVE this
- prealloc (forces you to pre-allocate slices) - Remove this
- dupl (lot of false positives in the e2e package)

### Keep this linter and fix the code which has no lint for this
- goerr113 (disallows you from creating errors on the fly)

[2021-09-03 17:14] naveensrinivasan commented on #962
👍

[2021-09-03 18:00] naveensrinivasan commented on #957
The pinned dependencies https://github.com/ossf/scorecard/blob/main/docs/checks.md#pinned-dependencies has the documentation

And with this fix, it should take care of the broken link https://github.com/ossf/scorecard/pull/963.

So closing this issue.

[2021-09-03 18:00] #957 closed

[2021-09-03 18:39] naveensrinivasan opened #965 "Feature - Enable specific actions for Scorecard"
**Is your feature request related to a problem? Please describe.**
Right now scorecard allows Run all Github actions.
![image](https://user-images.githubusercontent.com/172697/132051830-1dbf53c3-309d-4819-92f7-f0b08f3fb186.png)

We should probably restrict it to a set of predefined actions. The reduces the attack vector.

Also, should this be an additional check as part of the scorecard?

[2021-09-03 18:52] naveensrinivasan opened #966 "Feature - Security Scan"
**Is your feature request related to a problem? Please describe.**
Should Scorecard run a security scan on repositories? With something like https://github.com/coinbase/salus

[2021-09-03 18:55] naveensrinivasan commented on #881
For now, the recommendation is to download the repo and check out the specific branch, and run scorecard on that.

@azeemshaikh38  Thoughts/recommendations?

[2021-09-03 18:56] naveensrinivasan commented on #861
@nanikjava  Are you planning to work on this? Please let us know. Thanks

[2021-09-03 20:12] naveensrinivasan opened #967 "Feature - Provide docker image sha for failed pinned dependencies"
**Is your feature request related to a problem? Please describe.**
Right now scorecard provides a warning message for  `Warn: unpinned dependency detected in Dockerfile: ' alpine:3.14` when the docker file does not have a pinned SHA.

**Describe the solution you'd like**
Instead of just providing the warning it would be helpful to provide the actual SHA that would have to be used to address this i

[2021-09-05 03:46] bhuvi11 commented on #881
Hello @naveensrinivasan,

How can i do that? currently i see we can scan only URLs
how can i checkout ? can i scan .git repositories?

[2021-09-05 08:01] nanikjava commented on #861
@naveensrinivasan No plan currently to work on it.

[2021-09-05 16:57] chrismcgehee commented on #839
The error from https://github.com/crawl/crawl is because there is a [python file](https://github.com/crawl/crawl/blob/69098e2f6d3e6417edc2f7741f8c987ef8140948/.github/workflows/deps.py) in `.github/workflows`. I'll fix this by only trying to unmarshal files in `.github/workflows` if it has a `.yml` or `.yaml` extension. From https://docs.github.com/en/actions/reference/workflow-syntax-for-github-a

[2021-09-05 18:45] chrismcgehee commented on #967
Seems like a good idea to me.

[2021-09-05 18:51] chrismcgehee commented on #966
Here's a question I would ask: Do the raw results of an automated security scan provide a meaningful insight as to the security of a project? I would argue it does not due to the high number of false positives in SAST tools.

[2021-09-05 20:26] naveensrinivasan commented on #966
IMO gosec provides good security defaults.

The whole idea is to make OSS aware of security implications that most projects aren’t providing. The goal is to encourage them to address these.

Most of these linters have an option nolint, which meant the owner of the repository took their time to address those false positives even if it is.

[2021-09-06 18:34] naveensrinivasan commented on #839
@chrismcgehee  Can we close this?

[2021-09-06 19:15] chrismcgehee commented on #839
Not yet. There's still one more issue I need to address: shell code that isn't able to be parsed.

[2021-09-06 22:58] azeemshaikh38 commented on #861
Thanks @nanikjava ! @naveensrinivasan assigning to you.

[2021-09-06 23:02] azeemshaikh38 commented on #881
Currently, we don't support running on a specific/local branch. #462 unblocks the implementation of a client which can run on local files. We haven't started the implementation on this yet but might start in a few weeks.

[2021-09-07 20:57] neil465 commented on #962
@azeemshaikh38
I would like to know which error package should I use to replace this one? Can you please provide me an example? Thanks

https://github.com/ossf/scorecard/blob/1c7ba79435007fd5ba04533934dc4d698760e84b/cron/bq/main.go#L97

[2021-09-07 21:24] chrismcgehee commented on #966
I've thought about this further, and I think this is worth doing.

[2021-09-07 23:46] david-a-wheeler opened #977 "Scorecard fails to detect frozen dependencies in Ruby applications (including Rails apps)"
**Describe the bug**
One of scorecard requirements is "frozen dependencies". In Ruby applications, including Rails, frozen dependencies are implemented via a `Gemfile.lock` file. However, such Ruby applications (such as the CII Best Practices badge project) are incorrectly marked as *not* having frozen dependencies.

**Reproduction steps**
Steps to reproduce the behavior:
1. View the [OpenSSF metr

[2021-09-07 23:57] naveensrinivasan commented on #977
The issue isn't with the `gemfile.lock` that scorecard is able to identify.  It is the other dependencies that aren't pinned.

[code]

[2021-09-07 23:59] naveensrinivasan commented on #977
`go run . --repo=https://github.com/coreinfrastructure/best-practices-badge --checks=Pinned-Dependencies --show-details --format=json | jq` will give the details on the issue

[2021-09-08 00:26] david-a-wheeler commented on #977
Thanks for the details. Let me see here:

That's for:

[code]

That's the usual recommended way to checkout projects on GitHub in a GitHub action, and it does specify the major version number. What would be recommended instead?

That's for:

[code]

That's to invoke Brakeman (a static analysis tool), and it specifies a version of the linter action. What would you suggest instead?

This is weird. T

[2021-09-08 02:21] naveensrinivasan commented on #977
It is recommended to pin dependencies by hash instead of tag, because tags can be moved.

https://github.com/ossf/scorecard/blob/main/docs/checks.md#pinned-dependencies

[2021-09-08 11:04] fridex opened #978 "Availability and freshness of data available on Google Storage"
**Is your feature request related to a problem? Please describe.**

Hi everyone,

I'm trying to consume scorecards from google storage available at `gs://ossf-scorecards/`. The last entry I can see is `gs://ossf-scorecards/05-17-2021.json` according to the date in object key. The date also corresponds to the `Date` field in scorecard entries available in `gs://ossf-scorecards/latest.json`.

I woul

[2021-09-08 14:06] naveensrinivasan commented on #978
scorecard has moved to Big Query https://github.com/ossf/scorecard#public-data. Please use that. Thanks

[2021-09-08 14:06] #978 closed

[2021-09-08 14:32] laurentsimon commented on #839
I found another one `--repo=tensorflow/tensorflow` that fails `invalid shell code: 18:48: &> must be followed by a word`

[2021-09-08 15:01] naveensrinivasan commented on #978
AFAIK this is open and does not require authentication @azeemshaikh38  can you please chime in?

[2021-09-08 15:08] fridex commented on #978
I've tried the example from the README file:

[code]

Also, tried with Python client:

[code]

with the following exception raised:

[code]

Thanks for any pointers.

[2021-09-08 15:20] azeemshaikh38 commented on #978
You don't need authentication to access the data. You need it so that in case you exceed the free tier limit, Google Cloud knows which project/account to bill. See https://cloud.google.com/bigquery/public-data.

You need to log into a Google Cloud project/account before running the above queries.

[2021-09-08 15:31] azeemshaikh38 commented on #309
@naveensrinivasan assigning this to you as per yesterday's discussion. Lets come up with a one-pager proposal here to submit in the TAC meeting

[2021-09-08 15:31] azeemshaikh38 commented on #950
Updating the scope of this issue as per yesterday's discussion. We already have #309 for the cosign issue. Let's use this issue to instead track the generation of SBOM for Scorecards.

[2021-09-08 15:40] azeemshaikh38 commented on #962
The decision was to leave `goerr113` as is, as long as it's in `main.go` or `_test.go` files. I think it conforms to that pretty much everywhere except - https://github.com/ossf/scorecard/blob/d9f52098033b46b48965522a442cf1fc188b25c1/utests/utlib.go#L98

You can create a new error and return that. An example is here: https://github.com/ossf/scorecard/blob/13ef9dd7e006bee29b042343366e308b737e5619/c

[2021-09-08 20:37] azeemshaikh38 opened #982 "Feature: automated semver releases"
We use a [webhook](https://github.com/ossf/scorecard/tree/992775e641aa12041ea4ff25b5fda7ccca9f4012/cron/webhook) to create `stable` docker images when a release test run successfully completes. Similarly we should have a webhook, such that when prod cron job completes successfully, we use semver specification to automatically create a new tag and release. On a high-level this is what the webhook n

[2021-09-08 21:24] laurentsimon commented on #898
another thing we need to fix: We tend to update checks' source code but forget to update the checks' documentation in the same PR. We need to catch this. One idea would be to:
1. Create a tool that we run during PR validation in a workflow
2. The tool would check if anything changes under `checks/`.
2.1 If something changed under `checks/` and the doc was updated, PASS.
2.1 If something changed un

[2021-09-08 21:27] laurentsimon commented on #977
This seems like the error message/doc is not good enough. There's been another issue with the sample complain.
Note: we have someone working on giving some points to repos that pin the GitHub-owned actions by version https://github.com/ossf/scorecard/issues/802

[2021-09-08 21:51] laurentsimon commented on #966
there are various shades of grey we may consider here (sorry was OOO yesterday):
1. Check for specific SAST tools. As simple as looking for bot names run on PR and/or parsing config files (what David said)
2. Classify *what* guarantees a SAST tool provides. Example: [go-kart](https://github.com/praetorian-inc/gokart) tries to detect command Injection, path traversal. I don't think `gosec` does. Bu

[2021-09-08 22:06] laurentsimon commented on #967
Good idea. Here are additional thoughts:
1. We have different users that can use this information: humans and tools (e.g. allstar). Human can write a PR with the tip we give them; tools like allstar could create a PR automatically. One way we could handle both is to add some struct in https://github.com/ossf/scorecard/blob/main/checker/check_result.go#L64 like:
[code]
2. I think the fact that we c

[2021-09-08 22:26] laurentsimon commented on #895
@azeemsgoogle recently updated this code with GraphQl. It may have fixed the problem. Can you run check if the changes have fixed the problem?

[2021-09-08 22:28] laurentsimon opened #983 "BUG: number of PRs in `Code-Review` is 5"
For `Prow` and `GitHub`, we're only looking at the last `5` commits. We used to look at `30` commits.
I don't think this is intentional.

Reproduce via:
[code]

[2021-09-08 22:29] laurentsimon commented on #983
@azeemsgoogle I suspect this was introduced thru the CodeQl change, so assigning to you for now.

[2021-09-09 03:55] bhuvi11 commented on #895
Hello @laurentsimon,

I just ran and got this as my result
{
         "details":[
            "Info: Gerrit code reviews found for 0 commits out of the last 30",
            "Info: Prow code reviews found for 0 commits out of the last 5"
         ],
         "score":10,
         "reason":"GitHub code reviews found for 5 commits out of the last 5 -- score normalized to 10",
         "name":"Code-Re

[2021-09-09 13:06] nanikjava commented on #977
@laurentsimon happy to work on this as you mentioned it's related to #802

[2021-09-09 13:17] naveensrinivasan commented on #977
The scope of the issue is to give a better error message.

[2021-09-09 13:29] nanikjava commented on #689
@laurentsimon went through the `main` branch there isn't any `frozen_deps.go` file ?

[2021-09-09 13:31] nanikjava commented on #672
Ran with the following command (using `main` branch)

`SCORECARD_V2=1 go run . --repo=github.com/ossf/scorecard --checks=Code-Review`

and got the following result

[code]

[2021-09-09 13:40] nanikjava commented on #977
Does this mean that the error message listed in this  https://github.com/ossf/scorecard/issues/977#issuecomment-914712055, which can be extracted as

[code]

the above message need to be changed to a better message ? so what should it says ?

[2021-09-09 17:29] laurentsimon commented on #977
1. `unpinned dependency detected` => `dependency not pinned by hash` instead.
2. `no insecure (unpinned) dependency downloads founds in XXX` => `no insecure (not pinned by hash) dependencies downloads`
The second message is a little too verbose, feel free to experiment if you find a better one :-)

[2021-09-09 19:13] laurentsimon commented on #672
@naveensrinivasan is this the expected behavior?

[2021-09-09 19:14] laurentsimon commented on #689
It's been renamed to `pinned-dependencies.go`.
Do you want me to assign this bug to you?

[2021-09-09 19:16] #802 closed

[2021-09-09 20:09] laurentsimon commented on #895
I think that's incorrect, because you reviewed your own commits.  @azeemsgoogle is there a way to fix this with codeQL? (the value seems to be returned by the server https://github.com/ossf/scorecard/blob/main/clients/githubrepo/graphql.go#L151)

[2021-09-09 20:19] naveensrinivasan commented on #672
We need to go back to last 30 commits and that's when we are likely run into that issue.

[2021-09-09 20:28] david-a-wheeler commented on #977
I wasn't seeing the detailed messages at all, because I was looking at metrics.openssf.org's page. I think we need to pull the details into metrics.openssf.org & show those details, e.g., as a tooltip. I've now locally installed scorecard & now I can see the detailed messages. Of course, it's always good to clarify the messages as much as practical...!

[2021-09-09 20:29] laurentsimon commented on #672
Branch protection takes precedence over other test: see https://github.com/ossf/scorecard/blob/main/checks/code_review.go#L41
Looking over 30 last commits won't change that. Maybe this is not the intended behavior because it's not looking at the last X commits anymore, and only at whether the branch protection is right now.
Thoughts?

[2021-09-09 21:26] laurentsimon opened #986 "BUG: unit tests"
See comment in https://github.com/ossf/scorecard/pull/980

[2021-09-09 22:25] naveensrinivasan opened #987 "Feature - Enable Codeql Check for GitHubAction"
**Is your feature request related to a problem? Please describe.**
The scorecard repository has GitHub Actions that can run into script injections. https://docs.github.com/en/actions/learn-github-actions/security-hardening-for-github-actions#understanding-the-risk-of-script-injections.

To mitigate this there is CodeQL to analyze the code. https://docs.github.com/en/actions/learn-github-actions/se

[2021-09-09 22:54] naveensrinivasan opened #989 "Feature - Use actionlint library for parsing GitHub Actions"
**Is your feature request related to a problem? Please describe.**
The https://github.com/rhysd/actionlint is a `go` library that has a parser for `GitHub` actions. This could replace our code parsing.

[2021-09-09 22:55] nanikjava commented on #977
Thanks all for the clarification.

@laurentsimon please assign this ticket to me. Thank you :)

[2021-09-09 22:58] laurentsimon commented on #894
We are building policy support (bronze, silver, etc) where a Fail/Pass will be used. Users will be able to decide what policy they want. The core of scorecard will remain a plain score, though.

[2021-09-09 22:59] naveensrinivasan opened #990 "Feature - Scorecard identify Expression injection in Actions"
**Is your feature request related to a problem? Please describe.**
Scorecard should identify `Expression injection in Actions` https://github.com/github/codeql/blob/main/javascript/ql/src/experimental/Security/CWE-094/ExpressionInjection.ql

This is already handled by this `go` library which we could use https://github.com/rhysd/actionlint/blob/f05f9da49f93decc2ac8e61b1f951ed19b7303a7/expr_insecur

[2021-09-09 22:59] laurentsimon commented on #977
Assigned. Thank you for your help!

[2021-09-09 23:00] naveensrinivasan commented on #990
@laurentsimon FYI...

[2021-09-09 23:02] #987 closed

[2021-09-09 23:03] nanikjava commented on #689
@laurentsimon yes please. Thank you :)

[2021-09-09 23:04] laurentsimon commented on #990
We have this issue https://github.com/ossf/scorecard/issues/426 that suggest writing a more comprehensive number of checks for GH workflows. Let me close this one and link to it in the other one.

[2021-09-09 23:07] laurentsimon commented on #689
Thanks @nanikjava !

[2021-09-10 02:43] chrismcgehee commented on #966
I like what you've put down here. I just wanted to note the things you put under long-long term sounds like the things Project Omega from Michael Scovetta aims to do.

[2021-09-10 04:50] david-a-wheeler commented on #977
FYI: This PR pins dependencies noted: https://github.com/coreinfrastructure/best-practices-badge/pull/1647

It revealed that scorecard doesn't check .circleci configuration files for pinned dependencies. That probably should be added (if you care about pinning), but that should be a different issue.

[2021-09-10 14:20] laurentsimon opened #994 "Feature: Pin dependencies for other CI/CD"
We should add support to other CI/CD, such as circleCI, etc.
Example file for circleci: https://github.com/coreinfrastructure/best-practices-badge/pull/1647/files#diff-78a8a19706dbd2a4425dd72bdab0502ed7a2cef16365ab7030a5a0588927bf47

[2021-09-10 14:21] laurentsimon commented on #977
Great. You went above and beyond .. we currently don't even support circleci. I created https://github.com/ossf/scorecard/issues/994 for tracking

[2021-09-10 14:24] laurentsimon commented on #966
do you have a link to the project?

[2021-09-10 14:35] david-a-wheeler commented on #977
@laurentsimon - there's no point in pinning just the GitHub actions when the majority of our stuff happens in CircleCI :-).

[2021-09-10 14:56] laurentsimon commented on #977
I know :-) but we need to surface this in scorecard for you to get more points :-)

[2021-09-10 16:54] david-a-wheeler opened #998 "Include URL for more information"
**Is your feature request related to a problem? Please describe.**

Currently there's a very short description of the issues & what to do, but many users will need more information. e.g., on *why* that's a problem, the impact if not changed, and specifics of how to fix it for various circumstances.

**Describe the solution you'd like**

Please include, for the output of each check, a URL to more d

[2021-09-10 16:54] david-a-wheeler commented on #998
@naveensrinivasan - This was inspired by the CII Best Practices badge experience so far.

[2021-09-10 17:52] david-a-wheeler opened #1000 "Pinning dependencies can be dangerous for libraries - should focus on applications"
**Describe the bug**

Pinning dependencies has its pros and cons. It's probably an overall win for applications.
However, having *libraries* pin all their dependencies is dangerous.
If library L1 pins its dependencies on a specific version of library L2, and the runtime
only allows one version of a library for a given component (true for most runtimes),
then the system can only use that specific v

[2021-09-10 20:30] laurentsimon commented on #1000
This is tracked in https://github.com/ossf/scorecard/issues/689.

[2021-09-10 20:32] laurentsimon commented on #1000
@nanikjava is looking into it, so closing this issue (I've linked to *this* issue in there). @david-a-wheeler please subscribe to the other issue.

[2021-09-10 20:32] #1000 closed

[2021-09-10 20:36] laurentsimon commented on #998
This is now supported:
[code]

This does not address the other things like a dedicated doc file for each check, etc. We'll get there was we refine check's documentation and remediation.
@david-a-wheeler please confirm this addresses this issue.

@olivekl FYI

[2021-09-10 20:48] laurentsimon commented on #998
Additional note: `Don't include documentation in the tool itself; then people have to update the tool to update the docs.`. The current implementation does link to doc for the scorecard's commit hash that was used. You make a good point about update.As checks evolve, we thought of keeping the doc in sync with the scorecard's version run.
For example, if allstar uses our doc for a check, they need

[2021-09-11 03:02] chrismcgehee commented on #966
Yes, https://docs.google.com/document/d/1u7Ps18dzu9M-HF7ZHTK6VB5jLaVJvnw6uq3o7qw5yGE/edit?usp=sharing

[2021-09-12 09:07] nanikjava commented on #689
Hi @laurentsimon

After reading through the comments and looking at https://docs.npmjs.com/cli/v7/configuring-npm/package-json following is my understanding for the frozen check:

* This check is for `node.js` project where the code will check for existence of `package.json` in root directory of the project

* If the `package.json` has `bin` information  (eg: https://github.com/tclindner/npm-packa

[2021-09-13 03:09] bhuvi11 commented on #894
Hello  @laurentsimon,
ok thanks. Any timeline on this enhancement?

[2021-09-13 08:21] fridex commented on #978
@naveensrinivasan @azeemshaikh38 Thanks for the pointers and help. The querying indeed works, it would be slightly easier for us to use GS in the deployment though.

We use scorecard in [project Thoth - the Python cloud resolver](https://thoth-station.ninja). Examples for [flask](https://github.com/thoth-station/prescriptions/tree/master/prescriptions/fl_/flask) or [tensorflow](https://github.com/

[2021-09-13 15:05] laurentsimon commented on #689
You're definitely on the right track. That's how I understand `package.json` as well.
In terms of score:
1. If it's a module and it pins dependencies, score = 0
2. If it's a binary and it does NOT pin dependencies, score = 0
3. If the `package.json` declares both a module and a binary, then we need to better understand how the `package-lock.json` applies: does it apply to both the module and the b

[2021-09-13 15:14] laurentsimon commented on #894
draft PR https://github.com/ossf/scorecard/pull/1002
We're still discussing it... feel free to comment on the PR nevertheless. Example [policy file ](https://github.com/ossf/scorecard/pull/1002/files#diff-21d5121dc72354c8b6324bfc1d1ab624a23af6d3ff1db63faeda52cbff36027c)

[2021-09-13 16:17] laurentsimon opened #1005 "BUG: Branch-Protection/Code-Review bypassable"
We have 2 checks that look at how devs contribute to their project: Branch Protection and Code-Review.

Unfortunately, the Code-Review check first queries the branch protection, see https://github.com/ossf/scorecard/blob/main/checks/code_review.go#L40

An ill-intentioned repo owner may leave branch protection ON most of the time. When they want to commit, they can DISABLE branch protection, push t

[2021-09-13 16:35] #1005 closed

[2021-09-14 00:37] nanikjava commented on #977
@laurentsimon PR has been merged can we close this ticket ?

[2021-09-14 14:53] laurentsimon commented on #977
absolutely, thanks fo the work!

[2021-09-14 14:53] #977 closed

[2021-09-14 17:45] david-a-wheeler opened #1014 "Dependency-Update-Tool: What about libraries (not applications)?"
The Dependency-Update-Tool text seems to assume that only applications are considered.

If a library uses pinned dependencies then this text also makes sense. However, libraries generally aren't pinned, so "updating dependencies" doesn't make as much sense. A variant of this text might make sense, e.g., libraries shouldn't force their users to use known-vulnerable libraries, especially after some

[2021-09-14 18:01] thallesfreitaszup opened #1015 "Sign release check"
Our repository does not produce any artifact, only the tgz from source code  is on the assets. It is necessary to sign the source code? or only produced artifacts?

[2021-09-14 20:23] laurentsimon commented on #1014
@david-a-wheeler assigning to you if you don't mind.

[2021-09-14 23:04] david-a-wheeler opened #1018 "Code-Reviews should be Contribution-Reviews"
**Describe the bug**
`Code-Reviews` implies that only code contributions need review. In *practice*, settings to enforce reviews enforce them for *any* contribution, not just code, and I think that's the way it should be anyway.

So `Code-Reviews` should be renamed to `Contribution-Reviews` (or similar) everywhere.

[2021-09-15 00:04] laurentsimon commented on #1018
Thanks David. Note that GitHub settings are unfortunately *not* all defined via `config-as-code`.: e.g., branch protection, 2FA, GitHub action settings, etc. I would love to see this change too.

[2021-09-15 00:06] laurentsimon commented on #1018
For this issue:
1. Update this file https://github.com/ossf/scorecard/blob/main/docs/checks/internal/checks.yaml
2. run `make generate-docs`
3. Update the name of the check in https://github.com/ossf/scorecard/blob/main/checks/code_review.go#L26
4. Update the file name to contribution_review.go

[2021-09-15 00:41] neil465 commented on #1018
I would like to work on this issue.

[2021-09-15 01:50] inferno-chromium commented on #1018
Code-Review is a common and easy to understand term. Contribution-Reviews is very confusing, i don't think it helps clarify the purpose you are trying to solve. if settings change go in code, it will be still governed by code review. and if someone changes settings outside of it, like in admin console, then first game is already over, and also, we don't have great ways to enforce review of it. if

[2021-09-15 04:10] chrismcgehee commented on #839
Ok, there are 4 repos that give us `invalid shell code`. Here's the deal with each of them:
- [ufal/udpipe](https://github.com/ufal/udpipe/blob/e51f02d2744cdfd4a29efc1320644ea04d535f0b/releases/pypi/README.sh#42) - If you run `bash -n` on this file, it gives a warning due to the unclosed heredoc. I don't expect mvdan/sh to parse bash code that gives warnings.
- [uber/okbuck](https://github.com/ube

[2021-09-15 10:51] nanikjava commented on #689
@laurentsimon I have a question re : `If it's a module and it pins dependencies` is the understanding of pinned dependencies is as defined here https://docs.renovatebot.com/dependency-pinning/ (under `What is Dependency Pinning?` section) ?

So anything without `^` or `~` is considered ?

Further questions to your answer:

1) `If it's a module and it pins dependencies, score = 0` , if it is a modu

[2021-09-15 14:14] neil465 commented on #1018
Ok, thanks

[2021-09-15 14:29] azeemshaikh38 commented on #839
+1. See https://github.com/ossf/scorecard/blob/main/stats/views.go#L50. You can use that to record/monitor these parse errors.

We can start with this to get a sense of how bad the problem is and then decide on whether we should log a warning and continue.

[2021-09-15 17:18] laurentsimon commented on #689
correct.

In scorecard, we define pinning as `pinning by hash`, see https://github.com/ossf/scorecard/blob/main/.github/workflows/integration.yml#L57 for example. Pinning by version is also possible as in the link above.

You make a good point though: we could give some points for pinning by version, because it's better than no pinning at all. Needs more thought about this.

correct. (default is 1

[2021-09-15 18:03] laurentsimon commented on #689
see https://github.com/ossf/scorecard/blob/main/docs/checks.md#pinned-dependencies for how hash pinning

[2021-09-15 20:08] laurentsimon commented on #966
also related https://ostif.org/google-is-partnering-with-open-source-technology-improvement-fund-inc-to-sponsor-security-reviews-of-critical-open-source-software/

[2021-09-16 00:08] laurentsimon commented on #1018
Closing the bug then. Please re-open if needed.

[2021-09-16 00:08] #1018 closed

[2021-09-16 00:21] laurentsimon opened #1024 "BUG: contributor checks does not validate number of companies per contributor"
a contributor can forge their company association on GH. (tracked in another issue).
In addition, the number of companies is not verified by our code. That makes it easier for a single user to commit 5 PRs and add 3 companies to their profile, hence getting a top score.

We should only take a single company per user.

[2021-09-16 00:58] david-a-wheeler opened #1025 "Consider many more commits (e.g., for Contributors)"
**Is your feature request related to a problem? Please describe.**
The current calculation for "Contributors" is very misleading, & probably wrong in practice for most projects. It only considers 30 commits, and someone has to make 5 commits to be considered contributor. So if contributors are "bursty" and there are a nontrivial number of "drive-by" commits, the number of organizations actually pa

[2021-09-16 14:26] david-a-wheeler opened #1027 "Scorecard should NOT require linear history nor disabling stale review dismissal"
**Describe the bug**
Currently scorecard requires linear history and disabling stale review dismissal as part of Branch-Protection, and I believe that's a mistake. Remove these:

**Reproduction steps**
Steps to reproduce the behavior:
1. Run on any repo that doesn't do this, e.g., https://github.com/coreinfrastructure/best-practices-badge - note that we once required squashing, but we stopped that

[2021-09-16 14:31] david-a-wheeler opened #1028 "Dependabot detection not working on CII Best Practices badge"
**Describe the bug**
Dependency-Update-Tool  reports "Warn: dependabot not detected" for https://github.com/coreinfrastructure/best-practices-badge yet we *do* have dependabot enabled

**Reproduction steps**
Steps to reproduce the behavior:
1. Run scorecard on <https://github.com/coreinfrastructure/best-practices-badge>, it incorrectly reports:

[code]

**Expected behavior**
I expected it to corre

[2021-09-16 14:42] naveensrinivasan commented on #1028
Scorecard can identify if these settings are enabled only by looking at the config files. If these files aren't there then it can't identify it has been enabled. That is the reason you are seeing this message.

To resolve this issue, add dependabot config and it will solve the issue.

[2021-09-16 14:46] david-a-wheeler commented on #1028
Then the message is misleading. The error message says:

It should say something like this:

The *easy* way to enable dependabot on GitHub is via a project setting, and it's the recommended way.

[2021-09-16 14:48] inferno-chromium commented on #1028
Yes +1, lets fix message like
Warn: dependabot config file not detected in source location <path>. It is recommended to set this configuration in code.

[2021-09-16 14:51] david-a-wheeler commented on #1028
Instead of this vague:

I don't know anyone who recommends this, and the text doesn't give a rationale. People often need rationales before they'll do something. How about instead say:

[2021-09-16 14:51] david-a-wheeler commented on #1028
Or, shorter:

[2021-09-16 14:55] inferno-chromium commented on #1028
yes sure! @naveensrinivasan wdyt ?

"Warn: dependabot config file not detected in source location <path>. We recommend setting this configuration in code so it can be easily verified by others."

[2021-09-16 14:55] naveensrinivasan commented on #1028
Sounds good. I agree. Working on the fix. Thanks

[2021-09-16 15:08] #1028 closed

[2021-09-16 15:13] david-a-wheeler opened #1031 "SAST not detected in CII Best Practices badge workflows"
**Describe the bug**
SAST tools are not detected in the [CII Best Practices badge code](https://github.com/coreinfrastructure/best-practices-badge)

**Reproduction steps**
Steps to reproduce the behavior:
1. Run scorecard on https://github.com/coreinfrastructure/best-practices-badge

It reports:

[code]

**Expected behavior**

First, the blanket claim `SAST tool is not run on all commits` is way t

[2021-09-16 16:03] david-a-wheeler opened #1032 "Scorecard should try to earn a CII Best Practices badge"
**Is your feature request related to a problem? Please describe.**
Scorecard should try to earn a [CII Best Practices badge](https://bestpractices.coreinfrastructure.org/).

**Additional context**
Both scorecard & the CII Best Practices badge are OpenSSF projects focused on best practices to improve OSS security. They have different approaches and somewhat different criteria, but I think each woul

[2021-09-16 16:14] laurentsimon commented on #994
Examples of CI/CDs:
.github/workflows (we do support)
.circleci
.travis.yml
.gitlab-ci.yml

[2021-09-16 16:15] laurentsimon commented on #1031
Examples of CI/CD to support (taken from another issue):
.github/workflows (we support)
.circleci
.travis.yml
.gitlab-ci.yml

[2021-09-16 16:26] laurentsimon commented on #1027
good feedback, thanks

The GitHub configuration name "stale" is mis-leading. AFAIK, a review is considered `stale` if it's reviewed and then modified by the author, requiring the review to bed approved again. This helps prevents innocuous-looking reviews from being reviewed-then-modified to be malicious. There *is* a security gain to this. There are usability concerns with this, obviously: it slow

[2021-09-16 21:39] david-a-wheeler opened #1034 "Review CII Best Practices badge for potential new attributes"
**Is your feature request related to a problem? Please describe.**
The [CII Best Practices badge](https://bestpractices.coreinfrastructure.org) has a number of security-related criteria at 3 levels: passing, silver, and gold. It currently automates some of them, and more might be automatible. It'd be good to review its criteria to see what might be automatable in scorecard. I suspect this would be

[2021-09-16 23:15] jeffmendoza opened #1036 "Update go-github"
32 is looking a little old: https://github.com/google/go-github/releases

[2021-09-17 00:40] naveensrinivasan commented on #1036
We are at `v38` https://github.com/ossf/scorecard/blob/4c4fb61d5106e39988dce8c277a8575d939a83e7/go.mod#L16

Closing this as dependabot will open a PR for these updates. Thanks

[2021-09-17 00:40] #1036 closed

[2021-09-17 13:50] david-a-wheeler opened #1038 "New test: Presence of license information"
**Is your feature request related to a problem? Please describe.**
The lack of any clearly-stated license creates a risk in use, and would definitely reduce the likelihood of current & future review. It doesn't appear that scorecard is focused on just OSS, but even proprietary software needs a clearly stated license.

**Describe the solution you'd like**
Add a new test for a "The source repository

[2021-09-17 16:40] laurentsimon commented on #898
we can do the same for keep the cron section of the readme up-to-date, by monitoring changes under `cron/`

[2021-09-17 18:50] jeffmendoza commented on #1036
Ah, thanks for the update! I need to update my version of scorecard I'm pulling in.

[2021-09-20 01:36] inferno-chromium opened #1040 "Need an aggregate risk score, ideally configurable (need for 3.0)"
**Is your feature request related to a problem? Please describe.**
https://www.sonatype.com/resources/state-of-the-software-supply-chain-2021
"OpenSSF does not
provide a mechanism for distilling this “Scorecard”
into a single metric and so we did not include it in the
quantitative analysis we describe below."

**Describe the solution you'd like**
An aggregate risk score at the end. Ideally could b

[2021-09-20 17:10] laurentsimon commented on #1038
the Security policy check is a good starting point for this https://github.com/ossf/scorecard/blob/main/checks/security_policy.go

[2021-09-20 17:16] laurentsimon opened #1042 "BUG: we don't check for declared dependencies for libs"
In the Pinned Dependencies check, we only look for pinning https://github.com/ossf/scorecard/blob/main/checks/pinned_dependencies.go#L759

The documentation for the check https://github.com/ossf/scorecard/blob/main/docs/checks.md#pinned-dependencies says "has declared and pinned its dependencies".

related: https://github.com/ossf/scorecard/issues/689

FYI @nanikjava

[2021-09-21 16:52] azeemshaikh38 commented on #983
This is because there aren't enough merged PR commits for Scorecard to analyze in this repo. When you try it on a different repository, you can see that 30 commits are being analyzed:

[code]

[2021-09-21 16:52] #983 closed

[2021-09-21 22:30] #1040 closed

[2021-09-22 15:45] laurentsimon opened #1049 "BUG: improper version in cron job"
[code]

version should be of the form X.Y.Z or more generally semantic version.

version has the proper form when run locally. There may be something special about the env that builds the worker, maybe the way the repo is cloned. I don't know for sure.

[2021-09-22 15:45] laurentsimon commented on #1049
@azeemsgoogle can you take a look at this?

[2021-09-22 16:14] laurentsimon opened #1051 "Feature: scorecard builds comply with SLSA"
see https://security.googleblog.com/2021/09/distroless-builds-are-now-slsa-2.html

[2021-09-22 16:21] naveensrinivasan commented on #1051
Related #309 #950

[2021-09-23 20:06] naveensrinivasan opened #1056 "Feature - Web API for Scorecard bigquery data"
**Is your feature request related to a problem?
The scorecard bigquery is accessible only via bigquery client/API. This is an issue in consuming the scorecard data.

Tools like `osv` are great because it has a REST endpoint https://osv.dev/docs/#section/Getting-Started and it can be consumed by other tools without having to jump through hoops.

 For example, I was able to build https://github.com/

[2021-09-23 20:15] naveensrinivasan commented on #1056
@kimsterv @bobcatfish were building a demo that used scorecard data and an API would have been helpful.

[2021-09-23 23:35] laurentsimon commented on #689
@nanikjava I'm working on your PR. Please be patient, I'm trying to understand a little better the difference between `npm-shrinkwrap.json` and `package-lock.json`.

[2021-09-24 03:10] bhuvi11 commented on #895
Hello @laurentsimon , So this issue is resolved?

[2021-09-24 03:35] azeemshaikh38 commented on #895
I don't think so. @laurentsimon could you please look into this?

[code]

[2021-09-24 03:56] #895 closed

[2021-09-24 06:13] nanikjava commented on #689
No worries.

Is this ticket related to our discussion about splitting the code changes https://github.com/ossf/scorecard/pull/1021 to it's own check.

Bit confused and want to make sure I'm on the same page as you are :)

[2021-09-24 06:15] nanikjava commented on #1042
Feel free to assign this to me if necessary @laurentsimon

[2021-09-24 06:17] nanikjava commented on #1038
Happy to take this on @laurentsimon @david-a-wheeler

Thanks.

[2021-09-24 14:41] david-a-wheeler commented on #1038
@nanikjava - great, thanks!

I just remembered that `.html` is another common format for licenses, and obviously other formats might become common in the future. So I'd just look for these ERE/PCRE regex patterns:

[code]

I've written them as case-sensitive, but I understand if you choose to match them as case-insensitive (C/POSIX locale).

[2021-09-24 15:54] laurentsimon commented on #1038
Thanks @nanikjava. Let's make it a standalone check.

[2021-09-24 15:58] laurentsimon commented on #1042
Thanks. Discuss plans here before writing up a PR. I'm not sure what we should do for this to tackle this issue :-)

[2021-09-24 16:03] laurentsimon commented on #689
not related to the discussion on splitting the check https://github.com/ossf/scorecard/pull/1021. Just trying to make sense of various lock files in npm to advise on the PR.

[2021-09-24 16:37] david-a-wheeler commented on #1038
If you're looking for more info, [here's how licensee looks for license files](https://github.com/licensee/licensee/blob/master/docs/what-we-look-at.md) including its [regexes for license files](https://github.com/licensee/licensee/blob/master/lib/licensee/project_files/license_file.rb).

The key thing to learn is that people aren't consistent about spelling, so it might be good to allow both LICE

[2021-09-25 04:46] nanikjava commented on #689
Did bit of reading about `package-lock.json` and here is my understanding.

The best explanation that I found so far about `package-lock.json` is from here https://nodejs.dev/learn/the-package-lock-json-file

Following are some of the things that I think is useful to know:

[code]

[code]

From the explanation not all project will have `package-lock.json` but all Node based project will always hav

[2021-09-27 05:32] #1049 closed

[2021-09-27 20:55] laurentsimon opened #1071 "Use composite GitHub action"
see https://github.com/ossf/scorecard/pull/1069#discussion_r716919804
other relevant links:
https://docs.github.com/en/actions/creating-actions/creating-a-composite-action
https://dev.to/github/build-your-own-github-action-without-a-docker-container-1eic

[2021-09-27 20:56] laurentsimon opened #1072 "Remove docker container from GitHub action"
see https://github.com/ossf/scorecard/pull/1069#discussion_r716919804

https://docs.github.com/en/actions/creating-actions/creating-a-composite-action
https://dev.to/github/build-your-own-github-action-without-a-docker-container-1eic

[2021-09-27 22:17] #1071 closed

[2021-09-27 22:42] laurentsimon opened #1074 "Try out scorecard action"
once https://github.com/ossf/scorecard/pull/1073 is landed.
For each push, scorecard will run and the results will be available in https://github.com/ossf/scorecard/security/code-scanning

I would like some feedback about the results. I've already noticed some improvements needed:
1. Short description should be shorter
2. Long description: shall we keep it long os just give users a URL?
3. Line nu

[2021-09-27 22:57] laurentsimon commented on #1074
FYI @azeemsgoogle

[2021-09-28 14:58] naveensrinivasan opened #1079 "BUG - Scorecard GitHub action is failing"
**Describe the bug**

https://github.com/ossf/scorecard/runs/3734088142?check_suite_focus=true

[2021-09-28 15:48] naveensrinivasan commented on #1051
Why would ko alone do reproducible builds?

Why GCP KMS?

[2021-09-28 16:12] laurentsimon commented on #1079
https://github.com/ossf/scorecard/runs/3734678406 is failing

[2021-09-28 16:22] laurentsimon commented on #1051
Apparently there's an option to make a reproducible build for go binaries, e.g. it will strip off time/date information, etc

@loosebazooka do you have additional info?

Because the OSSF project and build uses GCP, so GCP KMS is the best choice (and it supported by cosign). We want the keys to never be accessible by human, and KMSs can give us this guarantee. Let me know if I mis-understood the qu

[2021-09-28 16:29] naveensrinivasan commented on #1051
Why not use the keyless option with ODIC provider? GitHub should be opening OIDC provider for actions soon. https://github.com/sigstore/cosign/blob/main/KEYLESS.md#custom-infrastructure

[2021-09-28 16:58] laurentsimon commented on #1051
That sounds good. Let me just CC team members who are more up-to-date than me on cosign state.
@loosebazooka @priyawadhwa @asraa comments?

[2021-09-28 17:08] laurentsimon commented on #689
Thanks for digging into this. I also read https://docs.npmjs.com/cli/v7/configuring-npm/package-lock-json https://docs.npmjs.com/cli/v7/configuring-npm/npm-shrinkwrap-json https://docs.npmjs.com/cli/v7/configuring-npm/package-json

So we can implement as follows:
1. if the project *only* defines a `module`, we can waive the requirements for `package.json` and make the check pass - same as you conc

[2021-09-28 17:08] priyawadhwa commented on #1051
Cosign also has support for keyless signing in GCB, so you could use that as well since you're already building the image in GCB. We do that in distroless in addition to signing with KMS (https://github.com/GoogleContainerTools/distroless/pull/827)

I'm not sure if provenance will eventually be able to be signed this way too, or if you'll need a KMS key eventually for that though...

[2021-09-28 17:30] naveensrinivasan commented on #1051
What value add does provenance provide?

We could still run into issues like this https://github.com/testifysec/solarsploit , or can tekton pipelines mitigate this?

 I am not trying to be hard. I am really trying to understand what value prop it provides.

One of the ways to mitigate the `solarsploit` is a reproducible build that is not being built within GCP.

[2021-09-28 17:47] priyawadhwa commented on #1051
Hey @naveensrinivasan

There are some details of specific attacks that provenance can help mitigate on the SLSA website [here](https://slsa.dev/levels).  I think the `Supply chain threats` section does a good job of explaining some of the specific threats. That's why if we want to achieve higher SLSA levels, we'll need provenance.

You're right, provenance wouldn't have mitigated that particular a

[2021-09-28 17:50] loosebazooka commented on #1051
Ko is a convenience, but you still want to configure it for reproducibility (it already uses `--trimpath` by default to build), but it looks like you want to use [SOURCE_DATE_EPOCH](https://reproducible-builds.org/docs/source-date-epoch/) which it does respect: maybe to the git commit/tag time or something (https://github.com/google/ko#why-are-my-images-all-created-in-1970)

[2021-09-28 19:40] laurentsimon opened #1082 "BUG: broken links in doc"
see this page https://github.com/ossf/scorecard/blob/main/checks/write.md
1. error link
2. frozen_dep link -> should be linking to pinned_dependencies.go

[2021-09-28 20:02] asraa commented on #1074
I would personally remove the notes entirely -- I don't think they have much value to the user (who could maybe go see a list of checks anyway on Scorecard), and I think it makes the important stuff less visible.

I like it long, don't like link chasing.

Is this the title? If so is it canonical to have the title be the action of the check, or something indicating it's wrong, e.g. difference betwe

[2021-09-28 20:05] olivekl commented on #1082
Fixed links, [#1084](https://github.com/ossf/scorecard/pull/1084)

[2021-09-28 20:11] azeemshaikh38 commented on #1074
This looks great. Some comments:

1. The titles `Determines if ...` should be shorter and easier to understand. Something like `Dependencies are unpinned`.
2. The short description should be shorter. Also, it has some HTML elements which don't get rendered well.
3. Remove alerts which pop up as `Notes`.
4. Can we also make use of the `Severity` level (Low, Medium etc.)?

[2021-09-28 21:20] laurentsimon commented on #1074
Thanks both of you for the feedback!

the description is set to the long description atm. It does not support links. Maybe we should remove it? Note that the description is also used by GH next to the line with the rule ID https://github.com/ossf/scorecard/security/code-scanning/2865?query=ref%3Arefs%2Fheads%2Fmain so it's redundant. I have not tested what happens when there are multiple file loca

[2021-09-28 21:25] #1082 closed

[2021-09-28 22:53] laurentsimon commented on #1074
note: if a check has multiple findings (e.g. multiple binaries found in repo), GH only shows the first finding... which is not ideal. There's not much I can do about it though...:(

[2021-09-29 13:39] azeemshaikh38 commented on #1074
Interesting. Any reason there can't be multiple findings from a single check?

[2021-09-29 21:59] naveensrinivasan commented on #1079
https://github.com/ossf/scorecard/runs/3749377785?check_suite_focus=true

[2021-09-29 22:00] naveensrinivasan commented on #1079
@laurentsimon it is failing

[2021-09-29 22:12] laurentsimon commented on #1079
I must have forgotten to push a new docker image. I pushed a new one.

[2021-09-29 22:59] naveensrinivasan commented on #1079
Still failing https://github.com/ossf/scorecard/runs/3750175726?check_suite_focus=true

[2021-09-29 23:40] laurentsimon commented on #1079
fixed https://github.com/ossf/scorecard/runs/3750344175?check_suite_focus=true

[2021-09-29 23:40] #1079 closed

[2021-09-30 15:45] laurentsimon commented on #1051
shared by @asraa https://github.com/sigstore/root-signing/pull/31#issuecomment-930288618

[2021-09-30 19:49] azeemshaikh38 opened #1092 "BUG: URL issues Scorecard cron"
1. Out of ~160k URLs in the `projects.csv` file today, ~10k URLs don't get published to the BigQuery. This is most likely because these are non-existent URLs which causes 404 errors and the cron job simply skips them. We should be running a maintenance job once in a while (which makes HEAD queries to github.com) to ensure the project list we maintain is sane.

2. Some URLs (e.g: `github.com/sziksz

[2021-10-01 21:13] naveensrinivasan opened #1095 "BUG - Pinned-Dependencies should not look into vendor directories"
**Describe the bug**
go run . --repo=github.com/hyperledger/fabric --checks=Pinned-Dependencies --show-details

[code]

[2021-10-01 21:13] naveensrinivasan commented on #1095
@laurentsimon FYI...

[2021-10-01 21:16] laurentsimon commented on #575
as part of the work to create a GitHub action that works on pull requests (content-based checks), I'm going to work on this soon. What I plan to do is create a new [repoClient](https://github.com/ossf/scorecard/blob/main/clients/repo_client.go) that takes as input a folder containing code that is already downloaded. The new repo client implementation will only support content-based checks and will

[2021-10-01 22:21] laurentsimon commented on #1095
is there value in alerting repo owners that some code in their repo downloads software unpinned, even if it's in `vendor/` directory? Wdut?

Instead of disabling the check for vendor directories, an alternative would be to provide an option to configure which directories to be discarded. The main issue with this is that the default run we make (and made public via BQ table would not have have the

[2021-10-01 22:42] naveensrinivasan commented on #1095
Yes, I like the policy idea. It is up to the repository owner to decide what is critical for them. Let's discuss this in our meeting.

[2021-10-01 22:45] laurentsimon commented on #1074
Unless I've broken something again, you should see severity levels in the scanning alert tab for our GitHub action https://github.com/ossf/scorecard/security/code-scanning

[2021-10-01 22:46] naveensrinivasan commented on #1074
It is lot better 👏

[2021-10-01 23:19] laurentsimon opened #1097 "BUG: githubv4.Query: Resource not accessible by integration in Branch-Protection"
An interesting error came up in the run for the GitHub action https://github.com/ossf/scorecard/security/code-scanning/2869?query=ref%3Arefs%2Fheads%2Fmain

`error during branchesHandler.setup: internal error: githubv4.Query: Resource not accessible by integration`

I've never seen it before. @azeemsgoogle ideas?

[2021-10-04 11:35] tom--pollard commented on #1074
Are specific permissions needed to see https://github.com/ossf/scorecard/security/code-scanning ? I receive a 404 @laurentsimon

[2021-10-04 11:42] naveensrinivasan commented on #1074
You need write permission to view a summary of all the alerts for a repository on the Security tab.
https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/managing-code-scanning-alerts-for-your-repository#viewing-the-alerts-for-a-repository

[2021-10-04 16:12] laurentsimon opened #1099 "Make Token-Permission 'release'-aware"
When permission `contents:write` is found in a workflow, we set the score to `0`.
We should check whether the workflow's job is a release job, i.e. one that creates a tag/release on the repo. This is a legitimate use case for the `contents:write` permission, and we should not reduce the score in this case.

[2021-10-04 16:18] laurentsimon opened #1100 "Make Packaging check 'job'-aware"
currently the Token-Permission workflow works at the workflow level to decide whether certain dangerous permissions are acceptable (`requiresPackagesPermissions` and `isSARIFUploadWorkflow`). We should make the check 'job'-aware, since jobs run isolated from each other.

[2021-10-04 16:31] laurentsimon commented on #1074
@tom--pollard thanks for the interest in trying it out! You can easily test it out on a repo you own:
1. Create `scorecard-policy.yml` under `.github/`, as in https://github.com/ossf/scorecard/blob/main/.github/scorecard-policy.yml
2. Create a `scorecard-analysis.yml` workflow under `github/workflows/` - just copy paste from https://github.com/ossf/scorecard/blob/main/.github/workflows/scorecard-a

[2021-10-04 23:27] laurentsimon opened #1105 "GitHub action verified, on market place and available in the tool list"
Make our GitHub action a verified action and publish it on market place

[2021-10-04 23:55] laurentsimon opened #1106 "Add documentation about GitHub token needed for Branch Protection"
Admin tokens give extra information, so we need to document that

[2021-10-04 23:56] laurentsimon commented on #1106
FYI  @olivekl

[2021-10-05 00:07] azeemshaikh38 commented on #839
@chrismcgehee thanks for fixing so many of the parsing issues. The number of parsing errors we see in the cron job has significantly reduced!

Some new parsing issues I see as of now:

[code]

[2021-10-05 00:10] azeemshaikh38 commented on #839
Update on the monitoring @chrismcgehee put in place for shell errors -

[2021-10-05 07:25] goern commented on #575
I'd love to see a Tekton task for this too ;) Let me know if you need some help with it or if Project Thoth shall go ahead and publish on on the tekton catalog.

[2021-10-05 12:14] olivekl commented on #1106
I had included the following to the updates I'm working on:

"Requirements: Authorization token must have Admin access to repository"

"Without an authorization token with Admin access to the repository, the check will return a failing score."

Is there anything else you'd like included?

[2021-10-05 15:55] laurentsimon commented on #575
Hi @goern , thanks for the interest in the project. Having a tekton task sounds like an awesome thing to have!

Would you need all the checks for the task (like we do for our GitHub actions on cron and push triggers https://github.com/ossf/scorecard/issues/1074), or a subset of checks that run on source-code only (basically, this PR)?

What output would you need? (we have JSON and SARIF). SARIF is

[2021-10-05 16:02] laurentsimon commented on #1106
I think @azeemsgoogle has more details to add. The check won't fail but some settings may not be reported correctly. We need to document which settings these are, I think.

[2021-10-05 17:36] naveensrinivasan commented on #1106
We don't want to recommend using admin tokens.

[2021-10-05 18:34] naveensrinivasan opened #1107 "Project mvdan.cc/sh/"
Scorecard uses the mvdan.cc/sh/ for parsing shell-script. This is maintained by a single individual and is looking for sponsorship.

![Screen Shot 2021-10-05 at 1 27 11 PM](https://user-images.githubusercontent.com/172697/136081472-7bb4bdf6-75a3-4018-806a-2244ea520e40.png)

https://github.com/ossf/scorecard/pull/1098

[2021-10-05 19:15] laurentsimon commented on #1107
Maybe good opportunity for https://sos.dev/, assuming scorecard is considered a critical piece of software

[2021-10-05 19:29] naveensrinivasan commented on #1106
Sounds good!

[2021-10-05 19:29] azeemshaikh38 commented on #1107
@inferno-chromium @meder FYI

[2021-10-05 19:59] azeemshaikh38 opened #1109 "BUG: High Stackdriver monitoring costs"
Stackdriver monitoring costs are very high due to the amount of data being ingested by these stats. Debug and improve the costs.

![image](https://user-images.githubusercontent.com/4825078/136093996-52d2d4c3-00b8-4f85-a4a1-e95e9de5c04f.png)

[2021-10-05 20:09] laurentsimon commented on #1106
Can we call out which settings are not available without admin token? That's really useful info for anyone who wants to understand the results.

[2021-10-05 20:41] azeemshaikh38 opened #1112 "Contributing Process & Guidelines"
Tracking issue for outlining Scorecard project's contributing process and guideline.

Initial doc: https://docs.google.com/document/d/1J576To36LUb7O01fQJVO_ysRH-H0fulWHCm13gONA-w/edit?resourcekey=0-mkbr-VNWS16HyAZXjha6mw#heading=h.9j5429pju6hy

As a starting point, will setup a time to sync apart from the bi-weekly syncs.

[2021-10-06 12:24] nanikjava commented on #1038
Few things to confirm:

* This will be a new check and shall we call it `license_check.go` ?
* Please help me to fill in the `checks.yaml` which I've included below:

[code]

* The license check will use the check outlined in https://github.com/licensee/licensee/blob/master/lib/licensee/project_files/license_file.rb and use the same score points outlined in this section https://github.com/licensee

[2021-10-06 17:07] laurentsimon commented on #1038
Thank you so much for your interest and help, @nanikjava !
risk -> Low
short -> Determines if the project has defined a license
tags -> license
description -> @olivekl@ can you chime in?
remediation -> use what you have in description now. @olivekl to confirm

[2021-10-06 17:21] azeemshaikh38 commented on #1106
Yes, if some of these APIs can be made more generic, that'll be great. Thanks for looking into this.

If you feel strongly that exposing this info helps users (and does not confuse them with too much details), then sure, let's document them. Maybe avoid the word `erroneous` though.

I would prefer that we leave these checks as is for now. It may be true that users shouldn't require them, but that

[2021-10-06 21:24] naveensrinivasan opened #1115 "BUG - Branch Protection check data in cron"
**Describe the bug**
I took a sample of 300+ repositories and Branch-Protection is failing in all of them. Are we sure this check is working?

This is failing for `scorecard` also

```SELECT h.Confidence,h.Name,h.Pass,Repo FROM `openssf.scorecardcron.scorecard`, UNNEST(checks) as h WHERE
Repo in ("github.com/ossf/scorecard") and
h.Name = "Branch-Protection"```

[2021-10-06 23:56] naveensrinivasan opened #1117 "Fix go.mod for v3 release"
**Is your feature request related to a problem? Please describe.**
Fix the go.mod for the v3 release similar to https://github.com/ossf/scorecard/pull/716

[2021-10-07 02:47] azeemshaikh38 commented on #1117
Thanks for creating this Naveen, I forgot we need to do this step. Do you want take this on?

[2021-10-07 02:50] azeemshaikh38 commented on #1115
Closing the issue, re-open if needed.

[2021-10-07 02:50] #1115 closed

[2021-10-07 20:52] laurentsimon opened #1120 "INFO: v3 release"
We're planning to release v3 on Friday Oct 8th.

The release draft is at https://github.com/ossf/scorecard/releases.

Feedback welcome!

[2021-10-07 20:52] laurentsimon opened #1121 "DISCUSSION: v4 milestone"
To start thinking of our next step towards v4 release, let's write some ideas in this issue. We're thinking of v4 release for EOY 2021.

We can talk about them during next scorecard meeting, create issues and assign them to contributors, and then have them as milestones. Here a list to start with:

- Scorecard scaled to 1M+ repos (P1)
- Scorecard adoption (could be showcasing how to use scorecard

[2021-10-07 20:59] asraa commented on #1121
Random thought that might be nice to do for another release (not sure when v4 is on the timeline): scorecard as in-toto attestation? would mean defining a scorecard predicate and having an output format for that.

Higher levels could sign the envelope (e.g. a github-runner could run scorecard and then sign the in-toto proving that it ran scorecard.

[2021-10-07 23:16] #1117 closed, assigned to naveensrinivasan

[2021-10-08 10:58] 06kellyjac commented on #1117
Can someone please make a release `3.0.1` with this fix

[2021-10-08 14:44] naveensrinivasan commented on #1117
Thanks, I can do that.

[2021-10-08 14:55] naveensrinivasan opened #1122 "Make Release with v3 go.mod changes"
**Is your feature request related to a problem? Please describe.**
The go.mod changes with v3 is required https://github.com/ossf/scorecard/issues/1117#issuecomment-938548687

[2021-10-08 17:49] naveensrinivasan commented on #1122
https://github.com/ossf/scorecard/releases/tag/v3.0.1

[2021-10-08 17:49] #1122 closed

[2021-10-08 17:50] #1120 closed

[2021-10-08 19:04] priyawadhwa commented on #1051
I think @dekkagaijin might be able to confirm that better than I can :)

[2021-10-10 15:12] developer-guy commented on #744
hello @naveensrinivasan, yes `google/ko` work with tags, let me give you an example:

[code]

<details>

<summary> Output </summary

[code]
</details>

[2021-10-10 16:36] naveensrinivasan commented on #309
Thank you @developer-guy!  We are tracking this part of this larger issue https://github.com/ossf/scorecard/issues/1051

We want to come up with a plan of it being SLSA compliant.

- We still haven't yet decided on whether to use `GitHub` for signing the keys or use `google` for signing the keys and also the provenance that comes along for it to be SLSA compliant.
- Once we decide that then it sho

[2021-10-12 20:38] naveensrinivasan opened #1126 "Use cosgin instead of gpg to sign scorecard releases"
**Is your feature request related to a problem? Please describe.**
The `goreleaser` right now uses the `gpg` key to sign scorecard releases.

**Describe the solution you'd like**
Instead, use cosign to sign scorecard GitHub releases (not signing the container)

### Keyless signing

Change that to use `cosign` to sign the `blob` `COSIGN_EXPERIMENTAL=1 cosign sign-blob <FILE>` with the above option

[2021-10-12 21:30] varunsh-coder opened #1128 "Token-Permissions check clarification"
I am the founder of Step Security, a security startup to stop software supply chain attacks. Step security has built an [App](https://github.com/apps/step-security) to automatically set the right token permissions for a given GitHub workflow.

During testing, I created PRs in several repos. Unfortunately, they are all getting a score of 0, even though they meet the least privilege requirement, sin

[2021-10-13 16:20] laurentsimon opened #1129 "Relax token permission check or not"
When calculating the score for the token permission check, we reduce the score when certain dangerous permissions are used, see [permissions.go#L262](https://github.com/ossf/scorecard/blob/main/checks/permissions.go#L262)

An alternative implementation would be to only check whether the permissions are defined explicitly or no via `permissions:` keyword. There are pros and cons to both approaches.

[2021-10-14 06:30] rarkins commented on #427
I came here after looking for a place to comment about pinning hashes. Seems to be some overlap between issues.

I think OSSF could consider introducing/defining at least one more term in addition to "pinning". What we're really trying to achieve here is *deterministic* dependency use (i.e. get the same dependencies installed on all machines, for all time), which is similar but not as strong as *r

[2021-10-14 23:01] naveensrinivasan commented on #1129
@laurentsimon  IMO some detailed notes on what needs to be fixed would be helpful for a `good rist issue`

[2021-10-14 23:19] laurentsimon commented on #1129
I've updated the description. I meant to tag this as `needs discussion`, not `good first issue`. I've updated the label too.

[2021-10-14 23:49] laurentsimon commented on #1051
This is really cool, @naveensrinivasan ! Is it something we could do for v4?

Does the information stored in sigstore also contain data about which workflow and which hash/branch of the project triggered this signature?

AFAICT, a verifier cannot right away trust the signature: it could have been generated by anyone who can create a workflow, e.g. in a different branch of the repo not protected by

[2021-10-15 13:21] developer-guy commented on #744
Hello @naveensrinivasan @azeemshaikh38, thank you so much for helping me.

[x] - Introduces a .ko.yaml file with the right ldflags and other build settings.
[x] - Adds a new step to dockerbuild in Makefile, which generates a local scorecard-ko image using ko.
[ ] - Adds a step in the Makefile which diffs the images scorecard-ko and scorecard (image from Dockerfile). Consider using a tool like cont

[2021-10-15 17:22] laurentsimon commented on #1051
I ran `COSIGN_EXPERIMENTAL=1 ./cosign verify ghcr.io/naveensrinivasan/stunning-tribble` and there's some info about the workflow in the cert `"Subject":"https://github.com/naveensrinivasan/stunning-tribble/.github/workflows/docker-sign.yml@refs/heads/main"`

I think the above means the workflow was triggered from a push to main. Is that correct?

Might be useful for GitHub to add the trigger and o

[2021-10-18 09:26] benlaurie opened #1139 "README doesn't say what type of access token to create"
What it says on the tin.

[2021-10-18 16:36] laurentsimon commented on #309
Would OIDC be an option? This way we don't need a special workflow to generate keys and store them in GH secrets, and we also get built-in key rotation.

[2021-10-18 17:13] laurentsimon commented on #1051
Chatted with @asraa . The GitHub token format is https://github.com/google-github-actions/auth#github-token-format and contains GitHub context, including trigger and commit hash. So we need to add support in sigstore to use this info as part of cert generation. Thanks @asraa !

[2021-10-18 22:12] naveensrinivasan commented on #309
Yes, that would be a great option for signing containers.

Signing blob(scorecard binary) is easy. But verifying is jumping through lots of hoops. I am trying that the tooling isn’t there yet.

Also we need to understand if it suffices the SLDA requirements.

[2021-10-18 22:57] azeemshaikh38 commented on #861
Increasing the scope of this bug to include #1113 (comment)

[2021-10-18 23:01] laurentsimon commented on #1121
automatic documentation generation https://github.com/ossf/scorecard/issues/898

[2021-10-18 23:45] laurentsimon commented on #1074
@asraa @priyawadhwa would you be interested in trying out the action on sigstore, envoy and tekton repos?
It's not ready yet, but sometimes in 1 month from now.

[2021-10-18 23:52] laurentsimon opened #1142 "Feature: add mailing list to the readme"
We have
1. `ossf-scorecard-dev@googlegroups.com`: to receive design docs or to ask questions about integration, etc
2.  `ossf-scorecard-announce@googlegroups.com` to receive announcements like conference talks, releases, etc

@olivekl can you take care of this?

[2021-10-18 23:53] laurentsimon opened #1143 "Feature: mention prominent users of scorecard in readme"
We should mention, in dedicated section:
- sos.dev
- deps.dev
- metrics.openssf.org

@olivekl can you take care of this?

[2021-10-18 23:59] laurentsimon opened #1144 "Feature: crowdsourcing scorecard run via GitHub action"
We (scorecard team) run scorecard weekly on 200k repos.

This documentation proposes an alternative: let repo owners run scorecard in a GitHub workflow. How do we trust the results then?

This is what the [proposal](https://docs.google.com/document/d/1s9xkRM2EasyEf6tBO8a6vGieMNxN9h3I00UoCQOrnw8/edit?resourcekey=0-CuJDKI0Q0A0P6udmVAhSog#heading=h.ud469ds22f9c) is about, by using OIDC flow.

[2021-10-19 00:02] laurentsimon commented on #1051
See a draft proposal [here](https://docs.google.com/document/d/1JbLFhpCpy6Y607g72W-BekAoBC6djaKz3gbcMcLWhwQ/edit?resourcekey=0-eRujJ1O_5m4_Bt0Z0KugsA#).

[2021-10-19 02:28] oliverchang commented on #897
Another one to add would be clusterfuzzlite which is launching soon: https://github.com/google/clusterfuzzlite.

[2021-10-19 13:12] olivekl commented on #1143
Sure, will do. Thanks for the suggestion!

[2021-10-19 18:19] laurentsimon commented on #1139
@olivekl FYI. Can you handle this issue?

[2021-10-19 22:23] laurentsimon commented on #1121
This issue https://github.com/ossf/scorecard/issues/426 is an important one, especially the `pull_request_target` trigger.

[2021-10-20 00:25] naveensrinivasan commented on #897
On a different note should we add this check to scorecard?

[2021-10-20 00:29] oliverchang commented on #897
Yep! Just check for the `google/clusterfuzzlite/actions/run_fuzzers` action. I think we can be flexible about where it's enabled (PR or push or otherwise) so we don't need to check that.

Could you clarify what you mean here? Are you suggesting a more detailed check beyond just checking if Fuzzing is enabled?

[2021-10-20 01:38] naveensrinivasan commented on #897
Yes , how do we report the results of these fuzz runs?

[2021-10-20 01:42] laurentsimon commented on #897
great! Do you have cycles to add it before you officially release clusterfuzzlite? Or shall we add this to v4 milestone (~EOY)?

[2021-10-20 15:59] laurentsimon commented on #1121
Adding lines to our results https://github.com/ossf/scorecard/issues/725 is an important issue we should tackle for v4 since it improves the UX experience in the GitHub scanning dashboard

[2021-10-20 16:56] azeemshaikh38 commented on #318
Update here: we now have implemented token server which is being used by production cron workers. This allows us to scale the number of workers easily and efficiently use the GitHub tokens.

Next steps: increase the number of workers and slowly rollout number of repos to 1M.

[2021-10-20 17:48] naveensrinivasan commented on #744
Thanks @ImjasonH

[2021-10-20 18:28] laurentsimon opened #1148 "Feature: Add clusterfuzzlite support to Fuzzing check"
what the title says.

[2021-10-20 18:53] azeemshaikh38 opened #1149 "Feature: improve GitHub URL validation"
GitHub usernames need to follow the below rules:

1. Only alphanumeric characters (a-z, A-Z, 0-9) and single hyphens (no consecutive hyphens) allowed.
2. Cannot start or end with hyphens.
3. Max character length is 39.

We can use these rules to improve how we [validate GitHub URLs](https://github.com/ossf/scorecard/blob/96140f9646f62e444f1d0630dd3f4a65bcfc5c8d/repos/repo_url.go#L97).

[2021-10-20 21:23] laurentsimon commented on #426
You sure can! I think we can start it as a different check first We can merge them later. I'll assign to you then?
Since it's a pretty comprehensive check, we can start with `pull_request_target` for v4?

[2021-10-20 23:22] laurentsimon commented on #647
Closing, as the PR got merged. Thanks @rsprabery !

[2021-10-20 23:22] #647 closed

[2021-10-20 23:25] laurentsimon commented on #725
@chrismcgehee this issue is important for the v4 (~EOY) release. Are you still interested in helping for this issue?
I've finished the SARIF support and you can try it using https://github.com/ossf/scorecard/issues/1074#issuecomment-933653061

[2021-10-20 23:51] laurentsimon commented on #1121
FYI, Asra @asraa will tackle part of https://github.com/ossf/scorecard/issues/426. Thanks you Asra!

[2021-10-21 16:51] laurentsimon opened #1151 "Feature: add CODEOWNERS to our repo"
See doc https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

This would be useful to have, for example, @olivekl be added to pull request that touch the documentation

[2021-10-22 02:12] r0mdau commented on #1149
I have something working here : https://github.com/r0mdau/scorecard/commit/b70b34426cd18146449e33b0e3f423e26c2e1f31

We have a decision to make regarding `cron/data/projects.csv` file because the Makefile target `add-projects` fails for each repository url where the username is not good.

Should I remove all repositories url that do not match ?

[2021-10-22 20:42] naveensrinivasan opened #1153 "Checks - Add Pinned dependency check for JS dependencies"
**Is your feature request related to a problem? Please describe.**
The Pinned dependency for `js` does not handle pinned dependency check like ` "xyz": "1.1.0"` parsing the package.json. This would prevent attacks like this https://github.com/faisalman/ua-parser-js/issues/536 from the consumer perspective.  If the consumer of the library had it pinned they wouldn't have to worry about updates auto

[2021-10-24 03:11] naveensrinivasan opened #1155 "Feature - Scorecard release for Darwin arm64"
**Is your feature request related to a problem? Please describe.**
Scorecard releases for M1 mac's

**Describe the solution you'd like**
Update the goreleaser to include for M1 mac

[2021-10-25 18:56] #1155 closed, assigned to naveensrinivasan

[2021-10-25 22:06] #1142 closed, assigned to olivekl

[2021-10-26 17:35] asraa opened #1163 "BUG: Token-Permission check incorrect because of workflow parsing"
**Describe the bug**
The Token-Permission check seems to error out on an invalid GitHub workflow from https://securitylab.github.com/research/github-actions-preventing-pwn-requests/

The mistake is in parsing `jobs` in https://github.com/ossf/scorecard/blob/6f1a43a0b60f2473991e21153d26e58e586b98e0/checks/permissions.go#L209

I believe this should be a list of jobs.

What happens is that no top-lev

[2021-10-26 18:01] #1163 closed, assigned to nobody

[2021-10-26 18:19] #1149 closed, assigned to nobody

[2021-10-27 15:50] 06kellyjac opened #1167 "Could scorecard integrate some of the aspects from "Minimum Viable Secure Product" or should it be a new benchmark/audit/review tool?"
Google announced MVSP with a series of suggestions for a secure product. Could some of this be integrated into scorecard or would it be better as a separate tool?

Could maybe be integrated a bit like CII Best Practices?

https://security.googleblog.com/2021/10/launching-collaborative-minimum.html

https://mvsp.dev/

[2021-10-27 15:59] asraa opened #1169 "Add a ossf-tests repository for new check: Dangerous-Workflow"
**Is your feature request related to a problem? Please describe.**
I would like to request a new repo to be created in `ossf-tests` for the dangerous workflow e2e test.

This would just exactly be this repo: https://github.com/asraa/scorecard-test/blob/main/.github/workflows/test.yml

This would enable the tests in https://github.com/ossf/scorecard/pull/1168 to pass!

See https://github.com/ossf/s

[2021-10-27 16:30] #1169 closed, assigned to nobody

[2021-10-27 16:40] #1167 closed, assigned to nobody

[2021-10-27 22:37] laurentsimon opened #1174 "Feature: parse lock files and verify hashes are present"
I've learned today that certain lock files don't actually contain a "hash lock". Npm, for example, allows unlocked dependencies in their lock files. So we should verify the lock is present.

For Npm:
[code]

If the lock supports sha-2, that's even better.

[2021-10-28 01:07] laurentsimon opened #1175 "Feature: detect code that updates dependency hash pins "manually""
Tools that help update dependencies is what we advise user to use in the `Dependency-Update-Tool` check.

Asa result, we should never see, inn a script, a command that tries to update dependencies, e.g. `npm update` - same for other package managers.

We should add support to check for such commands in the `Pinned-Dependencies` check.

[2021-10-28 12:20] ShubhamPalriwala opened #1179 "Inconsistency in Organisations"
**Describe the bug**
I recently ran a Scorecard Scan via Docker on [kyverno/kyverno](https://github.com/kyverno/kyverno), and in the Contributors section, the organisations that are mentioned, some are prepended with an `@` while some aren't!
Proof:
![image](https://user-images.githubusercontent.com/55556994/139253252-f9a24782-59f0-4780-a214-50e7952b6b59.png)
As you can see only Prometheus is tagg

[2021-10-28 13:26] developer-guy opened #1180 "use setup-ko GitHub Action instead of installing it via tools.go"
**Is your feature request related to a problem? Please describe.**
It is not related to the problem. It's more like an improvement.

**Describe the solution you'd like**
Thanks to @imjasonh, he developed a GA named setup-ko[^1] to install ko, so I'd like to use it instead of installing ko via `go install`. Recently, the same one was already done for the `cosign` project too[^2].

**Describe altern

[2021-10-28 17:04] #1180 closed, assigned to nobody

[2021-10-28 17:07] laurentsimon opened #1184 "Feature: Add supported repo interface in checks.yaml"
As part of the local repo interface implementation, some checks are not supported.
We want to add this as part of the `checks.yaml` file, and use it to disable some test at runtime.

See this discussion thread https://github.com/ossf/scorecard/pull/1146#discussion_r736761403 for more information

[2021-10-28 22:58] naveensrinivasan opened #1188 "Feature - Vendor dependencies for hermetic builds"
**Is your feature request related to a problem? Please describe.**
Vendor dependencies for hermetic builds.

[2021-10-29 16:11] naveensrinivasan opened #1194 "Feature - Managed make parser"
**Is your feature request related to a problem? Please describe.**
The makefile parser is homegrown and harder to maintain
**Describe the solution you'd like**
Explore in using https://github.com/mrtazz/checkmake

[2021-10-29 17:59] laurentsimon opened #1196 "Feature: add unit test for `getEnabledChecks()` function in `cmd/root.go`"
Function `getEnabledChecks()` determines which checks are enabled, using a combination of 1) supported checks for the repo interface, 2) wether a policy is given or not, 3) whether `--checks` is passed as argument or not.

Changing this behavior would be a breaking change.

[2021-10-30 00:51] chrismcgehee commented on #839
@azeemshaikh38 Thanks for fixing the panicky code.
@naveensrinivasan That library looks great! Glad you found it. I would love doing less maintenance for parsing actions.
@asraa I expect that when we move to the library for parsing actions, the yaml included in the blog will get parsed correctly. If it doesn't, we can look into it further at that time.

[2021-10-30 00:57] naveensrinivasan commented on #839
@chrismcgehee Do you want to do this? Or I can take it.

[2021-10-30 02:03] chrismcgehee commented on #839
I can do this one.

[2021-10-30 04:35] nanikjava commented on #1038
@david-a-wheeler Does the check need to keep on checking _until_ if finds a license file ? in other words once it find a _single_ license file the check is complete ?

[2021-10-30 05:33] #1148 closed

[2021-10-30 15:00] naveensrinivasan commented on #839
Thanks

[2021-10-30 17:47] naveensrinivasan commented on #1056
One of the options that we discussed was to export the BigQuery `latest` run into cloud buckets so that it provides an HTTP endpoint for consumers to query.

This avoids us from maintaining a server and handling uptime.

[2021-10-30 19:07] naveensrinivasan commented on #664
I think we can work on Dependency verification check
https://docs.gradle.org/current/userguide/dependency_verification.html, probably  the signature verification later.

[code]

@laurentsimon Thoughts?

[2021-10-30 19:09] naveensrinivasan commented on #373
@inferno-chromium  What is the check? Could you please add more information?

[2021-10-30 19:10] naveensrinivasan commented on #427
Related #664

[2021-10-30 19:47] naveensrinivasan commented on #298
I think it is possible to do it.

[code]

@asraa  Thoughts on this?

[2021-10-30 23:42] naveensrinivasan opened #1200 "Feature - Include scorecard card scans into Rekor"
**Is your feature request related to a problem? Please describe.**
The scorecard scans should attest that the scan was done to a repository state (commit SHA) or binary release. https://rekor.sigstore.dev https://github.com/sigstore/rekor

[2021-10-30 23:51] naveensrinivasan commented on #298
On a related note #1200

[2021-10-30 23:59] naveensrinivasan commented on #298
@dlorenc Confirmed it is possible on slack https://sigstore.slack.com/archives/C01DGF0G8U9/p1635628124084900

@asraa I have cycles to take this and would like to implement this. Please let me know. Thanks

[2021-10-31 00:18] naveensrinivasan opened #1201 "Feature - Scorecard should sign releases with cosign"
**Is your feature request related to a problem? Please describe.**
Scorecard should sign when a new GitTag is pushed to using OIDC and Keyless Option https://github.com/sigstore/cosign

- Binaries
- Tarball
- The commit SHA `COSIGN_EXPERIMENTAL=1 ./cosign sign-blob --key cosign.key <(git rev-parse HEAD)` https://github.com/sigstore/cosign/blob/main/FUN.md

For now, it should sign with the gpg key

[2021-10-31 00:28] naveensrinivasan commented on #1201
This can be achieved by using goreleaser build hooks
[code]
 https://goreleaser.com/customization/build/

[2021-10-31 22:30] azeemshaikh38 commented on #298
Sounds good to me. We already look for the presence of `.sig` files in release artifacts, if we don't find anything there, we can look into Rekor for it. This will be a good first step for Scorecard to start integrating with Rekor. Thanks for looking into this @naveensrinivasan!

[2021-10-31 23:05] naveensrinivasan commented on #1153
Closing the issue as the community wouldn't want this feature.

[2021-10-31 23:05] #1153 closed

[2021-11-01 15:07] inferno-chromium opened #1205 "Should we add check for this trojan source attack?"
**Is your feature request related to a problem? Please describe.**
https://www.trojansource.codes/trojan-source.pdf

**Describe the solution you'd like**
Unsure, detect those code sequences in code. Will be pretty heavy weight check, lets think it through.

**Describe alternatives you've considered**
Still to be evaluated.

**Additional context**
https://twitter.com/rossjanderson/status/1454962928

[2021-11-01 16:28] asraa commented on #1200
This would be pretty easy to do! do you mean the scorecard scans from the cron jobs?

[2021-11-01 17:11] naveensrinivasan commented on #1200
As of now in the cronjobs later in the GitHub Actions because we can utilize the OIDC Provider in GitHub Actions and probably in cronjob (if not KMS)

Or should we wait for in-toto attestations https://github.com/ossf/scorecard/issues/1121#issuecomment-938151392 before we do this?

[2021-11-01 17:49] laurentsimon commented on #664
Agreed it's a great idea. We can start with the integrity part and implement it in the Pinned Dependency check. Is it what you had in mind too, @naveensrinivasan ?

[2021-11-01 17:56] laurentsimon commented on #1188
Can you elaborate a little more?
1. Is this "let's do it for scorecard builds" or "let's add a check in scorecard"?
2. What do you mean by vendored dependencies? Is it like hash pinning? Or you're thinking of "runtime" vendored dependencies (fetch dependencies then build without network access)? If the former, what are the advantages of vendored vs hash pinning? Are tools like dependabot/renovabot

[2021-11-01 18:07] naveensrinivasan commented on #664
Yes, that's what I had in mind. For the first pass we check if the file exists and if it has `<verify-metadata>true</verify-metadata>` flag enabled.

[2021-11-01 19:00] azeemshaikh38 commented on #1205
I think its a good idea. We can check for the presence of bidirectional unicode characters in any text file. If we are able to get in a v0 by EOW, next week's cron job results can show the state of OSS with regards to this vulnerability.

[2021-11-01 19:01] azeemshaikh38 commented on #1205
In the long run, maybe it makes more sense for this to be part of Package Analysis? @oliverchang fyi.

[2021-11-01 21:23] naveensrinivasan commented on #1205
Package Analysis is all about runtime analysis not inspecting the source code.

This should be in more of linters like `gosec` IMO.

 Are we sure that there won't be any uses case the `bidirectional unicode characters ` would be desired need?
 If we identify do flag them as a major vulnerability?  I think we need to have answers to these questions.

[2021-11-01 21:55] oliverchang commented on #1205
We are actually planning to add more static analysis to package analysis, as that provides useful signals in addition to dynamic analysis.

FYI @calebbrown who will be working more on package analysis.

[2021-11-01 23:11] laurentsimon commented on #688
@di what can be done on the pypi side, similar to https://github.com/ossf/scorecard/issues/688#issuecomment-950321692?

[2021-11-01 23:22] di commented on #688
IIUC you're looking for a way to determine if a given project name is published on PyPI?

That would require checking if the name exists (via HTTP status) at either:

- Simple API: `https://pypi.org/simple/<project_name>`
- JSON API: `https://pypi.org/pypi/<project_name>/json`

More details on available APIs here: https://warehouse.pypa.io/api-reference/

[2021-11-01 23:54] naveensrinivasan commented on #664
@laurentsimon  What about the score calculation? How should this affect the score?

[2021-11-02 01:43] #1184 closed

[2021-11-02 01:49] naveensrinivasan commented on #1201
Here is the output of `COSIGN_EXPERIMENTAL=1 cosign verify gcr.io/distroless/base:nonroot`

The subject is `"Subject": "keyless@distroless.iam.gserviceaccount.com"`
[code]

And here is the output of the container that was pushed by GH Action `COSIGN_EXPERIMENTAL=1 ~/temp/cosign verify ghcr.io/naveensrinivasan/stunning-tribble`

The subject is `"Subject": "https://github.com/naveensrinivasan/stunni

[2021-11-02 03:51] azeemshaikh38 opened #1207 "BUG: `cannot assign requested address` errors in cron worker"
Cron workers fail to establish connection with the token server and then repeatedly crash. Not a high priority issue since only happens once in a while and is not affecting the run. But goos to debug and fix the issue.

[2021-11-02 03:55] azeemshaikh38 commented on #989
Closing this in favor of #839. Lets track this there.

[2021-11-02 03:55] #989 closed

[2021-11-02 04:18] inferno-chromium commented on #1205
If you want to create a generic code search check that searches various patterns, then fine to add this as well, but this is not a priority now given limited impact.

[2021-11-02 14:53] azeemshaikh38 commented on #1205
Yeah, we can skip a new check for now since impact is not too high. But this is an interesting threat vector to detect. @oliverchang @calebbrown should we track this in PackageAnalysis project and close this issue in Scorecard?

[2021-11-02 15:22] laurentsimon commented on #1188
where does go stored the vendored dependencies?

[2021-11-02 15:30] laurentsimon commented on #688
That's exactly what we need. Thank you!

[2021-11-02 15:31] asraa commented on #1201
Yeah, to get around this you would need the workflow to sign with an annotation over the GIT_SHA, and then have the author sign the GIT_SHA

Yes, with `cosign sign -a git_sha=$GITHUB_SHA $IMG`

Yes, you can detach the signature with cosign and upload it

Yes, but also with `github.com/ossf/scorecard/blob/main/.github/workflows/goreleaser.yaml@refs/$REF`

[2021-11-02 15:34] azeemshaikh38 commented on #1201
Awesome, thanks @asraa! So along with `cosign sign`, we need the `-a git_sha` annotation and a step to upload the `.sig` files.

@naveensrinivasan let me know if you are interested in taking this.

[2021-11-02 15:37] naveensrinivasan commented on #1188
https://golang.org/ref/mod#go-mod-vendor `/vendor` and  here are a couple of examples

- https://github.com/tektoncd/chains/tree/main/vendor
- https://github.com/kubernetes/kubernetes/tree/master/vendor

[2021-11-02 15:39] asraa commented on #1201
It could be removed with https://github.com/sigstore/fulcio/issues/208 resolved, but yes!

[2021-11-02 15:41] naveensrinivasan commented on #1201
I will take it. Thanks

[2021-11-02 16:13] naveensrinivasan commented on #1200
in-toto attestations for scans in-toto/attestation#58

[2021-11-02 16:21] laurentsimon commented on #1201
Is the plan to sign in a GH workflow or from GCP?

[2021-11-02 16:25] naveensrinivasan commented on #1201
GH Workflow.

[2021-11-02 16:26] naveensrinivasan commented on #1201
@asraa  The `cosign sign-blob` does not have ` -a, --annotations`

[2021-11-02 16:30] asraa commented on #1201
Ah, this is true. Blobs don't have layers so annotations can't be stored there. In that case it will need to come from the cert from issue https://github.com/sigstore/fulcio/issues/208

You may still sign-blob with keyless, but the GIT_SHA will be missing until that issue is resolved.

[2021-11-02 16:35] naveensrinivasan commented on #1201
Thanks, Do you have an idea as to when is it likely to be worked up on https://github.com/sigstore/fulcio/issues/208?

[2021-11-02 16:51] asraa commented on #1201
Should be in pretty soon! You can still use sign-blob as is, just won't see git_sha in the cert yet.

[2021-11-02 18:59] naveensrinivasan commented on #1200
scorecard uses the Git SHA as the version when performing scans compared to semver  for other binary releases.
Does it make sense to utilize in-toto format? If we use the in-toto format for storing scans, how can consumers search for Scorecard scans based on repository and a commit SHA?

https://sigstore.slack.com/archives/C01DGF0G8U9/p1635876627117600?thread_ts=1635628124.084900&cid=C01DGF0G8U9

[2021-11-02 23:02] naveensrinivasan commented on #1201
Ran into this issue https://github.com/sigstore/cosign/issues/990

[2021-11-03 21:18] laurentsimon commented on #1174
@nanikjava any further question I can help with?

[2021-11-03 21:19] laurentsimon commented on #1129
We discussed last meeting. We will separate out data/result gathering and policy/score calculation. So we'll keep our calculation as it is today and move to the policy calculation over time.

[2021-11-03 21:19] #1129 closed

[2021-11-04 12:24] nanikjava commented on #1038
@laurentsimon Any thoughts about this https://github.com/ossf/scorecard/issues/1038#issuecomment-955144572 ?

[2021-11-04 14:17] naveensrinivasan opened #1217 "Feature - Include flake.lock as check for nixos packages"
Consider including `flake.lock` check for nixos packages https://nixos.org/manual/nix/unstable/command-ref/new-cli/nix3-flake-lock.html

https://github.com/ossf/scorecard/blob/2006be181938b541cf68f76aec8496db10fc46fd/checks/pinned_dependencies.go#L790

flake-lock is similar to `go.sum` where it pins it to Git SHA.

[2021-11-04 15:38] laurentsimon commented on #1038
You can stop once the first license is found. Having them all is useful in itself, but there are dedicated tools to deal with licenses in general. I think it's good enough for us to inform the user whether a project has published a license or not at all. Also, some projects vendor dependencies so may have thousands of licenses which would clobber the scorecard output AND increase running time with

[2021-11-04 15:40] laurentsimon commented on #1038
FYI, some user inform about license in their README, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository
Let's not worry about this for now.

[2021-11-04 16:17] laurentsimon commented on #1188
do you know how much latency this would add to the download of the tarball?
Let's add this topic to the agenda for next meeting?

[2021-11-04 16:19] laurentsimon commented on #982
how do we handle automated release notes?

[2021-11-04 16:35] naveensrinivasan commented on #1188
Could you please explain which tarball? The `Scorecard` or our dependencies.

Yes I will.

[2021-11-04 17:00] #234 closed

[2021-11-04 17:08] azeemshaikh38 commented on #982
There was a discussion about automated release note generation, can't seem to find the issue/thread for it. Gist was that Kubernetes does something like this already, so we could do it too. @naveensrinivasan may know more about this.

But, to your point, yes we should also consider adding support for automated release note generation also. Let's create a separate issue for automated release note g

[2021-11-04 17:22] azeemshaikh38 commented on #1175
Does it make more sense for this to be part of `Dependency-Update-Tool`? Basically, what if we upgrade the scope of `Dependency-Update-Tool` to check how projects manage their different dependencies (automatically or manually)and score them accordingly?

[2021-11-04 18:09] laurentsimon commented on #1175
Good point, I think you're right. It's going to take some effort to re-use the shell utility functions and disentangle them from the `Pinned-Dependency` check. Adding to `Pinned-Dependency` is straight forward.

Is there value in first landing it in `Pinned-Dependency` check to have the data available, and then 2) work on the more long-term solution?

[2021-11-04 18:17] naveensrinivasan commented on #1201
@asraa  Ran into this issue https://github.com/sigstore/rekor/issues/481

[2021-11-04 18:21] laurentsimon opened #1218 "Feature: e2e GitHub action testing"
We need a way to validate that our GH action works as expected in the GitHub scanning dashboard.
Ideally, we want tests that automatically run the action a pre-defined test repos, then use the GitHub APIs to collect the scanning results. This will give us high assurance that changes we make (SARIF, checks) do not break the GH action in any way.

A first step before e2e testing of the action is to

[2021-11-04 18:28] laurentsimon commented on #982
My main concern/question is how we automate release notes that are human-consumable. A list of merged PRs is not very eligible for human. If we could do that it'd be nice, unless we think it's overkill for minor releases.

[2021-11-04 19:00] azeemshaikh38 commented on #982
Sorry it was not Kubernetes, but `sigstore/cosign` - https://github.com/sigstore/cosign/releases, released by `sigstore-bot`. Like you said, the release notes should be human readable not just changelog. And it is possible to automate it that way.

[2021-11-04 19:07] azeemshaikh38 commented on #1175
If its easier to add it in `Pinned-Dependencies` then let's do that, no need to complicate.

On a separate note though, its weird that these generic file parsing util fns are tied to checks. Maybe we should separate these out such that any check can use them. Probably have a `fileparser` package inside the `checks` package to do this. Wdyt?

[2021-11-04 19:09] laurentsimon commented on #1175
definitely, we should do that. Once it's done, we can move the code to `Dependency-Update-Tool`. I'll create a PR

[2021-11-04 19:15] laurentsimon opened #1220 "Feature: separate common shell utility function from `shell_download_validate.go`"
We'd like to be able to re-use some of the functions for other checks, such as `Dependency-Update-Tool`, see https://github.com/ossf/scorecard/issues/1175
So we should try to separate basic functionalities into their own `shell_utils.go` file.

[2021-11-05 17:04] naveensrinivasan commented on #1201
https://github.com/sigstore/cosign/pull/1001

[2021-11-05 17:21] jhutchings1 commented on #1074
@laurentsimon What's the latest on this? Love seeing the scorecard integrate with Actions and the code-scanning tab. Let me know if you need any connection to get that into the code scanning actions list in the security tab.

[2021-11-05 17:21] hectorcustodiozup opened #1221 "Feature: More output format options"
**Is your feature request related to a problem? Please describe.**
The generated table output is not always clear. Sometimes the lines break inconsistenly which dificults readability

**Describe the solution you'd like**
I would like to have an option to generate the output results in file or concise object form as JSON, so it could be saved or used as output from github workflows for example.

**

[2021-11-05 17:27] laurentsimon commented on #1221
It's supported: run `--format json`, you can pipe it into a file as `--format json > results.json`

[2021-11-05 17:31] hectorcustodiozup commented on #1221
Hello @laurentsimon,

Thanks, that's exactly what I needed. I missed this in the documentation I'm sorry. I'm closing the issue.

[2021-11-05 17:31] #1221 closed

[2021-11-06 03:13] laurentsimon opened #1224 "Feature: automated generation of action's docker image"
We need to automate the step of generating the container image

[2021-11-06 11:54] naveensrinivasan commented on #1074
Thanks, Also what is the process to get it verified https://docs.github.com/en/developers/github-marketplace/github-marketplace-overview/about-marketplace-badges?

[2021-11-06 20:26] david-a-wheeler commented on #1038
Yes, but I think it's fine to *not* accept this as adequate. The problem is that when applications have thousands of dependencies, having the license only in a Readme is not adequate notification to potential users about their obligations, because it's not easily machine readable. It may be legally adequate, but it is not good practice because this poor notification is hostile to users.

[2021-11-06 23:32] naveensrinivasan commented on #1038
I agree. This is a project by itself to figure it out. Could we utilize this https://github.com/google/licensecheck?

[2021-11-07 12:38] nanikjava commented on #1038
Thanks for the confirmation.

[2021-11-07 18:17] david-a-wheeler commented on #1038
@nanikjava - I agree, stop when you find a license. The point of this criterion is to assert that there is clear license information. This isn't a tool to determine *exactly* what the license is, just that there's information clearly available, so 1 license file is enough to determine this.

[2021-11-08 16:11] laurentsimon commented on #1074
Thanks Justin. Is this the same as being published on the market place? (We'd love to do that). What's a typical timeline to have an action published?

[2021-11-08 17:40] jhutchings1 commented on #1074
@laurentsimon There are a couple of places you can get this listed including the marketplace and the code scanning tab (eg https://github.com/ossf/scorecard/security/code-scanning/setup). We'd be happy to work with you on this. Let me tag my colleague @josepalafox who can follow-up on the process bits?

[2021-11-08 17:59] laurentsimon commented on #1074
Thanks!

[2021-11-08 18:32] #642 closed

[2021-11-08 18:48] azeemshaikh38 commented on #1179
Looks like one the company names is specified as "@litmuschaos @prometheus". We only trim the `@` from the [beginning of company name](https://github.com/ossf/scorecard/blob/main/checks/contributors.go#L63), hence the inconsistency in this case. I'm closing this since this is working as expected IMO. However, happy to review a PR which tackles the `@` handling better than what we currently have.

[2021-11-08 18:48] #1179 closed

[2021-11-08 18:52] azeemshaikh38 commented on #1201
Marking #1126 as a duplicate of this and closing the other issue.

[2021-11-08 18:52] azeemshaikh38 commented on #1126
Duplicate of #1201.

[2021-11-08 18:52] #1126 closed

[2021-11-08 18:56] developer-guy commented on #1201
Keyless mode is not the only option for providing provenance. There are other ways to do the same thing like the following (I mentioned them in the issue that was closed a while ago):

* https://goreleaser.com/customization/sign/#signing-with-cosign
* https://github.com/sigstore/cosign/blob/main/.goreleaser.yml#L127
* https://carlosbecker.com/posts/goreleaser-cosign/
* https://blog.ediri.io/build-

[2021-11-08 19:56] developer-guy commented on #1201
This one is for keyless mode 👌

https://www.appvia.io/blog/tutorial-keyless-sign-and-verify-your-container-images

[2021-11-08 20:09] josepalafox commented on #1074
When you make a release of the action there's a checkbox for admins to "publish to marketplace" assuming you have the right permissions you should just see this, else TO-DO is get the permissions or find someone with them that can publish to marketplace:

https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace

Next please make a PR using the security starter w

[2021-11-08 20:16] laurentsimon commented on #1105
See https://github.com/ossf/scorecard/issues/1074#issuecomment-963530845

[2021-11-08 20:17] laurentsimon commented on #1074
Thanks for the info. We'll start looking into this.
Feel free to attend our bi-weekly meeting, we'd love to hear you suggestions. The next by-weekly meeting is next Monday at 330pm PST. It's an OSSF public meeting, see https://github.com/ossf/scorecard#connect-with-the-scorecards-community

[2021-11-09 00:17] laurentsimon commented on #1097
This seems to still be occurring: https://github.com/ossf/scorecard/security/code-scanning/2869?query=ref%3Arefs%2Fheads%2Fmain

[2021-11-09 01:16] laurentsimon commented on #792
another idea is to use the list of transitive deps, see if some have been updated and if the project has accepted dependabot PRs. That's pretty involved, though

[2021-11-09 08:48] developer-guy commented on #1201
@azeemshaikh38, this issue also duplicates with #309 🤔

[2021-11-09 19:13] naveensrinivasan commented on #1224
- Use ghcr.io for serving this container which can be used in the GitHub action.
-  Also we could use `cosign` to sign this container with the keyless option.

[2021-11-09 20:23] laurentsimon commented on #1224
sounds good. I can't find the doc, but I think you're right it should be supported!

[2021-11-09 20:28] naveensrinivasan opened #1230 "Scorecard builds aren't reproducible"
[code]
[code]

[2021-11-09 20:31] naveensrinivasan commented on #1224
Can we move this to the scorecard-actions repository? IMO easier to track.

[2021-11-09 20:46] laurentsimon commented on #1224
agreed, please go ahead. let's also create a v4 milestone there

[2021-11-09 23:25] evverx opened #1231 "The "Fuzzing" check doesn't seem to always work correctly"
**Describe the bug**

According to `scorecards` some projects like [`util-linux`](https://github.com/google/oss-fuzz/tree/master/projects/util-linux) and [`selinux`](https://github.com/google/oss-fuzz/blob/master/projects/selinux/project.yaml) aren't fuzzed on OSS-Fuzz even though they have been fuzzed there since 2020 as far as I can remember.

**Reproduction steps**
[code]
[code]
[code]

[2021-11-10 01:29] evverx commented on #1031
I wouldn't say this is fully supported. For example, `systemd` has [a custom workflow](https://github.com/systemd/systemd/blob/main/.github/workflows/coverity.yml) sending data to [CoverityScan](https://scan.coverity.com/) daily. To get `scorecard` to handle workflows like that it should be changed so that it could analyze the status of GitHub workflows and scanners used to analyze projects. Other

[2021-11-10 15:04] asraa commented on #1231
I can try to debug this. I can definitely repro it.

[2021-11-10 15:16] azeemshaikh38 commented on #1231
Thanks @asraa. Assigning this to you.

[2021-11-10 15:19] asraa commented on #1231
Might need to replace the `-` with `.` when building the query

[code]

[2021-11-10 15:54] david-a-wheeler commented on #1031
@evverx: To be fair, @laurentsimon didn't say "fully supported" just "support".

It's challenging to handle all cases. Scorecard needs to keep getting refined to increasingly handle more cases over time. Originally I had proposed this issue to focus on a specific case. This issue could be broadened, or a separate issue could be created to discuss all the cases & then point to this issue as an exam

[2021-11-10 16:14] laurentsimon opened #1234 "BUG: `make all` fails"
on a local machine:
[code]

Is this due to a difference in proto version used on my machine?

[2021-11-10 16:31] evverx commented on #1031
@david-a-wheeler fair enough.

Agreed. Though I think until the check can cover most use cases it shouldn't be rolled out by default. I'm not sure maintainers would be happy to receive reports based on the findings of `scorecard` run by people (or maybe even bots) who didn't even try to figure out what it does. There are already enough "bug reports" produced by bespoke static analysis tools (most

[2021-11-10 17:21] laurentsimon commented on #1031
Thanks for the comments. This is a double-edge sword. On one hand, you're right that users may be upset. On the other, not rolling it out prevents us from gathering improvement suggestions from early adopters.. before the tool reaches wider adoption.

We can do 2 things:
1. Instead of returning a score of `0`, we can return an inconclusive result: we would just say "we could not figure it out". We

[2021-11-10 18:33] evverx commented on #1231
@asraa thanks for looking into this! I didn't know `scorecard` uses the GitHub API. I somehow thought it just cloned the oss-fuzz repository and looked for urls there :-)

According to https://docs.github.com/en/search-github/searching-on-github/searching-code#considerations-for-code-search, it seems `/` can't be used as part of search queries. I replaced `/` with `+` and ran something like
[code]

[2021-11-10 20:06] laurentsimon commented on #1201
looks like https://github.com/goreleaser/goreleaser/issues/2659 will make everything simpler, thanks to @developer-guy

[2021-11-10 20:11] laurentsimon opened #1238 "Feature: accept neutral conclusion in CI-Test"
We may be missing check status in the CI-Test. See this change that was made for the SAST check https://github.com/ossf/scorecard/pull/1237#issuecomment-965686212. I think we should make the same change in CI-Test check.

@evverx wdut?

[2021-11-10 20:18] naveensrinivasan commented on #1201
Keyless still has an issue in rekor when uploading binaries https://github.com/sigstore/rekor/issues/481. Till there is a solution for this we cannot sign-blob using keyless.

[2021-11-10 20:47] evverx commented on #1238
I think it would make sense to include "neutral" checks there. Though I think the "skipped" conclusion is much more likely to appear (at least when custom GHActions like https://github.com/systemd/systemd/blob/main/.github/workflows/cifuzz.yml are skipped conditionally). Anyway, to be absolutely certain I think I need to take a look at what the check does and try to figure out where it lost anothe

[2021-11-10 21:19] evverx commented on #1238
Judging by
[code]
Looks like https://github.com/systemd/systemd/pull/21261 was excluded. I don't think it has anything to do with the check conclusions though.

[2021-11-11 00:11] evverx commented on #1031
Sounds good to me. FWIW I think the Binary-Artifacts check should be demoted as well.

Unfortunately I can't say I know how to improve the situation. Parsing the run field and bash scripts could certainly help but given that some projects hosted on GitHub send data for analysis bypassing GitHub Actions altogether it doesn't seem to be enough. At the end of the day I think what matters is whether p

[2021-11-11 16:00] azeemshaikh38 opened #1240 "Feature: Improve `CII-Best-Practices-Badge` API access"
Scorecard check for `CII-Best-Practices-Badge` makes a single HTTP request per repo. With our current scale of 1M repos, the cron job constantly receives 429 errors and is also affecting the CII Best Practices servers. To remediate this, will use the page-based API to pre-download the data into Google Cloud and access this instead - https://github.com/coreinfrastructure/best-practices-badge/blob/m

[2021-11-11 16:06] david-a-wheeler commented on #1240
Thanks so much! I think this optimization will improve help both Scorecard & CII Best Practices.

[2021-11-11 16:14] azeemshaikh38 commented on #1201
Thanks @developer-guy! Looks like the [goreleaser option](https://goreleaser.com/customization/sign/#signing-with-cosign) would be the simplest/easiest to implement. Any advantages or reasons to prefer the keyless way over this? @naveensrinivasan @developer-guy for feedback.

It's related, but it's for the Docker container images rather than the release artifacts. So keeping it open since this iss

[2021-11-11 16:45] azeemshaikh38 commented on #1231
This is a great find @evverx and @asraa! If I understand correctly, the problem is the special characters as mentioned here:

![image](https://user-images.githubusercontent.com/4825078/141334929-36667b29-7cab-4f1b-a1e1-77f242dc8ea2.png)

When I replaced `/` with space, the queries seem to work. So I can think of 2 solutions here:

- Option 1: Update the GitHub API search query to replace all speci

[2021-11-11 16:49] azeemshaikh38 commented on #1230
Huh, interesting. Could you compare the output of `scorecard version` from both these binaries?

[2021-11-11 16:49] asraa commented on #1231
I just created a PR https://github.com/ossf/scorecard/pull/1241

[2021-11-11 16:59] evverx commented on #1231
I think option 2 would be better in the sense that it seems to be more reliable but given that at this point I'm not sure how many false positives the current check might produce I think it would make sense to just keep the code sending search queries via the GitHub API.

@azeemshaikh38 I just followed the links @asraa posted and then poked the requests until they worked without fully understandin

[2021-11-11 17:07] developer-guy commented on #1201
Hello @azeemshaikh38,  I have great news for you. Recently, we've opened an issue in GoReleaser to support keyless mode.[^1] There are lots of helpful information and conversation in there. I highly recommend you to take a look at those.  Also, we already did some work on the ko project to adapt to these new changes[^2], and we are now waiting for the new releases for both cosign and GoReleaser pr

[2021-11-11 17:09] naveensrinivasan commented on #1230
You can see from the output I used git tags. So the version should be the same. I would have to check the right version of the go compiler to make sure I am comparing apples with apples.

[2021-11-11 17:32] naveensrinivasan commented on #1201
Advantages of Keyless https://github.com/sigstore/cosign/blob/main/KEYLESS.md https://docs.google.com/document/d/189w4Fp1GEA1b2P633HyqTwtcWFNTu_Af4meolMa_1_8/edit?resourcekey=0-QoqNqcHXvSuPnMUdn8RGOQ# @dlorenc wrote about this.

Like I mentioned before Keyless signing of blobs is not possible until the `rekor` issue is fixed https://github.com/sigstore/rekor/issues/481

We already have `gpg` singi

[2021-11-11 19:50] developer-guy commented on #1201
@naveensrinivasan @azeemshaikh38 this blog post[^1] also explains `why is “keyless” better than conventional signing?`.

[^1]: https://chainguard.dev/posts/2021-11-03-zero-friction-keyless-signing

[2021-11-11 23:04] azeemshaikh38 opened #1242 "BUG: `RepoClient` data format"
Currently, the `RepoClient` data format uses primitive Golang types. This means that when certain values are not returned, the result struct will have default values set. This can lead to incorrect results.

We should update the `RepoClient` data to use `*bool`, `*string` etc. And the convention will be that if the value is `non-nil`, only then analyze the resut.

[2021-11-12 00:56] laurentsimon opened #1245 "Feature: Separate check for policy/score evaluation"
We need to separate check and its policy evaluation. This will allow us to return 'raw' results for users to apply arbitrary policies.
The first step is to do the separation within the `checks` package. Then all checks are migrated, we will create a `pkg.RunRawScorecards()` and create our default policy (currently the scores) thru an additional call.
We will later expose this in the CLI

[2021-11-12 01:50] naveensrinivasan commented on #1245
Cool! Is this part of v4 release?

[2021-11-12 01:54] laurentsimon commented on #1245
no. Just too many checks to migrate :-) v5 or v6.

[2021-11-12 03:52] evverx opened #1246 "The "Branch-Protection" check seems to fail to get the number of required reviewers"
It seems my experimental branch fails to pass the Branch Protection check even though it requires at least 2 reviewers:
[code]
`scorecard` says that "Warn: number of required reviewers is only 0 on branch 'main'"

I ran
[code]

[2021-11-12 04:39] evverx opened #1247 "The "Branch-Protection" check seems to fail to detect the status of "status checks""
I turned off the "Require status checks to pass before merging" setting and ran something like
[code]
to make sure they are off:
[code]

`scorecard` says that "Info: strict status check enabled on branch main" and increments the score:
[code]

[2021-11-12 04:56] evverx commented on #1242
Could it be that this causes https://github.com/ossf/scorecard/issues/1247?

[2021-11-12 05:14] azeemshaikh38 commented on #1242
Most likely yes. I have a PR out to fix this for `Branch-Protection`: #1243. With this PR, this is the result I get:

[code]

Does that align with your expected Scorecard output?

[2021-11-12 05:21] evverx commented on #1242
It does but with #1243 applied I got
[code]
`Warn: number of required reviewers is only 824638264608 on branch 'main'` and `Info: strict status check enabled on branch 'main'` look weird I'd say :-) Let me try to rebuild `scorecard` anew with that PR

[2021-11-12 05:35] evverx commented on #1242
Looks like in your version of `scorecard` both https://github.com/ossf/scorecard/issues/1247 and https://github.com/ossf/scorecard/issues/1246 are fixed (but it somehow lost the "Stale review dismissal" subcheck). In my version of `scorecard` the two issues are somehow still present but manifest themselves a bit differently.

[2021-11-12 05:37] evverx commented on #1242
I'm not sure if that helps but just in case
[code]

[2021-11-12 14:28] azeemshaikh38 commented on #1242
Ok, another great catch @evverx!

- `number of required reviewers` was a logging bug, I was logging the pointer value instead of the data.
- `strict status check enabled` was mostly due to the fact that I was copying over pointer and not data. Fixed that, let me know if that works now.
- `stale review dismissal` not showing up is likely expected. You need an admin token for the repo to get the val

[2021-11-12 16:36] laurentsimon commented on #1247
Thanks for the report. This setting needs an admin token to be retrieved. We've prepared https://github.com/ossf/scorecard/pull/1243 to ignore the settings when it's not available.

[2021-11-12 16:43] evverx commented on #1247
I use the same token with both curl and scorecard so I'm not sure why the results would be different. Does `scorecard` uses some other endpoints to get the protection rules?

[2021-11-12 16:45] laurentsimon commented on #1247
we use graphQl APIs. @azeemsgoogle knows more about this part of the code

[2021-11-12 16:49] laurentsimon commented on #1031
Thank you for the suggestion, that's really helpful!

[2021-11-12 16:57] laurentsimon commented on #1238
So do you think it's safe to add the neutral?
Do you know what `skipped` conclusion means? How is it different from `neutral`? Does GitHub figure some checks don't need to be re-run if they passed and the code they act upon has not changed between commits?

[2021-11-12 17:18] david-a-wheeler commented on #1031
Another option would be to detect the *presence* of many CI/CD pipeline configuration files, and give either "we don't know" or give a little credit if Scorecards isn't parsing them. Parsing all such files is challenging, and determining what they do is even harder, but their complete *lack of presence* could be considered considered concerning.

[2021-11-12 19:11] laurentsimon commented on #1031
thanks all. So to summarize:
1. Look for config file for known CICD, as in https://github.com/ossf/scorecard/issues/1031#issuecomment-921042624
3. Look for testing services, as in https://github.com/ossf/scorecard/issues/1031#issuecomment-965867782
3. Look for specific commands in workflows

[2021-11-13 00:21] laurentsimon opened #1254 "Feature: differentiate between `package` and `contents` permission in Token-Permission"
We currently accepts `package:write` and `contents:write` if the workflow is a packaging workflow. We don't differentiate between a workflow that writes to a branch for the release (e.g. by pushing a binary for the tagged branch - needs `contents`) vs a workflow that pushes to a registry (need `package`).

[2021-11-13 02:36] evverx commented on #1247
Fixed in #1252. Closing.

[2021-11-13 02:36] #1247 closed

[2021-11-13 02:36] evverx commented on #1246
Fixed in #1252. Closing.

[2021-11-13 02:36] #1246 closed

[2021-11-13 03:34] evverx commented on #1031
I'd add that I think projects analyzed more frequently should have higher score. Currently the SAST check would rate  projects analyzed by CodeQL, say, once a week higher than projects where every PR is analyzed before getting merged because it's much more likely that frequent workflows fail due to different transient issues related to the availability of SASTs for example. I don't think that's fa

[2021-11-13 05:06] evverx opened #1256 "Binary-Artifacts false positives"
As far as I can tell, the Binary-Artifacts check was supposed to catch executables people can run unintentionally after cloning repositories but in reality it seems to just look for extensions and, for example, flags projects using binary files for testing purposes. (The check would be even more noisy if it ignored extensions and searched for magic numbers by analogy with `file` because it would e

[2021-11-13 19:59] evverx opened #1257 "The "Token-Permissions" check seems to complain about codeql and labeler"
Both `codeql` and `labeler` are widely used GH Actions that require non read-only tokens. The links to the "official" documentation where the permissions they have to have are mentioned:
https://github.com/github/codeql-action#usage
https://docs.github.com/en/actions/security-guides/automatic-token-authentication#example-1-passing-the-github_token-as-an-input

[code]

[2021-11-14 07:47] evverx opened #1260 "The "Code Review" check seems to reject "reviewed" PRs"
Looking at https://github.com/ossf/scorecard/blob/51de6b6e5d9b025561b15c30cbb498bf31101427/checks/code_review.go#L118-L128

and https://github.com/systemd/systemd/pull/21305 (which was rejected by the check because due to the "rebase" button it was presumably created, reviewed and merged by the same person as far as I can tell) I don't think the check should always rely on whatever `pr.MergeCommit

[2021-11-14 19:57] evverx commented on #1257
Apparently actually `scorecard` doesn't complain about `labeler` (even though I think it should because `scorecard` doesn't know what `labeler` is (as opposed to `codeql`) and the write permissions are explicitly specified there at the top level). I'll try to open another issue.

Regarding `codeql` I'm going to fix it with the following patch:
[code]

but I wouldn't expect everybody to change thei

[2021-11-14 20:07] evverx commented on #1257
Anyway, on an unrelated note, somehow `systemd` and a project maintained by exactly one person pushing commits directly to the master branch with no PRs, protected branches, reviews, tests and fuzz targets whatsoever keep receiving approximately the same "global" score from `scorecard` (probably due to inconclusive checks). I think I'm about to give up :-)

[2021-11-14 20:29] evverx commented on #1031
I kind of complained about weird results `scorecard` produce in https://github.com/ossf/scorecard/issues/1257#issuecomment-968355084

Apart from bugs I've reported and fixed I think at least partly those results can be explained by the fact that if we're talking about SASTs for example `scorecard` can't tell the difference between projects taking this stuff seriously like systemd where at this poi

[2021-11-15 01:01] evverx opened #1264 "scorecard seems to create the "/tmp/repo*" directories it doesn't remove"
I ran `scorecard` quite a few times and at some point bash started to complain that it could't autocomplete commands due "no space left on device". I removed all the "/tmp/repo" directories manually but it would be great if `scorecard` could delete its temporary files itself. As far as I can see, it keeps at least two repositories there: the repository of projects passed via the "repo" flag and th

[2021-11-15 12:25] developer-guy commented on #1201
@naveensrinivasan @azeemshaikh38 GoReleaser v1.0.0 has just been released and is ready for the Keyless signing with cosign.

[2021-11-15 15:10] naveensrinivasan commented on #1201
Thanks

[2021-11-15 15:59] laurentsimon commented on #1128
I've thought a bit more about this. I agree that `it is possible to write a workflow that follows the principle of least privilege by setting permissions at run (job) level`. However, we would not be doing users a favor if we allowed them to *not* set permissions at the top level. By default, a workflow should have the least amount of privileges; and only if more are needed should the `job` add wr

[2021-11-15 15:59] laurentsimon commented on #1264
@azeemsgoogle FYI

[2021-11-15 16:04] laurentsimon commented on #1256
Thanks for the feedback. Scorecard looks for both magic number and extension.
We check for binaries because the code cannot be reviewed and it may contain arbitrary code run by the user, as you say. Users may not directly run the code.

We discard binaries in folders named `testdata`, which you may use for unit tests, regression tests, etc. This is not documented so I'll add a note in the document

[2021-11-15 16:19] laurentsimon commented on #1257
Thanks for the report and the time you're investing in this. Don't give up, I'll help you out. Just tell me what you expect and I'll tell you why it's happening and we'll try to improve things, whether it's documentation, logging or result computation

[2021-11-15 16:21] laurentsimon commented on #1257
is this related to https://github.com/ossf/scorecard/issues/1100?

[2021-11-15 16:27] azeemshaikh38 commented on #1201
@naveensrinivasan does this unblock us now from implementing this issue or do we have pending blockers still?

[2021-11-15 16:29] naveensrinivasan commented on #1201
Till this fixed https://github.com/sigstore/rekor/issues/481 no one can use rekor with large files for signing blob. So it is still a blocker.

[2021-11-15 16:34] azeemshaikh38 commented on #1201
Makes sense, thanks!

[2021-11-15 17:00] laurentsimon commented on #1031
you're right. It's a current limitation. We should check the number of non-fixed problems reported by the SAST. We d'like to also do Point 2 of https://github.com/ossf/scorecard/issues/966#issuecomment-915598041, but this is such a huge project...

[2021-11-15 17:04] laurentsimon commented on #1031
I think scorecard should only look at the run on the last commit of the PR, in which case all your PRs would be "pass" and it should not penalize you. If that's not what we do, we should change it. I agree on giving more weight to SAST-on-PR vs SAST-as-cron or push request. We have not had the time to implement this yet. I'll create a PR for both.