[2020-10-14 17:49] kimsterv opened #5 "New check: Uses source version control"
Some OSS projects don't use version control. Detect if a version control system is used for the project.

[2020-10-14 18:16] kimsterv opened #7 "New check: Do contributors and maintainers have 2fa enabled?"
Do all contributors have 2 factor authentication enabled on their accounts?

[2020-10-14 18:17] kimsterv opened #8 "Do contributors and maintainers have 2FA enabled?"
Do all contributors have 2 factor authentication enabled on their accounts?

[2020-10-14 18:17] #8 closed

[2020-10-14 18:19] kimsterv opened #9 "New check: Does the project use branch protection?"
https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/about-protected-branches

[2020-10-14 18:20] kimsterv opened #10 "Does the project use protected tags?"
https://github.community/t/feature-request-protected-tags/1742/21

[2020-10-14 19:43] dlorenc opened #11 "Is the project abandoned?"
I can't think of a good way to check this.

See twitter.com/alexellisuk/status/1315711970729955328 for an example.

Specifically, I want to make sure we differentiate between "done" projects that simply don't receive many PRs and projects that are abandoned, with changes/PRs piling up.

[2020-10-15 22:10] kimsterv opened #12 "Track scorecards over time"
Given a repo, it would be helpful to see the score over time. Let's store the data somewhere.

[2020-10-19 16:58] kimsterv opened #27 "Update dependency score based on project criticality (recursively)"
If project foo depends on projects A, B and C, then projects A, B, C should have a score greater than Y

[2020-10-19 17:00] inferno-chromium commented on #27
We either return 10 when deps lock file is found or 5 if it is not.

[2020-10-19 17:02] kimsterv opened #28 "New check: detect change of ownership"
Return true if there was a chance, false otherwise.

[2020-10-19 18:14] inferno-chromium commented on #28
https://api.github.com/repos/googleprojectzero/fuzzilli
it is easy to get current owner, but hard to check which was the last one.

[2020-10-19 18:14] inferno-chromium commented on #28
[code]

[2020-10-21 16:26] kimsterv opened #30 "New check: code is scanning for secrets"

[2020-10-22 13:50] dlorenc commented on #11
We added this one with "Activity" checks.

[2020-10-22 13:50] #11 closed

[2020-10-26 13:52] dlorenc opened #33 "Feature: Add a mode to point at a Package URL instead of a github URL"
This would allow scanning language-package-manager dependencies directly, rather than forcing a user to first resolve the package name to a github URL themselves.

Something like:

[code]

to catch https://portswigger.net/daily-swig/open-source-security-malicious-npm-packages-broadcast-sensitive-user-data-online

[2020-10-28 17:32] annabellebertooch opened #39 "Searching for vuln reporting info outside of GH's security.md"
For the Security Policy field, some projects that use GitHub do have a documented security policy, but are not using the GitHub Security Policy feature, so scraping just for GH's Security Policy via security.md would inaccurately show a false in this field.

I think this is most commonly seen with projects that were established before the Security Policy feature, or for projects mirror to GitHub.

[2020-10-28 17:35] inferno-chromium commented on #39
Please provide an example repo (and file path to policy).

[2020-10-30 13:02] dlorenc commented on #39
Yeah, if you could point us at a few examples that would help!

[2020-10-30 17:41] kimsterv opened #40 "Expand to source repos outside of GitHub"
I suggest GitLab next.

[2020-11-03 18:00] bkimminich opened #41 "Unexpected fail of Signed-Tags check"
The scorecard on `bkimminich/juice-shop` gives this result:

[code]

I get the `Code-Review` and `Fuzzing` fails, but not the `Signed-Tags` fail:

![image](https://user-images.githubusercontent.com/3531020/98022690-33a4af80-1e06-11eb-807e-91b1c2b82018.png)

All releases (of the last 2+ years at least) are based on signed tags. ~~And since 1 year+ all releases have MD5 signatures of all artifacts a

[2020-11-03 18:18] inferno-chromium commented on #41
Signed-releases is failing since it is missing signature file - https://github.com/ossf/scorecard/blob/main/checks/signed_releases.go#L49
asc, sig are usual formats for these, see https://wiki.debian.org/Creating%20signed%20GitHub%20releases
md5 is just checksum, not signature file.

Signed-tags is something @dlorenc can look into. when i run with --show-details, only one signed tag is found via a

[2020-11-03 18:27] bkimminich commented on #41
Ah, my bad on the tagged releases... one down, one to go. Here at least the GitHub web UI is on my side... 😁

[2020-11-05 21:06] dlorenc commented on #41
I reprod this, we must be doing something wrong with the API. I'm seeing this in the results:

- We call ListTags to get all the tags then iterate through them.
- We lookup the commit corresponding to each tag.
- For the first tag here [v12.1.1](https://github.com/bkimminich/juice-shop/releases/tag/v12.1.1), we see commit f43b0444f3d2e49544a1a5084a50ab24e5c41c46
- We then fetch that commit and che

[2020-11-05 21:34] dlorenc commented on #41
This looks to be the issue here: https://github.community/t/is-there-an-api-to-get-a-single-tag-by-its-tag-name/126107

The "ListTags" API returns a list of tags with names and the commit the tag points at, but does not return the tag sha itself.

The API call to Get a tag requires the tag sha.

[2020-11-06 17:37] dlorenc commented on #41
OK, figured this out. Unfortunately the GraphQL API allows you to retrieve the tag_sha, but does not allow you to check the verification status of that tag. So we need to use both APIs here after all.

[2020-11-06 18:35] Foxboron opened #46 "Signed Tags Check: Github "Verified" is a poor metric for source authenticity"
Github blanket signs releases with their own internal key. There are listed as "Verified" in the UI, and I suspect the library in use does the same. However this is poor UX and should not be relied upon to provide any form of "Signed-Tags" or "Signed-Releases".

An attacker can get access to some account that doesn't have 2FA enabled and have Github generate a "Verified" tag to satisfy the require

[2020-11-06 20:30] Foxboron commented on #46
And just to point it illustrate with the first repository I found.

https://github.com/containers/python-podman/releases

[code]

But the repository has no actual valid signatures. They are just auto-generated by Github UI merges and release. They provide no source authentication.

[2020-11-06 21:28] #41 closed

[2020-11-07 01:12] inferno-chromium commented on #46
@Foxboron - do you have any thoughts on a fix or can contribute a PR here, code is here - https://github.com/ossf/scorecard/blob/main/checks/signed_releases.go and https://github.com/ossf/scorecard/blob/main/checks/signed_tags.go

[2020-11-07 01:22] Foxboron commented on #46
It depends what the intention is. Signature verification isn't super trivial so unsure how it would be implemented across different forges, but blacklisting the keyid of the github key is enough in this case.

[2020-11-07 01:42] dlorenc commented on #46
Wow, I never noticed the GitHub key. Is that on for every repo or is it some kind of setting? Deny-listing that key or looking for the name (I'll have to check what's in the API response) is probably a good approach.

[2020-11-07 07:35] bkimminich commented on #41
`Signed-Tags: Pass 10` looks good now, thanks!

[2020-11-07 08:25] inferno-chromium commented on #46
Signed releases check is not impacted as it is dependent on a signature file existing in assets - https://github.com/ossf/scorecard/blob/main/checks/signed_releases.go#L49

Signed tags is the only affected one here.

[2020-11-07 10:51] Foxboron commented on #46
@dlorenc It's on for all repositories and used whenever you do a commit through github. I think it makes sense in some way by proving github was the one that made the commit. But having it indistinguishable from a "proper" signature is a bit bad. Github could probably improve on this one way or another.

@inferno-chromium Yes, I was under the impression releases might be looking at the tag signatu

[2020-11-09 18:26] dlorenc commented on #46
Ah, I think I fixed this by accident as part of #41. Previously we were looking at signatures for the **commit** a tag points to, when we were really intending to look at signatures on the tag itself.

Now this correctly fails on the repo you pointed us at. Github doesn't appear to sign tags that are created.

[2020-11-09 18:28] Foxboron commented on #46
I still think there are cases where the tag can be signed by github. So denying any form of valid signatures with that keyid should be done I think.

[2020-11-09 18:29] dlorenc commented on #46
Ah thanks for checking - do you happen to have any examples I can look at to make sure I get the right key/API responses?

[2020-11-09 18:34] Foxboron commented on #46
I need to try recall where I have seen them before and I can try provide a set of test repositories we can use.

[2020-11-10 03:31] inferno-chromium opened #52 "New check: ADD OSV: Show current state w.r.t open security vulnerabilities (e.g. CVEs, OSS-Fuzz, etc)"

[2020-11-10 12:44] RandomByte opened #54 "Frozen-Deps: Handle npm-shrinkwrap.json like package-lock.json"
According to npm, both files have the same effect of "freezing" dependencies: https://docs.npmjs.com/cli/v6/configuring-npm/shrinkwrap-json

We have a CLI project which uses `npm-shrinkwrap.json` instead of `package-lock.json`: https://github.com/SAP/ui5-cli

I would expect the "Frozen-Deps" check to pass. But it fails since it does not check for `npm-shrinkwrap.json`:

https://github.com/ossf/sco

[2020-11-10 14:19] dlorenc commented on #54
Thanks for the pointer! This should be straightforward to add, in the location you already found. Any interest in sending the PR? I can take care of it if you don't have the time.

[2020-11-10 14:45] RandomByte commented on #54
Sure, thank you! I created a PR: https://github.com/ossf/scorecard/pull/55

[2020-11-10 15:04] #54 closed

[2020-11-11 01:28] inferno-chromium opened #58 "Hook Scorecard as a CI/CD solution, prevent bad deps from being added in code"

[2020-11-11 15:01] dlorenc commented on #58
Great idea!

I think we'd have to create a separate hook per language-package-manager that can parse out the dependency files and then call the scorecard tool.

It's probably going to be easier to do those hooks in whatever language we're handling.

Do we need a separate repo for each of those, or just one to hold them all?

[2020-11-11 15:26] inferno-chromium commented on #58
Probably one to hold them all.

By default, we run all the hooks in the CI run. If it does not find package lock file for a particular pkg manager, it bails out. Different hooks can be different jobs in the CI run.

[2020-11-11 16:20] dlorenc commented on #46
Any luck tracking an example down here? I took a look at a few projects and still haven't found any where GitHub signed the tags.

[2020-11-11 16:24] Foxboron commented on #46
I haven't been able to sit down with this :) I can try have a look during the weekend with the rest of my FOSS backlog.

[2020-11-11 16:24] dlorenc commented on #46
cool, no worries!

[2020-11-12 10:30] ericcornelissen opened #60 "OAuth token seems to be required (not recommended) to avoid rate limits"
The first time I ran scorecard (on Windows 10 Home edition, with `go version`: `go version go1.15.3 windows/amd64`) I got a warning message after `[Fuzzing]` finished that the rate limit was exceeded in roundtripper.go (further investigation showed the warning was logged after attempting a request to `https://api.github.com/graphql`). Only after setting `GITHUB_AUTH_TOKEN` to a personal access tok

[2020-11-12 18:08] JasonKeirstead opened #62 "Question RE value of Contributors Check"
"Does the project have contributors from at least two different organizations?"

While I fully endorse this from a governance perspective, I fail to see what it has to do with the security of a project specifically.

[2020-11-12 18:12] JasonKeirstead opened #63 "RFE: Tool / Check should provide suggested remediation"
Currently, a check indicates a simple pass/fail with confidence. For a developer, this does not actually help them know how they should improve the situation. Checks should provide a suggested remediation on how to fix or improve.

[2020-11-12 18:13] JasonKeirstead opened #64 "How to measure maintaince"
Current check measures commits and releases.

The question is - does something with a lot of commits imply a secure project? How does commits correlate with security. Mature projects release far less often.

Less of an issue until this results in some form of automated checks/badging. Some of these checks should be higher weight than others. I would give this a low weight if kept measuring in this

[2020-11-12 18:25] inferno-chromium commented on #64
What are your thoughts here ?

Active check gives some indication - https://github.com/ossf/scorecard/blob/main/checks/active.go

[2020-11-12 18:26] inferno-chromium commented on #63
You want to propose some recommendation in the doc, maybe https://github.com/ossf/scorecard/blob/main/checks.md ?

[2020-11-12 18:39] JasonKeirstead commented on #64
Sorry not sure how this got submitted without text... edited & fixed.

[2020-11-12 18:40] JasonKeirstead commented on #63
@inferno-chromium I would argue it should output in the tool itself. If there is consensus on that I will try to work on a small PR to get it started.

[2020-11-12 18:45] inferno-chromium commented on #64
Right now, we are not putting weights on checks or comparing one check vs other. We are giving the integrator a set of values and then they can make a decision based on that. In future, we will probably be doing scoring based on these values and can account for this aspect as part of that.

[2020-11-12 18:47] inferno-chromium commented on #63
Yes i meant show the link in tool and improve documentation.

[2020-11-12 20:35] #64 closed

[2020-11-12 20:41] dlorenc commented on #63
Yes, makes sense to me. I think having the remediation content itself live on some website with a short summary and links in the tool makes sense.

Some of the guidance could be multiple paragraphs or longer, which could be hard to read in a terminal.

[2020-11-13 02:15] #60 closed

[2020-11-13 03:12] inferno-chromium commented on #39
We want to make this discoverable by people, so standardizing on github security policy makes sense here. we also support the default community health files as well. So closing, if you have examples, feel free to reopen.

[2020-11-13 03:12] #39 closed

[2020-11-15 23:13] Foxboron commented on #46
I found the example I had in my head but it turns out it's just the git signatures which makes it looks like the tag itself is valid, but it's the underlying commit object being signed by Github key.

Building from head the repository is correctly marked as failing the signature checks, but admittedly it's still bad that github makes it look like it's properly signed.

https://github.com/naggie/ds

[2020-11-17 06:53] coderpatros commented on #62
I think having at least two maintainers is more important than having two contributors.

[2020-11-17 07:37] coderpatros opened #74 "The score card should indicate when checks don't support a particular language/ecosystem"
There are some checks, like fuzzing, that are very specific to particular languages.

I think any score card should make clear when a particular check doesn't natively support a language or ecosystem.

As someone who is a consumer, and a maintainer, it would be good to know that a project didn't _really_ score zero on something. It's just that the check doesn't support that language/ecosystem vs t

[2020-11-17 15:30] dlorenc commented on #74
Thanks for the report! I think this is essentially what I was trying to capture with the "Confidence" field in the result - if we can't actually tell or if a check doesn't apply we return a low confidence score. That should be used to indicate the result should not be relied on.

Does that work, or do you think we need more info in the result?

[2020-11-18 12:15] JasonKeirstead commented on #62
I just fail to see what this has to do with cybersecurity specifically.

Picking a company name entirely randomly - If I compare a Microsoft-sponsored and highly-funded project on Github, and to another random project that is built by 4 or 5 individuals in their free time, why would one assume the second project is more secure?

I just don't see what this has to do with cybersecurity at all.

[2020-11-18 15:32] inferno-chromium commented on #74
Are you only concerned about fuzzing or can other checks apply to only specific languages ?

Note that fuzzing stuff is expanding to more languages, e.g. C/C++, Rust, Swift, Golang, and Python (coming soonish with https://github.com/google/atheris release)

[2020-11-18 15:34] inferno-chromium commented on #62
It is about trust, would you not put trust in this order when uptaking a new dependency.
random developer project < project maintained by one org < project maintained/contributed by 2+ orgs.

Also, we are open to your ideas. Given a developer account XYZ, how can you say this developer can be trusted, any thoughts there, maybe that can be a better check than this.

[2020-11-18 16:04] JasonKeirstead commented on #62
IMHO this is not an indicator of trust either way.

Again back to my previous example... why should I trust <random open source developed by 2 or 3 people I don't know>, vs <project with a dozen contributors sponsored by giant major well-known org> ?

Again I am *NOT* saying single-sourced projects by large orgs are more trustworthy, but they certainly aren't *LESS* trustworthy. I just don't see w

[2020-11-18 17:47] coderpatros commented on #74
Not fuzzing specifically. It is just a check I was using as an example.

The confidence metric probably does cover this. I just think it should be obvious that the project got a zero for something because the checks don't support the language vs they do support the language and it failed the check.

[2020-11-18 20:18] inferno-chromium commented on #40
For Google, a lot of repos live on googlesource.com, e.g. skia.googlesource.com, https://boringssl.googlesource.com/boringssl/ and they clone to github as well. Several results fail for them as they dont follow github processes like codereview, pull requests, etc.

[2020-11-23 17:16] kimsterv commented on #27
We could use https://github.com/ossf/criticality_score project and let user decide what value Y should be.

[2020-11-24 04:58] inferno-chromium opened #78 "Scorecard should provide details on fuzzing coverage in fuzzing check"
@htuch's suggestion.

[2020-11-24 14:53] inferno-chromium commented on #62
@htuch suggestion:

[code]

[2020-11-24 22:54] htuch commented on #78
I think it would be good to understand fuzzer health overall. So, coverage is a big part, but so is performance, whether issues get fixed, other efficacy metrics that OSS-fuzz emits. If there was a way to capture this in simple A/B/C grades or the like it would be very useful. CC @asraa

[2020-11-25 13:07] dlorenc commented on #46
Thanks! I also found this behavior surprising, and hard to distinguish in both the UI and API.

[2020-11-25 13:07] #46 closed

[2020-11-25 15:35] htuch opened #80 "Scorecard scalability limitation: Reduce GitHub API calls"
I've been running scorecard over ~40 Envoy dependencies a few times in the past hour and even using a personal access token for GitHub, I've hit the rate limit. I'm wondering what can be done to make this work better in scorecard. Suggestions:
* Profile GitHub API calls, determine the most costly, optimize to API alternatives. Share details on which are most expensive in public documentation.
* Ad

[2020-11-25 22:59] htuch commented on #62
I think our concern (based on experience) can be articulated as having a bus factor of 1 leaves you at heightened risk when it comes to decisions around vulnerability disclosure process and execution. E.g. let's say there is a zero day and the solo maintainer has gone AWOL, what can be done? I think there is a strong relationship between effective governance and effective security policy implement

[2020-11-26 09:18] coderpatros commented on #62
The risk is more than just vulnerability disclosure and execution. It could be as simple as you choosing a dependency that ends up abandoned. Then you end up needing to upgrade to a newer version of a language/runtime/framework/whatever, and realise you can't because an individual OSS maintainer has burnt out and hasn't continued maintaining it.

[2020-11-26 10:58] JasonKeirstead commented on #62
@coderpatros Agree, that's my point. This check is not checking maintainers, it is checking organizations. A repo from <large company> with 20 maintainers and 100 contributors gets a lower score than a repo with 2 hobbiest maintainers / contributors. To me it makes no sense from a security perspective.

[2020-11-26 15:55] dlorenc commented on #80
This is the approach we've taken so far. There's a cron that runs every day on ~100 projects and publishes the results in GCS/BigQuery.

I'd be happy to add the envoy deps into that list, it's here: https://github.com/ossf/scorecard/blob/main/cron/projects.txt

[2020-11-27 10:36] vosytniazhskyi opened #82 "security policy check"
You check only for "security.md" and "SECURITY.md" but Some project has "SECURITY.**MD**".

[2020-11-27 18:08] inferno-chromium commented on #82
Can you give some examples ?
Ideally it should be just SECURITY.md as per github docs - https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository

[2020-11-27 18:23] vosytniazhskyi commented on #82
Hello.
Last project that I've tested:
https://github.com/IdentityServer/IdentityServer4/security.md
https://api.github.com/repos/IdentityServer/IdentityServer4/contents/

 "name": "SECURITY.MD",
    "path": "SECURITY.MD"

If I change the list of strings for securityFile all works as expected.

for _, securityFile := range []string{"SECURITY.md", "security.md",
"SECURITY.MD"}

with best regards

Va

[2020-11-27 22:01] #82 closed

[2020-11-28 15:54] dlorenc commented on #80
Adding the envoy deps here: #84

[2020-11-30 23:54] inferno-chromium opened #86 "Make scorecard highly visible"
@kimsterv has several interesting ideas here.

[2020-11-30 23:55] inferno-chromium commented on #86
E.g. become part of security page on Github
https://github.com/ossf/scorecard/security
etc

[2020-12-03 20:01] mwarkentin commented on #30
A check that something like trufflehog (or other secret scanners) are running would be nice:

* https://github.com/dxa4481/truffleHog
* https://github.com/marketplace/actions/trufflehog-actions-scan

[2020-12-07 15:00] Lawouach opened #89 "Official downloadable releases?"
Hey all,

This projects looks really great. I was naively expecting to download an official release but I see none is being built/proposed. Any reason why? Feels a shame not benefit from on of the great golang asset ;)

[2020-12-08 06:33] inferno-chromium commented on #89
Just did https://github.com/ossf/scorecard/releases/tag/v1.0.0, can you try it out.

[2020-12-09 09:26] Lawouach commented on #89
Brilliant. Thank you will play with it indeed!

[2020-12-09 09:26] #89 closed

[2020-12-14 19:28] inferno-chromium opened #93 "Envoy fails on SAST check when it shouldn't"
tracking bug

[2020-12-15 18:30] #93 closed

[2020-12-19 22:55] moorereason opened #95 "Show negative results in details"
Howdy!  New here.  :wave: 🤠

While using scorecard to evaluate projects I contribute to, I found myself having to read (and patch) the checks code to understand why I was seeing failing or marginal results.  It would be very helpful to see negative results in the `--show-details` output instead of only positive results.  It makes it easier for newcomers like me to learn what is considered bad prac

[2020-12-19 23:27] inferno-chromium commented on #95
Love the idea, can you submit a PR for all checks!

[2020-12-20 04:22] moorereason opened #96 "Erroneous inconclusive CI-Tests result"
Given:

https://github.com/ossf/scorecard/blob/199161753d0a5c2b2832ea3126165261ca4ac86c/checks/ci_tests.go#L58-L59

Shouldn't that be `if totalMerged == 0`?

If we have 10 merged PRs and zero tests found for those PRs, that should not be an inconclusive result.  It should `Fail 10` not `Fail 0`.  Or am I missing something?

[2020-12-20 06:34] moorereason commented on #96
I think I see what's happening here.  `GithubStatuses` returns an inconclusive result if no tests passed because their may be passing results in `GithubCheckRuns`.  Hmm.  The `MultiCheck` makes resolving #95 more complicated.

[2020-12-20 20:07] naveensrinivasan opened #97 "Eat your own dog food"
Running the scorecard on the `scorecard repo` should succeed.
<details>
./scorecard --repo=https://github.com/ossf/scorecard
Starting [Active]
Starting [CI-Tests]
Starting [CII-Best-Practices]
Starting [Code-Review]
Starting [Contributors]
Starting [Frozen-Deps]
Starting [Fuzzing]
Starting [Pull-Requests]
Starting [SAST]
Starting [Security-Policy]
Starting [Signed-Releases]
Starting [Signed-Tags]

[2020-12-20 20:56] dlorenc commented on #96
Yeah, this is a tough case. It's hard to definitively prove a negative here, so I erred on the side of caution. I don't feel very strongly here either way, if you think something else makes more sense that's fine with me!

[2020-12-21 20:13] naveensrinivasan opened #99 "Fails when trailing slash is passed in the URL for the GitHub repository"
The code fails to fetch the repository information when there is a trailing slash in the URL.

[code]

[2020-12-22 14:29] naveensrinivasan commented on #99
Fixed by #100.

[2020-12-22 14:30] #99 closed

[2020-12-22 21:58] naveensrinivasan commented on #97
`codeql` check implemented #101

[2020-12-22 22:14] inferno-chromium commented on #97
Thanks to your fixes, new results. Although some of things are not applicable, crucial to this tool itself (e.g. fuzzing, CII best practices). Others like security policy will come in new year. And we will do another release signed with tags.

RESULTS
-------
Active: Pass 10
CI-Tests: Fail 9
CII-Best-Practices: Fail 10
Code-Review: Pass 10
Contributors: Fail 10
Frozen-Deps: Pass 10
Fuzzing: Fail 1

[2020-12-22 22:32] naveensrinivasan opened #107 "Signed-Tags checks fail on certain repositories"
Signed-Tags checks fail
[code]

[2020-12-23 05:19] #96 closed

[2020-12-24 21:28] inferno-chromium commented on #107
@naveensrinivasan - do you have ideas on a fix here ? Thanks for finding an example

[2020-12-24 21:59] naveensrinivasan commented on #107
I think I know what the problem is. I am on vacation and planning to do a PR start of the new year!

[2020-12-24 23:12] inferno-chromium commented on #107
Perfect, enjoy the holidays and merry christmas! see you in new year!

[2020-12-25 00:47] naveensrinivasan opened #110 "Sort the projects.txt"
https://github.com/ossf/scorecard/blob/main/cron/projects.txt

The projects.txt has to be sorted. It helps to identify the repository for anyone who wants do a PR to that file.

[2020-12-25 00:53] naveensrinivasan opened #111 "Publish Docker image"
Most of us would like to run a docker run , instead of pulling down the repo.

There is an existing dockerfile. The docker container has to be built and pushed into a registry.

[2020-12-25 00:54] naveensrinivasan commented on #111
@inferno-chromium how about pushing the docker containers into GitHub registry?

[2020-12-25 14:22] dlorenc commented on #111
Ah! I already have one publishing to gcr.io. I'll add some documentation about this.

[2020-12-28 18:17] scovetta opened #112 "Add details to the public data"
It would be great if the public data included the details (`--show-details`) as well as the pass/fail and confidence indicator. This would give consumers of those data files a bit more information when parsing them.

[2020-12-28 21:16] #112 closed

[2021-01-04 15:15] naveensrinivasan commented on #111
@dlorenc  Where do we want to publish the non-gsutil docker image https://github.com/ossf/scorecard/pull/114? Github?

[2021-01-04 15:34] naveensrinivasan commented on #111
This could be automated with goreleaser https://goreleaser.com/customization/docker/

[2021-01-05 17:20] david-a-wheeler opened #120 "Active != 90-day releases"
The current definition of "active" is:

* Did the project get any commits and releases in last 90 days?

I think this is a *terrible* definition. Many projects intentionally do not release every 90 days, nor do their users want that kind of churn.

Can we please change "and" to "or"? Or alternatively, remove "and releases" entirely?

[2021-01-05 17:22] david-a-wheeler opened #121 "Change Fuzzing measurement"
The current definition of "Fuzzing" is:

* Does the project use OSS-Fuzz?

I think the definition should be:

* Does the project use fuzzing to detect security vulnerabilities (e.g., by using OSS-Fuzz)?

If they do fuzzing some other way it should be fine. It may be harder to detect, but that's okay, that can be improved over time as long as the definition allows for it.

[2021-01-05 17:28] #121 closed

[2021-01-05 17:28] inferno-chromium commented on #121
Yes agree, fixed in docs.

[2021-01-05 17:31] inferno-chromium commented on #120
I think we mean EITHER commits OR releases. Should i fix that in docs or you want to get rid of releases completely. I think just commits should be sufficient, i am trying to remember why i added releases as well.

[2021-01-05 17:40] inferno-chromium commented on #120
removing releases.

[2021-01-05 18:31] #120 closed

[2021-01-07 19:41] inferno-chromium opened #126 "Need a security scorecard badge that people can include in their repos."

[2021-01-18 16:02] moorereason opened #135 "Panic in SASTToolInCheckRuns"
I ran into an odd issue today:

[code]
If I limit the checks to just SAST, I haven't seen it panic yet.  I added some debugging print statements [before the range loop](https://github.com/ossf/scorecard/blob/c00aa4b60682b482b9c85ec66bc27256b61a50ca/checks/sast.go#L54) to see what the github package is returning.  It looks something like this:

[code]
It would be easy to add a nil-check before acce

[2021-01-18 16:52] moorereason commented on #95
@inferno-chromium,
The only check I was planning to update is Code-Review, but it will require refactoring the multichecks to avoid lots of false-negative logging while trying to determine what kind of review workflow is in use (similar to #108).

[2021-01-18 19:01] naveensrinivasan commented on #135
I tried it and it didn't fail for me.
[code]

[2021-01-18 19:09] moorereason commented on #135
@naveensrinivasan,
How many times did you try it?  I forgot to mention that it's intermittent.

I also tried with go1.15.6, and it still panics.

[2021-01-18 19:19] naveensrinivasan commented on #135
You are right it fails when I try it within a loop. Thanks for that information 😄 .

[2021-01-18 21:11] #135 closed

[2021-01-26 00:04] naveensrinivasan opened #138 "Branch Protection are failing for some repositories"
The branch protection checks are working for this
[code]

It is failing for envoy repository.

[code]
 But where was this API is failing?
[code]

[2021-01-26 00:09] naveensrinivasan commented on #138
@inferno-chromium  I don't have a clue as to why this API is failing to return anything
[code]

[2021-01-26 00:20] naveensrinivasan commented on #138
Looks like the API is available only for Admins https://github.community/t/enable-branch-protection-get-api-without-admin/14197

[2021-01-26 00:24] inferno-chromium commented on #138
yes i guessed that. this is pretty sad, i guess we need some way to skip checks. like if we get 404, we return check skip. we have other skip cases which we dont implement atm, e.g. fuzzing with java should be skipped, etc.

[2021-01-26 00:25] naveensrinivasan commented on #138
OK, that makes sense. I will open a PR for it.

[2021-01-26 23:39] #138 closed

[2021-02-02 14:34] naveensrinivasan commented on #33
/assign

[2021-02-02 21:07] #33 closed

[2021-02-02 21:33] inferno-chromium commented on #9
@naveensrinivasan - is more work pending here, or is this ok to close ?

[2021-02-02 21:33] naveensrinivasan commented on #9
There are few things that are still pending.

[2021-02-08 17:54] naveensrinivasan opened #150 "Release schedule"
Need to define a release schedule. Between `v1.0.0` and the `master` there are quite a few commits.

[code]

[2021-02-08 17:55] naveensrinivasan commented on #150
@inferno-chromium  When do you think we should release? Do you already have some thoughts?

[2021-02-08 17:58] inferno-chromium commented on #150
Lets do one now, totally agree, just add a few release notes (4-5 bullet points) on high-level changes. E.g. we do like https://github.com/google/clusterfuzz/releases/tag/v2.0.2 , thoughts?

We can do a 1.1.0 and in future can release more often. wdyt

[2021-02-08 18:06] naveensrinivasan commented on #150
Sounds good. Right now the goreleaser is set to automatically release based on new `tags` with release notes.https://github.com/ossf/scorecard/pull/117, we could turn off the adding release notes and then manually add one.

Thoughts?

[2021-02-08 18:10] inferno-chromium commented on #150
Actually i like the automated version, forgot about this. Can you push a release then. In future, we can release often so that list is more readable.

[2021-02-08 18:12] naveensrinivasan commented on #150
I will push a tag `v1.1.0`

[2021-02-08 18:31] naveensrinivasan commented on #150
It was released https://github.com/ossf/scorecard/releases/tag/v1.1.0 , Thanks

[2021-02-08 18:31] #150 closed

[2021-02-08 19:38] naveensrinivasan opened #152 "Guidelines for scanning new projects"
There need to be guidelines for including projects that are scanned. Here is a PR for including repositories to be scanned #151

[2021-02-09 13:12] dlorenc commented on #152
For the most part we can scan whatever! If the list gets too long we'll need to better shard out the job, but I have no concerns yet unless we get to around 5x the size.

[2021-02-09 16:24] inferno-chromium commented on #152
+1, Goal is to scale this system infinitely, we shouldn't be saying no to any project.

[2021-02-09 18:39] naveensrinivasan commented on #152
Thanks

[2021-02-09 18:39] #152 closed

[2021-02-11 21:04] naveensrinivasan commented on #111
It is being published now to Github docker registry https://github.com/orgs/ossf/packages https://github.com/ossf/scorecard/pull/153

[2021-02-11 21:04] #111 closed

[2021-02-11 21:39] naveensrinivasan opened #162 "Update the cron job to use the latest dockerimage"
The cronjob that runs within `k8s` does not use the latest docker image `docker.pkg.github.com/ossf/scorecard/scorecard:latest`.

The cronjob should use the latest docker image.

[2021-02-12 17:52] naveensrinivasan commented on #107
The reason the tags aren't working for certain repositories is that because the Lightweight Tags vs Annotated Tags

https://api.github.com/repos/ossf/scorecard/git/refs/tags
[code]
Annotated tags

https://api.github.com/repos/kubernetes/kubernetes/git/refs/tags

[code]

The look for the tag fails because of there isn't a tag object but only a commit object.
https://api.github.com/repos/ossf/scorec

[2021-02-12 18:03] naveensrinivasan opened #165 "Create Security.md"
Create Security.md for reporting vulnerabilities.

[2021-02-12 18:17] naveensrinivasan commented on #7
I think the more practical would be "Do top 5/10contributors have 2FA enabled"?

[2021-02-12 19:24] inferno-chromium commented on #165
@annabellegoth2boss - can you share the security policy template you have been working on. We can check it in here for scorecard, plus can recommend it from security policy check as well.

[2021-02-12 19:26] #107 closed

[2021-02-13 19:53] #165 closed

[2021-02-14 02:47] naveensrinivasan opened #172 "Enable gosec for golangci-lint"
The present  [golangci-lint ](https://golangci-lint.run/) does not have [https://github.com/securego/gosec](https://github.com/securego/gosec) enabled.

Enable the `gosec` for the golangci-lint with config file.

Fix the gosec warning in the code by ignoring it, which is not an issue.

[code]

[2021-02-14 02:51] naveensrinivasan opened #173 "Fix golang-lint ci issues"
Enable golang-lint ci issues in the code based on this config.

[code]

[2021-02-14 03:00] naveensrinivasan opened #174 "Sign up for CII Best Practices"
Sign up for CII Best Practices.

https://bestpractices.coreinfrastructure.org/en

[2021-02-14 03:01] naveensrinivasan commented on #174
Needs to org level GitHub permission for CII to view the score card repo.

[2021-02-14 16:16] naveensrinivasan opened #175 "Fix the direct http call to get user org"
The code in the `contributors.go` uses the direct HTTP call `			url := fmt.Sprintf("https://api.github.com/users/%s/orgs", contrib.GetLogin())
` instead of the go API for github.

This call has to be replaced with a standard go GitHub api.

[2021-02-14 16:49] naveensrinivasan opened #176 "Use Circle CI for running e2e"
The GitHub PR's on forks cannot run e2e tests. How about using Circle CI for doing it? This will ensure all the PR's in the future even from forks have our e2e tests checked.

[2021-02-14 16:49] naveensrinivasan commented on #176
@inferno-chromium  @dlorenc  Thoughts?

[2021-02-14 18:26] naveensrinivasan opened #178 "🎱 Some ideas"
I put down some thoughts on scorecard features  https://hackmd.io/s/HyMn_08-u

[2021-02-14 18:27] naveensrinivasan commented on #178
I like hackmd makes the whole thing collaborative :)

[2021-02-14 18:27] naveensrinivasan commented on #178
@inferno-chromium Would appreciate your feedback and ideas on some of these.

[2021-02-14 18:47] naveensrinivasan opened #179 "New check - Use of tools that update deps like dependabot"
Check if the dependabot is turned on the repository. This helps to identify any vulnerabilities on the project's dependencies.

[2021-02-14 20:20] inferno-chromium commented on #178
Would love to chat over VC on this as well. Haven't been able to reach your email, my email is aarya,at,google,dot,com
Some work was planned, e.g. https://github.com/ossf/scorecard/pull/181

[2021-02-14 20:38] naveensrinivasan commented on #178
@inferno-chromium  Are you on the ossf slack?

[2021-02-15 00:37] naveensrinivasan commented on #176
@dlorenc Need permission at the org level to allow Circle CI. I have sent the request out.

[2021-02-15 01:29] dlorenc commented on #176
SGTM - it's really annoying we can't run tests from forks.

[2021-02-15 01:30] dlorenc commented on #176
Accepted the request.

[2021-02-15 01:31] naveensrinivasan commented on #176
Thank you!

[2021-02-15 01:33] naveensrinivasan commented on #176
![image](https://user-images.githubusercontent.com/172697/107896257-b78d2e00-6f03-11eb-8593-5fe7b90c153d.png)
I need permission to set up the project in Circle CI for Scorecard. Need `admin` permission https://app.circleci.com/projects/project-dashboard/github/ossf

[2021-02-16 11:24] endorama commented on #175
Happy to give this a go in the next days.

[2021-02-16 22:23] naveensrinivasan commented on #176
![image](https://user-images.githubusercontent.com/172697/108128941-7e77c980-707b-11eb-9d72-022835130b31.png)

It is not recommended for forks https://circleci.com/docs/2.0/oss/, 🤦  I should have read the docs before going through all of this.

[2021-02-17 22:05] inferno-chromium opened #193 "Integration with CI/CD and GitHub Code Scanning Results"
https://docs.github.com/en/github/finding-security-vulnerabilities-and-errors-in-your-code/uploading-a-sarif-file-to-github

[2021-02-17 22:26] naveensrinivasan commented on #193
That is a cool idea. Probably use Scorecard all the dependencies of the codebase and upload it.

[2021-02-17 22:27] inferno-chromium commented on #193
Can even just start with showing it for the repo itself. it wont block the CI, but just run on it. this github token limit might be pain.

[2021-02-17 23:02] naveensrinivasan commented on #193
For this, we need to export the results from the scorecard to `sarif` format and after that, it coming up with a `Github action`, I think.

[2021-02-18 18:03] #176 closed

[2021-02-18 18:10] naveensrinivasan commented on #97
With the https://github.com/ossf/scorecard/releases/tag/v1.1.1 release expect `CII-Best-Practices` and `Fuzzing` everything else is implemented. So closing this one.
[code]

[2021-02-18 18:10] #97 closed

[2021-02-18 18:39] naveensrinivasan commented on #80
GitHub API supports conditional requests https://docs.github.com/en/rest/overview/resources-in-the-rest-api#conditional-requests

Making a conditional request and receiving a 304 response does not count against your Rate Limit, so we encourage you to use it whenever possible.

https://github.com/google/go-github supports Conditional requests https://github.com/google/go-github#conditional-requests

[2021-02-19 13:23] #172 closed

[2021-02-19 20:59] noncombatant opened #200 "Include info about the ratio of memory-unsafe to memory-safe code"
Something like 2/3rds of vulnerabilities in common software are due to memory unsafety. (See e.g. https://alexgaynor.net/2020/may/27/science-on-memory-unsafety-and-security/)

It'd be cool if Scorecard would score dependencies on how much safe/unsafe code they have.

For example, https://github.com/rust-secure-code/cargo-geiger does this for Rust.

[2021-02-19 21:13] kimsterv opened #201 "Investigate why "active" check is failing for Gensim and fix the check"
Scorecards is returning "Active: Fail 10" for https://github.com/RaRe-Technologies/gensim but the project is active.

[2021-02-19 22:22] naveensrinivasan commented on #201
It isn't failing on`main`
[code]
    Docker run
[code]

[2021-02-20 17:55] naveensrinivasan commented on #80
A visual representation of the proposed solution.

![image](https://user-images.githubusercontent.com/172697/108604202-6d300500-737a-11eb-86e5-b7ecfc08e85d.png)

1. `k8s cron job` runs on a schedule.
2. Initial run fetches information using `httpcache` as a middleware, which caches the HTTP response initially in a large disk (PVC), probably move to Redis later as a cache instead of disk.
3. Subseq

[2021-02-21 01:54] naveensrinivasan opened #202 "Reducing GitHub API calls to scale scanning repositories"
The GitHub API calls are throttled which makes it hard to scale the number of repositories to scan and provide results.

The code would have to wait for tens of minutes before continuing
`{"level":"warn","ts":1613869247.8747272,"caller":"roundtripper/roundtripper.go:139","msg":"Rate limit exceeded. Waiting 44m34.125286853s to retry..."}`

### Scorecard checks for these don't need GitHub API, it re

[2021-02-21 02:48] naveensrinivasan commented on #202
Also, this approach could be used to Scan not GitHub repositories like `Gitlab` which helps one API irrespective of the provider.

[2021-02-21 03:43] inferno-chromium commented on #202
Cloning might be too heavy weight for some big repos, and slow too.

Maybe lets start with httpcache first. We can also scale the number of github tokens. right now, we have 2, we can easily go into 4-5 (seperated with comma).

[2021-02-21 03:55] naveensrinivasan commented on #202
Cloning can be async as another cron job and it is a one-time effort. Cloning should not be run as part of scorecard , probably give an additional option to look at a location for cached git repo's if not fetch them from GitHub.com.

[2021-02-21 04:09] inferno-chromium commented on #202
Makes sense.

[2021-02-21 13:43] dlorenc commented on #80
Awesome! What would the cache keys be? URLs?

[2021-02-21 13:56] naveensrinivasan commented on #80
Here it is.
https://github.com/gregjones/httpcache/blob/901d90724c7919163f472a9812253fb26761123d/httpcache.go#L42

[2021-02-21 14:45] naveensrinivasan opened #204 "Upgrade go to 1.16"
Upgrade go version to 1.16 https://blog.golang.org/go1.16

[2021-02-21 14:52] naveensrinivasan opened #205 "Move to more reliable and scalable caching solution"
The #203 caching solution uses disk does not have LRU and TTL. The cache on a disk is a bottleneck for using Scorecard with an HTTP endpoint.

The possible solutions are something like Redis which has the above capabilities.

[2021-02-21 15:07] naveensrinivasan opened #206 "Implement abuse detection in GitHub API requests"
The GitHub API would return `403` if there are too many requests for example `cron` running for a bunch of `repositories`

[code]

Probably implement this solution
https://github.com/google/go-github/issues/431#issuecomment-427844348
https://github.com/hashicorp/terraform-provider-github/blob/fa73654b66e37b1fd8d886141d9c2974e24ba42f/github/transport.go#L42-L109 and it also has [tests](https://gith

[2021-02-21 15:43] inferno-chromium commented on #204
Just fyi, https://blog.golang.org/go116-module-changes

[2021-02-21 15:48] naveensrinivasan commented on #204
Yes, Thanks for the heads up.

[2021-02-23 11:48] norppaturva opened #212 "Usage of scorecard with docker - documentation incomplete"
Is it possible to have a bit more information in the readme on how to run scorecard from docker, please?

I have pulled the package (docker pull docker.pkg.github.com/ossf/scorecard/scorecard) and then started the container (docker run -d --name scorecard docker.pkg.github.com/ossf/scorecard/scorecard) however, when I am trying to execute the scorecard with this command: docker exec -it scorecard

[2021-02-23 12:46] vin01 commented on #179
Perhaps this should be a general category for automatic dependency updates, also supporting popular tools like Renovate for dependency updates: https://github.com/renovatebot/renovate

[2021-02-23 14:33] naveensrinivasan commented on #212
@norppaturva  Can you try with this command?
`docker run -e GITHUB_AUTH_TOKEN=token docker.pkg.github.com/ossf/scorecard/scorecard  --show-details  --repo=https://github.com/ossf/scorecard`

To the above docker container, you should be able to pass the standard command-line arguments.

The docker container does not have a bash.

[2021-02-23 15:47] #212 closed

[2021-02-23 18:52] norppaturva commented on #212
Thank you so much for a fast reply, this finally works!

[2021-02-24 16:20] naveensrinivasan opened #217 "Enable docker build check as part of CI"
The docker build and tests are not part of CI. Enable the check for docker build and tests.

[2021-02-24 17:12] naveensrinivasan opened #218 "Publishing Scorecard data"
The cron runs the scorecard data for multiple repositories and it is published via the GCS bucket `gs://ossf-scorecards/`. It would be easier to consume this data if it can be published into BigQuery and CDN.

[2021-02-24 17:16] naveensrinivasan commented on #218
For example, a use case would be to run scorecard on envoy dependencies and publish it via BigQuery so that the Envoy team can write a query and use this to make decisions on their dependencies.  It is much easier to write queries and it also gives the team how their dependencies are progressing over time by just including the date filter via the query.

[2021-02-24 18:14] inferno-chromium commented on #218
Yes definitely agree, we should publish in bigquery. GCS one is just for easy debugging and in case, people just want to pull the database in one big chunk.

[2021-02-25 04:40] naveensrinivasan commented on #205
#215

[2021-02-25 04:40] #205 closed

[2021-02-26 00:20] naveensrinivasan opened #221 "Reducing GitHub API calls in security policy check"
The check for security policy code  https://github.com/ossf/scorecard/blob/main/checks/security_policy.go#L31-L47 could potentially use `16` API calls.

This can be reduced to `1` call by using downloading the archive of the repository and checking for the files locally, similar to this https://github.com/ossf/scorecard/blob/main/checks/frozen_deps.go#L37-L46

[2021-02-26 02:55] #221 closed

[2021-02-26 15:36] naveensrinivasan opened #223 "Enable signed commits for this repository"
Enable signed commits for all the commits to this repository.

![image](https://user-images.githubusercontent.com/172697/109320109-a86c8100-781d-11eb-9b9e-e3f9e382253e.png)

### Why Sign Git Commits
As useful as signing packages and ISOs is, an even more important use of GPG signing is in signing Git commits. When you sign a Git commit, you can prove that the code you submitted came from you and w

[2021-02-26 18:07] naveensrinivasan commented on #223
@inferno-chromium  @dlorenc  Your thoughts /opinions?

I understand this could potentially reduce the number of people who would like to contribute to this repository, but it is educating the community to do the right stuff.

It is similar to 2FA for GitHub Authentication for Org members.

[2021-02-26 23:54] naveensrinivasan commented on #201
Closing it as it not an issue.

[2021-02-26 23:54] #201 closed

[2021-02-27 00:59] naveensrinivasan commented on #217
Closing it https://github.com/ossf/scorecard/pull/219

[2021-02-27 00:59] #217 closed

[2021-02-27 06:59] #110 closed

[2021-02-28 02:55] inferno-chromium commented on #223
We were thinking of breaking the checks in tiers, like starting the devs with fixing tier 1 checks, then tier 2, tier3. Having this as part of branch protection check seems better since fixing that check is a cultural shift in day-to-day developer workflow anyway, so we can add all these recommendations there. Thoughts ?

[2021-02-28 12:56] naveensrinivasan commented on #223
I agree with your thoughts on doing as tiers. It would help devs to view this as not all or nothing which is a hard sell.

I was referring to just enabling signed commits just for `Scorecard`  https://github.com/ossf/scorecard/  repository alone. So that we can practice what we recommend to the rest of the community and also it gives us the confidence as to the commits haven't tampered.

[2021-03-01 17:44] naveensrinivasan commented on #80
This should reduce the GitHub API usage https://github.com/ossf/scorecard/pull/227

[2021-03-02 00:24] #175 closed

[2021-03-03 19:05] naveensrinivasan opened #234 "Enable metrics for Scorecard"
## Metrics

The Scorecard utilizes the [go-github](https://github.com/google/go-github/) for interacting with GitHub APIs. These APIs have https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting.

This rate-limiting information is within Scorecard. If this rate limiting is exposed as a metric, routing request decisions to scorecard HTTP servers would be better.

For exampl

[2021-03-04 14:55] naveensrinivasan opened #237 "BUG - All source code should have copyright header"
**Describe the bug**
Some of the source code has
[code]

while some of them don't

**Expected behavior**
A clear and concise description of what you expected to happen.
All the source code needs to have this additional header.

**Additional context**
Add any other context about the problem here.
This should be an automated test that should be part of the build.

[2021-03-04 20:27] naveensrinivasan opened #239 "Feature - Implement io writer/reader for the cache"
**Is your feature request related to a problem? Please describe.**
The gitcache does not utilize io writer and reader for writing and reading files. This is a performance issue.

_Originally posted by @oliverchang in https://github.com/ossf/scorecard/pull/231#discussion_r586081091_

**Describe the solution you'd like**
Use a tar/gz library/code that has the writer and reader with symlinks.

[2021-03-05 00:21] naveensrinivasan commented on #204
Fixed by #233

[2021-03-05 00:21] #204 closed

[2021-03-05 15:52] naveensrinivasan opened #243 "BUG - cron docker build is failing"
**Describe the bug**
The docker build for https://github.com/ossf/scorecard/blob/main/cron/Dockerfile is failing.

**Reproduction steps**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-03-05 17:55] naveensrinivasan opened #245 "Feature - use make targets inside the docker builds"
**Is your feature request related to a problem? Please describe.**
The docker builds use `go build` inside the docker files. Change that to use `make build`.

**Describe the solution you'd like**
Docker file uses `RUN --mount=type=cache,target=/root/.cache/go-build  CGO_ENABLED=0 go build -a -tags netgo -ldflags '-w -extldflags "-static"' -o /out/scorecard .` for compiling the binary.

Instead, us

[2021-03-05 18:14] #162 closed

[2021-03-05 18:14] #243 closed

[2021-03-05 18:51] inferno-chromium opened #246 "Panic in cron when running branch protection check."
**Describe the bug**
2021-03-02 17:13:54.478 PSTpanic: runtime error: invalid memory address or nil pointer dereference [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x80e988] goroutine 20 [running]: github.com/ossf/scorecard/checks.BranchProtection(0xab5100, 0xc00009c000, 0xc0000d2420, 0xc0000ae0d0, 0xc000097560, 0xc00009a0d3, 0x7, 0xc00009a0db, 0x7, 0xc000093390, ...) /go/src/gith

[2021-03-05 18:59] naveensrinivasan commented on #246
The latest master does not seem to have issues.
[code]

[2021-03-05 19:00] naveensrinivasan commented on #246
Let's keep this open for now.

[2021-03-05 19:10] naveensrinivasan opened #247 "Feature - Implement monitoring of the cron job."
**Is your feature request related to a problem? Please describe.**
The scorecard cron runs twice a week. Need to implement monitoring of this cron job for success and failures.

**Describe the solution you'd like**
An alert when the job isn't running and producing the necessary output.

[2021-03-07 21:51] naveensrinivasan opened #252 "BUG - Cron container for scorecard is missing the cron.sh"
**Describe the bug**
The latest cron run log
[code]
**Reproduction steps**
This is the log from cron.

**Expected behavior**
Cron should work

**Additional context**
Add any other context about the problem here.

[2021-03-10 02:48] naveensrinivasan opened #261 "Feature - Update the cron job to use blob cache"
**Is your feature request related to a problem? Please describe.**
The corn job does not use the blob cache for caching results.

**Describe the solution you'd like**
Update the cronjob to use the blob cache for scaling subsequent runs.

**Describe alternatives you've considered**
None
**Additional context**
None

[2021-03-10 02:50] naveensrinivasan opened #262 "Feature - Update the number of tokens used in cronjob"
**Is your feature request related to a problem? Please describe.**
Increase the number of tokens used in the cron job to reduce the time spent on fetching the data.
**Describe the solution you'd like**
Get a few personal access tokens for GitHub and update them in the secrets to increase the throughput of fetching scorecard data from the GitHub API.

**Describe alternatives you've considered**
Non

[2021-03-10 16:01] #252 closed

[2021-03-10 17:33] naveensrinivasan commented on #261
Fixed #264

[2021-03-10 17:33] #261 closed

[2021-03-11 14:19] naveensrinivasan opened #265 "BUG - scorecard cron evicted low on memory."
**Describe the bug**
The scorecard `cron` job is evicted because the node was low on memory. The existing `cron` job didn't use the `blobcahe` and was using an in-memory cache.
[code]

**Expected behavior**
- The fix for this would be is to use `blobcache` which was merged in #261.
- Set the max memory for scorecard as it is not supposed to be using a large chunk of memory when using blobcache.

[2021-03-11 14:19] naveensrinivasan commented on #265
@inferno-chromium  FYI...

[2021-03-11 14:48] naveensrinivasan commented on #265
Updated the `cron` job to use the `blobcache`

![image](https://user-images.githubusercontent.com/172697/110805009-b6bf9180-824e-11eb-8682-1ea4d926ee2c.png)

[2021-03-11 14:48] naveensrinivasan commented on #262
Increase the number of tokens from `2` to `4`.

[2021-03-11 15:52] naveensrinivasan commented on #265
The pods are getting terminated even with USE_BLOB_CACHE. The scorecard is using about 1.7GB of memory, which is a memory leak.

[code]

[2021-03-11 16:04] naveensrinivasan commented on #265
@inferno-chromium  We have a couple of options for this
1. Short-term fix - Change the node-type to be of Higher memory and run `scorecard` so that we can get scorecard `cron` results. The last result we have is from Feb 16, 2021. This will get us results that can be consumed by our consumers. This does not involve much effort other than changing the node type k8s.

2. Long-term fix - Figure out t

[2021-03-11 16:07] inferno-chromium commented on #265
Yes just use 1 forever, we can have any memory size instance as you want. can you fix instance type in cron.yaml or whereever?

[2021-03-11 16:09] naveensrinivasan commented on #265
I don't have permission to create a different node type. I would have to get help from @dlorenc to help with this.

[2021-03-11 16:15] dlorenc commented on #265
This might be easier - it doesn't look like it's using much memory:

[code]

1785720Ki is

You might have to set a limit/request on the pod in the cron.

[2021-03-11 16:21] naveensrinivasan commented on #265
I agree , I could set a higher resource limit on the pod. But the pod was already using `1.8` GB of memory. I don't know if it is going to go way over and what that number would be.

The nodes default is `2.8`GB

If I set the pod max to be `2.0`Gb then the pod is going to being `oom` killed, which we don't want now in the short-term.

If I set the pod mem max `4.0` Gb then it would not be schedule

[2021-03-11 18:02] naveensrinivasan commented on #265
The pods are getting `oom` killed with `pod` presets for `1Gb` memory.
[code]

[code]

[2021-03-11 18:15] naveensrinivasan opened #269 "BUG - cron job latest.json is not wellformed"
**Describe the bug**
The `cron` job produces https://storage.googleapis.com/ossf-scorecards/latest.json which is not wellformed `json`

**Expected behavior**
The json should be wellformed.

[2021-03-12 02:58] #269 closed

[2021-03-12 15:00] naveensrinivasan opened #271 "Feature Scorecard badges"
**Is your feature request related to a problem? Please describe.**
Scorecard should provide a badge for repositories to include in their README to display their compliance.

# Scorecard badges

The scorecard should provide badges similar to other https://github.com/badges/shields OSS badges for compliance.

## Goals

* Scorecard should provide badge results based on scorecard runs on the (cron)ser

[2021-03-12 15:01] naveensrinivasan commented on #271
@inferno-chromium   What are your thoughts on this?

[2021-03-13 14:32] naveensrinivasan commented on #265
![image](https://user-images.githubusercontent.com/172697/111033386-fe752300-83de-11eb-8e84-1b88ca107efe.png)

Fails with this repo github.com/ApolloAuto/apollo , thanks @dlorenc for the tip.

[2021-03-15 01:50] #265 closed

[2021-03-15 02:12] inferno-chromium opened #277 "Add documentation on cron deployment, updates"
**Is your feature request related to a problem? Please describe.**
Currently there is no documentation on updating daily-score, gitcache* crons in OpenSSF project

**Describe the solution you'd like**
Add documentation on how to update crons, probably also add link to stackdriver logs to see failures.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2021-03-15 02:14] inferno-chromium commented on #277
This should probably be a section in https://github.com/ossf/scorecard/blob/main/CONTRIBUTING.md

[2021-03-15 17:58] #277 closed

[2021-03-16 17:06] inferno-chromium opened #280 "GitHub token switching is not working in Cron"
**Describe the bug**
Frequent running on rate limit exceeded

**Reproduction steps**
https://console.cloud.google.com/logs/viewer?src=ac&project=openssf&minLogLevel=0&expandAll=false&timestamp=2021-03-16T16:19:32.553000000Z&customFacets=&limitCustomFacetWidth=true&advancedFilter=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22openssf%22%0Aresource.labels.location%3D%22us-cent

[2021-03-16 17:10] naveensrinivasan commented on #280
Yes, we are. I have been looking at it also. I will take another look. We have 4 tokens now, we are trying to 2280 GitHub Repo's and with each repo, there is N number of calls.

[2021-03-16 17:13] inferno-chromium commented on #280
I increased to 6 last night.

i feel we process very few repos before we re-hit the rate limit.
e.g.
2021-03-16T16:17:53.002037571Z {"msg":"Rate limit exceeded. Retrying...","caller":"roundtripper/roundtripper.go:171","ts":1615911473.0013971,"level":"warn"} E
2021-03-16T16:17:53.002031954Z {"caller":"roundtripper/roundtripper.go:171","level":"warn","msg":"Rate limit exceeded. Retrying...","ts":161

[2021-03-16 17:14] naveensrinivasan commented on #280
I will do a PR  which will hash the token and dump it into the log we're using into the log statement when it hits the rate limit. This will help us identify the number of tokens from the log.

[2021-03-16 17:14] naveensrinivasan commented on #280
I agree. We would have to look into this.

[2021-03-16 17:15] naveensrinivasan commented on #280
I will investigate and post the updates.

[2021-03-16 17:23] inferno-chromium commented on #280
or even dump the index of token in list :)

[2021-03-16 18:10] naveensrinivasan commented on #280
There is a problem

[code]

It is always using only `1` token
`{"level":"info","ts":1615918078.7519577,"caller":"roundtripper/roundtripper.go:62","msg":"using token 1 and the len of the tokens are 2"}`

[2021-03-16 18:49] naveensrinivasan commented on #280
## Token roundrobin

The GitHub tokens are supposed to be roundrobinned across multiple tokens.

From the investigation, it doesn't look like it is doing that.

Here is the stack trace of token `Token` function

[code]

The `Token` func (which supplies the token)  https://github.com/ossf/scorecard/blob/main/roundtripper/roundtripper.go#L58 is being called by

[code]

https://github.com/golang/oaut

[2021-03-16 19:01] naveensrinivasan commented on #280
We will have to come up with a strategy to use multiple tokens

[2021-03-16 19:35] inferno-chromium commented on #280
yes right, another token is not used, and also it sleeps for a long time after rate limit is reached with one token (rather than trying another token).

[2021-03-16 19:37] naveensrinivasan commented on #280
There isn't a provision to use another token because the oauth2 token source

[2021-03-16 19:50] naveensrinivasan commented on #280
The reason for another token is not being used because the token isn't expiring.

https://github.com/golang/oauth2/blob/cd4f82c27b84ec2516d3c38a5b5acaf8823e2702/token.go#L126

GitHub oauth2 tokens don't have time-based expiration. So that is the reason it doesn't refresh to new tokens.

AFAIK we would need multiple processes handling requests to solve this. I don't see any other way to solve this.

[2021-03-16 19:59] naveensrinivasan commented on #280
I was able to reproduce this easily.

[code]

[2021-03-17 12:48] naveensrinivasan opened #283 "Feature - Implement Ratelimit check for GitHub GraphQL"
**Is your feature request related to a problem? Please describe.**
The present  rate limit check does not check for GraphQL API Limits

**Describe the solution you'd like**
Implement a Ratelimit check for GraphQL API https://docs.github.com/en/rest/reference/rate-limit

[2021-03-17 15:02] inferno-chromium commented on #280
We can cause the tokens to expire using

        return &oauth2.Token{
                AccessToken: r.AccessTokens[index],
+               Expiry: time.Now().Add(time.Second),  // Expire to iterate b/w tokens.
        }, nil

and remove the sleep when rate limit happens to let it iterate

        if remaining <= 0 {
-               reset, err := strconv.Atoi(resp.Header.Get("X-RateLimit-Reset"))
-

[2021-03-17 15:18] naveensrinivasan commented on #280
The goal is to come up with a Producer/Consumer pattern that will calculate the next best token to use and if all the tokens are out of their API limit and then block.

[code]

Ideally, this should work. I would like to spend some time trying this. I will make a detailed write-up with some implementation.

[2021-03-17 15:24] inferno-chromium commented on #280
Thanks!

[2021-03-17 20:22] naveensrinivasan commented on #280
[code]

I think we might have a solution.

Here is an example it is switching across multiple tokens.
[code]
@inferno-chromium FYI...

[2021-03-17 21:41] #280 closed

[2021-03-18 14:00] naveensrinivasan opened #287 "Feature - Add metadata for Envoy dependencies to scorecard"
**Is your feature request related to a problem? Please describe.**
Now that scorecard is able to scan 2000+ repositories https://storage.googleapis.com/ossf-scorecards/latest.json it would help to add metadata to these scans easily identify the envoy's dependencies using the `--metadata` feature in the scorecard command line.

**Describe the solution you'd like**
- Identify the dependencies for th

[2021-03-18 14:09] naveensrinivasan commented on #287
@htuch We are trying to scan all of Envoy's dependencies and add metadata to the results using the `metadata` which can be passed in the command line.

`./scorecard  --repo=https://github.com/ossf/scorecard --metadata=project=openssf,critical=true --format json`

[code]

Where can we look for `envoy` dependencies?

cc @inferno-chromium @dlorenc

[2021-03-18 14:22] naveensrinivasan commented on #262
It is `6` now

[2021-03-18 15:01] inferno-chromium commented on #287
@asraa - can you help adding those in https://github.com/ossf/scorecard/blob/main/cron/projects.txt

[2021-03-18 15:18] asraa commented on #287
Envoy's deps are specified in the maps in https://github.com/envoyproxy/envoy/blob/main/bazel/repository_locations.bzl (and it's API deps in https://github.com/envoyproxy/envoy/blob/main/api/bazel/repository_locations.bzl).

What happened to this PR btw? https://github.com/ossf/scorecard/commit/338f9a0874a80a3ae7ca8751bf7350cb6935fee9#diff-6060899d2f700782c4e9cb8d515f0ba2a310ebcbfa14f41ed9471f98d1

[2021-03-18 15:21] naveensrinivasan commented on #287
Sorry, they got blown off by the other commit.

Would appreciate a script, so that we can run them on schedule.

[2021-03-18 16:01] asraa commented on #287
Sorry, last follow-up question. Would a python script be OK? I can hack one together fairly easily, we already have the tools to do so when we manually get scorecards for each of our deps
https://github.com/envoyproxy/envoy/blob/2c8f6639ba2fc1b83af5c95115045fb8b1b9fc88/tools/dependency/ossf_scorecard.py#L65

[2021-03-18 17:48] naveensrinivasan commented on #287
Python should be good. I would prefer go , the rest of the code base in go.

[2021-03-18 18:28] naveensrinivasan commented on #287
I am so sorry, is it possible to do it go? I can help if you need some.

[2021-03-18 18:51] naveensrinivasan opened #288 "Feature - Implement metric based Algorithm for choosing the GitHub Token"
**Is your feature request related to a problem? Please describe.**
Right now when there are multiple tokens available for scorecard. It uses the RoundRobin approach in choosing the GitHub token.

**Describe the solution you'd like**
Build a Producer/Consumer approach where the token provider uses the GitHub API to determine the token that could be used by using `X-RateLimit-Remaining`and `X-RateLi

[2021-03-18 21:07] asraa commented on #287
I'll give it a first stab and put out a PR, would appreciate review help!
I think the earliest I can get it out will be Monday if that's OK

[2021-03-18 21:38] naveensrinivasan commented on #287
Thank you! That works.

[2021-03-18 21:50] naveensrinivasan opened #289 "Feature - provide a way for other OSS projects to include their dependencies to be tracked in scorecard"
**Is your feature request related to a problem? Please describe.**
Similar to #287, there should a standard way to parse the dependencies for critical projects add them to `dailyscore` cron job along with metadata.

For example - scorecard cronjob should help track dependencies for critical projects like kubernetes https://twitter.com/spiffxp/status/1371240897531236354

Instead of scorecard doing

[2021-03-18 21:50] naveensrinivasan commented on #289
@inferno-chromium Thoughts?

[2021-03-18 23:43] naveensrinivasan commented on #246
Not happening now. Closing it for now.

[2021-03-18 23:43] #246 closed

[2021-03-19 02:57] htuch commented on #287
I think if the script is living in OSSF tooling it makes sense for it to be Go, if it lives in Envoy repo, best that it be Python, since most of our other dep tooling is Python based and the dependency shepherds are working with that.

[2021-03-19 02:59] inferno-chromium commented on #287
Static list is fine for now, since later we will have some dependency calculation logic project in near future.

[2021-03-19 04:56] inferno-chromium commented on #289
@naveensrinivasan - this is very go centric, what about other languages like python, etc

There is some work at Google to better evaluate dependency tree structure (@robpike). I recommend waiting on that instead of this.

[2021-03-19 11:25] naveensrinivasan commented on #289
@inferno-chromium the initial was only for go. But later expand it to other languages

[2021-03-19 12:56] asraa commented on #287
Added a static list for now! Will work on automating soon.

[2021-03-19 13:34] naveensrinivasan commented on #287
Thanks

[2021-03-20 13:00] naveensrinivasan commented on #289
When does Google likely to have the solution for dependency tree structure?  Based on the timeline we could decide to go one way or the other?

[2021-03-20 13:07] naveensrinivasan opened #294 "Feature - Extract the Roundtripper into a separate repository"
**Is your feature request related to a problem? Please describe.**
Extract Roundtripper into a separate Git  repository
https://github.com/ossf/scorecard/blob/ba42e1ab7bd2850d01a2f17b53fc44f420103f41/roundtripper/roundtripper.go#L15

The roundtripper provides
- Use of Multiple GitHub token using RoundRobin, the next better approach is to use metrics based #288
-  HTTP Caching

These features aren'

[2021-03-20 13:08] naveensrinivasan commented on #294
@inferno-chromium  Thoughts?

[2021-03-20 15:26] inferno-chromium commented on #294
Sure, that is fine, but where can we host this?

[2021-03-20 15:26] inferno-chromium commented on #294
If we add gitlab and other source code systems, then definitely a very nice thing to have in its own repo.

[2021-03-20 15:30] inferno-chromium commented on #289
No clue, but i think we have lot of other important things to work on (e.g. scaling, more checks, etc).

[2021-03-20 15:49] naveensrinivasan commented on #289
Ok. Let’s keep in the backlog.

[2021-03-20 15:50] naveensrinivasan commented on #294
With OSSF or another org.

[2021-03-20 16:56] dlorenc commented on #294
I can make a repo in ossf if you want. Could you get it staged somewhere else first though - then we can copy it over here, rather than starting with an empty repo here?

[2021-03-20 23:58] dlorenc opened #295 "Cron stopped importing into BQ"
The cron stopped importing in biquery:
![image](https://user-images.githubusercontent.com/1714486/111888839-3582a000-89ae-11eb-9cd2-436a3415a0aa.png)

There's a way to debut this but I forget how right now, you need to use gcloud with the job ids to search for the errors. Opening this bug to track that so I don't forget.

[2021-03-21 01:29] naveensrinivasan commented on #294
Why not clone this to a new repo like we did for feeds and analysis ?

[2021-03-21 01:31] naveensrinivasan commented on #295
Wow! Is the Bug query open for everyone? We should fix this and add it to the readme.

[2021-03-21 11:44] dlorenc commented on #295
Yup! It should be publicly readable. It's just an automated import from the GCS bucket.

[2021-03-22 05:58] inferno-chromium commented on #126
Tracked in https://github.com/ossf/scorecard/issues/271, closing this one.

[2021-03-22 05:58] #126 closed

[2021-03-22 06:12] inferno-chromium opened #298 "New Check: Add Sigstore, other tools use check for signed tags, releases"
**Describe the bug**
Currently signed tags and releases check don't detect use of signing tools like Sigstore.

**Reproduction steps**
Signed releases using sigstore are not detected.

**Expected behavior**
Signed releases using sigstore should be detected.

**Additional context**
Add any other context about the problem here.

[2021-03-22 21:20] naveensrinivasan commented on #288
This is a priority for scaling the repository that has to be scanned. The default round-robin might be good enough.

[2021-03-23 15:55] inferno-chromium commented on #30
Some examples from Google VRP program, see here - https://docs.google.com/document/d/10GWKW55YD6ZmHcJmQ2ZFu7jv75zyasHvx2O3yyRrfDI/edit

[2021-03-23 17:50] naveensrinivasan commented on #30
Don't have access to the doc.

[2021-03-24 16:53] naveensrinivasan opened #304 "Feature - Provide Remediation in results"
**Is your feature request related to a problem? Please describe.**
Provide description and remediation in the results. Related to #63
This is also required for https://github.com/ossf/scorecard/issues/193

- [ ] Active
- [ ] Branch-Protection
- [ ] CI-Tests,CII-Best-Practices
- [ ] Code-Review,Contributors
- [ ] Frozen-Deps,Fuzzing
- [ ] Packaging
- [ ] Pull-Requests
- [ ] SAST
- [ ] Security-Poli

[2021-03-24 16:53] naveensrinivasan commented on #63
closing this to track it via #304

[2021-03-24 16:53] #63 closed

[2021-03-25 13:01] naveensrinivasan opened #307 "Feature - Bi-Weekly call"
**Is your feature request related to a problem?

With lots of upcoming features have a bi-weekly call will help define drive the project to success.

[2021-03-25 13:02] naveensrinivasan commented on #307
@inferno-chromium Thougths

[2021-03-25 14:41] inferno-chromium commented on #307
SGTM, @azeemshaikh38 was already thinking to set up a call.

[2021-03-25 14:53] naveensrinivasan commented on #307
Sounds good. Let’s keep this open till we have calendar set up.

[2021-03-25 15:39] naveensrinivasan opened #308 "Feature - Define Governance"
**Is your feature request related to a problem?

We need to define governance.

- How does one become a commiter?

- How does one become a owner?
- How does one become an approver ?

This will help new contributors understand the policies

ref: https://github.com/ossf/scorecard/issues/1553

[2021-03-25 18:51] azeemshaikh38 commented on #307
Assigning to myself for now. Will try and setup a call.

[2021-03-26 14:05] naveensrinivasan opened #309 "Feature - Sign scorecard container with cosign"
**Is your feature request related to a problem? Please describe.**
Sign scorecard containers with [cosign](https://github.com/sigstore/cosign)

[2021-03-29 03:05] naveensrinivasan opened #310 "BUG - dailyscore cronjob is down"
**Describe the bug**
The dailyscore cronjob is down.

![image](https://user-images.githubusercontent.com/172697/112781964-e1189980-9019-11eb-8388-9fa858a9de66.png)

**Additional context**
Part of the fix should include an integration test for cronjob to avoid this in the future PR's.

[2021-03-30 00:23] oliverchang opened #311 "Provide canonical descriptions for each checker"
Currently in the latest.json, we provide details of each check but there is no canonical description string for each checker.

A canonical description can be useful for consumers to show in their own UI or other tooling.

Perhaps we can add this as a top level "checkers" field to the existing JSON which maps a Check name to a description?

[2021-03-30 03:16] oliverchang commented on #311
oh wait, I see we already have a pull request for this: https://github.com/ossf/scorecard/pull/305 to discuss this.

[2021-03-30 04:06] oliverchang commented on #310
I just did a `kubectl apply -f cron.yaml` and it looks like this is running again.

[2021-03-30 04:09] naveensrinivasan commented on #310
Ok. We still need to investigate as to why it was failing.

Thanks for checking!

[2021-03-30 04:10] oliverchang commented on #310
I think we just needed this step because we removed the command in https://github.com/ossf/scorecard/commit/688dc5e6c7076ece6cb297d560fa374522c289ee#diff-1d2cb5f4057a83f313e447611b0fd3c766fbb86d9946f0bfc2e003dc7250688e

The Kubernetes config was stale and still had the cron.sh reference prior to the `kubectl apply`.

[2021-03-30 04:11] oliverchang commented on #310
(For the future, maybe we need to figure out some kind of email notification for these failures).

[2021-03-30 04:12] naveensrinivasan commented on #310
Cool!

[2021-03-30 04:13] naveensrinivasan commented on #310
100% agree on that.

[2021-03-30 04:13] naveensrinivasan commented on #310
Closing the issue as it is taken care of.

[2021-03-30 04:13] #310 closed

[2021-03-30 04:16] oliverchang opened #314 "Feature - email notifications for infra failures"
To catch future cases like https://github.com/ossf/scorecard/issues/310

[2021-03-30 05:20] oliverchang commented on #314
Looks like this is a dupe of https://github.com/ossf/scorecard/issues/247

[2021-03-30 05:20] #314 closed

[2021-03-30 17:28] naveensrinivasan opened #316 "Bug : ok-to-test action isn't working"
/ok-to-test sha=c3b949a

_Originally posted by @inferno-chromium in https://github.com/ossf/scorecard/issues/312#issuecomment-810441268_

[2021-03-30 22:51] inferno-chromium opened #318 "Scale scorecard from 2K to 100K to a million repos"

[2021-03-31 01:40] naveensrinivasan commented on #318
I agree with the goal. But I think it should be initially 10k repositories.

[2021-03-31 05:15] inferno-chromium commented on #200
Maybe also need to add [can open a new bug if needed], how much unsafe code is called from memory safe code. E.g. native c extensions from python, JNI from java, unsafe rust, cgo in golang [came from @oliverchang discussion]

[2021-04-02 01:14] nathannaveen commented on #237
I would like to work on this.

[2021-04-02 02:41] naveensrinivasan commented on #237
Closed by #320

[2021-04-02 02:41] #237 closed

[2021-04-02 02:51] inferno-chromium commented on #78
@laurentsimon also mentioned this idea, adding him as fyi

[2021-04-02 14:41] naveensrinivasan commented on #78
@inferno-chromium does oss-fuzz provide those details?

[2021-04-02 15:00] naveensrinivasan commented on #78
This a good start. Thanks. I will work on updating the fuzzing with that information.

[2021-04-02 19:11] naveensrinivasan commented on #295
@dlorenc Need your help with this. I don't have permission. I am trying to update the Big Query with the latest json structure.

![image](https://user-images.githubusercontent.com/172697/113446331-9609d800-93c5-11eb-909e-1ba7bf17afaa.png)

[2021-04-02 19:51] naveensrinivasan commented on #78
Is there a json result? I don't have permission to access the dir. We can use the HTTP endpoint to query the results and update the fuzzing results.

[2021-04-02 21:27] inferno-chromium commented on #295
@naveensrinivasan - made you bigquery admin, go ahead!

[2021-04-02 22:43] naveensrinivasan commented on #295
Thanks.

[2021-04-04 15:21] inferno-chromium opened #323 "Scorecard json filename is not zero padded anymore"
**Describe the bug**
gs://ossf-scorecards/4-1-2021.json instead of gs://ossf-scorecards/04-01-2021.json

**Reproduction steps**
this broke after move to go code for cron, need to sprintf with zero padding.

**Expected behavior**
gs://ossf-scorecards/04-01-2021.json

[2021-04-04 21:26] naveensrinivasan commented on #323
Ok. Why is this an issue?

[2021-04-05 14:03] naveensrinivasan opened #327 "Feature - Manage secrets for the cronjob"
**Is your feature request related to a problem? Please describe.**
Right now the secrets that are used for CronJob (GitHub Tokens) aren't managed within Git. It is Adhoc and manipulated directly.

**Describe the solution you'd like**
One possible solution
1. Encrypt the  GitHub tokens with KMS keys using https://github.com/mozilla/sops
2. Store the tokens in GitHub
3. Decrypt it before deploying

[2021-04-05 14:42] inferno-chromium commented on #323
good to follow iso format like MM-DD-YYYY.json, right now it can be M or MM, D or DD

[2021-04-05 14:57] #323 closed

[2021-04-05 23:18] naveensrinivasan opened #329 "BUG - Update Github Tokens with the new format"
**Describe the bug**

Update GitHub Tokens to the new format
https://github.blog/2021-04-05-behind-githubs-new-authentication-token-formats/

[2021-04-06 23:56] oliverchang commented on #295
This probably stopped working due to https://github.com/ossf/scorecard/commit/0eaa4ff3d0dd36cd1d200662e5fc9803cc2fd7be. The BQ import expects newline delimited JSON objects, rather than a well formed JSON file.

[2021-04-08 17:53] azeemshaikh38 opened #334 "BUG - Add a check for GitHub tokens"
**Describe the bug**
If GitHub tokens are not set, the command gets stuck. Before calling the APIs, check if appropriate tokens are set.

**Reproduction steps**
Steps to reproduce the behavior:
1. unset any GITHUB_AUTH_* flag in environment.
2. Run ./scorecard --repo=* command.

**Expected behavior**
If these tokens are not set, exit immediately and print message to inform user about how to remedi

[2021-04-08 22:22] azeemshaikh38 opened #336 "Feature - refactor cron formatting"
**Is your feature request related to a problem? Please describe.**
The cron job appends the output of  scorecard commandline to an output. This is a problem since, the cron job deals with string output from the scorecard command and tries to get the formatting right.

**Describe the solution you'd like**
Instead, the cron job should be dealing with in-memory data structure of check results which i

[2021-04-08 22:37] naveensrinivasan commented on #336
A good idea IMO. But with the in-memory you could run into memory bottlenecks as we scale to 10,000 -100,000 repository.

Will the solution be an issue for such scales?

[2021-04-08 22:47] azeemshaikh38 commented on #336
Depends on how we handle the results. We could keep writing to file/DB every time a result comes back or we can batch it to reduce IO. But yes, we mostly will not hold all results in memory at the same time.

[2021-04-08 23:14] inferno-chromium commented on #336
SGTM.

[2021-04-11 14:23] dlorenc commented on #295
This is still failing. Anything I can do to help fix it?

[2021-04-11 14:39] naveensrinivasan commented on #295
AFAIK the json dump has to be changed.

[2021-04-12 04:59] azeemshaikh38 commented on #295
Dan, see https://github.com/ossf/scorecard/issues/336. I'm working on it right now, but if the failures are blocking work in some way, I can submit a hacky quick-fix solution to unblock this. Let me know.

[2021-04-12 05:13] oliverchang commented on #336
Big +1 for this :) This would clean up a lot of how the current outputting is done.

[2021-04-12 20:49] naveensrinivasan opened #341 "BUG - Project updates binary does not use GitHub Authentication"
**Describe the bug**
The https://github.com/ossf/scorecard/tree/main/scripts/update package does not use GitHub Authentication. This would slow down the updates.

**Expected behavior**
Change the implementation to include the GitHub Authentication when pulling source code from GitHub.

[2021-04-13 21:17] azeemshaikh38 opened #342 "Feature: Scorecard output should be human readable HTML"
**Is your feature request related to a problem? Please describe.**
This is after discussions with the Envoy team. Today, output of Scorecard command says Pass/Fail with confidence numbers. For someone new to Scorecard, this in itself wouldn't relay anything meaningful.

**Describe the solution you'd like**
Instead, the output should be a detailed report mentioning what the tool tried to do and why

[2021-04-13 21:18] azeemshaikh38 commented on #342
@inferno-chromium @asraa

[2021-04-15 03:39] chrismcgehee commented on #173
Hi Naveen, I've started working on this one. I'll probably make multiple PRs with fixes for a handful of categories in each one.

[2021-04-15 06:01] oliverchang commented on #311
I can give this a shot.

[2021-04-15 09:55] naveensrinivasan commented on #173
Thanks.

[2021-04-16 18:15] #311 closed

[2021-04-19 19:42] inferno-chromium commented on #298
Check code here -
https://github.com/ossf/scorecard/blob/main/checks/signed_releases.go
https://github.com/ossf/scorecard/blob/main/checks/signed_tags.go

Docs needs updating here -
https://github.com/ossf/scorecard/blob/main/checks/checks.yaml
and regeneration of json, etc.

[2021-04-19 19:49] #336 closed

[2021-04-20 20:52] laurentsimon commented on #342
We can do this using the following:

1.  Update the checks.yaml to provide more information w.r.t the reasoning for having the check and details about how the check is made.
2.  Update the runtime information given by`--show-details`. Currently this command contains debug info. We can cleanup what we display to make it more user-readable and we can use the debug level to filter information (defaul

[2021-04-20 20:54] inferno-chromium commented on #342
Azeem added some thoughts in another PR - https://github.com/ossf/scorecard/pull/347#discussion_r616364482

[2021-04-20 23:44] azeemshaikh38 commented on #342
I think the solution in https://github.com/ossf/scorecard/pull/347#discussion_r616364482 should cover this too. If you have thoughts/feedback about that approach, we can discuss more on the other thread.

Once we have a consensus on the solution, I'm happy if someone can take up the implementation of it. Since @naveensrinivasan already had a PR for this - I'll leave it upto @naveensrinivasan and @

[2021-04-21 17:23] laurentsimon opened #349 "branch protection enhacement"
**Possible Improvements**
1. Increase the number of reviews needed to 2 (it's currently set to [1)](https://github.com/ossf/scorecard/blob/main/checks/branch_protected.go#L101). The code is duplicated in [code_review.go](https://github.com/ossf/scorecard/blob/main/checks/code_review.go#L110) and [branch_protected.go]: try to see if this is redundant or one of the checks should be removed.(https://

[2021-04-21 17:52] laurentsimon opened #350 "BUG: Update branch protection documentation"
Branch protection result seems to always fail, even on a repo where some sort of branch protection is enabled. Maybe be due to the package we use that is out-of-sync with github APIs, though

**Reproduction steps**
Run `./scorecard --repo=github.com/laurentsimon/branch-protection-test --checks=Branch-Protection --show-details`
`error, retrying: GET https://api.github.com/repos/laurentsimon/branch-

[2021-04-21 17:53] inferno-chromium commented on #349
So, 2 reviews will be nice if the contributor is outside of organization where repo belongs to. [protects unilateral attacks]. when contributor is an in-org contributor, 1 seems fine from another in-org reviewer ?

agree on release branches.

@laurentsimon - try making these improvements or adding to your queue as you see fit.

[2021-04-21 17:54] laurentsimon opened #351 "Check . gitignore"
We may check for the presence of this file and that files such as private keys, password, etc are ignored.

[2021-04-21 18:02] laurentsimon commented on #349
re: 2 reviews.for in-org contributor, 2 reviews may further reduce insider attacks, but agreed 1 review may be enough. To keep the code simple, we can start by having 2 reviews regardless of where contributors are?

[2021-04-21 18:10] inferno-chromium commented on #349
if you put 2 reviews everywhere, that would fail on most repos, is that realistic expectation in most cases? basically we try to keep results realistic, otherwise scorecard will feel like enforcing strong policies people can agree upon. should get others thoughts too.

[2021-04-21 18:16] laurentsimon commented on #349
sg. Let's keep it to 1 for cross-org then.

[2021-04-21 19:09] laurentsimon commented on #349
Added point 4. Please comment if you have ideas.
Edited Point 1 about duplicated check. Please comment.

[2021-04-21 19:22] naveensrinivasan commented on #350
The branch protection docs need to be updated. The branch protection checks would work only when you have admin access to the repository. That is the reason it is not used in the daily cron.

[2021-04-21 19:35] naveensrinivasan commented on #350
related issue https://github.com/ossf/scorecard/issues/138

[2021-04-21 19:40] naveensrinivasan commented on #351
There is a tracking issue for secrets https://github.com/ossf/scorecard/issues/30. We should probably close this one and update the other one.

[2021-04-21 19:52] naveensrinivasan commented on #349
This will be an issue, there are repositories where `development` is where the `PR` are targeted and the release branch is `master` or main. Deciding on the branch name for the `default` branch is hard and will give false results.

[2021-04-21 19:54] naveensrinivasan commented on #349
These are subjective for each project and it is hard to check in a generic manner as it is `text` based.

[2021-04-21 20:48] laurentsimon commented on #349
Please tell us if you already have numbers about false positives. This is a chance to enforce

[2021-04-21 20:57] naveensrinivasan commented on #349
Here are some examples
https://github.com/smartcontractkit/chainlink
https://github.com/0xProject/0x-mesh/blob/master/CONTRIBUTING.md

[2021-04-21 23:26] laurentsimon commented on #349
What's the common practice? Outliers are not necessarily a problem if the check is valid for the common cases of repos (`main` and `master` being default branch; with preference for `main`). We should be careful **not** to drop a check in favor of outliers if it can benefit the common case. That said, I have no idea about the distribution is ... :-)

I'm in favor of pulling some numbers and then d

[2021-04-21 23:32] laurentsimon commented on #30
We may check for the presence of this .gitignore and be sure sensitive files like private keys, password, etc are listed.

[2021-04-21 23:33] laurentsimon commented on #351
Closing because related to #30.

[2021-04-21 23:33] #351 closed

[2021-04-22 00:13] laurentsimon opened #352 "Confidence vs degree of protection"
We conflate `confidence` and `degree of protection`. Example:
- if we find a commit with no PR we have high confidence it's not branch-protected
- when we calculate confidence , e.g. for branch protection, we +1 for each sub test success. This seems to mean 'degree of protection'

We should disambiguate the two.

[2021-04-22 04:09] oliverchang commented on #295
Unfortunately this is still failing because the Date format in the latest.json is wrong:

`"Date":"21046-04-21"`

I have a fix in #353

[2021-04-22 17:32] laurentsimon opened #355 "StatusCheck result not shown with `--who-details`"
When using `--show-details` option, each failure is currently logged, see [StatusCheck](https://github.com/ossf/scorecard/blob/main/checks/branch_protected.go#L89) for example.

When testing on my repo with status check disabled, the warning is not displayed because the result of `protection.GetRequiredStatusChecks()` is `nil`. We should add an additional test for this, e.g.:

[code]

To be safe,

[2021-04-22 17:42] laurentsimon opened #356 "More detailed RequiredPullRequestReviews results"
Current code only checks for [GetRequiredPullRequestReviews](https://github.com/ossf/scorecard/blob/main/checks/branch_protected.go#L101).

There are sub checks we could make, such as: DismissStaleReviews, DismissalRestrictions, RequireCodeOwnerReviews.

DismissStaleReviews is relevant for security. (We don't want to merge PRs that have been changed after reviews). Default is false.
DismissalRestr

[2021-04-23 15:58] naveensrinivasan opened #358 "BUG - Docker builds are failing"
**Describe the bug**
The docker builds are failing.

https://github.com/ossf/scorecard/actions/runs/778264590

I was under the impression because of this PR #354 so I opened this PR to revert this #357 but it is the underlying ENV.

[2021-04-23 19:17] #358 closed

[2021-04-26 00:07] oliverchang commented on #295
The last two runs have been green.

[2021-04-26 13:47] naveensrinivasan commented on #78
@inferno-chromium  / @asraa  Ping.

[2021-04-26 15:23] naveensrinivasan commented on #295
The cron still isn't importing correctly for example the data for this isn't populated in this table`SELECT * FROM `openssf.scorecardcron.scorecard_latest` LIMIT 1000`

The old table isn't populated either `SELECT distinct(date) FROM `openssf.scorecardcron.scorecard` LIMIT 100` the last import in old table is `04-07`

[2021-04-26 18:01] azeemshaikh38 commented on #295
So the results are being imported - if you "ORDER BY Date DESC", you'll see the rows. However, turns out that since the output has "CheckResults" instead of "Checks", the checks in BQ are empty.

[2021-04-26 18:06] naveensrinivasan commented on #295
OK, Thanks! So we will need to address the `checks`/`checkresults`

[2021-04-26 19:01] azeemshaikh38 commented on #295
Yes. Working on a PR for that, will send out shortly.

[2021-04-27 04:19] oliverchang commented on #295
Nice catch!

FYI I manually fixed up the latest.json from the last cron job and recreated the BQ table (and added Date partitionining).

[2021-04-27 04:30] oliverchang opened #366 "Make BQ import more reliable"
BQ imports should load as WRITE_TRUNCATE into a date partition, to prevent duplicates in case a cron runs twice in the same day.

This cannot be easily done today with the single latest.json file, as entries can span multiple days (since the run can overlap between days).

For consistency of results within a partition, the "Date" should be consistent for all repo results for jobs started on the sa

[2021-04-27 04:31] oliverchang commented on #366
@azeemshaikh38 might something to consider in the design for the split workers / GCS output.

[2021-04-27 15:39] inferno-chromium opened #367 "New check: Check to make sure build/artifact generation and signing is isolated from untrusted tools like coverage, testing"
E.g. detect things like https://discuss.hashicorp.com/t/hcsec-2021-12-codecov-security-event-and-hashicorp-gpg-key-exposure/23512

[2021-04-27 19:24] azeemshaikh38 commented on #295
Awesome, thanks Oliver!

[2021-04-27 19:35] azeemshaikh38 commented on #366
The date consistency problem should be easy to handle since the master (which publishes to PubSub topic) can provide the date to be used for all results.

However, the duplicate entries due to the BQ data transfer running twice might be tricky. BQ should delete source files after transfer, however it does not provide strong guarantees here. If the deletion does not happen and BQ runs again before

[2021-04-27 22:04] oliverchang commented on #366
I think we can handle duplicate entries well if we load results by day with WRITE_TRUNCATE into a bigquery partition per https://cloud.google.com/bigquery/docs/creating-column-partitions.

If all input files have the same date, we can load and replace existing data into table$YYYYMMDD. The input files on GCS would just need to be structured in such a way to support this.

[2021-04-27 22:35] laurentsimon opened #370 "Enhance PullRequest feature"
1.  Code-Review discards commits made by bots with names `bot`  and `gardener` but only checks for their presence as substrings in the committer name. This is brittle, e.g.commits by user [abotas](https://github.com/abotas) would not be detected by the checks. I think we should use `==` instead.
2. Similarly, we check for reviews via gerrit by checking the presence of string `Reviewed-on:` in the

[2021-04-27 22:57] azeemshaikh38 commented on #366
I'm skeptical of WRITE_TRUNCATE. (1) it is wasteful (2) only some GCS files maybe deleted and looks like WRITE_TRUNCATE overwrites the entire partition (3) if it only overwrites selected rows, that would be best-effort de-duping which only mitigates the problem but doesn't solve it.

One way would be - if BQ sends out notifications on delete failure, we can have a garbage collection job running wh

[2021-04-27 23:21] oliverchang commented on #366
I think any additional cloud cost that incurs will be minimal, especially if it's avoiding maintenance costs. We can also just rely on GCS lifecycle policies (rather than a job we have to maintain).

One potential way to do this might look something like:
[code]

and the load job can load WRITE_TRUNCATE into YYYYMMDD partitions from a single run. This way every load is idempotent for the same uniq

[2021-04-28 03:11] oliverchang commented on #366
Discussed this with @azeemshaikh38. Another possible (and much simpler) approach here is to not care about historical date data at all, since that does not seem to be used anyway

I.e. each repo only ever has a single results.json file. The BQ transfer job will just WRITE_TRUNCATE every time using whatever is available at the time of writing. We would need to make sure that any races here (new/cha

[2021-04-28 06:17] azeemshaikh38 commented on #366
So researched more, turns out BQ allows for runtime parameterized URIs - https://cloud.google.com/bigquery-transfer/docs/gcs-transfer-parameters. We can simply use an URI similar to {run_time-48h|"%Y-%m-%d"}/*.json :)

This should be enough to get started for now and this avoids any race conditions or duplicates. Only drawback is a few days old stale data in BQ, which I think is a far more accepta

[2021-04-28 07:24] azeemshaikh38 commented on #366
Thinking about this more, if we want to handle multiple runs per day without race conditions, we could:

1. Make numShards deterministic. This will be set in the master.
2. Master writes to `gs://bucket/YYYYMMDD/unique_run_id_0/.shard_num` file which contains numShards value.
3. BQ runs on `gs://latest_bucket/*.json` with `WRITE_TRUNCATE`. Reports pass/fail result to a PubSub topic.
4. A separate

[2021-04-28 07:34] oliverchang commented on #366
Sure, starting simple sounds good to me!, We can always refine this later.

For fresher data, we can also just always load the data for the last X days into their respective partitions, and in our `scorecards_latest` BQ view return the latest data per repo rather than everything from a given date (as it does now).

[2021-04-28 23:35] inferno-chromium commented on #78
@oliverchang can help on providing the json endpoint/gcs info here.

[2021-04-29 00:03] oliverchang commented on #78
Sure!

So to get the coverage for a OSS-Fuzz project, you need to read 2 JSON file.

First from e.g. <http://oss-fuzz-coverage.storage.googleapis.com/latest_report_info/woff2.json>

Then get the report_summary_path from that. At time of writing this is `"gs://oss-fuzz-coverage/woff2/reports/20210428/linux/summary.json"` which can be converted to a HTTP link: <https://oss-fuzz-coverage.storage.goog

[2021-04-29 18:50] inferno-chromium opened #373 "New check: Check to detect sandboxing support, e.g. sandbox_api"

[2021-04-29 20:34] naveensrinivasan commented on #298
@dlorenc How can I identify if a packaged/container is signed by cosign?

[2021-04-29 20:36] dlorenc commented on #298
See the spec here: https://github.com/sigstore/cosign/blob/main/SPEC.md

You'd have to check the registry itself. Since you don't really care about verifying for this check, it should be pretty simple.

[2021-04-30 15:57] naveensrinivasan opened #375 "BUG - GCP Container builds for cronjob are broken"
**Describe the bug**
The container build for the cronjob is broken.

![image](https://user-images.githubusercontent.com/172697/116721178-0860de80-a9ab-11eb-812a-fae4079df509.png)

This is because the location of the Dockerfile was changed #368

[2021-04-30 15:57] laurentsimon opened #376 "Detect unit tests and its coverage"
If we can, we should try to detect if the project uses unit testing, and the corresponding code coverage. May be done in combination with #78.

[2021-04-30 16:30] naveensrinivasan opened #378 "BUG - Cron docker builds are broken"
**Describe the bug**
The docker build for the cronjob is broken

[code]

[code]

[2021-04-30 16:31] naveensrinivasan commented on #378
@azeemshaikh38 with the latest refactoring without the `go.mod` caused this to break.

[2021-04-30 16:45] naveensrinivasan commented on #375
The issue is fixed.

![image](https://user-images.githubusercontent.com/172697/116726868-dacb6380-a9b1-11eb-9de2-9a339b5b6b34.png)

[2021-04-30 16:45] #375 closed

[2021-04-30 17:11] laurentsimon opened #379 "New Check: signed commits"
In addition to signed release and tags, we may check for [signed commits](https://docs.github.com/en/github/authenticating-to-github/signing-commits).

We need a good story around key management/storage. Long-term, it would be nice to suggest more recent algorithms such as ECDSA/EdDSA instead of RSA/DSA and more recent crypto libraries, such as [Tink](https://github.com/google/tink).

[2021-04-30 19:54] laurentsimon opened #381 "Uniformize checks based on time?"
We currently:

1. signed tags checks for the last 5 tags
2. signed releases checks for the last 5 releases
3. Pull request checks for the first page of commits (~30 last commits?)
4. etc

Maybe we could uniformize them by using a common time window instead. For example we could use the last n months (user-provided option) and set it to, say, 6 months by default.

There are limitations to doing thi

[2021-04-30 20:50] laurentsimon opened #382 "Verify signatures for releases"
The [Signed-Releases](https://github.com/ossf/scorecard/blob/main/checks/signed_releases.go) check currently looks for known signature files, but does not verify them.
We should try to verify them with the corresponding key.

Note that for [Signed-Tags](https://github.com/ossf/scorecard/blob/main/checks/signed_tags.go), we rely on github's signature verification. We may also do the verification ou

[2021-04-30 23:13] laurentsimon opened #383 "Dependency pinning enhancement"
The [Pinning-Dep](https://github.com/ossf/scorecard/blob/main/checks/frozen_deps.go#L35) checks for known file names for various languages. However, as soon as it finds one, it [returns success](https://github.com/ossf/scorecard/blob/main/checks/checkforfile.go#L73).
Some repos may contain more than one language -- [Tink crypto library](https://github.com/google/tink) is an example, [protobuf](htt

[2021-05-01 21:12] naveensrinivasan opened #384 "Feature - Include validation for the GCS bucket content within the cron e2e"
**Is your feature request related to a problem? Please describe.**
The cron e2e https://github.com/ossf/scorecard/pull/380 does not have validation with the GCS bucket.

**Describe the solution you'd like**
Include validation to verify the contents of the GCS bucket.

[2021-05-03 16:02] #350 closed

[2021-05-03 17:27] laurentsimon commented on #382
Try to integrate with https://sigstore.dev/

[2021-05-03 17:27] laurentsimon commented on #379
Try to integrate with https://sigstore.dev/

[2021-05-03 17:30] dlorenc commented on #379
Right now signed git commits are problematic. The only real method is gpg, and there's no real key-management story so in most cases signed commits add little value IMO.

There's an effort here to improve the native git-commit signing: https://github.com/TrustFrame/git-cryptography-protocol

And sigstore has some plans to improve git signing by "working around" git. It's all a fair ways out though

[2021-05-03 23:42] laurentsimon opened #397 "Company names are not validated"
In the Collaborators check, we fetch the names of [companies](https://github.com/ossf/scorecard/blob/main/checks/contributors.go#L58) the user belongs to.
These names can be set by users arbitrarily. If scorecard users take into account the company of contributors to make decisions, these names should be verified.

We may use the [list-org API](https://docs.github.com/en/rest/reference/orgs#list-o

[2021-05-04 01:46] laurentsimon commented on #7
probably depends on how many contributors the project has?
We could also check that reviewers have 2FA. A compromised contributor may try to push bad code but would be detected by reviewers. Having a score instead of a binary pass/fail check would also help in general. It would encourage developers to make incremental improvements towards a long-term goal.

[2021-05-04 02:07] dlorenc commented on #382
This might be tricky and encourage an anti-pattern. In general putting the public key right next to the signature on the GitHub release would be problematic and not something we want to encourage, so we'd need another mechanism to find the key.

[2021-05-04 16:31] laurentsimon commented on #382
Agreed. I have not looked at how sigstore works to be honest. So you're saying it has no concept of identity. Is there another project trying to tackle this problem?

[2021-05-04 16:35] dlorenc commented on #382
Ah yeah - with sigstore it would be doable!

[2021-05-04 23:56] laurentsimon commented on #370
Update: I think gerrit uses status check APIs, and these are independent of the review messages. So this may be a signal we can rely upon work for non-malicious repos with malicious contributors.
If the repo is considered potentially malicious, that won't work unless we can uniquely identify gerrit (and its proper configuration). This seems to suggest the gerrit app would have to be run by github

[2021-05-05 00:41] azeemshaikh38 commented on #307
This is now done. Closing.

[2021-05-05 00:41] #307 closed

[2021-05-05 00:56] azeemshaikh38 commented on #318
Outcome of initial internal discussion - we'll start with focusing on horizontal scalability of the cron job itself. That is, instead of a single worker machine processing all repositories, we will re-design the architecture such that more workers can be added to improve the performance of the job. To that end, the proposed solution is to use a PubSub architecture - all the repositories to be proc

[2021-05-05 01:22] azeemshaikh38 opened #399 "Feature: Secure & Scalable rollouts (and rollbacks)"
**Is your feature request related to a problem? Please describe.**
Today, various binaries included in Scorecard need to be built and pushed manually to GCS. What's worse is that, someone with authorization has the capability to push a locally modified binary to production GCS. We need safer and more automated rollout/rollback procedure.

**Describe the solution you'd like**
There could multiple "

[2021-05-05 04:53] inferno-chromium opened #400 "New check: Complain on binary artifacts in source repos, e.g. jars, esp for third_party use"
**Is your feature request related to a problem? Please describe.**
Third_party libraries might be checked in as binary artifact instead of building from source. These might be compromised artifacts, so discourage this bad security pattern.

**Describe the solution you'd like**
Check fail with details on binary artifacts used.

**Describe alternatives you've considered**
NA

**Additional context**

[2021-05-05 14:51] inferno-chromium opened #403 "Frozen Deps does not check frozen dockerfile image use, CI/CD tools"
**Is your feature request related to a problem? Please describe.**
1) Check for either hardcoded sha in FROM.*dockerfile use or best to see if signature verification happens (with sigstore)
2) for CI/CD discourage bad patterns, e.g. curl | bash

**Describe the solution you'd like**
Improve frozen deps check to account for these.

**Describe alternatives you've considered**
NA

**Additional context

[2021-05-05 14:52] inferno-chromium commented on #403
Needs documentation update as well.

[2021-05-05 14:53] dlorenc commented on #403
Here's one tool to help pin Dockerfiles: https://github.com/safe-waters/docker-lock

Another WIP one, designed to help with signatures: https://github.com/sigstore/cosign/pull/189

[2021-05-05 16:27] laurentsimon opened #405 "New check: check that domains are validated"
if a repo belongs to an org, try to verify its domain is 'verified'. If feasible, do the same for the repo's website.
Related to #397

[2021-05-05 19:06] azeemshaikh38 commented on #399
@oliverchang @ laurentsimon fyi.

[2021-05-05 20:02] naveensrinivasan commented on #399
All the main branch changes are already in gcr

Instead of push it is pull into gcr

The Cloud build watches for changes to the GitHub and does container build and pushes it to the gcr.

[2021-05-05 20:21] inferno-chromium commented on #399
Do we need all this code then - https://github.com/ossf/scorecard/blob/main/.github/workflows/docker.yaml maybe time to remove ?

[2021-05-05 20:45] naveensrinivasan commented on #399
We need this code to keep an container image in GitHub.

we can decide to open up GCR and then remove this.

[2021-05-05 20:53] inferno-chromium commented on #399
yes we should, make gcr public and then remove this. @azeemshaikh38 fyi

[2021-05-05 20:57] naveensrinivasan commented on #399
Ok. I will do a PR for that.

[2021-05-05 22:52] laurentsimon opened #406 "Feature"
In [CI-Test](https://github.com/ossf/scorecard/blob/main/checks/ci_tests.go#L123), we use names to identify CI tests, by checking if the names are contained in the app name (slug). We could use the app ID instead with an exact comparison to be more robust.

[2021-05-05 23:10] azeemshaikh38 commented on #399
Thanks Naveen! 2 questions:

1. With the pull model, how do rollbacks works? I assume we will have to rollback main/HEAD, is that correct?
2. Can we also make an update such that no manual pushes are allowed to GCR? This might be too strict for now, but we can look into figuring out a better solution later.

[2021-05-05 23:42] naveensrinivasan commented on #399
Yes!

The pushes are based on RBAC on GCP.  That is where it can be controlled. There isn't another to control this.

[2021-05-06 13:57] inferno-chromium commented on #52
api key requirement gone, thanks to @oliverchang.

curl -X POST -d '{"version": "0.17.0", "package": {"name": "arrow"}}' "https://api.osv.dev/v1/query" | jq

Oliver, what was the way to get latest version ?

[2021-05-06 21:25] oliverchang commented on #52
I think we need to look at the upstream repo to get:

- The current HEAD commit sha and use that to commit.
- Or the closest tag name.

[2021-05-07 19:20] laurentsimon opened #412 "Frozen deps does not check for workflow pinning"
In our own repo:
[code]

Shall we pin these? If yes, we should also add this to the Frozen-Dep check.

[2021-05-07 20:47] laurentsimon opened #413 "New check: check for docker scanner"
Scanner can be used as part of a github workflow. We can add a test to see if a scanner is used. This check may live under the existing SATS check?

[2021-05-07 21:59] laurentsimon opened #414 "New check: reduce scope of git token permission"
Github workflows rely on events (e.g. pull_request, etc). The default permission for the token is read/write. In most cases, read permission should be enough. To reduce the attack surface, we should check for this. We'll need to have a list of actions that we allow to use read permissions.

This is a good candidate for a status check as well.

[2021-05-07 22:21] laurentsimon opened #415 "code_review segfaults"
lack of check for nil in [code_review.go](https://github.com/ossf/scorecard/blob/main/checks/code_review.go#L110)
[code]

[2021-05-08 00:50] laurentsimon commented on #412
@naveensrinivasan to add the check in scorecard, my current plan is to download the tarball and use a regex for files under `.github/workflow/` to detect `uses: somename@` followed by `vX.Y.Z` or `X.Y.Z` where Y and Z are optional. Basically `@v?\d(\.\d){1,2}$`. I don't like that we have to download the tarball again (it's already done in another check).

Long-term, we can probably download the ta

[2021-05-08 01:02] naveensrinivasan commented on #412
@laurentsimon  Tags can be moved. That is the reason teams prefer to pin the SHA instead of tags. So doing checks for tags is not recommended IMO.

Scorecard avoids maintaining the state within the CLI. Passing the downloaded tarball would do that. We would like to keep it stateless.

I agree to download the tarball again is not utilizing the resources well. But there is a bigger discussion on sca

[2021-05-08 01:13] laurentsimon commented on #412
yes, but do you know if hash pins are supported in github workflows?
We have a dep-pinning check for package management (go, python, etc). Is the reasoning different there?

ok.

[2021-05-08 01:15] naveensrinivasan commented on #412
Yes, has pinning in supported in GitHub workflows

https://julienrenaux.fr/2019/12/20/github-actions-security-risk/#solution-use-commit-hash-as-version

[2021-05-08 01:31] laurentsimon commented on #412
Brilliant, thanks for the link. I've updated #417 accordingly.
To clarify, shall I go ahead and add the check to scorecard for hash-pinned deps?
Shall I first pin all deps by hash? I'm kinda worried we're never going to think of updating them. Does dependabot support github workflows and will it alert us when new versions are released?

[2021-05-08 01:40] laurentsimon opened #418 "Fix failing trivy cheks"
**Describe the bug**
The aquasecurity/trivy-action checks seem to fail on most PRs, and we're ignoring the failures.

**Reproduction steps**

**Expected behavior**
The checks should be green or we should remove them.

**Additional context**
Add any other context about the problem here.

[2021-05-08 01:40] naveensrinivasan commented on #412
Ideally, we would need to have the actions YAML parsed into a struct and then look for SHA. String matching is error-prone and would give false positives.  Also, we would have to check if YAML's have a standard structure to be parsed into a Go struct.

[2021-05-08 01:43] naveensrinivasan commented on #415
Fixed by #416

[2021-05-08 01:43] #415 closed

[2021-05-08 01:47] inferno-chromium commented on #412
+1, we should just use a yaml lib to parse these.
we should ideally support 1-2 CI/CD systems, e.g. github actions, cloudbuild, both of them use yaml
for cloudbuild, see this example - https://github.com/google/clusterfuzz/blob/master/cloudbuild.yaml#L16
"name: gcr.io/cloud-builders/bazel@sha256:7360c36bded15db68a35cfb1740a994f0a09ad5ce378a97f96d698bc223e442a"

[2021-05-08 01:52] naveensrinivasan commented on #412
Just an FYI the GitHub YAML can be hard to parse as schema definition could have lots of definitions here is a good starting point https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsuses

[2021-05-08 01:57] laurentsimon commented on #412
That would be ideal, yeah. We could also start with the following regex `^\s*-*\s*uses:\s*[a-zA-Z\/]*@[\da-z]{40,}\s*$`
It matches `uses` and dependency on the same line, which I think is what most people use.

Let me know if you think we should build it incrementally or at once. I don't mind either.

Thanks both of you for the links!

[2021-05-08 02:22] laurentsimon commented on #412
Note sure what you mean. Link?

that would be counted as bad and flagged.

[2021-05-10 18:10] laurentsimon opened #426 "New check: Check for dangerous code practices in github workflows"
There are several examples of github token leaks via `pull_request_target` event. It'd be nice to check for it - possibly filtering out known acceptable github actions that use it after we have reviewed their code (and it's pinned by hash). This check goes in the same direction as #414, ie harden github worflows.

[2021-05-10 18:27] laurentsimon opened #427 "Frozen deps should check for hash pinning"
The check currently looks for known files but does not parse them. It would be useful to enforce packages are pinned by hash for a program (not for a library).

This will require supporting several languages. It will be very time-consuming to migrate `pinned by version` to `pinned by hash` manually, so we will need some tooling to automatically update the files for project owners.

[2021-05-10 23:19] azeemshaikh38 opened #429 "BUG: Update build dependencies to use a hash/digest"
**Describe the bug**
Makefile (and possibly other places like Dockerfiles) depend on floating dependencies, which install or pull on every build before running. This is (a) flaky since every execution is  potentially different (b) inconsistent with what runs on remote (vs. local) (d) a possible security risk (e) an annoyance since the dependencies get installed on every run of `make all`.

**Expec

[2021-05-10 23:19] azeemshaikh38 commented on #429
@dlorenc created an issue based on our discussion. Let me know if this makes sense.

[2021-05-10 23:27] azeemshaikh38 opened #430 "Feature: Support Scorecard as GitHub Action"
**Is your feature request related to a problem? Please describe.**
Scorecard cannot be run today as part of CI/CD workflows. To enable this, we need to add support for Scorecard to run as GitHub Action.

**Describe the solution you'd like**
N/A

[2021-05-10 23:38] naveensrinivasan commented on #430
To run scorecard as a GitHub action and store the results we need SARIF https://github.com/ossf/scorecard/issues/193

[2021-05-10 23:41] naveensrinivasan commented on #418
Fixed by. #420

[2021-05-10 23:41] #418 closed

[2021-05-10 23:46] inferno-chromium commented on #429
This is different, that #199 one was checking in deps as source, this one is more about supply chain security by pinning deps with sha/hash

[2021-05-10 23:54] laurentsimon commented on #414
Ideally we'd try to check this [default github token permission setting](https://docs.github.com/en/github/administering-a-repository/disabling-or-limiting-github-actions-for-a-repository#setting-the-permissions-of-the-github_token-for-your-repository) and ensures it's set to read only.

Later, we can also verify that repo-specific workflows are not given additional write permission if it's not ne

[2021-05-11 00:09] laurentsimon opened #431 "New check: check the repo uses dependabot"
We should check if [dependabot](https://docs.github.com/en/code-security/supply-chain-security/configuring-dependabot-security-updates) is enabled. I don't know if there's a config for it, or if we should also/instead parse the [yaml file](https://github.com/ossf/scorecard/blob/main/.github/dependabot.yml).

Note that this file can be use to validate *which* languages are used (golang, python, Doc

[2021-05-11 00:28] laurentsimon commented on #414
More information https://github.blog/changelog/2021-04-20-github-actions-control-permissions-for-github_token/ and https://docs.github.com/en/actions/reference/authentication-in-a-workflow#modifying-the-permissions-for-the-github_token

[2021-05-11 00:32] laurentsimon opened #432 "BUG: restrict github token for scorecard repo"
Le's reduce all our tokens' scope to be [read-only by default](https://github.com/ossf/scorecard/settings/actions), unless needed otherwise.

[2021-05-11 02:38] chrismcgehee commented on #173
Naveen, there's a linter named [gochecknoinits](https://github.com/leighmcculloch/gochecknoinits) that flags any uses of the `init()` function. Its philosophy is that `init()` introduces side effects and global state which are hard to test and reason about.

Each of the checks in the project contains a call to `init()`. I actually like this because it allows a check to be wholly contained within a

[2021-05-11 05:25] azeemshaikh38 commented on #173
I'd prefer the `//nolint` option as a quick fix. Curious though, what does it require to remove `init()` from checks? What would the re-architecture look like?

[2021-05-11 16:41] naveensrinivasan opened #434 "Feature - Implement Cloud build for Git Tags"
**Is your feature request related to a problem? Please describe.**
The existing solution for docker images for the tag was removed https://github.com/ossf/scorecard/pull/419/files#diff-17e3400d876978d12bbad517dcf82312b54fa62723408b1ce011b2755458bdafL22

https://github.com/ossf/scorecard/pull/419

**Describe the solution you'd like**
Implement cloud build to push based on git tag

[2021-05-11 22:32] laurentsimon opened #435 "Feature: improve unit tests and e2e test for better coverage"
there are many tests, so this should be done progressively

[2021-05-11 22:45] azeemshaikh38 commented on #435
+1. We really need this. I also think we should make existing tests to be hermetic and not flaky.

[2021-05-12 03:46] chrismcgehee commented on #173
Instead of having a global variable `checks.AllChecks`, that would be a function that returns a slice containing checks. This function would list all checks within it like so:
[code]
When adding a new check, we would also have to add to this function.

[2021-05-12 06:10] azeemshaikh38 commented on #173
Hmm, I think I prefer `// nolint` option better then.

[2021-05-12 13:48] naveensrinivasan opened #443 "Feature - use cloudbuild yaml instead of just the UI"
**Is your feature request related to a problem? Please describe.**
The cloud build is configured using UI. It is hard to review and track changes. Cloud build is used for generating the container images.

**Describe the solution you'd like**
Use cloudbuild.yaml to automate the process

[2021-05-12 14:28] naveensrinivasan commented on #78
The fuzzing results provide all these details.

[code]

## Questions

1. Should scorecard include all these details on the results? or will some section alone suffice?
2.  The scorecard result does not have an option to include additional details like this by design.
[code]

We could extend the results by changing `Details     []string` to `Details interface{}`.
This will maintain backward compati

[2021-05-12 15:01] inferno-chromium commented on #78
Totals -> Regions -> Percent should be good enough for now (high-level % of code covered). Additional details we can later add once we have some design on the Details string as you said. Right now, too many other things to worry about, but can come back in a month to create maybe some structure on Details field ? @azeemshaikh38 thoughts?

[2021-05-12 16:36] laurentsimon commented on #400
Possible ideas:
- OS binaries: .o, .so, .ko, elf (Linux), same for Windows/Macos
- distro packages: .deb, .rpm, etc
- language packages: .whl, etc
- bytecode: .pyc, .jar

[2021-05-12 18:35] laurentsimon commented on #356
Fixed by #436

[2021-05-12 18:35] #356 closed

[2021-05-12 18:37] laurentsimon opened #445 "Feature: Branch-Protection: add support for release branches"
Currently we only check the default branch - which we assume is the dev branch.
We want to add protection for release branches. A bonus would be to verify the default branch has activity and is likely the dev branch.

[2021-05-12 19:40] laurentsimon commented on #355
Fixed by #436

[2021-05-12 19:40] #355 closed

[2021-05-12 22:58] laurentsimon commented on #414
After a bit of digging/reading, here are some potential options:

1. Check for the settings: I have not found an API to retrieve this. @naveensrinivasan have you seen one?
(In addition, we can parse the workflow config to ensure most workflows don't override it with write permission?)
2. Check if `permission` is declared in workflow yaml files. We could parse it and check that most of them are uns

[2021-05-13 04:38] chrismcgehee commented on #28
I'm interested in taking this one on. Before I start, I'd like to discuss how to go about doing this.

I don't see anything on Github's API that would allow us to query for a repo's past owners. I think we'll need to store this data ourselves and have scorecard query for it. We could record the owners for the repos we track as part of the cron process and store it in GCS bucket. Then when scorecar

[2021-05-13 12:03] naveensrinivasan commented on #28
This is a good approach. But we are in the process of designing sharding and coming up with long-term plans to scale.  I would recommend that we wait until then.

Thanks for picking up the issue and all your contributions @chrismcgehee!

[2021-05-13 21:41] naveensrinivasan commented on #373
Need more information on this issue.

[2021-05-13 23:57] naveensrinivasan opened #450 "Feature - Remove scorecard docker images from GitHub"
**Is your feature request related to a problem? Please describe.**
The scorecard docker images that are GitHub should be removed.

**Describe the solution you'd like**
Delete the docker images from GitHub as it is being published in gcr.io

[2021-05-14 02:19] chrismcgehee commented on #28
Just to clarify, are you saying I can start working on this issue now, but I should not worry about sharding at this time?

[2021-05-14 03:53] inferno-chromium commented on #28
Not worry about right now. There are several other to pick from list - https://github.com/ossf/scorecard/issues?q=is%3Aissue+is%3Aopen+%22New+check%22 or https://github.com/ossf/scorecard/milestone/1
but whichever you pick, leave a comment in bug to avoid duplication/conflict. thanks @chrismcgehee for your contributions!

[2021-05-14 19:38] naveensrinivasan commented on #400
Looking for file types with the extension could be one way.

The right way to do it is to parse the file header and figure out the type. This is work has been done at https://github.com/h2non/filetype

We could start with this.
1. https://github.com/h2non/filetype#application
2. https://github.com/h2non/filetype#archive

I am not a fan of figuring based on extension alone without checking the cont

[2021-05-14 19:47] inferno-chromium commented on #400
probably both. i think extensions is quick, but we should probably do libmagic based checking as well - https://man7.org/linux/man-pages/man3/libmagic.3.html [https://github.com/h2non/filetype is probably similar idea?]

[2021-05-14 19:56] azeemshaikh38 commented on #400
Similar idea to `filetype` and `libmagic` is `file -i` command in Unix.

![image](https://user-images.githubusercontent.com/4825078/118322219-a37dac00-b4b3-11eb-8720-c9d2adb6f83b.png)

[2021-05-14 19:57] naveensrinivasan commented on #400
We could do that. Crawl, Walk and Run.

I am not a fan of libmagic because it brings other external dependencies which becomes an issue for our customers trying to run scorecard from their desktop and that was the reason for looking for something go native https://github.com/h2non/filetype repository.

[2021-05-14 20:01] inferno-chromium commented on #400
+1, native is better.
https://www.reddit.com/r/golang/comments/amt07f/h2nonfiletype_small_dependencyfree_and_blazing/

[2021-05-14 20:07] azeemshaikh38 commented on #78
+1 to adding this to Details []string for now. I think this is another of those things which will benefit from implementing https://github.com/ossf/scorecard/pull/347#discussion_r616364482.

We should probably consider updating how Details []string looks like after few weeks. But for now, there are too many moving parts and I don't want to add one more.

[2021-05-14 20:09] azeemshaikh38 commented on #432
Adding this our bi-weekly agenda. Let's discuss there.

[2021-05-14 20:30] naveensrinivasan commented on #432
@azeemshaikh38  Included a label needs discussion. I have been adding that to the issues that need one.

[2021-05-14 20:35] naveensrinivasan commented on #78
We could wait for the `Details` results to be finalized. So that when we implement this without `[]string` results.

If we implement with `[]string` results and then move it when we finalize the design for `results` It will break the functionality.

 @inferno-chromium  Is this an issue that can wait ?  are there teams waiting for this to be addressed?

[2021-05-14 20:36] naveensrinivasan commented on #400
I will take on this.

[2021-05-14 21:06] azeemshaikh38 commented on #78
+1 to waiting if this is not a blocker.

[2021-05-14 21:08] azeemshaikh38 commented on #432
Ah I see, nice. I did not notice it. You could also update the agenda doc as and when something comes to your mind. Some topics may not need a GitHub issue.

[2021-05-14 22:02] azeemshaikh38 opened #454 "Feature: `make all` should handle file generation"
**Is your feature request related to a problem? Please describe.**
Proto pb generation and checks/README.md generation happens manually today.

**Describe the solution you'd like**
We should update Makefile to handle this when we run `make all`.

[2021-05-14 23:07] naveensrinivasan commented on #454
Took care of the doc generation #455

[2021-05-15 20:58] #454 closed

[2021-05-16 19:59] naveensrinivasan opened #459 "Feature - manage tool dependencies via go.mod"
**Is your feature request related to a problem? Please describe.**
Manage tool dependencies via go.mod

**Describe the solution you'd like**
Manage tool dependencies like golint , protoc-gen-go using go.mod https://marcofranssen.nl/manage-go-tools-via-go-modules

[2021-05-17 01:26] azeemshaikh38 commented on #459
Is this issue same as (or can be merged with): https://github.com/ossf/scorecard/issues/429?

[2021-05-17 01:28] naveensrinivasan commented on #459
Yes! Closing this in favor of #429

[2021-05-17 01:28] #459 closed

[2021-05-17 01:36] #443 closed

[2021-05-17 01:36] #434 closed

[2021-05-17 01:41] azeemshaikh38 opened #462 "Feature: repo/file interface for Scorecard library"
**Is your feature request related to a problem? Please describe.**
Scorecard today is limited to run on GitHub repositories only. We should expand this support to handle local files and other VCS like GitLab, BitBucket etc.

**Describe the solution you'd like**
Create an interface `RepoClient`:

[code]

We need to look into our current code and sketch out all the required methods needed in this in

[2021-05-17 01:42] azeemshaikh38 commented on #462
@inferno-chromium @oliverchang @laurentsimon @naveensrinivasan thoughts?

[2021-05-17 03:58] oliverchang commented on #462
+1. Sounds great!

[2021-05-17 04:16] inferno-chromium commented on #462
+1, this would be awesome, and we definitely need localclient support. some checks might not be applicable when provided a local repo, but we need to add some skip state for those (instead of fail).

[2021-05-17 13:22] naveensrinivasan commented on #462
+1. Great!!

[2021-05-17 16:42] laurentsimon commented on #462
+1

[2021-05-17 16:43] naveensrinivasan commented on #400
Going to take the file names with extensions for v1 of this implementation. Let me know if anyone sees that as an issue.

[2021-05-17 17:00] inferno-chromium commented on #400
lets discuss this in today's meeting with @azeemshaikh38 @laurentsimon

[2021-05-17 17:05] naveensrinivasan commented on #400
Sounds good.

[2021-05-17 17:38] naveensrinivasan commented on #316
Without this, the confidence to merge any dependabot fixes/ PR's from external contributors becomes an issue. We would need to address this ASAP IMO. I am proposing this be included in our next Milestone.

@azeemshaikh38 @inferno-chromium

[2021-05-17 17:45] azeemshaikh38 commented on #318
@inferno-chromium @oliverchang @naveensrinivasan

Update on the GitHub token issue: my thoughts on it so far are that we should consider using [GitHub conditional requests](https://docs.github.com/en/rest/overview/resources-in-the-rest-api#conditional-requests) as a starter. Basically, we store the entire HTTP response from GitHub (along with ETag) indexed by the requestURL. Our subsequent HTTP ca

[2021-05-17 17:51] azeemshaikh38 commented on #316
I'm not sure I understand this bug fully. Maybe we can discuss this during our meet today?

[2021-05-17 17:57] naveensrinivasan commented on #316
Some context
https://github.com/imjohnbo/ok-to-test
https://github.com/ossf/scorecard/blob/main/.github/workflows/ok-to-test.yml

[2021-05-17 17:57] naveensrinivasan commented on #316
Yes, let's discuss this.

[2021-05-17 17:59] azeemshaikh38 commented on #429
@inferno-chromium @naveensrinivasan am I right in assuming that https://github.com/ossf/scorecard/pull/460 should fix this issue? Or do we need anything more here?

[2021-05-17 18:15] naveensrinivasan commented on #429
Yes it should fix it.

[2021-05-17 18:40] jeffmendoza commented on #318
I've been doing some conditional request testing. Unfortunately the etag changes for each process invocation (each new auth token), even if the resource didn't change. I was using a GitHup App (https://docs.github.com/en/developers/apps/authenticating-with-github-apps#authenticating-as-a-github-app) though, not sure how it works with a PAT or OAuth app.

[2021-05-17 19:07] azeemshaikh38 commented on #318
Oh interesting. Did you also try the "Last-Modified" and "If-Modified-Since" options? I would expect that they shouldn't be process dependent.

[2021-05-17 19:20] #429 closed

[2021-05-17 19:53] jeffmendoza commented on #318
I only tried `If-None-Match`

[2021-05-18 19:05] azeemshaikh38 commented on #318
I'll investigate the `If-Modified-Since` option. The only drawback I see in it so far is that more API endpoints have support for `If-None-Match` option than they do for `If-Modified-Since`.

Also, AFAICT, the `If-None-Match` option is probably token dependent and not process. I tried using an Etag that I received  on my gLinux through my Mac and it seems to work as long as I provide the same toke

[2021-05-18 20:06] azeemshaikh38 commented on #173
@naveensrinivasan @chrismcgehee

I'm seeing lot of commits which break the linter but we don't catch it since the linter running during `make all` doesn't use `.golangci.yml`. Can we update our `Makefile` to say:

[code]

That way, we can keep updating `.golangci.yml` such that it doesn't cause errors with the current code. And every PR in which we fix linter issues we can start enabling the respe

[2021-05-19 22:52] chrismcgehee commented on #173
So `make all` will use `.golangci.yml` because when `golangci-lint run` is run without specifying a config file `.golangci.yml` is one place it will look. I think our problem here is that `golangci-lint run -n` only will lint run the linter on the most recent commit. If a PR has multiple commits, the older ones will not get linted.

What we could do is comment out the linters that are currently fa

[2021-05-19 23:15] azeemshaikh38 commented on #173
I see, thanks for explaining.

Sounds good to me. @naveensrinivasan wdyt?

[2021-05-19 23:32] naveensrinivasan commented on #173
Instead of that why not rebase and amend commits by `git commit --amend` and then run the linter.

This encourages good practice and makes it easier for the reviewer

The PR lots of commit messages which aren't meaningful and relevant makes it harder to maintain IMO.

[2021-05-19 23:42] chrismcgehee commented on #173
Are you saying we would require all PRs to consist of 1 commit? That seems good, but I don't know if we could enforce that using Github Actions without writing a decent amount of manual  code.

[2021-05-19 23:44] naveensrinivasan commented on #173
We can do it by asking the Author to squash the commits in the PR.

[2021-05-19 23:46] inferno-chromium commented on #173
this is pain, why is this needed. from reviewer perspective, they look at full diff on ui using e.g. https://github.com/ossf/scorecard/pull/474/files [that merges all commit] , reviewer shouldnt be clicking on individual commits. then when someone is ready to merge, github provides "squash and merge" easily.

[2021-05-20 01:38] naveensrinivasan commented on #173
Approved the other PR.

[2021-05-20 14:50] naveensrinivasan commented on #450
I have deleted the docker images from the GitHub Registry. The official images are available in gcr `gcr.io/openssf/scorecard`

[2021-05-20 14:50] #450 closed

[2021-05-20 22:32] laurentsimon commented on #445
An idea @jeffmendoza and I brainstormed today to identify branches that need branch protection is to list the releases and see which branch they points to.
This may require multiple API requests, though (1 for each different `target_commitish`) using this [release API](https://docs.github.com/en/rest/reference/repos#list-releases ).

Example:
[code]

[2021-05-21 16:42] azeemshaikh38 commented on #318
Just an update here - I plan on adding some monitoring to the code. It'll help us understand bottlenecks in our code and with figuring out if incoming PRs are making performance better or worse.

Will look into improving the GitHub token efficiency after this.

[2021-05-23 02:50] azeemshaikh38 opened #495 "BUG: Cron job taking forever"
This past week the cron job seems to be running excessively slow and hasn't finished a successful run since ~May 16th. The issue seems to be GitHub tokens since the logs are consistently spewing out ratelimit errors after running checks on just 1-2 repos -

![image](https://user-images.githubusercontent.com/4825078/119246437-6742ef00-bb36-11eb-880b-d8a3c0d29f42.png)

I have been trying to debug th

[2021-05-23 04:08] naveensrinivasan commented on #495
I will take a look tomorrow.

[2021-05-23 07:37] azeemshaikh38 commented on #495
Ok I think I got a clue. I pushed a locally built binary (apologies, I was desperate) and here are the logs:

![image](https://user-images.githubusercontent.com/4825078/119251709-c74c8c00-bb5c-11eb-90dc-2ae5fd4e36df.png)

Looks like there is one token among the 6, at index 1, that has the rate limit of an anonymous token (60/hour instead of 5000/hour). So possibly, some thread gets blocked on that

[2021-05-23 15:19] inferno-chromium commented on #495
ok regenerated config to remove 2nd token in list
[code]

[2021-05-23 16:48] naveensrinivasan commented on #495
1. We need a way to maintain who's token each of these belongs to.

2. Also, we need to fail fast when the token limit is less than 5000.

[2021-05-23 19:08] azeemshaikh38 commented on #495
@inferno-chromium thanks!

@naveensrinivasan I think we should update the way we access tokens today in [roundRobinAccessor](https://github.com/ossf/scorecard/blob/main/roundtripper/github.go#L62). This way of accessing tokens means we always block on the weakest (least rate-limited) token. This should instead be a rate-limit aware tokenAccessor, such that as long as there is a token which has suf

[2021-05-23 21:00] inferno-chromium commented on #495
How much often do we hit this, probably a one-time mistake, how much work is this, your call!

[2021-05-23 21:27] naveensrinivasan commented on #495
I started working on it a while back and ran into issues.

https://github.com/ossf/scorecard/blob/feat/new-roundtripper/roundtripper/roundtripper.go

[2021-05-23 23:21] naveensrinivasan commented on #495
Sorry wrong branch.

[2021-05-24 03:46] azeemshaikh38 commented on #495
Actually, I take back what I said. I initially thought updating roundRobinAccessor will allow us to process more repos before blocking. I was wrong, it'll barely make a dent. Don't think its worth pursuing.

Closing this issue since cron job is now proceeding at its regular rate.

[2021-05-24 03:46] #495 closed

[2021-05-25 21:45] oliverchang commented on #52
I can try add this.

[2021-05-26 01:21] naveensrinivasan commented on #399
Closing this issue as we have rollback.

[2021-05-26 01:21] #399 closed

[2021-05-26 19:39] azeemshaikh38 commented on #262
Assigning to myself for now. Although 6 (or maybe 5 as of now) should be enough, will close this issue issue once we have a few more tokens.

[2021-05-26 19:43] azeemshaikh38 commented on #294
There are enough changes in roundtripper code now that it seems tailored for Scorecard usage and not generic enough to be a separate repo.

Closing this for now, feel free to re-open if folks think otherwise.

[2021-05-26 19:43] #294 closed

[2021-05-26 19:50] azeemshaikh38 commented on #289
IMO, the focus of Scorecards should be repo-specific automated analysis. Tracking dependencies of a repo is a whole different problem/project of its own. If we plan to tackle it, we should do it orthogonal to Scorecards (maybe in a new repo).

I propose closing this issue in lieu of reducing number of open issues we currently have. If we plan to track dependencies in Scorecard at a future date, we

[2021-05-26 19:50] #289 closed

[2021-05-26 19:54] azeemshaikh38 commented on #247
Assigning to myself. Already added monitoring for some metrics like latency, outgoing requests etc. Also, the framework to add more metric is already in place.

Keeping this open until we setup email/Slack alerts for cron job failures.

[2021-05-26 19:56] azeemshaikh38 commented on #202
Closing this since we are already tracking this here: https://github.com/ossf/scorecard/issues/318

[2021-05-26 19:56] #202 closed

[2021-05-26 19:58] naveensrinivasan opened #510 "Bug - Random test failures"
2021/05/26 19:17:22 Failed to export to Stackdriver: [rpc error: code = PermissionDenied desc = Permission monitoring.metricDescriptors.create denied (or the resource may not exist).; rpc error: code = PermissionDenied desc = Permission monitoring.metricDescriptors.create denied (or the resource may not exist).; rpc error: code = PermissionDenied desc = Permission monitoring.timeSeries.create deni

[2021-05-26 20:00] azeemshaikh38 commented on #80
Close this, since the solution is being tracked/implemented in https://github.com/ossf/scorecard/issues/318

[2021-05-26 20:00] #80 closed

[2021-05-26 20:23] azeemshaikh38 commented on #329
@inferno-chromium @naveensrinivasan do we know who the current tokens belong to? I'm creating a sheet where we maintain token list and info about the tokens (any new/additional tokens). If we can re-issue our old tokens, I can add them to the sheet too.

[2021-05-26 20:24] inferno-chromium commented on #329
no clue, lets start fresh with new tokens and better tracking/process.

[2021-05-26 20:24] naveensrinivasan commented on #329
can we do this as a DM in slack?

[2021-05-26 21:42] azeemshaikh38 commented on #430
Closing to track as part of #193

[2021-05-26 21:42] #430 closed

[2021-05-26 21:59] azeemshaikh38 opened #511 "Project: Scorecard UX"
This is an umbrella bug for tracking features/implementation work on improving `how users interact with Scorecard`. So far, we have:

1. Improved remediation: https://github.com/ossf/scorecard/pull/347#discussion_r616364482
2. Human readable HTML output: #342
3. Scorecard as a GitHub workflow: #193
4. Scorecard badge: #271
5. Tracking Scorecard data over time: #12

Let's use this space to discuss

[2021-05-26 22:02] inferno-chromium commented on #397
How different is this from https://github.com/ossf/scorecard/issues/405 ? ideally one of these should be milestone-q2, i kept the other one.

[2021-05-26 22:04] inferno-chromium commented on #316
this seems to work now, if yes close ?

[2021-05-26 22:07] inferno-chromium commented on #58
we need to make atleast one check run in cicd pipeline.

[2021-05-26 22:07] inferno-chromium commented on #9
this is done i think, right @laurentsimon , please close if yes.

[2021-05-26 22:40] laurentsimon commented on #9
I still want to add checks for release branches #445 , but I think we can close this one. I'll work on branches in #445.

[2021-05-26 22:40] #9 closed

[2021-05-26 22:43] laurentsimon commented on #397
It's the same underlying check, but surfaced in different scorecard checks. This one is about checking that the current repo belongs to a 'verified' org; whereas #405 is about checking collaborator affiliations - which is also a github org.

[2021-05-26 22:48] inferno-chromium commented on #397
ah thanks for explaining, in that this 'verified' thing in org will be nice, thoughts?

[2021-05-26 22:50] azeemshaikh38 commented on #511
One more: #58

[2021-05-26 23:23] naveensrinivasan commented on #316
It is working. We can open it reoccurs.

[2021-05-26 23:23] #316 closed

[2021-05-26 23:52] azeemshaikh38 commented on #510
IIUC, these failures are because the `gcloud` credentials lack the right permissions. I'd prefer to ignore these failures for now since we will very soon move to the PubSub framework and will be re-writing the `e2e` tests anyways.

However, this might be a good chance to consider how we will run our future integration tests for the PubSub cron job. Does it make sense to setup our integration tests

[2021-05-26 23:58] azeemshaikh38 opened #512 "BUG: Cron job looping"
**Describe the bug**
The cron job seems to be looping. After completing  a few hundred repos, it starts again from the top.

![image](https://user-images.githubusercontent.com/4825078/119745626-5f8b8f00-be43-11eb-8614-b4fef4829d95.png)

[2021-05-26 23:59] azeemshaikh38 commented on #512
FYI, we still do not have a successful run for >1 week. The job just ends for some reason and there are no logs/events which specify why.

[2021-05-27 00:58] laurentsimon commented on #397
well.. it may help give credibility to the org because it links the org's name to its website/domain. We'll never be sure the domain is genuine unless we keep a mapping between the two on our end, though.

[2021-05-27 01:27] oliverchang commented on #510
That sounds great, but I worry that it may slow down PR development if this integration test is very slow.

Perhaps instead we should do this on pushes to "main" only, and only build/push production images if they pass these tests.

[2021-05-27 02:37] oliverchang commented on #512
Those logs are aggregated so it's possible they're from two separate pods? i.e. the first one exited and then a second one started? I can't see the past pods info anymore on that though, was this cronjob recently recreated?

[2021-05-27 02:58] oliverchang commented on #512
Searching for some of these previously run pod IDs in the logs, I see:

[code]

In particular, the `"reason": "Killing",` bit indicates that it got evicted by Kubernetes somehow. Perhaps due to resource constraints (like OOM) now that you're running some batch workers as well?

[2021-05-27 04:23] azeemshaikh38 commented on #510
If its not too much effort to build such a "canary" system, then I vote for the same.

I have added this on the Scorecard bi-weekly agenda to discuss in more detail. Closing the issue for now.

[2021-05-27 04:35] azeemshaikh38 commented on #512
Same, I can't see past pods info either making it difficult to debug. I would be surprised if they were 2 pods running though, we have a policy to schedule only one at a time.

The PubSub worker is using ~30MB in memory. It shouldn't affect the regular cron job. If this is an OOM, my guess would be the bunch of [ArchiveURL calls](https://github.com/ossf/scorecard/blob/main/checks/checkforfile.go#L

[2021-05-27 17:46] laurentsimon commented on #512
try disabling FrozenDeps, yes. It's on my TODO list to share the archive between sub-checks, either by restructuring the code or using the BLOB_CACHE to cache. If this is the culprit, I'll bump the priority to do it.

do the pods have some disk/storage access? Is there a reason we're storing the .tar in mem and not to disk? I suppose disk will be slower and we need to clean up after each tests. Th

[2021-05-27 18:55] naveensrinivasan commented on #512
It is not a good idea to maintain state

[2021-05-27 20:08] azeemshaikh38 commented on #512
Does anyone know how to get the stack trace for these killed pods? I think we are only guessing about the cause so far.

In the meantime, I sent out https://github.com/ossf/scorecard/pull/518 to see if we can unblock ourselves here. I think its important to get the cron job running again.

[2021-05-27 20:46] naveensrinivasan commented on #512
Pod kill reason would have been logged within k8s.

[2021-05-27 20:46] naveensrinivasan commented on #512
Usually it is OOM.

[2021-05-28 14:40] naveensrinivasan commented on #510
Opening this issue as it is blocking running e2e for PR merges.https://github.com/ossf/scorecard/actions/runs/885890806

[2021-05-28 14:55] naveensrinivasan commented on #512
[code]

OOM Killed

[2021-05-28 15:59] naveensrinivasan commented on #510
Can you specifics as to why would want to rewrite the `e2e`?

[2021-05-28 19:19] naveensrinivasan opened #521 "Feature - Include large repository in e2e test"
**Is your feature request related to a problem? Please describe.**
Include a large repository for the e2e test to validate memory leaks.

**Describe the solution you'd like**

1. Docker run with constrained memory `--memory=900mb` scorecard
2. Use a large repository like https://github.com/ApolloAuto/apollo
3. If there is a memory leak it is likely to fail.

**Additional context**
https://github.c

[2021-05-30 04:08] chrismcgehee commented on #173
Just noting that one of the new linters, `scopelint`, has been deprecated:
[code]
We're already using `exportloopref`.

[2021-05-30 04:10] chrismcgehee commented on #173
@naveensrinivasan, I noticed in the yaml you posted as part of this issue, there are a group of linters commented out: exhaustivestruct, forbidigo, etc. Do you want these linters to be uncommented and enabled for this repo?

[2021-05-31 14:18] naveensrinivasan commented on #173
@chrismcgehee  I took the base one from here https://github.com/kubernetes-sigs/security-profiles-operator/blob/master/.golangci.yml a while back, as of now this is good. Let's open another issue for adding new linters.

I am going to close this issue.

Thanks

[2021-05-31 14:18] #173 closed

[2021-05-31 23:56] chrismcgehee commented on #58
I think I'd like to start work on this issue. Here are some of my thoughts:
- Snyk has multiple open source projects that parse dependency files. They are all written for node.js, so if we are willing to have a dependency on Node, we could support many languages without a great deal of work. Here's a partial list of dependency parsers:
   - [node.js](https://github.com/snyk/nodejs-lockfile-parser)

[2021-06-01 19:05] azeemshaikh38 commented on #510
Sure, if its easy, then lets do that. We can also consider writing a custom `PrintExporter` which implements the same interface as `StackdriverExporter` but simply prints these metrics instead.

Not all `e2e`, just the ones specific to `cron/main.go`. I'm assuming here that we'll be removing this from our codebase soon after the PubSub cron is in place.

[2021-06-01 20:55] laurentsimon commented on #412
Fixed by #466

[2021-06-01 20:55] #412 closed

[2021-06-01 21:24] laurentsimon commented on #403
1 is done as #469
2 `(curl | bash)` is going to take a little bit more work. We'll use [shellcheck](https://www.shellcheck.net/) for shell scripts, I think. We need to check bad patterns not only in shell scripts, but also in makefiles, and even in code `system(...)`, `os.popen()`, so we need some language support for this one.
I'll start with shell script.

[2021-06-01 21:27] inferno-chromium commented on #403
+1 shell script is a good start.

[2021-06-01 22:53] #510 closed

[2021-06-01 22:58] azeemshaikh38 commented on #512
The cron job still has not finished a successful run. I don't want to spend any more cycles on debugging/fixing it. Instead I propose that we work on productionizing the PubSub cron instead. I'm closing this issue, if someone feels otherwise, please feel free to re-open.

[2021-06-01 22:58] #512 closed

[2021-06-02 15:49] laurentsimon commented on #352
several teams are looking at using the results of scorecard, so let's make our results more consistent. Making this a q2 milestone.

[2021-06-02 17:12] naveensrinivasan commented on #352
Who are the several teams? Could you please name some of them?

[2021-06-02 17:22] naveensrinivasan opened #529 "BUG - PubSub worker filling up logs"
**Describe the bug**
The pubsub worker is filling up logs with these messages

`timeSeries[0-199]; rpc error: code = ResourceExhausted desc = One or more TimeSeries could not be written: Monitored resource (scorecard-batch-worker-6d8c74b67d-v2tlf) has too many time series (custom metrics).: timeSeries[0-199]; rpc error: code = ResourceExhausted desc = One or more TimeSeries could not be written: M

[2021-06-02 19:45] laurentsimon commented on #427
TODO: [frozen_deps.go#L207](https://github.com/ossf/scorecard/blob/main/checks/frozen_deps.go#L207) and [frozen_deps.go#L220](https://github.com/ossf/scorecard/blob/main/checks/frozen_deps.go#L220)

[2021-06-02 21:00] laurentsimon commented on #414
I'm going to create this check as a new standalone one. I don't have a good name for it yet. It'd be useful to have a generic name that could encompass other checks like #426 too?

[2021-06-02 21:34] inferno-chromium commented on #426
Dangerous permissions
or something :)

[2021-06-03 21:23] laurentsimon commented on #432
result from scorecard:
[code]

[2021-06-04 13:55] naveensrinivasan opened #542 "Feature - Handle Renovate bot package.json"
**Is your feature request related to a problem? Please describe.**
https://github.com/ossf/scorecard/pull/322 , does not handle `package.json (within a "renovate" section)` https://docs.renovatebot.com/configuration-options/

[2021-06-04 14:48] naveensrinivasan commented on #179
closing it #322

[2021-06-04 14:48] #179 closed

[2021-06-04 15:26] naveensrinivasan opened #545 "Feature - Improve Tarball caching for CheckIfFileExists"
**Is your feature request related to a problem? Please describe.**
The tarball is downloaded multiple times across scorecard for multiple checks with `CheckIfFileExists`
https://github.com/ossf/scorecard/blob/1ec9ada1376abbd82a19ad97af9e405a51eeafa3/checks/checkforfile.go#L30

This function does not use HTTP caching because the caching initially stores in memory even though disk or blob cache is c

[2021-06-04 15:31] naveensrinivasan commented on #545
We could try increasing the node size and changing the max memory for the pods and try out if the solution works. This does not involve much effort.

@azeemshaikh38 @inferno-chromium

[2021-06-04 17:31] laurentsimon commented on #432
Once this is fixed, also create an e2e test in scorecard.

[2021-06-04 18:00] azeemshaikh38 commented on #545
I have already increased the node size and max memory for worker pods using the `worker-node-pool` (I had updated the k8s file locally, will submit the PR later).

As for the HTTP caching - it won't give us much benefit in terms of API quotas since we only make a handful of repeated calls per repo. The alternative of streaming to disk and reading from there seems good to me, but maybe if we can ge

[2021-06-04 19:10] laurentsimon opened #548 "New Check: time to fix security vuln"
It would be nice to be able to provide insight into the time it takes for developers to fix issues, ie how responsive they are. That's not super easy since bugs have various levels or priority (critical vs medium vs etc).

OSV may be a good source of data for this. We could try to mine github data but that seems harder.

@jeffmendoza FYI

[2021-06-04 19:12] laurentsimon commented on #383
An idea could be to search for dependency files, and when we find one, look for the corresponding lock files that should live in the same folder. Everything that lives outside this folder could be considered not pinned. We can then compute the percentage of LoC that is pinned vs non-pinned; and use this as a score.

@jeffmendoza FYI

[2021-06-04 19:37] asraa commented on #445
I can try this :) Commenting in case that will allow assign-ability :P

[2021-06-04 19:38] laurentsimon commented on #445
yaaay... it worked! Thanks @asraa

[2021-06-04 20:01] naveensrinivasan commented on #545
The caching is using blob store and so in the subsequent runs will use the cache and not use the API quotas if the content hasn’t been updated.

[2021-06-04 20:32] azeemshaikh38 opened #549 "BUG: PubSub worker not Ack-ing requests"
**Describe the bug**
The PubSub job is not ack-ing the received messages, resulting in messages being re-delivered multiple times. The requests are being successfully ack-ed according to the logged metrics (image below), but the number of un-acked messages doesn't seem to be going down at all. Not sure what might be the issue. I even tried a local test where I pull the message and immediately `Ack

[2021-06-04 20:36] azeemshaikh38 commented on #545
Do you mean with the help GitHub conditional requests / `Last-Modified` tags? Because it doesn't do that today AFAICT?

[2021-06-04 22:11] kimsterv commented on #58
Bullets 2 - 4 all make sense to me!

For bullet 1, maybe it can be built in such a way to be pluggable so if there are other projects that parse dependency files, users would have options?

[2021-06-05 06:32] inferno-chromium commented on #549
My guess is some error in https://github.com/ossf/scorecard/blob/3b86d5721784b035669d13e6b8afddfbbeddef98/cron/worker/main.go#L172
which is not logged and hence we cant tell what is reason for it.
[code]
my usual process of debugging is to add more logging and then check those log messages/error in stackdriver.

[2021-06-05 21:27] chrismcgehee commented on #58
I do like the idea of a pluggable architecture. I think it would be good for our project to compile in parsers for at least the popular dependency files. That way the user can download a single binary, and it will work out of the box. We can then have an option for the user to configure their own parser.

I cloned one of the Snyk repos I mentioned, and I don't think that will be useful here. They

[2021-06-06 19:22] azeemshaikh38 commented on #549
Hmm, no I ruled that out by some local testing. I'm going to send out a PR to make sure we don't re-process a request for which a shard already exists. That'll save us some tokens. Will keep this issue open to see how to solve the `Ack` issue.

[2021-06-07 08:48] oliverchang commented on #549
Have you tried reverting to gocloud to see if the behaviour is the same here?

[2021-06-07 14:08] inferno-chromium commented on #298
@asraa - do you have cycles to give this a try, see comment from @dlorenc - https://github.com/ossf/scorecard/issues/298#issuecomment-829578524 At this point, we just care on seeing if sigstore is used (verifying can come later).

[2021-06-07 15:49] naveensrinivasan commented on #432
![image](https://user-images.githubusercontent.com/172697/121049960-3396d480-c786-11eb-8f95-373b1c7c122d.png)

FYI. I am changing the permissions to read-only and fixing it while testing the changes.

[2021-06-07 15:56] inferno-chromium commented on #432
Great, i dont know if the check looks for read-only enforcement in settings (it looks on per-file basis), maybe you need to update the check to account for that as well.

[2021-06-07 15:58] naveensrinivasan commented on #432
I agree. The code fix does not have that and AFAIK there isn't an API. The existing fixes will provide false positives. Till we have an API to check for these settings we should not run this check to avoid false positives.

Thoughts?

[2021-06-07 16:53] laurentsimon commented on #432
there's no API at the moment, you're right. However, since this is a new github config, virtually nobody is going to have this turned on, so we have a chance to influence how developers turn this feature on with our remediation steps. So I think it's fine  to only look at the file for now and see if people complain - hopefully very few.

[2021-06-07 23:47] azeemshaikh38 commented on #549
Yeah gocloud also has the same behaviour. I have started an internal bug with the Cloud PubSub oncall to get more help here.

[2021-06-08 00:57] naveensrinivasan commented on #432
I feel this is a lot of work of teams to manually go and fix each and every workflow file when that setting is available within the UI which is a click away. I feel teams wouldn't want to run these checks.

IMO opinion we would wait for this till the API is available so that we can check if the setting has been turned on and then Fail along with this check.

Thoughts @inferno-chromium @azeemshaikh

[2021-06-08 02:09] laurentsimon commented on #432
You make a good point about the UX being easier, I agree.

I think there are 2 scenarios:
1. scorecard cron running on external repos, ie we don't have a token.
Do you think Github will provide an API? Or will they take the view, like for Branch protection, that they don't want to expose it?
In this case we're left trying to infer it via the current code. We could also look up the previous runs an

[2021-06-08 03:14] inferno-chromium commented on #432
Should be a simple lookup on e.g. https://github.com/ossf/scorecard/settings/actions

[code]

[2021-06-08 05:19] inferno-chromium commented on #432
Feels slightly annoying since requires querying security settings on both repo level and org level. org level might not be even accessible to repo devs. such a nightmare (and also burns api quota).

Is this even doable, like is there a way to distinguish read run?

This shouldnt be crazy amount of work for dev and it is best for them to fix those 5-10 avg workflows themselves (rather than doing ba

[2021-06-08 08:08] oliverchang commented on #432
This doesn't sound too reliable if we're relying on querying something in an unsupported way that could change at any time.. Not sure if we should hold our breath for this to be an exposed API either..

If this works, it seems like something that would be pretty API-usage heavy?

Maybe we should just push for people to set this in workflow files as a best practice, even if they might have the UI s

[2021-06-08 16:41] laurentsimon commented on #432
it's possible using this [API](https://docs.github.com/en/rest/reference/actions#list-workflow-runs-for-a-repository). It's API intensive: need to 1) list workflow runs, 2) list jobs for each workflow, 3) query job logs, 4) fetch the url given in a header. I just tried 5mn ago, and realized the API is not accessible without a maintainer's PAT. So this is not going to help us.

I also like this app

[2021-06-08 17:02] laurentsimon commented on #426
Thinking of broadening this check to "Dangerous workflow coding patterns":
1. dangerous events: `pull_request_target`
2. use of variable in `run` scripts: this lead to injection, see [here](https://docs.github.com/en/actions/learn-github-actions/security-hardening-for-github-actions#understanding-the-risk-of-script-injections). The use is not always vulnerable, e.g. if the value is not attacker's

[2021-06-08 18:05] azeemshaikh38 commented on #58
Let's discuss this in our upcoming bi-weekly.

[2021-06-08 22:21] naveensrinivasan commented on #432
After this I concur it makes sense to go with the approach. Thanks.

[2021-06-09 00:10] azeemshaikh38 commented on #529
This might be coming from `number of active time series per metric` limit, which is 30k -

![image](https://user-images.githubusercontent.com/4825078/121272765-a03fcb00-c87b-11eb-9ffa-6f795a2ae065.png)

I think we easily exceed this limit given that we log at `per repo per check` granularity. So for ~3k repos and 15 checks we have about ~45k unique time series. This is worse for outgoing HTTP requ

[2021-06-09 00:43] azeemshaikh38 commented on #549
A weird thing happened here, after worker finished processing all requests the subscription immediately `ack-ed` all requests at once -
![image](https://user-images.githubusercontent.com/4825078/121275198-febb7800-c880-11eb-9358-147d02e1b004.png)

Keeping this bug open still understand what happened here, but on a lower priority.

[2021-06-09 16:40] azeemshaikh38 commented on #529
https://github.com/ossf/scorecard/pull/556 seems to have fixed the Stackdriver failures. Closing this issue.

[2021-06-09 16:40] #529 closed

[2021-06-09 17:26] azeemshaikh38 opened #561 "BUG: projects-update script not working"
@asraa @naveensrinivasan - the `projects-update` script (https://github.com/ossf/scorecard/blob/main/cron/data/update/main.go) which adds dependencies to the `projects.csv` file doesn't seem to be working and throws a lot of errors when run. Is this expected? What's the current status of this script?

[2021-06-09 21:02] asraa commented on #561
Do you have logs? Dont' know the status but I can help diagnose

[2021-06-09 21:23] azeemshaikh38 commented on #561
You can run this at HEAD to reproduce:

[code]

It's dumping out various errors like these:

[code]

[2021-06-09 21:58] laurentsimon opened #564 "Feature: Pin dependencies for k8"
Pin dependencies for k8, e.g. `kubectl create deployment hello-node --image=k8s.gcr.io/echoserver:1.4`

[2021-06-09 22:11] azeemshaikh38 commented on #511
#304

[2021-06-10 01:59] chrismcgehee commented on #511
Azeem suggested I work on adding remediation results to scorecard (#304), so I'll be doing that next. I'll be following what he laid out in his comment https://github.com/ossf/scorecard/pull/347#discussion_r616364482.

[2021-06-10 05:06] azeemshaikh38 commented on #511
Thanks for taking this up Chris, this'll be a great help!

[2021-06-10 13:04] asraa commented on #561
:( I'm not sure why they're assumed to be vanity URLs if they're not github. @naveensrinivasan

[2021-06-10 18:37] azeemshaikh38 commented on #247
I've setup alerting for PubSub when there are: (i) repeated worker restarts and (ii) CheckRuntime 95th percentile latencies are higher than 10min.

![image](https://user-images.githubusercontent.com/4825078/121579050-312fb700-c9e0-11eb-995a-b5ba7e51cf40.png)

Stackdriver monitoring for CheckRuntime, RepoRuntime and OutgoingHTTPRequests are also in place and working fine so far.

Closing this issue

[2021-06-10 18:37] #247 closed

[2021-06-10 20:32] asraa commented on #298
Looking into this, my main problem is figuring out where the github project is uploading their containers/packages.
Searching for stuff like "gcr.io" or "docker.io" in the github repository *might* work, but there' would be lots of false positives if we did that and expected that to be the projects distribution.

[2021-06-11 08:12] pacospace opened #568 "Feature: Add another bot to manage dependencies"
**Is your feature request related to a problem? Please describe.**
Many projects rely on https://github.com/marketplace/khebhut for dependency management of Python projects. Therefore scorecards for that check (https://github.com/ossf/scorecard/blob/main/checks/checks.md#automatic-dependency-update) are not happy for those projects.

**Describe the solution you'd like**
Add new Bot https://github.

[2021-06-14 04:06] naveensrinivasan opened #573 "The integration tests are broken."
Unrelated to this PR and is happening on all PRs. Not sure how to fix it though, `go mod download` or `go mod tidy` doesn't seem to have any effect.

_Originally posted by @azeemshaikh38 in https://github.com/ossf/scorecard/issues/569#issuecomment-860347109_

[2021-06-14 15:37] KPostOffice opened #575 "Commit based scorecard"
**Is your feature request related to a problem? Please describe.**
I would like to be able to create a score card for either specific releases or commits on GitHub so that I can meaningfully show how a project's health has changed on a release by release basis.

I understand that some scorecard indicators might not work because they interact directly with the GitHub api and are not dependent on th

[2021-06-14 17:04] asraa commented on #298
I'm happy to keep this assigned, but given that there's no canonical place to look for artifact signing, I think we should hold off for about a quarter until there is one. Cosign itself doesn't have a good location to check for images.

[2021-06-14 18:16] azeemshaikh38 opened #578 "BUG: CheckFileExists/CheckFileContent performance issues"
The `CheckFileExists` and `CheckFileContent` functions are used by multiple checks.  These fns seem to be really slowing down the Scorecard run though. On some runs these checks can take >1hr to run.

![image](https://user-images.githubusercontent.com/4825078/121938037-2fc3fe80-cd00-11eb-9278-3d4efff0b67d.png)

The CPU profile confirms that the TAR decompression is the real culprit here:
![image](

[2021-06-14 18:50] inferno-chromium commented on #578
if we shift to endpoint, that will work only for github repos, how about other repos if we want to support (gitlab, etc?) or even just directories as input (git-on-borg case). do these checks share the archive or keep redownloading+unpacking it again and again (that could be a nice optimization to do it once per repo). another thing could be cloning the repo in a shared place (e..g cloud filestore

[2021-06-14 19:37] azeemshaikh38 commented on #578
Not really, it would be easier to support other usecases with this endpoint in comparison to what we currently have. In terms of a generic `RepoInterface` - today we expect clients to support an equivalent of `GetRepoTarball` call. Instead, with the new endpoint we would expect clients to support `ListFiles` and `GetFileContent` call which is far more generic (especially in a local directories use

[2021-06-14 20:24] inferno-chromium commented on #578
Makes sense now, so more like an interface! And for github it is more optimized. just api quota is a pain, we can knock it off completely if we sync the repo locally. maybe good to discuss in today's meeting.

+1

[2021-06-14 23:25] #366 closed

[2021-06-15 04:51] azeemshaikh38 opened #580 "Investigate HTTP and Gitcache effeciency"
Following up on the discussion we had during bi-weekly. Our current monitoring shows that HTTP and Gitcache don't seem to be providing any benefit in terms of how many requests get served out of cache -

![image](https://user-images.githubusercontent.com/4825078/121994590-64fd3a80-cd5a-11eb-9668-160dc6a1f585.png)

Investigate whether something is off in the way we have setup these caches or in the

[2021-06-15 04:52] azeemshaikh38 commented on #578
@laurentsimon assigning this to you for now.

[2021-06-15 15:42] laurentsimon commented on #578
awesome! Sorry I got distracted yesterday and did not get the chance to respond on the bug.

[2021-06-15 16:37] #445 closed

[2021-06-15 16:37] psiinon opened #581 "Support DAST tools like ZAP"
**Is your feature request related to a problem? Please describe.**
Score Card already reports certain SAST tools in use, reporting DAST tools would seem to be a good enhancement.

**Describe the solution you'd like**
Report detected DAST tools in a similar way to SAST ones :)

**Describe alternatives you've considered**
N/A

**Additional context**
The ZAP GitHub actions are the easiest way to dete

[2021-06-15 17:17] laurentsimon commented on #397
Fixed in [#534](https://github.com/ossf/scorecard/pull/534)

[2021-06-15 17:23] laurentsimon commented on #414
Done in [#534](https://github.com/ossf/scorecard/pull/534), except for point 3 and 4.

[2021-06-15 18:09] asraa commented on #397
It would be useful when Details is implemented to mention the domains that the organization has ownership over (a scorecard user can then go and check whether they find those domains trustworthy, or use some mapping).

So if I follow correctly:
This issue is about checking if a repo belongs to a verified organization (create a new check: Verified-Repo?)
#405 is about checking if contributors belon

[2021-06-15 19:05] laurentsimon commented on #397
Correct.

[2021-06-15 19:15] asraa commented on #397
/assign @asraa
:D

[2021-06-16 15:54] laurentsimon commented on #383
@asraa FYI

[2021-06-16 18:44] laurentsimon commented on #581
Thanks for the suggestion.

[2021-06-16 18:56] laurentsimon commented on #575
That's an interesting feature to have, thanks for the suggestion. Any checks that are looking at file content (frozen dependencies, binary artifacts checked-in, etc) would work in this model. In the future, we would like to support other type of code source: not only online repos, but also files/directories on disk, e.g. `scorecard --repo=file://`. This would make commit-based checks feasible.

We

[2021-06-16 19:01] laurentsimon commented on #58
did we forget to discuss this in the last meeting?
btw, there's also [deps.dev](https://deps.dev) which offers a REST API and would do all the heavy lifting for us.

[2021-06-17 00:49] azeemshaikh38 commented on #580
Turns out `httpcache` internally already handles `last_modified` GitHub headers - https://github.com/naveensrinivasan/httpcache/blob/master/httpcache.go#L175.

So I'm going to update the way we record these stats to see if the cache is actually working.

[2021-06-17 02:42] naveensrinivasan commented on #580
Great! Thanks

[2021-06-17 04:34] azeemshaikh38 commented on #578
Did some more digging and found something interesting. Looks like there is some thread contention issues going on with the threads that use the `tar/gzip` readers, i.e checks which call `CheckIfFilesExist` and `CheckFilesContent`:

![image](https://user-images.githubusercontent.com/4825078/122331411-a07a3f00-cee9-11eb-83c5-db9ef94e6785.png)

Diagram:

![image](https://user-images.githubusercontent

[2021-06-17 06:29] oliverchang commented on #578
Hmm, I'm unsure how to interpret these graphs/stacks. What gives the indication that it's waiting on the same locks/condition vars (rather than e.g. waiting for the network)?

From memory the tar format doesn't have some kind of central directory for all the files it contains. This means we have to seek through the whole archive to get a list of files, which might be very slow based on how we're d

[2021-06-17 17:19] azeemshaikh38 commented on #578
I think you are right. The Golang page for `http.Response.Body` reads - `The response body is streamed on demand as the Body field is read.` So, looks like we leave the TCP connection open as we make the `tar.Next()` calls to stream in more data. Which explains the below graph in which higher latency periods correspond to higher network input:

![image](https://user-images.githubusercontent.com/48

[2021-06-17 22:16] azeemshaikh38 commented on #580
Looks like even with the monitoring change, there is no indication that a cache is being used.

[2021-06-17 22:34] azeemshaikh38 commented on #578
Improvement in network bytes received using `RepoClient` interface:

![image](https://user-images.githubusercontent.com/4825078/122480271-63fa2200-cf81-11eb-8093-36264539871a.png)

Closing this issue, but will continue monitoring to be sure.

[2021-06-17 22:35] #578 closed

[2021-06-17 22:37] oliverchang commented on #578
Very nice!!

[2021-06-18 01:11] naveensrinivasan opened #589 "BUG - Scorecard OOM Killed"
**Describe the bug**
With the latest changes, scorecard is OOM killed for large repository #587

[code]

[2021-06-18 01:11] naveensrinivasan commented on #589
@azeemshaikh38  FYI

[2021-06-18 03:01] chrismcgehee commented on #58
I saw it wasn't on the agenda, but I didn't bring it up because I'll be working on another issue first. Plus I'll be pretty busy the next few weeks getting our house ready to list.

I'll definitely give that look!

[2021-06-18 04:14] azeemshaikh38 commented on #589
Argh, I was hoping we could get away with the in-memory repos given we have a 16GB limit. Sent out a PR to fix this.

[2021-06-18 07:03] #589 closed

[2021-06-20 19:37] naveensrinivasan opened #594 "BUG - Some e2e tests are failing"
**Describe the bug**
[code]
https://github.com/ossf/scorecard/runs/2870164426?check_suite_focus=true

[2021-06-20 19:48] naveensrinivasan commented on #573
Fixed by #593

[2021-06-20 19:48] #573 closed

[2021-06-20 19:57] azeemshaikh38 commented on #594
@laurentsimon

[2021-06-20 20:40] naveensrinivasan commented on #594
@azeemshaikh38 Looks like this one broke some of the `e2e` https://github.com/ossf/scorecard/commit/c41f0682233fe2b6bb2772949c919bdcf9d7e586

It assumes the file will be there on the disk.

[2021-06-21 15:15] naveensrinivasan opened #596 "Feature - Implement filetype check for additional filetypes"
**Is your feature request related to a problem? Please describe.**
The binary filetype check implemented in https://github.com/ossf/scorecard/pull/563 does not cover filetype checks for `so`, `.iso`, and a few of them.  These checks can be implemented using this approach https://github.com/h2non/filetype#add-additional-file-type-matchers. Scorecard uses `h2non/filetype` for checking the actual fil

[2021-06-21 18:41] laurentsimon commented on #594
there's another issue:
[code]

It looks like `RepoClient` is not set. We may have forgotten to set it when defining the structure. Let me have a look.

[2021-06-22 17:58] azeemshaikh38 commented on #262
Closing this issue now. We have ~15 tokens now.

[2021-06-22 17:58] #262 closed

[2021-06-22 18:00] azeemshaikh38 commented on #218
Closing this issue. We now have a cron job which regularly populates the public BigQuery dataset `openssf.scorecardcron.scorecard`.

[2021-06-22 18:00] #218 closed

[2021-06-22 18:02] azeemshaikh38 commented on #549
Closing this issue. Following up internally on a low priority basis. So far the internal team doesn't seem to find any cause for concern and thinks it is working as expected.

[2021-06-22 18:02] #549 closed

[2021-06-22 18:19] azeemshaikh38 commented on #318
Update:

1. We now have the end-to-end scaled architecture setup and running.
2. Cron job runs on a weekly basis instead of daily to handle the large number of repos.
3. 30k repo data was published last week and this week's run will publish 50k when it completes.
4. We removed BQ data transfer service and setup a custom data transfer job which runs 2x/week.

Next steps:
1. `CheckIfFileExists` and

[2021-06-22 21:41] laurentsimon commented on #403
@inferno-chromium @oliverchang @naveensrinivasan I'm starting to work on `2. repo clones without pinning, e.g. from github.`
I worry this is going to throw false positives whenever CI/CD runs integration tests or releases - scripts will fetch the latest code. So I'm thinking of detecting if the `git clone reponame` is for the same repo scorecard is analyzing or not.
WDUT?

[2021-06-23 22:54] inferno-chromium commented on #403
you mean catching cases of building from source where people use just trunk and no pinned version/hash. i am expecting this will be crazy ton of false positives? which usecase example where you thinking to solve?

[2021-06-23 23:35] laurentsimon commented on #403
correct. I've seen this sort of bugs caught in reviews where the Makefiles would just pull sources from various repos, e.g. `git clone _some_repo_`. I also expect there will be false positives due to genuine cases. Let's shelve this repo chekc for now then?

[2021-06-24 00:34] inferno-chromium commented on #403
yes, but lets file a seperate issue to track this, seems important to think more on this.

[2021-06-24 02:16] nasifimtiazohi opened #607 "latest.json is not in valid json format"
**Describe the bug**
https://storage.googleapis.com/ossf-scorecards/latest.json is not valid Json.
For example, opening in Firefox shows `SyntaxError: JSON.parse: unexpected non-whitespace character after JSON data at line 2 column 1 of the JSON data`.
I am also unable to read the `json` response programmatically through `serde_json` package in rust.

The file currently holds data for each repo in

[2021-06-24 16:09] laurentsimon opened #608 "New check: unpinned repo clone"
**Is your feature request related to a problem? Please describe.**
detect `git`, `hg` and other source management tools used to clone repo without pinning by hash.
This check is problematic because there are many legitimate reason to do this, especially for one's own repo. Example, for integration tests, etc.
Maybe we could detect repo clones that are different from the repo itself. Note that depe

[2021-06-24 17:22] naveensrinivasan commented on #607
Scorecard does not publish results to the latest.json. The data is published to BigQuery https://github.com/ossf/scorecard#public-data

[2021-06-24 17:22] #607 closed

[2021-06-24 17:26] laurentsimon opened #609 "Feature: support for `python -m pip install` detection"
**Describe the feature**
we currently don't detect https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dockerfiles/partials/ubuntu/bazel.partial.Dockerfile

We only detect `pip install`.  We should add support

[2021-06-24 23:36] laurentsimon opened #613 "New check: download of .whl followed by pip install"

[2021-06-24 23:42] laurentsimon commented on #613
@inferno-chromium @oliverchang @naveensrinivasan Any comments on these checks?
FYI @rsprabery

[2021-06-24 23:56] naveensrinivasan commented on #594
Closing it #598

[2021-06-24 23:56] #594 closed

[2021-06-25 20:57] azeemshaikh38 opened #615 "FYI: pausing PubSub cron controller"
Just an FYI that I have temporarily paused the cron controller. I'm debugging/working on some performance improvements in the PubSub worker and don't want to publish to PubSub topic when not needed. Will manually keep running the controller whenever an older run finishes. Will resume the cron job once performance work is completed.

[2021-06-26 22:01] naveensrinivasan commented on #615
Cool, Thanks. What are the issues/performance improvements?

[2021-06-26 22:10] azeemshaikh38 commented on #615
Working on improving the tarball decompression issue as of now. Instead of decompressing on every call of `CheckFile*`, we should do it once during `InitRepo` and use the underlying data after.

[2021-06-26 22:46] naveensrinivasan commented on #615
Thanks! for the update.

[2021-06-27 14:47] naveensrinivasan opened #617 "BUG - Frozen Deps failure"
**Describe the bug**
[code]

[2021-06-28 05:39] inferno-chromium commented on #52
@oliverchang - we have a launch sometime this week, is this doable in next 2-3 days?

[2021-06-28 06:06] inferno-chromium commented on #400
fixed, closing.

[2021-06-28 06:06] #400 closed

[2021-06-28 06:08] inferno-chromium commented on #288
I dont think this is needed with new architecture, working well even for 50k repos, please reopen if needed.

[2021-06-28 06:08] #288 closed

[2021-06-28 06:13] inferno-chromium commented on #12
This is now in bigquery.
https://github.com/ossf/scorecard#public-data

[2021-06-28 06:13] #12 closed

[2021-06-28 06:40] oliverchang commented on #52
Will try to tackle this tmrw.

[2021-06-28 20:28] #617 closed

[2021-06-29 02:59] azeemshaikh38 opened #629 "BUG: `ZeroConfidenceError` and `RetryError` in cron job"
During the cron job run, checks constantly throw out `ZeroConfidenceError` and `RetryError`. Some checks are doing this more often than the others. This hurts the data quality of the output of our cron job. Filing this bug to track the investigation and understanding the reason behind this.

Some plots that shed light on this:

1. Error count plots available in the GCP monitoring dashboard `Scorec

[2021-06-29 03:00] azeemshaikh38 opened #630 "Feature: README.md for dependabot PRs"

[2021-06-29 03:07] azeemshaikh38 opened #631 "Feature: Data plots for analyzed repos"
Now that there is a good chunk of data on 50k+ repos, we could consider maintaining a dashboard (e.g through DataStudio), which analyzes this data and can show some interesting insights on the repos we analyze regularly.

It will help us understand what extra data we could potentially add to make the analysis more useful (e.g maybe repo metadata should have repo language as well). We can also make

[2021-06-29 03:09] #52 closed

[2021-06-29 03:33] azeemshaikh38 opened #632 "Feature: Randomly assign reviewers for dependabot PRs"
To handle the volume of dependabot PRs, setup a rule/workflow such that incoming dependabot PRs will be randomly assigned a reviewer. It will be the assigned reviewer's responsibility to make sure the PR is safely merged into `main`.

Not sure if this is easy to setup. I found this tool which claims to do the exact thing though - https://mergify.io/.

[2021-06-29 16:46] laurentsimon commented on #629
On Mon, Jun 28, 2021 at 8:00 PM Azeem Shaikh ***@***.***>
wrote:

dependabot file, it may be because users have enabled dependabot in the
github UI.

This seems arbitrary. I think it's not set to 1 because there may be other
signature extensions ppl use. We could set it to 1 and wait for people to
complain.

https://github.com/ossf/scorecard/blob/6a2a1faa6f04cde06b292204293e687ca4d9bfe2/checks/che

[2021-06-29 17:41] azeemshaikh38 commented on #545
Closing this as we don't have tarball caching issues anymore.

[2021-06-29 17:41] #545 closed

[2021-06-30 18:08] naveensrinivasan opened #636 "Feature - Scorecard domain name"
**Is your feature request related to a problem? Please describe.**
The scorecard needs a web frontend to hold documentation(possibly other things). A vote to choose the scorecard FQDN.

Here are a couple of choices

1. https://scorecard.dev
2. https://scorecards.dev

[2021-06-30 18:08] naveensrinivasan commented on #636
https://scorecard.dev

[2021-06-30 18:09] naveensrinivasan commented on #636
https://scorecards.dev

[2021-06-30 18:10] naveensrinivasan commented on #636
@azeemshaikh38 @laurentsimon @inferno-chromium @chrismcgehee @kimsterv

[2021-06-30 20:44] laurentsimon commented on #636
note that the repo name is scorecard, but our upcoming blog post refers to the project as `scorecards` with an `s`.

[2021-06-30 20:45] naveensrinivasan commented on #636
🤦

[2021-06-30 20:46] laurentsimon commented on #636
see the initial announcement last year too https://opensource.googleblog.com/2020/11/security-scorecards-for-open-source.html

[2021-06-30 23:17] laurentsimon commented on #511
any update on this effort?

[2021-06-30 23:21] laurentsimon commented on #511
Assigning to myself. In addition to the above, some requisites also include cleaning up how we manage:

1. [score vs confidence](https://github.com/ossf/scorecard/issues/352)
2. error handling (wrapped error, something else). @naveensrinivasan can you send the link about the various options for doing this in golang?
3. error detail reporting

[2021-07-01 01:15] laurentsimon commented on #629
@naveensrinivasan any thoughts on this? I personally don't mind setting all of these to 1 and wait to see if there's push back.

[2021-07-01 01:17] #349 closed

[2021-07-01 02:12] azeemshaikh38 commented on #629
github UI.

I think 5 is fine here if we can add details why it was rated so. 3 is too arbitrary a number.

+1. I agree that we should rate this at 10 confidence since I don't expect too many types of signature extensions. If they exist and we don't handle it, we should. And if its something that's not very standard, we fail.

I think 5 is ok depending on what we are trying to imply here. We can a

[2021-07-01 02:16] naveensrinivasan commented on #629
I came up with `3` from this comment https://github.com/ossf/scorecard/pull/322#discussion_r606685146

[2021-07-01 03:46] oliverchang commented on #636
Why not both? :) We can redirect one to the other.

[2021-07-01 04:40] inferno-chromium commented on #636
yes exactly that is already done.

[2021-07-01 16:19] azeemshaikh38 commented on #629
In that case, let's add more detail to this failure.

[2021-07-01 18:37] azeemshaikh38 commented on #629
Actually, I take that back. Let's consider how Scorecard results are applied by teams/users. A `FAIL` Scorecard check result means something is off with the repository and needs to be fixed/looked at more thoroughly. While a `PASS` result simply means - `we didn't find anything obviously wrong here`.

So IMO, Scorecard checks should only `FAIL` with a high degree of confidence. Our fallback should

[2021-07-01 18:50] azeemshaikh38 opened #638 "BUG: handling symlinks"
During [tarball extraction](https://github.com/ossf/scorecard/blob/main/clients/githubrepo/client.go#L135), we skip any file that is [not a regular file or directory](https://github.com/ossf/scorecard/blob/main/clients/githubrepo/client.go#L155). A common type of file that I'm seeing in the cron job is symlinks. Here's an [example](https://github.com/a1ive/grub2-filemanager/blob/master/boot/grubfm

[2021-07-01 18:51] laurentsimon commented on #629
and maybe long-term use a `N/A` when we have low confidence

[2021-07-01 20:58] laurentsimon opened #639 "New feature: detect archived projects"
Enhance the Active check with the archived status of a project:
https://github.com/a1ive/grub2-filemanager is an archived project

More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/archiving-a-github-repository/about-archiving-repositories

[2021-07-01 23:09] azeemshaikh38 commented on #318
Improvements in HTTP requests and performance after #640:

![image](https://user-images.githubusercontent.com/4825078/124198934-a7c35000-da86-11eb-87d6-25d49b5fee26.png)

[2021-07-01 23:31] #638 closed

[2021-07-02 00:22] inferno-chromium commented on #639
https://pkg.go.dev/github.com/google/go-github/v35/github#Repository.GetArchived
i hope we have repo object already to get the archived attribute, we shouldnt burn api quota on this. in worst case, after 2-3 months, it should autofail on active.

[2021-07-02 00:53] oliverchang commented on #629
+1 to some thing that indicates `N/A`. We need to distinguish between issues with our checks vs a true failure.

[2021-07-02 00:56] oliverchang commented on #318
That's amazing! Should hopefully reduce a fair bit of our quota consumption for REST API requests.

[2021-07-02 01:44] inferno-chromium commented on #318
wow wow wow! that big of a win, great job Azeem is locating this bottleneck!

[2021-07-02 01:49] inferno-chromium commented on #629
yes it would be a nice time to fix these check failure differences (and this confidence inconsistencies), from this point, we would be looking at trendlines on big query datasets (how useful was remediation over time), so lets probably discuss this in next scorecard sync in detail, then we fix this so that data cleans up.

[2021-07-02 07:30] hazcod opened #642 "Panic on scorecard execution"
**Describe the bug**
A scorecard run triggers a sigsev panic.

**Reproduction steps**
[code]

[2021-07-02 10:20] niks12 opened #645 "unable to run go build"
**Describe the bug**
A clear and concise description of what the bug is.
I am unable to run go build command it throws error, I have checked go env in my systems  , I moved scorecard repo to $GOPATH/src folder but still no luck.
I am not good in go langague, so it would be better if you update proper installation method in README  about setting up or checking go env before run go build.

My error

[2021-07-02 15:41] naveensrinivasan commented on #642
Thanks, I can't seem to reproduce this on the main branch. Could you point it to the main branch and try it?

[code]

[2021-07-02 16:02] naveensrinivasan commented on #639
With waiting for a couple of months we could be providing false results if the project is marked archived. Scorecard shouldn't be providing false positives. What are your thoughts?

We don't have the Repository object in the Active check.

[2021-07-02 16:10] naveensrinivasan commented on #645
Can you run the `make build-scorecard`?  The https://github.com/ossf/scorecard/blob/main/Makefile has all the make targets to build and run.

[2021-07-02 16:20] laurentsimon commented on #639
@azeemshaikh38 is working on using graphQl to reduce the number of tokens we need. Hopefully that will allow us to retrieve this information without burning API quotas.

[2021-07-02 16:21] naveensrinivasan commented on #334
@laurentsimon This will be a good first issue. If you aren't working on it, can you remove the assignment?

[2021-07-02 16:24] laurentsimon commented on #629
this sounds like a good idea but does not work for all checks. The one that looks for dependabot config is an example. If we find the config file, we know it's enabled. If we cannot find the file, we don't know if it's enabled in the GH settings. If we were to pass by default, this check would always pass, no matter what. Let's discuss more.

[2021-07-02 16:41] laurentsimon commented on #334
done.

[2021-07-02 17:10] azeemshaikh38 commented on #642
+1. I can't seem to reproduce this either. I ran:

[code]

[2021-07-02 17:12] naveensrinivasan commented on #334
Thanks

[2021-07-02 17:45] naveensrinivasan opened #646 "Bug - Random test failures"
[code]

_Originally posted by @laurentsimon in https://github.com/ossf/scorecard/issues/611#issuecomment-872455510_

[2021-07-02 17:48] rsprabery opened #647 "New check: Detect untracked/unverified installs of `npm` dependencies (`npm (-g) install ${PKG_NAME}`)"
**Is your feature request related to a problem? Please describe.**

We should track `npm install ${PKG_NAME}` and the global variant (`npm install -g ${PKG_NAME}`) done with out a corresponding `package-lock.json` to encourage verified installs relying on tracking hashes and dependencies.

**Describe the solution you'd like**

We can add a new check and score accordingly. Any time `npm install` is

[2021-07-02 18:03] laurentsimon commented on #646
@azeemsgoogle

[2021-07-02 18:08] william-stearns opened #648 "Feature: shell script to automate downloading and running scorecard for non-tech users"
**Is your feature request related to a problem? Please describe.**
I hope to make running scorecard no more complex than downloading and running a script.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additio

[2021-07-03 03:39] azeemshaikh38 commented on #648
Hmm, this could be troublesome since users will build and run Scorecard from `HEAD`. If there are any unidentified issues at `HEAD`, users will be effected. Why not simply do:

[code]

[2021-07-03 03:44] azeemshaikh38 opened #651 "Feature: managing Scorecard releases"
We need either an automated process or manual guideline for releasing new versions of Scorecard. Basically, when users run the below command, we need to be sure to a high degree of confidence that this is well tested code that users are downloading and running:

[code]

[2021-07-03 03:55] azeemshaikh38 commented on #651
Will also help with the cron job data consistency. We can make sure that cron job only runs with the latest release binary and a single cron job run will only use a single binary.

[2021-07-03 14:51] chrismcgehee commented on #511
@laurentsimon Sorry I didn't get back to you sooner, been crazy busy getting ready to move and working on selling my house.

I've made some progress on showing remediation suggestions in the results. I'll slack you and give you more details.

[2021-07-03 21:47] avelino opened #653 "scorecard on github marketplace"
**Describe the solution you'd like**
to simplify the adoption of the project it would be important to create a service on the github marketplace and with "one click" it would be possible to add scorecards to the project

**Additional context**
after reading the publication made by google I decided to put scorecard in a project that I am a maintainer ([prest](https://github.com/prest/prest)), after

[2021-07-04 12:56] randombit opened #655 "Feature - accept alternate suffixes for security policy namely `.rst`"
**Is your feature request related to a problem? Please describe.**
The script does not detect a security policy named `security.rst`.

**Describe the solution you'd like**
Currently only `security.md` is accepted as a policy. Please consider also detecting at least `security.rst` as RST is a common text format which is directly supported on GH etc.

**Describe alternatives you've considered**
I co

[2021-07-04 15:24] inferno-chromium commented on #655
Sure, feel free to propose PR to add this, it needs to be added here - https://github.com/ossf/scorecard/blob/main/checks/security_policy.go

[2021-07-04 19:47] naveensrinivasan opened #657 "Bug :- The file glob pattern"
@azeemshaikh38  The file glob pattern doesn't seem to work with the refactor. `security.rst` could be `docs` or other folders and it is not consistent across repositories.

_Originally posted by @naveensrinivasan in https://github.com/ossf/scorecard/pull/656#discussion_r663547171_

[2021-07-04 21:09] william-stearns commented on #648
Far simpler and more elegant!  I withdraw the post.

[2021-07-04 21:09] #648 closed

[2021-07-04 21:18] #655 closed

[2021-07-04 21:28] azeemshaikh38 commented on #657
It does work, we use the glob pattern for matching here: https://github.com/ossf/scorecard/blob/main/checks/checkforcontent.go#L31

You simply need to pass in [`path.Match(globPattern, filename)`](https://golang.org/pkg/path/#Match), as the `predicate` to `ListFiles` API.

[2021-07-04 21:41] azeemshaikh38 commented on #653
Thanks for the feedback :) If I understood https://github.com/prest/prest/pull/566/files correctly, you basically want to enable a workflow such that - on incoming PRs Scorecard gets triggered on your repo. Is that correct?

We have something very similar in our pipeline for current quarter (see https://github.com/ossf/scorecard/issues/193, https://github.com/ossf/scorecard/issues/271). Basically,

[2021-07-05 09:24] avelino commented on #653
is related to the issue #193

but this issue would be for scorecard to be available on the [github marketplace](https://github.com/marketplace)

[2021-07-05 09:34] nv35 opened #660 "Support private git servers (like Github Enterprise instances)"
**Is your feature request related to a problem? Please describe.**
I would like to run scorecard for a repository that is hosted on my [Github Enterprise](https://enterprise.github.com/) instance. I currently can't.

[code]

**Describe the solution you'd like**
Allow to use the others github instances just like the .com one. The API path would likely just change from https://api.github.com/ to htt

[2021-07-05 14:59] katrinleinweber opened #661 "Feature: Reorder/sort/color default output format for better legibility"
**Is your feature request related to a problem? Please describe.**

In the `default` output ([examples](https://github.com/ossf/scorecard/blame/v2.0.0/README.md#L107-L120)) it's difficult to visually find the `fail`ing items.

**Describe the solution you'd like**

Swap the column order to for example:

[code]

**Describe alternatives you've considered**

- coloring: red/green or only red for `Fail

[2021-07-05 16:23] naveensrinivasan commented on #661
@katrinleinweber  Thanks for the suggestion! In the initial fix, we aren't including the color.

[2021-07-05 18:04] katrinleinweber commented on #661
Wow, that's fast :-) Thank you!

[2021-07-06 20:13] melix opened #664 "Include dependency verification in scorecard"
[Dependency verification](https://docs.gradle.org/current/userguide/dependency_verification.html), as implemented by Gradle for example, allows verifying both checksums and signatures of dependencies _actually used in a build_. It is, IMHO, significantly more important than using an automated dependency upgrade tool, in comparison.

It would be great if this was actually considered in the score, s

[2021-07-07 15:11] azeemshaikh38 commented on #645
Closing this issue due to inactivity. Please re-open if `make build-scorecard` didn't fix your issue.

[2021-07-07 15:11] #645 closed

[2021-07-07 15:11] azeemshaikh38 commented on #642
Closing the issue. Please re-open if you were able to reproduce the problem or the problem persists.

[2021-07-07 15:16] azeemshaikh38 commented on #653
Interesting, definitely a pretty cool idea. Adding it to #511. Will likely look into this once we have tackled #193.

[2021-07-07 15:17] azeemshaikh38 commented on #511
Once we have #193 and #271, worth considering making Scorecard available on Github Marketplace - https://github.com/ossf/scorecard/issues/653

[2021-07-07 15:24] hazcod commented on #642
Hmm, it's still happening. This is on a macOS M1 system btw.

[code]

[2021-07-07 15:27] naveensrinivasan commented on #642
Interesting! Probably should include in running on `osx` as part of the tests. The actions does not support `m1` https://github.com/actions/virtual-environments/issues/2187

[2021-07-07 15:36] naveensrinivasan commented on #642
Is this happening for every repository?

[2021-07-07 15:40] hazcod commented on #642
Does not happen for `github.com/ossf/scorecard` 🤔

[2021-07-07 21:52] laurentsimon commented on #271
Is there going to be a single badge/score, or one for each check?

[2021-07-07 21:54] naveensrinivasan commented on #271
I would think of a single badge with different levels like CII https://bestpractices.coreinfrastructure.org/en/projects/569

[2021-07-07 23:57] laurentsimon commented on #271
sounds like a good idea. How about using the [SLSA levels](https://security.googleblog.com/2021/06/introducing-slsa-end-to-end-framework.html)?

[2021-07-08 00:12] naveensrinivasan commented on #271
That is even better IMO.

[2021-07-08 22:58] laurentsimon commented on #271
@mmaraya is driving remediation efforts and working on the definition of 'tiers', aka levels for oss. @mmaraya, feel free to provide some insights/feedback.